* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: rem(16);
  height: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.page__section-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}
@media (min-width: 46.5em) {
  .page__section-title {
    font-size: 3rem;
  }
}
@media (min-width: 64em) {
  .page__section-title {
    font-size: 4rem;
  }
}

.page {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: #1d1d1d;
  color: #fff;
}
.page__body {
  flex: 1 1 auto;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease 0s;
}
.page__menu:target {
  transform: translateX(0);
}
.page__section-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}
.page__section-subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
}
.header {
  background-image: url(../images/Cover_photo.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 29px 0 88px;
}
@media (min-width: 46.5em) {
  .header__content {
    padding: 34px 0 130px;
  }
}
@media (min-width: 64em) {
  .header__content {
    padding: 36px 0 203px;
  }
}
.header__title {
  font-size: 2.25rem;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -1.5px;
  align-self: center;
}
@media (min-width: 46.5em) {
  .header__title {
    font-size: 4rem;
    line-height: 64px;
  }
}
@media (min-width: 64em) {
  .header__title {
    font-size: 5rem;
    line-height: 80px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;
}
@media (min-width: 64em) {
  .container {
    padding: 0 120px;
  }
}

.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-actions__image {
  height: 38px;
}
@media (min-width: 64em) {
  .top-actions__image {
    height: 56px;
  }
}
.top-actions__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (min-width: 64em) {
  .top-actions__list {
    gap: 40px;
  }
}
@media (min-width: 64em) {
  .top-actions__phone:before {
    content: "+1 234 555-55-55";
    display: block;
    position: relative;
    top: 50%;
    transform: translate(-100%, -50%);
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 12px;
    opacity: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
  .top-actions__phone:hover::before {
    opacity: 1;
    pointer-events: all;
  }
}

.icon {
  height: 18px;
  width: 18px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 64em) {
  .icon {
    height: 24px;
    width: 24px;
  }
}
.icon--menu {
  background-image: url(../images/icons/menu.svg);
  transition: all 0.5s ease 0s;
}
.icon--menu:hover {
  background-image: url(../images/icons/menu-hover.svg);
}
.icon--phone {
  background-image: url(../images/icons/phone.svg);
}
.icon--cross {
  background-image: url(../images/icons/menu-close.svg);
}

.menu {
  background-color: #7e7e83;
  color: #1d1d1d;
  font-weight: 600;
}
@media (min-width: 64em) {
  .menu {
    font-weight: 700;
  }
}
.menu__content {
  padding: 29px 0;
  height: 100vh;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 44px;
}
@media (min-width: 64em) {
  .menu__list {
    padding-top: 48px;
  }
}
.menu__link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
}
.menu__link:hover {
  border-color: #1d1d1d;
}
.menu__call {
  display: flex;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  text-transform: uppercase;
}
.menu__call--phone {
  padding-top: 40px;
  font-size: 1rem;
  line-height: 27px;
}
.menu__call--actions {
  font-size: 0.75rem;
  padding-top: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  padding-bottom: 8px;
  border-bottom: 1px solid #1d1d1d;
}

.footer {
  background-image: url(../images/photos/Footer-cover.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 480px;
}
@media (min-width: 64em) {
  .footer {
    height: 555px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 64em) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.grid--desktop {
  display: block;
}
@media (min-width: 46.5em) {
  .grid--desktop {
    display: grid;
    -moz-column-gap: 24px;
         column-gap: 24px;
    justify-content: center;
  }
}
.grid__item--1-1 {
  grid-column: 1/2;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-1 {
    grid-column: 1/2;
  }
}
.grid__item--1-2 {
  grid-column: 1/3;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-2 {
    grid-column: 1/3;
  }
}
.grid__item--1-3 {
  grid-column: 1/4;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-3 {
    grid-column: 1/4;
  }
}
.grid__item--1-4 {
  grid-column: 1/5;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-4 {
    grid-column: 1/5;
  }
}
.grid__item--1-5 {
  grid-column: 1/6;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-5 {
    grid-column: 1/6;
  }
}
.grid__item--1-6 {
  grid-column: 1/7;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-6 {
    grid-column: 1/7;
  }
}
.grid__item--1-7 {
  grid-column: 1/8;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-7 {
    grid-column: 1/8;
  }
}
.grid__item--1-8 {
  grid-column: 1/9;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-8 {
    grid-column: 1/9;
  }
}
.grid__item--1-9 {
  grid-column: 1/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-9 {
    grid-column: 1/10;
  }
}
.grid__item--1-10 {
  grid-column: 1/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-10 {
    grid-column: 1/11;
  }
}
.grid__item--1-11 {
  grid-column: 1/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-11 {
    grid-column: 1/12;
  }
}
.grid__item--1-12 {
  grid-column: 1/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-1-12 {
    grid-column: 1/13;
  }
}
.grid__item--2-2 {
  grid-column: 2/3;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-2 {
    grid-column: 2/3;
  }
}
.grid__item--2-3 {
  grid-column: 2/4;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-3 {
    grid-column: 2/4;
  }
}
.grid__item--2-4 {
  grid-column: 2/5;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-4 {
    grid-column: 2/5;
  }
}
.grid__item--2-5 {
  grid-column: 2/6;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-5 {
    grid-column: 2/6;
  }
}
.grid__item--2-6 {
  grid-column: 2/7;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-6 {
    grid-column: 2/7;
  }
}
.grid__item--2-7 {
  grid-column: 2/8;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-7 {
    grid-column: 2/8;
  }
}
.grid__item--2-8 {
  grid-column: 2/9;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-8 {
    grid-column: 2/9;
  }
}
.grid__item--2-9 {
  grid-column: 2/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-9 {
    grid-column: 2/10;
  }
}
.grid__item--2-10 {
  grid-column: 2/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-10 {
    grid-column: 2/11;
  }
}
.grid__item--2-11 {
  grid-column: 2/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-11 {
    grid-column: 2/12;
  }
}
.grid__item--2-12 {
  grid-column: 2/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-2-12 {
    grid-column: 2/13;
  }
}
.grid__item--3-3 {
  grid-column: 3/4;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-3 {
    grid-column: 3/4;
  }
}
.grid__item--3-4 {
  grid-column: 3/5;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-4 {
    grid-column: 3/5;
  }
}
.grid__item--3-5 {
  grid-column: 3/6;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-5 {
    grid-column: 3/6;
  }
}
.grid__item--3-6 {
  grid-column: 3/7;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-6 {
    grid-column: 3/7;
  }
}
.grid__item--3-7 {
  grid-column: 3/8;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-7 {
    grid-column: 3/8;
  }
}
.grid__item--3-8 {
  grid-column: 3/9;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-8 {
    grid-column: 3/9;
  }
}
.grid__item--3-9 {
  grid-column: 3/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-9 {
    grid-column: 3/10;
  }
}
.grid__item--3-10 {
  grid-column: 3/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-10 {
    grid-column: 3/11;
  }
}
.grid__item--3-11 {
  grid-column: 3/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-11 {
    grid-column: 3/12;
  }
}
.grid__item--3-12 {
  grid-column: 3/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-3-12 {
    grid-column: 3/13;
  }
}
.grid__item--4-4 {
  grid-column: 4/5;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-4 {
    grid-column: 4/5;
  }
}
.grid__item--4-5 {
  grid-column: 4/6;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-5 {
    grid-column: 4/6;
  }
}
.grid__item--4-6 {
  grid-column: 4/7;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-6 {
    grid-column: 4/7;
  }
}
.grid__item--4-7 {
  grid-column: 4/8;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-7 {
    grid-column: 4/8;
  }
}
.grid__item--4-8 {
  grid-column: 4/9;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-8 {
    grid-column: 4/9;
  }
}
.grid__item--4-9 {
  grid-column: 4/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-9 {
    grid-column: 4/10;
  }
}
.grid__item--4-10 {
  grid-column: 4/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-10 {
    grid-column: 4/11;
  }
}
.grid__item--4-11 {
  grid-column: 4/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-11 {
    grid-column: 4/12;
  }
}
.grid__item--4-12 {
  grid-column: 4/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-4-12 {
    grid-column: 4/13;
  }
}
.grid__item--5-5 {
  grid-column: 5/6;
}
@media (min-width: 64em) {
  .grid__item--desktop-5-5 {
    grid-column: 5/6;
  }
}
.grid__item--5-6 {
  grid-column: 5/7;
}
@media (min-width: 64em) {
  .grid__item--desktop-5-6 {
    grid-column: 5/7;
  }
}
.grid__item--5-7 {
  grid-column: 5/8;
}
@media (min-width: 64em) {
  .grid__item--desktop-5-7 {
    grid-column: 5/8;
  }
}
.grid__item--5-8 {
  grid-column: 5/9;
}
@media (min-width: 64em) {
  .grid__item--desktop-5-8 {
    grid-column: 5/9;
  }
}
.grid__item--5-9 {
  grid-column: 5/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-5-9 {
    grid-column: 5/10;
  }
}
.grid__item--5-10 {
  grid-column: 5/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-5-10 {
    grid-column: 5/11;
  }
}
.grid__item--5-11 {
  grid-column: 5/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-5-11 {
    grid-column: 5/12;
  }
}
.grid__item--5-12 {
  grid-column: 5/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-5-12 {
    grid-column: 5/13;
  }
}
.grid__item--6-6 {
  grid-column: 6/7;
}
@media (min-width: 64em) {
  .grid__item--desktop-6-6 {
    grid-column: 6/7;
  }
}
.grid__item--6-7 {
  grid-column: 6/8;
}
@media (min-width: 64em) {
  .grid__item--desktop-6-7 {
    grid-column: 6/8;
  }
}
.grid__item--6-8 {
  grid-column: 6/9;
}
@media (min-width: 64em) {
  .grid__item--desktop-6-8 {
    grid-column: 6/9;
  }
}
.grid__item--6-9 {
  grid-column: 6/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-6-9 {
    grid-column: 6/10;
  }
}
.grid__item--6-10 {
  grid-column: 6/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-6-10 {
    grid-column: 6/11;
  }
}
.grid__item--6-11 {
  grid-column: 6/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-6-11 {
    grid-column: 6/12;
  }
}
.grid__item--6-12 {
  grid-column: 6/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-6-12 {
    grid-column: 6/13;
  }
}
.grid__item--7-7 {
  grid-column: 7/8;
}
@media (min-width: 64em) {
  .grid__item--desktop-7-7 {
    grid-column: 7/8;
  }
}
.grid__item--7-8 {
  grid-column: 7/9;
}
@media (min-width: 64em) {
  .grid__item--desktop-7-8 {
    grid-column: 7/9;
  }
}
.grid__item--7-9 {
  grid-column: 7/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-7-9 {
    grid-column: 7/10;
  }
}
.grid__item--7-10 {
  grid-column: 7/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-7-10 {
    grid-column: 7/11;
  }
}
.grid__item--7-11 {
  grid-column: 7/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-7-11 {
    grid-column: 7/12;
  }
}
.grid__item--7-12 {
  grid-column: 7/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-7-12 {
    grid-column: 7/13;
  }
}
.grid__item--8-8 {
  grid-column: 8/9;
}
@media (min-width: 64em) {
  .grid__item--desktop-8-8 {
    grid-column: 8/9;
  }
}
.grid__item--8-9 {
  grid-column: 8/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-8-9 {
    grid-column: 8/10;
  }
}
.grid__item--8-10 {
  grid-column: 8/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-8-10 {
    grid-column: 8/11;
  }
}
.grid__item--8-11 {
  grid-column: 8/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-8-11 {
    grid-column: 8/12;
  }
}
.grid__item--8-12 {
  grid-column: 8/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-8-12 {
    grid-column: 8/13;
  }
}
.grid__item--9-9 {
  grid-column: 9/10;
}
@media (min-width: 64em) {
  .grid__item--desktop-9-9 {
    grid-column: 9/10;
  }
}
.grid__item--9-10 {
  grid-column: 9/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-9-10 {
    grid-column: 9/11;
  }
}
.grid__item--9-11 {
  grid-column: 9/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-9-11 {
    grid-column: 9/12;
  }
}
.grid__item--9-12 {
  grid-column: 9/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-9-12 {
    grid-column: 9/13;
  }
}
.grid__item--10-10 {
  grid-column: 10/11;
}
@media (min-width: 64em) {
  .grid__item--desktop-10-10 {
    grid-column: 10/11;
  }
}
.grid__item--10-11 {
  grid-column: 10/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-10-11 {
    grid-column: 10/12;
  }
}
.grid__item--10-12 {
  grid-column: 10/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-10-12 {
    grid-column: 10/13;
  }
}
.grid__item--11-11 {
  grid-column: 11/12;
}
@media (min-width: 64em) {
  .grid__item--desktop-11-11 {
    grid-column: 11/12;
  }
}
.grid__item--11-12 {
  grid-column: 11/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-11-12 {
    grid-column: 11/13;
  }
}
.grid__item--12-12 {
  grid-column: 12/13;
}
@media (min-width: 64em) {
  .grid__item--desktop-12-12 {
    grid-column: 12/13;
  }
}

.about {
  margin-top: 60px;
}
.about__text {
  margin-top: 32px;
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 140%;
}
@media (min-width: 46.5em) {
  .about__text {
    margin-top: 0;
  }
}
@media (min-width: 64em) {
  .about {
    margin-top: 120px;
  }
}

.bikes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  margin-top: 92px;
}
@media (min-width: 64em) {
  .bikes {
    margin-top: 164px;
  }
}
.bikes__card {
  display: flex;
  flex-direction: column;
}
.bikes__subtitle {
  margin-top: 32px;
}
.bikes__text {
  margin-top: 8px;
}
.bikes__price {
  margin-top: 16px;
}

.details {
  margin-top: 92px;
}
@media (min-width: 46.5em) {
  .details {
    margin-top: 120px;
  }
}
@media (min-width: 64em) {
  .details {
    margin-top: 144px;
  }
}

.detail {
  margin-top: 48px;
}
.detail__photo-container {
  position: relative;
  width: 100%;
  max-height: 321px;
}
.detail__photo-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media (min-width: 64em) {
  .detail__photo-container {
    height: 321px;
    padding-bottom: 0;
  }
}
.detail__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.detail__subtitle {
  margin-top: 16px;
}
.detail__text {
  margin-top: 8px;
}
