.about {
  &__content {
  
    @include onDektop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }

  &__title {
    padding: 0 0 48px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    align-items: center;
    letter-spacing: -1.5px;
    color: #000;

    @include onDektop {
      grid-column: 1 / 5;
      margin-bottom: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__description {
    @include onDektop {
      grid-column: 7 / 13;
    }
  }

  &__title-link {
    color: $colorBlue;
    text-decoration: none;
  }

  &__subtitle {
    display: block;
    text-decoration: none;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $colorBlue;
  }

  &__paragraph {
    margin: 0 0 27px;
    
    &:last-child {
      margin-bottom: 0;
    }

    &--bold {
      font-weight: bold;
    }
  }
}
