.advantage {
  &__container {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &__title {
    text-align: start;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
  }
}
