.category {
  &__block {
    margin-bottom: 40px;
  }

  &__photos {
    margin-bottom: 16px;
    height: 130px;

    @include onTablet {
      height: 187px;
    }
    
    @include onDesktop {
      height: 320px;
    }
  }

  &__photo {
    @include hover(box-shadow, (#00000059 0 5px 15px));
  }

  &__title {
    font-size: 16px;
    line-height: 140%;
  }

  &__button {
    margin: 0 auto;
    padding: 0 48px;
    max-width: 392px;
    @include onDesktop {
      max-width: 324px;
    }
  }
}

.headphones-1 {
  background-image: url(../images/products-posters/Headphones-1.jpg);
  @include imageCenter;
}

.headphones-2 {
  background-image: url(../images/products-posters/Headphones-2.jpg);
  @include imageCenter;
}

.speakers-1 {
  background-image: url(../images/products-posters/Speakers-1.jpg);
  @include imageCenter;
}

.speakers-2 {
  background-image: url(../images/products-posters/Speakers-2.jpg);
  @include imageCenter;
}

.audio-sunglasses-1 {
  background-image: url(../images/products-posters/Audio-sunglasses-1.jpg);
  @include imageCenter;
}

.audio-sunglasses-2 {
  background-image: url(../images/products-posters/Audio-sunglasses-2.jpg);
  @include imageCenter;
}
