.explore__title {
  display: flex;
  justify-content: center;
  align-items: center;

  &--text {
    white-space: pre-line;
    color: #161616;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;
  }
}

.explore__gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 20px 120px;
  column-gap: 24px;

  &--info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 32px 120px;
    column-gap: 24px;
  }

  &--theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Cinzel", serif;
    color: #d12d35;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: -15px;
  }

  &--description {
    color: #161616;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    white-space: pre-line;
  }
}
