/* ==================================
*             MOBILE
===================================*/
@include for-mobile () {

  .header {
    &__nav-icons {
      .hamburger {
        margin-left: 2.4em;
      }
    }
  }

  .hero {
    background-image: url("/images/photos/header-bg@sm.png");
    height: 568px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }
}

/* ==================================
*             TABLET
===================================*/

/* ==================================
*             DESKTOP
===================================*/
