.header {
  height: 100vh;
  background-image: url(../images/header/Header-photo-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@include onTablet {
  .header {
    background-image: url(../images/header/Header-photo-tablet.jpg);
  }
}

@include onDesktop {
  .header {
    background-image: url(../images/header/Header-photo-desktop.jpg);
  }
}
