.header {
  background-image: url(../images/photos/mobile/image-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  &__heading {
    margin: 0 auto;
    padding: 129px 0 288px;

    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;

    &--block {
      display: block;
    }
  }
}
