.hero {
  height: 100vh;
  padding: 50px 0;
  background: {
    image: url("./../images/header.png");
    repeat: no-repeat;
    size: cover;
    position: center bottom;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container--header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include for-tablet {
    flex-direction: row;
    align-items: flex-end;
  }
}
