@media (min-width: map-get($grid-breakpoints, xs))
  and (max-width: map-get($grid-breakpoints, sm)) {

  // Header Mobile Media XS
  .grid-layout {
    @include layout (100px, 2, 10px);
  }
  .header {
    &__logo {
      @include layoutItems (1, 2);
      padding-left: 15px;
    }

    &__image {
      height: 16px;
    }

    &__tel {
      @include layoutItems (3, 3, $_justify-self: end);
      padding-right: 10px;
    }

    &__tel-icon {
      width: 20px;
      height: 20px;
    }

    &__burger {
      @include layoutItems (4, 4, $_justify-self: end);
      padding-right: 10px;
    }

    &__burger-icon {
      width: 20px;
      height: 20px;
    }

    &__title {
      @include layoutItems (1, 4, 2, 2, $_align-self: end);
    }
  }

  // Block Menu Tablet and Laptop Media XS
  .menu__container {
    max-width: 290px;
  }

  .menu__image {
    height: 16px;
  }

  // Recommended Mobile Media XS
  .recommended {
    max-width: 290px;
    padding-top: 64px;

    &__title {
      font-size: 32px;
    }

    &__container {
      flex-direction: column;
    }
  }

  .recommended-item {
    &__describe {
      max-width: 100%;
    }

    &__image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .recommended-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 56px;
  }

  // Popular Section Tablet and Laptop Media XS
  .popular {
    max-width: 290px;
    padding-top: 64px;
    &__button {
      @include button ($_width: 100%, $_radius: 8px);
    }
  }

  .popular-item {
    &__image {
      max-width: calc(50% - 10px);
      height: 135px;
    }

    &__image:nth-child(1) {
      margin-right: 20px;
    }
  }

  // Popular Section Tablet and Laptop Media XS
  .design {
    &__wrapper--background {
      @include image (url("../images/tablet-design-bg.png"), 50vh, $_position: center);
    }
  }

  .design-item {
    flex-direction: column;
    align-items: flex-start;
    max-width: 290px;
    padding-top: 64px;
    padding-bottom: 60px;

    &__describe {
      max-width: 280px;
      margin-top: 60px;
    }

    &__title {
      max-width: 280px;
    }
  }

  // Footer Section Tablet and Laptop Media LG
  .contact__container {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 290px;
    padding-top: 64px;
  }

  .contact-form {
    margin-right: 0;
    width: 100%;

    &__action {
      margin-bottom: 48px;
    }
  }

  .contact-data {
    &__address {
      margin-bottom: 48px;
    }
  }
}
