@media (min-width: map-get($grid-breakpoints, lg))
  and (max-width: map-get($grid-breakpoints, xl)) {
  .grid-layout {
    @include layout (80px, 6, 24px);
  }

  // Header Section Tablet and Laptop Media LG
  .header {
    &__logo {
      @include layoutItems (1, 2);
    }

    &__tel {
      @include layoutItems (8, 9, $_justify-self: center);
    }

    &__burger {
      @include layoutItems (10, 10, $_justify-self: center);
    }

    &__title {
      @include layoutItems (1, 8, 2, 2, $_align-self: end);
    }
  }

  // Recommended Section Tablet and Laptop Media LG
  .recommended {
    max-width: 760px;
    padding: 120px 0 70px;

    &__title {
      padding-bottom: 80px;
    }
  }

  .recommended-item {
    &__image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .recommended-item:not(:last-child) {
    margin-right: 100px;
  }

  // Popular Section Tablet and Laptop Media LG
  .popular {
    max-width: 760px;
  }

  .popular-item {
    &__image {
      max-width: calc(50% - 12px);
      max-height: 80%;
    }
  }
}
