@use "grid" as *;
@use "../utils/vars" as *;

@media (min-width: map-get($grid-breakpoints, xl)) {
  .grid-layout {
    @include layout (64px, 12, 24px);
    min-height: 100vh;
  }
}

@media (min-width: map-get($grid-breakpoints, lg))
  and (max-width: map-get($grid-breakpoints, xl)) {
  .grid-layout {
    @include layout (80px, 6, 24px);
    min-height: 100vh;
  }
  .header {
    &__logo {
      @include layoutItems (1, 2);
    }

    &__tel {
      @include layoutItems (8, 9, $_justify-self: center);
    }

    &__burger {
      @include layoutItems (10, 10, $_justify-self: center);
    }

    &__title {
      @include layoutItems (1, 8, 2, 2, $_align-self: end);
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md))
  and (max-width: map-get($grid-breakpoints, lg)) {
  .grid-layout {
    @include layout (80px, 6, 24px);
    min-height: 100vh;
  }
  .header {
    &__logo {
      @include layoutItems (1, 2);
    }

    &__tel {
      @include layoutItems (5, 5, $_justify-self: end);
    }

    &__burger {
      @include layoutItems (6, 6, $_justify-self: start);
    }

    &__title {
      @include layoutItems (1, 8, 2, 2, $_align-self: end);
    }
  }
}

@media (min-width: map-get($grid-breakpoints, sm))
  and (max-width: map-get($grid-breakpoints, md)) {
  .grid-layout {
    @include layout (100px, 4, 40px);
    min-height: 100vh;
  }

  .header {
    &__logo {
      @include layoutItems (1, 2);
    }

    &__tel {
      @include layoutItems (3, 3, $_justify-self: end);
    }

    &__burger {
      @include layoutItems (4, 4, $_justify-self: start);
    }

    &__title {
      @include layoutItems (1, 4, 2, 2, $_align-self: end);
    }
  }
}

@media (min-width: map-get($grid-breakpoints, xs))
  and (max-width: map-get($grid-breakpoints, sm)) {
  .grid-layout {
    @include layout (100px, 2, 10px);
    min-height: 100vh;
  }

  .header {
    &__logo {
      padding-left: 15px;
      @include layoutItems (1, 2);
      img {
        height: 16px;
      }
    }

    &__tel {
      padding-right: 10px;
      @include layoutItems (3, 3, $_justify-self: end);
    }

    &__tel-icon {
      width: 20px;
      height: 20px;
    }

    &__burger {
      padding-right: 10px;
      @include layoutItems (4, 4, $_justify-self: end);
      a {
        width: 16px;
        height: 16px;
      }
    }

    &__burger-icon {
      width: 20px;
      height: 20px;
    }

    &__title {
      @include layoutItems (1, 4, 2, 2, $_align-self: end);
      font-size: 36px;
      padding-left: 10px;
    }
  }
}
