@media (min-width: map-get($grid-breakpoints, sm))
  and (max-width: map-get($grid-breakpoints, md)) {
  .grid-layout {
    @include layout (100px, 4, 40px);
  }

  // Header Mobile and Tablet Media SM
  .header {
    &__logo {
      @include layoutItems (1, 2);
    }

    &__tel {
      @include layoutItems (3, 3, $_justify-self: end);
    }

    &__burger {
      @include layoutItems (4, 4, $_justify-self: start);
    }

    &__title {
      @include layoutItems (1, 4, 2, 2, $_align-self: end);
    }
  }

  // Recommended Mobile and Tablet Media SM
  .recommended {
    max-width: 520px;

    &__container {
      flex-direction: column;
    }
  }

  .recommended-item {
    &__describe {
      max-width: 100%;
    }

    &__image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .recommended-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 56px;
  }

  // Popular Section Tablet and Laptop Media SM
  .popular {
    max-width: 520px;
    &__button {
      @include button ($_width: 100%, $_radius: 8px);
    }
  }

  .popular-item {
    &__image {
      max-width: calc(50% - 12px);
      max-height: 80%;
    }
  }

  // Popular Section Tablet and Laptop Media SM
  .design-item {
    flex-direction: column;
    align-items: flex-start;
    max-width: 520px;
    padding-top: 60px;
    padding-bottom: 60px;

    &__describe {
      max-width: 400px;
      margin-top: 60px;
    }

    &__title {
      max-width: 600px;
    }
  }
}
