@media (min-width: map-get($grid-breakpoints, sm))
  and (max-width: map-get($grid-breakpoints, md)) {
  .grid-layout {
    @include layout (100px, 4, 40px);
  }

  // Header Mobile and Tablet Media SM
  .header {
    &__logo {
      @include layoutItems (1, 2);
    }

    &__tel {
      @include layoutItems (3, 3, $_justify-self: end);
    }

    &__burger {
      @include layoutItems (4, 4, $_justify-self: start);
    }

    &__title {
      @include layoutItems (1, 4, 2, 2, $_align-self: end);
    }
  }

   // Recommended Mobile and Tablet Media SM
  .recommended {
    max-width: 520px;

    &__container {
      flex-direction: column;
    }
  }

  .recommended-item {
    &__describe {
      max-width: 100%;
    }

    &__image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .recommended-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 56px;
  }
}
