.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;

  &:target {
    transform: translateX(0);
  }
}

.menu {
  background-color: $menu-background;
  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 40px;

    @include onTablet {
      padding-top: 52px;
    }
  }

  &__top {
    margin-bottom: 55px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__list {
    margin-bottom: 32px;
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;

    border-bottom: 1px solid transparent;

    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include hover(border-color, $main-text-color);
  }

  &__call {
    display: block;
    width: max-content;

    font-weight: 700;
    text-transform: uppercase;

    &--phone {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 27px;
    }

    &--action {
      padding-bottom: 8px;

      border-bottom: 1px solid $main-text-color;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
    }
  }
}
