* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 20px;

  @include for-desktop {
    width: 940px;
    margin: 0 auto;
  }
}

.blue-text {
  color: $color-hover;
}

.bold-text {
  font-weight: 500;
}

.margin-bottom {
  margin-bottom: 50px;
}

.span-block::before {
  content: "";
  display: block;
}
