.section {
  clear: both;
  padding: 140px 0 100px;
  position: relative;

  &:nth-of-type(odd) {
    padding: 110px 0 100px;
    background-color: #eee;
  }

  &__title {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    font-size: 48px;
    line-height: 36px;
    color: #000;
    text-transform: uppercase;

    &::after,
    &::before {
      position: absolute;
      left: 0;
      bottom: -12px;
      content: "";
      height: 2px;
      width: calc(50% - 20px);
      background-color: $color-hover;
    }

    &::after {
      left: unset;
      right: 0;
    }
  }

  &__crown {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__text {
    font: {
      family: "Ubuntu", sans-serif;
      weight: 400;
      size: 16px;
    }
    line-height: 24px;
    color: #000;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 36px;
  }

  &__subtitle-2 {
    font-size: 24px;
    line-height: 36px;
  }

  &__left {
    @include for-tablet {
      max-width: 50%;
      flex-grow: 1;
    }
  }

  &__right {
    @include for-tablet {
      flex-grow: 2;
      max-width: 40%;
    }
  }
}
