.container {
  /* stylelint-disable */
  height: 100dvh;
  /* stylelint-enable */

  min-height: 200px + ($tile-height * 6) + ($grid-gap * 5);
  padding: 100px 0;

  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-columns: repeat($grid-columns-mobile, $tile-width);
  grid-gap: $grid-gap;

  @media (min-width: 744px) {
    min-height: 200px + ($tile-height * 3) + ($grid-gap * 2);

    grid-template-columns: repeat($grid-columns-tablet, $tile-width);
  }

  @media (min-width: 1260px) {
    min-height: 200px + ($tile-height * 2) + $grid-gap;

    grid-template-columns: repeat($grid-columns-desktop, $tile-width);
  }
}
