@import "../abstracts/colors";
@import "../abstracts/variables";
@import "../abstracts/media-queries";

.contact {
  margin-bottom: $contact-margin-bottom;
  display: grid;
}

.contact__layout {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: $contact__layout-margin;
  column-gap: $column-gap-big;
}

.contact__title {
  display: flex;
  justify-content: center;

  &--text {
    color: $dark-main;
    text-align: center;
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
    line-height: $line-height-big;
    letter-spacing: $letter-spacing-negative;
    margin: $contact__title--text-margin;
  }
}

.contact__address--first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: $font-size-small-plus;
  font-weight: $font-weight-regular;
  line-height: $line-height-regular;
  color: $dark-main;

  & a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: $dark-main;
  }
}

.contact__address--second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: $font-size-small-plus;
  font-weight: $font-weight-regular;
  line-height: $line-height-regular;
  color: $dark-main;

  & a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: $dark-main;
  }
}

.contact__bold {
  font-size: $font-size-mid;
  font-weight: $font-weight-bold;
  white-space: pre-line;
  text-decoration: none;

  &--top {
    margin-bottom: $contact__bold--top-margin-bottom;
  }

  &--bottom {
    margin-top: $contact__bold--bottom-margin-top;
  }
}

.contact__form {
  width: 411px;
}

.contact__input,
.contact__textarea {
  background-color: $subtle-grey;
  width: 100%;
  padding: $contact__input__textarea-padding;
  margin-bottom: $contact__input__textarea-margin-bottom;
  border: 1px solid transparent;
  transition: border-color 0.1s ease;
  font-size: $font-size-small-plus;
  font-weight: $font-weight-regular;
  font-family: "Cinzel", serif;
}

.contact__textarea {
  height: $contact__textarea-height;
  resize: none;
}

.contact__input:hover,
.contact__textarea:hover {
  border-color: $grey;
}

.contact__button {
  display: inline-block;
  width: 100%;
  height: $contact__button-height;
  background-color: $accent-main;
  color: $white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: $font-size-mid;
  font-weight: $font-weight-bold;
  line-height: $line-height-regular;
  padding: $contact__button-padding;
  border: none;
}

.contact__button:hover {
  background-color: $hover-color;
}

.contact__button:active {
  background-color: $active-color;
}
