@import "../abstracts/variables";
@import "../abstracts/colors";
@import "../abstracts/media-queries";

.exhibition {
  display: grid;
  column-gap: $column-gap;
}

.exhibition__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $exhibition__details-margin-top;

  &--title {
    color: $dark-main;
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
    line-height: $exhibition__details--title-line-height;
    letter-spacing: $letter-spacing-negative;
  }

  &--text {
    white-space: pre-line;
    text-align: center;
    font-size: $font-size-mid;
    font-weight: $font-weight-regular;
    line-height: $line-height-regular;
    margin: $exhibition__details--text-margin;
  }
}

.exhibition__gallery--top {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: $column-gap;
  justify-content: space-between;
  transition: 0.5s scale ease;

  &-image-1:hover {
    scale: (1.07);
  }

  &-image-2:hover {
    scale: (1.07);
  }
}

.exhibition__gallery--middle {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  transition: 0.5s scale ease;

  &-image-1:hover {
    scale: (1.07);
  }

  &-image-2:hover {
    scale: (1.07);
  }

  &-image-3:hover {
    scale: (1.07);
  }
}

.exhibition__gallery--bottom {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  transition: 0.5s scale ease;

  &-image-1:hover {
    scale: (1.07);
  }

  &-image-2:hover {
    scale: (1.07);
  }
}

.exhibition__timeline {
  display: flex;
  flex-direction: column;
  margin: $exhibition__timeline-margin;

  &--info {
    color: $accent-main;
    font-size: $font-size-mid;
    font-weight: $font-weight-bold;
    line-height: $line-height-regular;
  }

  &--date {
    color: $dark-main;
    font-size: $font-size-mid;
    font-weight: $font-weight-regular;
    line-height: $line-height-regular;
  }
}

.exhibition__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $exhibition__button-width;
  height: $exhibition__button-height;
  background-color: $accent-main;
  color: $white;
  font-size: $font-size-mid;
  font-weight: $font-weight-bold;
  line-height: $line-height-regular;
  margin: $exhibition__button-margin;
  cursor: pointer;
  text-decoration: none;
}

.exhibition__button:hover {
  background-color: $hover-color;
}

.exhibition__button:active {
  background-color: $active-color;
}
