@import "../abstracts/colors";
@import "../abstracts/variables";
@import "../abstracts/media-queries";

.footer__image {
  background-image: url("../images/photos/exhibition-manequins.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: $footer__image-min-height;
}
