@import "../abstracts/variables";
@import "../abstracts/colors";
@import "../abstracts/media-queries";

.header {
  background-image: url("../images/photos/main-image.jpg");
  background-size: cover;
  background-position: center;
  min-height: $header-min-height;
  padding: $header-padding;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
  }

  &__logo {
    margin-right: auto;
  }

  &__icon-1 {
    margin-right: 30px;
  }

  &__text {
    position: absolute;
    width: $header__text-width;
    font-size: $font-size-mid;
    font-weight: $font-weight-bold;
    line-height: $line-height-regular;
    color: $white;
    text-shadow: $header__text-shadow;
    right: 100%;
    white-space: pre-line;
    visibility: hidden;
    bottom: $header__text-bottom;

    & a {
      text-decoration: none;
      color: $white;
    }
  }

  &__icon {
    &--phone {
      position: relative;

      &:hover .header__text {
        visibility: visible;
      }
    }
  }

}

.header__icon--burger img {
  visibility: hidden;
}

.header__icon--burger::before {
  content: url("../images/icon-burger-menu.svg");
  visibility: visible;
}

.header__icon--burger:hover::before {
  content: url("../images/icon-burger-menu-hover.svg");
}


.hero__text {
  color: $white;
  font-size: $hero__text-font;
  font-weight: $font-weight-bold;
  line-height: $hero__text-line-height;
  white-space: pre-line;
  letter-spacing: $letter-spacing-negative;
  text-align: center;
}
