.main {
  padding: 100px 0;
  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-columns: repeat($grid-columns-mobile, $page-width);
  grid-gap: $grid-gap;

  @media (min-width: 744px) {
    height: 100vh;
    padding: 0;

    grid-template-columns: repeat($grid-columns-tablet, $page-width);
  }

  @media (min-width: 1260px) {
    grid-template-columns: repeat($grid-columns-desktop, $page-width);
  }
}
