.menu {
  width: 100%;

  /* stylelint-disable */
  height: 100dvh;
  /* stylelint-enable */

  position: fixed;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  grid-auto-rows: min-content;
  grid-column-gap: 20px;

  background-color: $c-gray;

  font-family: Manrope, Helvetica, sans-serif;
  overflow: hidden;

  transition: transform 0.3s, opacity 0.3s;
  transform: translateY(-100%);

  z-index: 1;

  &:target {
    overflow: auto;

    transform: translateY(0);
  }

  &__header {
    height: 24px;
    margin: 24px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column: 1 / 3;

    &-item {
      display: flex;
    }

    &-logo {
      height: 16px;
    }

    &-close {
      width: 24px;
      height: 24px;

      background-image: url(./../images/menu_close.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include hover(transform, scale(1.1));
    }
  }

  &__list {
    margin-top: 32px;

    grid-column: 1 / 3;

    &-item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &-link {
      cursor: pointer;
      color: $c-dark;
      font-size: 1.38rem;
      font-weight: 700;
      text-decoration: none;

      @include hover(color, $c-orange);
    }
  }

  &__contact {
    margin: 48px 0;

    display: flex;
    flex-direction: column;

    grid-column: 1 / 3;

    &-item {
      color: $c-dark;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: 16px;

        @include hover(color, $c-orange);
      }

      &:last-child {
        padding-bottom: 4px;
        border-bottom: 1px solid $c-dark;
        width: fit-content;
      }
    }
  }

  @media (min-width: 744px) {
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 24px;

    &__header {
      height: 32px;
      margin: 32px 0;

      grid-column: 1 / 7;

      &-logo {
        height: 24px;
      }

      &-close {
        width: 32px;
        height: 32px;
      }
    }

    &__list {
      margin-top: 56px;

      grid-column: 1 / 4;
    }

    &__contact {
      grid-column: 1 / 4;
    }
  }

  @media (min-width: 1260px) {
    grid-template-columns: repeat(12, 63px);

    &__header {
      grid-column: 1 / 13;
    }

    &__list {
      grid-column: 1 / 5;
    }

    &__contact {
      grid-column: 1 / 5;
    }
  }
}
