@import "../abstracts/variables";
@import "../abstracts/colors";
@import "../abstracts/media-queries";

.modal {
  display: none;
  position: fixed;
  width: $modal-width;
  height: $modal-height;
  background-color: $accent-main;
  z-index: 1;

  &__content {
    position: absolute;
  }

  &__list {
    list-style: none;
  }

  &__link {
    margin: $modal__link-margin;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300%;
    margin: $modal__logo-margin;
  }

  &__anchor {
    position: relative;
    text-decoration: none;
    color: $white;
    font-size: $modal__anchor-font;
    font-weight: $font-weight-bold;
    line-height: $modal__anchor-line-height;
    letter-spacing: $letter-spacing-positive;
  }

  &__text {
    display: block;
    color: $white;
    white-space: pre-line;
    font-size: $modal__text;
    font-weight: $font-weight-bold;
    line-height: $line-height-regular;
    margin: $modal__text-margin;
  }

  &__order {
    display: inline-block;
    position: relative;
    color: $white;
    margin: $modal__order-margin;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: $modal__order-line-height;
    letter-spacing: $letter-spacing-positive;
    cursor: pointer;
  }

  &__link .modal__anchor:hover::before,
  &__order:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    height: $hover-line-thickness;
    background-color: $white;
    bottom: $bottom-positioning;
  }

  &__content > .modal__close {
    position: absolute;
  }
}
