@import "../abstracts/colors";
@import "../abstracts/variables";
@import "../abstracts/media-queries";

.museum {
  display: grid;
  margin-top: $museum-margin-top;
  place-items: center;
}

.museum__menu {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1.6fr);
  column-gap: $museum__menu-column-gap;

  &--left {
    display: flex;
    flex-direction: column;
  }

  &--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: pre-line;
  }

  &--red-text {
    color: $accent-main;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: 140%;
  }

  &--big-text {
    color: $dark-main;
    font-size: $museum__menu--big-text-font;
    font-weight: $font-weight-bold;
    line-height: $museum__menu--big-text-line-height;
    letter-spacing: $letter-spacing-negative;
  }

  &--title {
    color: $dark-main;
    font-size: $museum__menu--title-font;
    font-weight: $font-weight-bold;
    line-height: $museum__menu--title-line-height;
  }

  &--small-text {
    font-size: $museum__menu--small-text-font;
    font-weight: $font-weight-regular;
    line-height: $line-height-regular;
    margin-bottom: $museum__menu--small-text-margin-bottom;
  }

  &--time {
    font-weight: $font-weight-bold;
    margin-right: $museum__menu--time-margin-right;
  }

  &--align-top {
    margin-right: $museum__menu--align-top-margin-right;
  }

  &--align-bottom {
    margin-right: $museum__menu--align-bottom-margin-right;
  }

  &--right:first-of-type {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &--right:last-of-type {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.no-wrap {
  white-space: nowrap;
}
