.burger {
  $root: &;

  @extend %btn-reset;

  flex: 0 0 auto;

  display: block;

  padding: 5px;
  padding-right: 0;

  transition: transform $transition-props;

  &__container {
    position: relative;

    display: block;

    width: 24px;
    height: 20px;
  }

  &__line {
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    border-radius: 2px;

    background-color: $color-dark;

    transition: $burger-lines-transition;

    &--top {
      top: 6px;
    }
    &--bottom {
      bottom: 6px;
    }
  }

  &__container::before,
  &__container::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $color-dark;

    transition: $burger-lines-transition;
  }
  &__container::before {
    top: 0;
  }
  &__container::after {
    bottom: 0;
  }

  &:hover {
    transform: rotate(-90deg);

    &__container::after,
    &__container::before,
    #{$root}__line--top,
    #{$root}__line--bottom {
      left: 50%;
      transform: translateX(-50%);
    }

    #{$root}__container::after {
      width: 60%;

      @include wave-animation(60, 0.5s);
    }

    #{$root}__container::before {
      width: 20%;
      @include wave-animation(20, 0.8s);
    }
    #{$root}__line {
      &--top {
        width: 40%;

        @include wave-animation(40, 0.6s);
      }

      &--bottom {
        width: 80%;

        @include wave-animation(80, 0.2s);
      }
    }
  }

  &--active &__line {
    transform: scale(0);
  }
  &--active #{$root}__container::before {
    top: 9px;

    transform: rotate(45deg);
  }
  &--active #{$root}__container::after {
    bottom: 9px;

    transform: rotate(-45deg);
  }

  &--active {
    &:hover {
      transform: rotate(0);

      #{$root}__container::after,
      #{$root}__container::before,
      #{$root}__line--top,
      #{$root}__line--bottom {
        left: 0;
        transform: translate(0);
        animation: none;
      }

      #{$root}__container::after {
        bottom: 9px;

        width: 100%;

        transform: rotate(-45deg);
      }

      #{$root}__container::before {
        top: 9px;

        width: 100%;

        transform: rotate(45deg);
      }
      #{$root}__line {
        &--top {
          width: 100%;
          transform: scale(0);
        }

        &--bottom {
          width: 100%;
          transform: scale(0);
        }
      }
    }
  }
}
