.main-button {
  @extend %btn-reset;

  padding: 15px 48px;

  border-radius: 40px;
  background-color: $color-dark;
  border: 3px solid $color-dark;

  color: $color-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 169%;
  text-align: center;

  transition: $button-transition;

  &:hover {
    color: $color-dark;
    background-color: $color-white;
  }

  &:active {
    color: $color-white;
    background-color: $color-black;
    border-color: $color-black;
  }
}
