.wave {
  display: flex;
  align-items: center;

  &__line {
    display: inline-block;

    width: 3px;

    background-color: $color-dark;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 3px;
    }

    @each $i, $height in $wave-heights {
      &:nth-child(#{$i}) {
        height: $height * 1px;

        animation: hero-wave-#{$i}
          0.5s
          cubic-bezier(0.34, 0.09, 0.53, 0.75)
          animationDelay($i)
          infinite;
      }
    }
  }
}
