.banner {
  padding-top: 356px;
  padding-bottom: 88px;

  background-image: url("../images/background-images/banner.jpg");
  background-size: cover;
  background-position: right;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 2dpi) {
    background-image: url("../images/background-images/banner@2x.jpg");
  }
  &__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
  }
}
