@import "./bikes/bike";

.bikes {
  &__title {
    @extend %section-title;

    margin-bottom: 48px;

    @include media(xl) {
      margin-bottom: 56px;
    }
  }

  &__item {
    margin-bottom: 48px;

    @include media(xl) {
      margin-bottom: 0;
    }
  }
}
