.button {
  height: rem(56);
  padding: 0;
  border-radius: rem(40);
  border: none;
  background-color: $color-main-light;
  font-family: "Pppns", sans-serif;
  font-size: rem(16);
  @extend %fw700;
  transition: box-shadow $transition-duration ease-in-out;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
}
