.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  background-color: $c-black;
  color: #fff;
  font-weight: 700;
  line-height: $line-height-lg;
  border: 3px solid $c-black;
  border-radius: 28px;
  transition: all $anim-time ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: $c-black;
  }

  &--large {
    width: 100%;
    max-width: 324px;
  }

  &--fluid {
    max-width: 100%;
  }
}
