// HAMBURGER

.hamburger {
  position: relative;
  width: 2.4em;

  &__btn {
    display: block;
    position: absolute;
    height: 0.25em;
    width: 2.4em;
    background-color: $c-main;
    border-radius: 16px;
    transform-origin: center;
    transition: width 0.3s cubic-bezier(0.45, 0.03, 0.52, 0.95);

    &:nth-child(1) {
      top: 4px;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }

  .--hamburger-transform {

    .hamburger__btn:nth-child(1) {
      transform: rotate(-45deg) translate(-1px, 10px);
    }

    .hamburger__btn:nth-child(2) {
      transform: translateX(100%);
      opacity: 0;
    }

    .hamburger__btn:nth-child(3) {
      transform: rotate(45deg);
    }
  }

  &:hover {
    .hamburger__btn:nth-child(1) {
      width: 1.9em;
    }

    .hamburger__btn:nth-child(3) {
      width: 1.5em;
    }
  }
}

// TO TOP BTN
.btn {
  @extend %btn;

  &__to_top {
    position: fixed;
    bottom: 25%;
    right: -100%;
    width: 60px;
    height: 60px;
    background-color: darken($body-bg-c, 10);
    opacity: 0.7;
    @include z-index(top-btn);
    @include hover(opacity, 0.9);
    transition: right 0.3s $easing;
    cursor: pointer;
    box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.02), 0px 0px 5.3px rgba(0, 0, 0, 0.028), 0px 0px 10px rgba(0, 0, 0, 0.035), 0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 33.4px rgba(0, 0, 0, 0.05), 0px 0px 80px rgba(0, 0, 0, 0.07);
  }

  &__primary {
    width: auto;
    background: $c-main;
    color: $c-gray;
    cursor: pointer;

    &:hover {
      background-color: darken($body-bg-c, 5);
      color: $c-main;
      transition: background-color 0.3s $easing;
    }

    @include for-mobile () {
      font-size: 16px;
      width: 100%;
      padding: 16px 48px;
    }
  }

  &__to_top.--toTop-visible {
    right: 5%;
  }
}
