.buy {
  display: flex;
  gap: 24px;
  margin: 120px 0;
  @media (max-width: 544px) {
    flex-direction: column;
    gap: 32px;
  }

  &__container {
    flex-basis: 40%;

    @media (max-width: 1130px) {
      flex-basis: 50%;
    }
  }

  &__title.section-title {
    @media (max-width: 744px) {
      font-size: 38px;
    }
    @media (max-width: 544px) {
      font-size: 32px;
    }
  }

  &__bullet {
    font-weight: 700;
    margin-bottom: 20px;
    transition: $speed-transition ease-in-out;
    position: relative;
    &:hover {
      transform: translateX(10px);
      &::before {
        content: "✓";
        font-size: 22px;
        color: rgb(73, 177, 32);
        position: absolute;
        left: -20px;
        top: -5px;
      }
    }
  }

  &__description {
    margin-top: 40px;
    line-height: 26px;
  }
}
