.categories {
  margin-top: 120px;

  &__title {
    text-align: center;
  }

  &__category {
    margin-top: 64px;
  }

  &__photos {
    display: flex;
    justify-content: center;
    gap: 24px;

    @media (max-width: 744px) {
      gap: 20px;
    }
  }

  &__photo {
    overflow: hidden;
    width: 66%;

    @media (max-width: 460px) {
      width: 50%;
    }

    & img {
      display: block;
      transition: $speed-transition ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 460px) {
        object-position: 50% 50%;
      }
    }

    &:hover img {
      transform: scale(1.3);
      cursor: zoom-in;
    }

    &--small {
      width: 33%;

      @media (max-width: 460px) {
      width: 50%;
      }
    }


  }
  &__name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 24px;
    color: $main-dark;
  }

  &__button {
   margin: 40px auto 0 auto;
   display: block;
   width: 100%;
   max-width: 326px;
  }
}
