.container {
  max-width: 1440px;
  padding: 0 120px;

  &__title {
    text-align: center;
    position: relative;
    margin-bottom: 93px;

    &::after {
      content: "";
      position: absolute;
      top: 115%;
      left: 50%;
      width: 25px;
      height: 25px;

      transform: translate(-50%);
      background: no-repeat url(../images/crown.svg);
    }
  }
}

.main {
  &__section {
    margin: 0 auto 3rem;
    padding-top: 6.5rem;
  }
}

.form {
  &__item {
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 17px;
    margin: 1rem 0;

    &:focus {
      outline: none;
      border: 1px solid rgba(138, 171, 209, 0.2);
      box-shadow: 0 1px 15px rgba(0, 117, 255, 0.46);
    }

    &::placeholder {
      font-weight: normal;
      color: #b9c1ce;
    }
  }
}

.btn-submit {
  margin: 2rem 0 0;
  background-color: $primary-clr;
  color: $secondary-clr;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);

  @include hover(background-color, #0067df);
  @include hover(box-shadow, 0 13px 27px rgba(0, 83, 181, 0.46));
}

@media (max-width: $large-resolution) {
  .container {
    padding: 0 20px;
  }

  .main {
    &__section {
      padding-top: 4rem;
    }
  }
}
