.container {
  max-width: 1440px;
  padding: 0 120px;

  &__title {
    text-align: center;
    position: relative;
    margin-bottom: 93px;

    &::after {
      content: "";
      position: absolute;
      top: 115%;
      left: 50%;
      width: 25px;
      height: 25px;

      transform: translate(-50%);
      background: no-repeat url(../images/crown.svg);
    }
  }
}

.main {
  &__section {
    margin: 0 auto 3rem;
    padding-top: 6.5rem;
  }
}

.logo {
  margin: 24px 0;
  max-width: 115px;
}

@media (max-width: $large-resolution) {
  .container {
    padding: 0 20px;
  }

  .main {
    &__section {
      padding-top: 4rem;
    }
  }

  .logo {
    width: 73px;
  }
}
