$input-padding: rem(14) rem(16);

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(16);

  position: relative;

  & * {
    font-family: inherit;
  }

  &__label {
    width: inherit;
  }

  &__input {
    width: 100%;
    border: none;
    padding: $input-padding;
    border-radius: rem(40);

    &::placeholder {
      color: $color-accent-grey;
      font-size: rem(14);
    }

    &:focus {
      outline-color: $color-accent-grey;
    }

    &:invalid {
      outline-color: $color-form-invalid;
    }
  }

  &__input-message {
    min-width: 100%;
    max-width: 100%;
    min-height: calc(
      #{2 * $content-col-width-large + $content-cols-gap-medium}
    );
    max-height: calc(
      #{4 * $content-col-width-large + $content-cols-gap-medium}
    );
    border-radius: rem(16);
  }

  &__send-button {
    width: 100%;
    margin-top: rem(16);

    @include medium-bp {
      width: getElementWidth(
        3,
        $content-col-width-medium,
        $content-cols-gap-medium
      );
    }

    @include large-bp {
      width: 100%;
    }
  }

  &__error-message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    width: 100%;

    text-align: center;
    color: $color-form-invalid;
  }
}
