.contact {
  &__title {
    text-align: center;
    margin-bottom: 48px;
  }

  &__content {
    display: flex;
    gap: 200px;

    @media (max-width: 889px) {
      gap: 30px;
    }

    @media (max-width: 630px) {
      gap: 60px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__form {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media (max-width: 630px) {
      width: 100%;
    }
  }

  &__input {
    box-sizing: border-box;
    padding: 14px 0 14px 16px;
    width: 100%;
    margin-bottom: 16px;
    display: block;
    border-radius: 24px;
    font-size: 14px;
    border: none;
    background-color: #f8f8fa;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: $speed-transition linear;

    &::placeholder {
      color: rgba(126, 126, 131, 1);
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:focus {
      outline: none;
      border: 1px solid $main-dark;
    }
  }

  &__message {
    resize: none;
    margin-bottom: 32px;
  }

  &__info {
    width: 50%;

    @media (max-width: 630px) {
      width: 100%;
    }
  }

  &__link {
    display: block;
    margin-bottom: 24px;

    &:hover .contact__value {
      color: rgb(114, 114, 114);
    }
  }

  &__label {
    color: rgba(159, 173, 194, 1);
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__value {
    color: $main-dark;
    transition: $speed-transition linear;
  }
}
