.contact {
  padding-bottom: 120px;

  @include for-desktop-up {
    padding-bottom: 182px;
  }

  &__container {
    @include for-tablet-up {
      display: flex;
    }
  }

  &__form {
    @include for-tablet-up {
      margin-right: 24px;
    }

    @include for-desktop-up {
      margin-right: 200px;
    }
  }

  &__title {
    padding-bottom: 48px;

    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;

    text-align: center;
    letter-spacing: -1.5px;
  }
}
