.container {
  margin: 0 $page-side-padding-small;

  @include small-bp {
    margin: 0 $page-side-padding-medium;
  }

  @include large-bp {
    margin: 0 $page-side-padding-medium;
  }

  @include larger-bp {
    max-width: $content-max-width-large;
    margin: 0 auto;
  }
}
