.container--consultation {
  display: flex;
  flex-direction: column;
  padding-bottom: 144px;
}

.consultation .section__title {

  &::before {
    @extend %icon;
    background-color: $main-light-color;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;

  .content__left {
    width: 480px;

    h3 {
      @extend %no-margin;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.12em;
    }

    p {
      line-height: 1.5em;
    }
  }

  .content__right {
    width: 383px;
  }
}

.form {
  .input {
    border: none;

    &:focus {
      outline-color: $main-accent-color;
    }
  }

  &__field:not(:last-child) {
    margin-bottom: 8px;
  }
}
