@mixin inputStyles() {
  font-family: Cinzel, Arial, sans-serif;
  background-color: #f8f8fa;
  width: 100%;
  border: none;
  padding: 10px;
  &::placeholder {
    color: #7e7e83;
  }
}

.contacts-section {

  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  &__group {
    margin-bottom: 48px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #161616;
    margin-bottom: 16px;
  }

  &__microtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #161616;
    margin-bottom: 4px;
  }

  &__info {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    margin-bottom: 48px;
  }

  &__form {

    &-input-name {
      height: 48px;
      line-height: 48;
      margin-bottom: 16px;
      @include inputStyles;
    }

    &-input-email {
      height: 48px;
      line-height: 48;
      margin-bottom: 16px;
      @include inputStyles;
    }

    &-textarea {
      margin-bottom: 32px;
      @include inputStyles;
    }

    &-button {
      font-family: Cinzel, Arial, sans-serif;
      display: block;
      font-weight: bold;
      font-size: 16px;
      line-height: 56px;
      width: 100%;
      height: 56px;
      text-align: center;
      color: #fff;
      background-color: $c-btn-red-default;
      cursor: pointer;
      border: none;
      margin: 0 auto 100px;
      &:hover {
        background-color: $c-btn-red-hover;
      }
      &:active {
        background-color: $c-btn-red-pressed;
      }
    }
  }
}
