@import "./details/detail";

.details {
  &__title {
    @extend %section-title;

    margin-bottom: 48px;

    @include media(sm) {
      margin-bottom: 64px;
    }

    @include media(xl) {
      margin-bottom: 48px;
    }
  }

  &__block {
    margin-bottom: 40px;

    @include media(sm) {
      margin-bottom: 48px;
    }
  }

  &__button {
    text-align: center;
  }
}
