.feature {

  &:not(:last-child) {
    margin-bottom: 40px;

    @include for-tablet-up {
      margin-bottom: 48px;
    }
  }

  &__photos {
    margin-bottom: 40px;
  }

  &__img {
    max-width: 130px;
    min-height: 130px;

    // &--big {

    // }

    // &--small {

    // }
  }

  &__title {
    margin: 16px 0 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
