.feature {

  &:not(:last-child) {
    margin-bottom: 40px;

    @include for-tablet-up {
      margin-bottom: 48px;
    }
  }

  &__photos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include for-mobile-up {
      justify-content: center;
    }
  }

  &__img {
    width: 40%;
    object-fit: cover;
    object-position: center;


    @include for-mobile-up {
      width: 100%;
      max-height: 130px;
    }

    @include for-tablet-up {
      max-height: 187px;
    }

    @include for-tablet-up {
      max-height: 300px;
    }

    &:nth-child(2n + 1) {
      @include for-mobile-up {
        margin-right: 20px;
      }

      @include for-tablet-up {
        margin-right: 24px;
      }

      @include for-tablet-up {
        margin-right: 24px;
      }
    }
  }

  &__title {
    margin: 16px 0 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
