.feature {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 16px 20px;
    margin-bottom: 40px;
    justify-content: center;

    @include for-mobile-up {
      grid-template-columns: 3fr 130px;
    }

    &--last {
      @include for-mobile-up {
        grid-template-columns: 130px 3fr;
      }
    }
  }

  &__img {
    row-gap: 40px;
    height: 130px;

    &--big {
      width: 100%;
    }
  }

  &__title {
    margin: 16px 0 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
