.footer {
  height: 200px;

  background-image: url("../images/background-images/footer.jpg");
  background-size: cover;
  background-position: right;

  @include for-tablet-up{
    height: 480px;
  }

  @include for-tablet-up{
    height: 555px;
    background-position: center;
  }
}
