.footer {
  height: 200px;

  background-image: url("../images/background-images/footer.jpg");
  background-size: cover;
  background-position: right;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 2dpi) {
    background-image: url("../images/background-images/footer@2x.jpg");
  }
}
