.footer {
  height: 35vh;
  background-image: url(../images/photos/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  transition: all $transition-duration;

  @include medium-bp {
    height: 75vh;
  }

  @include large-bp {
    height: 80vh;
  }
}
