.form {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;

  &__label {
    display: none;
  }

  &__input {
    padding: 13px 10px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $txt-dark;
    text-transform: uppercase;
    background-color: $from-input-bg;
    border: 1px solid $from-input-bg;
    outline: none;
    transition: border 0.4s linear;

    &--error {
      border: 1px solid $red-pressed;
    }

    &::placeholder {
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $from-input-placeholder;
    }

    &:focus {
      border: 1px solid $txt-dark;
    }

    &:hover::placeholder {
      color: $txt-dark;
    }
  }
  
  &__textarea {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 144px;
    max-height: 200px;
    padding: 11px 10px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $txt-dark;
    text-transform: uppercase;
    background-color: $from-input-bg;
    border: 1px solid $from-input-bg;
    outline: none;
    transition: border 0.4s linear;

    &--error {
      border: 1px solid $red-pressed;
    }

    &:focus {
      border: 1px solid $txt-dark;
    }

    &:hover::placeholder {
      color: $txt-dark;
    }
  }

  &__btn {
    min-width: 280px;
    width: 100%;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    border-color: transparent;
    background-color: $red-default;
    color: $txt-white;
    margin: 16px auto 0;
    padding: 12.5px 0;
    transition: background-color 0.4s linear;
    cursor: pointer;

    &:hover {
      background-color: $red-hover;
    }

    &:active {
      background-color: $red-pressed;
    }
  }
  
  &__error {
    display: none;
    color: red;
    font-size: 10px;
    margin-top: -27px;
    transform: translateY(13px);
    animation: moveInTopFormError 0.4s linear;

    &--show {
      display: block;
    }
  }
}

@media screen and (min-width: 700px) {
  .form {
    padding-top: 0;
    min-width: 288px;
    width: 100%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1100px) {
  .form {
    max-width: 411px;
  }
}
