.form {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;

  &__label {
    display: none;
  }

  &__input {
    padding: 14px 10px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(126, 126, 131, 1);
    text-transform: uppercase;
    border: 0;
    background-color: rgba(248, 248, 250, 1);
  }

  &__input::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(126, 126, 131, 1);
  }

  &__textarea {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 144px;
    max-height: 200px;
    padding: 11px 10px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(126, 126, 131, 1);
    text-transform: uppercase;
    border: 0;
    background-color: rgba(248, 248, 250, 1);
  }

  &__btn {
    min-width: 280px;
    width: 100%;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    border-color: transparent;
    background-color: rgba(209, 45, 53, 1);
    color: rgba(255, 255, 255, 1);
    margin: 16px auto 0;
    padding: 12.5px 0;
  }
}

@media screen and (min-width: 744px) {
  .form {
    padding-top: 0;
    max-width: 50%;
  }
}

@media screen and (min-width: 1260px) {
  .form {
    max-width: 411px;
  }
}
