.gallery {
  &__images {
    display: flex;
    max-height: 16rem;
  }

  &__img {
    flex: 1 1 50%;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &--short {
      flex-basis: 33.33%;
    }
  }

  &__adress {
    margin: 24px 0 40px;
  }

  &__main-btn {
    margin: 0 auto;
  }
}

.img-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;

  &__picture {
    width: 100%;
    min-height: 100%;
  }
}

.main-btn {
  display: block;
  padding: 0;
  border-radius: 8px;
  border: 2px solid $primary-clr;
  
  line-height: 3.5rem;
  width: 200px;
  color: $primary-clr;
  font-weight: bold;

  &:link {
    outline: none;
    border: none;
  }
  
  &:visited {
    outline: none;
  }

  @include hover(background-color, $primary-clr);
  @include hover(color, $secondary-clr);
}

@media (max-width: $large-resolution) {
  .gallery {
    &__img {
      &--short {
        flex-basis: 50%;
      }
    }

    &__main-btn {
      width: 100%;
    }
  }
}
