.header {
  height: 100vh;
  background: url(../../images/header-bg.png) no-repeat;
  background-position: 50% 100%;
  background-size: cover;

  .container--header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .logo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    
    .header__phone {
      color: $main-light-color;
      text-decoration: none;
    }

    .header__call {
      text-decoration: dashed;
      text-transform: uppercase;
      color: $main-light-color;
      border-bottom: 1px dashed $main-light-color;
      line-height: 2em;
    }
  }
}

.nav__list {
  @extend %list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.nav__list-item {
  a {
    @extend %link;
    font-weight: 500;
    text-transform: uppercase;
  }
}
