.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/photos/image-3.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width: 744px) {
    background-image: url("../images/photos/image-3-800px.png");
  }

  @media (max-width: 460px) {
    background-image: url("../images/photos/image-3-500px.png");
    background-position-x: 40%;
  }

  &__content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    bottom: 60px;

    @media (max-width: 744px) {
      bottom: 70px;
    }

    @media (max-width: 460px) {
      bottom: 90px;
    }
  }

  &__sound-waves {
    background-image: url("../images/sound-waves-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 63px;
    height: 76px;
    margin-bottom: 30px;

    @media (max-width: 460px) {
      background-image: url("../images/sound-waves-2.svg");
    }
  }

  &__title {
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -1.5px;

    @media (max-width: 744px) {
      font-size: 38px;
    }

    @media (max-width: 460px) {
      font-size: 32px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1260px;
    padding: 30px 100px;
    margin: 0 auto;

    @media (max-width: 744px) {
      padding: 40px 50px;
    }

    @media (max-width: 460px) {
      padding: 20px 20px;
    }
  }

  &__logo {
    z-index: 99;
  }

  &__icons {
    display: flex;
    align-items: center;
    min-width: 88px;
    justify-content: space-between;
  }
  &__phone-icon {
    background-image: url("../images/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    color: inherit;

    @media (max-width: 460px) {
      background-size: 80%;
      margin-right: 20px;
    }

    @media (min-width: 624px) {
      &:hover {
        &::before {
          width: 150px;
          opacity: 1;
        }
      }
    }

    &::before {
      width: 0;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-right: 30px;
      content: "+1 234 555-55-55";
      opacity: 0;
      transition: 0.5s ease-in-out;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__menu-icon {
    background-image: url("../images/hamburger-menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    z-index: 5;
    transition: transform 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      background-image: url("../images/hamburger-menu-hover.svg");
      background-size: 80%;
      transform: rotate(-360deg);
    }

    @media (min-width: 1200px) {
    }

    @media (max-width: 460px) {
      background-size: 60%;
    }
  }
}

.isActive {
  background-image: url("../images/close-icon.svg");
  width: 32px;
  height: 32px;
  &:hover {
    cursor: pointer;
    background-image: url("../images/close-icon.svg");
    background-size: 50%;
  }
}
