.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: 24px;
  padding-bottom: 24px;
  @include z-index(header);

  &__nav-icons {
    display: flex;
    cursor: pointer;
    @include z-index(navIcons);
  }

  @include for-mobile () {
    .header {
      &__nav-icons {
        .hamburger {
          margin-left: 2.4em;
        }
      }
    }
  }
}
