.icon {
  &__burger {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: transform $transition-props, opacity $transition-props;
  }
}
