.info {
  display: flex;
  justify-content: space-between;

  &__title {
    margin-bottom: 48px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: 50%;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $large-resolution) {
  .info {
    display: block;
    margin: 0 auto;
    max-width: $medium-size;

    &__description {
      width: 100%;
    }
  }
}
