.logo {
  display: block;
  width: rem(130);
  height: rem(38);
  background-image: url(../images/logo.svg);
  @extend %bgCoverNoRepeat;
  transition-delay: calc(#{$transition-duration} / 2);

  @include medium-bp {
    width: rem(187);
    height: rem(56);
  }

  &--nav {
    background-image: url(../images/logo-menu.svg);
  }
}
