.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  padding-top: 29px;
  background-color: #c2c2c2;

  overflow-y: auto;

  transform: translateX(0);
  transition: transform 500ms linear, opacity 300ms linear;

  @include for-tablet-up {
    padding-top: 36px;
  }

  @include for-desktop-up {
    padding-top: 48px;
  }

  &__container {
    position: relative;
  }

  &__close {
    &-btn {
      position: absolute;
      right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;

      padding: 0;

      background: none;

      @include for-tablet-up {
        right: 72px;
      }

      @include for-tablet-up {
        right: 120px;
      }
    }

    &-icon {
      width: 16px;
      height: 16px;

      fill: #1d1d1d;
    }
  }
}

.nav {
  &__list {
    margin-bottom: 40px;
    margin-top: 44px;

    @include for-desktop-up {
      margin-top: 48px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #1d1d1d;
  }

  &__phone {

    margin-bottom: 16px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height, or 169% */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #1d1d1d;
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #1d1d1d;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;

  transform: translateX(100%);

  transition: transform 500ms linear, opacity 300ms linear;
}
