.page {
  background-color: $clr-main;
  font-family: $font-main;

  &__body {
    margin: 0;
    padding: 0;
  }

  &__banner {
    margin-bottom: 60px;

    @include media(sm) {
      margin-bottom: 120px;
    }
  }

  &__section {
    margin-bottom: 90px;

    @include media(sm) {
      margin-bottom: 120px;
    }

    @include media(xl) {
      margin-bottom: 160px;
    }
  }
}
