.page {
  background-color: $clr-main;
  font-family: $font-main;

  &__body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: $clr-main;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $clr-grey;
    }
  }

  &__banner {
    margin-bottom: 60px;

    @include media(sm) {
      margin-bottom: 120px;
    }
  }

  &__section {
    margin-bottom: 90px;

    @include media(sm) {
      margin-bottom: 120px;
    }

    @include media(xl) {
      margin-bottom: 160px;
    }
  }
}
