.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5rem;

  &__img {
    @include hover(box-shadow, 0 15px 55px rgba(0, 0, 0, 0.3));
    max-width: 150px;
    border-radius: 50%;
    margin: 28px 0;
  }

  &__small {
    margin-bottom: 10px;
  }
}
