.phone {
  &__btn {
    position: relative;
    display: block;
    height: 18px;
    width: 18px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }

  &__list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 5px 10px;
    z-index: 1;

    &--is-open {
      display: block;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 700px) {
  .phone {
    &__btn {
      height: 24px;
      width: 24px;
    }
  }
}
