$popup-color: #d12d35;

.popup {
  font-family: Cinzel, Arial, sans-serif;
  padding: 25px 20px;
  position: absolute;
  top: 100vw;
  left: 100vw;
  width: 100%;
  min-height: 100vh;
  background-color: $popup-color;
  color: #fff;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__logo {
    font-family: Cinzel, Arial, sans-serif;
    width: 90px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1.5px;
  }

  &__close {
    width: 24px;
    height: 24px;
    background-image: url(../images/cross.svg);
  }

  &__nav-item {
    margin-bottom: 32px;
  }

  &__nav-link {
    font-family: Cinzel, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__phone-number {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__button-call {
    font-family: Cinzel, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: $popup-color;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

.popup--active {
  display: block;
  transform: translate(-100vw, -100vw);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 744px) {
  .popup {
    padding: 32px 72px;
  }
}
