.recommended {
  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin: 64px 0 32px;

    @media (max-width: 1260px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 744px) {
      gap: 40px;
    }
    @media (max-width: 460px) {
      gap: 48px;
    }
  }

  &__photo {
    overflow: hidden;
    width: 100%;
    height: 320px;

    & img {
      display: block;
      transition: $speed-transition ease-in-out;
    }

    &:hover img {
      transform: scale(1.3);
      cursor: pointer;
    }
  }

  &__name {
    font-weight: 700;
    margin-top: 32px;
  }

  &__category {
    margin-top: 8px;
  }

  &__price {
    font-weight: 700;
    margin-top: 12px;
  }

  &__title {
    text-align: center;
  }
}
