.row {
  display: flex;
  justify-content: space-between;
  
  &__description {
    width: 45%;
    margin-right: 100px;
  }

  &__form {
    width: 45%;
  }
}

@media (max-width: $large-resolution) {
  .row {
    display: block;

    &__description,
    &__form {
      margin-right: 0;
      width: auto;
    }
  }
}
