.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;

  &__description,
  &__form {
    width: 100%;
    max-width: $medium-size;
    margin: 0 auto;
  }
}

@media (max-width: $large-resolution) {
  .row {
    display: block;
  }
}
