.sticky-scroll {
  position: sticky;
  top: 60vh;
  left: 75vw;
  display: block;
  font-size: 35px;
  font-weight: 900;
  line-height: 18px;
  padding: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px ridge rgba(45, 72, 45, 0.2);
  background-color: rgba(173, 255, 47, 0.2);
  color: rgba(133, 187, 32, 0.6);
  cursor: pointer;
  transition: all 0.3s 0.1s ease-in-out;
  @include onTablet {
    left: 90vw;
  }
  @include onDesktop {
    left: 90vw;
  }

  &:hover {
    transform: scale(1.5);
    border: 3px ridge rgb(91, 255, 85);
    background-color: rgba(62, 77, 43, 0.6);
    color: rgb(91, 255, 85);
  }
}
