.team {
  display: flex;
  justify-content: space-between;

  &__item {
    margin: 0 auto;
    flex: 0 0 240px;
    max-width: 280px;
  }
}

@media (max-width: 1023px) {
  .team {
    display: block;
  }
}
