.testimonials {
  background-color: $main-bg-color;
}

.container--testimonials {
  display: flex;
  flex-direction: column;
}

.testimonials__list {
  @extend %list;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 80px;

  .testimonial {
    width: 305px;
    text-align: center;
  }

  .testimonial__name {
    margin: 16px 0 10px;
  }

  .testimonial__position {
    font-style: italic;
    opacity: 0.4;
  }

  .testimonial__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../../images/photo-icon.png);
      background-position: center;
      background-repeat: no-repeat;
      top: 55px;
      left: -45px;
      width: 75px;
      height: 30px;
    }
  }
}
