$wDeskImg-4x-1024: calc(328 / 1024 * (100vw - 240px));
$wDeskImg-8x-1024: calc((328 / 512 + 24 / 1020) * (100vw - 240px));
$wDeskImg-2x-744: calc((100vw - 144px) * 184 / 600);
$wDeskImg-3x-744: calc((100vw - 144px) * 288 / 600);
$wDeskImg-4x-744: calc((100vw - 144px) * 392 / 600);

.view-section {

  &__header {
    max-width: 340px;
    text-align: center;
    margin: 0 auto 48px;
  }

  &__secondary-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #d12d35;

    &-description {
      margin-bottom: 48px;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }

  &__image-container {
    display: flex;
    justify-content: space-between;

    @include onTablet {
      width: $wDeskImg-2x-744;
    }

    @include onDesktop {
      width: $wDeskImg-4x-1024;
    }

    &-masters {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & :first-child {
        @include onTablet {
          width: $wDeskImg-4x-744;
        }
        @include onDesktop {
          width: $wDeskImg-8x-1024;
        }
      }
    }

    &-bodhisattvas {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include onTablet {
        & > img {
          width: $wDeskImg-3x-744;
          height: $wDeskImg-3x-744;
        }
        & :last-child {
          display: none;
        }
      }
      @include onDesktop {
        & > img {
          width: $wDeskImg-4x-1024;
          height: $wDeskImg-4x-1024;
        }
        & :last-child {
          display: block;
        }
      }
    }

    &-disney {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & :last-child {
        width: $wDeskImg-4x-744;
      }
      @include onTablet {
        & :last-child {
          width: $wDeskImg-4x-744;
        }
      }
      @include onDesktop {
        & :last-child {
          width: $wDeskImg-8x-1024;
        }
      }
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    object-position: center;
    //width: $wDeskImg-4x-1024;
    //height: $wDeskImg-4x-1024;

    @include onTablet {
      width: $wDeskImg-2x-744;
      height: $wDeskImg-2x-744;
    }

    @include onDesktop {
      width: $wDeskImg-4x-1024;
      height: $wDeskImg-4x-1024;
      margin-bottom: 32px;
    }
  }

  &__button {
    font-family: Cinzel, Arial, sans-serif;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 56px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #d12d35;
    border: none;
    margin: 0 auto;
    cursor: pointer;
  }
}
