
.visit-section {
  @media (min-width: 744px) {
    display: flex;
  }

  &__header {
    margin-bottom: 32px;
    @media (min-width: 744px) {
      min-width: 50vw;
    }

    @media (min-width: 1024px) {
      min-width: 45vw;
    }
  }

  &__pre-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    color: #d12d35;
    margin-bottom: 2px;
  }

  &__title {
    @media (min-width: 744px) {
      margin-right: 150px;
    }
    @media (min-width: 1024px) {
      margin-right: 0;
    }
  }

  &__content {
    @media (min-width: 1024px) {
      width: 55vw;
    }
  }
}

.shedule {

  &-section {

    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #161616;
      margin-bottom: 16px;
    }

    &__group {
      display: flex;
      margin-bottom: 8px;

      &:last-child {
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}

.group-item {
  display: flex;
  font-weight: bold;
}
