.about-us {
    &__title {
        margin: 0 0 32px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.5px;
        color: #161616;

        &-link {
            text-decoration: none;
            font-weight: 700;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: normal;
            color: #d12d35;
        }

        @include tablet {
            font-size: 48px;
            line-height: 48px;
        }

        @include desktop {
            font-size: 48px;
            line-height: 48px;
        }
    }

    &__place {
        &:first-child {
            margin-bottom: 24px;
        }

        &-title {
            margin: 0;
        }

        &-content {
            display: flex;
            flex-direction: row;
            margin-block: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-hours {
            margin-right: 24px;
            gap: 8px;
            font-weight: bold;
        }
    }
}