.about {
  &__title {
    margin: 0 0 $menu-elements-margins-mobile;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    align-items: center;
    letter-spacing: -1.5px;
    color: $c-black;

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 0;
    }
  }

  &__title-link {
    color: $c-blue;
  }

  &__subtitle {
    display: block;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $c-blue;
  }

  &__paragraph {
    margin: 0 0 27px;

    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;

    &:last-child {
      margin-bottom: 0;
    }

    &--accent {
      font-weight: 700;
    }
  }
}
