.address {
  font-family: 'Inter';
      font-style: normal;
      font-weight: 400;

      @include for-tablet() {
        margin-right: 200px;
      }

      @include for-desktop() {
        margin-right: 240px;
      }

    &__label {
      font-size: 14px;
      line-height: 20px;
      color: #9FADC2;
      padding-bottom: 8px;
    }
  
    &__content {
      font-size: 16px;
      line-height: 22px;
      color: #3E3E3E;
      padding-bottom: 24px;
      text-decoration: none;
    }

    &__wrapper {
      display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

      @include for-tablet() {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: start;
      }

      @include for-desktop() {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
         // align-items: center;
      }
    }
  }