.article {
  font-family: 'Inter';
font-style: normal;
font-size: 16px;
line-height: 22px;
color: #292929;

  &__paragraph {
    font-weight: 700;
    @media screen and (max-width: 320px) and (min-width: 1px) {
      padding-bottom: 7px;
    }
    @media screen and (min-width: 321px) {
      padding-bottom: 8px;
    }

    &--second {
      &:last-of-type {
        padding-bottom: 40px;
      }
    }

    &--third {
      &:last-of-type {
        padding-bottom: 40px;
      }
    }
  }

  &__cat {
    font-weight: 400;
    padding-bottom: 12px;
  }

  &__price {
    font-weight: 700;
  }

  &__price:last-of-type {
    @media screen and (min-width: 745px) and (max-width: 1259px ) {
      padding-bottom: 128px;
    }
    padding-bottom: 120px;
  }
}
