.article {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #292929;
    margin-bottom: 32px;
  
    &--2 {
      margin-bottom: 32px;
    }
  
    &--3 {
      margin-bottom: 102px;
    }
  
    &__paragraph {
      font-weight: 700;
      padding-bottom: 8px;
  
      &--1 {
        padding-bottom: 16px;
        font-weight: 700;
      }
  
      &--2 {
        font-weight: 400;
        line-height: 27px;
      }
    }
  
    &__cat {
      font-weight: 400;
      padding-bottom: 12px;
    }
  
    &__price {
      font-weight: 700;
      padding-bottom: 48px;
    }
  
    &__desc {
      font-weight: 700;
      padding-bottom: 8px;
      margin-bottom: 0px;
    }
  }