.recommended {
  &__item {
    margin-bottom: 48px;
  
    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.recommend {
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-bottom: 32px;
  }

  &__photo {
    width: 100%;
    grid-column: span 4;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 8px;
  }

  &__appointment {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 12px;
  }

  &__price {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
  }
}
