.footer {
  background-image: url(../images/footer_320.svg);
  height: 200px;
  background-size: cover;
  background-position: top;

  @include onTablet {
    background-image: url(../images/footer_744.svg);
    height: 400px;
  }
  
  @include onDesktop {
    background-image: url(../images/footer.svg);
    height: 460px;
  }
}
