.footer {
  background-image: url(../images/footer.png);
  height: 200px;
  background-size: cover;
  background-position: top;

  @include onTablet {
    background-image: url(../images/footer_tablet.png);
    height: 400px;
  }
  
  @include onDesktop {
    background-image: url(../images/footer_desktop.png);
    height: 460px;
  }
}
