.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  background-color: $red-color;
  text-decoration: none;
  font-weight: bold;
  color: $white-color;

  cursor: pointer;
  transition: all 0.3s;

  &__send {
    border: 1px solid transparent;
    font-family: inherit;
  }

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background-color: #eb343d;
  }
}
