.contacts {
  &__contacts-details {
    @include media-breakpoint-lg {
      display: flex;
      justify-content: space-between;
    }
  }

  &__contact {
    margin-bottom: 48px;
  }

  &__contact-title {
    margin-bottom: 16px;
  }

  &__contact-info {
    font-weight: $fw-normal;
    margin-bottom: 4px;
  }

  &__contact-paragraph {
    margin-bottom: 8px;
    color: #3e3e3e;

    transition: color $duration-default ease;

    &:hover {
      color: $primary-accent;
    }
  }

  &__field {
    display: block;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 32px;
    }
  }
}
