.container__nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    transform: translateX(100%);

    &--active {
        animation-name: menuOpen;
        animation-duration: 1s;
        transform: translateX(0);
    }

    &--close {
        animation-name: menuClose;
        animation-duration: 1s;
        transform: translateX(100%);
    }
}

@keyframes menuOpen {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes menuClose {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}