@import "../utils/vars";

.contacts {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    width: 413px;
  }
  &__group--mt {
    margin-top: 24px;
  }
  &__group--mobile {
    width: 130px;
  }
  &__title {
    font-size: 14px;
    font-weight: normal;
    color: #9fadc2;
  }
  &__text {
    margin-top: 8px;
  }
}

@media only screen and (max-width: $media-laptop) {
  .contacts {
    &__container {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: $media-mobile) {
  .contacts {
    &__left {
      width: 100%;
      flex-direction: column;
    }
    &__group--mobile {
      width: auto;
      margin-top: 24px;
    }
  }
}
