.contact {
  padding: 80px 0 120px;

  @include onTablet {
    padding: 120px 0 102px;
  }

  @include onDesktop {
    padding: 180px 0 181px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;

    @include onTablet {
      width: 549px;
      flex-direction: row;
      gap: 24px;
    }

    @include onDesktop {
      width: 792px;
      gap: 0;
      justify-content: space-between;
    }
  }

  &__heading {
    @include sectionTitle;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #292929;

    @include onTablet {
      width: 288px;
    }

    @include onDesktop {
      width: 411px;
    }
  }

  &__input {
    border: none;
    border-radius: 40px;
    outline: none;

    padding: 14px 0 14px 16px;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #292929;
    }

    &--textarea {
      border-radius: 16px;
      height: 148px;
    }
  }

  &__btn {
    @include button;
    outline: none;
    border: none;

    margin-top: 16px;

    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-decoration: underline rgba(255, 255, 255, 0);
    color: $primaryColor;

    transition: text-decoration $transitionDuration ease;

    &:hover {
      text-decoration: underline #fff;
    }
  }
}
