.footer {
  background-image: url(../images/photos/footer.png);
  background-size: cover;
  background-position: center;
  height: 180px;
  
  @include tablet {
    height: 360px;
  }
  
  @include desktop {
    height: 360px;
  }
}
