.footer {
  height: 200px;
  background-image: url(../images/photos/footeer_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;

  @include for-tablet() {
    height: 400px;
  }

  @include for-desktop() {
    height: 460px;
  }
}