.footer {
  background-image: url("../images/footer-bg-phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 200px;

  @include onTablet {
    background-image: url("../images/footer-bg-tablet.png");
    background-position: center;
    height: 480px;
  }

  @include onDesktop {
    background-image: url("../images/footer-bg-desktop.png");
    height: 555px;
  }
}
