.gallery {
  $picture-width-md: 392px;
  $picture-width-lg: 324px;

  &--center {
    text-align: center;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__paragraph {
    font-weight: $fw-normal;
  }

  &__art {
    margin-top: 48px;
  }

  &__pictures {
    margin-bottom: 24px;

    &--grid {
      @include media-breakpoint-lg {
        display: flex;
        justify-content: space-between;
      }
    }

    &--three {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;

      @include media-breakpoint-md {
        grid-template-columns: repeat(2, 1fr);
        gap: $gap;
      }

      @include media-breakpoint-lg {
        display: flex;
      }
    }
  }

  &__picture {
    &--md-hide {
      @include media-breakpoint-md {
        display: none;
      }

      @include media-breakpoint-lg {
        display: block;
      }
    }
  }

  &__img {
    display: block;
    height: 100%;
    width: 100%;

    @include zoomIn;
  }

  &__pictures-title {
    color: $primary;
  }

  &__button {
    text-align: center;
    margin: 40px auto 0;

    @include media-breakpoint-md {
      max-width: $picture-width-md;
    }

    @include media-breakpoint-lg {
      max-width: $picture-width-lg;
    }
  }

  &__cards {
    @include media-breakpoint-lg {
      display: flex;
      gap: $gap;
    }
  }

  &__card {
    margin-bottom: 48px;

    @include media-breakpoint-md {
      max-width: $picture-width-md;
      margin-left: auto;
      margin-right: auto;
    }

    @include media-breakpoint-lg {
      width: $picture-width-lg;
    }
  }

  &__card-img {
    width: 100%;
    margin-bottom: 32px;

    @include zoomIn;
  }

  &__card-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: $fw-normal;
  }
}
