.gallery {
  &__place {
    margin-bottom: 48px;
  }
  
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @include phone {
      max-width: 280px;
    }
  
    @include tablet {
      max-width: 400px;
    }
  
    @include desktop {
      max-width: 392px;
    }

  }
}
