.header {
  height: 100vh;
  background-image: url("../images/pictures/header.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $header-text-color;

  @media (min-width: 744px) {
    background-image: url("../images/pictures/header-2.jpg");
  }

  @media (min-width: 1260px) {
    background-image: url("../images/pictures/header-3.jpg");
  }

  &__top {
    @include top-menu;
  }

  &__container {
    position: relative;

    display: flex;
    justify-content: space-between;
    width: fit-content;
  }

  &__phone {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);

    display: none;
    padding-right: 20px;

    opacity: 0;
    pointer-events: none;
    transition: $transition-time opacity;

    width: 201px;

    @media (min-width: 1260px) {
      display: block;
    }
  }

  &__phone-icon {
    &:hover .header__phone {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__phone-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8px;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: $header-text-color;
    text-decoration: none;
  }

  &__title {
    margin-top: 129px;

    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @media (min-width: 744px) {
      margin-top: 140px;

      font-size: 64px;
      line-height: 64px;
    }

    @media (min-width: 1260px) {
      margin-top: 80px;

      font-size: 80px;
      line-height: 80px;
    }
  }
}
