.header {
  background-image: url(../images/photos/header.png);
  background-size: cover;
  background-position: center;
  min-height: 568px;
  margin-bottom: calc(100px - 24px);

  @media (min-width: 600px) {
    min-height: 840px;
  }

  @media (min-width: 1260px) {
    min-width: unset;
    height: 100vh;
  }

  &__title {
    margin: 0;
    padding-top: 129px;
    text-align: center;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
    letter-spacing: -1.5px;

    @media (min-width: 600px) {
      padding-top: 141px;

      font-size: 64px;
    }

    @media (min-width: 1024px) {
      padding-top: 80px;

      font-size: 80px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1020px;
    margin: 0 auto;
    padding: 24px 20px 0;

    @media (min-width: 600px) {
      padding: 24px 60px 0;
    }
  }

  &__logo {
    text-decoration: none;

    &-name {
      color: #fff;
      font-weight: bold;
      letter-spacing: -1.5px;
      font-size: 30px;
      line-height: 80%;

      @media (min-width: 600px) {
        font-size: 40px;
      }
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  &__icon {
    display: block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;

    @media (min-width: 600px) {
      width: 24px;
      height: 24px;
    }

    &-tooltip {
      transition: all 0.3s;
      display: none;
      margin-top: 24px;

      @media (min-width: 1024px) {
        position: relative;
        top: 50%;
        transform: translate(-100%, -50%);

        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
        text-transform: uppercase;
        display: block;

        width: max-content;
        padding-right: 20px;
        opacity: 0;
        pointer-events: none;
      }
    }

    &:hover &-tooltip {
      opacity: 1;
      pointer-events: all;
    }

    &-text {
      margin-bottom: 8px;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s;

      &:hover {
        border-color: #fff;
      }
    }

    &-menu {
      cursor: pointer;
      background-image: url(../images/menu.svg);
      transition: background-image 0.3s;

      &:hover {
        background-image: url(../images/menu_hover.svg);
      }
    }

    &-phone {
      background-image: url(../images/phone.svg);
    }

  }
}
