@import "../utils/extends";
@import "../utils/vars";
@import "../utils/mixins";

.header {
  @include setBackground("../../images/header.png");
  height: 700px;
  padding-top: 24px;
  color: #fff;

  &__wrapper {
    width: 1020px;
    margin: auto;
    position: relative;
    height: 100%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__link {
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      color: $active-color;
      border-color: $active-color;
    }
  }

  &__number {
    color: #fff;
  }

  &__nav {
    position: absolute;
    bottom: 37px;
    left: 0;
    width: 100%;
  }

  &__title {
    position: absolute;
    bottom: 165px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 60px;
    text-transform: capitalize;
  }

  &__line {
    width: 35px;
    border-bottom: 2px solid #fff;
    margin-bottom: 16px;
  }

  &__phone {
    display: none;
  }
}

@media only screen and (max-width: $media-laptop) {
  .header {
    &__top {
      width: 90%;
      margin: auto;
    }
    &__wrapper {
      width: 100%;
    }

    &__number,
    &__link {
      display: none;
    }

    &__phone {
      display: block;
    }

    &__title {
      font-size: 46px;
      margin-left: 5%;
    }
  }
}
