.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: $header-text-color;
  font-weight: 700;
  font-size: 30px;
  line-height: 80%;
  letter-spacing: -1.5px;

  @media (min-width: 744px) {
    font-size: 40px;
  }
}
