.main {
  padding: $section-indent 0;
  background-color: $light;

  @include media-breakpoint-md {
    padding-bottom: 156px;
  }

  &__section {
    padding-top: $anchor-indent;
    margin-top: -$anchor-indent;

    &:not(:last-child) {
      margin-bottom: $section-indent;
    }
  }

  &__section-title {
    text-align: center;
    margin-bottom: 48px;
  }

  &__button {
    width: 100%;

    color: $light;
    background-color: $primary;

    transition: background-color $duration-default;

    &:hover {
      background-color: $primary-accent;
    }

    &:active,
    &:focus {
      background-color: $primary-light;
    }
  }
}
