.main {
  padding: 100px 20px;

  &__paragraph {
    padding-top: 64px;

    &--photo {
      width: 280px;
      height: 277px;
    }

    &--desc {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */
      color: #292929;
      text-align: left;
    }

    &--cat {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */
      color: #292929;
      text-align: left;
    }
  }

}
