.main {
  padding: $section-indent 0;
  background-color: $light;

  @include media-breakpoint-md {
    padding-bottom: 156px;
  }

  &__section {
    padding-top: $anchor-indent;
    margin-top: -$anchor-indent;

    &:not(:last-child) {
      margin-bottom: $section-indent;
    }
  }
}
