.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
  background-color: #E8EFF9;
  padding: 0px 20px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include for-tablet() {
    align-items: center;
    padding: 0px 72px 72px;
  }

  @include for-desktop() {
    align-items: center;
  }

  &:target {
    transform: translateX(0%);
  }

  &__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 8px;

  }

  &__call-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #292929;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #292929;
    }
  }
}