.menu {
  background-color: #E5E5E5;
  padding: 0px 20px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__links {
    margin-bottom: 40px;
  }

  &__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 16px;

  }

  &__call-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #292929;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #292929;
    }
  }
}
