.nav {
  background-color: $red-color;
  z-index: 1;

  &__content {
    max-width: 1020px;
    margin: 0 auto;
    height: 100vh;

    padding: 24px 20px 0;
    overflow-y: auto;

    @media (min-width: 600px) {
      padding: 24px 60px 0;
    }
  }

  &__top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include logo;
  }

  &__icon {
    @include icon;

    &-cross {
      background-image: url(../images/cross.svg);
    }

  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    &-phone {
      display: block;
      text-decoration: none;
      color: $white-color ;
      width: max-content;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      text-transform: uppercase;
    }

    &-call-to-action {
      display: block;
      text-decoration: none;
      color: $white-color ;
      width: max-content;
      padding-bottom: 8px;
      border-bottom: 1px solid $white-color ;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
