.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  &__logo {
    height: 16.38px;
    width: 130px;
  }

  &__phone {
    height: 18px;
    width: 18px;
    padding-left: 45px;
  }

  &__list {
    height: 12px;
    width: 18px;
    padding-right: 20px;

    &:hover {

    }
  }
}
