.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  @include for-tablet() {
    max-width: 744px;
  }

  @include for-desktop() {
    max-width: 1020px;
  }

  &__wrapper {

    @include for-tablet() {
      display: flex;
      flex-direction: column;
      width: 616px;
      justify-content: left;
    }

    @include for-desktop() {
      display: flex;
      flex-direction: column;
      width: 1020px;
      justify-content: left;
    }
  }

  &__logo {
    height: 16.38px;
    width: 130px;

    @include for-tablet() {
      height: 24px;
      width: 190.08px;
      margin-right: 340px;
    }

    @include for-desktop() {
      height: 24px;
      width: 190.08px;
      margin-right: 700px;
    }
  }

  &__phone {
    height: 18px;
    width: 18px;
    padding-left: 80px;

    @include for-tablet() {
      height: 24px;
      width: 24px;
      padding-right: 20px;
      padding-left: 0px;
    }

    @include for-desktop() {
      padding-left: 50px;
      height: 24px;
      width: 24px;
    }
  }

  &__list {
    background-image: url(../../src/images/burger_vector.svg);
    height: 12px;
    width: 18px;

    @include for-tablet() {
      height: 19px;
      width: 24px;
    
    }

    @include for-desktop() {
      height: 19px;
      width: 24px;
    }
  }

  &__x {
    height: 16px;
    width: 16px;

    @include for-tablet() {
      height: 24px;
      width: 24px;
      padding-left: 50px;
    }

    @include for-desktop() {
      height: 24px;
      width: 24px;
      padding-left: 100px;
    }
  }
}