.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    height: 153px;
    width: 153px;
    margin-bottom: 28px;
  }

  &__photo {
    height: 100%;
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
    line-height: 30px;
    text-align: center;
    color: #0075ff;
  }

  &__position {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #3e3e3e;
  }
}
