.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-bottom: 16px;
  justify-items: center;

  @include for-tablet() {
    grid-template-columns: 3fr 2fr;
    column-gap: 24px;
    width: 600px;
  }

  @include for-desktop() {
    grid-template-columns: 3fr 2fr;
    column-gap: 24px;
    max-width: 1020px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &--1 {

      @include for-tablet() {
        grid-template-columns: 1fr 3fr;
        column-gap: 24px;
        }

      @include for-desktop() {
      grid-template-columns: 1fr 3fr;
      column-gap: 24px;
      }
    }
  }

  &__image {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }

    &--1 {
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
      }

      @include for-tablet() { 
        width: 187px;
        height: 187px;
      }

      @include for-desktop() {
        height: 320px;
        width: 324px;
      }
    }

    @include for-tablet() {
      width: 392px;
      height: 187px;
    }

    @include for-desktop() {
      height: 320px;
      width: 672px;
    }
  }

  &__recommend {
    display: flex;
    width: 280px;
    height: 277px;
    padding-bottom: 32px;
  }

  &__desc {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #292929;
    font-weight: 700;
    padding-bottom: 40px;
    text-align: left;

    @include for-tablet() {
      font-size: 24px;
      line-height: 140%;
    }

    @include for-desktop() {
    font-size: 24px;
    line-height: 140%;
    }

    &__wrapper {
      display: flex;
        justify-content: left;

      @include for-tablet() {
        width: 100%;
          max-width: 600px;

      }

      @include for-desktop() {
      width: 100%;
      max-width: 1020px;
      }
    }
  }

  &__gallery {
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0px;

    @include for-tablet() {
      margin-top: 70px;
    }

    @include for-desktop() {
      margin-top: 70px;
    }
  }
}
