.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-bottom: 16px;

  @include for-desktop() {
    grid-template-columns: 3fr 1fr;
    column-gap: 24px;
  }

  &--1 {
    @include for-desktop() {
    grid-template-columns: 1fr 3fr;
    column-gap: 24px;
    }
  }

  &__item {
    width: 100%;
    position: relative;
    padding-top: 100%;

    @include for-desktop() {
      padding-top: 0;
    }
  }

  &__image {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;

    @include for-desktop() {
      max-width: 672px;
      height: 321px;
    }

    &--1 {
      @include for-desktop() {
        max-width: 324px;
        height: 321px;
      }
    }
  }

  &__recommend {
    display: flex;
    width: 280px;
    height: 277px;
    padding-bottom: 32px;
  }

  &__desc {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #292929;
    font-weight: 700;
    padding-bottom: 40px;
  }
}