.product {
  padding: 60px 0 92px;

  @include onTablet {
    padding: 120px 0;
  }

  @include onDesktop {
    padding: 120px 0 144px;
  }

  &__advertise {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

    @include onTablet {
      flex-direction: row;
    }

    @include onDesktop {
      max-width: 933px;
    }
  }

  &__bikes {
    padding-top: 92px;
  }

  &__title {
    @include sectionTitle;

    @include onTablet {
      width: 50%;
    }

    @include onDesktop {
      min-width: max-content;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;

    @include onTablet {
      width: 50%;
    }

    @include onDesktop {
      width: 70%;
    }
  }

  &__heading {
    @include sectionTitle;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    padding-top: 40px;

    @include onTablet {
      gap: 48px;
    }

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
    }
  }

  &__item {
    margin: 0 auto;

    @include onTablet {
      width: 392px;
    }
  }

  &__picture {
    margin: 0 auto;
    padding-bottom: 32px;
    transition: transform $transitionDuration ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    padding: 8px 0 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
