.product {
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #292929;

  &__wrapper {
    padding: 0 24px 0;
  }

  &__paragraph {
    font-weight: 700;
    padding-bottom: 8px;
  }

  &__recommend {
    padding-bottom: 32px;
  }

  &__cat {
    font-weight: 400;
    padding-bottom: 12px;
  }

  &__price {
    font-weight: 700;
    padding-bottom: 48px;
  }

  &__img {
    width: 280px;
    height: 277px;

    @include for-desktop() {
      width: 324px;
      height: 320px;
    }
  }
}