.product-card {
  &__image {
    width: 100%;
    margin-bottom: 32px;

    cursor: pointer;
    transition: transform $time-animations;

    &:hover {
      transform: scale(1.1);
    }
  }
  &__title {
    display: block;
    margin-bottom: 8px;

    font-weight: 700;
    color: $c-font-default;
  }

  &__price {
    font-weight: 700;
    color: $c-font-default;
  }
  &__description {
    margin: 0 0 12px;
  }
}
