.schedule {
  &__title {
    margin-bottom: 32px;
  }

  &__table {
    display: flex;
    gap: $gap;
    margin-bottom: 16px;
  }

  &__table-title {
    margin-bottom: 16px;
  }

  &__table-paragraph:not(:last-child) {
    margin-bottom: 8px;
  }

  &__table-days {
    font-weight: $fw-normal;
  }

  &__main-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
