.section__products {
  margin-bottom: 24px;

  @include for-desktop() {
    display: flex;
    justify-content: center;
  }
}

.section__whyus {
  @include for-desktop() {
    display: flex;
  }
}

.section__gallery {
  margin-bottom: 120px;
}

.section__contacts {
  @include for-desktop() {
    display: flex;
  }
}