.section__products {
  margin-bottom: 24px;

  @include for-desktop() {
    display: flex;
    justify-content: center;
  }
}

.section__whyus {
  @include for-desktop() {
    display: flex;
    margin-left: 70px;
  }
}

.section__gallery {
  margin-bottom: 120px;

  @include for-desktop() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1020px;
    margin-left: 70px;
  }
}

.section__contacts {
  @include for-desktop() {
    display: flex;
  }
}