.section {
  &__products {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include for-desktop() {
      flex-direction: row;
    }
  }

  &__whyus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    @include for-tablet() {
      flex-direction: row;
      align-items: start;
    }

    @include for-desktop() {
      flex-direction: row;
      align-items: start;
    }
  }

  &__gallery {
    margin-bottom: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }

  &__contacts {
    display: flex;
    width: 280px;
    justify-content: left;

    @include for-tablet() {
      width: 200px;
      margin-right: 80px;
    }

    @include for-desktop() {
      width: 237px;
      margin-right: 180px;
      height: 420px;
    }
  }
}