@import "../utils/vars";

.testimonials {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
  }

  &__box {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 240px;
  }

  &__image {
    width: 153px;
    height: 153px;
    border-radius: 50%;
  }

  &__name {
    color: $link-color;
    font-weight: bold;
    font-size: 24px;
  }

  &__position {
    margin: 4px 0 16px;
    color: #9fadc2;
  }

  &__text {
    margin-top: 4px;
    text-align: center;
  }
}

@media only screen and (max-width: $media-laptop) {
  .testimonials__container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 799px) {
  .testimonials__box:nth-of-type(3) {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 580px) {
  .testimonials {
    &__container {
      flex-direction: column;
      align-items: center;
      margin-top: 53px;
    }
    &__box:not(:first-of-type) {
      margin-top: 48px;
    }
  }
}
