.title {
font-family: "Inter";
font-style: bold italic;
font-weight: 800;
font-size: 32px;
line-height: 32px;
line-height: 100%;
text-align: left;
vertical-align: center;
letter-spacing: -1.5px;
margin-bottom: 1px;
color: #292929;

&--secondary {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -1.5px;
  color: #292929;
  @media screen and (max-width: 320px) and (min-width: 1px) {
    padding-bottom: 48px;
  }
  @media screen and (min-width: 321px) {
    padding-bottom: 64px;
  }
  }

  &--third {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #292929;
    @media screen and (max-width: 320px) and (min-width: 1px) {
      padding-bottom: 48px;
    }
    @media screen and (min-width: 321px) {
      padding-bottom: 64px;
    }
  }
}
