.top-nav {
  $block: &;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;

  @include media-breakpoint-md {
    padding-top: 32px;
  }

  &__buttons {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @include media-breakpoint-md {
      margin-right: 63px;
    }
  }

  &__phone {
    position: relative;
    display: block;

    &:hover {
      #{$block}__phone-icon {
        animation: shake 1.2s ease-in-out;
      }

      @include media-breakpoint-md {
        #{$block}__phone-container {
          visibility: visible;

          transform: translate(-100%, -50%);
        }
      }
    }
  }

  &__phone-container {
    position: absolute;
    visibility: hidden;
    top: 50%;

    width: max-content;
    padding-right: 20px;

    text-align: right;

    transform: translate(-70%, -50%);
    transition: transform $duration-default linear;
  }
}
