.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;

  &__buttons {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @include media-breakpoint-md {
      margin-right: 63px;
    }
  }
}
