.whyus {

  &__wrapper {
    display: flex;
      flex-direction: column;
      align-items: left;
      width: 280px;

    @include for-tablet() {
      width: 280px;
      
    }

    @include for-desktop() {
      width: 420px;
      margin-right: 170px;
    }

    &--2 {
      width: 250px;

      @include for-desktop() {
      width: 410px;
      }
    }
  }
}
