.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 56px;
  border-radius: 40px;
  background-color: $basicColor;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  color: $menuTextColor;
  
  cursor: pointer;
  transition: all 0.3s;

  &--margin {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
  
  &:hover {
    background-color: $basicColor;
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    background-color: $basicColor;
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
