.link {
  color: $basicColor;
  text-decoration: none;

  &__model {
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: border-color 0.3s;

    &:hover {
      border-color: #fff;
    }
  }
}
