@mixin onTablet {
  @media screen and (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (min-width: 1260px) {
    @content;
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }
}