.compare {
  &__cards {
    @include onDesktop {
      @include useGrid (12 ,24px);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__image-container {
    max-height: 264px;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__description {
    color: #fff;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 8px;

  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 0;

  }
}
