.button {
  //display: block;
  padding: 21px 0;
  text-align: center;
  border-radius: 8px;
  line-height: 14px;
  font-weight: 700;
  background-color: $c-blue;
  color: $c-white;
  border: 2px solid $c-blue;

  cursor: pointer;

  &--transparent {
    width: 188px;
    color: $c-blue;
    background-color: transparent;
  }
}
