.consultation {
  padding: 75px 0;

  &__title {
    text-align: center;
    margin-bottom: 90px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 412px;
  }

  &__heading {
    @include text-heading;
    margin-bottom: 15px;
    max-width: 240px;
  }

  &__text {
    @include text;
  }

  &__form {
    flex: 1;
    max-width: 413px;
  }
}
