.consultation {
  padding: 75px 0;

  &__title {
    text-align: center;
    margin-bottom: 90px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;

    max-width: 412px;
    margin-right: 20px;
  }

  &__heading {
    @include text-heading;
    margin-bottom: 15px;
    max-width: 240px;
  }

  &__text {
    @include text;
  }

  &__form {
    flex: 1;
    max-width: 413px;
  }
}

@include xxl {
  .consultation {
    flex-direction: column;
    padding: 32px 0;

    &__title {
      margin-bottom: 53px;
    }

    &__block {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__info {
      margin-right: 0;
      margin-bottom: 32px;
    }

    &__form {
      width: 100%;
    }
  }
}
