.contact {
  padding: 75px 0;

  @media screen and (max-width: 400px) {
    padding: 32px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 90px;
    @media screen and (max-width: 400px) {
      margin-bottom: 53px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    flex: 1;
    max-width: 500px;

    @media screen and (max-width: 850px) {
      max-width: 100%;
    }

    @media screen and (max-width: 400px) {
      flex-direction: column;
      align-self: flex-start;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    margin-right: 80px;

    @media screen and (max-width: 850px) {
      margin-right: 50px;
    }

    @media screen and (max-width: 400px) {
      margin-right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 165px;
    margin-bottom: 25px;
    white-space: nowrap;

    @media screen and (max-width: 850px) {
      max-width: 100%;

    }
  }

  &__label {
    @include text-small;
    margin-bottom: 8px;
  }

  &__link {
    @include text;
  }

  &__form {
    flex: 1;
    max-width: 413px;

    @media screen and (max-width: 850px) {
      width: 100%;
    }
  }
}
