.contact {
  padding: 75px 0;

  &__title {
    text-align: center;
    margin-bottom: 90px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex: 1;
    max-width: 500px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 155px;
    margin-bottom: 25px;
  }

  &__label {
    @include text-small;
    margin-bottom: 8px;
  }

  &__link {
    @include text;
  }

  &__form {
    flex: 1;
    max-width: 413px;
  }
}
