.form {
  display: flex;
  flex-direction: column;

  &__input {
    padding: 17px;
    margin-bottom: 15px;

    font-size: 14px;
    line-height: 14px;

    border-radius: 8px;
    border: none;
    background-color: $c-gray-light;

    &--textarea {
      height: 145px;
      resize: none;
    }

    &::placeholder {
      color: $c-gray-darkest;
    }
  }

  &__button {
    margin-top: 20px;
  }
}
