.gallery {
  padding: 75px 0;

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__block {
    margin-bottom: 40px;
  }

  &__images {
    display: flex;
    margin-bottom: 25px;
  }

  &__image {
    display: flex;
    height: 265px;
    border-radius: 8px;
    cursor: pointer;

    transition: box-shadow 0.35s ease;

    &:hover {
      box-shadow: 7px 8px 15px -9px #002c5f;
    }

    &:first-child {
      margin-right: 30px;
    }

    &--33 {
      flex: 1;
    }

    &--50 {
      flex: 1;
    }

    &--66 {
      flex: 2;
    }
  }

  &__image-item {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 8px;
  }

  &__link {
    @include text-bold;
  }

  &__button {
    display: block;
    margin: 40px auto 0;
  }
}

@include sm {
  .gallery {
    &__block {
      margin-bottom: 32px;
    }

    &__images {
      margin-bottom: 16px;
    }

    &__image {
      height: 131px;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

@include md {
  .gallery {
    &__image {
      height: 210px;
    }
  }
}

@include xxl {
  .gallery {
    padding: 32px 0;

    &__image {
      &--66 {
        flex: 1;
      }
    }
  }
}
