.gallery {
  padding: 75px 0;

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__block {
    margin-bottom: 40px;
  }

  &__images {
    display: flex;
    margin-bottom: 25px;
  }

  &__image {
    &:first-child {
      margin-right: 30px;
    }

    height: 265px;
    display: flex;

    &--33 {
      flex: 1;
    }

    &--50 {
      flex: 1;
    }

    &--66 {
      flex: 2;
    }
  }

  &__image-item {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 8px;
  }

  &__link {
    @include text-bold;
  }

  &__button {
    display: block;
    margin: 40px auto 0;
  }
}
