.info {
  padding: 100px 0 75px;

  &__container {
    display: flex;
  }

  &__title {
    @include text-title;
    flex: 1 0 50%;

    &--blue {
      color: $c-blue;
    }
  }

  &__details {
    max-width: 80%;
  }

  &__heading {
    @include text-heading;
    margin-bottom: 16px;
  }

  &__text {
    @include text;
    margin-bottom: 30px;

    &--bold {
      font-weight: 700;
    }
  }
}

@include lg {
  .info {
    &__title {
      font-size: 36px;
      line-height: 36px;
    }
  }
}

@include xxl {
  .info {
    flex-direction: column;
    padding: 64px 0;

    &__container {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 48px;
    }
  }
}
