.nav {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 8px 24px;

    &--active {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;

      cursor: default;
      pointer-events: none;
    }
  }

  &__link {
    @include text-link;
    transition: color 0.3s ease;

    &:hover {
      color: $c-dark-gray;
    }
  }
}

@include xxl {
  .nav {
    display: none;
  }
}
