.section-title {
  @include text-title;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 49%;

    display: block;
    width: 20px;
    height: 13px;

    background-image: url(../images/crown.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@include lg {
  .section-title {
    font-size: 36px;
    line-height: 36px;
  }
}
