.about-us {
  &__container {
    @include media-tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }

    @include media-desktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__title {
    text-align: left;

    @include media-tablet {
      grid-column: 3 span;
    }

    @include media-desktop {
      grid-column: 5 span;
    }
  }

  &__text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;

    @include media-tablet {
      grid-column: 3 span;
    }

    @include media-desktop {
      grid-column: 7 span;
    }
  }
}
