.about {
  &__title {
    margin-top: 0;
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    letter-spacing: -1.5px;
    color: $main-font-color;
  }

  &__pre-subtitle {
    margin-top: 0;
    margin-bottom: 2px;

    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: $accent-main;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $main-font-color;
  }
}
