.about-us {

  @include onTablet {
    &--desktop {
      display: grid;
      grid-template-columns: $two-columns;
      gap: $grid-gap;
    }
  }

  &__title {
    margin-bottom: $margin-bottom / 1.5;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: start;
  }

  &__schedule {
    margin-bottom: $margin-bottom / 2;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: $margin-bottom / 3;

      &-link {
        text-decoration: none;
        color: inherit;
      }
    }

    &-info {
      display: flex;
      margin-bottom: $margin-bottom / 3;
    }

    &-time {
      margin-right: 24px;
      font-weight: 700;
    }

    &-closed {
      margin-bottom: $margin-bottom / 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
