.about {
  &__title {
    margin: 0 0 48px;
    align-items: center;
    color: $color-black;

    @include text-properties(36px, 36px, 700, -1.5px);

    @include onDesktop {
      margin-bottom: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__title-link {
    color: $color-blue;
    text-decoration: none;
  }

  &__subtitle {
    display: block;
    margin-bottom: 16px;

    @include text-properties(24px, 30px, 700);

    color: $color-blue;
    text-decoration: none;
  }

  &__paragraph {
    margin: 0 0 27px;

    &:last-child {
      margin-bottom: 0;
    }

    &--important {
      font-weight: 700;
    }
  }
}
