.about {
  color: $main-dark;
  &__title {
    margin: 0 0 32px;
    text-align: left;

    &--link {
      text-decoration: none;
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: normal;
      color: $main-accent-red;
    }
  }

  &__place {
    &:first-child {
      margin-bottom: 24px;
    }

    &--title {
      margin: 0;
      font-size: 24px;
      line-height: 30px;
    }

    &--content {
      display: flex;
      flex-direction: row;
      margin-block: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--hours {
      margin-right: 24px;
      gap: 8px;
      font-weight: bold;
    }
  }
}
