.about-us {
  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__image {
    margin: 0 0 32px;
    box-sizing: border-box;
    place-items: center;
    height: 278px;
    width: 100%;

    object-fit: contain;
    object-position: center;
    transition: all 0.5s;

    &:hover {
      transform: scale(0.8) ;
    }

    @include onTablet {
      height: 388px;
    }

    @include onDesktop {
      height: 320px;
    }
  }

  &__name {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 16px;
  }

  &__category {
    margin: 0 0 8px;
  }

  &__price {
    margin: 0 0 8px;
    font-weight: 700;
  }
}
