.address {
  grid-column: 8 / 11;
  justify-self: center;
  &__label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 24px;

    &:first-child {
      margin-top: 48px;
    }
  }

  &__content {
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}
