.address {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    font-family: Cinzel, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #161616;
    font-style: normal;
  }

  &__phone {
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #3e3e3e;
    font-style: normal;
    padding-bottom: 8px;
    text-decoration: none;
  }

  &__addr {
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #3e3e3e;
    font-style: normal;
    text-decoration: none;
  }
}
