.adv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-start;

  &__estate {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    max-width: 324px;
    letter-spacing: -1.5px;
  }

  &__link {
    color: #0075ff;
    scroll-behavior: smooth;
  }

}
  
@media (max-width: 1024px) {
  .adv {
    flex-direction: column;
    &__estate {
      font-size: 36px;
      line-height: 48px;
      font-weight: 700;
      max-width: 240px;
    }
  
    &__link {
      display: inline-block;
      color: #0075ff;
      margin-bottom: 48px;
    }

  }
}
