.article {
  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: left;

  &__hightlight {
    font-family: Cinzel, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: #D12D35
  }
}
