.article {
  &__picture {
    margin-top: 48px;
  }

  &__item-name {
    margin-top: 32px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  &__item-description {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__item-price {
    margin-top: 16px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  &__images {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
  }

  &__title {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  &__paragraph {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
