.article {
  display: flex;
  flex-direction: column;
  &__picture {
    margin-top: 48px;
    align-self: center;
    width: 280px;
    transition: transform 1s;
    @include for-desktop() {
      width: 329px;
    }

    &:hover {
      @include for-desktop() {
        transform: scale(1.1);
      }
    }
  }

  &__item-name {
    margin-top: 32px;
    font-size: 24px;
    font-style: normal;
    font-weight: $font-heavy;
    line-height: 140%;
  }

  &__item-description {
    font-size: 16px;
    margin-top: 8px;
    font-style: normal;
    font-weight: $font-light;
    line-height: 140%;
  }

  &__item-price {
    margin-top: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: $font-heavy;
    line-height: 140%;
  }

  &__images {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;

    @include for-mac() {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__image {
    &-item {

      width: 130px;
      height: 130px;
      transition: transform 0.5s;
      @include for-mac() {
        width: 184px;
        height: 187px;
      }
      @include for-desktop() {
        width: 324px;
        height: 320px;
      }
      &--big {
        position: relative;
        z-index: 2;
        @include for-mac() {
          width: 392px;
          height: 187px;
        }

        @include for-desktop() {
          width: 672px;
          height: 321px;
        }
        width: 130px;
        height: 130px;
        object-fit: cover;
      }

      &:hover {

        transform: scale(1.1);
      }
    }
  }

  &__title {
    font-size: 24px;
    margin-top: 16px;
    font-style: normal;
    font-weight: $font-heavy;
    line-height: 140%;
  }

  &__paragraph {
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: $font-light;
    line-height: 140%;
  }

}
