.benefit {
  &__photo-container {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-height: 320px;
    margin-bottom: 16px;

    cursor: pointer;
    transition: 0.6s transform;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      padding-bottom: 0;
      height: 187px;
    }

    @include onDesktop {
      padding-bottom: 0;
      height: 320px;
    }
  }

  &__photo {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    @include hover(transform, scale(105%));
  }
  
  &__link {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;

    font-size: 24px;
    line-height: 140%;
    color: $c-white;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;

      background-color: $c-white;
      transform: scaleX(0);
      transform-origin: right;
      transition: 0.6s transform;
    }
    &:hover {
      color: $c-white;

      &:after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &__text {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
