.benefit {
  &__photo-container {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-height: 320px;
    margin-bottom: 16px;
    z-index: -1;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      padding-bottom: 0;
      height: 187px;
    }

    @include onDesktop {
      padding-bottom: 0;
      height: 320px;
    }
  }

  &__photo {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__link {
    display: block;
    margin-bottom: 8px;

    font-size: 24px;
    line-height: 140%;
    color: $c-white;
    text-decoration: none;
  }

  &__text {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
