.bikes {
  &__wrapper {
    display: grid;
    gap: 40px;
    justify-content: center;

    @include onTablet {
      gap: 48px;
    }

    @include onDesktop{
      gap: 24px;
      grid-template-columns: repeat(3, $cardWidthDesktop);
    }
  }
}
