.bike-card {
  width: 280px;

  @include onTablet {
    @include cardSize(392px);
  }

  @include onDesktop {
    @include cardSize(33%);
  }

  &__image {
    width: 100%;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    margin: 32px 0 8px;

    @extend %bike-card-font-property;
  }

  &__price {
    display: inline-block;
    margin-top: 16px;

    @extend %bike-card-font-property;
  }
}
