.bikes {
  color: $color-light-100;

  &__title {
    @extend %title;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include mediaDesktop {
      margin-bottom: 0;
    }

    &-image {
      margin-bottom: 32px;

      @extend %img-hover-effect;
    }

    &-title {
      margin-bottom: 8px;

      @extend %heading;
    }

    &-description {
      margin-bottom: 16px;

      @extend %paragraph;
    }

    &-price {
      @extend %heading;
    }
  }

  &__text {
    padding-top: 32px;

    @include mediaPad {
      padding-top: 0;
    }

    &-paragraph {
      font-size: $fs-250;
      font-weight: $fw-semi-bold;
      line-height: 1.4;
    }
  }
}
