.bike-card {
  width: $bike-card-phone-width;

  @include onTablet {
    @include cardSize($bike-card-tablet-width);
  }

  @include onDesktop {
    @include cardSize($bike-card-desktop-width);
  }

  &__image {
    width: 100%;

    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    margin: 32px 0 8px;

    @extend %bike-card-font-property;
  }

  &__price {
    display: inline-block;
    margin-top: 16px;

    @extend %bike-card-font-property;
  }
}
