.body {
  height: 100vh;
  font-family: "Cinzel", serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: $color-main-dark;
  scroll-behavior: smooth;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  &.lock {
    overflow: hidden;
  }
}
