.boodha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  padding-bottom: 24px;

  @media (min-width: 744px) {
    gap: 24px;
  }

  &__item {
    width: 100%;
    object-fit: cover;
  }
}
