.btn {
  @extend %btn-reset;
  color: $base-color;
  background-color: $white-color;
  font-weight: 700;
  line-height: 27px;
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 40px;
  transition: box-shadow $transition-duration;

  @include hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
