.burger {
  &::before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(../images/Icon-Burger-menu.svg);
    background-size: cover;
  }

  &::after {
    content: "";
    display: none;
    height: 24px;
    width: 24px;
    background-image: url(../images/Icon-Burger-menu-hover.svg);
    background-size: cover;
  }

  &:hover {
    &::before {
      display: none;
    }
    &::after {
      display: inline-block;
    }
  }

  &__label {
    @include visually-hidden();
  }
}
