.burger {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(../images/Icon-Burger-menu.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @include for-mac() {
    height: 32px;
    width: 32px;
  }
  &__label {
    @include hidden();
  }

}
