@use '../utils/mixins' as *;

.burger {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: end;

  &__icon {
    height: 12px;
  }
  &__label {
    @include visually-hidden;
  }
}
