.burger-icon {
  display: block;
  width: 18px;
  height: 12px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet() {
    width: 24px;
    height: 16px;
  }

  &--menu {
    background-image: url(../images/menu.svg);
  }

  &--menu:hover {
    background-image: url(../images/menu_hover.svg);
  }

  &--cross {
    background-image: url(../images/x_icon.svg);
    width: 16px;
    height: 16px;

    @include onDesktop() {
      width: 22px;
      height: 22px;
    }
  }
}
