.button {
  @extend %flexCenter;
  margin: auto;
  text-align: center;

  height: 56px;
  font-weight: $fontWeight700;
  font-size: 1rem;
  line-height: 27px;
  color: $DarkJungleGreen;
  background: $white;
  border-radius: 40px;

  cursor: pointer;

  text-decoration: none;
  transition: $transitionDuration;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
