.view-btn {
  margin-bottom: 104px;
  background-color: #fff;
  cursor: pointer;

}

@media (max-width: 1024px) {
  .view-btn {
    margin-bottom: 64px;
  }
}

.show-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  color: #0075ff;
  scroll-behavior: smooth;
}
