@import "./../utils/vars";
@import "./../utils/mixins";

.button {
  @include fontParams (16px, 140%, 700);
  color: $secondaryColor;
  background-color: $primaryColor;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
}
