.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 56px;

  background-color: #fff;
  border-radius: 40px;

  text-decoration: none;
  color: $linksTextColor;
  font-weight: 700;

  transition: box-shadow $transitionSetup;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
