.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 56px;
  border: 2px solid $blue-color;
  border-radius: 8px;

  @include button-text;
  color: $blue-color;

  cursor: pointer;
  
  transition: color $transition-duration ease,
    border-color $transition-duration,
    background-color $transition-duration,
    box-shadow $transition-duration,
    transform $transition-duration ease;

  &--primary {
    color: $white-color;
    background-color: $blue-color;
  }

  &:hover {
    color: $white-color;
    border-color: $button-actions-color;
    background-color: $button-actions-color;
    box-shadow: $box-shadow-big;
  }

  &:active {
    border-color: $button-actions-color;
    background-color: $button-actions-color;
    box-shadow: $box-shadow-small;
    transform: scale(0.95);
  }
}
