.buy-direct {
  &__title {
    margin-top: 0;
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $main-font-color;

    @include onTablet {
      font-size: 40px;
      line-height: 100%;
      margin-bottom: 0;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 0;
    }
  }

  &__list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 40px;

    font-weight: 700;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__article {
    line-height: 27px;
  }
}
