.call-link {
  text-decoration: none;
  color: $color-primary;
  font-weight: 700;
  display: block;
  width: 10rem;

  &__number {
    font-size: 1rem;
    line-height: 168.75%;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__text {
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 1px solid $color-primary;
  }
}
