.card {
  width: $cardWidthMobile;

  @include onTablet {
    width: $cardWidthTablet;
  }

  @include onDesktop {
    width: $cardWidthDesktop;
  }

  color: $primaryTextColor;

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 8px;

    font-size: 24px;
    font-weight: 700;
  }

  &__descriprion {
    min-height: 66px;
    margin-bottom: 16px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
  }
}
