.card {
  margin: 0 auto;
  max-width: 392px;
  height: 100%;
  transition: transform 0.3s ease;
  
  @include onDesktop {
    &:hover {
      transform: translateY(-5%);
    }

    &:hover &__button {
      opacity: 1;
      width: 50%;
    }
    
    &:hover &__img {
      transform: scale(1.1);
    }
  }

  &__button {
    display: none;

    @include onDesktop {
      display: flex;
      opacity: 0;
      margin-top: 16px;
      width: 20%;
      height: 45px;
      transition: opacity 0.3s ease,
        width 0.5s ease,
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background-color: #fff;
        color: $main-color;
      }
  
      &:active {
        background-color: #111;
        border-color: #111;
        color: #fff;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 48px;
  }
  
  &__img {
    @extend %block;
    margin: 0 auto 32px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      max-width: 392px;
    }

    @include onDesktop {
      max-width: 324px;
    }
  }
  
  &__title {
    margin-bottom: 8px;
    line-height: 140%;

    &--br {
      &::after {
        content: "speaker II";
        display: block;

        @include onTablet {
          content: " speaker II";
          display: inline;
        }
      }
    }
  }
  
  &__description {
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 140%;
  }
}
