.categories {
  &__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin-bottom: 16px;
    
    @include onTablet {
      grid-template-columns: 2fr 1fr;
    }
    
    &--glasses {
      @include onTablet {
        grid-template-columns: 1fr 2fr;
      }
    }
  }

  &__category {
    margin-bottom: 40px;
  }
  
  &__img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 187px;

    &--long {
      object-position: 90%;
    }

    @include onTablet {
      max-width: fit-content;
      max-height: 321px;
    }
  }

  &__link {
    grid-column: 1 / -1;
    color: $main-color;
  }
  
  &__button {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    border: 3px solid $main-color;
    background-color: $main-color;
    color: #fff;
    border-radius: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #fff;
      color: $main-color;
    }

    @include onTablet {
      width: 392px;
    }

    @include onDesktop {
      width: 324px;
    }
  }
}
