.categories {

  .category {

    &__photos {
      margin-bottom: 16px;
      display: flex;
      padding: 0 20px;
      gap: 0 20px;
    }

    &__speakers {
      margin-top: 64px;
    }

    &__sunglasses {
      margin-top: 64px;
    }

    &__image {
      height: 130px;
      max-width: 130px;
      object-fit: cover;
      object-position: center;
      flex-shrink: 4;

      &-headphones--1 {
        @include tablet {
          min-height: 184px;
          max-width: 392px;
        }

        @include desktop {
          height: 324px;
          max-width: 672px;
        }
      }

      &-headphones--2 {
        @include tablet {
          min-height: 184px;
          max-width: 392px;
        }

        @include desktop {
          height: 324px;
          max-width: 672px;
        }
      }

      &-speakers--1 {
        @include tablet {
          min-height: 184px;
          min-width: 392px;
        }

        @include desktop {
          min-height: 324px;
          min-width: 672px;
        }
      }

      &-speakers--2 {
        @include tablet {
          min-height: 184px;
          max-width: 184px;
        }

        @include desktop {
          max-height: 324px;
          max-width: 324px;
        }
      }

      &:hover {
        transform: scale(1.06);
      }

      transition: transform 0.3s;

      @include tablet {
        max-height: 320px;
      }

      @include desktop {
        height: 320px;
      }

      &-sunglasses--1 {
        @include tablet {
          min-height: 184px;
          max-width: 184px;
        }

        @include desktop {
          height: 324px;
          max-width: 324px;
        }
      }

      &-sunglasses--2 {
        @include tablet {
          min-height: 184px;
          max-width: 392px;
        }

        @include desktop {
          height: 324px;
          max-width: 672px;
        }
      }
    }
    &__name {
      padding: 0 20px;
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 140%;
      color: $color-font;

      @include tablet {
        font-size: 24px;
      }
    }
  }
}

