.catalog {
  @extend %flex-column-center;
  margin-bottom: 120px;
  &:nth-of-type(2) {
    margin-top: 100vh;
  }

  &__title {
    @extend %title-text;
    margin-bottom: 64px;
    margin: 0 5% 64px;
    text-align: center;
  }
  &__card-wrapper {
    @extend %flex-wrap;
    gap: 24px;
    margin: 0 5vw 0;
    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }
  &__card {
    margin-bottom: 40px;
  }

  &__tile-wrapper {
    @extend %flex-column;
  }

  &__tile {
    margin-bottom: 9vh;
  }

  &__button {
    width: 40%;
    margin: 0 auto;

    @media (max-width: 375px) {
      width: 90%;
    }
  }

}
