.category {

  &__wrapper {
    margin-bottom: $d-margin-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: $d-margin-1_25;

    @include tablet {
      gap: $d-margin-1_5;
    }

    &--all,
    &--accessories {
      @include tablet {
        grid-template-columns: 2fr 1fr;
      }
    }
  
    &--audio {
      @include tablet {
        grid-template-columns: 1fr 2fr;
      }
    }
  }

  &__image-container {
    border-radius: $d-radius;
    overflow: hidden;
  }

  &__image {
    min-width: 0;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: scale 2s ease;

    &:hover {
      scale: 1.3;
    }

    &--wide {
      @include tablet {
        object-position: top;
      }
    }
  }
}
