.compare {
  @include allPaddingsY(
    0, 92px,
    0, 120px,
    0, 144px
  );

  @include onTablet {
    @include useGrid(6);
  }

  @include onDesktop {
    @include useGrid(12);
  }

  &__image {
    margin-bottom: 32px;
    width: 100%;
    @include trans(transform);

    &:hover {
      transform: scale(1.2);
    }
  }

  &__text {
    margin: 0 0 16px;
  }
}
