.compare {
  margin-bottom: 92px;

  @include media-tablet {
    margin-bottom: 120px;
  }

  @include media-desktop {
    margin-bottom: 144px;
  }

  &__container {
    @include container;
  }

  &__content {
    display: grid;
    gap: 40px;

    @include media-tablet {
      grid-template-columns: repeat(6, 1fr);
      gap: 48px;
    }

    @include media-desktop {
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
    }
  }

  &__bike {
    display: flex;
    flex-direction: column;

    @include media-tablet {
      grid-column: 2 / 6;
    }

    @include media-desktop {
      grid-column: 4 span;
    }
  }

  &__bike-photo {
    margin-bottom: 32px;
    align-self: center;
    transition: transform $transition-duration;

    @include hover {
      transform: scale(1.1);
    }
  }

  &__bike-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  &__bike-descr {
    line-height: 1.4;
    margin-bottom: 16px;
  }

  &__bike-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
  }
}
