html {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $text-color;
  scroll-behavior: smooth;
}

.body {

  &--with-menu {
    overflow: hidden;
  }
}

/* ================================ */
[class*="__container"] {
  max-width: none;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 744px) {
  [class*="__container"] {
    max-width: 1260px;
    padding: 0 72px;
  }
}

@media (min-width: 1260px) {
  [class*="__container"] {
    padding: 0 120px;
  }
}
/*================wrong form request ==========*/
.form--request {
  animation: wrong-email 5s infinite;
}

@keyframes wrong-email {
  0% {
    box-shadow: inset 0 0 0 red;
  }

  50% {
    box-shadow: inset 0 0 10px red;
  }

  100% {
    box-shadow: inset 0 0 0 red;
  }
}
