.compare {
  margin: 0;

  &__products {
    display: grid;
    row-gap: 40px;

    @include onTablet {
     justify-items: center;
    }

    @include onDesktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-content: stretch;
    }
  }
}
