.compare {
  &__card {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 48px;
    }

    @include desctop {
      margin: 0;
    }
  }
}