.contact-form {

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    font-family: inherit;
    height: 48px;
    width: 100%;
    padding: 14px 16px;

    font-size: 14px;
    color: $color-dark-gray;
    border-radius: 24px;

    &::placeholder {
      color: $color-placeholder;
    }

    &:hover::placeholder {
      color: $color-dark-gray;
    }
  }

  &__message {
    min-height: 150px;
    line-height: 20px;
    border-radius: 16px;

    resize: vertical;
  }

  &__send-btn {
    width: 100%;
    margin-top: 32px;
  }
}
