.main-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1260px;
  padding: 104px 120px;

  &__adv {
    margin-bottom: 104px;
  }
}
  
@media (max-width: 1020px) {
  .main-container {
    max-width: 100vw;
    padding: 64px 20px;
    box-sizing: border-box;
    
    &__adv {
      margin-bottom: 64px;
    }
  }
}
