@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.contact {
  @include responsive-grid;

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 48px;
  }

  &__input {
    box-sizing: border-box;
    width: 280px;
    height: 48px;
    background-color: $input_bg_color;
    border: 0;
    border-radius: 40px;
    color: $input_text_color;
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 16px;
    padding: 14px 0 14px 16px;

    @media (min-width: $page_width_medium) {
      width: 288px;
    }

    @media (min-width: $page_width_large) {
      width: 411px;
    }
  }

  &__label {
    &:not(:is(:focus, :active)) {
      @include visually-hidden;
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 280px;
    height: 148px;
    background-color: $input_bg_color;
    border: 0;
    border-radius: 40px;
    color: $input_text_color;
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 32px;
    padding: 14px 0 0 16px;

    @media (min-width: $page_width_medium) {
      width: 288px;
    }

    @media (min-width: $page_width_large) {
      width: 411px;

    }
  }

  &__button {
    margin: 0 auto 48px;

    @media (min-width: $page_width_medium) {
      width: 288px;
      margin: 0 0 120px;
    }

    @media (min-width: $page_width_large) {
      width: 411px;
      margin: 0 0 118px;
    }


    &:hover {
    background-color: white;
    color: $main_color;
    border-color: $main_color;
    }

    &::after {
      background-color: $secondary_color;
      border-color: $secondary_color;
      color: white;
    }
  }
}
