@use '../utils/mixins' as *;

.contact-us-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 48px;

  &__input {
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-radius: 40px;
    background-color: #f8f8fa;
    border: 0;
    padding-left: 16px;
    box-sizing: border-box;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      color: #7e7e83;
    }
  }

  &__textarea {
    width: 100%;
    height: 148px;
    border-radius: 16px;
    background-color: #f8f8fa;
    border: 0;
    padding-left: 16px;
    padding-top: 14px;
    box-sizing: border-box;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      border-radius: 50px;
    }
  }
}
