.container {
  --container-padding: 0 20px;
  
  margin: 0 auto;
  max-width: $containerWidth;
  padding: var(--container-padding);

  @include onTablet {
    --container-padding: 0 72px;
  }

  @include onDesktop {
    --container-padding: 0 120px;
  }
}
