.contact-us-address {
  display: flex;
  flex-direction: column;

  &__label {
    font-family: Popkins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 8px;
  }

  &__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    margin-bottom: 24px;

    &:hover {
      color: #ffbfcb;
    }
  }
}
