
.container {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-menu {
    padding: 24px 20px 80px;
    height: 100vh;
  }

  &-common,
  &-about {
    padding: 64px 20px 20px;
    height: max-content;
  }

  @media (min-width: 1024px) {
    max-width: 1020px;
    &-about {
      padding: 104px 20px 80px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-common {
      padding-top: 104px;
    }
  }
}
