.contact {
  @extend %flex-column-center;

  &__title {
    @extend %title-text;
    margin-bottom: 48px;
  }
  &__wrapper {
    @extend %flex-wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 90%;
  }
  &__form {
    @extend %flex-column;
    margin: 0 0 35px 0;
  }
  &__input {
    @extend %form;
    margin-bottom: 16px;
  }
  &__textarea {
    @extend %form;
    @include border-radius-vendor(16px);
    margin-bottom: 24px;
  }
  &__button {
    @extend %button;
  }
  &__contacts {
    @extend %flex-column;
  }
  &__name {
    @include font-thin;
    font-size: 14px;
    line-height: 140%;
    color: $contact-name-color;
    margin-bottom: 8px;
  }
  &__value {
    @extend %card-secondary-text;
    margin-bottom: 24px;
    @include transition-vendor($transition);
    &:hover {
      color: $pink;
    }
  }
}
