.contact-us {

  &__wrapper {
    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 5;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__info {
    margin-top: 48px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: 8 / -1;
      margin-top: 0;
    }
  }
}
