// .container {
//   margin: 0 auto;
//   max-width: 1020px;
//   padding: 0 20px;

//   @include onTablet {
//     padding: 0 24px;
//   }  
  
//   @include onDesktop {
//     padding: 0 40px;
//   }  
// }

.container {
  --width-paddings: 0 20px;
  
  max-width: 1020px;
  padding: var(--width-paddings);
  margin: 0 auto;
  
  @include onTablet {
    --width-paddings: 0 72px;
  }
  
  @include onDesktop {
    --width-paddings: 0 120px;
  }
}
