.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 244px;
  margin: 48px 0 32px;
  align-self: center;
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--gray {
      margin-bottom: 8px;
      font-family: Space Grotesk;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
      color: #9393A3;
    }
    &--text {
      font-family: Space Mono;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      color: #191919;
    }
    &--link {
      text-decoration: none;
    }
  }
}
