.contact-us {
  &__info {
    margin-bottom: 24px;
  }

  &__info-title {
    margin-bottom: 8px;

    font-size: 14px;
    color: $gray-font-color;
  }

  &__info-link {
    color: $lighter-font-color;
    text-decoration: none;

    &:hover {
      color: $gray-font-color;
    }
  }

  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__button {
    margin-bottom: 46px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
