.contact-us {
  margin: auto;

  @media (max-width: 743px) {
    max-width: 400px;
  }

  @include onTablet {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-content: center;
  }

  @include onDesktop {
    gap: 198px;
  }
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 14px;
    line-height: 140%;
  }

  &__text {
    text-decoration: none;
    font-weight: 500;
    line-height: 140%;
    color: #fff;
    transition: 2s;

    &:hover {
      text-decoration: underline;
    }
  }
}
