
.container {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-menu {
    padding: 24px 20px 80px;
    height: 100vh;
  }

  &-common {
    padding: 64px 20px 80px;
    height: max-content;
  }

  @media (min-width: 1024px) {
    max-width: 1020px;
    &-common {
      padding-top: 104px;
    }
  }
}
