.page-main__consultation {
  padding: $mobile-padding;
}

.consultation {
  &__header {
    @extend %h2-crown;
  }

  &__text-wrapper {
    margin-bottom: 32px;
  }

  &__text-header {
    margin-bottom: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    @extend %input-style;
  }

  &__button {
    @extend %button-style;
  }
}

@media (min-width: $desktop-width) {
  .page-main__consultation {
    padding: $desktop-padding;
  }

  .consultation {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__text-wrapper {
      margin-bottom: 0;
    }

    &__text {
      width: 412px;
    }
  }
}
