.contact-us {
  color: $main-dark;

  &--grid {
    display: grid;
  }

  &__field {
    margin-bottom: 48px;

    &--title {
      margin-bottom: 16px;
      font-weight: bold;
    }

    &--subtitle {
      margin-bottom: 4px;
    }

    &--info {
      font-weight: bold;
      color: $main-dark;
    }
  }
}
