.consult {
  display: block;

  &__name {
    display: block;
    width: 280px;
    height: 48px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    background-color: #f7f8ff;
    border-radius: 8px;
    border-color: #f6f8ff;
    padding-left: 17px;
    margin-bottom: 16px;
    border: 1px;
    @include onDesktop {
      width: 411px;
    }
    &::placeholder {
      color: #8f99a8;
    }

    &:focus-visible {
      outline: none !important;
      background-color: #fff;
    }
  }

  &__message {
    display: block;
    width: 280px;
    height: 144px;
    background-color: #f7f8ff;
    border-radius: 8px;
    border-color: #f6f8ff;
    padding-left: 17px;
    padding-top: 14px;
    margin-bottom: 16px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    @include onDesktop {
      width: 411px;
    }

    &::placeholder {
      color: #8f99a8;
    }

    &:focus-visible {
      outline: none !important;
      background-color: #fff;
    }
  }
}
