.consultation {
  padding: $mobile-padding;

  @media (min-width: $desktop-width) {
    padding: $desktop-padding;
  }

  &__header {
    @extend %h2;
  }

  &__wrapper {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__text-wrapper {
    margin-bottom: 32px;

    @media (min-width: $desktop-width) {
      width: 412px;
      margin-bottom: 0;
    }
  }

  &__text-header {
    @extend %text-bold;
    margin-bottom: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      width: 413px;
    }
  }
}
