.contact {

  &__form {
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 0;
    }

    @include desctop {
      margin-bottom: 0;
    }
  }

  &__block {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__row-1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  &__link {
    text-decoration: none;
    color: $main-text-color;
  }

  &__row-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}
