.contacts {
  &__info {
    margin: 0 0 24px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__info-tittle {
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 27px;
    color: $color-light-grey;
  }

  &__info-link {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: 0.3s;

    @include desktop {
      &:hover {
        color: $color-blue;
      }
    }
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
