.consultation {
  &__container {
    @media (min-width: $high-resolution) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__text,
  .form {
    @media (min-width: $medium-resolution) {
      margin: 0 auto;
      max-width: 413px;
    }
  }
  &__text {
    margin-bottom: 2rem;
  }

  &__highlight {
    margin-bottom: 16px;
    @media (min-width: $medium-resolution) {
      max-width: 240px;
    }
  }
}
