.container {
  display: block;
  max-width: $grid-max-width-mobile;
  padding-inline: $grid-padding-inline-mobile;
  margin: 0 auto;

  @extend %transition;

  @include mediaPad {
    max-width: $grid-max-width-pad;
    padding-inline: $grid-padding-inline-pad;
  }

  @include mediaDesktop {
    max-width: $grid-max-width-desktop;
    padding-inline: $grid-padding-inline-desktop;
  }
}
