.contacts {
  &__info {
    margin: 0 0 24px;

    &-title {
      margin: 0 0 8px;

      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #fff;
    }

    &-link {
      position: relative;

      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #fff;
      text-decoration: none;
      

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 1.5px;
        background-color: #fff;
  
        transition: width 0.5s;
        right: 0;
        left: initial;
      }
  
      &:hover::after {
        width: 100%;
        right: initial;
        left: 0;
      }
    }
  
    &__peragraph {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #fff;
      margin: 8px 0 0;
    }
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
