.compare {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white-color;

  @include onDesktop {
    flex-direction: row;
  }

  @include onIPad {
    padding: 0 176px;
  }

  &__block {
    @include onDesktop {
      display: flex;
    }
  }

  &__item {

    @include onDesktop {
      margin-right: 24px;
    }
  }

  &__name {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__about {
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__photo {
    margin-bottom: 32px;
    width: 280px;
    height: 228px;
    transition: transform $duration;

    &:hover {
      transform: scale($scale);
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }

    @include onDesktop {
      width: 324px;
      height: 264px;
    }

    @include onIPad {
      width: 392px;
      height: 316px;
    }
  }
}
