
.data {

  &__input {
    padding: 0 16px;
    height: 48px;
    width: 100%;
    background: #F8F8FA;
    border-radius: 40px;
    border: none;
    color: #292929;

    &::placeholder {
      color: #7E7E83;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &--textarea {
      resize: none;
      height: auto;
      border-radius: 16px;
      padding: 14px 16px;
    }
  }
}
