
.data {

  &__input {
    padding: 0 16px;
    height: 48px;
    width: 100%;
    background: #f8f8fa;
    border-radius: 40px;
    color: #292929;
    border: 1px solid transparent;
    font-family: inherit;

    @include hover(border-color, #D5D7DE);

    &::placeholder {
      color: #7e7e83;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &--textarea {
      resize: none;
      height: auto;
      border-radius: 16px;
      padding: 14px 16px;
    }
  }
}
