.definition {

  max-width: 498px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  &__experience {
    font-weight: 700;
    color: #0075ff;
    line-height: 30px;
    margin-bottom: 16px;
    font-size: 24px;
      
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #3e3e3e;
      
  }
}

@media (max-width: 1024px) {
  .definition {
    width: 100%;
  }
}
