.page-main__description {
  padding: $mobile-padding;
  padding-top: 64px;
}

.description {
  &__header {
    margin-bottom: 48px;
  }

  &__header-link {
    color: $c-blue;
  }

  &__text-header {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__description {
    padding: $desktop-padding;
    padding-top: 104px;

    display: flex;
    justify-content: space-between;
  }

  .description {
    &__header {
      width: 328px;

      margin-bottom: 0;
    }

    &__text-wrapper {
      width: 500px;
    }
  }
}
