@import "../utils";

.description {
  display: flex;
  align-items: start;

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: center;
  }

  &__title,
  &__text {
    width: 50%;

    @media (max-width: 720px) {
      width: 100%;
      text-align: left;
    }
  }

  &__title {
    margin: 0;
    
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.5px;

    @media (max-width: 720px) {
      font-size: 36px;
      margin: 0 0 48px;
    }
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.4s;

    &:hover {
      color: rgb(6, 73, 196);
    }
  }

  &__text {
    padding-left: 15px;
    @media (max-width: 720px) {
      padding-left: 0;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -1px;
    color: $primary-color;

    margin-bottom: 16px;
  }

  &__paragraph {
    margin-bottom: 35px;

    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    &:last-child {
      margin-bottom: 0;
    }

    &--guaranty {
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
    }

    &--guaranty:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
