@import "../utils";
@import "./normalize";

.description {
  display: flex;
  align-items: start;

  &__title,
  &__text {
    width: 50%;
  }

  &__title {
    margin: 0;
    
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.5px;
  }

  &__link {
    color: $text-color-blue;
    text-decoration: none;
    transition: color 0.4s;

    &:hover {
      color: rgb(6, 73, 196);
    }
  }

  &__text {
    padding-left: 15px;
  }

  &__subtitle {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $text-color-blue;

    margin-bottom: 16px;
  }

  &__paragraph {
    margin-bottom: 35px;

    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    &:last-child {
      margin-bottom: 0;
    }

    &--guaranty {
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
    }

    &--guaranty:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
