@media (min-width: 1260px) {
  .container {
    max-width: 1260px;
    padding: 0 120px;
  }

  .header {
    padding: 36px 120px;
    height: 711px;
    background-size: cover;
    background-position-y: center;
    background-image: url("../images/bike-bg-1260.jpg");

    &__logo {
      width: 187px;
      height: 56px;
    }

    &__nav {

      &-icons {
        gap: 32px;
      }
    }
  }

  .h1 {
    bottom: 200px;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
  }

  .wrapper {
    margin-left: -120px;
    margin-right: -120px;
    position: relative;
  }
}
