@import "./../utils/vars";
@import "./../utils/mixins";


.details {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__header {
    @include fontParams(64px, 100%, 500);
    display: flex;
    justify-content: center;
    margin-top: 144px;
  }

  &__photo-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    margin-top: 48px;
  }

  &__img-1 {
    background-image: url("/images/photo_bike/phone-holder.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 1/9;
    padding-bottom: 50%;
  }

  &__img-2 {
    background-image: url("/images/photo_bike/phone-holder-2.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 9/-1;
    padding-bottom: 50%;
  }

  &__img-3 {
    background-image: url("/images/photo_bike/light-red.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 1/9;
    padding-bottom: 50%;
  }

  &__img-4 {
    background-image: url("/images/photo_bike/light-white.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 9/-1;
    padding-bottom: 50%;
  }

  &__img-5 {
    background-image: url("/images/photo_bike/brekes.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 1/5;
    padding-bottom: 50%;
  }

  &__img-6 {
    background-image: url("/images/photo_bike/leight-weight.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    grid-column: 5/-1;
    padding-bottom: 50%;
  }

  &__content-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &__content-title-2 {
    @include fontParams (24px, 140%, 700);
    margin-top: 16px;
    grid-column: 1/5;
  }

  &__content-text-2 {
    @include fontParams (16px, 140%, 400);
    margin-top: 8px;
    grid-column: 1/8;
  }

  &__content-3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &__content-title-3 {
    @include fontParams (24px, 140%, 700);
    margin-top: 16px;
    grid-column: 1/7;
  }

  &__content-text-3 {
    @include fontParams (16px, 140%, 400);
    margin-top: 8px;
    grid-column: 1/9;
  }

  &__explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 324px;
    margin: 62px auto 0;
    border-radius: 40px;
    color: $secondaryColor;
    background-color: $primaryColor;
  }
}
