@use '../utils/mixins' as *;

.detail {
  @include grid;

  &__h {
    grid-column: 1/3;

    @include for-tablet {
      grid-column: 1/7;
    }

    @include for-desktop {
      grid-column: 1/13;
    }
  }

  &__text {
    grid-column: 1/3;

    @include for-tablet {
      grid-column: 1/7;
    }

    @include for-desktop {
      grid-column: 1/13;
    }
  }
}
