.details {
  color: #fff;

  &__list {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }
  }

  &__item {
    @include gridContainer;

    &:not(:last-child) {
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 48px;
      }
    }
  }

  &__image-thumb {
    @include gridElementOnTablet;
    @include gridElementOnDesktop;

    margin-bottom: 16px;
    max-height: 320px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    grid-column: 1/-1;

    margin-bottom: 8px;

    font-size: 24px;
    font-weight: 700;
  }

  &__description {
    grid-column: 1/-1;

    @include onDesktop {
      grid-column: 1/8;
    }
  }

  &__button {
    width: 100%;
    max-width: 392px;

    margin: 0 auto;

    @include onDesktop {
      max-width: 324px;
    }
  }
}
