@import "./../utils/vars";
@import "./../utils/mixins";

.details {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__header {
    @include fontParams(64px, 100%, 500);
    display: flex;
    justify-content: center;
    margin: 144px 0 48px;
  }

  &__photo-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &__img-1 {
    background-image: url("/images/photo_bike/phone-holder.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 1/9;
    padding-bottom: 50%;
  }

  &__img-2 {
    background-image: url("/images/photo_bike/phone-holder-2.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 9/-1;
    padding-bottom: 50%;
  }

  &__img-3 {
    background-image: url("/images/photo_bike/light-red.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 1/9;
    padding-bottom: 50%;
  }

  &__img-4 {
    background-image: url("/images/photo_bike/light-white.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 9/-1;
    padding-bottom: 50%;
  }

  &__img-5 {
    background-image: url("/images/photo_bike/brekes.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 1/5;
    padding-bottom: 50%;
  }

  &__img-6 {
    background-image: url("/images/photo_bike/leight-weight.png");
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 5/-1;
    padding-bottom: 50%;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &__content-title {
    @include fontParams (24px, 140%, 700);
    margin-top: 16px;
    grid-column: 1/9;
  }

  &__content-text {
    @include fontParams (16px, 140%, 400);
    grid-column: 1/9;
    margin: 8px 0 48px;
  }

  &__explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 324px;
    margin: 0 auto;
    border-radius: 40px;
    color: $secondaryColor;
    background-color: $primaryColor;
  }

  @media (max-width: $tabletWidth) {
    &__header {
      margin: 120px 0 64px;
      @include fontParams (42px, 100%, 500);
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
    }

    &__content-title {
      @include fontParams (24px, 100%, 700);
      grid-column: 1/-1;
    }

    &__content-text {
      @include fontParams (16px, 100%, 400);
      grid-column: 1/-1;
    }

    &__explore-btn {
      width: 392px;
      height: 56px;
    }
  }

  @media (max-width: $mobileWidth) {
    &__header {
      margin: 80px 0 48px;
      @include fontParams (32px, 100%, 500);
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }

    &__content-title {
      @include fontParams (24px, 100%, 700);
      grid-column: 1/-1;
    }

    &__content-text {
      @include fontParams (16px, 100%, 400);
      grid-column: 1/-1;
    }

    &__explore-btn {
      width: 278px;
      height: 56px;
    }

  }
}
