.detail {

  &__img {
    width: 100%;
    height: 100%;

    transition: transform $transition-duration;

    object-fit: cover;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin-top: 16px;
  }

  &__text {
    margin-top: 8px;

    @include onDesktop {
      max-width: 670px;
    }
  }
}
