.exhibit {
  &__photo-container {
    position: relative;
    width: 100%;

    box-sizing: border-box;
    max-height: 320px;
    margin-bottom: 24px;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;

      @include onTablet {
        height: 284px;
        padding-bottom: 0;
      }

      @include onDecktop {
        height: 324px;
        padding-bottom: 0;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    @extend %hover-photo;

    $position:
      "right",
      "left";

    @each $side in $position {
      &--#{$side} {
        object-position: #{$side};
      }
    }

    &--not-visible {
      @include onTablet {
        display: none;
      }

      @include onDecktop {
        display: block;
      }
    }
  }

  &__subtitle {
    color: $accent-color;
  }

  &__data {
    font-weight: 400;
    color: $main-dark;
    margin-bottom: 48px;
  }
}
