.explore {
  display: flex;
  justify-content: center;

  &__link {
    margin: 0;
  }

  &__button {
    cursor: pointer;
    box-shadow: 1px solid red;
    padding: 0 48px;
    width: 278px;
    height: 56px;
    border-radius: 40px;
    background: $colorText;

    @include onTablet {
      width: 392px;

    }

    @include onDesktop {
      width: 324px;
    }

    &--text {
      margin: 0;
      color: $colorDark;
      text-align: center;

      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
    }

  }
}
