.explore {
  &--margin {
    margin-top: 40px;

    @include onTable {
      margin-top: 48px;
    }
  }

  &__card {
    &--item {
      margin-bottom: 48px;

      &:last-child {
        margin-bottom: 0;
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $color-menu;
    text-align: center;

    margin-top: 24px;

    @include onTable {
      font-size: 24px;
      line-height: 140%;
      margin-top: 32px;
    }
  }

  &__subtitle {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $section-h;
    text-align: center;
    
    margin-top: 4px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include backgroundReset;
    transition: all 0.3s linear;

    &:hover {
      transform: scale(1.1);
    }

    @include onTable {
      height: 387px;
    }
    
    @include onDesktop {
      height: 320px;
    }
  }
}