.explore {
  margin-bottom: 40px;

  &__grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    @include tablet {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }

  &__card {
    width: min-content;
    margin: 0 auto;

    @include tablet {
      width: 100%;
    }
  }

  &__image {
    @include tablet {
      width: 100%;
    }

    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__subheading {
    color: $red-main;
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
  }

  &__info {
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    text-align: center;
    margin-bottom: 48px;

    @include desktop {
      margin-bottom: 90px;
    }
  }
}
