.feature {
  &__photos {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 16px;

    @include onTablet {
      gap: 24px;
    }
  }

  &__image-wrapper {
    flex-basis: 50%;

    @include onTablet {
      flex-basis: auto;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include scale-on-hover;
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $main-text-color;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
  }
}
