.footer {
  background-image: url(../images/photos/backgrounds/footer.png);
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include onDesktop {
    height: 555px;
  }

  @include onTablet {
    height: 480px;
  }
}
