.footer {
  background-image: url(../images/photos/Footer-cover.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: clamp(120px, 15vw, 182px);
  height: clamp(555px, 46vw, 480px);
}
