.footer {
  height: $footer-height-mobile;

  background-size: cover;
  background-position: center;
  background-image: url("/images/backgrounds/bg_footer.jpg");

  @extend %transition;

  @include mediaPad {
    height: $footer-height-pad;
  }

  @include mediaDesktop {
    height: $footer-height-desktop;
  }
}
