.form {
  &-field {
    @extend %form;
    height: 48px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 32px;
    }

    &::placeholder {
      color: $placeholder-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      border-color: $form-hover-color;
      &::placeholder {
        color: $main-dark;
      }
    }

    &:focus {
      border-color: $main-dark;
      outline: none;
    }

    &--textarea {
      height: 144px;
      resize: none;
    }
  }
}
