.form {

  @include for-mobile {
    margin-bottom: 48px;
  }

  &__institution {
    @include font-param(16px, 27px, 700);
    margin-bottom: 16px;
  }

  &__type {
    @include font-param(14px, 27px, 400);
    margin-bottom: 4px;
  }

  &__type-content {
    @include font-param(16px, 27px, 700);
    margin-bottom: 8px;
  }

  &__label {
    margin-bottom: 16px;
    padding: 14px 0;
    text-indent: 16px;
    background-color: #f8f8fa;
  }

  &__input {
    margin-bottom: 16px;
    padding: 14px 0;
    width: 100%;
    text-indent: 16px;

    &::placeholder {
      @include font-param(14px, 20px, 400);
      color: $placeholder-color;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:focus {
      border: 1px solid #161616;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    width: 100%;
  }
}
