@import "../utils/vars";
@import "../utils/mixins";

.form {
  width: 411px;

  &__input {
    width: 100%;
    height: 48px;
    @include fontParams (14px, 20px, 400);
    padding: 14px 16px;
    border-radius: $inputFormRadius;
    border: $inputBackground;
    color: $inputColorHover;
    border: 1px solid $inputColorHover;
    margin-bottom: 16px;
  }

  &__textarea {
    display: flex;
    justify-content: flex-start;
    @include fontParams (14px, 20px, 400);
    width: 411px;
    height: 148px;
    padding: 14px 16px;
    border-radius: 16px;
    color: #7e7e83;
    margin-bottom: 32px;
    resize: none;
  }

  &__submit-btn {
    width: 100%;
    height: 56px;
    border-radius: $inputFormRadius;
  }
}
