.form {
  &--failed-submit :required:placeholder-shown {
    box-shadow: 1px 4px 16px rgba(255, 0, 0, 0.64);
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 16px;
    background: #f8f8f8;
    border-radius: 40px;
    margin-bottom: 16px;

    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #292929;
    border: none;
    outline: none;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }

    &:focus {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
    }

    &:not(:placeholder-shown):invalid {
      box-shadow: 1px 4px 16px rgba(255, 0, 0, 0.64);
    }

    &--textarea {
      position: absolute;
      resize: none;
      overflow-y: hidden;
      height: 100%;
      border-radius: 16px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #7e7e83;
    }
  }

  &__textarea-wrap {
    position: relative;
    margin-bottom: 32px;
  }

  &__textarea-resizer {
    box-sizing: border-box;
    min-height: 120px;
    padding: 14px 16px;
    visibility: hidden;

    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
  }

  &__submit {
    width: 100%;
  }
}
