.form-field {
  background: #f7f8ff;
  display: block;
  border-radius: 8px;
  width: 100%;
  border: 2px solid transparent;
  padding: 14px 16px;
  height: 48px;
  box-sizing: border-box;
  color: #000;
  transition: all 350ms;

  &:hover {
    border: 2px solid #ccd0e0;
  }

  &:focus {
    border: 2px solid $color-blue;
    outline: none;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #8f99a8;
  }

  &--textarea {
    height: 144px;
    resize: none;
    font-family: inherit;
  }
}
