.form-field {
  display: block;
  width: 100%;
  height: 48px;

  @include small-text;
  line-height: 20px;
  color: $black-color;

  border-radius: 8px;
  border: 2px solid transparent;
  padding: 14px 16px;
  background-color: #f7f8ff;

  &::placeholder {
    @include small-text;
    line-height: 20px;
    color: #8f99a8;
  }

  &:hover {
    border-color: #ccd0e0;
  }

  &:focus {
    border-color: $blue-color;
    outline: none;
  }

  &--textarea {
    height: 144px;

    font-family: inherit;

    resize: none;
  }
}
