.gallery {
  &__place {
    margin-bottom: 40px;

    @include onIPAD {
      margin-bottom: 48px;
    }
  
    & > :first-child {
      margin-top: 48px;

      @include onIPAD-grid {
        margin-top: 64px;
      }
    }
  }
}
