.galery {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    text-decoration: none;
    background: $basicFont;
    border-radius: 40px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: $white;
    transition: background-color 0.3s ease-in,
      color 0.3s ease-in-out,
      border 0.3s ease-in;

    &:hover {
      background-color: $white;
      color: $basicFont;
      border: 3px solid $basicFont;
    }

    &:active {
      background-color: #111;
      color: $white;
    }
  }
}
