.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  padding: 40px 0;

  @include medium-up {
    padding: 52px 0;
    gap: 40px;
  }

  &__logo {
    width: 130px;
    margin-right: auto;

    @include medium-up {
      width: 190px;
    }
  }
}
