.heading {
  display: flex;
  justify-content: center;

  &__container {
    margin-bottom: 83px;

    @include onMobile {
      margin-bottom: 51px;
    }
  }

  &__title {
    position: relative;

    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000;

    @include onMobile {
      font-size: 36px;
    }

    &:after {
      position: absolute;
      top: 110%;
      right: calc(50% - 11.5px);

      width: 23px;
      height: 16px;

      background-image: url("/images/crown.svg");
      background-repeat: no-repeat;
      background-size: cover;

      content: "";
    }
  }
}
