.header {
  background-image: url(../images/header.jpg);
  @extend %backgroundProperties;

  &__top {
    margin-bottom: 129px;

    @include onTablet {
      margin-bottom: 141px;
    }

    @include onDesktop {
      margin-bottom: 83px;
    }
  }

  &__top--action {
    @include top-action;
  }

  &__title {
    @include font(40px, 700, 1);
    color: $whiteAcent;
    text-align: center;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}
