.hero {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  background-image: url(../images/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin: 0 auto 90px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $page-color-secondary;

    @include onTablet {
      margin: 0 auto 130px;
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}
