.icon {
  display: block;
  @include square(18px);

  @include onTablet {
    @include square(24px);
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu-hover.svg);
    }
  }

  &--phone {
    background-image: url(../images/call.svg);
  }

  &--cross {
    background-image: url(../images/cross.svg);
  }
}
