.icon {
  display: block;
  inline-size: var(--icon-size);
  block-size: var(--icon-size);

  background-size: contain;
  background-repeat: no-repeat;

  @include onDesktop {
    inline-size: var(--icon-desktop-size);
    block-size: var(--icon-desktop-size);
  }

  &--menu {
    background-image: url(../images/menu.svg);
    transition: all var(--duration) var(--function);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--phone {
    background-image: url(../images/phone.svg);
    transition: all var(--duration) var(--function);
  }

  &--cross {
    background-image: url(../images/cross.svg);
    transition: all var(--duration) var(--function);
  }
}
