.icons {
  display: flex;
  gap: 24px;

  @include onTablet {
    gap: 32px;
  }

  &__item {
    @include icon-side (24px);

    @include onTablet {
      @include icon-side (32px);
    }
  }

  &--phone {
    display: block;
    background: url("../images/icons/Icon-Phone-call.svg") center/cover no-repeat;
    text-decoration: none;
  }

  &--opener {
    background: url("../images/icons/Icon-Burger-menu.svg") center/cover no-repeat;
    border: none;
    cursor: pointer;

    &:hover {
      background-image: url("../images/icons/Icon-Burger-menu-hover.svg");
    }
  }

  &--closer {
    background: url("../images/icons/Icon-Close.svg") center/cover no-repeat;
    border: none;
    cursor: pointer;
  }
}
