.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--phone {
    background-image: url(../images/Icon-Phone-call.svg);
  }

  &--menu-opener {
    background-image: url(../images/Icon-Burger-menu.svg);
    @include hover(background-image, url(../images/Icon-Burger-menu-hover.svg));
  }

  &--menu-closer {
    background-image: url(../images/Icon-Close.svg);
  }
}

@include onTablet {
  .icon {
    width: 32px;
    height: 32px;
  }
}
