.burger__wrapper {
  padding: $padding-icon;
  transform: rotateY(180deg);
  cursor: pointer;
}

.burger {
  width: 18px;
  height: 12px;
  position: relative;
  scale: 1.15;

  &__center {
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: width $transition-duration ease-in-out;
  }

  &__center::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: width $transition-duration ease-in-out;
  }

  &__center::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: width $transition-duration ease-in-out;
  }

  &:hover &__center {
    right: 0;
    width: 10px;
  }

  &:hover &__center::before {
    width: 13px;
  }
  &:hover &__center::after {
    width: 16px;
  }
}

.logo {
  display: block;
  transform: translateY(5%);
  height: 38px;
  cursor: pointer;

  @include mediaTablet {
    height: 56px;
  }
}
