.property-name {
  font-weight: 700;
  color: $c-blue;
}

.property-link:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: $s-large) {
  .property-link:not(:last-child) {
    margin-bottom: 32px;
  }
}

.property-link:last-child {
  margin-bottom: 32px;
}

.contacts-info {
  display: flex;
  flex-wrap: nowrap;
  gap: 111px;
}

@media (max-width: $s-medium) {
  .contacts-info {
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.column-link {
  text-decoration: none;
  
}

.burger-svg {
  display: block;
  height: 16px;
  width: 24px;
  background: no-repeat url("../images/menu.svg");
  
}

.logo-burger {
  display: inline-block;
  position: absolute;
  top: 25.5px;
  left: 50%;
  transform: translateX(-50%);
  
}

.burger-svg:hover {
  background: no-repeat url("../images/menu_hover.svg");
}

.logo-img {
  height: 75.77px;
  width: 130.35px;
}

.tel-svg {
  display: block;
  position: relative;
  height: 24px;
  width: 24px;
  background: no-repeat url("../images/phone.svg");
  
  
}

.tel-svg:hover::before {
  content: "+1 234 555-55-55";
  display: block;
  position: absolute;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  left: -150px;
}

@media (max-width: $s-large) {
  .tel-svg:hover::before {
    display: none;
  }
}

@media (max-width: $s-large) {
  .logo-img {
    height: 48px;
    width: 78px;
  }

  .burger-svg {
    height: 12px;
    width: 18px;
  }
  .tel-svg {
    height: 18px;
    width: 18px;
  }
}

.footer-logo {
  height: 75.77px;
  width: 130.35px;
  position: absolute;
  top: 248.5px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: $s-large) {
  .footer-logo {
    height: 48px;
    width: 78px;
    top: 135px;
  }
}

.property-img {
  transition: transform 0.7s;
}

.property-img:hover {
  transform: scale(105%);
}
