.property-name {
  font-weight: 700;
  color: $c-blue;
}

.property-link:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1020px) {
  .property-link:not(:last-child) {
    margin-bottom: 32px;
  }
}

.property-link:last-child {
  margin-bottom: 32px;
}

.contacts-info {
  display: flex;
  flex-wrap: nowrap;
  gap: 111px;
}

@media (max-width: 1024px) {
  .contacts-info {
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.column-link {
  text-decoration: none;
  
}
