.info {
  padding: 140px $deskop-paddingX;

  &__content-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }

  &__hello {
    @include font-param(12px, 16.8px, 700);
    color: #{$main-accent};
  }

  &__hello-title {
    @include font-param(48px, 48px, 700);
  }

  &__row {
    display: grid;
    margin-bottom: 16px;
  }

//     &:last-child {
//       // display: block;
//       padding-top: 16px;
//     }
//   }

  &__open-hours-adress {
    @include font-param(24px, 30px, 700);
    padding-bottom: 16px;
  }

  &__open-hours-hours {
    display: inline;
    @include font-param(16px, 27px, 700);
    padding-right: 25px;
  }

//   &__open-hours-days {
//     display: inline;
//     // &:last-child {
//     //   display: block;
//     // }
//   }
// }

  @for $start from 1 through 12 {
    @for $end from $start through 12 {
      &--columns--#{$start}-#{$end} {
        grid-column: #{$start} / #{$end -1};
      }
    }
  }
}
