.info {
  display: flex;
  flex-direction: column;

  &__label {
    color: #9393a3;
    font-family: "Space Grotesk", "Courier New", Courier, monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
  }

  &__data {
    color: #191919;
    font-family: "Space Mono", "Courier New", Courier, monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
  }
}
