.intro {
  color: $color-light-100;

  &__title {
    @extend %title;
    text-align: left;
  }

  &__text {
    padding-top: 32px;

    @include mediaPad {
      padding-top: 0;
    }

    &-paragraph {
      font-size: $fs-250;
      font-weight: $fw-semi-bold;
      line-height: 1.4;
    }
  }
}
