.item-box {
  &__photo {
    margin-bottom: $grid-base * 4;
    text-align: center;
  }

  &__name {
    margin-bottom: $grid-base;
    font-size: $font-base;
  }

  &__desc {
    margin-bottom: $grid-base * 1.5;
  }

  &__price {
    font-weight: 700;
  }
}
