.item {
  align-self: flex-start;

  &__image {
    max-width: 100%;
    /* stylelint-disable */
    aspect-ratio: 1/1;
    /* stylelint-enable */
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: $d-margin-1_5;
    object-position: top;
    border-radius: $d-radius;
  }

  &__price {
    @extend %item__price;
  }
}
