.item {
  align-self: flex-start;

  &__image-container {
    border-radius: $d-radius;
    overflow: hidden;
    margin-bottom: $d-margin-1_5;
  }

  &__image {
    /* stylelint-disable */
    aspect-ratio: 1/1;
    /* stylelint-enable */
    width: 100%;
    object-fit: cover;
    object-position: top;
    transition: scale 2s ease;

    &:hover {
      scale: 1.3;
    }
  }

  &__price {
    @extend %item__price;
  }
}
