@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.link {
  @include font (22px, 22px, $primary-color);

  vertical-align: middle;
  padding-bottom: 4px;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &--call {
    @include font (16, 140%, $primary-color);

    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid $primary-color;
  }

  &:hover {
    border-bottom: 1px solid $primary-color;
  }
}
