.links {
  margin-bottom: 12px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__item {

  }
  &__link {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    text-decoration: none;
    color: #292929;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
     &:hover {
      border-bottom: 1px solid #292929;
    }
  }

}
