.links {
  margin-bottom: 12px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__item {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
  }
  &__link {
    text-decoration: none;
    color: #292929;
  }
}
