.link {
  position: relative;
  display: inline-block;
  color: $blue-color;
  text-decoration: none;

  &::after {
    content: "";
    display: block;

    margin: auto;
    width: 0%;
    height: 2px;

    background: $blue-color;
    border-radius: 5px;

    transition: width $transition-duration;
  }
  &:hover::after {
    width: 100%;
  }
}
