.links {
  &__list {
    list-style: none;
    padding-left: 20px;
    padding-top: 16px;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    color: $c-font;

    text-decoration: none;
    border-bottom: solid 1px transparent;

    &:hover {
      border-bottom: solid 1px $c-font;
      padding-bottom: 4px;
    }
  }

  &__paragraph {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__phone {
    &:hover {
      color: aquamarine;
      text-shadow: 0 0 6px $c-font;
    }
  }
}
