.logo {
  
  &__img {
    height: 48px;

    @include onDesktop {
      height: 80px;
      transition: transform $animationTime;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
