.logo {
  position: relative;
  transition: opacity $time ease-in-out;
  &::after {
    position: absolute;
    z-index: 1;
    display: block;
    transform: translate(-23%, -86%);
    content: "";
    width: 116px;
    height: 60px;
    border: thick double #fff;
    border-radius: 50%;
    opacity: 0;
    transition: opacity $time ease-in-out;
    @include onDesktop {
      transform: translate(-23%, -86%);
      width: 200px;
      height: 100px;
    }
  }
  &:hover::after {
    opacity: 1;
  }
  &__image {
    height: 48px;

    @include onDesktop {
      height: 80px;
    }

  }
}
