.logo {
  perspective: 300px;
  
  &__image {
    width: 130px;
    height: 16px;

    transition: transform 0.3s;

    @include onDesktop {
      width: 190px;
      height: 24px;
    }

    &:hover {
      transform: translate3d(0, 0, 50px);
    }
  }
}
