@use '../utils/variables' as *;

.main {
  padding: 64px 20px 48px;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  &__image {
    align-self: auto;
    height: $recommended_image_height;
    width: $recommended_image_width;
    box-sizing: border-box;
    margin-bottom: 32px;
  }

  &__name {
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $main_color;
  }

  &__category {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $main_color;
  }

  &__price {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $main_color;
    margin-bottom: 40px;
  }
}

