@import "./../utils/vars";

.main-sections {
  display: flex;
  justify-content: center;
  padding: 120px 120px 162px;
  color: #fff;

  @media (max-width: $tabletWidth) {
    padding: 120px 72px;
  }

  @media (max-width: $mobileWidth) {
    padding: 60px 20px 120px;

  }
}
