.main {
  padding: 64px 20px;
  font-family: Space Mono, Arial, sans-serif;
  @include for-desktop {
    padding: 120px;
  }
  &__container {
    margin: 48px 0;
    @include for-desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
