.main {
  padding: 64px 20px;
  padding-bottom: 120px;
  color: $secondary-font-color;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: $font-medium;
  line-height: 140%;

  @include grid();

  &__paragraph {
    grid-column: 1 / 3;

    @include for-mac() {
      grid-column: 4 / 7;
    }

    @include for-desktop() {

      grid-column: -2 / 6;
    }
  }
}
