.main {
  padding: 0 20px;
}

.h2 {
  padding-top: 60px;
  margin: 0;

  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: $letter-spacing;
}

.motto {
  font-size: 23px;
  font-style: normal;
  line-height: 140%;
}

.h3 {
  padding: 92px 0 8px;
  text-align: center;

  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-transform: capitalize;
}
