// hiding the checkbox
.menu-checkbox {
  display: none;
}
// changing the height and background color of top-bar
.menu-checkbox:checked + .top-bar {
  background-color: $c-gray;
  height: 100vh;
}
// hiding the phone icon
.menu-checkbox:checked + .top-bar .top-bar__link-phone {
  display: none;
}
// hiding the menu icon
.menu-checkbox:checked + .top-bar .top-bar__icon-menu {
  display: none;
}
// showing the close menu icon
.menu-checkbox:checked + .top-bar .top-bar__icon-close {
  display: flex;
}
// showing the navigation
.menu-checkbox:checked + .top-bar > .nav {
  display: flex;
}
