.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;

  &:target {
    transform: translateX(0);
  }
}

.menu {
  background-color: #c2c2c2;

  &__content {
    padding: 29px 0;
    height: 100vh;

    @include onTablet {
      padding: 36px 0;
    }
  }

  &__top {
    margin-bottom: 44px;
  }

  &__list {
    padding: 0;
    margin: 0 0 40px;
    list-style: none;
  }

  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: $font-weight-text;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    color: $main-color-text;
  }

  &__call {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $font-weight-text;
    color: $main-color-text;

    &--phone {
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 16px;
    }

    &--text {
      width: max-content;
      letter-spacing: 2px;
      padding-bottom: 8px;
      font-size: 12px;
      line-height: 16px;
      border-bottom: 1px solid #1d1d1d;
    }
  }
}
