.menu {
  background: $c-blue;

  &__content {
    height: 100vh;
    padding: $header-top-padding 0;
  }

  &__top {
    margin-bottom: 56px;
  }

  &__list {
    margin: 0 0 40px;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $c-grey;
    text-decoration: none;

    transition: border-color 300ms;

    &:hover {
      border-color: $c-grey;
    }
  }

  &__call {
    display: block;
    width: max-content;

    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
    color: $c-grey;

    &--phone {
      margin-bottom: 16px;
    }

    &--action {
      padding-bottom: 8px;
      border-bottom: 1px solid $c-grey;
    }
  }
}
