.menu {
  background-color: $mainAcent;

  &__content {
    height: 100vh;
  }

  .menu__top {
    margin-bottom: 55px;
  }

  &__list {
    padding-bottom: 32px;
  }

  &__item {
    margin-bottom: 32px;

    &:last-child() {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    width: fit-content;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border 0.5s ;

    &:hover {
      border-color: #fff;
    }
  }

  &__call {
    @extend %telephoneText;

    &--phone-1 {
      margin-bottom: 8px;
    }

    &--phone-2 {
      margin-bottom: 16px;
    }

    &--action {
      width: fit-content;
      padding-bottom: 8px;
      font-size: 12px;
      letter-spacing: 2px;
      border-bottom: 1px solid #fff;
    }
  }
}
