@media (max-width: 743px) {
  .container {
    max-width: 320px;
    padding: 0 20px;
  }

  .header {
    padding: 24px 20px 0;
    height: 480px;
    background-image: url("../images/bike-bg.jpg");

    &__logo {
      width: 130px;
      height: 38px;
    }

    &__nav {

      &-icons {
        gap: 24px;
      }
    }
  }

  .h1 {
    bottom: 80px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
  }

  .h2 {
    width: 100%;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
    letter-spacing: -1.5px;
  }

  .motto {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;

    &__text {
      font-size: 23px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 32.2px */
    }
  }

  .h3 {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 100% */
    letter-spacing: -1.5px;
    text-transform: capitalize;
    padding-bottom: 48px;
  }

  .showcase {
    padding-top: 92px;

    &__img {
      max-width: 280px;

      &--wide {
        width: 100%;
      }

      &--gallery {
        max-width: $img--gallery-size;
      }

      &--tablet {
        max-width: none;
      }
    }

    &__gallery {
      display: flex;
      justify-content: space-between;

      &--desktop {
        gap: 24px;
        max-height: 320px;

        & .showcase__img--wide {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &__paragraph {
      margin: 0;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    &__details {
      & .showcase__paragraph {
        padding-bottom: 40px;
      }
    }

    &__price-tag {
      padding-top: 16px;
      margin: 0;

      @include showcase-font;
    }

    &__compare-bikes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 10px;

      &--tablet {
        max-width: 400px;
        display: flex;
        flex-direction: column;
      }
    }

    &__title {
      grid-column: 1 / span 3;
    }

    &--tablet {
      justify-content: center;
      display: flex;
    }

    &__element {

      &--tablet {
        width: 100%;
      }
    }
  }

  .wrapper {
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
  }
}
