@media (max-width: 743px) {
  .container {
    max-width: 320px;
    padding: 0 20px;
  }

  .header {
    padding: 24px 20px;
    height: 480px;
    background-image: url("../images/bike-bg.jpg");

    &__logo {
      width: 130px;
      height: 38px;
    }

    &__nav {

      &-icons {
        gap: 24px;
      }
    }
  }

  .h1 {
    bottom: 80px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
  }

  .h2 {
    width: 100%;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
    letter-spacing: -1.5px;
  }

  .motto {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 164px;

    &__text {
      font-size: 23px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 32.2px */
    }
  }

  .wrapper {
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
  }
}
