.move-free {
  padding-top: 60px;

  @include onTablet {
    padding-top: 120px;
  }

  &__title {
    text-align: left;
  }
  
  &__text {
    margin-top: 32px;

    @include onTablet {
      margin-top: 0;
    }

    font-size: 23px;
    line-height: 40px;
    font-weight: 500;
  }
}
