@import "./../utils/vars";
@import "./../utils/mixins";

.move {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  gap: 24px;
  justify-content: center;
  align-items: center;
  color: $primaryColor;

  &__title {
    @include fontParams(64px, 100%, 500);
    grid-column: 1/6;
  }

  &__text {
    @include fontParams(24px, 140%, 500);
    grid-column: 6/12;
  }
}
