.move-free {

  &__title {
    text-align: left;
  }
  
  &__text {
    margin-top: 32px;

    font-size: 23px;
    line-height: 40px;
    font-weight: 500;

    @include onTablet {
      margin-top: 0;
    }
  }
}
