.museum-hours {
  margin-bottom: 100px;

  .museum-hours__heading {
    margin-bottom: 32px;
    text-align: start;
  }

  .museum-hours__highlight {
    color: #d12d35;
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 2px;
    display: block;
  }

  .museum-hours__title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 32px;
  }
}
