@use "../utils";

.nav-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 48px;

  max-height: 300px;
  height: 43%;
  width: 100%;

  color: $menu-color;

  &__title {
    position: relative;

    font-weight: bold;
    font-size: 60px;
    letter-spacing: -1.5px;

    &::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 35px;

      top: -16px;

      background-color: $menu-color;
      border-radius: 2px;
    }
  }
}
