.navigation {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: start;

  @include for-tablet() {
    padding: 2rem 0;
  }

  &__logo {
    height: 1rem;

    @include for-tablet() {
      height: 1.5rem;
    }
  }

  &__item {
    text-decoration: none;
  }

  &__icons {
    display: flex;
    gap: 1.5rem;
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    @include for-tablet() {
      height: 2rem;
      width: 2rem;
    }
  }
}
