.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 10px;

  &__icons {
    display: flex;
    // justify-content: space-between;
    gap: 24px;
    align-items: center;
    // height: 24px;
    // width: 72px;
  }
}
