
.nav {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 30px;
    }

  }

  &__link {
    display: block;
    width: 24px;
    height: 24px;

    @include tablet {
      width: 32px;
      height: 32px;
    }

    @include desktop {
      width: 32px;
      height: 32px;
    }

    &--phone {
      background-image: url("/images/Icon-Phone-call.svg");

      &:hover {

        &::before {
          content: "+1 234 555-55-55";
          font-weight: $font-weight-bold;
          font-size: 12px;
          letter-spacing: 2px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          height: 100%;
          width: max-content;
          padding-right: 8px;
          transform: translateX(-100%);
        }
      }
    }

    &--burger-menu {
      background-image: url("/images/Icon-Burger-menu.svg");

      &:hover {
        background-image: url("/images/icon-burger-menu-hover.svg");
      }
    }

    &--close-menu {
      background-image: url("/images/icon-close.svg");
    }
  }
}
