.nav {
  padding: 0;
  list-style: none;
  margin-top: 48px;
  margin-bottom: 0;
  
  &__item {
    display: block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;

    &--link {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 32px;
      &:nth-of-type(5) {
        margin-bottom: 80px;
      }
    }

    &--call {
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      display: block;

      &::before {
        display: block;
        content: "+1 234 555-55-55";
        transform: translateY(-16px);
      }
      &::after {
        display: block;
        content: "";
        width: 111px;
        height: 0;
        border: 1px solid #fff;
        transform: translateY(8px);
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }
}
