@import "../utils";

.nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $primary-color;

  padding: 24px 24px 60px 20px;

  z-index: 2;
  overflow: scroll;

  transform: translateX(320px);
  transition: transform 0.3s;

  &--active {
    transform: translateX(0);
  }

  &__top {
    width: 176px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
  }

  &__img {
    width: 73px;
    height: 48px;
  }

  &__close {
    width: 16px;
    height: 16px;
  }
}
