@use '../utils/mixins' as *;

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 0;

  &__icons {
    display: flex;
    gap: 24px;
    align-items: flex-end;
    justify-content: space-between;

    @include for-tablet {
      gap: 32px;
    }
  }

  &__logo {
    width: 130px;

    @include for-tablet {
      width: 187px;
    }
  }
}
