.on-view {

  &__photo-container {
    margin: 0 0 var(--on-view-photo-container-margin-block-end);
    // padding: 0 0 1px;
    display: flex;

    @include onDesktop {
      margin-block-end: var(--on-view-photo-container-desktop-margin-block-end);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 var(--on-view-photo-container-gap);
      place-items: center;
    }

    transition: transform var(--duration) var(--function);

    &:hover {
      transform: scale(1.15);
    }
  }

  &__photo {

    @include onDesktop {
      grid-column: 1/-1;
    }

    inline-size: 100%;
    block-size: 100%;

    object-fit: contain;
    object-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    justify-content: center;
    align-items: center;
  }

  &__subtitle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.4rem;
    line-height: 1.4;
    text-align: center;
  }

  &__description {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font: normal normal normal normal 1.6rem/1.69 "Roboto", sans-serif;
    text-align: center;
  }
}
