.padding-container {
  padding: 0 1.25rem;

  @media (min-width:$high-resolution) {
    padding: 0 7.5rem;
  }

  @media (min-width: 1500px) {
    padding: 0 20vw;
  }

  @media (min-width: 1800px) {
    padding: 0 25vw;
  }
}
