.page {
  box-sizing: border-box;
  background-color: $main-text-color;
  font-family: "Cinzel", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: $main-text-color;
  scroll-behavior: smooth;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 1;

    &:target {
      transform: translate(0);
    }
  }

  &__container {
    --margin-bottom: 100px;

    padding: 0 20px;
    margin: 0 auto var(--margin-bottom);

    @include onTablet {
      padding: 0 72px;
    }

    @include onDesktop {
      padding: 0 120px;
    }

    @include media(tablet, desctop) {
      --margin-bottom: 140px;
    }
  }

  &--with-menu {
    overflow: hidden;
  }
}
