.page {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: #fff;

  &__body {
    position: relative;
    margin: 0;
    background: $page-color-first;
  }

  &__section {
    margin-bottom: 48px;
  }

  &__section-title {
    margin: 0 0 48px;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;
    color: #fff;

    @include onTablet {
      font-size: 48px;
    }
  
    @include onDesctop {
      font-size: 64px;
    }
  }
}
