.page-content {
  min-width: 320px;
  color: $primary-color;
  font-family: Inter, sans-serif;

  &__main {
    margin-bottom: 6rem;

    @include for-tablet() {
      margin-bottom: 120px;
    }
  }
}
