.page {
  font-family: "Roboto", sans-serif;
}

.logo {
  &__image {
    height: 48px;

    @include onDesktop {
      height: 80px;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;

  @include onDesktop {
    padding: 0 40px;
  }
}

.icon {
  display: block;
  width: 18px;
  height: 18px;

  @include onDesktop {
    width: 24px;
    height: 24px;
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: 25px 0 80px;

  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-opener {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &__call {
    text-decoration: none;
    background-image: url(../images/phone.svg);

    @include onDesktop {
      &::before {
        content: "+1 234 555-55-55";
        position: relative;
        top: 50%;
        transform: translate(-100%, -50%);

        display: block;
        width: max-content;
        padding-right: 20px;

        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__title {
    font-size: 46px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1px;

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
      font-weight: 700;
      letter-spacing: -1.5px;
    }

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background-color: #fff;
      margin-bottom: 24px;
    }
  }
}
