.person {
  @extend %flex-column;
  align-items: center;
  width: rem(245);

  &__photo {
    width: rem(160);
    height: rem(160);
    border-radius: 50%;
    overflow: hidden;
  }

  &__name,
  &__position,
  &__text {
    @extend %indent-reset;
    text-align: center;
  }

  &__name {
    color: map_get($colors, text-decor);
    margin-top: rem(25);
    font-size: rem(24);
    line-height: rem(30);
    letter-spacing: rem(0.4);
  }

  &__position {
    margin-top: 7px;
    font-size: map_get($fonts-size, input);
    color: map_get($colors, position);
  }

  &__text {
    margin-top: rem(15);
  }
}
