@use "../utils/mixins" as *;

.phone {
  font-family: Cinzel, sans-serif;
  color: #fff;
  visibility: hidden;
  text-align: right;

  &:has(~ .navigation__call:hover) {
    visibility: visible;
  }

  &__label {
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    color: #fff;
  }

  &__link {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-decoration: none;
  }
  &:not(:hover) .phone__label {
    @include visually-hidden;
  }
}
