@use "../utils/mixins" as *;

.phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;
  cursor: pointer;

  &__label {
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    position: relative;
    color: #fff;
    top: -54px;
    transform: translateX(calc(-100% - 16px));
    width: 201px;
  }
  &:not(:hover) .phone__label {
    @include visually-hidden;
  }
}
