@use '../utils/mixins' as *;

.phone {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: left;

  &__icon {
    height: 18px;

    @include for-tablet {
      height: 24px;
    }
  }
}
