.picture {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;

  &--timeless {
    aspect-ratio: 3/2;
    object-position: center;

    @media (min-width: 744px) {
      aspect-ratio: 16/9;
      min-height: 400px;
      max-height: 460px;
      object-fit: cover;
      object-position: 0 80%;
    }
  }

  &--gallery {
    transition: all 0.5s;
    object-fit: contain;

    @media (min-width: 744px) {
      aspect-ratio: 3/2;
    }

    &:hover {
      scale: 1.1;
    }
  }
}
