.place {
  &__photos {
    margin-bottom: 16px;
  }

  &__photo-container {
    width: 100%;
    position: relative;
    max-height: 320px;
    box-sizing: border-box;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include on-tablet {
      height: 187px;
      padding-bottom: 0;
    }

    @include on-desktop {
      height: 320px;
      padding-bottom: 0;
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s ;

    &:hover {
      transform: scale(120%);
    }
  }

  &__description {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $main-black-color;

    @include on-tablet {
      font-size: 24px;
    }
  }
}
