@use "../utils";

.primary-button {
  background: $primary-color;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border-radius: 8px;
  border: none;

  font-weight: bold;
  font-size: 16px;
  color: $menu-color;

  @include hover($_property: "background", $_toValue: $hover-primary);
}
