.product-card {
  max-width: 392px;
  margin-bottom: 40px;

  @include onTablet {
    margin-bottom: 48px;
  }

  @include onDesktop {
    margin-bottom: 0;
  }

  &__image {
    max-width: 280px;
    margin-bottom: 32px;

    @include onTablet {
      max-width: 392px;
    }

    @include onDesktop {
      max-width: 324px;
    }
  }

  &__title {
    @extend %product__title;

    margin-bottom: 8px;
  }

  &__description {
    @extend %section__paragraph;

    max-width: 280px;
    margin-bottom: 16px;

    @include onTablet {
      max-width: 392px;
    }
  }

  &__price {
    @extend %product__title;
  }
}
