.product-card {
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  max-width: 400px;
  margin: 0 auto;

  &__img {
    margin-bottom: 32px;
    width: 100%;

    transition: transform $transition-time;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__info {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
  }
}
