.product {
  &__photo {
    width: 100%;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: $colorText;
  }

  &__descriptions {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    color: $colorText;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: $colorText;
  }
}
