.promo {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 320px;
  max-height: 700px;
  background: center/cover url(../images/new_header.jpg) no-repeat;

  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  color: $secondary-color;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
    @media (min-width:$medium-resolution) {
      padding-top: 56px;
    }
  }

  &__logo {
    top: 24px;
  }

  &__phone-number {
    display: none;
    &--mobile {
      display: block;
      margin-bottom: 16px;
    }
    @media (min-width:$medium-resolution) {
      display: block;
      @include hover(transform, scale(1.1));
    }
  }

  &__phone-button,
  &__toggler-label {
    display: inline-block;
    width: 18px;
    height: 18px;
    
    cursor: pointer;
    @include hover(transform, scale(1.1));
    background: no-repeat center;
  }

  &__phone-button {
    background-image: url(../../images/phone.svg);
    @include hover(transform, scale(1.1));
    @media (min-width:$medium-resolution) {
      display: none;
    }
  }

  &__toggler-label {
    &::after {
      position: absolute;
      content: url(../../images/hamburger.svg);
      height: 12px;

    }
  }

  &__toggler {
    -webkit-appearance: none;
  }

  &__mobile-navbar {
    @media (min-width:$medium-resolution) {
      display: none;
    }
  }

  &__call-link {
    display: none;

    text-decoration: none;
    text-transform: uppercase;
    color: $secondary-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    &--mobile {
      display: inline-block;
    }
    @media (min-width:$medium-resolution) {
      display: block;
      @include hover(color, $navlink-hover-color);
    }
  }

  &__call-link::after {
    content: "";
    position: relative;
    top: 8px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: $secondary-color;
  }

  &__title {
    position: absolute;
    bottom: 80px;
    @media (min-width:$medium-resolution) {
      bottom: 165px;
    }
  }

  &__title::before {
    content: "";
    position: relative;
    bottom: 16px;

    display: block;
    width: 35px;
    height: 2px;

    background-color: $secondary-color;
  }
  &__navigation {
    margin-bottom: 3rem;
  }
}
