.product-card {
  max-width: 392px;

  &__image {
    width: 100%;
    max-width: 280px;
    margin-bottom: 32px;

    &:hover {
      transform: scale(1.2);
      transition: all 0.3s linear;
    }

    @include onTablet {
      max-width: 392px;
    }

    @include onDesktop {
      max-width: 324px;
    }
  }

  &__title {
    @extend %product__title;

    margin-bottom: 8px;
  }

  &__description {
    @extend %section__paragraph;

    max-width: 280px;
    margin-bottom: 16px;

    @include onTablet {
      max-width: 392px;
    }
  }

  &__price {
    @extend %product__title;
  }
}
