.product {
  margin: auto;
  display: grid;
  justify-content: center;
  max-width: 600px;
  background-color: white;
  cursor: pointer;

  @include hover(transform, scale(1.05));

  &__photo {
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 8px;
  }

  &__description {
    margin: 0;
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
  }
}
