@import "./item";

.products {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $d-margin-2_5;

    @include tablet {
      gap: $d-margin-3_5;
    }

    @include monitor {
      flex-direction: row;
      gap: $d-padding-1_5;
    }
  }
}
