.recommended {
  
  &__cards {
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  }

  &__card {
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 48px;
      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }
}
