.recommended {
  // display: flex;
  // flex-direction: column;
  // gap: $grid-base * 5;
  // &__title {
  //   margin-bottom: $grid-base * 1;
  // }
  @include grid-system;

  &__title {
    grid-column: 1 / -1;
  }

  &__item {
    grid-column: 1 / -1;

    @include medium-up {
      grid-column: 2 / 6;
    }

    @include large-up {
      grid-column: span 4;
    }
  }
}
