.recommended {
  @include grid-system;
  row-gap: $grid-base * 6;

  @include medium-up {
    row-gap: $grid-base * 5;
  }

  &__title {
    grid-column: 1 / -1;

    @include medium-up {
      margin-bottom: $grid-base * 3;
    }
  }

  &__article {
    grid-column: 1 / -1;

    @include medium-up {
      grid-column: 2 / 6;
    }

    @include large-up {
      grid-column: span 4;
    }
  }

  &__photo {
    margin-bottom: $grid-base * 4;
    text-align: center;
    transition: transform $anim-time ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    margin-bottom: $grid-base;
  }

  &__desc {
    margin-bottom: $grid-base * 1.5;
  }

  &__price {
    font-weight: 700;
  }
}
