.schedule {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 16px;
  gap: 16px;

  &__name {
    font-family: Cinzel, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 16px;
  }

  &__textcols {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    box-sizing: border-box;
    margin-bottom: 16px;

    @media (min-width: 1240px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &-time {
      font-family: Cinzel, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0;
      text-align: left;
    }

    &-days {
      font-family: Cinzel, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0;
      text-align: left;
    }
  }
  &__second-part {
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;

    &--title-forth {
      font-family: Cinzel, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0;
      text-align: left;
    }
  }
}
