.section {
  margin-top: 92px;
  @include for-mac() {
    margin-top: 120px;
  }
  @include for-desktop() {
    margin-top: 144px;
  }
  grid-column: 1 / 3;
  @include for-mac() {
    grid-column: 1 / 7;
  }

  @include for-desktop() {
    grid-column: 1 / 13;
  }
  &__button {
    border-radius: 40px;
    display: block;
    text-align: center;
    line-height: 56px;
    background-color: white;
    color: #1d1d1d;
    text-decoration: none;
    width: 278px;
    height: 56px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 40px auto;
    margin-bottom: 0;
    @include for-mac() {
      width: 392px;
    }
    @include for-desktop() {
      width: 324px;
    }
  }

  &:last-child {
    margin-top: 80px;
    @include for-desktop() {
      margin-top: 180px;
    }
  }

  &__compare {
    @include for-mac() {
      margin-top: 132px;
    }

    @include for-desktop() {
      grid-column: 1 / 13;
      display: grid;
      margin-top: 164px;
    }
  }

  &__contact {
    @include grid();
    & > .title--third {
      @include for-mac() {
        grid-column: 2/6;
      }
      @include for-desktop() {
        grid-column: 4/10;
      }

    }
  }
}
