@import "../utils";
@import "./normalize";

.secondary-button {
  font-weight: bold;
  font-size: 16px;
  color: $text-color-blue;

  background-color: $bg-color;
  border: 2px solid $text-color-blue;
  border-radius: 8px;

  @include hover($_property: "background", $_toValue: $text-color-blue);
  @include hover($_property: "color", $_toValue: $bg-color);

}
