.best {
  &__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #000;
    text-transform: uppercase;
    text-align: left;
  }

  &__text {
    ul {
      counter-reset: numb;
      list-style: none;

      li {
        position: relative;

        &::before {
          position: absolute;
          left: -25px;
          counter-increment: numb;
          content: counter(numb) ".";
        }
      }
    }
  }
}

.container--best {
  display: grid;
  grid-template-columns: 33% 66%;
  grid-gap: 90px;
}
