
.section {
  padding: 60px 32px;

  &__title {
    font-size: 32px;
    font-weight: $title-font-weight;
    margin-bottom: 48px;
    text-align: center;

    &--intro {
      text-align: left;
      margin-bottom: 0;
    }

    @include tablet {
      font-size: 48px;
    }

    @include desktop {
      font-size: 64px;
    }
  }
}
