@use "../utils";

.secondary-button {
  font-weight: bold;
  font-size: 16px;
  color: $primary-color;

  background-color: $bg-color;
  border: 2px solid $primary-color;
  border-radius: 8px;

  @include hover($_property: "background", $_toValue: $primary-color);
  @include hover($_property: "color", $_toValue: $bg-color);

}
