.section {

  &__title {
    margin: 0 0 48px;
    text-align: center;

    @include allFontSize(32px, 48px, 64px);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;
  }

  &__sub-title {
    margin: 0 0 8px;
    font-size: 24px;
    font-weight: 700;

    &--price {
      margin: 0;
    }
  }
}
