.show {

  &__gallery {
    margin: 0 0 24px;
  }

  &__image-container {
    position: relative;
    width: 100%;
    max-height: 186px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding: 0 0 100%;
    }

    @include mediaQueryTablet {
      height: 186px;
      max-height: 320px;
    }
    @include mediaQueryDesktop {
      height: 320px;
    }

  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 50%;
  }

  &__info {

    &-name {
      font-size: 16px;
      line-height: 27px;
      color: $color-main-accent;
      font-weight: 700;
      margin: 0 0 4px;

      @include mediaQueryTablet {
        margin: 0;
      }
    }

    &-date {
      font-size: 16px;
      line-height: 27px;
    }

  }

}
