.showcase {
  padding: 0;

  &__img {
    max-width: 280px;

    &--wide {
      width: 100%;
    }

    &--gallery {
      max-width: $img--gallery-size;
    }
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
  }

  &__paragraph {
    margin: 0;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__details {
    & .showcase__paragraph {
      padding-bottom: 40px;
    }
  }
  &__price-tag {
    padding-top: 16px;
    margin: 0;

    @include showcase-font;
  }
}
