.single-category {
  &__gallery {
    @include grid-system;
    margin-bottom: $grid-base * 2;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    height: 130px;
    width: 100%;
    transition: transform $anim-time ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    @include medium-up {
      height: 187px;
      grid-column: span 3;

      &--small {
        grid-column: span 2;
      }

      &--big {
        grid-column: span 4;
      }
    }

    @include large-up {
      height: 320px;
      grid-column: span 6;

      &--small {
        grid-column: span 4;
      }

      &--big {
        grid-column: span 8;
      }
    }
  }
}
