@import "./category";
@import "./button";

.store {

  &__categories {
    display: flex;
    flex-direction: column;
    gap: $d-margin-2;
    margin-bottom: $d-margin-2;

    @include tablet {
      gap: $d-margin-3_5;
    }

    @include monitor {
      margin-bottom: $d-margin-3_5;
    }
  }
}
