@media (min-width: 744px) and (max-width: 1259px) {
  .container {
    max-width: 744px;
    padding: 0 72px;
  }

  .header {
    padding: 36px 72px;
    height: 628px;
    background-image: url("../images/bike-bg-744.jpg");

    &__logo {
      width: 187px;
      height: 56px;
    }

    &__nav {

      &-icons {
        gap: 32px;
      }
    }
  }

  .h1 {
    bottom: 130px;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
  }

  .h2 {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    width: 50%;
  }

  .motto {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 164px;
    padding-top: 120px;

    &__text {
      width: 50%;
    }
  }

  .wrapper {
    margin-left: -72px;
    margin-right: -72px;
    position: relative;
  }
}
