@media (min-width: 744px) and (max-width: 1259px) {
  .container {
    max-width: 744px;
    padding: 0 72px;
  }

  .header {
    padding: 36px 72px 0;
    height: 628px;
    background-image: url("../images/bike-bg-744.jpg");

    &__logo {
      width: 187px;
      height: 56px;
    }

    &__nav {

      &-icons {
        gap: 32px;
      }
    }
  }

  .h1 {
    bottom: 130px;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
  }

  .h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 48px */
    letter-spacing: -1.5px;
    width: 50%;
  }

  .motto {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 120px;

    &__text {
      width: 50%;
      font-size: 23px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 32.2px */
    }
  }

  .h3 {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 48px */
    letter-spacing: -1.5px;
  }

  .h4 {
    margin: 0;
    padding: 16px 0 8px;

    @include showcase-font;
  }

  .showcase {
    padding-top: 132px;
    margin: 0 auto;
    width: 100%;

    &__bikes {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 392px;
      margin: 0 auto;
    }

    &__details {
      padding-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
    }

    &__item {
      width: 100%;
    }

    &__img {
      width: 100%;

      &--gallery {

        &-wide {
          width: 50%;
        }
      }
    }

    &__gallery {
      display: flex;
      justify-content: space-between;
    }

    &__paragraph {
      margin: 0;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    &__price-tag {
      padding-top: 16px;
      margin: 0;

      @include showcase-font;
    }

    &__compare-bikes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 10px;

      &--tablet {
        max-width: 400px;
        display: flex;
        flex-direction: column;
      }
    }

    &__title {
      grid-column: 1 / span 3;
    }

    &--tablet {
      justify-content: center;
      display: flex;
    }

    &__element {

      &--tablet {
        width: 100%;
      }
    }
  }

  .wrapper {
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
  }
}

.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 56px;
  border-radius: 40px;
  background: #fff;
  color: $primary-color;
  text-decoration: none;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;

  &--tablet {
    display: flex;
    width: 392px;
    height: 56px;
    padding: 0 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &--desktop--form {
    width: 410px;
    margin: 0;
  }
}
