@import "../utils";
@import "./normalize";

.team {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 60px;
  }

  &__members {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
}
