.main-page__testimonials {
  padding: $mobile-padding;
}

.testimonials {
  &__header {
    @extend %h2-crown;
  }

  &__item {
    text-align: center;

    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    margin-bottom: 26px;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 4px;
  }

  &__link {
    color: $c-blue;
    @include hover(color, #3e3e3e);
  }

  &__position {
    color: #9fadc2;
    font-size: 14px;

    margin-bottom: 13px;
  }
}

@media (min-width: $desktop-width) {
  .main-page__testimonials {
    padding: $desktop-padding;
  }

  .testimonials {
    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      width: 240px;

      margin-bottom: 0;
    }
  }
}
