.testimonial {

  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-bottom: 28px;

    @include onDesktop {
      margin-bottom: 32px;
    }
  }

  &__photo {
    grid-column: 2 / 4;
    width: 100%;
    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__name {
    margin-bottom: 4px;

    @include subtitle-text;
    text-align: center;
  }

  &__role {
    margin-bottom: 4px;

    @include small-text;
    line-height: 27px;
    text-align: center;
    color: #9fadc2;
  }

  &__about {
    @include main-text;
    line-height: 27px;
    text-align: center;
  }
}
