.testimonial {
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    margin-bottom: 28px;

    @include onDesktop {
      margin-bottom: 32px;
    }

    @include hover(transform, scale(1.09));
  }

  &__photo {
    grid-column: 2 / 4;
    width: 100%;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 4px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: $c-blue;
  }

  &__role {
    margin-bottom: 4px;

    font-size: 14px;
    line-height: 27px;

    text-align: center;
    color: #9fadc2;
  }

  &__about {
    text-align: center;
    line-height: 27px;
  }
}
