.testimonials {

  &__title {
    @extend %h2;

    text-align: center;
    margin-top: 64px;

    &::after {
      @include crown;
    }

    @include desktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__persons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    margin-top: 60px;

    @include desktop {
      flex-direction: row;
      align-items: flex-start;
      gap: 24px;
    }
  }
}

.person {
  max-width: 324px;
  text-align: center;

  &__img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 28px;
  }

  &__title {
    @extend %h3;
    margin-bottom: 4px;
  }

  &__position {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin-bottom: 12px;
  }

  &__comment {
    color: #3e3e3e;
  }
}
