.text {
font-family: Cinzel, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0;
text-align: left;
padding-bottom: 48px;

  &__hightlight {
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #D12D35;
  }
}
