.tile {
  @extend %flex-column;
  &__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 16px;
  }

  &__img-first {
    max-height: 100%;
    max-width: 60%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
    @media (max-width: 375px) {
      max-width: 40%;
    }
    @include transition-vendor(0.3s);
    &:hover {
      @include transform-vendor(scale(98%));

    }
  }
  &__img-second {
    max-height: 100%;
    max-width: 40%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
    @media (max-width: 375px) {
      max-width: 40%;
    }
    @include transition-vendor(0.3s);
    &:hover {
      @include transform-vendor(scale(103%));

    }
  }
  &__title {
    @extend %card-primary-text;
    padding: 0 24px;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
}
