@use '../utils/mixins' as *;

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
  width: auto;

  // @include blue-underline;

  &__first {
    font-size: 36px;

    @include for-tablet {
      font-size: 64px;
    }

    @include for-desktop {
      font-size: 80px;
    }
  }

  &--about-us {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #fff;
    text-align: left;
    padding: 0;
  }

  &--bikes {
    @include h3-title;
  }

  &--details {
    @include h3-title;
  }

  &--contacts {
    @include h3-title;
  }
}
