.title {
  font-family: Cinzel, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.5px;
  display: flex;
  padding-bottom: 288px;
  justify-content: center;
  color: #fff;
  text-align: center;
  box-sizing: border-box;

    @media (min-width: 744px) {
      font-size: 64px;
      line-height: 64px;
    }

    @media (min-width: 1260px) {
    font-size: 80px;
    line-height: 80px;
    }
}
