.title {
  font-family: Cinzel, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.5px;
  display: flex;
  padding-bottom: 288px;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
}
