.title-section {
  position: relative;

  &__title {
    font-size: $mobile-header-title-font-size;
    line-height: $mobile-header-title-font-size;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -1.5px;
    
    @include onTablet {
      font-size: $tablet-header-title-font-size;
      line-height: $tablet-header-title-font-size;
    }
    
    @include onDesktop {
      font-size: $desk-header-title-font-size;
      line-height: $desk-header-title-font-size;
    }
    
    &::before {
      content: "";
      display: block;
      margin-bottom: 16px;
      width: $mobile-header-title-font-size;
      height: 27px;
      background-image: url("../images/mobile-header-deco-icon.svg");
      @extend %background-img;
      
      @include onTablet {
        display: none;
      }
    }
  }
}
