.top-actions {
  display: grid;
  grid-template-columns: 1fr $icon-size-m $icon-size-m;
  column-gap: 30px;

  @include onTablet {
    grid-template-columns: 1fr $icon-size-l $icon-size-l;
    column-gap: 40px;
  }

  &--menu {
    grid-template-columns: 1fr $icon-size-m;

    @include onTablet {
      grid-template-columns: 1fr $icon-size-l;
    }
  }
}
