// top bar
.top-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;

  &__top {
    width: 100%;
    padding: $d-padding-1_5 $d-padding-1_25;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img-logo {
    display: flex;
    height: 1rem;
    margin-right: 1.5rem;
  }

  &__user-panel {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-phone {
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon-phone {
    width: 1.5rem;
    height: 1.5rem;
    justify-self: center;
  }

  &__menu-label {
    display: flex;
  }

  &__icon-menu {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__icon-close {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }

  &__nav {
    display: none;
    width: 100vw;
  }
}
