.top-header-actions {
  display: grid;
  justify-items: space-between;
  
  grid-template-columns: 1fr
    $mob-icon-size 
    ($mob-icon-size + $mob-menu-icon-margin);
  align-items: center;

  @include onTablet {
    grid-template-columns: 1fr
      $desk-icon-size 
      ($desk-icon-size + $desk-menu-icon-margin);
  }
}
