.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__cross {
    width: 16px;
    height: 16px;

    @extend %backgroundPosition;
    background-image: url(../images/cross.svg);

    @include onTablet {
      width: 24px;
      height: 24px;
    }
  }
}
