.top-links {
  display: grid;
  grid-template-columns: $header-icon-width 1fr $header-icon-width;
  justify-items: center;
  align-items: center;

  @include onDesktop {
    $header-icon-width: 24px;
  }
}
