.top-actions {
  --icon-size: 18px;
  display: grid;
  grid-template-columns: var(--icon-size) 1fr var(--icon-size);
  justify-items: center;
  align-items: center;

  @include on-desktop() {
    --icon-size: 24px;
  }
}
