.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 100px;

  @media (min-width: 744px) {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    line-height: 48px;
  }

   &__text-regular {
      font-family: Cinzel, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0;
      text-align: center;
      padding-top: 8px;
   }
 }
