.whybuy {
  &__title {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $TextColor;
    margin: 0 0 32px;

    @include TabletSize {
      font-size: 40px;
    }

    @include DesktopSize {
      font-size: $BigFontSize;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
  }

  &__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $TextColor;
    margin-bottom: 16px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}
