.why-buy {
  @include grid-system;
  row-gap: $grid-base * 5;

  &__title {
    grid-column: 1 / -1;
    margin-bottom: - $grid-base;

    @include medium-up {
      grid-column: span 3;
    }

    @include large-up {
      grid-column: span 5;
    }
  }

  &__list {
    grid-column: 1 / -1;

    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: $grid-base * 2;

    @include medium-up {
      grid-column: span 3;
    }

    @include large-up {
      grid-column: span 5;
    }
  }

  &__text {
    grid-column: 1 / -1;
    line-height: $line-height-lg;

    @include medium-up {
      grid-column: 4 / 7;
    }

    @include large-up {
      grid-column: 6 / -3;
    }
  }
}
