.wrapper-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 104px;
}

@media (max-width: 1024px) {
  .wrapper-about {
    flex-direction: column;
    margin: auto;
    margin-bottom: 64px;
  }
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

@media (max-width: 1024px) {
  .contacts-wrapper {
    margin-bottom: 0;
    flex-direction: column;
    gap: 32px;
  }
}

.testimonials-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media (max-width: 1024px) {
  .testimonials-wrapper {
    flex-wrap: wrap;
    max-width: 324px;
    margin: 0 auto;
  }
  
}
