.about-us {

  @media (min-width: $viewScreeWidthL) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__title {
    margin-bottom: 48px;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 42px;
    color: $colorBlack;

    &--blue {
      color: $colorBlue;
    }

    @media (min-width: 880px) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__subtitle {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1px;
    color: $colorBlue;
  }

  &__text {
    margin-bottom: 24px;

    &--wom {
      margin: 0;
    }
  }
}
