/* #region About-Miami */
.about-miami {
  margin-bottom: $marginBetweenArticle;

  &__title-2 {
    margin-bottom: 48px;
  }

  &__link {
    @extend %h2;
    color: $blue;
    text-decoration: none;
  }

  &__title-3 {
    margin-bottom: 16px;
  }

  @media (min-width: $sizeMobile + 250) {
    margin-bottom: $marginBetweenArticle + 88;

    display: flex;
    justify-content: space-between;

    &__info {
      max-width: 50%;
    }
  }
}

/* #endregion */
