.about {

  &__paragraph {
    margin-bottom: 2px;

    font-size: 12px;
    font-weight: bold;
    line-height: 17px;

    color: $accentMaim;
  }

  &__title {
    --font: 32px;

    margin-bottom: 32px;

    font-size: var(--font);
    line-height: var(--font);
    font-weight: bold;
    letter-spacing: -1.5px;

    color: $black;

    @include onMiddleScreen {
      --font: 48px;
    }
  }

  &__topic {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
  }

  &__schedule {
    display: flex;
    margin-bottom: 16px;
  }

  &__schedule-time {
    margin-right: 25px;

    @extend %font-bold-16-27;
  }

  &__schedule-day {
    @extend %font-regular-16-27;

    &--bottom {
      margin-bottom: 24px;
    }
  }
}
