.about-us {
  display: grid;
  padding-top: 60px;
  @extend %sectionPaddings;

  @media (min-width: $tabletWidth) {
    grid-template-columns: 1fr 1fr;
  }

  &__section-title {
    @extend %section-title;
    padding-right: 15px;
  }

  &__section-link {
    color: $mainColor;
    text-decoration: none;
  }

  &__content {
    line-height: 27px;

    &-title {
      color: $mainColor;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      padding-bottom: 16px;
    }
  }

  &__text {
    padding-bottom: 30px;
  }
   
  &__text-bold {
    font-weight: bold;
    color: #000;
  }
}
