.about-us {

  &__section-tittle {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -1.5px;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    @include onDesctop {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  &__advantage {
    color: $c-dark;
    margin-bottom: 16px;

    @extend %Bold-font;

    &:nth-child(4) {
      margin-bottom: 40px;
    }
  }

  &__text {
    line-height: 27px;
  }
}
