.aboutus {
  display: flex;
  flex-direction: row;
  gap: 48px;
  max-width: 1020px;
  width: calc(100% - 2 * #{$contentMarginX40});

  @media (max-width: 860px) {
    flex-direction: column;
    width: calc(100% - 2 * #{$contentMarginX20});
  }

  &__heading {
    flex-basis: 50%;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;

    @media (max-width: 860px) {
      font-size: 36px;
    }
  }

  &__heading-blue {
    color: $blue;
  }

  &__article {
    flex-basis: 50%;
  }

  &__article-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $blue;
    margin-bottom: 16px;
  }

  &__article-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 16px;

    &--weight_bold {
      font-weight: 700;
    }
  }
}
