.about {
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $colorBlack;
    margin: 0 0 16px;
  }

  &__hours {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-bottom: 16px;
  }

  &__hours-time {
    font-weight: 700;
  }

  &__hours-week {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $colorBlack;
  }

  &__paragraph {
    margin: 0;

    &--margin {
      margin-bottom: 24px;
    }

    &--important {
      font-weight: 700;
      margin: 0;
    }
  }
}
