.about-us {

  @include onTablet {
    &--desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $gridGap;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: start;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__schedule {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &--title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 16px;
    }

    &--info {
      display: flex;
      margin-bottom: 16px;
    }

    &--time {
      margin-right: 24px;
      font-weight: 700;
    }
  }
}
