.about__schedule {
  display: flex;
  line-height: 2.5;

  &-days {
    margin-left: 25px;
    font-weight: 400;
  }

  &-close-title {
    margin-top: 16px;
    line-height: 27px;
  }

  &-close-time {
    font-weight: 400;
    @include textProperties;
  }
}
