.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 24px 120px 80px;

  @media(max-width: 500px) {
    display: flex;
    flex-direction: column;
    padding: 24px 20px 80px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;

    &_blue {
      color: #0075ff;
    }

    @media(max-width: 500px) {
      font-size: 36px;
    }
  }

  &__h3 {
    color: #0075ff;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

  }

  &__paragraph {
    font-size: 16px;
    line-height: 27px;

    &_bold {
      font-weight: bold;
    }
  }
}
