.about {
  &__title {
    margin: 0 0 32px;

    @include onDesktop {
      margin: 0;
    }
  }

  &__content {
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    color: $color-text;
  }
}
