.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 86px;

  &__logo {
    height: 38px;
    width: 130px;
  }

  &__icons {
    display: flex;
  }

  &__phone {
    height: 24px;
    width: 24px;
    margin-right: 24px;
  }

  &__burger {
    height: 24px;
    width: 24px;
  }

  &__img {
    width: 100%;
    background-size: cover;
  }
}
