.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;

  &__call-container {
    display: flex;
    align-items: center;

    &:hover {
      @include onDesktop {
        & .action__call-info {
          opacity: 1;
        }
      }
    }
  }

  &__call-info {
    margin-right: 20px;
    padding: 10px 0;

    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    text-align: right;
    color: #fff;
    text-transform: uppercase;

    opacity: 0;
    transition: opacity 1s;

    & a:nth-child(2) {
      margin-bottom: 8px;
    }

    @include onMobile {
      display: none;
    }
  }

  &__call-info-link {
    display: block;
    color: #fff;

    &:hover {
      color: $c-accent-main;
    }
  }
}
