.action {
  &__link {
    display: none;
    @include whiteLink;
    text-transform: uppercase;
    position: relative;

    @include onDesktop {
      @include bottomBorder;
    }
  }

  &__icon {
    cursor: pointer;
    transition: transform 300ms;

    &:hover {
      transform: scale(1.3);
    }

    @include onTablet {
      display: block;
    }

    @include onDesktop {
      display: none;
    }
  }
}
