.action-button {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;

  font-weight: 700;
  color: white;
  font-family: "Cinzel", serif;

  background-color: $metMainColor;

  transition: background-color 0.5s;;

  &:hover {
    background-color: $metMainColorHover;
  }

  &:active {
    background-color: $metMainColorAction;
  }
}
