.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons--position-right {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

    @include onDesktop {
      gap: 40px;
    }
  }
}
