.actions {
  --icon-size: 18px;

  display: grid;
  grid-template-columns: var(--icon-size) 1fr var(--icon-size);
  align-items: center;
  justify-items: center;

  @include onDesktop {
    --icon-size: 24px;
  }
}
