.action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__call {

    &:hover {
      @include onDesktop {
        & + .action__call-info {
          opacity: 1;
        }
      }
    }
  }

  &__call-info {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    order: -1;
    transition: opacity 1s;
  }
}
