@import "../blocks/details.scss";

.addons {
  padding-bottom: 40px;

  @include onTab {
    padding-bottom: 48px;
  }

  &__images {
    padding-bottom: 16px;
  }

  &__photo {
    height: 130px;
    width: 100%;

    @include onTab {
      height: 187px;
    }

    @include onDesktop {
      height: 320px;
    }

    object-fit: cover;
    object-position: center;
  }

  &__title {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
  }
}
