.address {
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  padding-bottom: 48px;
  &__place {
    margin: 0 0 16px;
  }
  &__label {
    font-weight: 400;
    margin: 0 0 4px;
  }
  &__content {
    margin: 0;
    text-decoration: none;
    color: black;
    &:hover {
      color: #d12d35;
    }
  }
  &__phone {
    text-decoration: none;
    color: black;
    &:hover {
      color: #d12d35;
    }
  }
}
