@use '../utils/variables' as *;

.address {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__name {
    font-size: 14px;
    color: $gray;
  }

  &__value {
    font-size: 16px;
    line-height: 22.4px;
    color: $middle-dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
