@use '../utils/variables' as *;

.address {

  &__location {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    color: $color-black;
    margin-bottom: 16px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__label {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    color: $color-black;
    margin-bottom: 8px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__content {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    color: $color-grey;
    margin-bottom: 4px;

    a {
      text-decoration: none;
      color: inherit;
    }

    &--secondary {
      margin-bottom: 48px;
    }
  }
}
