.adress {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
      margin-right: 24px;
    }
  }

  &__title {
    margin: 0 0 16px;
    @extend %bold-text;
  }

  &__subtitle {
    margin: 0 0 4px;
    font-size: 14px;
  }

  &__link {
    line-height: 140%;
    color: $link-color;

    text-decoration: none;

    @extend %bold-text;

    transition: color 0.3s;
    
    &:hover {
      color: $accent;
    }
  }

  &__block {
    margin-bottom: 8px;
  }
}
