.address {
  padding: 24px 0 0;

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  &__label {
    size: 14px;
    line-height: 19.6px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 24px 0 0;
  }

  &__content {
    size: 16px;
    line-height: 22.4px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin: 8px 0 0;

  }
}
