@use '../utils/mixins.scss' as *;

.adress {
  padding: 20px;

  @include ipad() {
    padding: 30px;
  }

  @include desktop() {
    padding: 40px;
  }
  grid-column: 1/-1;

  @include ipad {
    grid-column: 4/7;
  }

  @include desktop {
    grid-column: 8/-1;
  }

  &__box {
    padding: 10px 0;
  }
  &__label {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 8px 0;

    &:hover {
      color: gold;
    }
  }

  &__content {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 8px 0 0;
    text-decoration: none;
    color: #fff;

    &:hover {
      color: gold;
    }
  }
}
