.advantage {
  color:$primary-color;

  @include onTablet {
    margin-left: 24px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 140%;
  }

  &__description {
    font-weight: 400;
    line-height: 30px;
  }
}
