.advantages {

  &__title {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__important-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-top: 40px;
  }
}
