.advantages {
  &__title {
    margin: 0 0 32px;

    @include onTablet {
      grid-column: 1/4;
      margin-bottom: 0;
    }

    @include onDesktop {
      grid-column: 1/6;
    }
  }

  &__description {
    @include onTablet {
      grid-column: 4/7;
    }

    @include onDesktop {
      grid-column: 6/11;
    }
  }

  &__heading-container {
    margin-bottom: 40px;
  }

  &__heading {
    @extend %bald-text;
    margin: 0 0 16px;

    &:last-child {
      margin: 0;
    }
  }

  &__details {
    margin: 0;

    line-height: 27px;
  }
}
