.advantages {
  font-weight: 700;
  line-height: 22px;

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    list-style: none;
    margin-bottom: 16px;
  }

  &__description {
    line-height: 27px;
    font-weight: 400;
  }

  &__title {
    margin: 0 0 32px;

    @include onTablet {
      margin: 0;
    }
  }
}
