.app-position {
  padding: 29px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet() {
    padding: 34px 70px;
  }

  @include onDesktop() {
    padding: 36px 120px;
  }

  &__info-case {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
