.argument {
  display: grid;

  grid-template-columns: 555px 705px;
  grid-template-rows: 382px;

  grid-template-areas: "slogan text";

  &__slogan {
    grid-area: slogan;
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    height: 64px;
    width: 411px;
    color: #fff;
    position: relative;
    top: 120px;
    left: 120px;
  }

  &__text {
    grid-area: text;
    width: 498px;
    height: 102px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
    position: relative;
    top: 120px;
  }
}
