.art {

  &__photo-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-height: 320px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      height: 186px;
      padding-bottom: 0;
    }

    @include onDesktop {
      height: 320px;
      padding-bottom: 0;
    }

    &--3 {
      
      @include onTablet {
        height: 284px;
        padding-bottom: 0;
      }
  
      @include onDesktop {
        height: 320px;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }


    &--hidden {
      display: inline-block;

      @include onTablet {
        display: none;
      }

      @include onDesktop {
        display: inline-block;
      }
    }

  }

  &__title {
    color: $colorAccent;
  }

  &__subtitle {
    font-weight: 400;
  }

  &__row {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 48px;
  }
}

// .row--3-photos {
//   height: 87px;

//   @include onTablet {
//     height: 284px;
//   }

//   @include onDesktop {
//     height: 320px;
//   }
// }