.main {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  background-color: $color-background;
}

.review {
  display: grid;
  grid-template-columns: 1fr;

  &__title-text {
    display: block;
    line-height: 36px;
    margin-top: 64px;
    margin-left: 20px;
  }

  &__title-blue {
    font-size: 36px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 36px;
    color: $color-blue;
  }

  &__article-head {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: $color-blue;
    line-height: 30px;
    margin-top: 48px;
    margin-left: 20px;
  }

  &__article-text {
    display: block;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    font-style: normal;
    margin: 16px 20px 0;
  }

  &__article-strong {
    font-weight: 700;
  }
}
