.article-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    @media (min-width: 1260px) {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
  }
  
  &__title {
    text-align: center;
    margin-bottom: 8px;
  }
  
  &__text {
    text-align: center;
    margin-bottom: 24px;
  }
}
