.article {
  &__paragraph {
    color: #292929;
    font-family: Space Grotesk, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    padding-top: 16px;
  }
  &__about-us {
    color: #292929;
    font-family: Space Mono, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 140%; /* 22.4px */
    padding-bottom: 104px;
  }
}
