.article-2 {

  &__title {
    color: $white;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-top: 16px;
  }

  &__paragraph {
    color: $white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-top: 8px;
    padding-bottom: 40px;
  }
}

@media (min-width: 744px) {
  .article-2 {
    margin-left: 72px;
    margin-right: 72px;
  }
}
