.articles {
  @include onTablet {
    &__grid {
      @include useGrid(4, 24px);
    }
  }

  @include onDesktop {
    &__grid {
      @include useGrid(12, 24px);
    }
  }

  &__article {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 24px;
    }
  }
}

.article {
  text-align: center;

  &__image {
    @include widthHeight(100%, 100%);
    object-fit: cover;
    margin-bottom: 24px;
  }

  &__title {
    color: $main-color;
    @include sizeLine(24px, 32px);
  }

  &__desc {
    font-weight: 400;
    @include sizeLine(16px, 27px);
  }
}
