.compare {
  max-width: 1260px;
}

.comparing {
  color: $text-white;

  &__photo {
    padding-bottom: 32px;
    width: 324px;
    height: 256px;
    display: block;
    
    &:hover {
      transform: scale(120%);
      transition: 1s;
    }
  }

  &__link {
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin: 0;
    padding-bottom: 8px;
    text-decoration: none;
    color: $text-white;
  }
  
  &__paragraf {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 16px;
  }

  &__price {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    padding-bottom: 40px;
  }
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  padding-left: 40px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    width: 1260px;
  }


  &__item--1 {
    grid-column: 1 / 2 ;

    @include onTablet  {
      grid-column: 3 / 6;
    }

    @include onDesktop {
      grid-column: 1 / 4 ;
    }
  }


  &__item--2 {
    grid-column: 1 / 2;

    @include onTablet  {
      grid-column: 3 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 8;
    }
    
  }

  &__item--3 {
    grid-column: 1 / 2;

    @include onTablet  {
      grid-column: 3 / 6;
    }

    @include onDesktop {
      grid-column: 9 / 12;
    }
 }
}

.conteiner {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1260px;
  padding-left: 50px;

  @include onTablet {
    padding-left: 30px;
  }

  @include onDesktop {
    padding-left: 70px;
  }
}
