.banner {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url(../images/photos/banner_bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: $color-grey;

  @include onTablet {
    background-position: right;
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 202px;
    width: 100%;
    text-align: center;
    padding: 0 24px;

    @include onLaptop {
      bottom: 170px;
    }

    @include onTablet {
      bottom: 130px;
    }

    @include onMobile {
      bottom: 88px;
      padding: 0 20px;
    }
  }
}
