.benefits {
  &__title {
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    text-align: start;

    @include onTablet {
      margin-bottom: 0;

      font-size: 40px;
      line-height: 100%;
    }

    @include onDesktop {
      margin-bottom: 0;

      font-size: 48px;
      line-height: 48px;
    }
  }

  &__list {
    margin-bottom: 40px;
    list-style: none;
  }

  &__item {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

  }

  &__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
