.benefits {
  &__title {
    text-align: left;
    margin-bottom: 32px;

    @include onIPAD_mini {
      margin-bottom: 0;
    }
  }

  &__dignity {
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 40px;

    &-item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
