.benefits {
  // display: none;

  &__title {
    margin-bottom: 32px;

    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 16px;

    font-weight: 700;
    line-height: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description {
    max-width: 280px;

    line-height: 27px;

    @include onDesktop {
      max-width: 100%;
    }
  }
}
