.bestSeller {
  animation: fadeInRight 1s ease-out;

  &__section {
    padding-top: var(--sectionPadding);
    display: flex;
    gap: var(--pageGatter);

    @media (max-width: 744px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
