.bestSeller {
  display: flex;
  gap: var(--pageGatter);
  animation: fade-in-right 1s ease-out;

  padding-top: var(--sectionPadding);

  @media (max-width: 1019px) {
    flex-direction: column;
    align-items: center;
  }
}
