.bike-card {
  margin: 0 auto;
  width: $bikeCardWidth;

  @include onTablet {
    width: $bikeCardTabletWidth;
  }

  @include onDesktop {
    width: $bikeCardDesktopWidth;
  }

  &__image {
    display: block;
    width: $bikeCardWidth;
    height: auto;
    margin: 0 auto 32px;
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
