.bike-item {
  margin: 0, auto;
  margin-bottom: 40px;

  @include onTablet {
    width: 66%;
  }

  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    @include sectionSubTitle;
  }

  &__paragraph {
    @include sectionParagraph;
  }

  &__price {
    @include sectionSubTitle;
  }
}
