.bikes-compare {
  padding-bottom: 92px;

  &__container {
    display: grid;
    grid-template-columns: 280px;
    justify-content: center;
  }

  &__sporty4 {
    &-image {
      @include bike-image("/images/photos/sporty4.png");
    }

    @include hover-scale-block;
  }

  &__ride-in-town {
    &-image {
      @include bike-image("/images/photos/ride-in-town-st.png");
    }
    @include hover-scale-block;
  }

  &__agile-ride {
    &-image {
      @include bike-image("/images/photos/agile-ride-3.png");
    }
    @include hover-scale-block;
  }
}
