.bike-card {
  overflow-x: visible;

  &__image {
    @include hover(scale, 1.05);

    width: 100%;
  }

  &__title {
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
  }

  &__desc {
    margin-top: 8px;
    line-height: 22px;
  }

  &__price {
    margin-top: 16px;
    font-weight: 700;
    font-size: 24px;
  }

  @include min-tablet-query {
    width: 392px;
  }
}
