.bike-card {
  &__photo {
    display: block;
    margin-bottom: 32px;
  }

  &__img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }

  &__model {
    margin-bottom: 8px;
    @include title-h3;
  }

  &__text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__price {
    margin-bottom: 48px;
    @include title-h3;
  }
}
