.bikes {
  &__photo-container {
    display: flex;
    justify-content: center;
    position: relative;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 32px;

    @include onTablet {
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  // &__info {

  // }

  &__title {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__price {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-decoration: none;
    color: $color-white;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
