.bike {
  display: block;
  margin: 0 auto;
  max-width: min-content;

  &__photo {
    margin-bottom: 32px;
    height: 228px;
    object-fit: cover;
    object-position: center;
    transition: transform 1s;

    &:hover {
      transform: scale(1.05);
    }

    @include onTablet {
      height: 316px;
    }

    @include onDesktop {
      height: 264px;
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__model {
    margin: 0 0 8px;
  }

  &__price {
    margin: 0;
  }
}
