.bike-card {
  display: block;

  &__img {
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    font-weight: 700;
    @include font-size-equel-line(24px);
    margin-bottom: 8px;
  }

  &__desc {
    margin-bottom: 16px;
  }
}
