.bike {
  display: grid;
  line-height: 140%;

  @include onTablet {
    grid-column: 2 / 3;
  }

  &__image {
    margin-bottom: 32px;
    justify-self: center;
  }

  &__title,
  &__price {
    font-size: 24px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
