.bike {
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    margin-bottom: 32px;
    cursor: pointer;
    overflow: hidden;

  }

  &__photo {
    width: 100%;
    grid-column: 1 / 5;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

  }

  &__name {
    margin: 0 0 8px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    color: #fff;
  }

  &__description {
    margin: 0 0 16px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }

  &__price {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
  }
}
