.bike-description {
  font-weight: 700;
  line-height: 140%;
  &__title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  &__content {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
  }
  &__bike-price {
    font-size: 24px;
  }
}
