.bikes {

  &__card {
    padding: 20px;
    margin-bottom: 20px;

    border-radius: 20px;

    transition: box-shadow $transition-time, transform $transition-time;

    cursor: pointer;

    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);

      transform: scale(1.05);
    }

    &:active {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
    }
  }

  &__card-link {
    text-decoration: none;
    color: $c-white;
  }

  &__pic-container {
    display: block;
    margin-bottom: 32px;
  }

  &__pic {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
  }

  &__title {
    margin-bottom: 8px;

    @include font-h3;
  }

  &__text {
    margin-bottom: 16px;

    @include font-p;
  }

  &__price {
    @include font-h3;
  }
}
