.bike-card {

  width: 280px;
  text-align: start;
  margin: 0 auto;
  
  @include onTablet {
    margin: 0 auto;
    width: 392px;
  }

  @include onDesktop {
    flex-basis: 21%;
    margin: 0 0;
  }

  &__img {
    display: block;
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }
}
