.bikes-card {
  padding-top: 90px;

  @include onTablet {
    padding-top: 130px;
  }

  @include onDesktop {
    padding-top: 160px;
  }

  &__content {
    padding-top: 48px;
    margin: 0 auto;
    max-width: 320px;

    @include onDesktop {
      max-width: 1020px;
      display: flex;
      margin-right: -24px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onDesktop {
      margin-right: 24px;
      padding-top: 0;
      width: 324px;
    }
  }

  &__photo {
    width: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    padding-top: 32px;
  }

  &__info {
    margin-top: 8px;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    padding-top: 16px;
  }
}
