.body {
  &__main {
    background-color: $c-main-dark-color;
  }

  &__header {
    margin-bottom: 120px;
    @include for-phone(668px) {
      margin-bottom: 0;
    }
  }

  &__about {
    margin-bottom: 164px;
    @include for-tablet(744px) {
      margin-bottom: 132px;
    }
    @include for-phone (668px) {
      margin-bottom: 92px;
    }
  }

  &__compare {
    margin-bottom: 144px;
    @include for-tablet(744px) {
      margin-bottom: 120px;
    }
    @include for-phone (388px) {
      margin-bottom: 92px;
    }
  }

  &__details {
    margin-bottom: 180px;
    @include for-phone (388px) {
      margin-bottom: 80px;
    }
  }

  &--with-menu {
    overflow: hidden;
  }

  &__contacts {
    margin-bottom: 182px;
    @include for-tablet(744px) {
      margin-bottom: 120px;
    }
  }
}
