.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  color: #fff;
  background-color: $colorBlack;
  font-weight: 700;
  line-height: 27px;

  text-decoration: none;
  border: 3px solid $colorBlack;
  border-radius: 40px;

  cursor: pointer;
  transition: all 0.3s;

  &--primary {
    color: $colorBlack;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
  }

  &:hover {
    background-color: transparent;
    color: $colorBlack;
  }

  &:active {
    color: #fff;
    background: #111;
  }
}
