.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  color: #fff;
  background-color: $colorBlack;
  font-weight: 700;
  line-height: 27px;

  text-decoration: none;
  border-radius: 40px;

}
