.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 100%;
  height: 55px;

  border: 1px solid transparent;
  background-color: $red-color;

  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: $white-color;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background-color: #eb343d;
  }
}
