.box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  &__call {
    text-decoration: none;
    @include onDekstop {
      &::before {
        content: "+1 234 555-55-55";
        position: relative;
        top: 50%;
        transform: translate(-100%, -50%);

        display: block;
        width: max-content;
        padding-right: 20px;

        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}
