.box {
  line-height: 140%;

  &__name {
    font-weight: 700;
    font-size: 24px;

    margin: 0 0 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;

    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__photo {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 32px;
    }
  }
}
