.browse {
  &__photo-container {
    position: relative;
    width: 100%;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;

    }
    @include onTablet {
      max-height: 184px;
      padding-bottom: 0;
    }

    @include onDesktop {
      max-height: 326px;
      padding-bottom: 0;
    }
  }

  &__photo {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    transition: scale 0.3s ease;

    //@include onTablet {
    //  max-height: 188px;
    //}
    //
    //@include onDesktop {
    //  max-height: 324px;
    //}

    &:hover {
      scale: 1.05;
    }
  }

  &__photos {
    margin-bottom: 16px;

    @include onTablet {
      margin-bottom: 16px;
    }
  }

  &__description {
    color: $textColor;

    font-size: 16px;

    @include onTablet {
      font-size: 24px;
    }
  }
}
