.browse-section {
  padding-top: 120px;

  &__title {
    margin: 0 0 48px;
    max-width: 335px;
    justify-self: center;
    grid-column: span 12;
    text-align: center;
    @extend %title-mobile;

    @media (min-width: $tablet-breakpoint) {
      margin-bottom: 64px;
      max-width: 392px;
      font-size: 40px;
      line-height: 100%;
    }

    @media (min-width: $desktop-breakpoint) {
      max-width: 498px;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__earbuds-img {
    grid-column: span 6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $tablet-breakpoint) {
      grid-column: span 8;
    }
  }

  &__headphones-img {
    grid-column: span 6;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $tablet-breakpoint) {
      grid-column: span 4;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    grid-column: span 12;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    @media (min-width: $tablet-breakpoint) {
      font-size: 24px;
      margin-bottom: 64px;
    }
  }

  &__rectangular-speaker-img {
    grid-column: span 6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $tablet-breakpoint) {
      grid-column: span 8;
    }
  }

  &__square-speaker-img {
    grid-column: span 6;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $tablet-breakpoint) {
      grid-column: span 4;
    }
  }

  &__blue-sunglasses-img {
    grid-column: span 6;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $tablet-breakpoint) {
      grid-column: span 4;
    }
  }

  &__black-sunglasses-img {
    grid-column: span 6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $tablet-breakpoint) {
      grid-column: span 8;
    }
  }

  &__button {
    grid-column: span 12;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-breakpoint) {
      max-width: 392px;
      justify-self: center;
    }

    @media (min-width: $desktop-breakpoint) {
      grid-column: 5/span 4;
    }
  }
}
