.browse {

  &__place {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }
}

.place{

  &__photo-container{
    transition: 1s;
    &:hover {
      transform: scale(1.05);
      z-index: 2;
      cursor: pointer;

      border-radius: 30px;
    }
  }
}

