.browse {

  &__title {
    grid-column: 1 / 3;

    @include onTablet {
      grid-column: 2 / 6;
    }
  }

  &__subtitle {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 16px;

    @include onTablet {
      font-size: 24px;

      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }
  }

  &__button {
    grid-column: 1 / 3;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }
  }

  &__picture {
    margin-bottom: 16px;

    height: 130px;
    width: 130px;

    background-size: cover;
    background-position: center;

    &-1 {
      background-image: url("../images/browse-1.png");
      grid-column: 1 / 2;

      @include onTablet {
        width: 392px;
        height: 187px;

        grid-column: 1 / 5;
      }

      @include onDesktop {
        width: 672px;
        height: 321px;

        grid-column: 1 / 9;
      }
    }

    &-2 {
      background-image: url("../images/browse-2.png");

      @include onTablet {
        width: 184px;
        height: 187px;

        grid-column: 5 / 7;
      }

      @include onDesktop {
        width: 324px;
        height: 320px;

        grid-column: 9 / -1;
      }
    }

    &-3 {
      background-image: url("../images/browse-3-mobile.png");
      grid-column: 1 / 2;

      @include onTablet {
        width: 392px;
        height: 187px;

        background-image: url("../images/browse-3-desktop.png");

        grid-column: 1 / 5;
      }

      @include onDesktop {
        width: 672px;
        height: 321px;

        grid-column: 1 / 9;
      }
    }

    &-4 {
      background-image: url("../images/browse-4.png");

      @include onTablet {
        width: 184px;
        height: 187px;

        grid-column: 5 / 7;
      }

      @include onDesktop {
        width: 324px;
        height: 320px;

        grid-column: 9 / -1;
      }
    }

    &-5 {
      background-image: url("../images/browse-5.png");
      grid-column: 1 / 2;

      @include onTablet {
        width: 184px;
        height: 187px;

        grid-column: 1 / 3;
      }

      @include onDesktop {
        width: 324px;
        height: 320px;

        grid-column: 1 / 5;
      }
    }

    &-6 {
      background-image: url("../images/browse-6-mobile.png");

      @include onTablet {
        background-image: url("../images/browse-6.png");

        width: 392px;
        height: 187px;

        grid-column: 3 / 7;
      }

      @include onDesktop {
        width: 672px;
        height: 321px;

        grid-column: 5 / -1;
      }
    }
  }
}
