.btn {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  
  color: $c-main;
  font-weight: 700;
  line-height: 27px;
  background-color: #fff;
  text-decoration: none;
  border-radius: $border-radius;

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
