.btn {
  display: none;

  &:not(:checked) ~ .header > .header__nav {
    pointer-events: none;
  }

  &:not(:checked) ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(1) {
    transform: translateX(90px);
    opacity: 0;
  }

  &:not(:checked) ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(2) {
    transform: translateX(90px);
    opacity: 0;
    transition-delay: 100ms;
  }

  &:not(:checked) ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(3) {
    transform: translateX(90px);
    opacity: 0;
    transition-delay: 150ms;
  }

  &:not(:checked) ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(4) {
    transform: translateX(90px);
    opacity: 0;
    transition-delay: 200ms;
  }

  &:not(:checked) ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(5) {
    transform: translateX(90px);
    opacity: 0;
    transition-delay: 250ms;
  }

  &:checked ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 100ms;
  }

  &:checked ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 100ms;
  }

  &:checked ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(3) {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 150ms;
  }

  &:checked ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(4) {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 200ms;
  }

  &:checked ~ .header > .header__nav > .header__menu > .header__menu-item:nth-child(5) {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 250ms;
  }

  &:not(:checked) ~ .header > .header__nav > .header__info > .header__menu-item:nth-child(1) {
    transform: translateX(90px);
    opacity: 0;
    transition-delay: 300ms;
  }

  &:not(:checked) ~ .header > .header__nav > .header__info > .header__menu-item:nth-child(2) {
    transform: translateX(90px);
    opacity: 0;
    transition-delay: 350ms;
  }

  &:checked ~ .header > .header__nav > .header__info > .header__menu-item:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 300ms;
  }

  &:checked ~ .header > .header__nav > .header__info > .header__menu-item:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 350ms;
  }

  &:not(:checked) ~ .header::after {
    opacity: 0;
  }

  &:checked ~ .header::after {
    opacity: 1;
  }

  &:not(:checked) ~ .header > .header__title {
    transform: translateY(0);
    opacity: 1;
  }

  &:checked ~ .header > .header__title {
    transform: translatex(-25px);
    opacity: 0;
  }

  &:checked ~ .header > .header__label-for-nav > .header__img--menu3 {
    transform: scaleX(0);
    opacity: 0;
  }

  &:checked ~ .header > .header__label-for-nav > .header__img--menu2 {
    transform: rotateY(360deg) rotateZ(45deg);
  }

  &:checked ~ .header > .header__label-for-nav > .header__img--menu1 {
    transform: translate(-1px, 5px) rotateZ(-45deg);
  }
}
