.btn {
  color: white;
  background: #292929;
  border-radius: $bo-radius-md;

  font-weight: $weight-bold;
  font-size: $f-size-sm;

  width: 324px;
  height: 56px;

  @include onMobile {
    width: 280px;
  }

  &:hover {
    background: white;
    color: #292929;
  }
}
