@use '../mixins/mixins' as *;

.burger{
  display: inline-block;
  width: 18px;
  height: 12px;
  background-image: url('../images/menu.svg');
  background-size: cover;

    @include tablet {
      width: 24px;
      height: 16px;
    }

      @include desktop {
      width: 32px;
      height: 24px;
    }

    @include big-desktop{
      height: 32px;
      width: 40px;
    }

  &:hover{
    background-image: url('../images/menu_hover.svg');
  }

  &__label{
    @include visualy-hidden;
  }
}
