.burger-menu-wrapper {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: none;
  @media (max-width: $breakpoint-md) {
    display: flex;
  }
}

.burger-menu-wrapper--active {
  z-index: 100;
}

.burger-menu {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: #fff;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
}

.burger-menu.burger-menu--active {
  background-color: transparent;
}

.burger-menu.burger-menu--active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.burger-menu.burger-menu--active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
