@use '../utils/mixins.scss' as *;

.burger {

  &::before {
    content: '';
    background-image: url('../assets/icons/Icon-Burger-menu.svg');
    background-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px;
    align-content: center;

    @include for-tablet {
      width: 24px;
      height: 24px;
    }

    @include for-desktop {
      width: 24px;
      height: 24px;
    };
  }

  &::after {
    display: none;
    content: '';
    background-image: url('../assets/icons/Icon-Burger-menu-hover.svg');
    background-size: cover;
    width: 24px;
    height: 24px;

    @include for-desktop {
      width: 24px;
      height: 24px;
    };
  }

  &:hover {
    &::before {
      display: none;
    }

    &::after {
      display: inline-block;
    }
  }

  &__label {
    @include visually-hidden;
  }
}
