.burger-menu {
  background-color: #e5e5e5;
  font-size: $header-font-size;
  padding: 30px 15px 90px;
  color: #1d1d1d;
  min-height: 100vh;
  font-weight: 600;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform 0.3s, b;
  transform: translatex(100%);
  overflow-y: hidden;

  @include onTablet {
    padding: 30px 60px 80px;
  }
  @include onDesktop {
    padding: 30px 100px 70px;
  }

  &:target {
    transform: translatex(0);
  }

  &__menu {
    margin-bottom: 50px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
    color: black;
  }
  &__link {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
  }
  &__option {
    margin-bottom: 32px;

  }

  &__option:last-child {
    margin-bottom: 40px;
  }

  &__info-phone {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__info-test-ride {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    position: relative;
  }
  &__info-test-ride::after {
    content: "";
    border-bottom: 1px solid #1d1d1d;
    width: 100%;
    position: absolute;
    top: calc(16px + 8px);
    left: 0;
  }
  &__link:hover {
    border-bottom: 1px solid #1d1d1d;
    cursor: pointer;
  }
}
