.burger-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 152px;
  height: 100vh;
  width: 100%;
  transform: translateY(-250%);
  margin: 0;
  left: 0;
  z-index: 2;

  background: $burger-bgc;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;

  transition: transform 0.5s ease 0s;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__logo {
    padding-top: 25.5px;
    margin-bottom: 18px;
  }

  &__item {
    width: 250px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__contact {
    width: 200px;
    margin-top: 48px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item:nth-child(n + 2) {
    margin-top: 32px;
  }

  &__call {
    margin-top: 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: left;
  }

  & span {
    position: relative;
    align-items: center;
    margin-top: 20px;
    width: 111px;
    border: 1px solid #fff;
  }
}

.burger-menu.active {
  transform: translateY(0%);
  padding: 0;
  margin: 0;
}

@media (min-width: $small-min-width) and (max-width: $small-max-width) {
  .burger-menu {
    &__logo {
      margin-bottom: 22px;
      &-img {
        height: 55px;
        width: 88px;
      }
    }
  }
}

@media (min-width: $medium-min-width) and (max-width: $medium-max-width) {
  .burger-menu {
    &__logo {
      margin-bottom: 12px;
      &-img {
        height: 65px;
        width: 98px;
      }
    }
  }
}
