@use '../utils/mixins.scss' as *;

.burger {
  &__icon {
    width: 24px;
    height: 24px;

    @include for-desktop-ipad-screen {
      width: 32px;
      height: 32px;
    }
  }

  &__label {
    @include visually-hidden;
  }
}
