@use '../utils/mixins' as *;

.burger {
  &::before {
    content: '';
    background-image: url(/./src/images/burger.svg);
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px;

    @include for-tablet {
      width: 24px;
      height: 24px;
    }

    @include for-desktop {
      width: 24px;
      height: 24px;
    }
  }

  &::after {
    content: '';
    display: none;
    background-image: url(/./src/images/burger-hover.svg);
    background-size: cover;
    width: 18px;
    height: 12px;

    @include for-tablet {
      width: 24px;
      height: 16px;
    }

    @include for-desktop {
      width: 24px;
      height: 16px;
    }
  }

  &:hover {
    &::before {
      display: none;
    }

    &::after {
      display: inline-block;
    }
  }

  &__label {
    @include visually-hidden;
  }
}
