.buttonTop {
  transition: all 0.3s;

  @include onPhone {
    width: 40px;
    height: 40px;
  }

  &:hover {
    box-shadow: 1px 1px 16px rgba(232, 232, 240, 0.4);
    transition: box-shadow 0.3s;
  }

  &__arrow {
    border: solid $colorBlack;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  &__up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
