.button-secondary {
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $c-white;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &::after {
    content: "";
    display: block;
    margin-top: 8px;

    border-bottom: 1px solid $c-white;
    opacity: 0.5;
    
    transition: opacity, $duration;

    @include onDesktop {
      opacity: 0;
    }
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}
