@use '/src/styles/utils/mixins.scss' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 40px;

  color:rgba(29, 29, 29, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;

  margin: 40px 0 0;

  &--explore {
    @include for-tablet {
      width: 392px;
    }
  }



    &--primary {
      margin: 32px 0 0;

      @include for-tablet {
        margin: 32px 0 0;
        width: 288px;
      }
    }

}
