.button {
  display: block;
  border-radius: 40px;

  height: 56px;
  width: 100%;

  &__view {
    background-color: $main-font-color;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    width: 280px;
    @include screenUp744 {
      width: 324px;
    }
    &:hover {
      background-color: #fff;
      color: $main-font-color;
      border: 3px solid $main-font-color;
    }
    &:focus {
      background-color: $main-font-color;
      color: #fff;
      border: 3px solid transparent;
    }
  }

  &__send {
    font-weight: 700;
    font-size: 16px;
    background-color: #fff;
    border: 3px solid $main-font-color;
    margin-bottom: 32px;
    &:hover {
      background-color: $main-font-color;
      color: #fff;
      border: 3px solid transparent;
    }
    &:focus {
      background-color: #fff;
      color: $main-font-color;
      border: 3px solid $main-font-color;
    }
  }
}
