.photos-btn {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 58px;
  width: 100%;

  background-color: $t-color;
  border: 3px solid $t-color;
  border-radius: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: $bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;

  transition: background-color 0.3s, color 0.3s;

  &--primary {
    margin-bottom: 40px;
    cursor: pointer;
  }

  &:hover {
    background-color: #fff;
    color: $t-color;
  }
}
