.button {
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 14.5px 0;
  border: 1px solid transparent;

  width: 100%;
  height: 56px;

  cursor: pointer;

  @extend %normal-text;
  text-decoration: none;
  color: $white;

  background-color: $accent-main-color;

  transition: all 0.3s;

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    background-color: $button-pressed-color;
  }
}
