.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 56px;
  border: 2px solid $colorBlue;
  border-radius: 8px;

  text-decoration: none;
  color: $colorBlue;

  cursor: pointer;
  transition: all 0.3s;

  &--primary {
    color: #fff;
    border-color: $colorDarkBlue;
    background-color: $colorDarkBlue;
  }

  &:hover {
    color: #fff;
    border-color: $colorDarkBlue;
    background-color: $colorDarkBlue;
    box-shadow: 13px 27px rgba(0, 83, 181, 0.46);
  }

  &:active {
    border-color: $colorDarkBlue;
    background-color: $colorDarkBlue;
    box-shadow: 8px 14px rgba(0, 83, 181, 0.48);
  }
}
