.button-white {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px 50px;

  background: #fff;
  border-radius: 40px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  @include onTablet {
    width: 65%;
  }

  @include onDesktop {
    width: 32%;
  }
}
