.secondary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  height: 56px;
  @include tablet {
    width: 150px;
  }

  box-sizing: border-box;
  border: $c-blue 2px solid;
  border-radius: 8px;

  font-weight: 700;
  font-size: 16px;
  color: $c-blue;
  text-decoration: none;
  transition: background-color 0.5s,
    color 0.5s,
    box-shadow 0.5s,
    transform 0.2s;

  &:hover {
    background-color: #005ecc;
    color: #fff;
    box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  }

  &:active {
    box-shadow: 0 6px 12px rgba(0, 83, 181, 0.48);
    transform: translateY(2px);
  }
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  height: 56px;
  @include tablet {
    width: 150px;
  }

  box-sizing: border-box;
  border: $c-blue 2px solid;
  border-radius: 8px;

  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: $c-blue;
  text-decoration: none;
  transition: background-color 0.5s,
    color 0.5s,
    box-shadow 0.5s,
    transform 0.2s;

  &:hover {
    background-color: #005ecc;
    color: #fff;
    box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  }

  &:active {
    box-shadow: 0 6px 12px rgba(0, 83, 181, 0.48);
    transform: translateY(2px);
  }
}
