.button {
  @extend %flex-center;
  @extend %link-style;
  width: 100%;
  box-sizing: border-box;
  height: $button-heigth;
  line-height: $button-heigth;
  border-radius: $border-radius;
  background: $button-bg-default-color;
  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: 700;
  color: $button-text-primary-color;
  @include smooth(background-color);

  &:hover {
    background-color: $button-bg-hover-color;
  }

  &:active {
    background-color: $button-bg-active-color;
  }

  @include for-desktop() {
    width: 324px;
  }

  &--primary {
    display: block;
    border: 0;

    @include for-desktop() {
      width: 100%;
    }
  }
}
