.button-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-image: url(../images/up_button.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
  border: 2px solid $mainDark;
  border-radius: 50%;
}
