.button-white {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px 50px;

  background: #fff;
  border-radius: 40px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  transition: box-shadow 0.5s;

  @include onTablet {
    width: 65%;
  }

  @include onDesktop {
    width: 32%;
  }

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
}
