.button-scroll {
  @include circle(40px);

  background-color: $primary;
  box-shadow: 4px 4px 12px #00000040;

  cursor: pointer;

  background-image: url("../images/icon-arrow.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;

  @include media-breakpoint-md {
    background-size: 20px;
  }

  transition: transform $duration-default linear,
    visibility $duration-default linear,
    background-color $duration-default;

  @include media-breakpoint-md {
    @include circle(60px);
  }

  &:hover {
    background-color: $primary-accent;
  }
}
