.buy-info {
  &__title {
    margin: 0 0 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;

    letter-spacing: -1.5px;
    color: $blackAccent;

    @include onDesktop {
      margin: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__paragraph {
    margin: 0 0 40px;

    @include forText(400, 16px, 27px);

    &--important {
      @include forText(700, 16px, 40px);
    }
  }
}
