.buy-direct {
  &__bold-text {
    font-weight: 700;
    font-size: 16px;
    color: #292929;
    margin: 0 0 16px;

    &--last {
      margin-bottom: 40px;
    }
  }

  &__text {
    margin: 0;
  }

  &__tittle {
    margin-bottom: 32px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
