@import "./direct-list";

.buy-direct {
  margin: 96px 20px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 32px;

  & > :first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &__list {
    grid-column: 1 / 3;
    margin-bottom: 8px;

  }

  &__pharagraph {
    grid-column: 1 / 3;
    color: $main-color;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
  }

}
