.buy-from-bose {
  margin-top: 32px;
  width: 100%;

  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__benefit {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $main-c;
  }

  &__info {
    display: block;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
