.buy-direct {
  &__title {
    @extend %title-font;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
  }

  &__strong {
    font-weight: 700;
  }

  &__link {
    font-weight: 700;
    color: $page-color;
    transition: text-shadow $transition-time;

    &:hover {
      text-shadow: 0 1px 5px $page-color;
    }
  }
}
