.buy {
  &__content {
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }
  &__title {
    margin: 0 0 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $textColor;

    @include onDesktop {
      grid-column: 1 / 5;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 0;
    }
  }

  &__description {
    @include onDesktop {
      grid-column: 7 / 13;
    }
  }

  &__advantages {
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $textColor;

    &--last {
      margin-bottom: 40px;
    }
  }

  &__paragraph {
    font-size: 16px;
    line-height: 27px;
    color: $textColor;
  }
}
