.buy {
  &__title {
    margin: 0 0 32px;
    text-align: start;

    @media (min-width: 744px) {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 0;
    }

    @media (min-width: 1024px) {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 0;
    }
  }

  &__paragraph {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #292929;

    &--advantages {
      font-weight: 700;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }
}
