.buy {
  &__title {
    margin: 0 0 32px;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    color: $dark-shade-gray;

    @include onTablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__subtitle {
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: $dark-shade-gray;

    &:nth-child(4) {
      margin-bottom: 40px;
    }
  }

  &__paragraph {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: $dark-shade-gray;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
