.buying {
  display: flex;
  flex-direction: column;
  &__main {
    font-size: 16px;
    line-height: 27px;
    max-width: 280px;
    max-height: 189;
    padding-top: 40px;

    @include onDesktop {
      max-width: 410px;
      max-height: 135;
    }
  }

  &__articles {
    font-size: 16px;
  }

  &-title {
    padding-bottom: 32px;
    text-align:left;
  }
}
