.section__buy {
  padding-top: 120px;

  &__wrapper-text {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 40px;

    &--title {
      font-weight: 700;
      font-size: 48px;
      letter-spacing: -1.5px;
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-weight: 700;
      list-style: none;
    }

    &--paragraf {
      grid-column: 2/4;
      max-width: 410px;
      font-weight: 400;
      line-height: 26px;
    }
  }
}
