.by-category {
  @extend %categoryPaddingArrange;

  &__title {
    @include fontProperties(48px, 48px);
    grid-area: 1 / 1 / 1 / -1;
    text-align: center;

    @media (max-width: $tabletWidth) {
      @include fontProperties(40px, 40px);
    }

    @media (max-width: $mobileWidth) {
      @include fontProperties(32px, 32px);
    }
  }

  &__ear-products,
  &__speakers {
    @include gridLayout;
  }

  &__sunglasses {
    @include gridLayout(30vw, 60vw);
  }

  &__earbuds,
  &__speaker-light-blue {
    @include heightWidth(100%, 100%);
    grid-column: 1 / 3;

    @media (max-width: $maxWidth) {
      grid-column: 1 / 2;
    }

    @media (max-width: $mobileWidth) {
      grid-column: 1 / 1;
    }
  }

  &__headphones,
  &__speaker-blue {
    @include heightWidth(100%, 100%);
    grid-column: 3 / -1;

    @media (max-width: $maxWidth) {
      grid-column: 2 / -1;
    }

    @media (max-width: $mobileWidth) {
      grid-column: 2 / -1;
    }
  }

  &__name {
    @include fontProperties(24px, 140%, 700, initial);

    grid-row: 2;
    grid-column: 1 / -1;

    @media (max-width: $mobileWidth) {
      font-size: 16px;
    }
  }

  //think a better way to write this
  &__sunglasses-blue {
    @include heightWidth(100%, 100%);
    grid-column: 1 / 2;

    @media (max-width: $maxWidth) {
      grid-column: 1 / 2;
    }

    @media (max-width: $mobileWidth) {
      grid-column: 1 / 1;
    }
  }

  &__sunglasses-black {
    @include heightWidth(100%, 100%);
    grid-column: 2 / -1;
    background-position: center;

    // @media (max-width: $maxWidth) {
    //   grid-column: 2 / -1;
    // }

    // @media (max-width: $mobileWidth) {
    //   grid-column: 2 / -1;
    // }
  }
}
