.call {
  display: block;
  height: $phone-size-small;
  width: $phone-size-small;
  background-image: url(../images/phone.svg);

  @include onDesktopTablet {
    height: $phone-size-big;
    width: $phone-size-big;
  }
}
