.call-for-order {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  padding-bottom: 8px;
  text-decoration: none;

  &--menu {
    width: fit-content;
  }

  &__container {
    font-family: inherit;
    &--header {
      display: none;

      @include onTablet() {
        display: block;
        pointer-events: none;
        opacity: 0;
        right: 100%;
        padding-right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: max-content;
        text-align: end;
        position: absolute;
        text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
      }
    }
  }

  &--action {
    display: inline-block;
    padding-top: 8px;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
    transition: border-bottom-color 0.3s;

    &:hover {
      border-bottom-color: #fff;
    }
  }

  &__link {
    display: block;
    color: #fff;
    text-decoration: none;
  }
}
