.call-hover {
  display: none;

  @include onDesktop() {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &__item {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: $colorWhite;
    text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
    text-align: right;
    text-decoration: none;

    &:nth-child(2) {
      margin-bottom: 8px;
    }
  }
}
