.card {
  text-align: left;
  margin-bottom: 40px;

  transition: box-shadow, transform 0.3s;
  
  @include onTabs {
    margin-bottom: 48px;
  }

  @include onDesktop {
    margin-bottom: 0;
  }

  &__title {
    @extend %title-styles;
    margin-bottom: 0.5rem;
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__photo {
    width: 100%;
    margin-bottom: 32px;
  }

  &__price {
    @extend %title-styles;

    &::before {

      content: "$";
      color: #fff;

    }
  }

  &:hover {
    cursor: zoom-in;
    transform: scale(1.1);
    box-shadow: 1px 4px 16px $c-main-green;
  }
}
