.card {
  &__image {
    display: block;

    margin: 0 auto 32px;
    min-width: 280px;

    @include onTablet {
      min-width: 392px;
    }

    @include onDesktop {
      min-width: 280px;
    }
  }

  &__title {
    margin-bottom: 8px;

    @include titleFontStyleSmaller();
  }

  &__text {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }

  &__price {
    @include titleFontStyleSmaller();
  }
}
