.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;

  color: $main_accent;

  transition: transform $animation_duration,
    background-color $animation_duration,
    border-radius $animation_duration;

  cursor: help;

  @media (max-width: 743px) {
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }

  &__image {
    margin-bottom: 32px;
  }

  &__title:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  @media (min-width: 1260px) {
    &:hover {
      background-color: whitesmoke;
      border-radius: 5px;
    }

    &--1:hover {
      transform: scale(1.1) rotate(-5deg);
    }

    &--2:hover {
      transform: scale(1.1);
    }

    &--3:hover {
      transform: scale(1.1) rotate(5deg);
    }
  }
}
