.cart {

  &__photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__photo {
    width: 280px;

    transition: all 0.3s;

    @include onTablet {
      width: 392px;
    }

    @include onDesktop {
      width: 100%;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 8px;

    color: $text-color;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 12px;

    color: $text-color;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: $text-color;
  }
}
