.catalog {
  display: flex;
  flex-direction: column;
  gap: 48px;

  margin: 0;
  padding: 0;

  @include onTablet {
    align-items: center;
    gap: 40px;
  }

  @include onDesktop {
    flex-direction: row;
    gap: 24px;
  }
}
