.catalog__products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 48px;
  place-items: center;

  @include onTablet {
    grid-template-columns: repeat(1, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }

  &__item {
    color: $mainTextColor;
    width: 100%;
    max-width: 280px;

    @include onTablet {
      max-width: 392px;
    }

    &--name {
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
    }

    &--price {
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
    }

    &--photo {
      margin-bottom: 32px;
      width: 100%;
      cursor: pointer;

      transition: transform 0.3s ease-in-out;

      @include onDesktop {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
