@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.catalog {
  @include grid-for-mobile;

  justify-items: start;

  &__pictures {
    grid-column: 1 / 3;
    justify-self: center;
    margin-bottom: 32px;
  }

  &__image {
    width: 100%;
    max-width: 392px;
    object-fit: cover;
  }

  &__title {
    grid-column: 1 / 3;

    margin-bottom: 8px;

    font-family: Poppins, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: $color-white;
  }

  &__paragraph {
    grid-column: 1 / 3;

    margin-bottom: 16px;

    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: $color-white;
  }

  &__price {
    grid-column: 1 / 3;

    margin-bottom: 92px;

    font-family: Poppins, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: $color-white;
  }
}
