.category {
  display: block;

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: var(--row-gap) var(--column-gap);
  }

  &__photo {
    width: 100%;
    height: auto;
  }

  &__name {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
}
