.category {
  &__photos {
    display: flex;
    justify-content: center;
    gap: 20px;

  }
  &__photo {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }
  &__name {
    margin-top: 16px;
    color: $main-color;
    @include interText(16px, 700);
  }
}
