.category {
  max-width: $maxContentWidth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;

  &__wraper {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }

  &__heading {
    text-align: center;
    margin-bottom: 64px;
    @include fontProperties(48px, 700, 48px);
    letter-spacing: $h2LetterSpacing;
  }

  &__photos {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 24px;
  }

  &__name {
    text-align: left;
    @include fontProperties(24px, 700, 140%);
  }

  &__btn {
    @include primaryBtn();
    @include btnTransition();

    &:hover {
      color: #292929;
      background-color: #fff;
    }

    &:active {
      color: #fff;
      background-color: #111;
    }
  }
}
