.categories {
  display: grid;
  row-gap: 48px;

  color: $main-text-color;

  &__wrapper {
    display: grid;
    row-gap: 40px;
  }
}

.category {
  @include page-grid;

  &__photos {
    @include page-grid;
    
    margin-bottom: 16px;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      grid-column: 5 / 9;
    }
  }

  &__link {
    position: relative;

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }

      height: 0;
      padding-bottom: 100%;
    }

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

    transition: transform $effect-duration;

    @include hover(transform, scale(1.05));
  }

  &__description {
    grid-column: 1 / -1;
    grid-row: 3;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: 1 / 9;
    }

    font-family: Poppins, sans-serif;
    line-height: 22.4px;
    font-size: 16px;
    text-align: start;
    margin: 8px 0 0;
  }

  &__title {
    grid-column: 1 / -1;
    grid-row: 2;

    @include on-tablet {
      grid-column: 1 / 6;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }

    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    line-height: 33.6px;
  }
}
