.section__category {
  padding-top: 120px;

  &--title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1.5px;
    margin-bottom: 64px;
  }
  &__wrapper-category__photo {
    display: flex;
    justify-content: center;
    gap: 24px;

    &--image {
      transition: 0.4s ease-in-out;
      border-radius: 10px;
      object-fit: contain;
      width: 100%;
      height: 100%;
      margin-bottom: 16px;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--name {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 64px;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
    height: 56px;

    &--button {
      text-decoration: none;
      color: #fff;
      border: 3px solid #292929;
      border-radius: 40px;
      background-color: #292929;
      font-weight: 700;
      font-size: 16px;
      padding: 15px 135px;
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #292929;
      }
    }
  }
}
