.category {
  &__photo-container {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-height: 320px;

    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      height: 187px;
    }

    @include onDesktop {
      height: 320px;
      padding-bottom: 0;
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__photos {
    margin-bottom: 16px;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #292929;

    cursor: pointer;

    @include onTablet {
      font-size: 24px;
    }
  }
}
