.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__photo {
    height: 153px;
    width: 153px;
    border-radius: 50%;
    margin-bottom: 28px;
    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $c-blue;
    margin-bottom: 4px;
  }

  &__profession {
    font-size: 14px;
    line-height: 27px;
    color: $c-grey;
    margin-bottom: 13px;
  }

  &__short-review {
    line-height: 27px;
  }

  @media (max-width: $medium) {
    width: 100%;
  }
}
