@use '../utils/mixins' as *;

.close {
  &__icon {
    height: 24px;
    transition: 0.5s;

    &:hover {
      transform: scale(120%);
    }

    @include for-tablet {
      height: 32px;
    }

    @include for-dektop {
      height: 32px;
    }
  }
}
