.close-link {
  display: block;

  @include square(21px);

  @include for-smartphone {
    @include square(16px);
  }

  background-image: url(../images/cross.svg);
  background-size: cover;

  &__label {
    @include visually-hidden;
  }
}
