@import "../utils/vars";

.closed {
  margin: 0;
  color: $font-color-main;
  font-family: $font-family-cinzel;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;

  &__title {
    font-weight: 700;
  }
}
