@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.close {
  display: inline-block;
  align-self: center;

  width: 24px;
  height: 24px;

  background-image: url('/src/images/Icon-Close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &__label {
    @include visually-hidden;
  }

  @media (min-width: $medium-res) {
    width: 32px;
    min-height: 32px;
  }
}
