.close {
  align-items: end;
  &__icon {
    width: 24px;
    height: 24px;
    @include for-tablet() {
      width: 32px;
      height: 32px;
    }
    @include for-desktop() {
      width: 32px;
      height: 32px;
    }
  }
}
