.container {
  padding: 40px 20px 94px;

  @media screen and (min-width: 900px) and (max-width: 4096px) {
    padding: 40px 120px 64px;
  }

  @media screen and (min-width: 600px) and (max-width: 900px) {
    padding: 40px 72px;
  }
}
