.collection {

  &__photos {
    margin-bottom: $margin-bottom-primary;
  }

  &__photo-container {
    @extend %photoContainer;

    max-height: $image-height-primary;

    @include onTablet {
      height: 180px;
    }

    @include onDesktop {
      height: $image-height-primary;
    }

    &--hidden {
      @include onTablet {
        height: 285px;
      }

      @include onDesktop {
        height: $image-height-primary;
      }
    }
  }

  &__image {
    @extend %imageStyle;

    object-position: 20% 50%;
  }

  &__info {
    color: $c--red;

    @include linkOnHover;
  }

  &__info-date {
    font-weight: 400;
    color: $c--black;
  }

  &__button {
    margin: 0 auto;
  }
}
