@import "utils";

.columns {
  display: flex;
  justify-content: space-between;

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    margin-bottom: 24px;

    &-title {
      @include columns-title;
    }

    &-number {
      @include columns-text;
    }
  }

  &__email {
    margin-bottom: 24px;
    &-title {
      @include columns-title;
    }

    &-text {
      @include columns-text;
    }
  }

  &__address {
    margin-bottom: 24px;

    &-title {
      @include columns-title;
    }

    &-text {
      display: block;

      @include columns-text;
    }
  }
}
