.columns {
  display: flex;
    
  &__hours {
    margin-right: 24px;
  }
    
  &__hours-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__days-item {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
}
