.compared {
  margin-bottom: 144px;

  &__photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-bottom: 32px;
    width: 280px;
    grid-column: 2 / 4;

    @include onTablet {
      width: 392px;
      height: 316px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
  }

  &__characteristic {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }

  &__cost {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
  }

  &__box {
    box-sizing: border-box;
    transition: all 0.5s;
  }

  &__box:hover {
    transform: translateY(-6px);

  }
}
