.compare {
  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 48px;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px ;
    }
  }

  &__link {
    transition-duration: $duration;
    &:hover {
      @extend %external-link;
    }
  }

  &__images {
    width: 100%;
    transition-duration: $duration;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__name-bike {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $c-white;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $c-white;
    margin-bottom: 16px;
  }

  &__bike-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $c-white;
    margin-bottom: 40px;
  }
}
