.comparisons {
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;

    @include onDesktop() {
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }

  &__title {
    margin-bottom: 48px;

    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;

    @include onTablet() {
      font-size: 48px;
    }
    @include onDesktop() {
      font-size: 64px;
    }

    @include onDesktop() {
      grid-column: 3 / 11;
    }
  }

  &__item:nth-child(2) {
    @include onDesktop() {
      grid-column: 1 / 5 ;
    }
  }

  &__item:nth-child(3) {
    @include onDesktop() {
      grid-column: 5 / 9;
    }
  }

  &__item:nth-child(4) {
    @include onDesktop() {
      grid-column: 9 / 13;
    }
  }
}
