.compBike {
  margin-bottom: 92px;

  @include grid;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onDesktop {
    margin-bottom: 144px;
  }

  &__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;

    text-align: center;
    letter-spacing: -1.5px;
    text-transform: capitalize;

    margin-bottom: 48px;

    color: #fff;

    grid-column: 1 / -1;

    @include onTablet {
      font-size: 48px;
      line-height: 100%;
    }
  
    @include onDesktop {
      font-size: 64px;
      margin-bottom: 56px;
    }
  }
}
