.compare-bikes {

  &__content {
    @include onTablet {
      display: grid;

      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
    }

    @include onDesktop {
      display: flex;
      grid-template: 24px;
    }
  }

  &__bike {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      grid-column: 2 / 6;
      margin-bottom: 48px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
