.compare-bike {
  color: $-c-white;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  @include hover(transform, scale(1.05));
  padding: 10px;

  &__photo {
    display: block;
    height: max-content;
    width: 100%;
    object-fit: contain;
    margin-bottom: 32px;
  }

  &__content {
  }

  &__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
  }

  &__description {
    margin-bottom: 16px;
    font-size: 16px;
  }

  &__price {
    font-size: 24px;
    font-weight: bold;
  }
}
