.compare-bike {
  &__photo {
    width: 100%;
    margin: 0 0 32px;
    @extend %transition;
    @extend %hover-scale;

  }

  &__name {
    margin: 0 0 8px;
  }

  &__about {
    margin: 0 0 16px;
  }

  &--bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
  &__price {
    margin: 0;
  }

}
