.comparing {
  &__item {
    max-width: 392px;
    margin: 0 auto;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.compare {
  &__photo {
    width: 100%;
    margin-bottom: 32px;
    transition: transform 0.3s;

    &:hover {
      @include onDesktop {
        transform: scale(1.1);
      }
    }
  }

  &__bike-name {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 24px;
  }

  &__description {
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }
}
