.compares {
  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onMedium {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
