.comparison-bike {
  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    margin-bottom: 32px;

    width: 324px;
    height: 256px;

    object-fit: cover;
    object-position: center;

    @include onIpad {
      width: 392px;
      height: 316px;
    }

    @include onMobile {
      width: 280px;
      height: 228px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 4px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 24px;

    @include onMobile {
      margin-bottom: 40px;
    }
  }
}
