.compare-bikes {

  @include onDesctop {
    margin-bottom: 144px;
  }

  &__inner {

    display: flex;
    flex-direction: column;

    @include onDesctop {
      flex-direction: row;
    }
  }

  &__box {
    margin: 0 auto 2.5rem;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesctop {
      max-width: 324px;

      &:nth-child(2n) {
        margin: 0 1.5rem;
      }
    }
  }

  &__box-image {
    margin-bottom: 2rem;
    width: 100%;
    min-height: 228px;
    position: relative;

    @include onTablet {
      max-height: 316px;
    }

    @include onDesctop {
      max-height: 256px;
    }
  }

  &__box-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    @extend %hover-img;
  }

  &__box-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    color: inherit;
    @extend %hover-link;
  }

  &__box-text {
    margin-bottom: 1rem;
    max-width: 392px;
  }
}
