.comparing {
  padding: 0 0 92px;

  @include onDesktop {
    padding: 0 0 140px;
  }
}

.compare {

  &__photo-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 24px;

    @include onTablet {
      grid-template-columns: repeat(6, 80px);
    }
  }

  &__pic {
    grid-column: 1 / 2;
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    object-position: bottom;
    margin: 0 0 32px;

    @include onTablet {
      grid-column: 2 / 6;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    padding: 0;

    @include onTablet {
      padding: 0 0 0 90px;
    }
  }

  &__title {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
  }

  &__subtitle {
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;

    @include onTablet {
      max-width: 90%;
    }
  }

  &__price {
    margin: 0;
    padding: 0 0 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;

    &-indent {
      padding: 0;
    }
  }
}
