.compare {
  &__item {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include onDesktop {
    margin-bottom: 0;
  }
}

.bike {
  &__photo-container {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    margin-bottom: 32px;
  }

  &__photo {
    grid-column: 1 / 5;
    width: 100%;
  }

  &__type,
  &__prace {
    margin: 0 0 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $colorText;
  }

  &__about {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $colorText;
  }
}

.grid__item--1-4 {
  grid-column: 1 / 5;
}

.grid__item--5-8 {
  grid-column: 5 / 9;
}

.grid__item--9-12 {
  grid-column: 9 / 13;
}
