.comparison {
  flex-direction: column;
  justify-content: center;

  &__bike {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesctop {
      margin-right: 24px;
      margin-bottom: 0;
     }
  }

  &__iner-wrapper {
    display: flex;
    flex-direction: column;

    @include onDesctop {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

