.compare {
  &__pic {
    grid-column: 1 / 2;
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    object-position: bottom;
    margin: 0 0 32px;
  }

  &__title {
    margin: 0 0 8px;
    font-weight: $fw-bold;
    font-size: 24px;
    line-height: 140%;
    color: $c-main-txt;
  }

  &__subtitle {
    margin: 0 0 16px;
    font-weight: $fw-normal;
    font-size: $f-size-text;
    line-height: 140%;
    color: $c-main-txt;
  }

  &__price {
    margin: 0;
    font-weight: $fw-bold;
    font-size: 24px;
    line-height: 140%;
    color: $c-main-txt;
  }
}
