.comparing {
  
  &__title {
    margin-bottom: 48px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  @include forTablet {
    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }
  }

  @include forDesktop {
    &__cards {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 24px;
    }
  }
}
