.comparison {
  &__photo {
    width: 280px;
    margin-bottom: 32px;

    @include onTablet {
      width: 392px;
    }

    @include onDesktop {
      width: 324px;
    }

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__model {
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__price {
    margin-top: 0;

    &:not(:last-child) {
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 48px;
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }
}
