.comparison {
  &__items {
    display: flex;
    flex-direction: column;

    @include onTablet {
      @include gridTablet;
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__card {
    @include marginBottom(40px, 48px, 0);

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      width: 30%;
    }
  }
}
