.Compare {
  display: flex;
  flex-direction: column;
  margin-bottom: 92px;

  @include onTablet() {
    margin-bottom: 120px;
  }

  @include onDesktop() {
    margin-bottom: 144px;
  }

  &__cont-text {
    font-style: normal;
    color: #fff;
    font-weight: 500;
    padding: 60px 0 92px;
    margin: 0 auto;

    @include onTablet() {
      display: flex;
      padding: 120px 0 72px;
    }

    @include onDesktop() {
      display: flex;
      padding: 120px 0;
    }
  }

  &__titleMF {
    @extend %title;
    width: max-content;
    padding: 0 0 32px;

    @include onTablet {
      width: 288px;
      padding: 0 24px 0 0;
      text-align: start;
    }
    
    @include onDesktop {
      width: 411px;
      padding: 0 24px 0 0;
    }
  }

  &__text {
    width: 280px;
    height: 182px;
    font-size: 23px;
    line-height: 140%;

    @include onTablet() {
      width: 288px;
    }
    
    @include onDesktop() {
      width: 498px;
    }
  }
  
  &__titleCb {
    @extend %title;
    width: 280px;
    margin: 0 auto 40px;

    @include onTablet {
      width: 392px;
      margin: 0 auto 48px;
    }
    
    @include onDesktop {
      width: 500px;
      margin: 0 auto 56px;
    }
  }

  &__Bike-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include onTablet() {
      gap: 48px;
    }

    @include onDesktop() {
      flex-direction: row;
      gap: 24px;
      justify-content: center;
      align-items: center;
    }
  }
}
