.compare {
  margin-right: auto;
  margin-left: auto;
  width: min-content;

  &__bikes {
    @include onDesktop {
      display: flex;
      gap: 24px;
    }
  }

  &__title {
    text-align: center;
  }

  &__place {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;

    text-align: center;
    color: inherit;
  }

  &__image {
    margin-bottom: 32px;

    width: 280px;

    transition: transform $transition-time;

    &:hover {
      transform: scale(1.2);
    }

    @include onTablet {
      width: 392px;
    }

    @include onDesktop {
      width: 324px;
    }
  }

  &__bike-name {
    @include title-h3;

    text-align: start;
  }

  &__paragraph {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 140%;
  }

  &__bike-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
