.compareBikes {
  display: grid;
  justify-content: center;

  &__photo {
    height: 228px;
    width: 100%;
    margin-bottom: 32px;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      height: 516px;
    }

    @include onDesktop {
      height: 264px;
    }
  }
}
