.compaire-bikes {
  &__paragraph {
    margin-bottom: 16px;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
}
