.compareBikes {
  &__items {
    @include onDesktop {
      display: flex;
      gap: 24px;
    }
  }

  &__item {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      max-width: 392px;
      margin-bottom: 48px;
    }

    @include onDesktop {
      max-width: 324px;
      margin-bottom: 0;
    }
  }
}

.bike {

  &__photo-container {
    margin-bottom: 32px;
    @include hoverFlex(scale, 1.2);
    @include hoverFlex(rotate, 2deg);
  }

  &__photo {
    display: block;
    max-width: 100%;
    object-position: center;
    object-fit: contain;
    transition: all 0.3s;
  }

  &__title {
    @extend %title;
  }

  &__benefit {
    line-height: 22px;
    margin: 0 0 16px;
  }

  &__price {
    font-weight: bold;
    font-size: 24px;
  }
}

.link {
  color: #fff;
  text-decoration: none;
}
