.compare-bike {
  
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
  
    margin-bottom: 32px;
  
    @include onDesktop() {
      margin-bottom: 32px;
    }
  }
    
  &__photo {
    width: 100%;
    grid-column: 1 / 5;
  }

  &__abaut {
    font-size: 16px;
  
    @include onDesktop() {
      font-size: 17px;
    }
  }
  
  &__name {
    margin: 0 0 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0;
    text-align: left;
  }
  
  &__prise {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0;
    text-align: left;
  }
}
