.connection {
  &__phone-text,
  &__email-text {
    margin: 0 0 8px ;
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    color: $lightgreyColor;
  }

  &__email-text {
    margin-top: 24px;
  }

  &__phone-number,
  &__email {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    color: $greyColor;
    text-decoration: none;
  }
}
