.consultation-form {
  flex-basis: 40%;
  @media (max-width: $breakpoint-md) {
    flex-basis: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 17px;
    border: 1px solid transparent;
    border-radius: $border-radius;
    background: $inputBackground;

    &::placeholder {
      text-transform: capitalize;
      color: $placeholderBacground;
      font-size: $fontSize-lg;
    }

    &:hover {
      border-color: $placeholderBacground;
    }

    &:focus {
      border-color: $blue;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 16px;
    padding: 17px;
    text-transform: capitalize;
    background: $blue;
    color: $white;
    font-size: 16px;
    font-weight: $fontWeightBold;
    border: 2px solid $blue;
    border-radius: $border-radius;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    cursor: pointer;
    transition: $transition;

    &:hover {
      background: transparent;
      color: $blue;
    }
  }
}
