.consultation {
  padding-top: 152px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__heading {
    position: relative;
    display: flex;
    justify-content: center;

    &:after {
      position: absolute;
      bottom: 7px;
      content: url(../images/crown.svg);
      width: 23px;
      height: 16px;
    }
  }

  &__content {
    padding-top: 93px ;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 413px;
  }

  &__form {
    max-width: 413px;

    &-item {
      margin-bottom: 16px;
      padding: 16px;
      width: 413px;
      height: 48px;
      background-color: #f7f8ff;
      border-radius: 8px;
      font-size: 14px;
      line-height: 14px;
      border: none;

      &::placeholder {
        color: #b9c1ce;
      }

      &:focus {
        outline: none;
        /* background: ; */
        padding-left: 15px;
        border: 1px solid $secondaryColor;
      }
    }
  }
}
