.consult {
  &__wrapper {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    margin-bottom: 32px;

    @include onTablet {
      margin: 0 auto 50px;
      width: 70%;
    }

    @include onDesktop {
      width: 412px;
      margin: 0;
    }
  }

  &__form {
    @include onTablet {
      width: 70%;
      margin: 0 auto;
    }

    @include onDesktop {
      width: 413px;
      margin: 0;
    }
  }

  &__title {
    @include title;
    margin-bottom: 53px;

    @include onTablet {
      margin-bottom: 93px;
    }
  }

  &__subtitle {
    @include blueText;
    margin-bottom: 16px;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      text-align: left;
    }
  }

  &__text {
    @include mainText;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      text-align: left;
    }
  }
}
