.consultation {
  @include flex-between;

  @media screen and (max-width: 900px) {
    & {
      @include flex-column;
      align-items: center;
    }
  }

  &__text {
    width: 413px;

    @media screen and (max-width: 900px) {
      & {
        width: $full-width;
      }
    }
  }

  &__heading {
    @include heading-third;
    padding-bottom: 16px;
    color: $color-light-blue;

    @media screen and (max-width: 900px) {
      & {
        padding-bottom: 0;
      }
    }
  }

  &__content-text {
    @include text-medium;

    @media screen and (max-width: 900px) {
      & {
        margin-bottom: 32px;
      }
    }
  }
}
