.consult {
  $columnWidth: 412px;
  &__inner {
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__text {
    width: $columnWidth;
    padding-bottom: 32px;

    @media (max-width: $mobileWidthPoint) {
      width: 100%;
    }
  }

  &__subtitle {
    padding-bottom: 16px;
    padding-right: 35px;
  }

  &__caption {
    max-width: 412px;
    padding-right: 35px;

    @media (max-width: $mobileWidthPoint) {
      max-width: 100%;
    }
  }

  &__form {
    width: $columnWidth;
  }

  &__input {
    margin-bottom: 16px;
  }

  &__button {
    @extend %button;
    background-color: $accentColor;
    color: #fff;

    &:hover {
      box-shadow: 0 6px 23px rgba(0, 117 ,255, 0.46);
    }
  }
}
