.consultation {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__heading {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 154px 0 93px;

    &:after {
      position: absolute;
      bottom: 7px;
      content: url(../images/crown.svg);
      width: 23px;
      height: 16px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 413px;
  }

  &__paragraph-heading {
    margin-bottom: 16px;
  }
}
