.container {
  max-width: 1260px;
  padding: 0 $gap-pad-mobile;
  margin: 0 auto;

  @media screen and (min-width: 744px) {
    padding: 0 $gap-pad-tablet;
  }

  @media screen and (min-width: 1260px) {
    padding: 0 $gap-section;
  }
}
