.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__header {
    font-size: 14px;
    line-height: 20px;
  }

  &__link {
    color: unset;
    text-decoration: none;
  }

  &__desc {
    font-weight: 500;
    line-height: 22px;
  }
}
