@import "../utils/mixins";

.contact-us-page {
  @include grid;

  grid-template-rows: auto;
  padding-bottom: 64px;
  margin: 0 20px;

  @include for-tablet() {
    @include grid-tablet;
    margin-bottom: 120px;
    margin: 0 72px;
  }

  @include for-desktop() {
    @include grid-desktop;
    margin-bottom: 120px;
    margin: 0 120px;
  }

  &__title-h2 {
    grid-column: 1 / -1;
    margin: 64px 0 48px;

    @include for-tablet() {
      margin: 120px 0 56px;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include for-desktop() {
      grid-column: 1 / 7;
    }
  }

  &__address {
    grid-column: 1 / -1;

    @include for-desktop() {
      grid-column: 8 / 13;
    }
  }
}
