.contacts-us {
  &__info {
    margin: 0 auto 24px;

    @media (min-width: 600px) and (max-width: 1023px) {
      width: 500px;
    }

    &--last {
      margin-bottom: 32px;
    }
  }

  &__info-title {
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;

    @media (min-width: 600px) and (max-width: 1023px) {
      width: 500px;
    }
  }

  &__info-link {
    color: #3e3e3e;
    text-decoration: none;
  }

  &__field {
    margin: 0 auto 16px;

    &--last {
      margin: 0 auto 32px;
    }
  }
}
