.contact-us {

  &__content{

    @include onTablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__form{
    margin: 0 0 50px;

    @include onTablet{
      margin-bottom: 0;
      margin-right: 24px;
    }
  }

  &__field {
  }

  &__info{
  }
  
  &__info-block{
    margin-bottom: 24px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__info-title{
    font-weight: 400;
    font-size: 14px;
    color: #9FADC2;
    margin: 0 0 8px;
  }

  &__info-link{
    display: block;
    text-decoration: none;
    color: #3E3E3E;
  }
}