.contact-us {
  &__info {
    margin-bottom: 24px;
  }
  &__info:last-child {
    margin-bottom: 0;
  }

  &__info:first-child {
    margin-top: 32px;

    @include onTablet () {
      margin-top: 0;
    }
  }

  &__info-title {
    margin-bottom: 8px;
    color: #9fadc2;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__info-link {
    text-decoration: none;
    color: $colorMainAccent;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    transition: color 0.2s;

    &:hover {
      color: #9fadc2;
    }
  }

  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
