.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 2rem;

  @include onTablet {
    padding: 0 7.2rem;
  }

  @include onDesktop {
    padding: 0 12rem;
  }
}
