.main {
  &__container {
    @include container;
  }
}

.best {
  display: flex;
  justify-content: space-between;
  padding: 105px 0 152px;

  @media (max-width: 1000px) {
    flex-direction: column;
    padding: 64px 0;
  }

  &__title {
    flex: 0 0 330px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;

    @media (max-width: 1000px) {
      flex-basis: 0;
      padding-bottom: 48px;
      font-size: 36px;
      line-height: 36px;
    }
  }
  
  &__link {
    display: inline-block;
    padding-left: 13px;
    text-decoration: none;
    color: $color1;
  }

  &__info {
    flex: 0 1 500px;
    @media (max-width: 1000px) {
      flex-basis: 0;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
    color: $color1;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: $color2;

    & :nth-child(1),
    & :nth-child(3) {
      margin-bottom: 40px;
    }

    & :nth-child(4),
    & :nth-child(5) {
      font-weight: bold;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;

  &__icon {
    width: 23px;
    height: 16px;
  }

  &__text {
    font-size: 48px;
    line-height: 48px;

    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 36px;
    }
  }
}

.photos-1 {
  @include galleryPhotosStyle;
  grid-template-columns: 2fr 1fr;

  &__photo {
    @include galleryPhoto;
  }

  @media (max-width: 767px) {
    @include galleryPhotoMaxWidth;
  }
}

.photos-2 {
  @include galleryPhotosStyle;
  grid-template-columns: 1fr 1fr;

  &__photo {
    @include galleryPhoto;
  }

  @media (max-width: 767px) {
    @include galleryPhotoMaxWidth;
  }
}

.photos-3 {
  @include galleryPhotosStyle;
  grid-template-columns: 1fr 2fr;

  &__photo {
    @include galleryPhoto;
  }

  @media (max-width: 767px) {
    @include galleryPhotoMaxWidth;
  }
}

.photo-caption {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;

  @media (max-width: 767px) {
    font-size: 13px;
  }

  span {
    color: $color1;
  }
}

.gallery {

  &__title1 {
    margin-bottom: 5px;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__photos-1 {
    @include gallery__photos;
  }

  &__photos-2 {
    @include gallery__photos;
  }

  &__photos-3 {
    @include gallery__photos;
  }

  &__photo-caption {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 173px;

    @media (max-width: 767px) {
      margin-bottom: 64px;
    }
  }

  &__link {
    padding: 21px 48px;
    border: 2px solid $color1;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    color: $color1;
    transition: all 0.5s;

    @media (max-width: 450px) {
      display: block;
      width: 100%;
      text-align: center;
    }

    &:hover {
      border: 2px solid transparent;
      background-color: $color4;
      color: $color3;
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }

    &:active {
      box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
    }
  }
}

.testimonials {

  &__title {
    margin-bottom: 72px;

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
}

.cards {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 365px;
  column-gap: 150px;

  @media (max-width: 1000px) {
    grid-template-columns: 280px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1000px) {
      &:nth-child(2) {
        padding-bottom: 48px;
      }
    }
  }

  &__photo {
    width: 150px;
    height: 150px;
    margin-bottom: 28px;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $color1;
    margin-bottom: 4px;
  }

  &__occupation {
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin-bottom: 13px;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $color2;
  }
}

.contact {
  padding-top: 152px;
  padding-bottom: 88px;

  @media (max-width: 767px) {
    padding-top: 64px;
  }

  &__title {
    margin-bottom: 72px;

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__forms {
    display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__data {
    display: grid;
    grid-template-columns: 152px 145px;
    grid-template-rows: repeat(4, 27px);
    grid-gap: 8px 108px;
    grid-template-areas: "phone name-address"
      "number address"
      "mail address"
      "Email address";

    @media (max-width: 450px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  &__phone {
    grid-area: phone;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: $color5;
  }

  &__name-address {
    grid-area: name-address;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: $color5;

    @media (max-width: 450px) {
      margin-top: 24px;
    }
  }

  &__number {
    grid-area: number;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: $color2;

    @media (max-width: 450px) {
      margin-bottom: 24px;
    }
  }

  &__address {
    grid-area: address;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: $color2;
  }

  &__mail {
    grid-area: mail;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: $color5;
  }

  &__email {
    grid-area: Email;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: $color2;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 413px;

  @media (max-width: 900px) {
    width: 100%;
  }

  &__text {
    height: 48px;
    @include formStyles;
    margin-bottom: 16px;

    &:hover {
      @include formHover;
    }

    &:focus {
      @include formFocus;
    }

    &::placeholder {
      @include formPlaceholder;
    }
  }

  &__email {
    height: 48px;
    @include formStyles;
    margin-bottom: 16px;

    &:hover {
      @include formHover;
    }

    &:focus {
      @include formFocus;
    }

    &::placeholder {
      @include formPlaceholder;
    }
  }

  &__textarea {
    height: 144px;
    @include formStyles;

    &:hover {
      @include formHover;
    }

    &:focus {
      @include formFocus;
    }
  }

  &__button {
    height: 56px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    background: $color1;
    margin-top: 32px;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    color: $color3;

    &:hover {
      background: $color4;
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }

    &:active {
      box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
    }
  }
}
