@import "../utils";

.contact {
  padding-top: $section-padding-top-S;

  @media (min-width: $brakepoint) {
    padding-top: $section-padding-top-L;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding-top: 32px;

    @media (min-width: $brakepoint) {
      flex-direction: row;
      padding-top: 72px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__info {
    display: inline-block;
    margin-bottom: 24px;

    color: #3e3e3e;
    line-height: 27px;
    text-decoration: none;

    transition: color $transition-duration linear;

    &--last {
      margin-bottom: 32px;
    }

    &:hover {
      color: $c-blue;
    }
  }

  &__form {
    width: 100%;

    @media (min-width: $brakepoint) {
      width: 411px;
    }
  }

  &__input {
    padding-left: 17px;
    margin-bottom: 16px;
    width: 100%;

    border: 2px solid transparent;
    border-radius: 8px;
    height: 48px;
    background-color: $input-color;

    &:hover {
      border-color: #ccd0e0;
    }

    &:focus {
      outline: none;
      border-color: $c-blue;
    }

    &--large {
      height: 144px;
      resize: none;

      margin-bottom: 32px;

      padding-top: 14px;
    }
  }
}
