.contuct-us-page {
  padding-bottom: $section-padding;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__contacts {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media (min-width: 960px) {
      max-width: 415px;
    }
  }

  &__heading {
    @extend %section-heading;

    &::after {
      @extend %crown-icon;
    }
  }

  &__phone-label {
    @extend %contacts-label-text;
  }
  
  &__email-label {
    @extend %contacts-label-text;
  }
  
  &__adress-label {
    @extend %contacts-label-text;
  }

  &__phone-link {
    @extend %contacts-link;
  }

  &__email-link {
    @extend %contacts-link;
  }

  &__adress-link {
    @extend %contacts-link;
  }

  &__email {
    max-width: 150px;
  }
  &__phone {
    max-width: 150px;
  }
  &__adress {
    display: inline-block;
    max-width: 150px;
  }
}
