.contact-us {
  &__info {
    margin: 0 0 24px;

    &--last {
      border-radius: 8px;
      margin-bottom: 32px;
    }
  }

  &__info-title {
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;

  }

  &__info-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}

.contakt {
  padding: 5px;
  transition: 0.3s;
  &:hover {
    background-color: #f7f8ff;
    border-radius: 8px;
    border: 2px solid #ccd0e0;
  }
}
