.contact-container {
  padding: 0 20px;
  margin-top: 100px;

  &__wrapper {
    @media (min-width: 744px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
    }
  }

  &__wrapper1 {
    @media (min-width: 1260px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
    }
  }
  
  &__title {
    text-align: center;
  }

  &__contact {
    margin-top: 48px;
  }
}
