.controls {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @include forMobile {
    height: 24px;
    width: 72px;
    margin-right: 20px;
  }

  @include forTablet {
    height: 32px;
    width: 96px;
    margin-right: 72px;
  }

  @include forDesktop {
    height: 32px;
    width: 96px;
    margin-right: 120px;
  }

  &__phone {
    @include forMobile {
      height: 24px;
    }

    @include notForMobile {
      height: 32px;
    }
  }

  &__burger {
    @include forMobile {
      height: 24px;
    }

    @include notForMobile {
      height: 32px;
    }
  }
}
