.container {
  padding: 0 20px;
  margin: 0 auto;

  &--main {
    max-width: 320px;
    @include media-properties($medium-screen-resolution) {
      max-width: $medium-screen-resolution;
    }

    @include media-properties($desktop-screen-resolution) {
      max-width: fit-content;
    }
  }

  @include media-properties($medium-screen-resolution) {
    padding: 0 72px;

  }

  @include media-properties($desktop-screen-resolution) {
    padding: 0 120px;
  }
}
