.content {
  &__about {
    display: grid;

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }

  &__title {

    margin-bottom: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    align-items: center;
    letter-spacing: -1.5px;

    color: #000;

    @include onDesktop {
      grid-column: 1 / 4;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      letter-spacing: -1.5px;
    }
  }

  &__description {
    @include onDesktop {
      grid-column: 7 / 13;
    }

  }

  &__title-link {
    color: $colorBlue;
    text-decoration: none;
  }

  &__subtitle {
    display: block;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: $colorBlue;
    text-decoration: none;
  }

  &__paragraph {
    margin-bottom: 27px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: $colorText;

    &:last-child {
      margin: 0;
    }
  
  
    &--important {
      font-weight: bold;
    }
  }
}
