.contacts {
  &__content {
    @include pageGrid;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }

  &__unit {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__contact {
    margin: 0;
    color: $text-color-grey;
    text-decoration: none;

    &:hover {
      color: $button-active-bg-color;
    }

    &-label {
      margin: 0;
      font-size: 14px;
      line-height: 140%;
      font-weight: 400;
      color: $contact-label-color;
    }
  }

  &__address-link {
    text-decoration: none;
  }
}
