.contact-us-form {
  display: inline-block;
  max-width: 415px;
  min-width: 280px;

  &__name {
    margin-top: 16px;
  }
  
  &__email {
    margin-top: 16px;
  }
  
  &__message {
    margin-top: 16px;
  }

  &__button {
    width: 100%;
    height: 56px;
    border: solid $main-color 1px;
    border-radius: 8px;
    color: #fff;
    background-color: $main-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    margin: 36px auto;
    @include smooth-transition(width, color, background-color);

    &:hover {
      color: $main-color;
      background-color: #fff;
    }
  }
}
