.contacts {
  &__info {
    margin: 0 0 24px;

    &-tittle {
      margin: 0 0 8px;
      font-size: 14px;
      color: #9fadc2;
    }

    &-link {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $c-blue;
      }
    }
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin: 0 0 32px;
    }
  }
}
