.phone-menu {
  display: block;

  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);

  &__item {

    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  &__address {
    color: $textColor;
  }

  &__number {
    border-bottom: 2px solid transparent;
    color: $textColor;
    text-decoration: none;
    transition: border-color $transitionDuration;

    &--hover--color {
      &:hover {
        color: $accentMain;
      }
    }

    &--hover--underline {
      &:hover {
        border-color: $textColor;
      }
    }
  }

  &--hidden-on-phone {
    display: none;
  }

  @include onTabletAndDesktop() {
    display: block;
  }
}
