.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__input {
    @extend %input;
  }

  &__textarea {
    @extend %input;

    height: 144px;
    margin-bottom: 16px;

    resize: none;
  }
}
