.contact-us {
  &__info {
    margin-bottom: 24px;
  }

  &__info-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: normal;
    color: $-c-white;
  }

  &__info-link {
    display: block;
    font-weight: 500;
    color: $-c-white;
    letter-spacing: 1.5px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    @include hover(transform, scale(1.05));
  }

  &__field {
    margin-bottom: 16px;

    &--textarea {
      margin-bottom: 32px;
    }
  }

  &__button {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
