.contact-data {
  display: flex;
  flex-direction: column;
  gap: 52px;

  & > :first-child {
    margin-top: 24px;
  }

  &__phone {
    @include interText;
    @extend %contact-hidden-links;

    &::before {
      content: "Phone";
      @extend %contact-label;
      @include interText(14px);
    }
  }

  &__email {
    @include interText;
    @extend %contact-hidden-links;
    &::before {
      content: "Email";
      @extend %contact-label;
      @include interText(14px);
    }
  }

  &__address {
    @include interText;
    @extend %contact-hidden-links;

    &::before {
      content: "Address";
      @extend %contact-label;
      @include interText(14px);
    }
  }
}
