.contact-us {
  &__info {
    margin: 0 0 24px;

    &--last {
      margin-bottom: 48px;
    }

    &-title {
      margin: 0 0 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #9fadc2;
    }

    &-link {
      margin: 0 0 8px;
      font-weight: 400;
      color: #3e3e3e;
      text-decoration: none;
    }

    &-active:hover {
      color: #33ace4;
      text-shadow: 0 0 10px;
    }
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
