.contacts-us {

  &__info {
    margin-bottom: 24px;

    &-title {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
    }

    &-link {
      font-weight: 500;
      line-height: 22px;
      color: #fff;
      transition: all $transition;

      &:hover {
        color: $colorGrey;
        text-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
      }
    }
  }
}
