.contact-us {

  &__form {
    margin-bottom: 40px;
    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__info {
    margin: 0 0 24px;
    color: $c-font-additional-dark;

    &:last-child {
      margin: 0;
    }

    &-title {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      color: $c-font-additional-light;
    }

    &-details {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      transition: color 0.3s, text-decoration 0.3s;

      &:hover {
        color: $c-font-additional-light;
        text-decoration: underline;
      }
    }
  }

  &__field {
    margin: 0 0 16px;
    &--last {
      margin-bottom: 32px;
    }
  }
}
