.contact {
  padding-top: 48px;
  text-align: left;

  @include for-desktop() {
    grid-column: span 3;
  }

  &__label {
    &:first-of-type {
      padding-top: 16px;
    }
  }

  &__detail {
    padding-bottom: 8px;
    font-weight: 700;
  }
}
