.contacts-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  &__input {
    width: 411px;
    height: 48px;
    @include form-input-params;

    @media (max-width: 600px) {
      width: 100%;
    }

    &--message {
      height: 144px;
      resize: none;
    }
  }

  &__button {
    @include primary-button;
    width: 411px;
    margin-top: 16px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
