.contact-us {
  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__card {
    display: inline-block;
    margin: 0;
    margin-bottom: 48px;
  }

  &__head {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #161616;

  }
  &__link {
    text-decoration: none;
    color: #161616;
    &--text-light {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      color: #161616;
      margin-bottom: 4px;

    }
    &--text-bold {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #3e3e3e;
      margin-bottom: 8px;
    }
  }
}
