.contact-us {
  &__grid {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }

  &__flex {
    grid-column: 1 / 4;
    
    display: flex;
    flex-direction: column;

    @include onDesktop {
      grid-column: 1 / 7;
      flex-direction: row;
      gap: 80px;
    }
  }

  &__info-block {
    margin: 0 0 48px;
    width: max-content;
  }

  &__place {
    font-weight: 700;
    margin: 0 0 16px;
  }

  &__paragraph {
    font-size: 14px;
    margin: 0 0 4px;
  }

  &__phone-num {
    display: inline-block;
    margin: 0 0 8px;
    
    font-weight: 700;
    color: #3e3e3e;
    text-decoration: none;

    @include transition (transform, scale(105%));

    &:hover {
      color: #000;
    }
  }

  &__address {
    display: inline-block;

    font-weight: 700;
    @include link (#3e3e3e, 16px, 22px);

    @include transition (transform, scale(105%));

    &:hover {
      color: #000;
    }
  }

  &__form {
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }

  &__field {
    margin: 0 0 16px;

    &:nth-child(3) {
      margin: 0 0 32px;
    }
  }
}
