.content {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 24px 0 8px;
    font-size: 18px;
    line-height: 140%;
  }

  &__text {
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__price {
    font-size: 16px;
    line-height: 140%;
  }

  &__img {
    align-self: center;
  }
}
