.main-contact-form {
  margin-top: 64px;

  &__header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
    @media only screen and (min-width: 880px) {
      & {
        margin-bottom: 69px;
      }
    }
  }

  &__header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }

  &__header-logo {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }

  &__container-info {
    width: 150px;
    height: 145px;
  }

  &__container-input-name {
    display: flex;
    flex-direction: column;
  }

  &__number-title {
    color: #9fadc2;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__number-subtitle {
    color: #3e3e3e;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 24px;
    line-height: 27px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    @media only screen and (min-width: 880px) {
      & {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
      }
    }
  }

  @media only screen and (min-width: 900px) {
    &__container-input-name {
      min-width: 280px;
      height: 376px;
    }
  }

  &__input-name {
    width: 280px;
    height: 48px;
    padding: 14px 0 14px 17px;
    border: none;
    border-radius: 8px;
    background-color: #f7f8ff;
    margin-bottom: 16px;
    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #8f99a8;
      font-size: 14px;
    }
    @media only screen and (min-width: 900px) {
      width: 411px;
      height: 48px;
    }
  }

  &__input-email {
    width: 280px;
    height: 48px;
    padding: 14px 0 14px 17px;
    border: none;
    border-radius: 8px;
    background-color: #f7f8ff;
    margin-bottom: 16px;
    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #8f99a8;
      font-size: 14px;
    }
    @media only screen and (min-width: 900px) {
      width: 411px;
      height: 48px;
    }
  }

  &__text-area {
    width: 280px;
    height: 144px;
    padding: 14px 0 14px 17px;
    border: none;
    border-radius: 8px;
    background-color: #f7f8ff;
    margin-bottom: 32px;
    resize: none;
    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #8f99a8;
      font-size: 14px;
    }
    @media only screen and (min-width: 900px) {
      width: 411px;
      height: 114px;
    }
  }

  &__button {
    text-decoration: none;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 500;
    width: 280px;
    height: 56px;
    border: 2px solid #0075ff;
    background-color: #0075ff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.1s;
    cursor: pointer;
    @media only screen and (min-width: 900px) {
      width: 411px;
      height: 56px;
    }

    &:hover {
      box-shadow: 0 13px 27px rgba(0.1, 83, 181, 0.46);
    }

    &--color {
      color: white;
    }
  }

}
