.contact-data {
  display: flex;
  flex-direction: column;
  gap: 52px;

  &__phone {
    position: relative;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;

    &::before {
      content: "Phone";
      position: absolute;
      left: 0;
      top: -24px;
      font-family: Inter, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #9fadc2;
    }
  }

  &__email {
    position: relative;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;

    &::before {
      content: "Email";
      position: absolute;
      left: 0;
      top: -24px;
      font-family: Inter, Helvetica, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      color: #9fadc2;
    }
  }

  &__address {
    position: relative;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;

    &::before {
      content: "Address";
      position: absolute;
      left: 0;
      top: -24px;
      color: #9fadc2;
      font-family: Inter, Helvetica, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
