.contacts {

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;
    }
  }
}

.contact-us {
  &__info-title {
    margin-top: 48px;
  }

  &__info-subtitle {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
  }

  &__info-link {
    display: block;
    margin-top: 8px;
    font-weight: 700;
    color: $colorContact;
    text-decoration: none;
  }

  &__info-adress {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
  }

  &__info-where {
    display: block;
    margin-top: 4px;
    font-weight: 700;
    line-height: 140%;
    color: $colorContact;
    text-decoration: none;
  }

  &__field {
    margin: 0 0 16px;
  }
}
