.contacs {
  &__info {
    margin: 0 0 24px;

    &-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $c-white;
    }

    &-link {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: $c-white;
      transition: color 0.5s;

      &:hover {
        color: $c-gray;
      }
    }

  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin: 0 0 32px;
    }
  }
}
