.contact-info {
  &__segment {
    margin: 0 0 24px;
    &:last-child {
      margin-bottom: 120px;
    }
  }

  @include onTablet {
    grid-column: 4 / 7;
  }

  @include onDesktop {
    grid-column: 8 / 13;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__data {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 100%;
    text-decoration: none;
    color: inherit;

    border-bottom: 1px solid transparent;

    transition: border-color $transition-time ease-in-out;
    &:hover {
      border-color: $color-white;
    }
  }
}
