.contactUs {

  &__form--wrapper {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__info {
    margin-bottom: 24px;
  }

  &__mini-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__descs {
    font-weight: 500;
    line-height: 140%;
  }

  &__field {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
