.contact-us {

  &__info {
    margin: 0 0 24px;

    &:last-child {
      margin: 0;
    }

    &-title {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      color: $c-font-additional-light;
    }

    &-details {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $c-font-additional-dark;
    }
  }

  &__field {
    margin: 0 0 16px;
    &--last {
      margin-bottom: 32px;
    }

  }
}
