.contact-section {
  &__title {
    margin: 0 auto;
  }
  &__headline {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }
  &__info {
    display: block;
    text-decoration: none;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;

    &:hover {
      color: $colorBlue;
    }

    &:last-of-type {
      @include mobile {
        margin-bottom: 32px;
      }
    }
  }
}
