.contact-us {

  &-form {
  
    &__input {
      width: 100%;
      height: 48px;
      padding-left: 18px;
      margin-bottom: 16px;

      font-family: inherit;
      font-weight: 400;
      font-size: 14px;
      color: #292929;
      
      outline: none;
      border: 0;

      background: #f8f8fa;
      border-radius: 40px;
      
      &--message {
        height: 148px;
        padding-top: 14px;
        border-radius: 16px;
      }
    }
    
    &__button {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 48px;
    }
  }

  &-address {
    margin-bottom: 48px;

    &__phone-block {
      margin-bottom: 24px;
    }

    &__email-block {
      margin-bottom: 24px;
    }

    &__phone-tag,
    &__email-tag,
    &__address-tag {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 8px;
    }

    &__phone,
    &__email,
    &__address {
      font-weight: 500;
      font-size: 16px;
    }
  }
}
