.content {
  background-color: $c-black;
  padding: 60px 20px 120px;
  display: grid;
  justify-content: center;

  @include tablet {
    padding: 120px 70px;
  }

  @include desktop {
    padding: 120px 120px 180px;
  }

  &__part {
    max-width: 1020px;
  }
}

.section {

  &__header {
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -1.5px;
    text-align: left;
    color: $c-white;
    transition: line-height 1s, font-size 1s, grid-column 1s;

    @include tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include desktop {
      grid-column: 1 / 13;
      font-size: 64px;
      line-height: 64px;
    }

    &--first {
      margin-bottom: 32px;
      font-size: 32px;
      line-height: 32px;
      font-weight: 500;
      letter-spacing: -1.5px;
      text-align: left;
      color: $c-white;
      transition: line-height 1s, font-size 1s, grid-column 1s;

      @include tablet {
        margin-bottom: 0;
        font-size: 48px;
        line-height: 48px;
      }

      @include desktop {
        margin-bottom: 0;
        font-size: 64px;
        line-height: 64px;
      }
    }
  }

  &__text {

    &--about-us {
      margin-bottom: 80px;
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      text-align: left;
      transition: margin-bottom 1s, grid-column 1s;

      @include tablet {
        margin-bottom: 120px;
      }

      @include desktop {
        margin-bottom: 160px;
      }
    }
  }

  &__details-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }

  &__details-text {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    transition: margin-bottom 1s;

    @include tablet {
      margin-bottom: 48px;
    }
  }

  &__field {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 32px;
    }
  }
}
