.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 40px;
    background: #f8f8fa;
    height: 48px;
    padding: 0 16px;
    border: 1px solid transparent;
    color: $main-color;
    @include interText(14px, 400);

    & ::placeholder {
      color: #7e7e83;
    }

    & :hover {
      border: 1px solid #d5d7de;
      background: #f8f8fa;
    }

    & :focus {
      border: 1px solid #292929;
      background: #f8f8fa;
    }
  }

  &__textarea {
    box-sizing: border-box;
    border-radius: 16px;
    background: #f8f8fa;
    padding: 14px 16px;
    height: 148px;
    color: $main-color;
    @include interText(14px, 400);
    border: none;
  }

  &__button {
    margin-top: 16px;
    cursor: pointer;
    border-radius: 40px;
    background: $main-color;
    height: 56px;
    color: #fff;
    text-align: center;
    @include interText(16px, 700);
    border: 3px solid $main-color;

    &:hover {
      background-color: #fff;
      color: $main-color;
    }

    &:active {
      background-color: #111;
      color: #fff;
    }
  }
}
