@use '../utils/mixins' as *;

.contact-info {
  @include grid;

  row-gap: 48px;

  &__form {
    grid-column: span 2;

    @include for-desktop {
      grid-column: 1 / 6;
    }
  }

  &__address {
    grid-column: span 2;

    @include for-desktop {
      grid-column: 8 / 11;
    }
  }
}
