.section__contact {
  padding-top: 120px;

  &__contact-wrapper--title-wrapper {
    text-align: center;
    font-size: 48px;
    line-height: 48px;

    &--text {
      margin-bottom: 64px;
    }
  }
  &__contact-wrapper__content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    gap: 12px;

    &--form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .form-field {
        display: block;
        width: 100%;
        min-width: 400px;
        height: 48px;
        padding: 14px 16px;
        color: #000;
        background-color: #f8f8fa;
        border: 1px solid transparent;
        border-radius: 40px;
      }
      .form-field--textarea {
        height: 148px;
        resize: none;
        border-radius: 15px;
        font-family: inherit;
      }

      .button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 14px 100px;
        background-color: #292929;
        border-radius: 40px;
        border: 3px solid transparent;
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        transition: border-color 0.3s, background-color 0.3s, color 0.3s;

        &:hover {
          color: #292929;
          background-color: #fff;
          border: 3px solid #292929;
        }
      }
    }
  }
  .content-wrapper__contact-info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .content-wrapper__contact-info__phone--title {
      font-weight: 400;
      font-size: 14px;
      color: #9fadc2;
      margin: 0 0 8px;
    }
    .content-wrapper__contact-info__phone--link {
      font-weight: 400;
      font-size: 16px;
      color: #3e3e3e;
      text-decoration: none;

      &:hover {
        color: #9a9797;
      }
    }
  }
}

.last-section {
  margin-bottom: 124px;
}
