.contact {
  padding: 64px 0;
  display: grid;
  grid-template-columns: minmax(413px, 1fr);
  grid-template-rows: auto;
  gap: 32px;

  grid-template-areas: "top"
    "block"
    "form";

  @media (min-width: 1025px) {
    padding: 60px 0;
    grid-template-columns: auto;
    gap: 70px;

    grid-template-areas: "top top"
      "block form";
  }

  &__top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;

    @media (min-width: 1025px) {
      font-size: 48px;
    }
  }

  &__block {
    grid-area: block;
  }

  &__tag {
    font-size: 14px;
    line-height: 17px;
    color: $c-lightgray;
  }

  &__info {
    display: block;
    margin: 8px 0 24px;
    text-decoration: none;
    color: $c-gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
}

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  max-width: 413px;

  &__input {
    margin-top: 8px;
    padding: 17px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 48px;
    background-color: #f6f8ff;
    border: 1px solid #fff;
    border-radius: 8px;

    &--textarea {
      height: 144px;
      resize: none;
    }
  }

  &__button {
    display: block;
    height: 56px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: #fff;
    background-color: $c-blue;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
  }
}
