.cover {
  background: url("../images/header.jpg") center / cover no-repeat;

  &__header {
    padding: 24px 0;
  }

  &__info {
    padding: 270px 0 85px;
  }

  &__title {
    position: relative;
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 700;
    color: $colorWhite;
    padding-top: 16px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 35px;
      height: 2px;
      border-radius: 2px;
      background-color: $colorWhite;
    }
  }

  &__nav {
    padding-bottom: 48px;
  }

  @media (max-width: 850px) {
    &__title {
      font-size: 4.6rem;
      line-height: 4rem;
    }

    &__nav {
      display: none;
    }
  }
}
