@use '../utils/mixins' as *;

.cross {
  &__image {
    height: 16px;
    width: 16px;

    @include for-ipad {
      height: 21;
      width: 21;
    }

    @include for-desktop {
      height: 21;
      width: 21;
    }
  }
}
