.description {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: $black-color;

    &-last_word {
      display: contents;
      color: $blue-color;
    }
  }

  &__content {
    max-width: 500px;
    margin-bottom: 152px;

    &-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: $blue-color;
    }

    &-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 27px;
      color: $grey-color;
      padding: 16px 0;

      &:last-child {
        padding-bottom: 0;
      }

      &--font_width-bold {
        font-weight: bold;
      }
    }
  }
}
