.description {
  font-size: 12px;
  font-weight: bold;
  color: $color-red;

  &--link {
    font-size: 27px;
    font-weight: bold;
    color: $color-red;
    text-align: center;
  }

  &__view {
    margin-bottom: 40px;
  }
}
