.description {
  display: flex;
  flex-direction: column;
  @media (min-width: $deviceChangerPhones) {

    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title-wrapper {
    margin-bottom: 48px;
  }

  &__title {
    margin: 0;
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;

    @media (min-width: $deviceChangerPhones) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__strong {
    color: $blueColor;

    &:hover {
      filter: contrast(5);
      border-bottom: 1px solid #000;
    }
  }

  // &__article-wrapper {

  // }

  &__article-title {
    margin-bottom: 16px;

    color: $blueColor;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  &__article-phrase {
    color: $description-color;

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
}
