.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  padding-bottom: 16px;
  width: 280px;

  &--last {
    padding-bottom: 40px;
  }

  &__article {

    &--first {
      font-size: 23px;
      font-weight: 500;
      line-height: 140%; /* 32.2px */
      padding-bottom: 92px;
      width: 280px;
    }

    &--left {
      text-align: left;
    }
  }
}

@media (min-width: 1260px) {
  .description {
    width: 324px;

    &__article {

      &--first {
        width: 498px;
        font-size: 23px;
      }

      &--grid {
        width: 672px;
      }
    }
  }
}
