.details {
  &__element {
    margin-bottom: 40px;

    @include onTabletAndOnDesktop {
      margin-bottom: 48px;
    }
  }

  &__button {
    margin: 0 auto;

    @include onDesktop {
      max-width: 324px;
    }

    @include onTablet {
      max-width: 392px;
    }
  }
}
