.details {
  &__staff {
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 48px;
    }

    @include onTablet {
      margin-bottom: 48px;
    }
  }

  &__button {
    max-width: 392px;
    margin: 0 auto;
  }
}
