.detail {
  margin-bottom: 3rem;

  &:nth-last-of-type(1) {
    margin-bottom: 2.5rem;
  }

  &__photo-container {
    --mb: 1rem;
    position: relative;
    @extend %ratio-1-1;
    max-height: 130px;
    margin-bottom: var(--mb);

    @include breakpoint(s, tablet, desktop) {
      --mb: 0;
    }

    @include breakpoint(tablet) {
      max-height: none;
      height: 187px;
    }

    @include breakpoint(desktop) {
      max-height: none;
      height: 320px;
    }
  }

  &__photo {
    position: absolute;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__photos {
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__text {
    display: block;
    max-width: 42rem;
  }

}
