.detail {
  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include onTablet {
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }

    &--button {
      @include setGrid(6, 12);
    }
  }

  &__image-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    margin-bottom: 16px;

    @include setGrid(6, 12);
  }

  &__image {
    max-width: 100%;
    height: 130px;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    @include onTablet {
      height: 188px;
    }

    @include onDesktop {
      height: 320px;
    }

    &--pos-1 {
      background-image: url(../images/details/image_1-1.png);
      background-size: cover;
      background-position: center;

      @include gridTablet(1, 5);
      @include gridDesktop(1, 9);
    }

    &--pos-2 {
      background-image: url(../images/details/image_1-2.png);
      background-size: cover;
      background-position: center;

      @include gridTablet(5, 7);
      @include gridDesktop(9, 13);
    }

    &--pos-3 {
      background-image: url(../images/details/image_2-1.png);
      background-size: cover;
      background-position: center;

      @include gridTablet(1, 5);
      @include gridDesktop(1, 9);
    }

    &--pos-4 {
      background-image: url(../images/details/image_2-2.png);
      background-size: cover;
      background-position: center;

      @include gridTablet(5, 7);
      @include gridDesktop(9, 13);
    }

    &--pos-5 {
      background-image: url(../images/details/image_3-1.png);
      background-size: cover;
      background-position: center;

      @include gridTablet(1, 3);
      @include gridDesktop(1, 5);
    }

    &--pos-6 {
      background-image: url(../images/details/image_3-2.png);
      background-size: cover;
      background-position: center;

      @include gridTablet(3, 7);
      @include gridDesktop(5, 13);
    }
  }

  &__title {
    margin: 0 0 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    &--inter-font {
      font-family: "Inter", sans-serif;
    }
  }

  &__info {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__button {
    @include gridTablet(2, 6);
    @include gridDesktop(5, 9);
  }
}
