.detail {
  &__photos {
    display: grid;
    gap: $page-small-gap;
    grid-template-columns: 2fr 1fr;

    margin-bottom: $one-line;

    @include onMobile {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  &--position-1-2 &__photos {
    grid-template-columns: 1fr 2fr;

    @include onMobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__photo-container {
    position: relative;

    max-height: 320px;

    @include onMobile {
      max-height: 200px;
      
      &::after {
        display: block;
        content: "";
        padding-bottom: 100%;
      }
    }
    
    transition: all $duration;

    &:hover {
      transform: scale(0.9);
    }
    
    &--background-element {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 90px;
        height: 50px;
        background: linear-gradient(180deg, #47453E 0%, #45433C 23.13%, #45433B 44.74%, #45423C 65.48%, #44423B 81.03%, #423F3A 100%);
  
        @include onTablet {
          height: 30px;
        }
  
        @include onMobile {
          height: 0;
        }
      }
    }
  }

  &__photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__link {
    margin-bottom: $half-line;
  }

  &__title {
    @extend %text-sub-title;
  }
}
