.details-2 {

  max-width: $maxContentWidth;
  
  &__product-container {
    display: grid;
    grid-template-columns: 28.5% 59%;
    grid-template-areas: "pl pr";
    gap: 0 24px;

    margin-left: 9%;

    @include maxQ($iPhoneWidth) {
      grid-template-columns: 130px 130px;

      grid-gap: 0 20px;
      margin-left: 6.25%;
    }
  }

  &__pic_1l {
    grid-area: pl;
    
    transition: transform $transitionDuration;

    &:hover {
      transform: scale($imageScaling);
    }

    @include maxQ($iPhoneWidth) {
      object-fit: cover;
      height: 130px;
    }
  }
  
  &__pic_1r {
    grid-area: pr;

    transition: transform $transitionDuration;

    &:hover {
      transform: scale($imageScaling);
    }

    @include maxQ($iPhoneWidth) {
      object-fit: cover;
      height: 130px;
    }
  }
  

  &__feature {
    position: relative;
    top: 6px;
    width: 250%;
    @extend %header-text;
    z-index: 10;

    @include maxQ($ipadWidth) {
      width: 600px;
      height: 34px;
    }

    @include maxQ($iPhoneWidth) {
      width: 310%;
      height: 110px;
      font-size: 24px;
    }
  }
  
  &__text {
    height: 150px;
    width: 210%;
    position: relative;
    top: 8px;
    @extend %description-text;
    
    @include maxQ($ipadWidth) {
      width: 310%;
      height: 200px;
    }

    @include maxQ($iPhoneWidth) {
      width: 213%;
      height: 200px;
    }
  }
}
