.details-2 {
  display: grid;
  grid-template-columns: 444px 792px;
  grid-template-rows: 368px 125px;

  gap: 0 24px;

  grid-template-areas:
  "pl pr"
  "tl tr";   
  
  &__left {
    position: relative;
    left: 120px;
    top: 48px;
  }

  &__right {
    position: relative;
    top: 48px;
  }

  &__pic_1r {
    grid-area: pl;
    position: relative;
    width: 672px;
    height: 320px;
  
  }
  
  &__feature {
    grid-area: tl;
    position: relative;
    @extend %header-text;
    top: 6px;

  }
  
  &__text {
    grid-area: tl;
    position: relative;
    width: 672px;
    top: 8px;
    @extend %description-text
  }
}
