.details-section {
  @include onDesktop {
    padding-bottom: 180px;
  }

  padding-bottom: 80px;

  &__detail {
    @include onDesktop {
      margin-bottom: 48px;
    }

    margin-bottom: 40px;
  }
}
