.device {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 40px;

  &__photo {
    display: block;
    margin: 0 auto 32px;
  }

  &__name {
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__segment {
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
  }
}
