.direct {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;

        @include onTablet {
            flex-direction: row;
            align-items: flex-start;
            gap: 24px;
        }
    }

    &__title {
        width: max-content;
        letter-spacing: -1.5px;
        margin-bottom: 32px;
        text-align: start;
        line-height: 100%;
        max-width: 280px;

        @include onTablet {
            font-size: 40px;
        }

        @include onDesktop {
            font-size: 48px;
            max-width: 411px;
        }
    }

    &__description {
        max-width: 288px;
        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &:last-child {
            margin-top: 24px;
            font-weight: 400;
            line-height: 27px;
        }
    }
}