.direct {
  display: grid;
  margin: $mobileMargins;
  color: #292929;

  &__title {
    @include fontParams(32px, 32px, 700);
    text-align: left;
    margin-bottom: 24px;
  }

  &__highlighted {
    @include fontParams(16px, 38px, 700);
    margin-bottom: 32px;
  }

  &__text {
    @include fontParams(16px, 27px, 400);
  }
}
