.direct {
  @include onTablet {
    display: flex;
    gap: 24px;
  }

  &__title {
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: start;

    &--link {
      display: inline-block;
      color: gray;

      padding-bottom: 8px;
      border-bottom: 1px solid transparent;

      transition:
      color 0.3s linear,
      border-color 0.3s linear;

      @include onDesktop {
        &:hover {
          color: black;

          border-color: black;
        }
      }
    }

    @include onTablet {
      font-size: 40px;
      line-height: 40px;

      flex-basis: 50%;

      margin-bottom: 0;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__advantages {
    @include onTablet {
      flex-basis: 50%;
    }
  }

  &__item {
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;

    margin-bottom: 16px;

    &--mb {
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
  }
}
