.discription {
  display: flex;
  flex-direction: column;
  margin: 60px auto 92px;

  justify-content: space-between;

  @include onTablet {
    flex-direction: row;
    margin: 120px 72px 132px;
  }

  @include onDesktop {
    flex-direction: row;
    margin: 120px 125px 132px;
  }

  &__title {
    margin-bottom: 32px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -1.5px;

    color: #fff;
  }

  &__text {
    width: 280px;
    height: 192px;

    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;

    color: #fff;

    @media onTablet {
      width: 288px;
      margin-right: 24px;
    }

    @media onDesktop {
      width: max-content;
      margin-right: 24px;
    }
  }

}
