.element-animation {
  transform: translate(0, 300%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: $transition-duration-title;
  transition-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);

  &.element-show {
    transform: translate(0, 0);
    opacity: 1;
  }
}
