.end {
  background: $color-background;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 64px;

  &__picture {
    padding-bottom: 48px;
  }

  &__title {
    color: $color-article;
    font-family: $font-family;
    font-size: $font-size-4;
    font-style: $font-style;
    font-weight: $font-weight-bold;
    line-height: 32px;
    /* 100% */
    padding-left: 20px;
  }

  &__paragraph {
    // padding-left: 20px;
    padding: 24px 20px 48px;
  }
}
