.entry {
  padding: 16px 0;

  &:first-child {
    padding-top: 32px;
  }

  &:last-child {
    padding-bottom: 32px;
  }
}

.input {
  width: 280px;
  height: 48px;
  background-color: $c-form-background;
  font-family: Cinzel, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: $c-form-text;
  border: 0;

  &__message {
    height: 144px;
  }

}
