.events {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 48px;
  }
}

.event {
  &__image {
    width: 100%;
    margin-bottom: 15px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
  }

  &__about {
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  &__link {
    color: $colorRed;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #ae1c23;
    }
  }
}
