.events {
  &__wrapper {
    margin: 0 auto;
  }
  
  &__title {
    @include fontParams (32px,32px, 700);
    text-align: center;
    letter-spacing: -1.5px;
    color: $c-black;
    padding-bottom: 8px;

    @include forTablet {
      @include fontParams(48px, 48px, 700);
    }
  }

  &__intro {
    @include fontParams(16px, 27px, 400);
    color: $c-black;
    text-align: center;
    padding-bottom: 48px;
  }
  
  &__gallery1 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-bottom: 24px;

    &__image1 {
      display: block;
      width: 130px;
      height: 130px;

      @include forTablet {
        width: 392px;
        height: 186px;
      }

      @include forDesktop {
        width: 672px;
        height: 320px;
      }
    }

    &__caption {
      padding-bottom: 48px;
    }
  }
  
  &__caption-link {

    @include fontParams(16px, 27px, 700);
    color: $c-red;
  }

  &__caption {
    @include fontParams(16px, 27px, 400);
    color: $c-black;
    
  }

  &__gallery2 {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;
    
    @include forTablet {
      column-gap: 24px;
    }
  
    &__image2 {
      display: block;
      height: 88px;
      width: 88px;
      object-fit: cover;
      object-position: center;

      @include forTablet {
        width: 284px;
        height: 284px;
      }

      @include forDesktop {
        width: 324px;
        height: 320px;
      }
    }

    &__caption {
      padding-bottom: 48px;
    }

    &-tab {
      @include forTablet {
        display: none;
      }

      @include forDesktop {

        display: block;
        width: 324px;
        height: 320px;
      }
    }
  }

  &__gallery3 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;

    &__image3 {
      display: block;
      height: 130px;
      width: 130px;
      object-fit: cover;
      object-position: center;

      @include forTablet {
        width: 184px;
        height: 186px;
      }

      @include forDesktop {
        width: 324;
        height: 320px;
      }
    }

    &__caption {
      padding-bottom: 40px;
    }
  }

  &__exhibition {
    @include fontParams(16px, 27px, 700);
    height: 56px;
    background: $c-red;
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-family: "Cinzel", serif;
    color: $c-white;
  }
}
