.events {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &__title {

    @include fontParams (32px,32px, 700);

    text-align: center;
    letter-spacing: -1.5px;
    color: $c-black;
    padding-bottom: 8px;

    @include forTablet {

      @include fontParams(48px, 48px, 700);
    }
  }

  &__intro {
    
    @include fontParams(16px, 27px, 400);

    color: $c-black;
    text-align: center;
    padding-bottom: 48px;
  }

  &__gallery1 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;

    &__image1 {
      display: block;
      height: 130px;
      width: 130px;
      object-fit: cover;
      object-position: center;

      @include forTablet {
        width: unset;
        height: 186px;
      }

      @include forDesktop {
        height: 320px;
      }
    }
  }
  
  &__caption-link {

    @include fontParams(16px, 27px, 700);
    color: $c-red;
  }

  &__caption {
    @include fontParams(16px, 27px, 400);
    color: $c-black;
    padding-bottom: 48px;

    &:last-child {
      padding: 40px;
    }
  }

  &__gallery2 {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;
  
    &__image2 {
      display: block;
      height: 88px;
      width: 88px;
      object-fit: cover;
      object-position: center;

      @include forTablet {
        width: 288px;
        height: 284px;
      }

      @include forDesktop {
        height: 320px;
      }
    }

    &-tab {
      @include forTablet {
        display: none;
      }

      @include forDesktop {

        display: block;
        width: 324px;
        height: 320px;
      }
    }
  }

  &__gallery3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-bottom: 24px;
  }
  
  &__photo3 {
    height: 130px;
    width: 130px;
  }
  
  &__image3 {
    
    display: block;
    height: 130px;
    width: 130px;
   
  }

  &__exhibition {
    height: 56px;
    background: #d12d35;
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 169%;
    text-align: center;
    border: none;

    color: #fff;
    margin-bottom: 100px;
  }
}
