.exhibitions {
  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    color: #161616;
    margin-bottom: 48px;
  }

  &__art {
    margin-bottom: 48px;
  }

  &:last-child {
    margin-bottom: 40px;
  }
}
