.exhibition {
  &__photo-container {
    max-height: 320px;

    @include onTablet {
      height: 186px;

      &::after {
        padding-bottom: 0;
      }
    }

    @include onDesktop {
      height: 320px;
    }

    &--square {
      @include onTablet {
        height: auto;
        &::after {
          padding-bottom: 100%;
        }
        @include onDesktop {
          height: 320px;
          &::after {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  &__photo {
    &--left {
      object-position: 30% 80%;
    }

    &--right {
      object-position: right;
    }
  }

  &__photos {
    margin-bottom: 24px;
  }

  &__description {
    &::before {
      display: block;
      font-weight: 700;
      color: $colorRed;
    }
  }

  &__description--1 {
    &::before {
      content: "A New Look at Old Masters";
      display: block;
      font-weight: 700;
      color: $colorRed;
    }
  }

  &__description--2 {
    &::before {
      content: "Bodhisattvas of Wisdom, Compassion, and Power";
    }
  }

  &__description--3 {
    &::before {
      content: "Inspiring Walt Disney: The Animation of French Decorative Arts";
    }
  }
}
