.exhibitions {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include onDesktop {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__exhibition {
    flex: 1 1;
  }
}
