.experience {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;

  &__title {
    width: 50%;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  &__link {
    text-decoration: none;
    color: $blue-text;
  }

  &__content {
    flex-basis: 50%;

    &-subtitle {
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 700;
      color: $blue-text;
    }

    &-text {
      margin-bottom: 35px;

      &--bold {
        font-weight: 700;
      }
    }
  }
}
