.explores {
  display: flex;
  justify-content: center;
  text-align: center;

  &__title::before {
    content: "More to Explore\a Online";
    white-space: pre;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      content: "More to\a Explore Online";
      white-space: pre;
      font-size: 48px;
    }

    @include onDesctop {
      content: "More to Explore\a Online";
      white-space: pre;
      font-size: 48px;
    }
  }
}

.explore {
  margin-top: 40px;

  @include onTablet {
    margin-top: 48px;
  }

  &__photo {
    width: 100%;
    height: 277px;

    @include onTablet {
      height: 387px;
    }

    @include onDesctop {
      height: 320px;
    }
  }

  &__title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $colorRed;
  }

  &__about1::before {
    font-family: "Roboto", sans-serif;
    content: "These collection";
    white-space: pre;
    letter-spacing: -0.3px;

    @include onTablet {
      content: "These collection";
    }

    @include onDesctop {
      content: "These collection";
    }
  }

  &__about2::before {
    font-family: "Roboto", sans-serif;
    content: "Travel with The Met connects";
    white-space: pre;
    letter-spacing: -0.3px;

    @include onTablet {
      content: "Travel with The Met";
    }

    @include onDesctop {
      content: "Travel with The Met connects";
    }
  }

  &__about3::before {
    font-family: "Roboto", sans-serif;
    content: "Request a guided tour,";
    white-space: pre;
    letter-spacing: -0.3px;

    @include onTablet {
      content: "Request a guided tour,";
    }

    @include onDesctop {
      content: "Request a guided tour,";
    }
  }
}
