.explore-online {
  &__title {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 4 / 10;
    }
  }

  &__exhibit {
    margin: 0 0 48px;
    &:last-child {
      margin-bottom: 140px;
    }
    grid-column: 1 / 3;

    @include onTablet {
      grid-column: 2 / 6;
    }

    &--1 {
      @include onDesktop {
        grid-column: 1 / 5;
      }
    }

    &--2 {
      @include onDesktop {
        grid-column: 5 / 9;
      }
    }

    &--3 {
      @include onDesktop {
        grid-column: 9 / 13;
      }
    }
  }
}
