.explore {
  &__item {
    margin: 0 auto 48px;
  }

  &__container-img {
    margin: 0 auto;
    max-width: 392px;
    max-height: 387px;
    overflow: hidden;
    margin-bottom: 24px;
    transition: all 0.3s;

    @include onTablet {
      margin-bottom: 32px;
    }

    &:hover {
      @include hover-photo;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
  }

  &__title {
    @include fonts(20px, 30px, 700);
    text-align: center;
    margin: 0 0 4px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    max-width: 392px;
    margin: 0 auto;
  }
}
