.explore-online {
  text-align: center;

  &__card {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__img {
    margin-bottom: 32px;
    width: 100%;

    transition: transform 0.3s;

    &:hover {
      transform: scale(120%);
    }
  }

  &__title {
    @include font (24px, 34px);
    margin-bottom: 4px;
    text-decoration: none;
    color: $accent-red;
  }

  &__info {
    font-family: "Roboto", sans-serif;
  }
}
