.explores {
  &__title {
    margin-bottom: 40px;

    @include onLaptop {
      margin-bottom: 48px;
    }
  }

  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
