.explore-card {
  &--mobile {
    margin-bottom: 48px;
  }
  @include onTablet {
    margin-bottom: 48px;
  }
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 24px;
    transition: transform $duration;

    @include onDesktop {
      margin-bottom: 32px;
    }

    &:hover {
      transform: scale(105%);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: $accent-color;
    text-decoration: none;
    margin-bottom: 4px;
  }
  &__description {
    text-align: center;
  }
}
