.explore {
  &__title {
    margin-bottom: 48px;
  }

  &__text-box {
    text-align: center;
  }

  &__main-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $main-red;
    text-align: center;
    margin-bottom: 4px;
  }

  &__sub-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main_dark;
  }

  &__image-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 48px;
  }

  &__image {
    margin: 0 auto 32px;
    width: 100%;
  }
}
