.explore-online-block {
  &__photo-container {
    margin-bottom: 24px;

    transition: transform $transition-time $transition-style;

    @include onTablet {
      margin-bottom: 32px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__photo {
    width: 100%;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    text-align: center;
    color: $red-color;

    transition: color $transition-time $transition-style;

    &:hover {
      color: $red-color-hover;
    }

    &:active {
      color: $red-color-pressed;
    }
  }

  &__text {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
}
