@use '../utils/mixins' as *;

.exploring {
  @include grid;

  min-height: auto;

  &__explore {
    grid-column: span 2;
    margin-bottom: 40px;

    @include for-tablet {
      grid-column: 1 / -1;
    }

    @include for-desktop {
      grid-column: span 4;
    }
  }
}
