.explore-item {
  margin-bottom: 48px;

  @include onDesktop {
    margin-bottom: 0;
    width: 33%;
  }

  &--last {
    margin-bottom: 0;
  }

  &__photo {
    display: block;
    height: 280px;
    width: 280px;
    margin: 0 auto 24px;
    transition: all $transition-time;

    @include onTablet {
      height: 387px;
      width: 392px;
      margin: 0 auto 32px;
    }

    @include onDesktop {
      height: 320px;
      width: 100%;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 4px;
  }

  &__description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $color-dark;
  }
}
