.explore-online {
  overflow: hidden;

  &__title {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 48px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    text-align: center;
  }

  &__description {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }
  &__photo {
    margin-bottom: 24px;

    width: 100%;

    cursor: pointer;

    transition: transform 286ms ease-out;

    &:hover {
      transform: translate(0, 0) scale(1.04, 1.04);
    }
  }

  &__item {
    margin-bottom: 48px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
