.explore-gallery {
  margin-bottom: 48px;

  @include onDesktop {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__picture {
    object-fit: cover;
    width: 100%;
  }

  &__title {
    color: $red;
    line-height: 140%;
    text-align: center;
  }

  &__description {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $black;
  }
}