.exposition {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: left;
  padding: 120px;

  @include onDesktop {
    flex-direction: row;
    align-items: center;
  }

  &__title {
    color: $colorMainText;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    word-wrap: break-word;
  }

  &__text {
    font-style: normal;
    max-width: 500px;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    color: $colorMainText;
  }
}
