.feature-card {
  display: flex;
  flex-direction: column;

  &__images-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 100%;
  }

  &__image {
    @include hover(scale, 1.1);

    flex: 1;
    aspect-ratio: 1/1 !important;
    overflow: hidden;
    object-fit: cover;
  }

  &__title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  &__desc {
    margin-top: 8px;
    line-height: 22px;
  }

  @include min-tablet-query {
    &__images-container {
      gap: 24px;
      height: 187px;
    }

    &__image {
      &--wide {
        flex: 2;
      }
    }
  }

  @include min-desktop-query {
    &__images-container {
      height: 320px;
    }

    &__desc {
      width: 65%;
    }
  }
}
