.features {
  display: flex;
  text-align: left;
  animation: fade-in-right 1s ease-out;

  @media (max-width: 320px) {
    flex-direction: column;
  }

  &__title {
    width: var(--contentWidth);
    margin-right: var(--marginRightTitle);
  }

  &__section {
    width: var(--contentWidth);
    display: flex;
    flex-direction: column;
    gap: var(--pageGatter);
    margin-right: var(--marginRightSection);

    & > :last-child {
      padding-top: var(--pageGatter);
    }

  }
}
