.feature {
  grid-column: 1/ -1;
  padding-top: 20px;

  @include onTablet {
    padding-top: 48px;
  }

  &__container {
    @extend %g-grids;
    min-width: 320px;
    grid-column: 1 / -1;
  }

  &__image {
    height: 130px;

    @include onTablet {
      height: 187px;
    }

    @include onDesktop {
      height: 320px;
    }

    &--1 {
      background-image: url(../images/photos/Unlock-device.jpg);
      @extend %bg-center-cover;

      @include onTablet {
        grid-column: 1 / 5;

        background-image: url(../images/photos/Unlock-device-medium.jpg);
      }

      @include onDesktop {
        grid-column: 1 / 9;

        background-image: url(../images/photos/Unlock-device-big.jpg);
      }
    }

    &--2 {
      background-image: url(../images/photos/Device-position.jpg);
      @extend %bg-center-cover;

      @include onTablet {
        grid-column: 5 / -1;

        background-image: url(../images/photos/Device-position-medium.jpg);
      }

      @include onDesktop {
        grid-column: 9 / -1;

        background-image: url(../images/photos/Device-position-big.jpg);
      }
    }

    &--3 {
      background-image: url(../images/photos/Back-light.jpg);
      @extend %bg-center-cover;

      @include onTablet {
        grid-column: 1 / 5;

        background-image: url(../images/photos/Back-light-medium.jpg);
      }

      @include onDesktop {
        grid-column: 1 / 9;

        background-image: url(../images/photos/Back-light-big.jpg);
      }
    }

    &--4 {
      background-image: url(../images/photos/Front-light.jpg);
      @extend %bg-center-cover;

      @include onTablet {
        grid-column: 5 / -1;
        background-image: url(../images/photos/Front-light-medium.jpg);
      }

      @include onDesktop {
        grid-column: 9 / -1;
        background-image: url(../images/photos/Front-light-big.jpg);
      }
    }

    &--5 {
      background-image: url(../images/photos/Brake.jpg);
      @extend %bg-center-cover;

      @include onTablet {
        grid-column: 1 / 3;
        background-image: url(../images/photos/Brake-medium.jpg);
      }

      @include onDesktop {
        grid-column: 1 / 5;
        background-image: url(../images/photos/Brake-big.jpg);
      }
    }

    &--6 {
      background-image: url(../images/photos/Parking.jpg);
      @extend %bg-center-cover;

      @include onTablet {
        grid-column: 3 / -1;
        background-image: url(../images/photos/Parking-medium.jpg);
      }

      @include onDesktop {
        grid-column: 5 / -1;
        background-image: url(../images/photos/Parking-big.jpg);
      }
    }
  }

  &__title {
    @extend %h3-title;
    margin-top: 16px;
    grid-column: 1 / -1;
  }

  &__description {
    @extend %description;
    margin-top: 8px;
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 1 / 9;
    }
  }
}
