.features {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__text {
    @include typography($weight-7, $size-16, $size-20);
  }

  &__text-small {
    @include typography($weight-4, $size-16, $size-26);
  }

  @media (min-width: $tab) {
    max-width: 50vw;
    margin-left: 24px;
  }

  @media (min-width: $desktop) {
    max-width: 30vw;
  }
}
