.feedback {
  display: flex;
  gap: 240px;

  @include for-tablet {
    margin: 0 auto;
    max-width: 600px;
    gap: 30px;
  }

  @include for-phone {
    flex-direction: column;
  }
}

.contacts {
  color: white;

  &__title {
    margin-bottom: 10px;
  }

  &__phone {
    @include regular_400(14px);
    @include margin-bottom(40px);

    &-number {
      @include semi-bold_500(16px);
      @include link-decoration;
    }
  }

  &__email {
    @include regular_400(14px);
    @include margin-bottom(40px);

    &-link {
      @include semi-bold_500(16px);
      @include link-decoration;
    }
  }

  &__address {
    @include regular_400(14px);

    &-link {
      @include semi-bold_500(16px);
      @include link-decoration;
    }
  }
}
