.first-section {
  @extend %container;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__main-heading {
    &--highlight {
      color: $main-color;
    }
  }

  &__text {
    margin-top: 16px;
    margin-bottom: -27px;
  }

  &__paragraph {
    margin-bottom: 27px;

    &--highlight {
      font-weight: 700;
    }
  }
}
