.first-screen {
  @extend %screen-wrapper;
  background-image: url(../images/first-block-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    @extend %container;
    flex-direction: column;
  }

  &__title-container {
    position: relative;
  }

  &__title {
    margin: 24px 0 80px;
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #fff;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 40px;
      height: 2px;
      background-color: #fff;
      border-radius: 8px;

      @media (max-width: 600px) {
        margin-left: 20px;
      }
    }
    @media (max-width: 600px) {
      font-size: 46px;
      line-height: 40px;
      margin-left: 20px;
    }
  }
}
