.first-section {
  @extend %container;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
  }

  &__main-heading {
    &--highlight {
      @extend %link-style;
    }
  }

  &__text {
    margin-top: 16px;
    margin-bottom: -27px;
  }

  &__paragraph {
    margin-bottom: 27px;

    &--highlight {
      font-weight: 700;
    }
  }
}
