.flex {
  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  @include onDesktop {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
