.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

.flex-container {
  @include onPhone {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &--tablet {
    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.flex-container-bikes--tablet {
  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.flex-container-contact--tablet {
  @include onTablet {
    display: flex;
    justify-content: center;
  }
}

.flex-container-bike-photo--tablet {
  @include onTablet {
    width: 50%;
    align-self: center;
  }
}
