.flex {
  &--phone {
    @include onPhone {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
  }

  &--desktop {
    @include onDesktop {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 24px;
  
      & > * {
        width: 100%;
      }
    }
  }
}
