.font {
  &__title {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  &__pre-title {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 34px;
  }
}
