.font {
  padding-top: 60px;

  @include onTabs {
    padding-top: 120px;
  }

  &__title {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-bottom: 2rem;
  }

  &__pre-title {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 34px;
  }
}
