.footer {
  height: 200px;
  background-image: url(../../src/images/footer-320.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include onTablet {
    height: 480px;
    background-image: url(../../src/images/footer-744.jpg);
  }

  @include onDesktop {
    height: 555px;
    background-image: url(../../src/images/footer-1024.jpg);
  }
}
