@use '../mixins/mixins' as *;

.footer{
  background-image: url('../images/photos/footer-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  box-sizing: border-box;
  margin-top: 96px;

  @include tablet {
    height: 480px;
  }
}
