.footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/footer-second.png");
  
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  &__logo-link {
    margin-bottom: 40px;
    cursor: pointer;
    z-index: 1;
  }

  &__filter {
    position: absolute;
    background-color: rgba(#18055c, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (max-width: $tabletScreenWidth) {
    height: 200px;
    
    &__logo-link {
      margin-bottom: 24px;
    }

    &__logo {
      width: 80px;
    }
  }
}
