.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center;

  @media (min-width: 700px) {
    height: 360px;
  }

  &__logo-image {
    @include smooth-transition(width, height);

    @media (min-width: 900px) {
      height: $logo-image-height-big;
      width: $logo-image-width-big;
    }
  }
}
