.footer {
  position: relative;
  height: 360px;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: 767px) {
    height: 205px;
  }

  &__icon {
    position: absolute;
    width: 115px;
    height: 76px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 767px) {
      width: 78px;
      height: 45px;
      bottom: 25px;
    }
  }
}
