.form-field {
  display: block;
  width: 100%;
  height: 50px;
  padding: 14px 10px;
  margin: 0 0 16px;
  font-family: Cinzel, serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(248, 248, 250, 1);
  border: 1px solid transparent;

  &--textarea {
    height: 144px;
    resize: none;
    margin-bottom: 32px;
  }
  &::placeholder {

    color: #7e7e83;
  }

  &:hover {
    border-color: rgba(213, 215, 222, 1);
    color: $color-dark;
  }

  &:active {
    color: $color-dark;
    border: 1px solid $color-dark;
  }
}
