.form-block {
  box-sizing: border-box;
  padding: 14px 16px;

  display: block;
  height: 48px;
  width: 100%;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  background-color: #f8f8fa;
  border: 1px solid transparent;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #7e7e83;
  }

  &:hover {
    border-color: #f8f8fa;
  }

  &:focus {
    border-color: $color-second;
    outline: none;
  }

  &--textarea {
    margin-bottom: 32px;
    height: 144px;
    resize: none;
    font-family: inherit;
  }

  &__button {
    border: 0;
    outline: none;
  }
}
