.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border: 1px solid transparent;
  border-radius: 40px;
  color: $colorGrey;
  background-color: #f8f8fa;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
    color: black;
  }

  &:focus {
    border-color: $colorGrey;
    outline: none;
  }

  &--textarea {
    height: 144px;
    font-family: inherit;
    resize: none;
  }
}
