.form-field {
  box-sizing: border-box;

  height: 48px;
  display: block;
  width: 100%;
  padding: 16px 14px;
  background-color: $background-color;
  border: 1px solid transparent;
  color: $title-color;

  &::placeholder {
    font-family: "Cinzel", serif;
    font-size: 14px;
    line-height: 20px;
    color: $placeholder-text;
  }

  &:hover {
    background: $background-color;
    border: 1px solid $hover-text;
  }

  &:focus {
    background: $background-color;
    border: 1px solid $title-color;
  }

  &--textarea {
    height: 144px;
    resize: none;
  }
}
