.form-cell {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  background-color: $color-bg-cell;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 14px 16px;
  color: $color-black;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: $color-text-placeholder;
  }

  &:hover {
    border-color: $color-cell-bc-on-hover;
  }

  &:focus {
    border-color: $color-blue;
    outline: none;

  }

  &--message {
    height: 144px;
    font-family: inherit;
    resize: none;
  }
}
