.form-field {
  background-color: #f8f8fa;
  height: 48px;
  width: 100%;
  display: block;
  padding: 14px 16px;
  border: 1px solid transparent;
  color: #292929;
  border-radius: 40px;
  box-sizing: border-box;
  
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }
  
  &:hover {
    border-color: #d5d7de;
  }
  
  &:focus {
    border-color: #292929;
  }
  
  &--textarea {
    border-radius: 16px;
    height: 148px;
    resize: none;
    font-family: inherit;
  }
}
