.form-part {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding: 14px 16px;

  color: $color-secondary-dark;

  background-color: $color-secondary-white;
  border: 1px solid transparent;
  border-radius: 40px;

  outline: none;

  &::placeholder {
    font-size: 14px;
    line-height: 100%;
    font-weight: $small-font-weight;
    color: $color-grey;
  }

  &:hover {
    border: 1px solid #d5d7de;
  }

  &:focus {
    color: $color-secondary-dark;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-secondary-dark;
    -webkit-box-shadow: $color-secondary-white;
    transition: all 5000s;
  }

  &--textarea {
    height: 148px;
    margin-bottom: 32px;
    resize: none;

    font-family: inherit;

    border-radius: 16px;
  }
}
