.form {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 46px;

  &__input {
    justify-content: center;
    background: #f8f8fa;
    border-color: transparent;
    border-radius: 40px;
    width: 280px;
    height: 18px;
    line-height: 18px;
    padding: 14px 16px 16px 14px;
    color: #292929;
    margin-bottom: 16px;

    &__input:-webkit-autofill,
    &__input:-webkit-autofill:hover,
    &:hover {
      border: 1px solid #d5d7de;
    }

    &__input:-webkit-autofill:active,
    &__input:-webkit-autofill:focus,
    &:active,
    &:focus {
      border: 1px solid #292929;
    }

    &::placeholder {
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-align: left;
      color: #7e7e83;
    }

    @include notForDesktop {
      width: 258px;
    }

    @include forDesktop {
      width: 391px;
    }
  }

  &__textarea {
    justify-content: center;
    background: #f8f8fa;
    border-color: transparent;
    height: 118px;
    border-radius: 16px;
    padding: 14px 16px 16px 14px;
    color: #292929;
    margin-bottom: 30px;
    resize: none;

    &__textarea:-webkit-autofill,
    &__textarea:-webkit-autofill:hover,
    &:hover {
      border: 1px solid #d5d7de;
    }

    &__textarea:-webkit-autofill:active,
    &__textarea:-webkit-autofill:focus,
    &:active,
    &:focus {
      border: 1px solid #292929;
    }

    &::placeholder {
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-align: left;
      color: #7e7e83;
    }

    @include notForDesktop {
      width: 258px;
    }

    @include forDesktop {
      width: 391px;
    }
  }

  &__label {
    &:not(:focus):not(:active) {
      @include visually-hidden;
    }
  }
}
