.form-field {
  box-sizing: border-box;
  display: block;
  width: 280px;
  height: 48px;
  background-color: #f8f8fa;
  border-radius: 16px;
  padding: 14px 16px;
  border: 2px solid transparent;

  @include onTablet {
    width: 288px;
  }

  @include onDesktop {
    width: 411px;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
    color: $colorBlack;
  }

  &:focus {
    border-color: $colorBlack;
    color: $colorBlack;
    outline: none;
  }

  &--textarea {
    font-family: inherit;
    height: 144px;
    resize: none;
  }
}
