.form-field {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  padding: 14px 16px;
  width: 100%;
  height: 48px;
  background: #f8f8fa;
  border-radius: 40px;
  border: 1px solid transparent;
  color: $textcolor;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border: 1px solid #d5d7de;
  }

  &:focus {
    border: 1px solid $textcolor;
  }

  &--textarea {
    height: 144px;
    resize: none;
  }
}
