.form-fields {
  &--text {
    @extend %input-default;

    height: 48px;
    border-radius: 40px;

    &::placeholder {
      @extend %input-placeholder;

      box-sizing: border-box;
    }

    &:hover {
      @extend %input-hover;
    }

    &:focus {
      @extend %input-focus;
    }
  }

  &--message {
    @extend %input-default;

    height: 148px;
    border-radius: 16px;
    resize: none;

    &::placeholder {
      @extend %input-placeholder;
    }

    &:hover {
      @extend %input-hover;
    }

    &:focus {
      @extend %input-focus;
    }
  }

  &__send {
    width: 100%;
    height: 56px;

    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 182px;
    }
  }
}
