@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.form-container {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input {
    @include input(3rem, 2.5rem);
  }

  &__text {
    @include input(inherit, 1rem);

    resize: none;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  &__button {
    @include button(100%);
  }
}
