.form-field {
  box-sizing: border-box;
  display: block;

  height: 48px;
  width: 100%;

  background-color: #f8f8fa;
  border: 2px solid transparent;
  border-radius: 16px;

  padding: 14px 16px;

  color: $colorBlack;

  &::placeholder {
    @include fontStyle(400, 14px, 20px);
    
    color: #7e7e83;
  }

  &:hover {
    border: 1px solid #d5d7de;
  }

  &:focus {
    border-color: $colorBlack;
    outline: none;
  }

  &--textarea {
    height: 148px;
    resize: none;

    font-family: inherit;
  }
}
