.forms {
  &__field {
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    outline: none;
    border: none;
    background-color: #f8f8fa;
    height: 48px;
    padding: 0 10px;
    width: 280px;
    margin-bottom: 16px;

    &__message {
      height: 144px;
      padding-bottom: 110px;
      padding-top: 14px;
      margin-bottom: 32px;
    }

    &__button {
      margin-bottom: 100px;
    }
  }
}
