.form {
  &__input {
    background-color: #f8f8fa;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 14px 16px;
    width: 100%;
    border: 1px solid transparent;

    &:hover {
      background-color: #f8f8fa;
      border: 1px solid #d5d7de;
    }

    &:focus {
      background-color: #f8f8fa;
      border: 1px solid #161616;
    }
    &::placeholder {
      font-family: "Cinzel", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #7e7e83;
    }
    &--textarea {
      height: 144px;
    }
  }
}
