.form-field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 14px 16px;

  color: $c-general;

  background-color: $c-border-input;
  border: 1px solid transparent;
  border-radius: 40px;
  border-color: $c-bg-input;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: $c-placeholder-input;
  }

  &:hover {
    border-color: $c-hover-input;
  }

  &:focus {
    border-color: $c-general;
    outline: none;
  }

  &--textarea {
    border-radius: 16px;
    height: 148px;
    resize: none;
    font-family: inherit;
  }
}
