.form {
  &__field {
    display: block;
    height: 48px;
    width: 100%;
    padding: 14px 16px;

    color: $c-dark;

    background-color: $c-white-background;
    border: 1px solid transparent;
    border-radius: 40px;

    transition: border $smooth-transition;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      color: $c-dark-grey;

      transition: color $smooth-transition;
    }

    &:hover {
      border: 1px solid $c-soft-grey;

      &::placeholder {
        color: $c-dark;
      }
    }

    &:focus {
      border: 1px solid $c-dark;
      outline: none;
    }

    &--textarea {
      height: 148px;
      border-radius: 16px;
      resize: none;
      font-family: inherit;
    }
  }
}
