.functionality {
  &__gallery {
    justify-content: center;
    display: flex;
    margin-bottom: 16px;
  }
  &__photo {

    min-height: 130px;
    min-width: 130px;

    &--first {

      flex-basis: 0;
      flex-grow: 2;
    }
    &--second {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &__photo:not(:last-child) {
    margin-right: 20px;
  }
}
