.functionality {
  &__gallery {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
  }

  &__photo {
    object-fit: cover;
    min-height: 130px;
    min-width: 130px;
    cursor: zoom-in;
    transition: transform 0.3s;
    margin-bottom: 10px;

    &--first {
      flex-basis: 0;
      flex-grow: 2;
    }
    &--second {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  &__button {
    @include onTablet {
      width: 50%;
    }
  }
  &__photo:not(:last-child) {
    margin-right: 40px;
  }
  &__photo:hover {
    transform: scale(1.1);
  }
  &__description {
    &-title {
      font-weight: 700;
      margin-bottom: 5px;
    }
    &-content {
      font-weight: 400;

      margin-bottom: 40px;
      @include onTablet {
        margin-bottom: 50px;
      }
      @include onDesktop {
        width: 66%;
      }
    }
  }
}
