.gadget-image {
  margin-bottom: 8px;

  &__paragraph {
    font-weight: 700;
    font-size: 16px;
    color: #292929;
    margin-bottom: 8px;

    &--light {
      font-weight: 400;
      margin-bottom: 8px;
    }
  }
}
