.gadget {
  line-height: 140%;

  &__photo {
    margin-bottom: 32px;
    width: 100%;
    transition: transform $duration-effects;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    margin: 0 0 8px;
  }

  &__description {
    margin: 0 0 12px;
    font-weight: 400;

  }

  &__price {
    margin: 0;
  }
}
