.recommended {
  display: flex;
  justify-content: center;

  &__image {
    margin-bottom: 32px;

    transition: transform 300ms;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.paragraph {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: $colorGrey;
  margin-bottom: 8px;

  &--light {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 12px;
  }
}
