.galary {
  &__museum {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    @include onTablet {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
    }
  
    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }

  &__grid-item {
    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: grid;
    }
  }
}
