.gallery-image {

  &__1,
  &__6 {
    flex-basis: 66.6%;
  }

  &__2,
  &__5 {
    flex-basis: 33.3%;
  }

  &__3,
  &__4 {
    flex-basis: 50%;
  }

  &__1,
  &__6,
  &__2,
  &__5 {
    @include breakpoint($mobile-bp) {
      flex-basis: 50%;
    }
  }

  &__1,
  &__2,
  &__3,
  &__4,
  &__5,
  &__6 {

    transition: 1s;

    &:hover {
      transition: 3s;
      transform: scale(1.1);
    }
  }
}
