.gallery-page {
  &__heading {
    position: relative;
    margin-bottom: 56px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;

    &::after {
      @extend %crown-icon;
    }
  }
}
