.gallery-section {
  
  &__title {
    margin: 0 auto;
  }

  &__place {
    margin-bottom: 40px;
    
    &:last-of-type {
      margin-bottom: 32px;
    }
  }

  &__photos {
    margin-bottom: 24px;
  }

  &__photo {
    width: 100%;
    height: 256px;
    margin-bottom: 24px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.2);
    }

    @include mobile {
      height: 131px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 27px;
  }

  &__link {
    color: $colorBlue;
    font-weight: 700;
    text-decoration: none;
  }

  &__button {
    margin: 0 auto;
    max-width: 150px;
  }

}
