.gallery {
  &__caption {
    margin: 12px 0 35px;
    line-height: 1;
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    color: $highlight-color;
  }

  &__button {
    margin: 44px auto 0;
    padding: 19px 62px;
  }
}
