.block {
  &:last-child {
    margin-bottom: 32px;
  }

  &__container {
    display: flex;
    gap: 20px;
    padding-bottom: 16px;
  }

  &__picture {
    flex-basis: 49%;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
  &__name {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media (min-width: 980px) {
  .block {
    &__picture:first-child {
      flex-basis: 66%;
    }

    &:nth-child(2) &__picture {
      flex-basis: 66%;
    }

    &:nth-child(2) &__picture:first-child {
      flex-basis: 33%;
    }

    &:last-child {
      margin-bottom: 40px;
    }

    &__container {
      padding-bottom: 24px;
    }

    &__photo {
      max-height: 256px;
    }
  }
}
