@import "../utils/mixins";

.gallary {

  &__photo-container {
    position: relative;
    box-sizing: border-box;
    max-height: 320px;
    height: 100%;

    @include onDesktop {
      height: 320px;
      padding-bottom: 0;
    }

  }

  &__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

  }

  &__describtion {
    width: fit-content;
    font-size: 16px;
    white-space: nowrap;
  }

  &__description-title {
    font-weight: 700;
    color: #d12d35;
  }

  &__description-subtitle {
    font-family: inherit;
    font-weight: 400;
    color: #161616;
  }
}
