.gallary {

  &__container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    max-height: 320px;
    margin-bottom: 24px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
      max-height: 320px;
    }

    @include onDesctop {
      height: 320px;
      padding-bottom: 0;
    }
  }
}
