.general-info {
  padding-bottom: 64px;

  &__header {
    font-size: $header-font-size-mobile;
    margin-bottom: 48px;
  }
}

@media (min-width: 980px) {
  .general-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 152px;

    &__header {
      font-size: $header-font-size-screen;
    }
  }
}
