.gisto {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin-bottom: 40px;

  &--desktop {
    opacity: 0;
  }

  @include onPlanshet {
    opacity: 1;
  }

  @include onDesktop {
    opacity: 1;
  }

  &__item {
    display: flex;
  }
}
