.page {
  &__body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;

    &.active {
      overflow: hidden;
    }
  }
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesctop {
    padding: 0 120px;
  }
}
