* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: $textMainColor;
}

h1,
h2,
h3,
p {
  margin: 0;
}
