.goods {
  display: grid;
  justify-content: center;
  gap: 48px;

  @include onDesktop {
    grid-template-columns: repeat(3, 320px);
    gap: 24px;
  }

  &__item {
    font-size: 16px;
    line-height: 140%;
    transition: transform 0.5s linear;

    &:hover {
      transform: scale(1.15);
      box-shadow: $c-box-shadow;
      border-radius: 10px;
    }
  }

  &__foto {
    display: block;
    margin-bottom: 32px;
  }

  &__img {
    @extend %image-placing;
  }

  &__about {
    display: block;
    margin-bottom: 8px;
    color: $c-black;

    &:hover {
      color: $c-link-blue;
    }
  }

  &__category {
    display: inline-block;
    color: $c-black;
    font-weight: 400;
    margin-bottom: 12px;

    &:hover {
      border-bottom: 1px solid $c-black;
      color: $c-link-blue;
    }
  }
}
