.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include for-tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include for-desktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &--tablet {
    display: block;

    @include for-tablet {
      display: grid;
    }
  }

  &__item {
    @include for-tablet {
      @for $start from 1 through 6 {
        @for $end from $start through 6 {
          &--tablet-#{$start}-#{$end} {
              grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @include for-desktop {
      @for $start from 1 through 12 {
        @for $end from $start through 12 {
          &--desktop-#{$start}-#{$end} {
              grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
