@import "../utils/mixins.scss";

.grid {
  margin: 0 auto;
  max-width: 1020px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
  grid-auto-flow: column;
  justify-content: center;

  @include smallSize {
    display: block;
  }

  @include midSize {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include bigSize {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }
}
