.hamburger {
  height: 15px;
  width: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
  }
  &:hover .hamburger__line--short {
    width: 70%;
  }
  @media (min-width: 744px) {
    height: 20px;
    width: 27px;
    &__line {
      height: 3px;
      border-radius: 10px;
    }
  }
}
