.heading {
  position: absolute;
  width: max-content;
  font-weight: 300;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    top: calc(100% + 5px);
    width: calc(50% - 20px);
    background-color: $c-highlight;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &__crown {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 13px;
    margin: auto;
    top: calc(100% + 4px);
    background-image: url("../images/crown.svg");
  }

  @media (max-width: $tablet-screen) {
    font-size: 36px;
    line-height: 36px;
  }
}
