.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__logo--link {
    display: flex;
    justify-content: center;
  }

  &__logo {
    width: 130px;
    height: 38px;
    transition: transform $effect-duration;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }
}
