.title {
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
}

.head__title--secondary {
  color: #fff;
  padding: 60px 148px 32px 20px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.head__title--paragraf {
  color: #fff;
  font-family: Poppins, sans-serif;
  padding: 0 20px;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.title__title--bike {
  padding: 92px 0 48px ;
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-transform: capitalize;
}

@media screen and (min-width: 744px) {
  .title {
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -1.5px;
    text-align: center;
    padding: 0 72px 42px;

  }
}
