.header__headline {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 40px;
  color: #fff;
  display: flex;
  align-self: center;
  letter-spacing: -1px;

  position: absolute;
  bottom: 80px;

  @include onDesktop {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.5px;
    padding-left: 25px;
  }

  padding-bottom: 80px;
  flex-direction: column;

  &::before {
    content: "";
    background-color: #fff;
    width: 40px;
    height: 2px;
    margin-bottom: 24px;
  }
}
