.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;
  padding: 30px 20px 90px;

  @include OnTablet {
    padding: 35px 70px 130px;
  }

  @include OnDesktop {
    padding: 35px 120px 200px;
  }
}


