.header-top {
  padding-block: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;
  }
}
