.headline {
  margin-top: 120px;

  &__title {
    margin: 0 0 196px;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #fff;
  }

  &__paragraf {
    margin: 0 0 164px;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    color: #fff;

  }
}
