.header-top {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr $icon-size $icon-size;
  gap: 30px;

  @include Tablet {
    grid-template-columns: 1fr $desktop-icon-size $desktop-icon-size;
    gap: 40px;
  }
}
