@import "../utils/mixin.scss";

.header {
  background-image: url(../images/Cover_phot.png);
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: cover;

  @include onTablet() {
    background-position: 25% 25%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100vh;
    padding: 29px 0;

    @include onDesktop {
      padding: 36px 0;
    }

    @include onTablet {
      padding: 34px 0;
    }
  }

  &__call {
    @include onDesktop {
      text-decoration: none;

      &::before {
        content: "+1 234 555-55-55";
        position: relative;
        top: 50%;
        transform: translate(-100%, 100%);

        opacity: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $colorWhite;
        display: block;
        padding-right: 12px ;
        width: max-content;
        pointer-events: none;

      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s;
      }
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: $colorWhite;
    letter-spacing: -1.5px;
    line-height: 100%;
    padding-bottom: 88px;

    @include onTablet {
      padding-bottom: 130px;
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
      padding-bottom: 203px;
    }
  }

}
