.logo {
  &__image {
    width: 130px;
    height: 16px;
  }
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px 94px;

  background-image: url("images/pictures/main-picture.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__call {
    background-image: url("images/phone-icon.svg");
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__menu-open {
    background-image: url("images/menu-icon.svg");
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover {
      background-image: url(#);
    }
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #292929;

    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 27px;
      background-image: url("images/sound-wave-mobile.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 16px;
    }
  }
}
