.header {
  background-size: cover;
  background-position: center;
  background-image: url(../images/header.png);

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: 34px 0;
  }

  &__top-content {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
      padding-top: 256px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }
}
