.head {
  margin: 0 auto;
  max-width: var(--max-width);
}

.title {
  color: var(--secondary-color);
  text-align: center;
font-family: var(--font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
}

.head__title--secondary {
  color: var(--secondary-color);
  font-family: var(--font-family);
  padding: 60px 148px 32px 20px;
  font-size: 32px;
  font-weight: var(--font-weight);
  line-height: 100%;
  letter-spacing: -1.5px;
}

.head__title--paragraf {
  color: var(--secondary-color);
  font-family: var(--font-family);
  padding: 0 var(--box-padding);
  font-size: 23px;
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: 140%;
}

.title__title--bike {
  color: var(--secondary-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-transform: capitalize;
  padding-top: 92px;
}

@media screen and (min-width: 744px) {
  .title {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1.5px;
    padding-bottom: 130px;

  }
  .head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .head__title--secondary {
    display: grid;
    font-size: 48px;
    padding-top: 120px;
    padding-left: 72px;
    padding-bottom: 144px;
    padding-right: 24px;
  }
  .head__title--paragraf {
    padding: 120px 52px 132px 24px;
  }
  .title__title--bike {
    padding-top: 40px;
  }
}

@media  screen and (min-width:1220px) {
  .head {
    &__title--secondary {
      font-size: 64px;
    }
  }
  .title__title--bike {
    font-size: 64px;
  }
}
