.heading {
  font-weight: bold;
  font-size: $fontSize-l;
  line-height: 48px;
  text-align: center;

  &::after {
    content: "";

    position: relative;
    left: 50%;
    bottom: -6px;

    display: block;
    width: 25px;
    height: 16px;

    transform: translateX(-50%);
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 999px) {
  .heading {
    font-size: 40px;
  }
}
