.contacts {
  display: flex;
  position: relative;

  &__icon {
    background: url(../images/contacts-icon.png) no-repeat;
    width: 18px;
    height: 18px;
  }
  
  &__tel {
    visibility: hidden;
    opacity: 0;
    width: 0;
    position: absolute;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fff;
  }
}

@media (min-width: 960px) {
  .contacts {

    &__icon {
      background-size: cover;
      width: 24px;
      height: 24px;
    }
  }

  .contacts:hover > .contacts__tel {
    visibility: visible;
    width: 128px;
    opacity: 1;
    top: 20%;
    right: 200%;
  }
}
