.header {
  background-image: url("../images/photos/header_mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include onTablet {
    background-image: url("../images/photos/header_tablet.jpg");
  }

  @include onDesktop {
    background-image: url("../images/photos/header_desktop.jpg");
  }

  &__content {
    @include header-properties;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    @include top-actions(1fr var(--icon-width) var(--icon-width));
  }

  &__title {
    margin: 0;

    font-style: italic;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }

  &__title-image {
    user-select: none;

    margin-bottom: 16px;
    width: 32px;
    height: 27px;

    background-image: url(../images/sound_waves_mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include onTablet {
      margin-bottom: 40px;
      width: 64px;
      height: 76px;

      background-image: url(../images/sound_waves.svg);
    }

    @include onDesktop {
      margin-bottom: 32;
    }
  }
}
