.header-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: #fff;
  text-align: center;
  margin-top: 130px;

  @include onTablet() {
    font-size: 64px;
  }

  @include onDesktop() {
    font-size: 80px;
  }
}
