.heading {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  width: max-content;
  margin-bottom: 70px;
  letter-spacing: -1.5px;

  &__logo {
    // padding-bottom: 8px;
    width: 23px;
    height: 16px;
    display: block;
    margin: 8px auto 0;
    background-image: url("/images/crown.svg");
    background-position: center;
    background-size: cover;
  }
}
