.hero {
  padding-top: 60px;

  @include onIpad {
    padding-top: 120px;
  }

  &__title {
    min-width: max-content;
    margin-bottom: 32px;
    text-align: left;
  }

  &__paragraph {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
  }

  @include onIpad {
    padding-top: 120px;

    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      width: 100%;
      margin-right: 32px;
    }
  }
}
