.hero {
  @include flex-center;
  @include bg-img("../images/hero-img.jpeg");
  // background-position: 20%;
  padding-bottom: 80px;
  height: 100vh;

  @media (min-width: 744px) {
    padding-bottom: 130px;
  }
  @media (min-width: 1260px) {
    padding-bottom: 200px;
  }
  &__heading {
    @include h1;
    align-self: end;
  }
}
