.home-page {
  padding: 0 $padding-LR ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/backgraund-img-start.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include grid-tablet();
  @include grid-desktop();

  &__header {
    @include for-tablet() {
      grid-column: 1 / - 1;
      align-self: flex-start;
    }
  }

  &__title {
    padding-bottom: 40px;

    @include for-tablet() {
      grid-column: 1 / - 1;
      align-self: flex-end;
      padding-bottom: 64px;
    }

    .home-page__title--text {
      font-size: 32px;
      font-style: italic;
      font-weight: 800;
      letter-spacing: -1.5px;

      @include for-tablet() {
        font-size: 40px;
      }

      @include for-desktop() {
        font-size: 48px;
      }
    }

    .home-page__title--img {
      padding-bottom: 16px;

      @include for-tablet() {
        padding-bottom: 40px;
        width: 63px;
        height: 76px;
      }
    }
  }
}
