.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/backgraund-img-start.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    padding: 0 20px 40px;
    color: #292929;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -1.5px;
  }

  &__img {
    padding-left: 20px;
    padding-bottom: 11px;
  }
}
