.hours {
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #161616;

    @include onTablet {
      font-size: 48px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #d12d35;
  }

  &__content {
    &-subtitle {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #161616;
    }

    &-hour {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #161616;
      margin: 8px 25px 0 0;
    }

    &-day {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #161616;
    }

    &-closed {
      &-two {
        margin-left: 90px;
        display: block;
      }
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #161616;
      margin: 16px 0 24px;

      &::first-line {
        font-weight: 700;
      }
    }
  }
}

.content {
  display: inline-block;
  font-size: 16px;
}
