.hours {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  gap: 24px;

  &__title-block {
    grid-column: 1 / 6;
  }

  &__container {
    grid-column: 7 / 13;
  }

  &__block {
    padding-bottom: 16px;

    &-title {
      font-family: Cinzel, serif, 'Trajan Pro';
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0;
      color: #161616;
      padding: 13px;
    }
  }

  &__list {
    padding: 16px;
  }

  &__item {
    padding-bottom: 8px;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item:last-child {
    padding-top: 16px;
  }

  &__time {
    font-family: Cinzel, serif, 'Trajan Pro';
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: #161616;
  }

  &__days {
    font-family: Cinzel, serif, 'Trajan Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: #161616;
  }
}
