.visit {
  &__container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;

    @media (min-width: 321px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__text {
    padding-top: 40px;

    @media (min-width: 321px) {
      padding-top: 118px;
      padding-left: 52px;
      padding-right: 24px;
    }
    @media (min-width: 745px) {
      padding-left: 100px;
    }
  }

  &__hours-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 321px) {
      padding-top: 140px;
    }
  }

  &__hours {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__hours-group {
    display: flex;
    gap: 24px;
  }

  &__hours-time,
  &__hours-days {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__hours-time--bold {
    font-weight: 700;
  }

  &__hours-closed {
    font-weight: 700;
    font-size: 16px;
    align-self: flex-start;
    width: 100%;
  }
}
