.link__hover:hover {

  text-shadow: 2px 2px 8px ;
  border: 2px solid $colorPage;
  border-radius: 20px;
  color: $colorPage;
  transition: all 0.2s ease-in;
  
}

img {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
