.how-to-buy {

  &__section-title {
    text-align: start;
    margin: 0 0 32px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__paragraph {

    margin: 0;

    &--bold {
      margin-bottom: 40px;
      height: 136px;

    }
  }

  &__text {
    display: block;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $mainColor;
  }
}
