.how-to-buy {
  &__title {
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      margin: 0;
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }

  &__subtitle {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__subtitle-item {
    font-weight: bold;

    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 40px;
    }

  }

  &__paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 27px;
  }
}
