.how-buy {
  &__title {
    text-align: left;
    margin: 0 0 32px;

    @include onPlanshet {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 140%;
    color: $main-dark-color;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &__article {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark-color;
  }
}
