.how-buy {
  &__title {
    margin: 0 0 48px;

    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    align-items: center;
    letter-spacing: -1.5px;
    color: $main-color;
    white-space: nowrap;

    @include onMobile {
      font-size: 32px;
      line-height: 32px;
    }

    @include onTablet {
      margin-bottom: 0;
      font-size: 32px;
      line-height: 40px;
    }

    @include onDesktop {
      margin-bottom: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__subtitle {
    margin: 0 0 35px;

    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    color: $main-color;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
