.how-to-buy {
 @include pageGrid;
  margin-bottom: 92px;

  @include onTablet {
    margin-bottom: 132px;
  }

  @include onTablet {
    margin-bottom: 164px;
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      font-weight: 500;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -1.5px;
      grid-column: 1 / 4;
    }

    @include onDesktop{
      font-weight: 500;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -1.5px;
      grid-column: span 5;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    color: #fff;
    grid-column: 1 / -1;

    @include onTablet {
      font-weight: 500;
      font-size: 23px;
      line-height: 140%;
      grid-column: 4 / 7;
    }

    @include onDesktop{
      font-weight: 500;
      font-size: 23px;
      line-height: 140%;
      grid-column: span 5;
    }
  }

}