.how-to-buy {
  color: $textColor;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;

  }

  &__block {
    display: block;
  }

  &__text {
    display: block;
  }

  &__title {
    letter-spacing: -1.5px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 32px;
    color: $textColor;

    @include onTablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__statement {
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 22px;

    &--last {
      margin-bottom: 40px;
    }
  }

  &__explanation {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
