.tobuy {
  &__content {
    @include onTablet {
      display: grid;
      grid-template-columns: $grid-template-column-tablet;
      gap: $grid-gap;
    }

    @include onDesktop {
      grid-template-columns: $grid-template-column-desktop;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin: 0 0 32px;

    @include onTablet {
      grid-column: 1 / 4;
      font-size: 40px;
    }

    @include onDesktop {
      grid-column: 1 / 6;
      font-size: 48px;
    }
  }

  &__description {
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 6 / 11;
    }

    &-list {
      padding: 0;

      &-item {
        list-style: none;
        line-height: 140%;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 40px;
        }
      }
    }

    &-paragraph {
      font-weight: 400;
      line-height: 27px;
    }
  }
}
