.humburger-menu {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  min-height: 500px;
  height: 100vh;
  padding: 5vh 10vw;
  background: $c-gray;
  z-index: 2;
  overflow-y: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  &__container {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__logo {
    width: 130px;
    height: 38px;
    background-image: url("../images/logo-black.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__cancel {
    appearance: none;
    @include square(16px);
    margin-right: 1vw;
    align-self: center;
    background-image: url("../images/cancel-icon.svg");
    cursor: pointer;
  }

  &__number {
    display: block;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: $black-1d;
    transition: 0.3s;

    &:hover {
      font-size: 17px;
    }
  }

  &__book {
    display: block;
    text-underline-offset: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $black-1d;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    transition: 0.3s;

    &:hover {
      font-size: 13px;
    }
  }
}

.nav {
  &__list {
    list-style: none;
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 8px;
    font-weight: 600;
    font-size: 22px;
    color: $black-1d;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;

    &:hover {
      text-decoration-color: $black-1d;
    }
  }
}
