.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &--menu {
    width: 18px;
    height: 12px;
    background-image: url("../images/Icon-Burger-menu.svg");


    &:hover {
      background-image: url("../images/Icon-Burger-menu-hover.svg");
    }

    @include onTablet {
      width: 24px;
      height: 19px;
    }
  }

  &--phone {
    width: 18px;
    height: 18px;
    margin-right: 30px;

    background-image: url("../images/Icon-Phone-call.svg");
  }

  &--cross {
    width: 16px;
    height: 16px;
    background-image: url("../images/Icon-Close.svg");

    @include onDesktop {
      width: 21px;
      height: 21px;
    }
  }
}
