@use "/src/styles/utils/mixins.scss" as *;

.phone {
  display: flex;
  gap: 20px;

  &__label {
    font-family: Poppins, sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    transform: translateX(calc(-100% - 20px));

    @include for-computer {
      visibility: visible;
    }
  }

  &:not(:hover) .phone__label {
    visibility: hidden;
  }

  &__icon {
    width: 18px;
    height: 18px;
    padding: 3px;

    @include for-tablet {
      width: 24px;
      height: 24px;
    }

    @include for-computer {
      width: 24px;
      height: 24px;
    }
  }
}
