.icon {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;

  &--menu {
    height: 12px;
    background-image: url(../images/menu.svg);
  }

  &--phone {
    background-image: url(../images/phone.svg);
  }

  &--cross {
    background-image: url(../images/cross.svg);
    height: 16px;
    width: 16px;
  }

  @media (min-width: 1024px) {
    &--cross {
      width: 32px;
      height: 32px;
    }
  }
}
