.icon-menu {
  display: block;
  background-repeat: no-repeat;
  background-image: url("../images/menu_opener.svg");

  height: 12px;
  width: 18px;

  transition: background-image ease 0.3s;

  @include onTablet {
    height: 16px;
    width: 24px;
  }

  &--opener {
    &:hover {
      background-image: url("../images/menu_opener_hover.svg");
    }
  }

  &--closer {
    height: 18px;
    background-image: url("../images/menu_closer.svg");
  }
}
