.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    // width: 24px;
    // height: 24px;
  }

  &--menu {
    background-image: url(../images/Menu_icon.png);
  }

  &--menu:hover {
    background-image: url(../images/Menu-hover_icon.png);
  }

  &--phone {
    background-image: url(../images/Phone_icon.png);
  }

  &--cross {
    background-image: url(../images/Cross_icon.png);
  }
}
