@use '/src/styles/utils/mixins.scss' as *;

.icon-cross {
  width: 16px;
  height: 16px;
  padding: 4px;
  background-image: url(/src/images/menuicons/crossBlack.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;


  @include for-tablet {
    width: 21.33px;
    height: 21.33px;
    padding: 11.66px;
  }

  @include for-computer {
    width: 21.33px;
    height: 21.33px;
    padding: 11.66px;
  }

}
