.icon {
  display: block;
  width: 18px;
  height: 18px;
  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
  
  &--menu-opener {
    background-image: url("/icons/menu.svg");
  
    &:hover {
      background-image: url("/icons/menu_hover.svg");
    }
  }
  
  &--phone {
    background-image: url("/icons/telephone.svg");

    @include desktop {
      &::before {
        content: "+1 234 555-55-55";
        position: relative;
        top: 50%;
        transform: translate(-100% , -50%);
        display: block;
        width: max-content;
        padding-right: 12px;
        opacity: 0;
        color: $c-title;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        pointer-events: none;
        transition: all 0.3s;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  @include tablet {
    width: 24px;
    height: 24px;
  }
}
