@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.images {
  @include grid;

  &__item {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    grid-column: span 1;

    @include for-desktop {
      padding-bottom: 320px;

      &--big {
        grid-column: span 8;
      }

      &--small {
        grid-column: span 4;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
