.images {
  display: block;
  width: 100%;
  height: var(--image-width);

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--phone {
    background-image: url(/src/images/phone-bose.png);
  }

  &--menu {
    background-image: url(/src/images/menu-opener-bose.png);

    &:hover {
      background-image: url(/src/images/menu-opener-hover-bose.png);
    }
  }

  &--cross {
    background-image: url(/src/images/cross-bose.png);
    --image-width: 16px;
  }
}
