.info {
  @include flex-between;
  margin-top: 104px;
  padding-bottom: 76px;

  @media screen and (max-width: 900px) {
    & {
      @include flex-column;
      margin-top: 64px;
      padding-bottom: 32px;
    }
  }

  &__title {
    @include heading-second;

    @media screen and (max-width: 900px) {
      & {
        font-size: 36px;
        margin-bottom: 48px;
      }
    }
  }

  &__link {
    @include heading-second;
    color: $color-light-blue;

    @media screen and (max-width: 900px) {
      & {
        font-size: 36px;
      }
    }
  }

  &__description {
    @include text-medium;
    width: 500px;

    @media screen and (max-width: 900px) {
      & {
        width: $full-width;
      }
    }
  }

  &__subtitle {
    @include heading-third;
    color: $color-light-blue;
  }
}
