@use '../utils/vars' as *;

.info-block {
  &__container {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    color: $info-block-c;
    font-size: 0.88rem;
  }

  &__text {
    transition: 0.3s ease;

    &:hover {
      color: $info-block-c;
    }

    &:active {
      color: $info-block-act;
    }
  }
}
