.info {
  display: flex;
  justify-content: space-between;
  padding: 104px 10% 136px;

  &__title {
    max-width: 328px;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  &__link-decoration {
    color: #0075ff;
    text-decoration: none;
  }

  &__text {
    max-width: 500px;
    line-height: 27px;
    font-size: 16px;
    
    & p:first-child {
      color: #0075ff;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
