.information {
  margin: 48px 0 64px;

  display: flex;
  flex-direction: column;

  font-family: Manrope, Helvetica, sans-serif;

  &__label {
    margin-bottom: 8px;

    color: #9393a3;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }

  &__text {
    color: #191919;
    line-height: 140%;
    letter-spacing: 0.15px;
    text-decoration: none;

    @include hover(color, #f98921);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @media (min-width: 744px) {
    margin: 80px 0 120px;
  }

  @media (min-width: 1260px) {
    margin: 56px 0 0;
  }
}
