.information {
  perspective: 400px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);

  &__place {
    transform-origin: center;
    display: block;
    width: max-content;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;

    &:hover {
      border-bottom: 1px solid #fff;
    }

    &--margin {
      margin-top: 8px;
    }
  }

  &__phone {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;

    &:hover {
      border-bottom: 1px solid #fff;
    }

    &--margin {
      display: inline-block;
      margin-bottom: 8px;
    }
  }
}
