.info {
  display: flex;
  justify-content: space-between;

  &__heading {
    width: 314px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 48px;
    margin: 0;
  }

  &__link {
    color: $highlight-color;
    text-decoration: none;
  }

  &__text {
    max-width: 564px;

    > p:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .info {
    flex-direction: column;

    &__heading {
      margin-bottom: 16px;
      width: 100%;
    }

    &__text {
      width: 100%;
    }
  }
}
