.information {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);

  &__place {
    margin: 0;

    &--margin {
      margin-top: 8px;
    }
  }

  &__phone {
    margin-bottom: 100px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);

    transition: font-size 0.3s;

    &:hover {
      font-size: 20px;
    }
  }
}
