.information {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  column-gap: 24px;

  @media (max-width: 744px) {
    grid-template-columns: repeat(6, 80px);
  }

  &__title {
    padding-top: 140px;
    padding-bottom: 48px;
    @media (max-width: 744px) {
      grid-column: span 7;
    }
  }
}

.container {
  display: contents;
}
