.information {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);

  &__place {
    margin: 0;

    &--margin {
      margin-top: 8px;
    }
  }

  &__phone {
    margin-bottom: 100px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
  }
}
