.input {
  display: block;
  width: 100%;
  padding: 17px;
  background: #f7f8ff;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.4s;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;

  &:hover {
    border-color: #ccd0e0;
  }

  &:focus {
    border-color: $primaryColor;
  }
}
