.input-primary {
  background: $secondary-white;
  border: 1px solid $secondary-white;
  border-radius: 40px;
  padding: 14px 16px;

  resize: none;
  outline: none;

  font-family: $font-stack;
  font-size: 14px;
  color: $main-black;

  &::placeholder {
    color: $main-grey;
  }

  &:hover {
    border-color: $secondary-grey;
  }

  &:hover::placeholder {
    color: $main-black;
  }

  &:focus {
    border-color: $main-black;
  }
}
