.input {
  display: block;

  width: 100%;
  padding: 13px 15px;
  border: 1px solid $input-bg-color;
  border-radius: 40px;

  background: $input-bg-color;

  font-size: 14px;
  line-height: 143%;
  color: $main-color;

  transition: border-color $transitions-speed;

  &--area {
    border-radius: 20px;
  }

  @include desktop {
    &:hover {
      border-color: #d5d7de;
    }
  }
  &:focus {
    border-color: $main-color;
  }

  ::placeholder {
    color: #7e7e83;
  }
}
