.input-text {
  padding: 15px 0 15px 17px;
  width: 100%;
  min-height: 48px;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  resize: none;

  background-color: #f7f8ff;

  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  &::placeholder {
    color: #8f99ab;

    font-family: inherit;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }

  &:hover {
    border-color: #ccd0e0;
    outline: none;
  }

  &:focus {
    border-color: $blueColor;
    outline: none;
  }
}
