.input {
  display: block;

  box-sizing: border-box;
  width: 100%;
  padding: 13px 15px;
  border: 1px solid #f8f8fa;
  border-radius: 40px;

  outline: none;
  background: #f8f8fa;

  font-family: inherit;
  font-size: 14px;
  line-height: 143%;
  color: $main-color;

  transition: border-color 300ms;

  &--area {
    resize: none;
    border-radius: 16px;
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:focus {
    border-color: $main-color;
  }

  ::placeholder {
    color: #7e7e83;
  }
}
