.introduction {
  @include onTablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  font-weight: 500;

  &__title {
    font-size: 32px;
    line-height: 100%;

    /* identical to box height, or 32px */
    letter-spacing: -1.5px;
    margin-bottom: 32px;
    @include onTablet {
      align-self: flex-start;
      margin-bottom: 0;
      margin-right: 24px;
      font-size: 48px;
      width: 50%;
    }
  }

  &__description {
    font-size: 23px;
    line-height: 140%;
    @include onTablet {
      width: 50%;
    }
  }

}
