.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 0.5s;

  &__title {
    font-size: 48px;
    font-weight: bold;
    align-self: start;
  }
  
  &__link {
    @extend %boldMainColorText;
    text-decoration: none;
    transition: 0.5s;
    
    &:hover {
      @extend %secondaryLinksHover;
    }
  }
  
  &__content {
    @extend %textS16H27black;
  }

  @media (max-width: $tabletScreenWidth) {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      display: inline-block;
      align-self: center;
      font-size: 36px;
      margin-bottom: 48px;
    }
  }
}
