.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto-fit);
  padding: $main-padding;

  &__tittle {
    padding-top: 60px;
    display: flex;
  }

  &__paragraph {
    padding-top: 32px;
    color: #fff;
    font-family: $main-font-family;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 32.2px */
  }
}

@media screen and (min-width: 744px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px 72px 0;
    justify-content: center;
    align-items: flex-start;

    &__tittle {
      padding-top: 0;
      justify-content: center;
    }

    &__paragraph {
      padding-top: 0;
    }
  }
}

@media screen and (min-width: 1260px) {
  .intro {
    padding: 120px 120px 0;
    max-width: 1500px;
    margin: 0 auto;
  }
}
