.intro {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 104px 0 152px;
    gap: 20px;
  }

  &__heading {
    width: 328px;
    padding-bottom: 48px;
    ::after {
      content: "here";
      color: $blueColor;
    }
  }

  &__description-text {
    width: 500px;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    color: $greyColor;
    :nth-child(1) {
      margin-top: 0;
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: $blueColor;
    }
    :last-child {
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .intro__wrapper {
    flex-wrap: wrap;
    margin: 64px 0;
  }
}
