.item {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: $text-color;

  &__image {
    display: block;
    margin-bottom: 32px;
    height: 277px;
    width: 280px;

    object-fit: cover;
    object-position: center;

    transition: transform $transition-time;

    @include onTablet {
      height: 387px;
      width: 392px;
    }

    @include onDesktop {
      height: 320px;
      width: 324px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    margin: 0 0 8px;
  }

  &__section {
    margin-bottom: 12px;

    font-weight: 400;
  }

  &__price {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 120px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
