.item {
  &__img {
    display: block;
    width: 280px;
    height: 280px;
    margin-bottom: 32px;

    @include onTablet {
      width: 400px;
      height: 400px;
    }

    @include onDesktop {
      width: 320px;
      height: 320px;
    }
  }

  &__title {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: $colorGrey;
    margin-bottom: 8px;
  }

  &__description {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
  }

  &__price {
    display: block;
    font-weight: 700;
    font-size: 16px;
  }
}
