
.item-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    margin-bottom: 28px;

    &-human {
      width: 153px;
      height: 153px;
      border-radius: 50%;
      transition: 2s;

      &:hover {
        transform: scale(1.2);
        transition: 3s;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 4px;
    font-weight: 700;
    color: $blue-text;
  }

  &__subtitle {
    font-size: 14px;
    margin-bottom: 4px;
    color: #9fadc2;
  }

  &__text {
    max-width: 340px;
    text-align: center;
    padding: 0 45px;
    margin-bottom: 150px;

    @include breakpoint($desktop-bp) {
      margin-bottom: 75px;
    }

    @include breakpoint($mobile-bp) {
      margin-bottom: 48px;
    }
  }
}
