.large-photo {
  display: flex;
  background-image: url('./images/image10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;

  @include mobile {
    height: 200;
  }

  @include tablet {
    height: 400;
  }

  @include desktop {
    height: 560;
  }
}
