.light {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  animation: shadow 2s infinite alternate;
}

@keyframes shadow {
  from {
    box-shadow: 0 0 55px 15px rgb(243, 243, 243);
  }
  to {
    box-shadow: 0 0 90px 20px rgb(0, 0, 0);
  }
}
