.links {
  padding-top: 15px;

  &__item {
    margin-bottom: 24px;
  }

  &__link {
    color: #fff;
    font-family: Cinzel, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
    display: inline-block;

    &:hover {
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }
}
