.links {
  padding-top: 48px;

  &__item {
    margin-bottom: 32px;

  }

  &__link {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1d1d1d;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;

    &:hover {
      border-bottom: 1px solid #1d1d1d;
    }
  }
}
