.link {
  display: inline-block;

  font-weight: bold;
  text-decoration: none;
  color: $c-accent-main;

  transition: all 0.3s;

  &:hover {
    text-shadow: 2px 7px 12px
      rgba(148,148,148,0.79)
    ;
    color: #ae1c23;
  }

  &:active {
    color: #eb343d;
  }
}
