.link {
  display: inline-block;
  
  font-weight: 700;
  color: $c-white;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    @extend %after;
  }

  @include onDesktop {
    &:hover,
    &:focus {
      &::after {
        opacity: 1;
      }
    }
  }

  &--menu {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
  }
}
