@use '../utils/mixins.scss' as *;

.links {
  padding-top: 32px;

  @include for-tablet {
    padding-top: 56px;
  }

  @include for-desktop {
    padding-top: 56px;
  }

  &__item {
    margin-bottom: 27px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #1b2129;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #1b2129;
    }
  }
}
