.link {
  display: inline-block;
  
  font-weight: 700;
  color: $c-white;
  text-transform: uppercase;
  text-decoration: none;

  &--menu {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    @include onDesktop {
      &::after {
        content: "";
        display: block;
        margin-top: 8px;
    
        border-bottom: 1px solid $c-white;
        opacity: 0;
        
        transition: opacity, $duration;
      }
    
      &:hover,
      &:focus {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
