.location {
  &__name {
    margin: 0 0 16px;

    font-size: 24px;
    line-height: 30px;

    @extend %bold-text;
  }

  &__working-time {
    margin-bottom: 16px;

    display: flex;
    gap: 25px;
  }

  &__closed {
    margin: 0;
    @extend %bold-text;
  }

  &__closed-days {
    margin: 0;
  }
}
