.logo {
  &__image {
    height: 38px;
    color: #fff;

    @include onTablet {
      height: 56px;
    }

    @include onDesktop {
      height: 56px;
      padding-left: 50px;
    }
  }
}

.logo__menu {
  &__image {
    height: 38px;

    @include onDesktop {
      height: 56px;
    }
  }
}
