.logo {
  color: #fff;
  text-decoration: none;

  &__text {
    font-size: 30px;
    line-height: 80%;
    font-weight: 700;
    letter-spacing: -1.5px;

    @include onTablet() {
      font-size: 40px;
    }
  }
}
