.logo {
  width: 64px;
  height: 46px;

  background-image: url("../images/Met/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include onMiddleScreen {
    width: 87px;
    height: 65px;
  }
}
