
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  background-color: white;
  width: 320px;
  min-height: 4086px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
/*#region header */

.header {
  height: 568px;
  width: 320px;
  padding: 24px 20px 80px;
  background: url("../../../src/images/header.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__container {
  width: 280px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header__burger {
  align-self: center;
  width: 16px;
  height: 16px;
}

.header__logo {
  width: 82px;
}

.header__phone-call {
  align-self: center;
  width: 16px;
  height: 16px;
  background: url("../../images/phone.svg") no-repeat center;
}

.header__text {
  font-size: 46px;
  color: white;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  &::after {
    width: 40px;
    height: 2px;
    top: -35%;
    left: 0;
    content: " ";
    position: absolute;
    background-color: white;
  }
}
/* #endregion*/

/*#region main */
.main {
  padding: 64px 20px;
}

.main-header {
  display: grid;
  grid-template-columns: repeat(auto-fill,1fr);
  gap: 2rem;
  padding-bottom: 64px;

  &__heading {
    font-size: 36px;
    line-height: 36px;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__subtitle--font-blue,
  &__heading--font-blue {
    color: #0075ff;
  }

  &__lead {
    margin-bottom: 16px;
    line-height: 27px;
  }

  &__under-lead {
    line-height: 27px;
    font-weight: bold;
    color: #3e3e3e;
  }

  &__text-element--color {
    color: #0075ff;
  }

}

.main-main {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
  }

  &__header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }

  &__header-logo {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }

  &__photos {
    height: 131px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }

  &__photos-item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &__photos-text {
    width: 100%;
    padding: 16px 0 32px;
  }
  &__photos-text--color {
    font-weight: bold;
    color: #0075ff;
  }

  &__button {
    text-decoration: none;
    width: 280px;
    height: 56px;
    border: 2px solid #0075ff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button--color {
    color: #0075ff;
  }

  &__excerpt--color {
    color: #0075ff;
  }
}

.main-footer {
  &__header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
  }

  &__header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }

  &__header-logo {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }
}

.people-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    width: 153px;
    height: 153px;
    border-radius: 50%;
    margin-bottom: 28px;
  }

  &__name {
    font-size: 24px;
    color: #0075ff;
    margin-bottom: 4px;
  }

  &__position {
    font-size: 14px;
    font-weight: normal;
    color: #9fadc2;
    margin-bottom: 4px;
  }

  &__discription {
    width: 280px;
    height: 54px;
    text-align: center;
    margin-bottom: 48px;
  }
}

/* #endregion*/
