.main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 0;

  @include onDesktop {
    gap: 104px;
    padding: 104px 0;
  }

  &__section {
    max-width: 1020px;
    width: calc(100% - 40px);
    margin: 0 auto;

    @include onDesktop {
      width: 1020px;
      padding: 0 40px;
    }

    &-title {
      margin-bottom: 32px;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      line-height: 36px;
      letter-spacing: -1.5px;

      &::after {
        display: block;
        margin: 4px auto 0;
        content: "";
        width: 23px;
        height: 16px;
        background-image: url(../images/crown.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      @include onDesktop {
        margin-bottom: 60px;
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}
