$red: #d12d35;
$white: #fff;
$black: #161616;

.main {
  margin: 100px 20px 0;
  &__hours {
    margin: 20px 0;
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;

    &--title {
        &-des {
        color: #{$red};
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }

      &-title {
        margin-bottom: 16px;
        color: #{$black};
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.5px;
      }
    }
    &--hours{

      &-title {
        color: #{$black};
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
      }

      &-des {
        color: #{$black};
        font-size: 16px;
        font-style: normal;
        line-height: 27px;
        padding-bottom: 24px;
      }
    }

    &--table {

      &-bold{
        color: #{$black};
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
      }

      &-des {
        color: #{$black};
        font-size: 16px;
        line-height: 27px;
        padding-left: 25px;
      }
    }
  }

  &__body {
    &--title {
      color: #{$black};
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -1.5px;
      margin-bottom: 8px;
    }

    &--des {
      color: #{$black};
      text-align: center;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 48px;
    }

    &--third{

      &-title {
      color: #{$red};
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 27px;
      }

      &-des {
        color: #{$black};
        font-size: 16px;
        line-height: 27px;
      }
    }

    &--view-all{
      display: flex;
      justify-content: center;
      margin: 40px 0 100px;

      &-button {
        background-color: #{$red};
        width: 280px;
        height: 56px;
        color: #{$white};
        font-size: 16px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &--four{

      &-title {
        color: #{$red};
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin-top: 24px;
        margin-bottom: 4px;
      }

      &-des {
        color: #{$black};
        text-align: center;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 48px;
      }
    }
  }
}
