.main-page {
  font-family: "Cinzel", serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    box-sizing: border-box;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 140px;
    }
  }

  &__section-title {
    @include fonts(32px, 32px, 700);
    letter-spacing: -1.5px;
    text-align: center;
    color: $color-dark;

    @include onTablet {
      @include fonts (48px, 48px, 700);
    }

    @include onDesktop {
      @include fonts (48px, 48px, 700);
    }
  }
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}
