.main-content {
  padding: 60px 0 120px;

  background-color: $colorMainBlack;

  transition: all 0.3s;

  @include onTablet {
    padding-top: 120px;
  }

  @include onDesktop {
    padding-bottom: 180px;
  }
}
