.page {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

  &__main {
    display: grid;
    justify-items: center;
    background-color: #292929;
    color: #fff;
    padding: 0 20px;
    margin: 0 auto;

    @include onTablet {
      padding: 0 72px;
    }

    @include onDesktop {
      padding: 0 120px;
    }
  }

  &__section {
    &--description {
      text-align: left;
    }

    &--title {
      margin-top: 60px;
      font-weight: 500;
      font-size: 32px;
      letter-spacing: -1.5px;
      color: #fff;

      text-align: center;

      @include onTablet {
        font-size: 48px;
      }

      @include onDesktop {
        font-size: 64px;
      }
    }

    &--text {
      margin-top: 32px;
      font-size: 24px;
      @include onTablet {
        margin-top: 120px;
      }
    }
  }

  &__explore-btn {
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    @extend %button-styles;
  }

  &__footer {
    background-image: url(../images/photos/footer_mobile.png);
    height: 200px;
    @include onTablet {
      background-image: url(../images/photos/footer_tablet.png);
      height: 480px;
    }
    @include onDesktop {
      background-image: url(../images/photos/footer.png);
      height: 555px;
    }
    background-size: cover;
    background-position: top right;
    width: 100%;
  }
}

.description-title {
  @include onTablet {
    margin-top: 120px;
    font-size: 48px;
  }

  @include onDesktop {
    font-size: 64px;
  }
}
