@use '../mixins/mixins' as *;

.main{
  background-color: #1D1D1D ;

  &__title{
    font-family: Roboto, sans-serif; ;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color:#FFF;
    padding: 60px 0 0 20px;

    @include tablet {
      padding: 120px 0 0 72px;
      font-size: 48px;
      width: 288px;
      height: 48px;
    }

    @include desktop {
      width: 411px;
      height: 64px;
      place-self: center  end;
      font-size: 65px;
      padding-top: 120px;
    }

    @include big-desktop{
      width: 411px;
      height: 64px;
      place-self: center  end;
      font-size: 65px;
      padding-top: 120px;
    }
   }

  &__description{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;
    color:#FFF;
    padding: 32px 20px;


    @include tablet {
        padding: 120px 72px 0 24px;
    }

    @include desktop {
      padding: 120px 120px 0 24px;
      font-size: 25px;
    }

    @include big-desktop{
      padding: 120px 120px 0 24px;
      font-size: 25px;
    }
  }

  &__info{

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
       display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

      @include big-desktop {
       display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  }

