.main-info {
  background-color: $mainColor;
  color: #fff;
  padding: 60px $mobilePaddingX 120px;

  &__wrapper {
    @include limitContentWitdth;
  }

  @include tablet {
    padding: 120px $tabletPaddingX;
  }

  @include desktop {
    padding: 120px $desktopPaddingX 180px;
  }
}
