@use '../utils/mixins' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include for-tablet {
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }

  @include for-desktop {
    gap: 208px;
  }
}
