.page {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);

    &:target {
      transform: translateX(0);
      transition: transform 0.3s;
    }
  }

  &__section {
    margin-bottom: 64px;
  
    @include onDesktop {
      margin-bottom: 104px;
    }
  }

  &__section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    color: #000;
    margin-bottom: 5px;
  
    @include onDesktop {
      font-size: 48px;
    }
  }
}

.container {
  background-color: $colorWhite;
  display: flex;
  flex-direction: column;
}

.container.container--modified {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  @include onDesktop {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
  }
}

.crown_icon {
  height: 16px;
  width: 23px;
  align-self: center;
  margin-bottom: 56px;
}

.main {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;

  @include onDesktop {
    padding: 0 40px;
  }
}
