.main {

  &__section {
    margin-bottom: 64px;
      
    @include switchToDesktop {
      margin-bottom: 104px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;

    @include switchToDesktop {
      font-weight: 48px;
      line-height: 48px;
    }

    &::after {
      content: "";
      background-image: url(../images/crown.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: 5px auto 37px;
      display: block;
      width: 23px;
      height: 16px;
           
      @include switchToDesktop {
        margin-bottom: 64px;
      }

    }
  }
}
