.main {
  display: grid;
  row-gap: 96px;
  padding-block: 96px;
  justify-items: center;

  @include contentPaddingInline;

  @include onTablet {
    padding-block: 120px;
    row-gap: 120 px;
  }
}
