.main {
  background-color: #1d1d1d;

  &__content {
    margin: 0 20px;

    @include onTablet {
      margin: 0 72px;
    }

    @include onDesktop {
      margin: 0 120px;
    }
  }

  &__section {
    padding-top: 80px;

    @include onTablet {
      padding-top: 120px;
    }

    @include onDesktop {
      padding-top: 160px;
    }

    &-title {
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -1.5px;
      text-transform: capitalize;
      color: #fff;

      @include onTablet {
        font-size: 48px;
        line-height: 100%;
      }

      @include onDesktop {
        font-size: 64px;
      }
    }
  }
}
