.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #292929;
  color: #fff;
  padding: 0 20px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
  }

  &__description {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &--title {
      margin-top: 60px;
      @include onTablet {
        margin-top: 120px;
      }
      font-size: 32px;

      @include onTablet {
        font-size: 48px;
      }

      @include onDesktop {
        font-size: 64px;
      }

      font-weight: 500;
      line-height: 100%;
      letter-spacing: -1.5px;
      text-align: left;
    }

    &--text {
      margin-top: 32px;

      @include onTablet {
        margin-top: 120px;
      }

      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
    }
  }

  &__compare {
    &--title {
      margin-top: 80px;
      font-weight: 500;
      font-size: 32px;
      text-align: center;
      letter-spacing: -1.5px;

      &::before {
        content: "Recommended";

        @include onTablet {
          content: "Compare Bikes";
          font-size: 48px;
        }

        @include onDesktop {
          font-size: 64px;
        }
      }
    }

    .item-container {
      display: grid;
      @include onDesktop {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .item {
      &__image {
        &--size {
          margin-top: 40px;
          width: 280px;
          height: 228px;

          @include onTablet {
            margin-top: 48px;
            width: 392px;
            height: 316px;
          }

          @include onDesktop {
            width: 324px;
            height: 264px;
          }
        }
      }

      &__title {
        margin-top: 32px;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;

      }

      &__description {
        margin-top: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
      }

      &__price {
        margin-top: 16px;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
      }
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    gap: 20px;

    @include onTablet {
      grid-template-columns: repeat(6, 80px);
      gap: 24px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 63px);
    }
  }

  .details {
    &__title {
      grid-column: 1 / -1;
      margin-top: 92px;
      font-weight: 500;
      font-size: 32px;
      text-align: center;
      letter-spacing: -1.5px;

      &::before {
        content: "Recommended";

        @include onTablet {
          content: "The Details";
          font-size: 48px;
        }

        @include onDesktop {
          font-size: 64px;
        }
      }
    }

  }
}
