.main-section {
  background-color: #1D1D1D;
  color: #fff;

  &__description {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  &__title {
    margin-top: 60px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    grid-column: 1/3;
  }
}
