.main {
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 60px 20px 120px;
  align-items: center;

  @include tablet-screen {
    padding: 120px 72px;
    row-gap: 120px;
    align-items: initial;
  }

  @include desktop-screen {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 180px;
    row-gap: 140px;
  }
}
