.main {
  padding: 120px 120px 100px;
  max-width: 1260px;

  @media (max-width: $tabletWidth) {
    padding: 160px 72px 100px;
  }

  @media (max-width: $mobileWidth) {
    padding: 120px 20px;
  }

  &__grid {
    display: grid;
    justify-content: center;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

    @media (max-width: $tabletWidth) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (max-width: $mobileWidth) {
      gap: 16px 20px;
      grid-template-columns: repeat(2, 130px);
    }
  }
}
