.main {
  padding: 64px 20px 0;
  max-width: 1440px;
  margin: 0 auto;
  @media only screen and (min-width: 1000px) {
    padding: 64px 120px 0;
  }
}

.main-header {
  display: grid;
  grid-template-columns: repeat(auto-fill,1fr);
  gap: 2rem;
  padding-bottom: 64px;

  &__heading {
    font-size: 36px;
    line-height: 36px;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__subtitle--font-blue,
  &__heading--font-blue {
    color: #0075ff;
  }

  &__lead {
    margin-bottom: 16px;
    line-height: 27px;
  }

  &__under-lead {
    line-height: 27px;
    font-weight: bold;
    color: #3e3e3e;
  }

  &__text-element--color {
    color: #0075ff;
  }

  @media only screen and (min-width: 770px) {
    & {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      gap: 0;
    }

    &__title {
      width: 240px;
    }

    &__text {
      width: 498px;
    }
  }

  .main-header__text-link {
    text-decoration: none;
  }

}

.main-main {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: 770px) {
    & {
      padding-bottom: 104px;
    }
  }

  &__header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
  }

  &__header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }

  &__header-logo {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }

  &__photos {
    min-height: 131px;
    min-width: 150px;
    display: grid;
    grid-template-rows: 131px;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }

  @media only screen and (min-width: 770px) {
    &__photos {
      grid-template-rows: 256px;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    &__photos--grid-width {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__photos-item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s, box-shadow 0.5s;
    cursor: pointer;
    &:hover {
      box-shadow: 10px 5px 5px rgba(88, 48, 48, 0.61);
      transform: scale(1.02);
    }
  }

  &__photos-text {
    width: 100%;
    padding: 16px 0 32px;
  }
  &__photos-text--color {
    font-weight: bold;
    color: #0075ff;
  }

  &__button {
    text-decoration: none;
    font-weight: 500;
    width: 280px;
    height: 56px;
    border: 2px solid #0075ff;
    background-color: #0075ff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 0.2s linear;
    &:hover {
      background-color: white;
      color: #0075ff;
    }
  }

  &__button--color {
    color: white;
  }

  &__excerpt--color {
    font-size: 16px;
    font-weight: bold;
    color: #0075ff;
  }
}

.main-footer {

  &__header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
  }

  &__header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }

  &__header-logo {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }
}
