$tabletInterSectionMargin: 64px;

.main-content {
  max-width: $pageContentMaxWidth;

  @media (max-width: $tabletMaxScreenWidth) {
    max-width: none;
    margin: 0 $mobilContentMargins;
  }

  &__introduction {
    padding-top: 104px;
    margin-bottom: 152px;
  }

  &__gallery {
    margin-bottom: 148px;
  }

  &__testimonials {
    margin-bottom: 152px;
  }

  &__contacts {
    margin-bottom: 72px;
  }

  @media (max-width: $tabletScreenWidth) {
    
    &__introduction {
      padding-top: $tabletInterSectionMargin;
      margin-bottom: $tabletInterSectionMargin;
    }
    
    &__testimonials {
      margin-bottom: $tabletInterSectionMargin;
    }

    &__gallery {
      margin-bottom: $tabletInterSectionMargin;
    }

    &__contacts {
      margin-bottom: $tabletInterSectionMargin;
    }
  }
}
