.main-section {
  padding: 64px 20px;

  &__paragraph {
    padding-top: 8px;
    color: #1b2129;
    font-size: 16px;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;
  }
}
