.main-page {
  font-family: "Cinzel", serif;
  scroll-behavior: smooth;
  @include fonts(16px, 27px, 400);
  color: $color-dark;

  &__body {
    margin: 0;
    box-sizing: border-box;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 140px;
    }
  }

  &__section-title {
    @include fonts(32px, 32px, 700);
    letter-spacing: -1.5px;
    text-align: center;
    color: $color-dark;
    margin: 0 0 48px;

    @include onTablet {
      @include fonts (48px, 48px, 700);
    }

    @include onDesktop {
      @include fonts (48px, 48px, 700);
    }

    &--small-margin {
      margin: 0 0 8px;
    }
  }

  &__section-subtitle {
    font-weight: 400;
    text-align: center;
    margin: 0 0 48px;
  }
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;

  @include iPadMini {
    padding: 0 72px;
  }

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
  }
}
