@import "utils";

.main-title {
  &__rectangle {
    width: 40px;
    height: 2px;

    margin-bottom: 24px;
  
    background-color: $header-color;
    border-radius: 2px;
  }
  
  &__text {
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    color: $header-color;
    letter-spacing: -1.5px;
  }
}
