.main {

  &__description {
    max-width: 1200px;
    // margin: 64px auto 64px;
    margin: 64px auto;

    @media (min-width: $deviceChangerDesktop) {
      margin-top: 104px;
      margin-bottom: 152px;
    }
  }

  &__contact-us {
    // margin-bottom: 64px;
    max-width: 1200px;
    margin: 64px auto 0;

    @media (min-width: $deviceChangerPhones) {
      margin-bottom: 88px;
    }
  }
}
