@import "./compareBikes.scss";
@import "./details.scss";
@import "./contact.scss";

.mainContent {
  background-color: $main-background-clr;
}

.moveFree {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  &__heading {
    font-weight: 500;
    font-size: 64px;
    margin: 120px 24px 196px 120px;

    @media (max-width: 744px) {
      font-size: 48px;
      margin: 60px 20px;
    }

    @media (max-width: 400px) {
      margin: 60px 0 32px 20px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    margin: 120px 140px 164px 0;

    @media (max-width: 744px) {
      margin: 32px 20px 70px;
    }

    @media (max-width: 410px) {
      margin: 0 20px 92px;
    }
  }
}

.img_hover:hover {
  transform: scale(105%);
}

.footer {
  height: 555px;
  width: 100%;

  background-image: url("../images/footer1260.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  margin-top: 182px;

  @media (max-width: 1100px) {
    height: 480px;
  }

  @media (max-width: 750px) {
    height: 200px;
  }
}
