
.main {
  padding: 0 $contentMinPadd;
  max-width: $contentWidth;
  &__intro {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 152px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__intro-label {
    width: 50%;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 48px;
    }
  }
  &__intro-label-highlight {
    color: #0075ff;
  }
  &__intro-wrapper {
    width: 50%;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  &__title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #0075ff;
  }
  &__text {
    display: block;
    width: 500px;
    margin: 0 auto;
    color: #3e3e3e;
  }
  &__warranty {
    font-weight: 700;
  }
  &__gallery {
    margin: 0 auto 152px;
  }
  &__review {
    margin-bottom: 106px;
  }
}
