.main {
  margin: 0 20px;

  &__about {
    margin-bottom: 60px;

    @include onIpad {
      margin-bottom: 132px;
    }

    @include onDesktop {
      margin-bottom: 164px;
    }

    &-title {
      margin: 0 0 32px;
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -1.5px;
      color: $ColorTextWhite;

      @include onIpad {
        font-weight: 500;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -1.5px;
      }

      @include onDesktop {
        font-weight: 500;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -1.5px;
      }
    }

    &-paragraf {
      font-weight: 500;
      font-size: 23px;
      line-height: 140%;
      color: $ColorTextWhite;

      @include onIpad {
        font-weight: 500;
        font-size: 23px;
        line-height: 140%;
      }

      @include onDesktop {
        font-weight: 500;
        font-size: 23px;
        line-height: 140%;
      }
    }
  }

  &__section {
    margin-bottom: 92px;

    @include onIpad {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 144px;
    }

    &-title {
      margin: 0 0 48px;
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -1.5px;
      text-transform: capitalize;
      color: $ColorTextWhite;

      @include onIpad {
        font-size: 48px;
        line-height: 100%;
      }

      @include onDesktop {
        margin: 0 0 56px;
        font-size: 64px;
        line-height: 100%;
      }
    }
  }

  &__product {

    &-img {
      display: block;
      margin: 0 auto 32px;
      width: 280px;

      @include onDesktop {
        width: 324px;
      }

      @include onIpad {
        width: 316px;
      }
    }

    &-name {
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: $ColorTextWhite;
    }

    &-description {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $ColorTextWhite;
    }

    &-price {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: $ColorTextWhite;

      @include onIpad {
        margin-bottom: 48px;
      }
    }
  }
}
