.main-block {
  background-color: $color-dark;
  padding: 60px 0 120px;

  &__section {
    margin-bottom: 90px;
    font-weight: 500;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__section-title {
    @include font-size-equel-line(32px);
    letter-spacing: -1.5px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 48px;

    &--left {
      text-align: left;
    }

    @include onDesctop {
      margin-bottom: 56px;
      @include font-size-equel-line(64px);
    }
  }

  &__section-text {
    line-height: 140%;

    &--bigger-font {
      @include font-size-equel-line(23px);
      line-height: 140%;
    }
  }
}
