.secondPage {
  padding: 48px 120px 104px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 27px;

  @media (max-width: 900px) {
    padding: 48px 20px 104px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-top: 6px;
    background-image: url(./../images/crown.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 23px;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0 24px;
  }

  .image {
    height: 256px;
    border-radius: 8px;
    transition: transform 1s;

    @media (max-width: 700px) {
      height: 131px;
    }

    &:hover {
      transform: scale(1.06);
    }
  }

  &__image1 {
    margin-right: 20px;
    flex-grow: 2;
    background-image: url(./../images/photos/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 900px) {
      flex-grow: 1;
    }
  }

  &__image2 {
    flex-grow: 1;
    background-image: url(./../images/photos/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__image3 {
    flex-grow: 1;
    margin-right: 20px;
    background-image: url(./../images/photos/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__image4 {
    flex-grow: 1;
    background-image: url(./../images/photos/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__image5 {
    flex-grow: 1;
    margin-right: 20px;
    background-image: url(./../images/photos/5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__image6 {
    flex-grow: 2;
    background-image: url(./../images/photos/6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 900px) {
      flex-grow: 1;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    color: #0075ff;
  }

  &__button {
    color: #0075ff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    width: 154px;
    border: 2px solid #0075ff;
    box-sizing: border-box;
    border-radius: 8px;
    transition: color 1s, background-color 1s;

    &:hover {
      color: #fff;
      border: 2px solid #005ecc;
      background-color: #005ecc;
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }

    &:active {
      box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
    }
  }
}
