.menu {
  background-color: $color-blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s;

  transform: translateX(-100%);

  &--active {
    transform: translateX(0);
  }

  &__content {
    height: 100vh;
    padding: $header-top-padding 0 $header-top-padding;
  }

  &__top {
    margin-bottom: 48px;
  }

  &__list {
    margin: 0 0 48px;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding: 8px 0;
    border-bottom: 1px solid transparent;

    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: border-color 0.3s;

    &:hover {
      border-color: #fff;
    }
  }

  &__call {
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    width: max-content;

    &--phone {
      margin-bottom: 16px;
    }

    &--action {
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
    }
  }
}
