@media (max-width: 899px) {
  .header {
    &__cancel {
      width: 16px;
      height: 16px;
      top: 40px;
      left: 24px;
    }

    &__list {
      margin: 120px 0 0 20px;
    }

    &__top {
      padding: 23px;
    }

    &__logo {
      width: 78px;
      height: 45px;
    }

    &__nav {
      width: 18px;
      height: 12px;
    }

    &__phone {
      width: 18px;
      height: 18px;
    }

    &__text {
      font-size: 46px;
      line-height: 40px;
      margin: 0 0 80px 20px;
    }
  }

  .main {
    padding: 0 20px;
  }

  .description {
    flex-direction: column;
    padding-top: 64px;

    &__title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 48px;
    }

    &__content {
      margin-bottom: 64px;
    }

    &__content-text {
      font-size: 16px;
      line-height: 27px;
    }
  }

  .gallery {
    margin-bottom: 64px;

    &__title {
      font-size: 36px;
      line-height: 36px;
    }

    &__photo {
      position: relative;
      height: calc(100vw / 2.45);
      max-height: 256px;
    }

    &__first,
    &__second,
    &__third,
    &__fourth,
    &__fifth,
    &__sixth {
      width: calc(50% - 10px);
      height: 100%;
      border-radius: 8px;
    }
  }

  .crown {
    margin: 0 auto 32px;
  }

  .testimonials {
    &__title {
      font-size: 36px;
      line-height: 36px;
    }
  
    &__content {
      flex-direction: column;
      text-align: center;
      margin-bottom: 64px;
    }

    &__avatar {
      margin-top: 0;
    }

    &__reviews {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__recall {
      margin: 0 auto;
    }
  }

  .contact {
    &__title {
      font-size: 36px;
      line-height: 36px;
    }
  
    &__container {
      flex-direction: column;
      margin-top: 0;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
    }

    &__text {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 32px;
      }
    }

    &__form {
      width: calc(100vw - 40px);
    }
  }

  .footer {
    height: $footer-height - 154px;
  }
}
