@media (max-width: 321px) {
  .about__title {
    font-size: 36px;
  }
}

@media (max-width: 461px) {
  .header__nav-icon {
    width: 18px;
    height: 12px;
  }

  .header__logo {
    width: 78px;
    height: 45px;
  }

  .header__phone {
    width: 18px;
    height: 18px;
  }

  .nav__container {
    padding-top: 100px;
  }

  .main__content {
    max-width: 450px;
  }

  .gallery__row-1,
  .gallery__row-2,
  .gallery__row-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 131px;
  }

  .gallery__view-all {
    width: 280px;
  }

  .contact__content {
    width: 320px;
  }

  .contact__info {
    flex-direction: column;
    align-self: flex-start;
    gap: 24px;
  }

  .contact__input {
    width: 280px;
  }

  .contact__textarea {
    width: 280px;
  }

  .contact__button {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .gallery__photos {
    margin-bottom: 32px;
  }

  .testimonials__people {
    flex-direction: column;
    align-items: center;
  }

  .testimonials__person {
    margin-bottom: 48px;
  }

  .footer {
    padding-bottom: 20px;
    height: 256px;
  }
}

@media (min-width: 461px) {
  .gallery__row-1,
  .gallery__row-2,
  .gallery__row-3 {
    grid-template-rows: 180px;
  }
}

@media (min-width: 800px) {
  .gallery__row-1,
  .gallery__row-2,
  .gallery__row-3 {
    grid-template-rows: 220px;
  }
}

@media (max-width: 880px) {
  .header__title {
    font-size: 46px;
    width: 240px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  
  section {
    margin-bottom: 64px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__text {
    max-width: 80%;
  }

  .gallery__logo,
  .testimonials__logo,
  .contact__logo {
    margin-bottom: 32px;
  }
}

@media (min-width: 1000px) {
  .gallery__row-1,
  .gallery__row-2,
  .gallery__row-3 {
    grid-template-rows: 256px;
  }
}

@media (max-width: 1060px) {
  .nav__container {
    padding-left: 20px;
  }
}

@media (max-width: 1080px) {
  .contact__content {
    flex-direction: column;
    align-items: center;
  }
}
