/* #region tablet*/
@media screen and (max-width: 1020px) {
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .header {
    background: url(../images/media.jpg), lightgray 50% / cover no-repeat;
    width: 744px;
    height: 993px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: static;
  }

  .nav {
    width: 744px;
    height: 993px;
  }

  .main_title {
    margin: auto;
    max-width: 60vw;
    text-align: center;
  }

  .main .main_grid {
    display: flex;
    width: auto;
    height: 1800px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  /*kolejnosc flex<od teraz> itemek w maingrid*/
  .main_photo1 {
    order: 1;
  }
  .main_photo2 {
    order: 3;
  }
  .main_photo3 {
    order: 5;
  }

  .main_text1 {
    order: 2;
  }
  .main_text2 {
    order: 4;
  }
  .main_text3 {
    order: 6;
  }

  .main_gridstore {
    transform: scale(0.6);
  }

  .footer_flex {
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
  }
  .footer_contact {
    margin: 0;
    margin-bottom: 50px;
    padding: 25px;
  }
}
/* #endregion */
/* #region phone */
@media screen and (max-width: 500px) {

  body {
    position: static;
    justify-content: center;
    row-gap: 20px;
    max-height: 2000px;
    // width: 100%;
  }

  .header {
    background: url(../images/media320.jpg), lightgray 50% / cover no-repeat;
    width: 320px;
    height: 568px;

    .header_title {
      // visibility: hidden;
      font-size: 36px;
      padding: 0;
      padding-left: 20px;
      padding-bottom: 20px;
    }
    // .header_title::after {
    //   display: block;
    //   position: absolute;
    //   left: 10px;
    //   top: 450px;
    //   width: 280px;
    //   height: 72px;
    //   font-size: 26px;
    //   content: attr(title);
    //   visibility: visible;
    //   align-self: center;
    // }

  }

  .nav {
    width: 320px;
    height: 568px;
  }

  .navbox {
    margin: 40px;
    margin-right: 105px;
  }

  .nav_nothing {
    transform: scale(0.7) translateX(-40px);
  }

  .header_nothing {
    transform: translate(-30px,-30px) scale(0.7);
  }

  .header .header_buttons .header_hiden {
    transform: translate(-45px, -10px);
    width: 150px;
  }

  .header_buttons {
    position: absolute;
  }

  .main {
    transform: scale(0.7)  translateY(-700px);
    max-height: 3000px;
  }

  .main_recomended {
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .main .main_title {
    // transform: translateX(75px);
    text-align: center;
    max-width: 100vw;
  }
  .main_gridstore {
    transform: scale(0.38) translateY(-900px);
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-1500px);
    max-height: 1600px;
  }

  .footer_line {
    background-image: url(../images/footer.jpg);
    background-position: center;
    width: 320px;
    min-height: 200px;
    transform: translateY(310px);

  }
  .footer_flex {
    position: static;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
  }
  .footer_flex > * {
    width: 300px;
  }

  .footer_boxform {
    transform: scale(0.9) translateX(-60px);
  }
}
/* #endregion */
