.menu-opener {
  width: 24px;
  height: 19px;
  background-image: url(../images/menu-opener.svg);
  background-position: center;
  background-size: 24px 19px;
  background-repeat: no-repeat;
  transition: all 350ms;

  @include onMobile {
    background-size: 18px 12px;
  }

  &:hover {
    background-image: url(../images/menu-opener-hover.svg);
  }
}
