.menu {
  height: 100vh;
  background-color: #e5e5e5;

  font-weight: 600;
  text-transform: uppercase;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__phone-number {
  display: block;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 27px;
  color: #1d1d1d;
  text-decoration: none;
}

.menu__book-a-test-ride {
  display: block;

  padding-bottom: 7px;
  width: fit-content;
  border-bottom: 1px solid #1d1d1d;

  font-size: 12px;
  line-height: 16px;
  color: #1d1d1d;
  text-decoration: none;
}
