.menu {
  height: 100vh;
  background-color: $accentMaim;

  &__content {
    padding: 25px 0 0;
  }

  &__top {
    margin-bottom: 40px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;

    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    color: $white;
    text-transform: uppercase;

    border-bottom: 1px solid transparent;
    transition: $slide;

    &:hover {
      border-color: $white;
    }
  }

  &__action {
    display: inline-block;
    padding-bottom: 8px;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: bold;

    text-decoration: none;
    color: $white;

    border-bottom: 1px solid;
  }
}
