.menu {
  background-color: #E8EFF9;
  height: 720px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;

  &:target {
    transform: translateX(0);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 120px 0 120px;
  }

  &__logo {
    width: 190px;
    height: 24px;
  }

  &__close {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    list-style: none;
    padding: 80px 120px;
  }

  &__item {
    margin-bottom: 24px;
    &:last-child{
      margin-bottom: 32px;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: $color-black;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    width: max-content;
    transition: border-bottom 0.3s;


    &:hover {
      border-bottom: 1px solid $color-black;
    }
  }

  &__phone {
    display: block;
    color: $color-black;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__call {
    display: block;
    color: $color-black;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid $color-black;
    width: max-content;
  }
}
