.menu-button {
  position: absolute;
  top: 36px;
  right: 20px;
  z-index: 2;

  display: inline-flex;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  fill: $c-white;
  background-color: transparent;
  transition: transform 500ms;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    fill: $c-active;
  }

  &__icon--cross {
    display: none;
  }

  &.is-open .menu-button__icon--cross {
    display: block;
  }

  &.is-open .menu-button__icon--menu {
    display: none;
  }
}

@include desktop {
  .menu-button {
    display: none;
  }
}
