.menu {
  background-color: $menu-background-color;

  &__content {
    height: 100vh;
    padding: $header-top-padding 0 0;
  }

  &__top {
    @include top-actions;
    margin-bottom: 42px;
  }

  &__list {
    list-style: none;
    margin-bottom: 42px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    
  }

  &__link {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    display: inline-block;
    text-decoration: none;
    color: $menu-color-dark;
    padding-bottom: 8px;
    border-bottom: solid 1px transparent;

    transition: border-bottom 0.5s, transform 0.5s;
    &:hover {
      border-bottom-color: $menu-color-dark;
      transform: scale(1.2);
    }
  }

  &__call {
    text-decoration: none;
    color: $menu-color-dark;
    display: block;
    font-weight: 600;
    width: max-content;
    transition: color 0.5s;
    &:hover {
      color: $contact-inks-color;
    }

    &--phone {
      font-size: 16px;
      line-height: 27px;
      padding-bottom: 16px;
    }

    &--text {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-bottom: 8px;
      border-bottom: 1px solid $menu-color-dark;

      transition: color 0.5s, border-color 0.5s;
      &:hover {
        color: $contact-inks-color;
        border-color: $contact-inks-color;
      }
    }
  }
}
