.menu {
  background-color: #e5e5e5;

  &__top {
    margin-bottom: 54px;

    @include onTablet {
      margin-bottom: 56px;
    }

    @include onDesctop {
      margin-bottom: 80px;
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 32px;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    color: $mainTextColor;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    transition: border-color 0.3s;

    &:hover {
      border-color: $mainTextColor;
    }
  }

  &__call {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    color: $mainTextColor;
    display: block;
    width: max-content;
    text-decoration: none;

    &--phone {
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 16px;
    }

    &--action {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      padding-bottom: 8px;
      border-bottom: 1px solid $mainTextColor;
    }
  }
}
