.met {
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $main-dark-color;
    margin-bottom: 16px;
  }
  &__time {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 16px;
    }
  }
  &__closed-on {
    &-text {
      font-weight: 700;
      color: $main-dark-color;
    }
  }
}
