@mixin onDesktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin iconSize($side) {
  width: $side;
  height: $side;
}

@mixin normalizeMenu($topMarB, $itemMarB, $listMarB, $callMarB) {
  &__nav {
    margin-bottom: $topMarB;
  }

  &__item {
    margin-bottom: $itemMarB;

    &:last-child {
      margin: 0;
    }
  }

  &__list {
    margin-bottom: $listMarB;
  }

  &__call {
    &-number {
      margin-bottom: $callMarB;
    }
  }
}

@mixin sectionTitleSize($value) {
  font-size: $value;
  line-height: $value;
}
