.mobile-nav {
  &__list {
    @include flex-center(flex-start);
    flex-direction: column;
    text-transform: uppercase;
  }

  &__item {
    margin: 16px 0;
  }

  &__link {
    color: $white;
    padding: 10px 0;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
  }
}
