.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100vh;
  background-color: #0075ff;
  display: flex;
  flex-direction: column;

  &__logo {
    height: 73px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 24px;
    margin-left: 5px;
    cursor: inherit;
  }

  &__phone {
    margin-bottom: 16px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
  }

  &__action {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    color: $color-white;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      position: relative;
      top: 8px;
      width: 114px;
      border-bottom: 1px solid $color-white;
    }
  }
}

.logo__img {
  width: 73px;
  height: 48px;
}

.burger-nav {
  &__list {
    margin: 48px 0;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;
  }
}

.nav__toggler:checked ~ .burger-menu {
  opacity: 1;
  z-index: 1;
}
