.mobile {
  width: 100%;
  height: 568px;
  padding: 4px;
  padding-top: 24px;
  background-color: $blueColor;

  @include onTablet {
    height: 640px;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    display: block;
    width: 73px;
    height: 48px;
    margin: 0 auto 48px;
  }

  &__icon {
    position: absolute;
    top: 16px;
    right: 40px;
    cursor: pointer;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone {
    margin-bottom: 16px;
  }

  &__link {
    @include whiteLink;

    &--action {
      position: relative;
      text-transform: uppercase;
      @include bottomBorder;
    }
  }
}
