.mobile-menu {
  display: none;
  position: fixed;
  background: $blue;
  width: 100vw;
  height: 100vh;
  z-index: 99;

  &__logo {
    margin: 20px auto 70px;
  }

  &__phone {
    color: $white;
    display: block;
    margin: 25px 0 15px;
  }

  &__action {
    color: $white;
    padding: 8px 0;
    border-bottom: 1px solid $white;
  }

  &--active {
    display: block;
    padding: 0 30px;
    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
}
