.mobile-menu {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  background: $blue;
  z-index: 99;
  padding: 0 30px;

  &__logo {
    margin: 20px auto 70px;
  }

  &__phone {
    color: $white;
    display: block;
    margin: 25px 0 15px;
  }

  &__action {
    color: $white;
    padding: 8px 0;
    border-bottom: 1px solid $white;
  }

  &--active {
    position: fixed;
    display: block;

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
}
