.more {
  &__title {
    margin-bottom: 48px;
  }

  &__text-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 24px;
    margin-bottom: 48px;

    @include onDesktop {
      margin-top: 32px;
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 4px;

    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $c-red;

    @include interactZoom(0.5s, 105%);
  }

  &__paragraph {
    display: inline-block;

    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $c-black;
  }
}
