.more-to-explore {
  &__content {
    padding-top: $sectionGap;
  }

  &__title {
    margin-bottom: 40px;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 4px;
    color: $mainred;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    text-align: center;
    margin-bottom: 48px;

    &--last {
      margin-bottom: 0;
    }
  }

  &__image {
    max-width: 280px;
    height: 277px;
    margin: auto;
    margin-bottom: $imageGap;
    transition: transform $transitionDuration ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      max-width: 392px;
      height: 387px;
      margin: auto;
      margin-bottom: $imageGap;
    }

    @include onDesktop {
      max-width: 324px;
      height: 320px;
      margin: auto;
      margin-bottom: $imageGap;
    }

    &--8 {
      background-image: url(../images/photos/img8-mobile.jpg);

      @include onTablet {
        background-image: url(../images/photos/img7-tablet.jpg);
      }

      @include onDesktop {
        background-image: url(../images/photos/img8-desktop.jpg);
      }
    }

    &--9 {
      background-image: url(../images/photos/img9-mobile.jpg);

      @include onTablet {
        background-image: url(../images/photos/img8-tablet.jpg);
      }

      @include onDesktop {
        background-image: url(../images/photos/img9-desktop.jpg);
      }
    }

    &--10 {
      background-image: url(../images/photos/img10-mobile.jpg);

      @include onTablet {
        background-image: url(../images/photos/img10-tablet.jpg);
      }

      @include onDesktop {
        background-image: url(../images/photos/img10-desktop.jpg);
      }
    }
  }
}
