.section {
  &__more-to-explore {
    display: flex;
    flex-direction: column;
  }

  &__more-to-explore-title {
    margin: 0 auto 40px;
    text-align: center;
  }

  &__exhibitions-photo {
    max-width: 280px;
    max-height: 277px;
    margin: 0 auto 24px;

    transition: 0.4s;

    &:hover {
      transform: scale(1.1);
      margin: 0 10px 30px;
    }

    @include onTablet {
      max-width: 392px;
      max-height: 387px;
    }

    @include onDesktop {
      max-width: 324px;
      max-height: 320px;
    }
  }

  &__exhibition {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__exhibitions-block {
    display: flex;
    flex-direction: column;
  }

  &__exhibitions-block-title {
    margin: 0 auto 4px;

    font-size: 24px;
    line-height: 140%;
    color: $color-red;
  }

  &__exhibitions-block-paragraph {
    text-align: center;
    font-size: $font-size-16;
    line-height: 27px;
    margin-bottom: 48px;
  }
}
