.explores {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.explore {
  &__photo {
    display: grid;
    width: 100%;
    object-fit: contain;
    margin: auto;

    @include onLaptop {
      width: 392px;
      height: 387px;
    }

    @include onDesktop {
      width: 100%;
      height: 320px;
    }
  }

  &__name {
    margin: 24px 0 4px;

    @include onDesktop {
      margin: 32px 0 4px;
    }

    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    color: $colorRed;
  }

  &__about {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: $colorDark;
  }
}

.link {
  color: $colorRed;
  text-decoration: none;
}
