.more {

  &__title {
    font-weight: $t-bold;
    text-align: center;
    margin: 0 0 48px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 100%;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: $t-bold;
    margin-bottom: 4px;
    color: $c-red;
  }

  &__description {
    text-align: center;
    font-family: "Roboto", sans-serif;

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}
