.more {
  padding-top: 48px;

  @include for-desktop() {
    grid-column: span 4;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    color: #d12d35;
  }

  &__image {
    padding-bottom: 24px;

    @include for-tablet() {
      width: 400px;
      height: 400px;
    }

    @include for-desktop() {
      width: 324px;
      height: 320px;
    }
  }

  &__information {
    padding: 4px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #161616;
  }
}
