@use '../utils/vars' as *;

.motto {
  @media screen and (max-width: 1259px) {
    --motto-img-mb: 2.5rem;
    --motto-font-size: 2.5rem;
  }

  @media screen and (max-width: 743px) {
    --motto-img-mb: 1rem;
    --motto-img-h: 3.62rem;
    --motto-font-size: 2rem;
  }

  &__img {
    margin-bottom: var(--motto-img-mb);
    height: var(--motto-img-h);
  }

  &__text {
    font-size: var(--motto-font-size);
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 800;
    line-height: var(--motto-font-size);
    letter-spacing: -1.5px;
  }
}
