.move-free {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  justify-content: center;
  margin: 60px 0 92px;

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
  }
}
