.move {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 92px;
  &__info {
    margin: 0;
    padding-top: 32px;
    font-size: 23px;
    font-weight: 500;
    color: $colorText;
    line-height: 32px;

    @include onTablet {
      padding-top: 0;
      margin-left: 77px;

    }
    @include onDesktop {
      margin-left: 188px;
    }
  }

  @include onTablet {
    flex-direction: row;
    margin-bottom: 132px;
  }
  @include onDesktop {
    margin-bottom: 164px;
  }
}
