.move-section {

  &__title--position {
    margin-bottom: 32px;
    text-align: start;
  }

  &__text {
    font-family: Inter, serif;
    font-size: 24px;
    @extend %font-weight-500;
    letter-spacing: 0.2px;
  }
}
