.move {
  padding-bottom: 92px;
  padding-right: 20px;

  @include onTablet {
    padding-bottom: 132px;
    padding-right: 72px;
  }

  @include onDesktop {
    padding-bottom: 164px;
    padding-right: 207px;
  }

  &__title {
    letter-spacing: -1.5px;
    text-align: left;
    color: $text-white;
    padding-top: 60px;
    margin: 0 0 32px 0;
  }

  &__paragraf {
    margin: 0;
    text-align: left;
    color: $text-white;
  }
}