.move {
  padding: 60px 20px 0;

  @include onTablet {
    padding: 120px 72px 40px;
  }

  @include onDesktop {
    padding: 120px 207px 74px 120px;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
      font-size: 48px;
      margin-right: 24px;
      line-height: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
  }
}
