.move-free {
  padding: 120px 0;
  align-items: start;

  &__heading-container {
    position: relative;
    height: 100%;

    &__text {
      position: sticky;
      top: 200px;
    }
  }

  &__description {
    font-size: 23px;
    font-weight: 400;
    line-height: 140%;
  }
}
