.move-free {
  @include pageGrid;

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }

  }

  &__description {
    margin: 0;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7 ;
    }

    @include onDesktop {
      grid-column: 6 / 12;
    }
  }
}
