.museum-hours {
  &__title {
    margin: 0 0 32px;

    @include font-section-title;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__title-link {
    margin-bottom: 2px;

    @include font-section-title-link;
    text-decoration: none;
  }

  &__sub-title {
    margin: 0 0 16px;

    @include font-section-sub-title;
  }

  &__container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 24px;
    flex: 0 0 auto;

    margin-bottom: 16px;
  }

  &__wrapper {
    margin-bottom: 24px;
  }

  &__paragraph {
    margin: 0 0 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &--bold {
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}
