.museum-address {
  &__name {
    margin: 0 0 16px;
    font-weight: 700;
  }

  &__phone {
    margin-bottom: 8px;
  }

  &__address {
    font-style: normal;
  }

  &__link {
    display: block;
    width: fit-content;
    margin-top: 4px;
    font-weight: 700;
    color: $colorBlackMain;
    text-decoration: none;
  }
}
