.museum-hours {
  color: $color-dark;
  padding: 0 20px;

  &__fifth-avenue {
    margin-bottom: 24px;
  }

  &__text {
    @include fonts(12px, 17px, 700);
    color: $color-red;
    margin: 0 0 2px;
  }

  &__title {
    text-align: left;
    margin-top: 0;
  }

  &__subtitle {
    @include fonts(24px, 30px, 700);
    margin: 0 0 16px;
  }

  &__week-plan {
    margin-bottom: 16px;
  }

  &__time {
    font-weight: 700;
    padding: 0 24px 8px 0;
  }

  &__closed {
    font-weight: 700;
    padding-right: 57px;

    &--cloisters {
      font-weight: 700;
      padding-right: 83px;
    }
  }

  &__closed-on {
    font-weight: 700;
  }
}
