.museum {
  &__name {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    color: $color-main-dark;
  }

  &__contact {
    margin-bottom: 8px;
  }

  &__contact-name {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    color: $color-main-dark;
  }

  &__contact-value {
    display: block;
    width: max-content;
    border-bottom: 1px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    color: #3e3e3e;

    @include hover(border-color, #3e3e3e);
  }
}
