.museum-hours {
  &__title {
    margin: 0 0 32px;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $mainDark;

    @include onTablet {
      margin-bottom: 0;
      font-size: 48px;
      line-height: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__title-link {
    margin-bottom: 2px;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0;
    color: $accentMain;
    text-decoration: none;
  }

  &__sub-title {
    margin: 0 0 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $mainDark;
  }

  &__container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 24px;
    flex: 0 0 auto;

    margin-bottom: 16px;
  }

  &__wrapper {
    margin-bottom: 24px;
  }

  &__paragraph {
    margin: 0 0 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &--bold {
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}
