.museum-phone {
  width: max-content;
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;

  &-space {
    height: 8px;
  }
}
