.mybike-main {
  padding: $stndrt-mar-pad 0;
  background-color: $header-link-title-underline;

  @include media-properties($desktop-screen-resolution) {
    padding: $stndrt-mar-pad 0 180px;
  }

  &__catalog {
    margin-top: $stndrt-mar-pad;

    @include set-margin($medium-screen-resolution, top, $stndrt-mar-pad);
    @include set-margin($desktop-screen-resolution, top, 160px);
  }

  &__other-products {
    margin-top: $stndrt-mar-pad;
    @include set-margin($medium-screen-resolution, top, 160px);
    @include set-margin($desktop-screen-resolution, top, 140px);
  }

  &__contacts {
    margin-top: $stndrt-mar-pad;
    @include set-margin($desktop-screen-resolution, top, 180px);
  }

  &__title {
    margin: 0 0 32px;

    text-shadow: $title-shadow;
    font-family: $main-font;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: $basic-color;
    letter-spacing: -1.5px;

    @include media-properties($desktop-screen-resolution) {
      margin: 0;
      font-size: 64px;
      line-height: 64px;
    }

    @include media-properties($medium-screen-resolution) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__section-title {
    margin: 0 0 48px;
    text-align: center;
    @extend .mybike-main__title;
    text-shadow: $title-shadow;

    &--details {
      margin-bottom: 64px;
      @include set-margin($medium-screen-resolution, bottom, 48px);
    }
  }

  &__article {
    margin: 0;

    font-family: $additional-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: $basic-color;
  }
}
