.name {
  width: 100%;
  margin-bottom: 16px;
  height: 48px;
  background: #F8F8FA;
  font-family: Cinzel;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  text-indent: 16px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #D5D7DE;
  }

  &:focus {
    outline: none;
    border: 1px solid #161616;
  }
}

.area {
  padding-top: 16px;
  height: 144px;
  resize: none;
  margin-bottom: 32px;
}

.row {
  grid-row: 2 / 4;
}

.margin-bottom {
  margin-bottom: 16px;

}
