.nav-menu {

  background-color: $menu-background;
  &__content {
    height: 100vh;
    padding: $header-top-padding 0;
  }

  &__top {
    @include top-actions;
    margin-bottom: 44px;

  }

  &__list {
    margin-bottom: 44px;
    padding: 0;

    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: $menu-item-color;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: border-color $transition linear;

    &:hover {
      border-color: $menu-item-color;
    }
  }

  &__call {
    display: block;
    width: max-content;

    font-weight: 600;
    color: $menu-item-color;
    text-transform: uppercase;

    text-decoration: none;
    &--call {
      margin-bottom: 16px;

      line-height: 27px;
    }

    &--action {
      padding-bottom: 8px;

      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;

      border-bottom: 1px solid $menu-item-color;
    }
  }
}
