.nav-checkbox {
  display: none;

  &:checked ~ .nav {
    visibility: visible;
    opacity: 1;
  }

  &:checked ~ .header__icon-wrapper > .header__nav-toggler {
    width: 16px;
    height: 16px;
    background-image: url(../images/toggler-active.svg);

    transition: transform 800ms;
  
    @media (min-width: $deviceChangerPhones) {
      height: 21px;
      width: 21px;
    }
  }
}
