.nav-menu {
  @extend %flex-center;

  &--bg_danger {
    background-color: $danger;
  }

  &__content {
    height: 100vh;
    padding-top: 25px;

    @include onTablet {
      padding-top: 50px;
    }
  }

  &__icons {
    @extend %flex-center;
  }

  &__logo {
    &-img {
      display: block;

      @include onDesktop {
        height: 65px;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    font-weight: 700;
    color: $white;
    text-transform: uppercase;

    &--hidden {
      position: absolute;
      right: 100%;

      align-items: flex-end;
      width: 205px;

      text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
      opacity: 0;

      transition: opacity 0.4s;
    }
  }

  &__info {
    width: fit-content;

    color: $white;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    transition: border-color 0.4s;

    &:hover {
      border-color: $white;
    }
  }

  &__inner {
    position: relative;

    display: flex;
    align-items: center;
  }

  &__list {
    list-style: none;
    margin: 40px 0 32px;
    padding: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    padding-bottom: 8px;

    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    color: $white;

    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-color 0.4s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $white;
    }
  }

  &__call {
    padding-bottom: 8px;

    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    color: $white;

    border-bottom: 1px solid $white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
