.nav-check-box {
  display: none;

  &:checked ~ .nav {
    visibility: visible;
    opacity: 1;
  }

  &:checked ~ .header__icon-wrapper > .header__nav-toggle {
    width: 16px;
    height: 16px;
    background-image: url("../images/toggle_off.svg");

    @media (min-width: $breakPointTablet) {
      width: 21px;
      height: 21px;
    }

  }
}
