.menu {
  background-color: #e5e5e5;

  &__content {
    padding: 30px 0 120px;

    @include onDesktop {
      padding: 50px 0 210px;
    }

    box-sizing: border-box;

    height: 100vh;
  }

  &__top {
    margin-bottom: 48px;
  }

  &__list {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    list-style: none;
  }

  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 40px;
    }

    font-weight: 600;

    @include onDesktop {
      font-weight: 700;
    }

    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    color: $main-color;
  }

  &__call {
    display: block;

    width: max-content;

    font-weight: 600;

    text-decoration: none;
    color: $main-color;

    @include onDesktop {
      font-weight: 700;
    }

    &--phone{
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 16px;

    }

    &--action {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;

      text-transform: uppercase;
      padding-bottom: 8px;
      border-bottom: 1px solid $main-color;
    }
  }
}
