.nav {
  padding-top: 50px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 48px;
    }
  }

  &__link {
    @include nav-links (22, 22);
    @include transition-hover {
      border-bottom: 1px solid $c-white;
      padding-bottom: 8px;
    }
  }

  &__order-call {
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    width: max-content;

    &-link {
      @include nav-links (12, 16);
      @include transition-hover {
        color: $c-darkGray;
      }
    }
  }
}
