.nav {
  &__list {
    list-style: none;
    margin-top: 44px;

    @include fontParams(22px, 22px, 700);
    letter-spacing: 2px;
  }

  &__item {
    padding-bottom: 32px;

    &:nth-child(n+5) {
      padding-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    position: relative;

    text-decoration: none;
    color: #000;

    &:hover::after {
      position: absolute;
      display: block;
      left: 0;
      bottom: -8px;

      content: "";

      height: 1px;
      width: 100%;
      margin-top: 8px;
      background-color: #000;
    }
  }
}
