.navigation{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  &__phone{
    background-image:url('../images/phone.svg'); ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    grid-column: span 1;
    justify-self: end;
    align-self: center;
  }
  &__burger{
    background-image:url('../images/menu.svg'); ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 12px;
    grid-column: 3 / -1;
     justify-self: end;
    align-self: center;
    margin-right: 23px;
  }
}
