.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;

  &__icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  &__item {
    &--hidden {
      opacity: 0;
    }
  }
}
