.navigation {
  padding-top: 32px;

  @include for-tablet() {
    padding-top: 56px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $color-text;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &::after {
      margin-top: 8px;
      content: "";
      height: 1px;
      display: block;
      box-sizing: border-box;
      border: 1px solid transparent;
    }

    &:hover {
      &::after {
        margin-top: 8px;
        content: "";
        height: 1px;
        display: block;
        box-sizing: border-box;
        border: 1px solid $color-text;
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__paragraph {
    display: inline-block;

    &::after {
      margin-top: 8px;
      margin-left: 1px;
      content: "";
      height: 1px;
      display: block;
      box-sizing: border-box;
      border: 1px solid $color-text;
      border-radius: 50px;
    }
  }

  &__call {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-text;
    text-decoration: none;
  }
}
