.news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: calc(100% + 40px);
  margin-left: -20px;
  background: #fcfaef;

  @media (min-width: 744px) {
    & {
      width: calc(100% + 80px);
      margin-left: -40px;
    }
  }

  &__img-container {
    grid-column: 1/-1;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
  }

  &__title {
    grid-column: 1/-1;
    margin: 48px 0 24px;
    padding: 0 20px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;

    @media (min-width: 744px) {
      & {
        grid-column: unset;
      }
    }
  }

  &__text {
    grid-column: 1/-1;
    margin-bottom: 48px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    @media (min-width: 744px) {
      & {
        grid-column: unset;
      }
    }
  }
}
