@import "../utils/grid-main-vars";

.news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  width: calc(100% + #{$padding-320px} * 2);
  margin-left: $padding-320px * -1;
  background: #fcfaef;

  @media (min-width: 744px) {
    & {
      width: calc(100% + #{$padding-744px} * 2);
      margin-left: $padding-744px * -1;
      justify-content: center;
    }
  }

  @media (min-width: 1260px) {
    & {
      width: calc(100% + #{$padding-1260px} * 2);
      margin-left: $padding-1260px * -1;
      justify-content: center;
    }
  }

  &__img-container {
    grid-column: 1/-1;
    overflow: hidden;
    height: fit-content;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 200px;

    @media (min-width: 744px) {
      & {

        height: 400px;
      }
    }

    @media (min-width: 1260px) {
      & {

        height: 460px;
      }
    }
  }

  &__title {
    grid-column: 1/-1;
    margin: 48px 0 24px;
    padding: 0 20px;
    font-size: 32px;
    line-height: 32px;

    @media (min-width: 744px) {
      & {
        grid-column: unset;
        margin: 0;
        padding: 120px 72px;
        padding-right: 0;
      }
    }

    @media (min-width: 1260px) {
      & {
        grid-column: unset;
        margin: 0;
        padding: 120px;
        padding-right: 0;
      }
    }
  }

  &__text {
    grid-column: 1/-1;
    margin-bottom: 48px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    @media (min-width: 744px) {
      & {
        grid-column: unset;
        padding: 120px 72px;
        padding-left: 0;
        margin: 0;
      }
    }

    @media (min-width: 1260px) {
      & {
        grid-column: unset;
        margin: 0;
        padding: 120px;
        padding-left: 0;
      }
    }
  }
}
