.next-article {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    height: 277px;
    width: 280px;
    transition-duration: 1s;
    box-shadow: 10px 10px 10px grey;

    @media (min-width: 744px) {
      height: 387px;
      width: 392px;
    }

    @media (min-width: 1260px) {
      height: 320px;
      width: 324px;
    }

    &:hover {
      transform: scale(1.1);
      cursor: zoom-in;
    }
  }

  &__text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    @media (min-width: 744px) {
      width: 392px;
    }

    @media (min-width: 1260px) {
      width: 324px;
    }
  }
}
