body {
  background: $c-gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #707070 !important;
}
