* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  background-color: transparent;
  border-color: transparent;
}
