.now-on-view {
  &__title-envelope {
    margin-bottom: 48px;
    text-align: center;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__paragraph {
    margin: 0;
  }

  &__art {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
