.now-on-view {
  &__exhibition {
    margin-bottom: 48px;

    &--margin-bottom--40 {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    text-align: center;
    margin-bottom: 48px;
  }
}
