.now {

  &__title {

    &::after {
      display: block;
      content: "Explore exhibition gallery guides, videos, articles, and more.";
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0;
      text-align: center;
      color: $mainDark;
      padding: 0 0 0 20px;
    }
  }

  &__pictures {

    @include useGrid (3, 8px);
    margin-bottom: 16px;

    @include onTablet {
      @include useGrid (6, 24px);
      margin-bottom: 24px;

      #disappear {
        display: none;
        visibility: hidden;
      }
    }

    @include onDesktop {
      @include useGrid (12, 24px);
      margin-bottom: 24px;

      #disappear {
        display: block;
        visibility: visible;
      }
    }
  }

  &__images {

    @include useGrid (2, 20px);
    margin-bottom: 16px;

    @include onTablet {
      @include useGrid (6, 24px);
      margin-bottom: 24px;
    }

    @include onDesktop {
      @include useGrid (12, 24px);
      margin-bottom: 24px;
    }
  }

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: left;

    &--container {
      position: relative;
      width: 100%;

      max-height: 130px;
      box-sizing: border-box;

      overflow: hidden;

      &::after {
        padding-bottom: 100%;
        content: "";
        display: block;
      }

      @include onTablet {
        max-height: 186px;
        padding-bottom: 0;
      }

      @include onDesktop {
        max-height: 320px;
        padding-bottom: 0;
      }
    }

    &--container-special {

      position: relative;
      width: 100%;

      max-height: 87px;
      // box-sizing: border-box;

      overflow: hidden;

      &::after {
        padding-bottom: 100%;
        content: "";
        display: block;
      }

      @include onTablet {
        max-height: 284px;
        padding-bottom: 0;
      }

      @include onDesktop {
        max-height: 320px;
        padding-bottom: 0;
      }
    }
  }

  &__description {
    display: block;

    &--title {
      font-weight: 700;
      color: $colourRed;
      text-decoration: none;
    }

    &--subtitle {
      font-weight: 400;
      color: $mainDark;
    }
  }

  &__row {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }
}
