.now {
    color: $main_dark;
  
    &__container {
      margin-bottom: 48px;
    }
  
    &__title-holder {
      margin-bottom: 48px;
    }
  
    &__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
    }
  
    &__image-holder {
      margin-bottom: 24px;
    }
  
    &__image {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: 20%;
  
      @include onMedium {
        aspect-ratio: auto;
      }
  
      @include onBig {
        aspect-ratio: auto;
      }
    }
  
    &__event-name {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: $main-red;
    }
  
    &__date {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: $main_dark;
    }
  
    &__dance-picture {
      @include onMobile {
        object-position: 100%;
      }
    }
  }