.now{

  &__content {
    display: block;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 24px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
    color: $mainDark;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }

    &::after {
      display: block;
      content: "Explore exhibition gallery guides, videos, articles, and more.";
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0;
      text-align: center;
      color: $mainDark;
      padding: 0 0 0 20px;
    }
  }

  &__images {

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 24px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
    }
  }

  &__image {

    @include onTablet {
      height: 186px;
    }

    @include onDesktop {
      height: 320px;
    }
  }

  // &__description {

  // }
}
