.with-2-icons {
  gap: 20px;

  @include onTablet {
    gap: 24px;
  }
}

.with-3-icons{
  gap: 8px;

  @include onTablet {
    gap: 24px;
  }
}

.icons3 {
  height: 88px;
  width: 88px;

  @include onTablet {
    height: 186px;
    width: 186px;
  }

  @include onDesktop {
    height: 320px;
    width: 322px;
  }
}

.now-on-view {
  display: flex;
  justify-content: center;

  &__title {
    text-align: center;
  }

  &__icon-plase {
    display: flex;
    justify-content: center;

    margin-top: 48px;
    margin-bottom: 24px;

    &__content1 {
      background-image: url(../images/photos/1_mobile.png);
      background-size: cover;
      background-position: center;

      height: 130px;
      width: 130px;

      @include onTablet {
        background-image: url(../images/photos/1.png);
        background-size: cover;
        background-position: center;
        height: 186px;
        width: 392px;

        @include onDesktop {
          height: 320px;
          width: 672px;
        }
      }
    }

    &__content2 {
      background-image: url(../images/photos/2.png);
      background-size: cover;
      background-position: center;

      height: 130px;
      width: 130px;

      @include onTablet {
        height: 186px;
        width: 186px;

        @include onDesktop {
          height: 320px;
          width: 320px;
        }
      }
    }

    &__content3 {
      background-image: url(../images/photos/3.png);
      background-size: cover;
      background-position: center;
    }

    &__content4 {
      background-image:url(../images/photos/4.png);
      background-size: cover;
      background-position: center;
    }

    &__content5 {
      background-image:url(../images/photos/5.png);
      background-size: cover;
      background-position: center;
    }

    &__content6 {
      background-image:url(../images/photos/6.png);
      background-size: cover;
      background-position: center;

      height: 130px;
      width: 130px;

      @include onTablet {
        height: 186px;
        width: 186px;

        @include onDesktop {
          height: 320px;
          width: 320px;
        }
      }
    }

    &__content7 {
      background-image:url(../images/photos/7.png);
      background-size: cover;
      background-position: right;

      height: 130px;
      width: 130px;

      @include onTablet {
        background-image: url(../images/photos/7.png);
        background-size: cover;
        background-position: center;
        height: 186px;
        width: 392px;

        @include onDesktop {
          height: 320px;
          width: 672px;
        }
      }
    }
  }

  &__icon-discription {

    &--redlink {
      color: #d12d35;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
    }
  }
  &__button {
    display: block;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}
