@use "./../utils/mixins.scss" as *;

.main__nowOnView {
  &--title {
    color: #{$black};
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
  }

  &--label {
    color: #{$black};
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 48px;
  }

  &--picture-container {
    margin-bottom: 48px;

    &-pictures2 {

      @include grid();
      margin-bottom: 24px;

      &-item {
        width: 100%;
        position: relative;
        padding-top: 100%;
        grid-row: 1 / 3;

        @include forDesktop() {
          grid-column: span 6;
          padding-top: 320px;
        }

        &--big {
          @include forTablet () {
            grid-column: span 4;
            padding-top: 220px;
          }

          @include forDesktop() {
            grid-column: span 8;
          }
        }

        &--small {

          @include forTablet () {
            grid-column: span 2;
          }

          @include forDesktop() {
            grid-column: span 4;
          }
        }
      }

      &-picture {
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }

    &-pictures3 {
      @include grid();
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 24px;

      &-item {
        width: 100%;
        position: relative;
        padding-top: 100%;
        grid-row: 1 / 3;

        @include forDesktop() {
          grid-column: span 4;
        }

        @include forTablet () {
          grid-column: span 2;
        }
      }
      &-picture {
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }

    &-title {
      color: #{$red};
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
    }

    &-label {
      color: #{$black};
      font-size: 16px;
      line-height: 27px;
    }
  }

  &--view-all {
    display: flex;
    justify-content: center;
    margin: 40px 0 100px;

    &-button {
      background-color: #{$red};
      width: 280px;
      height: 56px;
      color: #{$white};
      font-size: 16px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      &:hover {
        background-color: #{$hoverRed};
      }
    }
  }
}
