.numbers {
  display: none;

  @include onTablet {
    display: block;
    position: absolute;
    top: 4%;
    transform: translateX(-100%);
    padding-right: 30px;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    width: max-content;

    &__fifth-ave,
    &__cloisters {
      text-align: end;
    }

    &__address-contact {
      
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      font-size: $font-size-16;
      line-height: 27px;
      align-items: center;
      text-transform: uppercase;
    }
  }
}

.icon--phone:hover + .numbers {
  opacity: 1;
  pointer-events: all;
}
