.numbers {
  color: $white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;

  &__info:first-child {
    margin-bottom: 8px;
  }

  &__link {
    border-bottom: 1px solid transparent;

    transition: border-color $transition-time  $transition-style;

    &:hover {
      border-color: $white-color;
    }
  }
}
