@use '../utils/mixins' as *;

.object {

  &__paragraph {
    font-family: Inter, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 0;
    text-align: left;
    justify-content: flex-start;
    margin-top: 20px;
  }
}
