.offer {
  @include section-padding;
  @include grid;

  &__section-title {
    margin-bottom: 32px;
    text-align: left;

    grid-column: 1 / 3;

    @include for-tablet {
      grid-column: 1 / 4;
    }

    @include for-desktop {
      grid-column: 1 / 6;
    }
  }

  &__benefits {
    margin-bottom: 40px;

    grid-column: 1 / 3;

    @include for-tablet {
      grid-column: 4 / 7;
    }

    @include for-desktop {
      grid-column: 6 / 11;
    }
  }

  &__benefit {
    margin-bottom: 16px;
  }

  &__description {
    grid-column: 1 / 3;

    @include for-tablet {
      grid-column: 4 / 7;
    }

    @include for-desktop {
      grid-column: 6 / 11;
    }
  }
}
