.on-view {
  $root: &;

  &__title-body {
    margin: 0 auto 48px;
    max-width: 350px;
    text-align: center;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__gallery {
    margin-bottom: 40px;
  }

  &__item:not(:last-child) {
    margin-bottom: 48px;
  }

  &__images {
    display: flex;
    margin-bottom: 24px;
    gap: 20px;

    &--count--3 {
      gap: 8px;
    }

    @include onTablet {
      gap: 24px;
    }
  }

  &__big-img {
    flex: 0 1 50%;

    #{$root}__image {
      object-position: -35px center;
    }

    &--position--left {
      #{$root}__image {
        object-position: left center;
      }
    }

    @include onTablet {
      flex: 0 1 66.67%;

      #{$root}__image {
        object-position: center;
      }
    }
  }

  &__small-img {
    flex: 0 1 50%;

    @include onTablet {
      flex: 0 1 33.33%;
    }
  }

  &__medium-img {
    flex: 0 1 33.33%;
  }

  &__text {
    line-height: 27px;
  }

  &__text--accent {
    font-weight: 700;

    color: $main-color-accent;
  }

  &__button {
    margin: 0 auto;

    min-height: 56px;
    max-width: 325px;
  }
}
