.on-view {

  &__description {
    max-width: 390px;
    margin: 8px auto 48px;
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    letter-spacing: -0.5px;
  }

  &__photos {
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: $column-gap;
    margin-bottom: 24px;
  }

  &__photo {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(105%);
    }
  }

  &__name {
    font-weight: 700;
    color: $main-red;
    font-size: 16px;
  }

  &__date {
    margin-bottom: 48px;
  }
}

.on-view__photos {

  &--1 {
    grid-template-columns: $two-columns;
    gap: 20px;

    @include onTablet {
      grid-template-columns: 2fr 1fr;
      gap: $column-gap;
    }
  }

  &--2 {
    grid-template-columns: $three-columns;
    gap: 8px;

    @include onTablet {
      grid-template-columns: $two-columns;
      gap: $column-gap;
    }

    @include onDesktop {
      grid-template-columns: $three-columns;
      gap: $column-gap;
    }
  }

  &--3 {
    grid-template-columns: $two-columns;
    gap: 20px;

    @include onTablet {
      grid-template-columns: 1fr 2fr;
      gap: $column-gap;
    }
  }
}

.hidden {
  @include onTablet {
    display: none;
  }
  @include onDesktop {
    display: grid;
  }
}

.on-view__button {
  margin: auto;
  max-width: 390px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 56px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: $main-red;

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background-color: #eb343d;
  }
}
