.on-view {
  &__content--2 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @include notMobile {
      @include grid-container;
    }
  }

  &__content--3 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;

    @include notMobile {
      @include grid-container;
    }
  }

  &__title {
    width: 280px;
    margin: 0 auto 48px;

    text-align: center;

    @include onDesktop {
      width: 325px;
    }

    @include onTablet {
      width: 390px;
    }
  }

  &__caption {
    margin-bottom: 8px;

    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
  }

  &__description {
    width: fit-content;
    margin-top: 24px;

    font-size: 16px;
    line-height: 27px;
    color: $main-color;
  }

  &__dates {
    width: 100%;
    margin-bottom: 48px;

    font-size: 16px;
    line-height: 27px;
  }

  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__wrap--1 {
    @include picture-wrapper;

    grid-column: 1/2;
    @include columns (1, 4, 1, 8);

    @include notMobile {
      padding-bottom: 0;
    }
  }

  &__wrap--2 {
    @include picture-wrapper;

    grid-column: 2/3;
    @include columns (5, 6, 9, 12);
  }

  &__wrap--3 {
    @include picture-wrapper;

    grid-column: 1/2;
    @include columns (1, 3, 1, 4);
  }

  &__wrap--4 {
    @include picture-wrapper;

    grid-column: 2/3;
    @include columns (4, 6, 5, 8);
  }

  &__wrap--5 {
    @include picture-wrapper;
    grid-column: 3/4;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      grid-column: 9 / 13;
    }
  }

  &__wrap--6 {
    @include picture-wrapper;

    grid-column: 1/2;
    @include columns (1, 2, 1, 4);
  }

  &__wrap--7 {
    @include picture-wrapper;

    grid-column: 2/3;
    @include columns (3, 6, 5, 12);

    @include notMobile {
      padding-bottom: 0;
    }
  }
}
