.online-galleries {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.online-gallery {
  transition: 0.5s;

  &:hover {
    transform: scale(1.07);
  }

  &__photo-container {
    display: flex;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }
  }

  &__photo {
    width: 100%;
    grid-column: 2 / 4;
  }

  &__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: $color-pink;
  }

  &__about {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $color-black;
  }
}

.link {
  text-decoration: none;
}
