.online-explore {
  display: flex;

  &__tours {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 32px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
