@use '../utils/mixins' as *;

.online {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  gap: 24px;
  padding-top: 140px;

  &__container {
    display: contents;
  }

  @include for-tablet {
    grid-template-columns: repeat(6, 80px);
  }

  @include for-mobile {
    grid-template-columns: repeat(2, 124px);
    padding-top: 100px;
  }

  &__title {
    padding-bottom: 48px;
    grid-column: 4 / 11;

    @include for-tablet {
      padding-bottom: 24px;
      grid-column: 2 / 6;
    }

    @include for-mobile {
      grid-column: span 2;
      padding-bottom: 40px;
    }
  }
}
