.online {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  gap: 24px;

  &__container {
    display: contents;
  }

  @media (max-width: 744px) {
    grid-template-columns: repeat(6, 80px);
  }

  @media (max-width: 320px) {
    grid-template-columns: repeat(2, 124px);
  }

  &__title {
    padding-top: 140px;
    padding-bottom: 48px;
    @media (max-width: 744px) {
      grid-column: span 7;
    }
  }
}
