@use '../utils/mixins' as *;

.online {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  gap: 24px;

  &__container {
    display: contents;
  }

  @include for-tablet {
    grid-template-columns: repeat(6, 80px);
  }

  @include for-mobile {
    grid-template-columns: repeat(2, 124px);
  }

  &__title {
    padding-top: 140px;
    padding-bottom: 48px;

    @include for-tablet {
      grid-column: span 7;
    }

    @include for-mobile {
      grid-column: span 2;
    }
  }
}
