.online-exhibition {
  &__photo {
    display: block;
    width: 100%;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }

    @include onDesktop {
      margin-bottom: 32px;
    }
  }

  &__name {
    margin: 0 0 4px;

    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: $mainAccent;
  }

  &__description {
    margin-bottom: 48px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $mainDark;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }

    &--last {
      margin-bottom: 0;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }
}
