.onview {
  &__photos {
    margin-bottom: 24px;
  }

  &__link {
    @include pageLink;
    color: $colorRed;
  }

  &__photo {
    @include photo;

    &--right {
      object-position: right;
    }
  }

  &__photo-container {
    @include photoContainer;

    @include onTablet {
      height: 270px;
      padding-bottom: 0;
    }

    &--sqv-photo {
      @include onTablet {
        padding-bottom: 100%;
      }
    }
  }

  &__paragraph {
    margin: 0 0 48px;

    &:last-child {
      margin: 0;
    }
  }
}
