.opening-hours {
  display: inline-block;
  font-weight: bold;
  font-size: calc(1.5 * #{$middleFontSize});
  line-height: 30px;

  &__hours {
    @include mainContent;
    margin-right: 25px;

    :last-child {
      margin-bottom: 16px;
    }
  }
  &__days {
    @include sideContent;
  }
}
