@import "../utils/vars";

.opening-date {
  color: $font-color-main;
  font-family: $font-family-cinzel;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;

  &__time {
    font-weight: 700;
  }
}
