.opening-hours {

  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: row;
    gap: 24px;

    &__heading {
      width: 50%;
    }

    &__content {
      width: 50%;
    }
  }

  &__heading {
    margin-bottom: 32px;
  }

  &__article {
    margin-bottom: 24px;

    &__schedule {
      display: grid;
      column-gap: 24px;
      row-gap: 8px;
      margin-bottom: 16px;

      &--longrow-1 {
        grid-template-columns: 121px 77px;
      }

      &--longrow-2 {
        grid-template-columns: 96px 155px;
      }
    }
  }
}
