.opening-hours {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  // &__main {

  // }

  &--hours {
    @include mainContent;
    margin-right: 25px;

    :last-child {
      margin-bottom: 16px;
    }
  }
  &--days {
    @include sideContent;
  }

  &--closed-on {
    @include mainContent;
  }
}
