.option {
  &__photo {
    margin-bottom: 24px;
    width: 100%;

    @include onDesktop {
      margin-bottom: 32px;
    }
  }

  &__name {
    margin: 0 0 4px;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
  }

  &__about {
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  &__link {
    color: $colorRed;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $colorRedHover;
    }
  }
}
