.order {
  &__title {
    text-align: left;
    margin-bottom: 32px;
  }

  &__reasons {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $menuTextColor;
    margin-bottom: 16px;
  }
  
  &__info {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $menuTextColor;
  }
}
