.container {
  padding: 0 20px;

  @include onTablet {
    padding: 0 60px;
  }

  @include onDesktop {
    padding: 0 120px;
  }
}

.page__section {
  padding-top: 100px;
}

.section__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;

  margin: 0;

  @include onTablet {
    font-size: 48px;
  }
}
