.page-home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #fff;

  &__content {
    padding: 0 120px;
  }
}
