.page {
  font-family: Poppins, serif, sans-serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(100%);

    &:target {
      background-color: #e5e5e5;
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 90px;
    color: #fff;
  }
}
