* {
  box-sizing: border-box;
}

.page {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  background-color: #000;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
