.page-navigation {
  grid-column: span 2;

  &__link {
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;

    color: #292929;
  }

  &__phone  {
    height: 67px;
    margin-top: 40px;
    margin-bottom: 119px;
    grid-column: span 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--number {
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #292929;

    }

    &--call {
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      text-decoration: none;
      color: #292929;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 119;
        background-color: #292929;
        margin-top: 8px;
      }
    }
  }

  &>ul>li{
    margin-top: 32px;
  }

  @media (min-width: 744px) {
    grid-column: 1 / 4;

    &__phone {
      grid-column: 1 / 4;
    }
  }
}
