.page-navigation {

  &__item {
    margin-top: 32px;
  }

  &__link {
    text-decoration: none;
    color: #1d1d1d;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #1d1d1d;
    }
  }

}
