.page-title {
  font-family: Cinzel, serif;
  font-size: clamp(40px, calc(4.2vw + 26.4px), 80px);
  font-weight: 700;
  line-height: clamp(40px, calc(4.2vw + 26.4px), 80px);
  letter-spacing: -1.5px;
  text-align: center;
  color: white;
}
