.page {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;

  &__body {
    background: $dark-color;
    margin: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;

    transition: all 0.3s;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

.page__body--with-menu {
  overflow: hidden;
}
