.page-content {
  &__container {
    max-width: 1020px;
    margin: 0 auto;

    @media (max-width: 1199px) {
      max-width: 100%;
      padding: 0 100px;
    }

    @media (max-width: 991px) {
      padding: 0 60px;
    }

    @media (max-width: 767px) {
      padding: 0 40px;
    }

    @media (max-width: 480px) {
      padding: 0 20px;
    }
  }
}
