.page-part-container {
  width: 100%;

  &:nth-of-type(1) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% bottom;
    background-image: url("../../src/images/photos/header-background.jpg");

    @include for-tablet {
      background-position: center;
    }

    @include for-desktop {
      background-position: top left;
    }
  }

  @include for-desktop {
    display: flex;
    justify-content: center;
  }

  &__content {
    @include for-desktop {
      box-sizing: border-box;
      width: 1260px;
    }
  }
}
