.page-navigation {
  grid-column: span 2;

  &__link {
    padding-top: 32px;

    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;

    color: #292929;
  }
}
