.page {
  &__main {
    background-color: $c-black;
    color: #fff;
    padding: 60px 20px 120px;

    @include onTablet {
      padding: 120px 72px;
    }

    @include onDesktop {
      padding: 120px 120px 180px;
    }
  }

  &__section {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 160px;
    }

    &--last {
      margin-bottom: 0;
    }
  }

  &__section-title {
    margin-bottom: 48px;

    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }

  &__section-subtitle {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 140%;
  }
}
