.paragraph {
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #000;

  &--bold {
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #000;
  }

  &--center {
    text-align: center;
  }
}
