.paragraph {
  color: #1b2129;
  font-family: Manrope, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;

  &--bold {
    font-weight: 700;
    margin-top: 12px;
  }
}
