.part {
  box-sizing: border-box;

  &__item {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 140%;
    max-width: 380px;

    &--call-price {
      font-weight: 700;
    }
    &--group {
      font-weight: 400;
    }

    &--image {
      display: block;
      margin: 0 auto;
      height: 277px;
      @include screenUp744 {
        height: 387px;
      }
      @include screenUp1260 {
        height: 320px;
      }
    }
  }

  &__catalog {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 40px;
    @include screenUp744 {
      font-size: 24px;
      margin-bottom: 64px;
    }
  }

  &__why {
    text-align: start;

    &--benefits {
      min-width: 130px;
      font-weight: 700;
      font-size: 16px;

      margin-bottom: 40px;
    }

    &--adv {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__form {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    @include screenUp744() {
      width: 96%;
    }
    padding: 14px 0 14px 16px;
    background: #f8f8fa;
    border-radius: 40px;
    border-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    border: 1px solid transparent;
    &::placeholder {
      color: #7e7e83;
    }
    &:hover {
      border-color: #d5d7de;
      color: $main-font-color;
      &::placeholder {
        color: $main-font-color;
      }
    }
    &:focus {
      border-color: $main-font-color;
    }

    &--message {
      width: 100%;
      @include screenUp744() {
        width: 96%;
      }
      height: 148px;
      padding: 14px 0 14px 16px;
      font-weight: 400;
      font-size: 14px;
      background: #f8f8fa;
      border: 1px solid transparent;
      border-radius: 16px;
      margin-bottom: 32px;
      &::placeholder {
        color: #7e7e83;
      }
      &:hover {
        border-color: #d5d7de;
        color: $main-font-color;
        &::placeholder {
          color: $main-font-color;
        }
      }
    }
  }

  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #9fadc2;
    margin-bottom: 8px;
  }

  &__info-data {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #3e3e3e;
    margin-bottom: 24px;
  }

  &__im-prod {
    margin-bottom: 16px;
    @include screenDown743() {
      min-width: 130px;
      height: 130px;
      margin: 0 auto;
    }

    @include screenUp744 {
      height: 187px;

    }
    @include screenUp1260 {
      height: 321px;

    }

    @each $number,$image in $category {
      &--img--#{$number} {
        background-image: #{$image};
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    &--img--1 {
      @include screenUp744 {
        background-image: url(../images/photos/prod1.png);
      }
    }
  }
}
