.part {
  &__image {
    display: block;
    margin: 0 auto 24px;
    transition: transform $duration;

    &:hover {
      transform: scale(104%);
    }
  }

  &__title {
    margin-bottom: 2px;
  }
}
