.people-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__photo {
    width: 150px;
    height: 150px;
    margin-bottom: 32px;
  }

  &__profession {
    font-size: 14px;
    color: $c-light-grey;
  }
}
