.people {

  &__photos {
    margin-bottom: 16px;
  }

  &__photo-container {
    width: 100%;
    height: 130px;

    @include middleScreen {
      width: 100%;
      height: 187px;
    }

    @include bigScreen {
      height: 320px;
    }
  }

  &__photo {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__description {
    margin-bottom: 64px;
    text-align: start;
  }
}
