.people {

  &__size {
    height: 100px;
  }

  &__photo {
    height: 100px;
    width: 100px;

    @include middleScreen {
      height: 187px;
    }

    @include bigScreen {
      height: 320px;
    }
  }

  &__discripshin {
    margin-top: 16px;
    text-align: start;
  }
}
