.person {
  text-align: center;

  &__photo {
    width: $photo-size;
    height: $photo-size;
  }

  &__name {
    margin-top: 12px;
    font-weight: 700;
  }

  &__position {
    margin: 6px 0 0 ;
    font-style: italic;
    color: #696973;
    
    
  }

  &__text {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: calc(100% - 12px);
      bottom: calc(100%);
      display: block;
      width: 40px;
      height: 33px;
      background: url(../images/quotes.svg) center / contain no-repeat;
    }
  }
}
