.person {
  @include flex-column;
  align-items: center;
  text-align: center;
  width: 240px;

  @media (max-width: $breackpoint-big) {
    & {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__photo {
    width: 153px;
    height: 153px;
    margin-bottom: 28px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    @include heading-third;
    color: $color-light-blue;
  }

  &__position {
    @include text-subtitle;
    margin: 4px 0;
    color: $color-grey;
  }

  &__text {
    @include text-medium;
    margin: 0;
  }
}
