.person-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  max-width: 324px;

  &__image {
    height: 150px;
    width: 150px;
    margin-bottom: 32px;
  }

  &__name {
    margin-bottom: 4px;

    line-height: 30px;
    color: $c-blue;
  }

  &__position {
    margin-bottom: 4px;

    line-height: 27px;
  }

  &__info {
    line-height: 27px;
    text-align: center;
  }


}
