.phone {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  margin: 0 124px;
  transform: translateY(-50%);
  padding: 8px;

  &__number {
    font-size: $numberSize;
    line-height: $numberLineHeight;
    letter-spacing: 2px;
    color: $mainColor;
    text-decoration: none;
    margin-right: 20px;
    opacity: 0;
    transition: 500ms;
  }

  &:hover .phone__number {
    opacity: 1;
    transition: 500ms;
    transform: rotate(360deg);
  }

  &__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
