.phones {

  &__number {
    margin-bottom: 8px;
    display: block;
    width: max-content;

    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    &:last-child {
      margin-bottom: 0;
    }

    &--header {
      text-align: right;
    }
  }
}
