
.phone--icon {
  position: relative;
  padding-right: 30px;
  &-list {
    padding-right: 30px;
    position: absolute;
    top: -120px;
    right: 30px;
    opacity: 0;
    pointer-events: none; /*----*/
    transition-duration: 300ms;
    transition-delay: 0.2s;
  }

  &-item {
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: right;
    width: max-content;
    color: white;
    list-style: none;
    &:last-child {
      padding-left: 25px;
      margin-top: 8px;
    }
  }
  &-phone {
    text-decoration: none;
    color: white;
    &:hover {
      pointer-events: all;
      color: #ae1c23;
    }
  }
  &:hover .phone--icon-list {
    opacity: 1;
    transform: translateY(50%);
    pointer-events: all;
  }
}
