@use '../utils/mixins' as *;

.phone {
  opacity: 0;

  @include for-desktop {
    opacity: 1;
  }

  &__labels {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $menu-white;
    text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0;

    position: absolute;
    transform: translate(calc(-100% - 20px), -45%);

    &--margin {
      margin-bottom: 8px;
    }
  }

  &__label {
    text-align: right;

  }

  &:not(:hover) .phone__label {
    @include visually-hidden;
  }
}



