.phone-icon {
  position: relative;
  width: 24px;
  height: 24px;
  animation: rotate 1s linear infinite alternate backwards;

  @include onMobile {
    width: 18px;
    height: 18px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(20deg);
  }
}
