@import "./../utils/mixins";
@import "./../utils/variables";

.phone {
  &__label {
    color: $colorLight-black;
    text-align: right;
    font-family: $mainFont;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 5px;
    transform: translateX(calc(-100% - 20px));
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include for-tablet() {
      width: 32px;
      height: 32px;
    }
  }

  &:not(:hover) .phone__label {
    @include visually-hiddden();
  }

}
