.phones {
  position: absolute;
  width: max-content;
  top: -250%;
  right: 100%;
  padding-right: 20px;

  opacity: 0;
  pointer-events: none;
  transform: translateX(20%);
  transition: opacity 0.3s, transform 0.3s;

  @include onDesktop {
    &:hover {
      opacity: 1;
      transform: translateX(0%);
      pointer-events: all;
    }
  }

  &__list {
    list-style-type: none;
  }

  &__property {
    display: flex;
    @include list;
    justify-content: right;
  }

  &__link {
    display: flex;
    &--wide {
      padding-bottom: 8px;
    }
    @include list;
    justify-content: right;
    transition: color 0.3s;

    &:hover {
      color: #ae1c23;
    }
  }
}
