@use '../mixins/mixins' as *;

.phone{
  &__label{
    opacity: 0%;
    @include desktop{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    opacity: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    position: absolute;
    top: 60px;
    right: 250px;
    }

    @include big-desktop{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    opacity: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    position: absolute;
    top: 120px;
    right: 400px;
    }
  }

  &:not(:hover) .phone__label{

    @include visualy-hidden;
  }
}
