.phone-numbers {
   &__first-number {
    margin-bottom: 8px;
    display: block;
    width: max-content;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    &::after {
      content: "+1 212-535-7710";
      display: block;

      text-align: right;
    }
   }

   &__second-number {
    display: block;
    width: max-content;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    &::after {
      content: "+1 212-923-3700";
      display: block;

      text-align: right;
    }
   }
    // &::before {
    //   position: relative;
    //   top: 50%;
    //   transform: translate(-100%, -100%);
    //   display: block;
    //   width: 201px;
    //   content: "+1 212-535-7710";
    // }

    // &::after {
    //   position: relative;
    //   top: 50%;
    //   transform: translate(-100%, -100%);
    //   display: block;
    //   content: "+1 212-923-3700";
    // }
  }

