.phone-icon {
  &__label {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff;

    position: absolute;
    transform: translateX(calc(-100% - 12px)) translateY(50%);
  }

  &__icon {
    width: 18px;
    height: 18px;

    @include for-tablet() {
      width: 24px;
      height: 24px;
    }

    @include for-desktop() {
      width: 24px;
      height: 24px;
    }
  }

  &:not(:hover) &__label {
    @include visually-hidden();
  }
}
