.phone-block {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: #fff;

  &__item {
    width: min-content;

    &:first-child {
      padding-bottom: 16px;
      white-space: pre;
    }
    &:last-child {
      border-bottom: 1px solid #fff;
      color: #f2f2f2;
      padding-bottom: 8px;
    }
  }
}
