@import "../utils/mixins";

.photo {
  grid-column: span 1;

  @include for-tablet() {
    height: 184px;
  }

  @include for-desktop() {
    height: 324px;
  }

  &--big {

    @include for-tablet() {
      grid-column: span 4;
    }

    @include for-desktop() {
      grid-column: span 8;
    }
  }

  &--small {

    @include for-tablet() {
      grid-column: span 2;
    }

    @include for-desktop() {
      grid-column: span 4;
    }
  }

  &__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
