.photos {
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - #{$gap / 2});
    height: 256px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    transition: 1s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 7px 10px rgba(0,0,0,0.6);
    }
  }

  &--left {
    .photos__img {
      &:first-child {
        width: calc(33% - #{$gap / 2});
      }

      &:last-child {
        width: calc(67% - #{$gap / 2});
      }
    }
  }

  &--right {
    .photos__img {
      &:first-child {
        width: calc(67% - #{$gap / 2});
      }

      &:last-child {
        width: calc(33% - #{$gap / 2});
      }
    }
  }

  @media (max-width: $small-screen) {
    &__img {
      max-width: calc(50% - #{$gap / 2});
      min-width: calc(50% - #{$gap / 2});
      height: 200px;
    }
  }
  
  @media (max-width: 480px) {
    &__img {
      height: 130px;
    }
  }
}
