.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__container {
    margin-bottom: 16px;
  }

  &__item {
    margin-bottom: 16px;
    min-width: 130px;
    min-height: 130px;
    object-fit: cover;
    object-position: top;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &--one {
    @include onTablet {
      flex-grow: 1;
    }

    @include onDesktop {
      flex-grow: 1;
    }
  }
}
