.photos {
  @include flex-between;

  &__img {
    width: calc(50% - 20px);
    height: 256px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s, border-radius 0.3s;
    border-radius: 10px;

    @media screen and (max-width: $breackpoint-big) {
      height: 131px;
    }

    &:hover {
      transform: scale(1.05);
      border-radius: 10px;
    }
  }

  &__wide--left &__img:first-child {
    width: calc(67% - 20px);

    @media screen and (max-width: $breackpoint-small) {
      width: calc(50% - 20px);
    }
  }

  &__wide--left &__img:last-child {
    width: calc(33% - 20px);

    @media screen and (max-width: $breackpoint-small) {
      width: calc(50% - 20px);
    }
  }

  &__wide--right &__img:first-child {
    width: calc(33% - 20px);

    @media screen and (max-width: $breackpoint-small) {
      width: calc(50% - 20px);
    }
  }

  &__wide--right &__img:last-child {
    width: calc(67% - 20px);

    @media screen and (max-width: $breackpoint-small) {
      width: calc(50% - 20px);
    }
  }
}
