@use '../utils/vars' as *;

.photo-gallery {
  background-color: #585858c0;
  backdrop-filter: blur(0.25rem);
  height: 100dvh;
  position: fixed;
  display: none;
  inset: 0 auto auto 0;
  width: 100dvw;
  z-index: 10;

  &--active {
    display: inherit;
  }

  &--close {
    cursor: pointer;
    position: absolute;
    aspect-ratio: 1;
    width: 2rem;
    inset: 2dvw 2dvw auto auto;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &--part {
      position: absolute;
      background-color: $natual-black;
      width: 1.75rem;
      height: 0.25rem;
      border-radius: 100dvw;
      rotate: -45deg;

      &:last-child {
        rotate: 45deg;
      }
    }
  }

  &__container {
    display: grid;
    place-items: center;
    height: 100%;
  }

  &__img {
    height: 80%;
  }
}
