.picture {
  &__photo-container {
    @include photoContainer;

    transition: all 0.3s;

    @include onTablet {
      height: 284px;
      padding-bottom: 0;
    }

    &:hover {
      scale: (1.05);
      box-shadow: 5px 0 20px black;
    }
  }

  &__photo-container--delete {
    @media (min-width: 744px) and (max-width: 1023px) {
      display: none;
    }
  }

  &__photo {
    @include photoPosition;
    object-position: 10%;
  }

  &__photos {
    margin-bottom: 24px;
  }
}
