.pictures {
  &__photo-container {
    position: relative;

    width: 100%;
    max-height: 320px;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      height: 186px;
      padding-bottom: 0;
    }

    @include onDesktop {
      height: 320px;
      padding-bottom: 0;
    }
  }

  &__photos {
    margin-bottom: $margin-bottom-inside-blocks;
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;

    &--position-left {
      object-position: left;
    }

    &--position-right {
      object-position: right;
    }
  }

  &__description {
    @extend %font-description;

    &--title {
      font-weight: 700;
      color: $accent-color;
    }
  }
}
