.picture {
  margin-bottom: 16px;

  &--grid {
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: center center;
  }

  &__article {

    &--grid {
      display: grid;
      grid-template-columns: 130px 130px;
      column-gap: 14px;
      justify-content: center;
    }
  }

  &--center {
    min-width: 280px;
    height: 228px;
    @include picture-position;
  }

  &--transform {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(105%);
    }
  }
}

@media (min-width: 744px) {
  .picture {

    &--center {
      width: 392px;
      height: 319px;
    }

    &--grid {
      width: 392px;
      height: 187px;
      object-fit: fill;
    }

    &__article {

      &--grid {
        display: grid;
        grid-template-columns: 392px 184px;
        column-gap: 24px;
        justify-items: center;
      }

      &--start {
        display: grid;
        grid-template-columns: 184px 392px;
        column-gap: 24px;
      }
    }
  }
}

@media (min-width: 1260px) {
  .picture {

    &--center {
      width: 324px;
      height: 256px;
    }

    &--grid {
      width: 672px;
      height: 320px;
      object-fit: fill;
    }

    &__article {

      &--grid {
        display: grid;
        grid-template-columns: 672px 324px;
        column-gap: 24px;
        justify-items: center;
      }

      &--start {
        display: grid;
        grid-template-columns: 324px 672px;
        column-gap: 24px;
      }
    }
  }
}
