.picture {
  display: flex;
  gap: 20px;
  width: 280px;
  height: 130px;

  &__item {
    width: auto;
    height: auto;
    object-fit: cover;

    &--long {
      width: auto;
      height: auto;

      &-left {
        width: 130px;
        height: 130px;
        object-fit: cover;
        object-position: -45px;
      }

      &-right {
        width: 130px;
        height: 130px;
        object-fit: cover;
        object-position: right;
      }
    }
  }

  &__small {
    width: 280px;
    height: 88px;
    display: flex;
    gap: 8px;
  }
 }
