.place {

  &__photo-container {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    min-height: 256px;
    overflow: hidden;
    z-index: 1;
    transition: transform 300ms;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px;
      border-radius: 8px;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onDesctop {
      height: 256px;
      padding-bottom: 0;
    }
  }
  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    object-fit: cover;
    object-position: center;
  }

  &__photos {
    margin-bottom: 16px;

    @include onDesctop {
      margin-bottom: 24px;
    }
  }

  &__link {
    font-weight: 700;
    color: $colorBlue;
    text-decoration: none;
  }
}
