.place {
  &__title {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    color: #fff;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #fff;
  }

  &__photo {
    width: 100%;
    height: 130px;

    background-size: cover;
    background-position: center;

    margin-bottom: 16px;

    @include onTablet {
      height: 187px;
    }

    @include onDeskTop {
      height: 371px;
    }

    &--pic {
      &-1 {
        background-image: url(../images/auto_unlock_1.svg);
      }
      &-2 {
        background-image: url(../images/auto_unlock_2.svg);
      }
      &-3 {
        background-image: url(../images/range_1.svg);
      }
      &-4 {
        background-image: url(../images/range_2.svg);
      }
      &-5 {
        background-image: url(../images/hydraulic_1.svg);
      }
      &-6 {
        background-image: url(../images/hydraulic_2.svg);
      }
    }
  }
}
