.place {
  &__name {
    display: block;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $mainColor;
  }

  &__title {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: $mainColor;
    margin-bottom: 4px;
  }

  &__info {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $accentMainColor;
    }
  }
}
