.section {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;

  &__museums-info {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__plan-your-visit {
    font-size: 12px;
    line-height: 140%;
    color: $color-red;
    margin-bottom: 2px;
  }

  &__museum-hours-title {
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
  }

  &__met-name {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
  }

  &__working-hours {
    font-size: 16px;
    line-height: 27px;
  }

  &__working-days {
    font-weight: 400;
  }

  &__holidays {
    max-width: 280px;
    margin-bottom: 24;
  }
}
