.poster {
  &__title {
    margin-bottom: 8px;

    text-align: center;
  }

  &__about {
    margin-bottom: 48px;

    text-align: center;
  }

  &__exhibition {
    margin-bottom: 48px;

    &--last {
      margin-bottom: 40px;
    }
  }
}
