.product {
  &__photo {
    height: 130px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 16px;

    @include onPlanshet {
      height: 187px;
    }

    @include onDesktop {
      height: 321px;
    }

    @for $i from 1 through 6 {
      &--#{$i} {
        background-image: url(/images/photos/photo#{$i}.png);
      }
    }

    &--blondy {
      background-position: right;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 140%;
  }
}
