.product-place {

  &__pictures {
    margin-bottom: 40px;

    &:not(:last-child) {
      @include onTablet {
        margin-bottom: 64px;
      }
    }
  }

  &__picture {
    height: 130px;
    width: 100%;
    margin-bottom: 16px;

    transition: transform 0.3s;

    @include onTablet {
      height: 187px;
    }

    @include onDesctop {
      height: 320px;
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--earbuds {
      background-image: url(../images/gallery-first.jpg);
    }

    &--headphones {
      background-image: url(../images/gallery-sec.jpg);
    }

    &--big-speacer {
      background-image: url(../images/gallery-third.jpg);
    }

    &--small-speacer {
      background-image: url(../images/gallery-fourth.jpg);
    }

    &--man-sunglasses {
      background-image: url(../images/gallery-fivth.jpg);
    }

    &--wooman-sunglasses {
      background-image: url(../images/gallery-sixth.jpg);
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    display: block;

    color: $c-darkGray;
    line-height: 24px;

    font-weight: bold;

    @include onTablet {
      font-size: 1.5rem;
      line-height: 34px;
    }
  }
}
