.products {
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1020px;

  @include forIpad {
    padding: 120px 120px 128px;
  }

  @include forMobile {
    padding: 120px $mobilePaddingX;
    max-width: 320px;
  }

  &__title {
    @include fontParams(48px, 48px, 700);
    padding-bottom: 64px;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: -1.5px;

    @include forIpad {
      @include fontParams(40px, 40px, 700);
    }

    @include forMobile {
      @include fontParams(40px, 40px, 700);
      min-width: 280px;
    }
  }

  &__product {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

    @include forIpad {
      flex-direction: column;
    }

    @include forMobile {
      flex-direction: column;
      min-width: 280px;
    }
  }

  &__disc {
    justify-content: flex-start;
  }

  &__disc-1 {
    @include fontParams(16px, 22px, 700);
  }

  &__disc-2 {
    @include fontParams(16px, 2px, 400);
  }

  // &__item {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;

  // }

  &__img {
    justify-content: center;
  }
}
