.products-categories {
  &__categories {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 64px;
    }

    &--last {
      margin-bottom: 40px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }
}
