.products-categories {
  &__categories {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__title {
    text-align: center;
    margin: -48px 0 48px;

    @include onTablet {
      margin: -40px 0 64px;
    }

    @include onDesktop {
      margin-top: 0;
    }
  }
}
