.product-card {
  margin-bottom: 48px;

  @include onTablet() {
    padding: 0 104px;
  }

  &__photo {
    max-width: 280px;
    margin: 0 auto;

    @include onTablet() {
      max-width: 392px;
    }

    @include onDesktop() {
      max-width: 324px;
    }
  }

  &__name,
  &__description,
  &__price {
    margin: 0 0 8px;
  }

  &__name {
    max-width: fit-content;
    margin-right: 5px;
    border-bottom: 1px solid transparent;

    transition: border-color 0.3s;
  }

  &__description {
    font-weight: 400;
  }

  &__price {
    white-space: nowrap;
  }

  &__link {
    display: block;
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: $color-text;
    text-decoration: none;

    cursor: url(../images/cursor.png), pointer;

    &:hover .product-card__name {
      border-color: $color-text;
    }
  }
}
