.product-category {

  &__wraper {
    margin-bottom: 40px;

    filter: grayscale(100%);
    border-bottom: 3px solid transparent;
    transition: filter 0.2s, box-shadow, 0.3s, border-bottom-color 0.3s;

    &:hover {
      filter: none;
      border-bottom-color: $c-font-main;
    }

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__photos {
    margin-bottom: 16px;
  }

  &__photo {
    width: 100%;
    height: 130px;
    object-position: center;
    object-fit: cover;

    @include onTablet {
      height: 187px;
    }

    @include onDesktop {
      height: 320px;
    }
  }

  &__description {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    @include onTablet {
      font-size: 24px;
    }

    @include onDesktop {
      font-size: 24px;
    }
  }
}
