.products-category {
  font-family: Manrope, Helvetica, sans-serif;

  &__images {
    display: flex;
    gap: 20px;

    & picture {
      @include hover(transform, scale(1.05));
    }
  }

  &__title {
    margin-top: 16px;

    color: #1b2129;
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 140%;
  }

  @media (min-width: 744px) {
    &__images {
      gap: 24px;
    }

    &__title {
      font-size: 1.5rem;
    }
  }
}
