.products-category {
  &__photo-container {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-height: 187px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      height: 187px;
      max-height: 320px;
      padding-bottom: 0;
    }

    @include onDesktop {
      height: 320px;
      padding-bottom: 0;
    }
  }

  &__photos {
    margin-bottom: 16px;
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;

    &--transform {
      transition: transform $transitionTimePhoto;

      &:hover {
      transform: translate3d(-20px, -20px, -50px);
      }
    }
  }

  &__description {
    font-weight: 700;

    @include onTablet {
      font-size: 24px;
      line-height: 34px;
    }
  }
}
