.product-card {
  &__image {
    display: block;
    margin: 0 auto 32px;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }

    @include for-tablet() {
      width: 392px;
      height: 316px;
    }

    @include for-desktop() {
      width: 324px;
      height: 256px;
    }
  }
  &__title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 8px;
  }
  &__paragraph {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 16px;
    @include for-tablet() {
      max-width: 392px;
    }
  }
  &__price {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
  }
}
