.product {
  transition: transform 0.3s;
  @include onMedium {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 20px;
  }

  @include onDesktop {
    display: block;
  }

  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 24px;

    @include onMedium {
      // display: block;
      // text-align: center;
      grid-column: 3 / 6;
    }
  }

  &__photo {
    width: 100%;
    max-width: 280px;
    grid-column: 1/5;
    margin-bottom: 32px;

    @include onDesktop {
      max-width: 324px;
      min-height: 320px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin: 0 0 8px;
    color: #292929;

    @include onMedium {
      // display: block;
      // text-align: center;
      grid-column: 3 / 6;
    }
  }

  &__role {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin: 0 0 12px;
    color: #292929;

    @include onMedium {
      // display: block;
      // text-align: center;
      grid-column: 3 / 5;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    color: #292929;

    @include onMedium {
      // display: block;
      // text-align: center;
      grid-column: 3 / 5;
    }
  }

  &:hover {
    transform: scale(1.2);
  }

  &__link {
    text-decoration: none;
  }
}
