.products {
  display: flex;

  &__image {
    display: flex;
    justify-content: center;
    width: 280px;
    height: 277px;
    margin: 0 0 32px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      width: 392px;
      height: 387px;
    }

    @include onDesktop {
      width: 324px;
      height: 320px;
    }
  }

  &__kind {
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 8px;
  }

  &__group {
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 12px;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
  }
}
