.product {
  &__info {
    width: 392px;
    margin: 0 auto;
  }

  &__photo {
    margin: 0 auto 32px;
  }

  &__name {
    color: #292929;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }

  &__kind {
    color: #292929;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  &__price {
    color: #292929;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
}
