.product-article {
  &__name-title,
  &__price {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    color: #fff;
  }

  & img {
    width: 100%;
  }
}
