.product-card {
  margin-bottom: 48px;
  text-align: center;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &__name,
  &__description,
  &__price {
    margin: 0 0 8px;
  }

  &__name {
    max-width: max-content;
    margin-right: 5px;
    border-bottom: 1px solid transparent;

    transition: border-color 0.3s;
  }

  &__description {
    font-weight: 400;
  }

  &__price {
    white-space: nowrap;
  }

  &__link {
    display: block;
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: $color-text;
    text-decoration: none;
    text-align: left;

    cursor: url(../images/cursor.png), pointer;

    &:hover .product-card__name {
      border-color: $color-text;
    }
  }

  &__photo,
  &__link {
    max-width: 280px;
    margin: 0 auto;

    @include onTablet() {
      max-width: 392px;
    }

    @include onDesktop() {
      max-width: 324px;
    }

  }

}
