@import "../utils/mixins";

.products-page {
  @include grid;

  margin: 0 20px;

  grid-template-rows: auto;

  @include for-tablet() {
    @include grid-tablet;
    margin: 0 72px;
  }

  @include for-desktop() {
    @include grid-desktop;
    margin: 0 120px;
  }

  &__title-h2 {
    grid-column: 1 / -1;
    margin: 64px 0 47px;
  }

  &__products-container {
    grid-column: 1 / -1;
  }

  &__button {
    grid-column: 1 / -1;
    margin-bottom: 96px;

    @include for-tablet() {
      margin-bottom: 120px;
    }

    @include for-desktop() {
      grid-column: 1 / 5;
    }
  }
}
