.promo {
  padding: 60px 20px 0;

  &__content-wrapper {
    @include limitContentWidth;

    @include forTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }
  }

  &__heading {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1.5px;

    @include forTablet {
      font-size: 48px;
    }

    @include forDesktop {
      font-size: 64px;
    }
  }

  &__text {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;

    @include forTablet {
      margin-top: 0;
    }
  }
}
