.promo {
  display: flex;
  justify-content: space-between;

  padding: 120px 207px 160px 120px;
  gap: 24px;
  background-color: #1d1d1d;

  @include forTablet {
    padding: 76px 207px 120px 76px;

    @include forPhone {
      padding: 60px 20px 80px;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__title {
    @include fontParams(64px, 100% 500);
    margin: 0 auto;
    width: 411px;
    line-height: 64px;
    text-align: left;

    @include forTablet {
      font-size: 48px;
      min-width: 288px;

      @include forPhone {
        font-size: 32px;
        text-align: left;
        width: 100%;
      }
    }
  }

  &__text {
    @include fontParams(24px, 140%, 500);
    font-family: "Inter", sans-serif;

    @include forTablet {
      min-width: 288px;
    }
  }
}
