.reasons {
  @include forTablet {
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__text {
    line-height: 27px;
  }

  &__tittle {
    text-align: left;
    margin-bottom: 32px;
  }

  &__item {
    font-size: $fontSize-basic;
    font-weight: $font-weight-bold;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }
}
