.reasons {
  &__title {
    @include title;
    margin-bottom: 32px;
  }

  &__paragraph {
    margin-bottom: 16px;
    font-weight: 700;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &__text {
    line-height: 27px;
  }
}
