@import "../utils/mixins";

.recd-container {
  //   @include grid;

  display: flex;

  &__img {
    width: 280px;
    margin-bottom: 24px;

    @include for-tablet() {
      width: 600px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    color: #1b2129;
    font-size: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

    margin-bottom: 12px;

    @include for-tablet() {
      margin-bottom: 34px;
    }
  }

  &__price {
    color: #1b2129;
    font-size: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    margin-bottom: 40px;

    @include for-tablet() {
      margin-bottom: 56px;
    }

  }
}
