@import "../utils/mixins";
@import "../utils/variables";

.recd-container {
  display: flex;

  &__img {
    width: 280px;
    margin-bottom: 24px;
    transform: scale(1);
    transition: transform 0.3s;
    
    &:hover {
      transform: scale(1.2);
    }
    @include for-tablet() {
      width: 600px;
    }

    @include for-desktop() {
      width: auto;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    color: $hover-color;
    font-size: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

    margin-bottom: 12px;

    @include for-tablet() {
      margin-bottom: 34px;
    }

    @include for-desktop() {
      margin-bottom: 12px;
    }
  }

  &__price {
    color: $hover-color;
    font-size: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    margin-bottom: 40px;

    @include for-tablet() {
      margin-bottom: 56px;
    }

  }
}
