.recommended-card {
  &__photo-container {
    margin-bottom: 32px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    height: 277px;
    justify-items: center;

    @include onPlanshet {
      height: 387px;
      padding-bottom: 0;
    }

    @include onDekstop {
      height: 320px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__description {
    width: fit-content;
    margin-inline: auto;
  }

  &__name {
    margin-bottom: 8px;
  }

  &__section {
    font-weight: 400;
    margin-bottom: 12px;
  }
}
