.recommended-section {
  padding-top: 120px;

  &__title {
    margin: 0 0 48px;
    grid-column: span 12;
    text-align: center;
    @extend %title-mobile;

    @media (min-width: $tablet-breakpoint) {
      margin-bottom: 64px;
      font-size: 40px;
      line-height: 100%;
    }

    @media (min-width: $desktop-breakpoint) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__item {
    grid-column: span 12;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: $tablet-breakpoint) {
      grid-column: 3/span 8;
    }

    @media (min-width: $desktop-breakpoint) {
      grid-column: span 4;
    }
  }

  &__img {
    margin-bottom: 32px;
    width: 100%;
  }

  &__details-title {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }

  &__details-description {
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 140%;
  }

  &__details-price {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
}
