.recommended {
  width: 85%;
  margin: 0 auto $blocks-margin-bottom;

  &__container {
    @include flex-setter;
    flex-direction: column;
    align-items: center;
  }

  &__division {
    @include onTablet {
      flex-direction: column;
    }

    margin-top: $gap-lg;
    @include flex-setter;
    align-items: center;
    gap: 24px;
  }

  &__item {
    text-decoration: none;
  }

  &__bold {
    font-weight: $weight-bold;
    font-size: $f-size-sm;
    color: #292929;
  }

  &__thin {
    font-size: $f-size-sm;
    color: #292929;
  }
}
