.recommendations {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      display: flex;
      justify-content: center;
    }

    @include onDesktop {
      display: block;
      margin-bottom: 0;
    }

  }
}

.recommendation {

  @include onTablet {
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  &__photo-container {

    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    height: 320px;

  }

  &__photo {
    height: max-content;
  }

  &__name {
    margin: 0 0 8px;

    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
  }

  &__type {
    margin-bottom: 12px;
    line-height: 140%;
  }

  &__price {
    margin: 0;
    font-weight: 700;
    line-height: 140%;
  }
}
