.recommend {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  @include onTablet {
    margin-bottom: 40px;
  }

  @include onDesktop {
    margin-bottom: 0;
  }

  &__last {
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: 128px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__img {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
  }

  &__picture {
    width: 280px;
    height: 277px;
    transition: 0.3s;

    @include onTablet {
      width: 392px;
      height: 387px;
    }

    @include onDesktop {
      width: 100%;
      height: 320px;
    }

    &:hover {
      transform: scale(1.15);
      border: 1px solid #e1e1e1;
      border-radius: 25px;
    }
  }

  &__text {
    height: 100%;
    line-height: 22px;

    &--model {
      font-weight: bold;
      margin-bottom: 8px;
    }

    &--title {
      margin-bottom: 12px;
    }

    &--price {
      font-weight: bold;
    }

    @include onTablet {
      padding-left: 100px;
    }

    @include onDesktop {
      padding-left: 0;
    }
  }
}
