.recommendeds {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.recommended {
  &__photo-container {
    margin-bottom: 32px;
  }

  &__photo {
    width: 100%;
    height: 277px;

    @include onTablet {
      height: 387px;
    }

    @include onDesktop {
      height: 320px;
    }
  }

  &__name {
    // font-size: 16px;
    // line-height: 22px;
    margin-bottom: 8px;
  }

  &__connect {
    margin-bottom: 12px;
    font-weight: 400;
  }
}
