
.recommendation {
  &__picture {
    &--1 {
      background-image: url("../images/bose__speaker1-320.jpg");
      height: 277px;
      margin-bottom: 32px;
      background-repeat: no-repeat;

      @include onTablet {
        background-image: url("../images/bose__speaker1_tablet.jpg");
        height: 387px;
        background-repeat: no-repeat;
      }

      @include onDesktop {
        background-image: url("../images/bose_speaker1_desktop.jpg");
        height: 320px;
        background-repeat: no-repeat;
      }
    }

    &--2 {
      background-image: url("../images/bose__speaker2__320.jpg");
      background-repeat: no-repeat;
      width: 280px;
      height: 277px;
      margin-bottom: 32px;

      @include onTablet {
        background-image: url("../images/bose__speaker2_640.jpg");
        background-repeat: no-repeat;
        width: 392px;
        height: 387px;
      }

      @include onDesktop {
        width: 324px;
        height: 320px;
        background-repeat: no-repeat;
      }
    }

    &--3 {
      background-image: url("../images/bose_speaker3_320.jpg");
      background-repeat: no-repeat;
      width: 280px;
      height: 277px;
      margin-bottom: 32px;

      @include onTablet {
        background-image: url("../images/bose_speaker3_640.jpg");
        background-repeat: no-repeat;
        width: 392px;
        height: 387px;
      }

      @include onDesktop {
        background-repeat: no-repeat;
        width: 324px;
        height: 320px;
      }
    }
  }

  &__subtittle {
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 48px;
  }

}
