.recommended {
  margin: $mobileMargins;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr;

  &__title {
    @include fontParams(32px, 32px, 700);
    margin-bottom: 48px;
  }

  &__product-image {
    margin-bottom: 32px;
  }

  &__product {
    margin-bottom: 48px;
  }
  &__product-header {
    text-align: left;
    @include fontParams(16px, 140%, 700);
    margin: 0 0 8px;
  }

  &__product-description {
    text-align: left;
    @include fontParams(16px, 140%, 400);
    margin-bottom: 12px;
  }

  &__product-price {
    text-align: left;
    @include fontParams(16px, 140%, 700);
  }
}
