.recommended {
  &__img {
    padding-bottom: 24px;
    border-radius: 4px;
  }

  &__title {
    padding-bottom: 8px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    color: rgba(41, 41, 41, 1);
    letter-spacing: 0;
  }

  &__price {
    padding-bottom: 40px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: rgba(41, 41, 41, 1);
    letter-spacing: 0;
  }
}
