.recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @include onDesktop {
    justify-content: center;
    flex-direction: row;
  }

  &__container {
    padding: 9px;
    transition: transform $transition-duration $transition-function,
      box-shadow $transition-duration $transition-function,
      border-radius $transition-duration $transition-function;

    &:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
      border-radius: 20px;
      cursor: pointer;
    }
  }

  &__photo {
    margin-bottom: 32px;
    width: 280px;
    height: 277px;

    @include onTablet {
      width: 392px;
      height: 387px;
    }

    @include onDesktop {
      width: 324px;
      height: 320px;
    }
  }

  &__name {
    margin: 0 0 8px;
    font-weight: $font-weight-bold;
    font-size: $font-size-16;
    line-height: $font-size-22;
    color: $main-color;
  }

  &__category {
    margin: 0 0 12px;
    font-size: $font-size-16;
    line-height: $font-size-22;
    color: $main-color;
  }

  &__price {
    font-weight: $font-weight-bold;
    font-size: $font-size-16;
    line-height: $font-size-22;
    color: $main-color;
  }
}

.link {
  text-decoration: none;
  color: $main-color;
}
