.recommendations {
  &__item {
    margin-bottom: 120px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-medium) {
      margin-bottom: 0;
    }
  }
}

.recommended {
  font-size: 16px;
  line-height: 22px;
  color: $colorFont;

  &__photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    column-gap: 24px;
    margin-bottom: 32px;

    @media (min-width: $screen-medium) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__photo {
    width: 100%;

    @media (min-width: $screen-medium) {
      grid-column: 1 / 4;
    }
  }

  &__name {
    margin: 0 0 8px;
    font-weight: bold;

    &:hover {
      text-shadow: $hoverBackground 1px 0 3px;
    }
  }

  &__name-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: $colorFont;
  }

  &__class {
    margin: 0 0 12px;
    font-weight: normal;
  }

  &__price {
    font-weight: bold;
  }

  &:hover {
    transform: scale(1.15);

    padding: 5px;
    @media (min-width: $screen-medium) {
      padding: 15px;
    }
  }
}
