.recommended-product {
  display: flex;
  flex-direction: column;

  &__image-container {
    align-self: center;
    margin: 0 0 32px;
    box-sizing: border-box;
  }

  &__image {
    height: 320px;
    object-fit: cover;
    object-position: center;

    @include onTablets {
      height: 387px;
    }
    @include onDesktop {
      height: 320px;
    }
  }

  &__name {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $mainColor;
  }

  &__type {
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 22px;
    color: $mainColor;
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $mainColor;
  }
}
