.recommended-item {

  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    justify-items: center;

  }

  &__photo {
    grid-column: 2 / 4;
    min-width: 280px;
    margin-bottom: 28px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__device {
    width: max-content;
    font-weight: 700;
    margin-bottom: 8px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      border-color: $text-color;
    }
  }

  &__type {
    margin-bottom: 12px;

  }

  &__price {
    font-weight: 700;
  }
}
