.recommendation {
  &__photo-container {
    margin-bottom: 32px;
  }

  &__photo {
    width: 100%;

    transition: transform 0.3s;

    &:hover {
      transform: scale(110%);
    }
  }

  &__name {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }

  &__type {
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
  }
}
