.recommend {

  &__photo-container {
    margin-bottom: 32px;
    transition-duration: $transspeed;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__photo {
    width: 100%;
  }

  &__name {
    margin: 0 0 8px;
    font-weight: 700;
  }

  &__role {
    margin: 0 0 12px;
    line-height: 27px;
  }

  &__price {
    margin: 0;
    font-weight: 700;
  }
}
