.recom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  // @media only screen and (max-width: 744px) {
  //   width: 70%;
  //   margin: 0 auto;
  // }
  &__heading {
    flex-basis: 100%;
    text-align: center;
    margin: 8rem 0 4rem;
  }

  &__image {
    width: 100%;
  }
}
