.recommended {

  @include OnDesktop {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__product {
    margin-bottom: 48px;

    @include OnTablet {
      margin-bottom: 40px;
    }
  }

  &__image {
    display: block;
    margin: 0 auto 32px;
    width: 280px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.3);
    }

    @include OnTablet {
      width: 390px;

      &:hover {
        transform: scale(1.3);
      }
    }

    @include OnDesktop {
      width: 324px;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  &__atribut {
    margin: 0;
    font-size: 16px;
    line-height: 140%;

    &--name {
      font-weight: 700;
      margin-bottom: 8px;
    }

    &--category {
      font-weight: 400;
      margin-bottom: 12px;
    }

    &--price {
      font-weight: 700;
    }
  }
}
