.recommended {

  @include OnDesktop {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__product {
    margin-bottom: 48px;

    @include OnTablet {
      margin-bottom: 40px;
    }
  }

  &__image {
    display: block;
    margin: 0 auto 32px;
    width: 280px;

    &:hover {
      width: 400px;
    }

    @include OnTablet {
      width: 390px;

      &:hover {
        width: 550px;
      }
    }

    @include OnDesktop {
      width: 324px;

      &:hover {
        width: 464px;
      }
    }
  }

  &__atribut {
    margin: 0;
    font-size: 16px;
    line-height: 140%;

    &--name {
      font-weight: 700;
      margin-bottom: 8px;
    }

    &--category {
      font-weight: 400;
      margin-bottom: 12px;
    }

    &--price {
      font-weight: 700;
    }
  }
}
