.recommendedItem {

  &__photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 32px;
  }

  &__text {
    color: #292929;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin: 8px 0;

    &--bold {
      font-weight: 700;
    }

    &--price {
      margin-top: 12px;

      &:before {
        content: "$ ";
      }
    }
  }
}
