.recommended {
  margin-bottom: 120px;

  &__title {
    @include main-title;
    width: 100%;
    height: 48px;

    @media (min-width: $media-min) and (max-width: $media-mid) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__catalog {
    display: grid;

    @media (min-width: $media-max) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__product {
    width: 324px;
    transition: transform 500ms;
    grid-column: auto;

    &--img {
      cursor: zoom-in;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--title {
      margin-top: 32px;
      @include title;
    }

    &--disc {
      @include disc;
      margin-bottom: 12px;
    }

    &--price {
      @include price;
    }

    @media (min-width: $media-mid) {
      grid-column: 2;
    }

    @media (min-width: $media-max) {
      grid-column: auto;
    }
  }
}
