.recom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 140%;

  &__heading {
    flex-basis: 100%;
    text-align: center;
    margin: 8rem 0 4rem;
  }

  &__image {
    width: 100%;
    transition: transform 1s;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__description {
    padding-bottom: 0.5rem;
  }
  // select 1st and 3rd
  &__description:nth-of-type(2n - 1) {
    font-weight: 700;
  }

  &__image-wrapper {
    margin-bottom: 2rem;
  }
}
