.recommendation {
  
  &__photo {
    display: block;
    width: 100%;
    margin-bottom: 32px;

    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 700;
  }

  &__subtitle {
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
  }
}
