.recommended {
  &__img {
    border-radius: 4px;
    padding-bottom: 24px;

  }

  &__title {
    padding-bottom: 8px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0px;
    color: rgba(41, 41, 41, 1);

  }
  &__price {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: rgba(41, 41, 41, 1);
    padding-bottom: 40px;

  }
}
