.recommended {
  &__items {
    margin: 0 auto;
    width: max-content;

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0;
    }
  }

  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin: 0;
    }
  }
}
