.recommended {

  &__product-image {
    width: 100%;
    margin-bottom: 32px;

    @include onDesctop {
      grid-row: 2;
    }
  }

  &__product-name {
    margin-bottom: 8px;
    width: 289px;
    @include onDesctop {
      grid-row: 3;
    }

    @extend %Bold-font;
  }

  &__product-description {
    margin-bottom: 12px;

    @include onDesctop {
      grid-row: 4;
    }

    @extend %normal-font;
  }

  &__product-price {
    @extend %Bold-font;

    @include onDesctop {
      grid-row: 5;
    }
  }

  &__product-price:not(:last-child) {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }
}
