.recommended {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.recom {
  &__photo-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-bottom: 32px;
  }

  &__photo {
    grid-column: 1 / 5;
    width: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 8px;

    color: $main-text;
  }

  &__role {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;

    color: $main-text;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    color: $main-text;
  }
}
