*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

h1,
h2,
h3 {
  font-weight: inherit;
  font-size: inherit;
}

.page {
  &__body {
    margin: 0;
  }
}
