html,
body,
header,
div,
h1,
a,
nav,
ul,
span,
h2,
h3,
h4,
article,
p,
form,
input,
button,
textarea {
  margin: 0;

  font-size: initial;
  font-weight: initial;
}

ul {
  padding: 0;
}
