a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
li,
button {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
