html,
body,
div,
span,
applet,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
del,
dfn,
em,
img,
q,
s,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
canvas,
details,
embed,
figure,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
