.reviews {
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  &__wrapper {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    @include title;
    margin-bottom: 53px;

    @include onTablet {
      margin-bottom: 93px;
    }
  }

  &__info {
    margin-bottom: 48px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
