.reviews {
  padding-top: 150px;

  &__title {
    @extend %section-title;
    margin-bottom: 70px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__element {
    flex-basis: 23.5%;
    text-align: center;
  }

  &__picture {
    margin-bottom: 28px;
  }

  &__img {
    margin: 0 auto;
  }

  &__name {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
  }

  &__position {
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #9fadc2;
    margin: 4px 0;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #3e3e3e;
  }
}
