.reviews {
  display: flex;
  flex-direction: column;

  padding-top: 84px;
  transition-duration: $def-t-duration;

  @media (min-width: 768px) {
    padding-top: 152px;
    transition-duration: $def-t-duration;
  }

  &__titile {
    align-self: center;
    @extend %titile-mobile-before-mini-logo;

    padding-bottom: 5px;
    
    transition-duration: $def-t-duration;

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 48px;

      transition-duration: $def-t-duration;
    }
  }

  &__mini-logo {
    align-self: center;
    @extend %mini-logo;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 22px;
    transition-duration: $def-t-duration;

    @media (min-width: 1000px) {
      flex-direction: row;
      justify-content: space-between;

      padding-top: 72px;
      transition-duration: $def-t-duration;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-self: center;
    
    width: 280px;

    padding-bottom: 48px;
    transition-duration: $def-t-duration;

    @media (min-width: 1000px) {
      align-self: flex-start;
      width: 240px;
      padding-bottom: 0;
      transition-duration: $def-t-duration;
    }
  }

  &__photo {
    height: 153px;
    width: 153px;
    border-radius: 50%;
    transition-duration: $def-t-duration;

    align-self: center;
  }

  &__photo:hover {
    transition-duration: $def-t-duration;
    box-shadow: 0 4px 10px 3px rgba(34, 60, 80, 0.25);
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__second-title {
    align-self: center;
    padding-top: 28px;

    font-family: Roboto, Arial, sans-serif;
    color: $c-main-blue;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  &__profession {
    align-self: center;
    margin: 0;
    padding-top: 4px;

    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: $c-second-gray;
  }

  &__review {
    text-align: center;
    margin: 0;
    padding-top: 4px;

    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
