
$reviewerWidth: 240px;

.review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include tablet() {
    flex-direction: column;
    align-items: center;
  }
  &__title {
    position: relative;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -50%;
      transform: translate(-50%, -100%);
      width: 23px;
      height: 16px;
      background-image: url("../images/icons/Icon-Corona-virus.svg");
    }
  }
  &__reviewer {
    margin-bottom: 48px;
    width: $reviewerWidth;
  }
  &__reviewer-photo {
    display: block;
    margin: 93px auto 28px;
    width: 153px;
    height: 153px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
  }
  &__reviewer-name {
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #0075ff;
  }
  &__reviewer-post {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #9fadc2;
  }
  &__reviewer-comment {
    display: block;
    margin: 0 auto;
    width: 240px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #3e3e3e;
  }
}
