.schedule {
  padding: 100px 20px 0;

  @media (min-width: 744px) {
    display: flex;
    padding: 140px 72px 0;
    gap: 110px;
  }

  @media (min-width: 1260px) {
    padding: 140px 120px 0;
    gap: 72px;
  }

  .schedule__block-left {
    padding-bottom: 38px;

    .span {
      color: #d12d35;
    }

    .h2 {
      text-align: start;

      @media (min-width: 744px) {
        width: 65%;

        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1.5px;
      }

      @media (min-width: 1260px) {
        width: 100%;
      }
    }
  }

  .schedule__block-right {

    .strong {
      padding-right: 25px;
    }

    .h3 {
      padding-bottom: 16px;
    }

    .first-place {
      padding-bottom: 11px;

      .p4 {
        padding-bottom: 7px;

        &:last-child {
          .strong {
            padding-right: 57px;
          }
        }
      }

      & ~ * {
        .p4:last-child {

          .strong {
            padding-right: 82px;
          }
        }
      }
    }

    .second-place {
      padding-bottom: 24px;
    }
  }
}
