.schedule {
  &__content {
    padding: 0 20px;
    margin: 0 auto;
    width: fit-content;

    @media (min-width: 744px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 72px;
    }

    @media (min-width: 1260px) {
      padding: 0 120px;
    }
  }

  &__visit {
    margin-bottom: 2px;
    color: $color-orange;
  }

  &__work-hours {
    margin-bottom: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $color-dark;

    @media (min-width: 744px) {
      max-width: 200px;
      font-size: 48px;
      line-height: 48px;
    }

    @media (min-width: 1260px) {
      max-width: none;
    }
  }

  &__dates {
    &-title {
      @include museum-title;
    }

    &-section {
      display: flex;
      gap: 25px;
      margin-bottom: 20px;
    }
  }

  &__hours {
    display: flex;
    @include font-bold;
  }

  &__days {
    display: flex;
    @include font-normal;
  }

  &__closed {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 100px;
    }
  }
}
