.screen2 {
  display: flex;
  justify-content: center;
  padding-top: 104px;
  padding-bottom: 152px;

  @media (max-width: 600px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &__container {
    @extend %container;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
  }
}
