.scroll-to-top {
  position: fixed;
  right: -100px;
  bottom: 20px;
  z-index: 2;

  width: 50px;
  height: 50px;

  background-image: url(/images/icons/scroll-to-top.svg);
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  transition: all $transition-duration;

  @include onTablet {
    background-size: 95px;
  }

  @include onDesktop {
    bottom: 30px;
    background-size: 80px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &--show {
    right: 20px;

    @include onTablet {
      right: 30px;
    }

    @include onDesktop {
      right: 60px;
    }
  }
}
