.scrollTop {
  position: fixed;
  right: 32px;
  bottom: 64px;

  height: $scroller-side;
  width: $scroller-side;

  background: $color-pressed;
  border-radius: 8px;

  text-align: center;
  transition: background-color $transition-speed;

  &:hover {
    background-color: $color-hover;
  }

  &__link {
    padding: 10px;
    line-height: $scroller-side;
    color: $mainWhite;
    font-size: 30px;
    text-decoration: none;
  }
}
