.second-section {
  @extend %container;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    margin-bottom: 37px;
    @extend %centr-heading;

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__decor-icon {
    @extend %decor-icon;
  }

  &__button {
    margin-top: 70px;

    @media (max-width: 600px) {
      margin-top: 32px;
    }
  }
}
