.second-section {
  @extend %container;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    margin-bottom: 37px;
    @extend %centr-heading;
  }

  &__decor-icon {
    @extend %decor-icon;
  }

  &__button {
    margin-top: 70px;
  }
}
