.section-title-logo {
  color: #000;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -1.5px;

  @media (min-width: $deviceChangerPhones) {
    font-size: 48px;
    line-height: 48px;
  }

  &:after {
    content: "";

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;

    display: block;
    width: 25px;
    height: 16px;

    @include backgroundImage("../images/crown.svg");
  }
}
