.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 120px;

  @include onTablet {
    max-width: 744px;
    margin: 0 auto 64px;
    padding: 0 40px;
  }

  @include onDesktop {
    max-width: 1020px;
    margin: 0 auto 64px;
  }

  &_button {

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid transparent;
    height: 56px;
    background-color: #292929;
    border-radius: 40px;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;

    @include onTablet {
      width: 392px;
      margin: 0 auto;
    }
  
    @include onDesktop {
      width: 324px;
      margin: 0 auto;
    }

    &:hover {
      color: #292929;
      background-color: #fff;
      border-color: #292929;

      &:active {
        background-color: #111;
        color: #fff;
      }
    }
  }

  &_title {
    margin: 0 auto 48px;
    width: 200px;
    text-align: center;

    @include onTablet {
      width: 500px;
      font-size: 40px;
      line-height: 100%;
      margin-bottom: 64px;
    }
  
    @include onDesktop {
      font-size: 48px;
      line-height: 48px;

    }

    &_text {
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.5px;
      color: #292929;

      @include onTablet {
        font-size: 40px;
        line-height: 100%;
      }
    
      @include onDesktop {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }

  &_content {
    display: block;
  }
}

.place {
  &_photo-conteiner {
    position: relative;
    width: 100%;
    max-height: 320px;
    overflow: hidden;

    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
    }

    &::after {
      display: block;
      content: "";
      padding-bottom: 100%;

    }

    @include onTablet {
      height: 190px;
      padding-bottom: 0;
    }

    @include onDesktop {
      height: 320px;
      padding-bottom: 0;
    }
  }

  &_photo {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &_text {
    margin: 16px 0 64px;

    &-last {
      margin-bottom: 40px;
    }

    &-link {
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: #292929;

      @include onTablet {
        font-size: 24px;
      }
  
      @include onDesktop {
        font-size: 24px;
      }
    }
  }
}
