
.testimonials {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;

    @media (max-width:800px) {
      margin: 50px auto;
      transition: ease 0.5s;
    }
    
  }

  &__container-title {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 700;
  }

  &__title-img {
    top: 60px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/crown.svg) center no-repeat;
  }

  &__container_card-all {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin: 0 20px;

    @media (max-width:700px) {
      align-items: center;
      flex-direction: column;
      transition: ease 0.3s;
    }
  }

  &__card-1 {
    cursor: pointer;
    max-width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: ease 0.5s;

    &:hover {
      border-radius: 10px;
      transition: ease 0.5s;
      transform: scale(1.05);
    }
  }
  &__img-1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__title-name_1 {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: $bg__nav;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 180px;
  }

  &__title-work_1 {
    font-size: 14px;
    color: $work__color;
  }

  &__text-1 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }

  &__card-2 {
    cursor: pointer;
    max-width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: ease 0.5s;

    &:hover {
      border-radius: 10px;
      transition: ease 0.5s;
      transform: scale(1.05);
    }
  }
  &__img-2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__title-name_2 {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: $bg__nav;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  &__title-work_2 {
    font-size: 14px;
    color: $work__color;
  }

  &__text-2 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }

  &__card-3 {
    cursor: pointer;
    max-width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: ease 0.5s;

    &:hover {
      border-radius: 10px;
      transition: ease 0.5s;
      transform: scale(1.05);
    }
  }
  &__img-3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__title-name_3 {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: $bg__nav;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  &__title-work_3 {
    font-size: 14px;
    color: $work__color;
  }

  &__text-3 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }
}
