.section-title {
  margin: 0;
  margin-bottom: 48px;
  color: $main-text-color;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  text-transform: capitalize;

  &--align--left {
    text-align: left;
    margin-bottom: 32px;
  }

  @include on-tablet {
    font-size: 48px;
    line-height: 48px;
  }

  @include on-desktop {
    font-size: 64px;
    line-height: 64px;
  }
}

