.section {
  &__product {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__title {
    display: inline-block;

    padding-bottom: 48px;

    font-weight: 700;
    letter-spacing: -1.5px;
    color: $chromaphobic-black;

    @include sectionTitleSize(32px);

    @include onTablet {
      @include sectionTitleSize(40px);

      padding-bottom: 64px;
    }

    @include onDesktop {
      @include sectionTitleSize(48px);
    }

    &-container {
      display: flex;
      justify-content: center;
    }

    &--gallery {
      text-align: center;

      width: 280px;

      @include onTablet {
        width: 400px;
      }

      @include onDesktop {
        width: 500px;
      }
    }

    &--contacts {
      text-align: center;
    }
  }

  &__gallery-btn {
    margin: 0 auto;

    background-color: $chromaphobic-black;
    border: 2px solid transparent;

    width: 180px;
    height: 56px;
    border-radius: 40px;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 40px;

      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #fff;
      text-decoration: none;

      transition: color $duration, border-color $duration, background-color $duration;

      &:hover {
        background-color: #fff;
        color: $chromaphobic-black;
        border-color: $chromaphobic-black;
      }

      &:active {
        color: #fff;
        background-color: #111;
        border-color: #111;
      }
    }

    @include onTablet {
      width: 390px;
    }

    @include onDesktop {
      width: 320px;
    }
  }

  &__testimonials-content {
    list-style: none;
    max-width: 410px;
  }

  &__testimonials {
    &__wrap {
      display: flex;
      align-items: flex-start;
      gap: 50px;

      @media screen and (max-width: 743px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__testimonials-trials {
    margin-bottom: 16px;
    line-height: 140%;
    &:last-of-type {
      margin-bottom: 40px;
    }

    &-link {
      font-weight: 700;
      font-size: 16px;
      color: $chromaphobic-black;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: border-color $duration;

      &:hover {
        border-color: $chromaphobic-black;
      }
    }
  }

  &__testimonials-description {
    max-width: 410px;
    font-weight: 400;
    font-size: 16px;
    color: $chromaphobic-black;
  }
}
