.section__first {
  height: 348px;
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  min-width: 320px;

  &-title {
    color: #fff;
    // font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
    letter-spacing: -1.5px;
    padding-left: 20px;
    margin-top: 60px;
    margin-bottom: 32px;
    display: flex;
  }

  &-description {
    color: #fff;
    // font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 32.2px */
    padding-left: 20px;
    width: 280px;
    display: flex;
    text-align: left;
  }
}

.section__second {
  height: 535px;
  min-width: 320px;
  background-color: #1d1d1d;
  background-image: url("../images/mybike/bike_mobile_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    min-width: 100%;
    height: 100%;
    display: flex;
    background-color: aquamarine;
  }

  &-title {
    color: #fff;
    text-align: center;
    // font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 100% */
    letter-spacing: -1.5px;
    text-transform: capitalize;
    padding-top: 60px;

    &-1 {
      color: #fff;
      // font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 33.6px */
      display: flex;
      padding-left: 20px;
    }
  }

  &-description {
    color: #fff;
    // font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    display: flex;
    padding-left: 20px;
    text-align: left;
    padding-top: 8px;
  }

  &-price {
    color: #fff;
    // font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    display: flex;
    padding-left: 20px;
    padding-top: 8px;
  }

}
