.section-top {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__header {
    padding: 24px 0;
  }

  &__info {
    padding: 270px 0 85px;
  }

  &__title {
    position: relative;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    padding-top: 16px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 35px;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
    }
  }

  &__nav {
    padding-bottom: 48px;
  }
}
