
.estate {
  &__container {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;

    @media (max-width:600px) {
      flex-direction: column;
      transition: ease 0.5s;
    }

  }

  &__container-title {
    max-width: 330px;

    @media (max-width:1200px) {
      margin-left: 20px;
      transition: ease 0.5s;
    }

    @media (max-width:600px) {
      max-width: 275px;
      margin-bottom: 50px;
      transition: ease 0.5s;
    }

  }

  &__title {
    font-family: Roboto, sans-serif;
    color: black;
    font-weight: 700;
    font-size: 48px;

    @media (max-width:600px) {
      font-size: 36px;
      transition: ease 0.5s;
    }

  }

  &__title-here {
    color: $bg__nav;
    @media (max-width:600px) {
      display: inline;
      transition: ease 0.5s;
    }

  }

  &__container-text {
    max-width: 500px;

    @media (max-width:800px) {
      max-width: 350px;
      margin-right: 20px;
      transition: ease 0.5s;
    }

    @media (max-width:600px) {
      margin-left: 20px;
      transition: ease 0.5s;
    }

  }

  &__text-title {
    margin-bottom: 16px;
    font-family: Roboto, sans-serif;
    color: $bg__nav;
    font-weight: 700;
    font-size: 24px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: Roboto, sans-serif;
  }

}
