@use '../mixins/mixins' as *;

.section {
  &__big {
    @include desktop {
      display: flex;
      flex-direction: row;
      margin-left: 120px;
      margin-right: 120px;
      justify-content: center;
    }

    @include big-desktop {
      display: flex;
      flex-direction: row;
      margin-left: 120px;
      margin-right: 120px;
      justify-content: center;
    }
  }

  &__name {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding-top: 92px;

    @include tablet {
      font-size: 48px;
      line-height: 100%;
    }

    @include desktop {
      font-size: 64px;
      line-height: 100%;
      padding-top: 164px;
    }

    @include big-desktop {
      font-size: 80px;
      line-height: 100%;
      padding-top: 164px;
    }
  }
}
