.section-contact-us {

  &__contacts-wrapper {
    @extend %center-contact-item;
  }

  &__address-wrapper {
    @extend %center-contact-item;
  }

  &__contact-data-wrapper {
    display: block;
    padding: $contact-paddings;
    margin: calc(-#{$contact-paddings});
    margin-bottom: calc(24px - #{$contact-paddings});

    border: 2px solid transparent;
    border-radius: 8px;
    transition-property: border;
    @include transition-linear(0.4s);
  }

  &__contact-data-wrapper:last-child {
    margin-bottom: calc(32px - #{$contact-paddings});
  }

  &__contact-data-wrapper:hover {
    border-color: #ccd0e0;
  }

  &__label {
    @include font(14px, 27px, normal);
    color: #9fadc2;
  }

  &__phone {
    @extend %contact-label-margins;
    @include font(16px, 27px, normal);
  }

  &__email {
    @extend %contact-label-margins;
    @include font(16px, 27px, normal);
  }

  &__address {
    margin-top: 8px;
    @include font(16px, 27px, normal);
  }

  &__form {
    @extend %center-contact-item;
  }

  @media (min-width: $scale-L) {
    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 30px;
    }

    &__contacts-wrapper {
      margin: 0;
    }

    &__address-wrapper {
      margin: 0;
    }

    &__form {
      min-width: $contact-item-size;
      margin: 0;
    }
  }
}
