.section {

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__part {
    margin-bottom: 48px;
  }

  &__intro {
    margin-bottom: 2px;
  }

  &__description {
    text-align: center;
    display: block;
    margin-bottom: 48px;
  }

  &__place {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__title {
    &--mb-small {
      margin-bottom: 8px;
    }

    &--mb-medium {
      margin-bottom: 32px;
    }

    &--mb-large {
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 48px;
      }
    }

    &--mb-extra-large {
      margin-bottom: 48px;
    }
  }
}
