.contacts {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  color: #292929;

  &_title {
    margin-top: 96px;

    &-text {
      font-weight: 700;
      font-size: 40px;
      line-height: 100%;
      text-align: center;
      letter-spacing: -1.5px;
      color: #292929;

      @include onTablet {
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
      }

      @include onDesktop {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    max-width: 1010px;

    @include onTablet {
      margin: 0 auto;
      flex-direction: row;
    }

    @include onDesktop {
      margin: 0 auto;
      flex-direction: row;
    }

    &_write {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 280px;

      margin: 48px auto 30px;

      @include onTablet {
        margin: 48px auto 100px;
      }

      @include onDesktop {
        width: 410px;
        margin: 48px auto 100px;
      }

      &_send {
        display: flex;
        justify-content: center;
        align-items: center;

        border: 3px solid transparent;
        height: 56px;
        background-color: #292929;
        border-radius: 40px;

        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        text-decoration: none;

        &:hover {
          color: #292929;
          background-color: #fff;
          border-color: #292929;

          &:active {
            background-color: #111;
            color: #fff;
          }
        }
      }
    }

    &_address {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 280px;

      margin: 0 auto;

      @include onTablet {
        margin: 48px auto;
      }

      @include onDesktop {
        margin: 48px auto;
      }

      &_info {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #9fadc2;

        margin-bottom: 8px;
      }

      &_info-link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #3e3e3e;
        text-decoration: none;

        margin-bottom: 24px;

        &:hover {
          color: red;
        }
      }
    }
  }
}
