.section {
  padding-top: 120px;

  &__title {
    padding-bottom: 48px;

    &--customer {
      padding-bottom: 32px;
    }
  }

  &__speaker {
    margin-bottom: 48px;
  }

  &__article {
    margin-bottom: 40px;
  }

  &__paragraph {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: #292929;

    &--bold {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 16px;

      &:nth-child(5) {
        margin-bottom: 40px;
      }
    }
  }
}
