.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    @include icon-sizing (24px);

    background: url(../images/crown.svg) center no-repeat;
    background-size: contain;
  }
}
