.send-form {
  display: grid;
  gap: 16px 0;

  &__btn {
    width: 278px;
    height: 56px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    color: #1d1d1d;
    margin: 0;
    cursor: pointer;

    background-color: #fff;
    border-radius: 40px;

    transition: box-shadow 300ms ease-out;

    @include onTablet {
      width: 288px;
    }

    @include onPC {
      width: 411px;
    }

    &:hover {
      box-shadow: 1px 4px 16px 0 #e8e8f066;
    }

    &:active {
      box-shadow: 1px 4px 16px 0 #e8e8f0a3;
    }
  }

  &__input {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #292929;

    width: 278px;
    padding: 13px 16px;

    background-color: #f8f8fa;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 40px;
    transition-property: border-color, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-out;

    @include onTablet {
      width: 288px;
    }

    @include onPC {
      width: 411px;
    }

    &::placeholder {
      color: #7e7e83;
      transition-property: color;
      transition-timing-function: ease-out;
      transition-duration: 300ms;
    }

    &:hover {
      border-color: #d5d7de;

      &::placeholder {
        color: #292929;
        transition-property: color;
        transition-timing-function: ease-out;
        transition-duration: 300ms;
      }
    }

    &:focus {
      animation: dark 300ms ease-out forwards,
        invisible 300ms ease-out 5300ms forwards;

      @keyframes dark {
        from {
          border-color: #d5d7de;
        }

        to {
          border-color: #292929;
        }
      }

      @keyframes invisible {
        from {
          border-color: #292929;
        }

        to {
          border-color: transparent;
        }
      }
    }
  }

  &__txt {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #292929;
    height: 148px;
    width: 278px;
    padding: 13px 16px;
    margin-bottom: 16px;
    background-color: #f8f8fa;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 16px;
    resize: none;
    transition-property: border-color, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-out;

    @include onTablet {
      width: 288px;
    }

    @include onPC {
      width: 411px;
    }

    &::placeholder {
      color: #7e7e83;
      transition-property: color;
      transition-timing-function: ease-out;
      transition-duration: 300ms;
    }

    &:hover {
      border-color: #d5d7de;

      &::placeholder {
        color: #292929;
        transition-property: color;
        transition-timing-function: ease-out;
        transition-duration: 300ms;
      }
    }

    &:focus {
      animation: dark 300ms ease-out forwards,
      invisible 300ms ease-out 5300ms forwards;

      @keyframes dark {
        from {
          border-color: #d5d7de;
        }

        to {
          border-color: #292929;
        }
      }

      @keyframes invisible {
        from {
          border-color: #292929;
        }

        to {
          border-color: transparent;
        }
      }
    }
  }
}
