.schedule {
  &__description {
    color: rgb(190, 28, 28);
    margin-bottom: 2px;

    @include onTablet {
      font-size: 12px;
      line-height: 140%;
    }
  }

  &__title {
    color: black;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }
  }
}
