.shedule {
  &__main {

    &__section {
      display: grid;
      gap: 0 25px;
      grid-template-columns: 100px 1fr;
      align-items: center;
      margin-bottom: 8px;
    }

    &__bottom-second-section {
      display: grid;
      align-items: center;
      gap: 0 30px;
      grid-template-columns: 120px 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &__time {
      line-height: 27px;
      font-size: 16px;
      white-space: nowrap;
    }

    &__days {
      font-weight: 400;
      white-space: nowrap;
    }

    &__bottom-section {
      margin-top: 16px;
    }

    &__second-section {
      margin-top: 24px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }
}
