@import "../utils/mixins";
@import "../utils/variables";

.shedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  width: 275px;

  &__hours {
    width: max-content;
    margin-bottom: 8px;

    &:nth-child(2n - 1) {
      font-weight: bold;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 16px;
    }
  }
}

.closed {
  &__title {
    font-weight: bold;
  }

  &__dates {
    margin-bottom: 24px;

    &--last {
      margin-bottom: 0;
    }
  }
}
