.shopping {
  &__title {
    text-align: left;
  }

  &__advantages {
    margin-bottom: 40px;
  }

  &__advantage {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
