.shopping {
  display: grid;
  justify-content: center;
  @include grid;

  &__title {
    @include forMobile {
      grid-column: span 2;
    }

    @include forTablet {
      grid-column: 1 / span 3;
    }

    @include forDesktop {
      grid-column: 1 / span 5;
    }
  }

  &__paragraph {
    @include forMobile {
      grid-column: span 2;
    }

    @include forTablet {
      grid-column: 4 / span 3;
    }

    @include forDesktop {
      grid-column: 6 / span 5;
    }
  }
}
