.size-container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width:1000px) {
    max-width: 750px;
  }

  @media (max-width:760px) {
    max-width: 500px;
  }

  @media (max-width:560px) {
    max-width: 480px;
  }

  @media (max-width:460px) {
    max-width: 380px;
  }

  @media (max-width:360px) {
    max-width: 280px;
    padding: 0;
  }
}

.size-container--header {
  height: 100vh;
}
