.slogan {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);

  &--text {
    font-size: 32px;
    letter-spacing: -1.5px;
  }

  &--description {
    font-size: 23px;
    font-weight: 500;
  }

  @media (min-width: 744px) {
    gap: 24px;
    grid-template-columns: repeat(2 , 1fr);

    &--text {
      font-size: 48px;
    }
  }

  @media (min-width: 1260px) {
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);

    &--text {
      grid-column: 1/6;
      font-size: 64px;
    }

    &--description {
      grid-column: 6/12;
    }
  }
}
