.slogan {
  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: left;
  }

  &__paragraph {
    margin-top: 32px;
    font-size: 23px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
  }
}
