.soundWaves {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 25px;

  &__wave {
    width: 5px;
    height: 75px;
    background-color: $primary;
    border-radius: 50%;

    $heights:
      1 10px,
      2 20px,
      3 26px,
      4 48px,
      5 44px,
      6 65px,
      7 74px,
      8 54px,
      9 35px,
      10 18px,
      11 10px;

    @each $index, $height in $heights {
      &:nth-child(#{$index}) {
        height: $height;
      }
    }
  }

  @media (max-width: 320px) {
    padding: 5px;
    gap: 1px;
    &_wave {
      width: 2px;
      height: 35px;
    }
  }
}
