.speaker {
  &__name {
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #1B2129;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__paragraph {
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #1B2129;
    margin-bottom: 12px;
  }

  &__price {
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #1B2129;
  }
}
