.speakerImage {
  height: 280px;
  width: 280px;
  border-radius: 4px;
  margin-bottom: 24px;
  transition: 0.5s;

  &__item {
    height: 280px;
    width: 280px;
    border-radius: 4px;
    margin-bottom: 24px;
    transition: 0.5s;
  }
}
