.speaker {
  color: #292929;
  box-sizing: border-box;

  &__image {
    height: 320px;
    margin-bottom: 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__chapter {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }
}
