.speaker-card {
  transition: transform 1s;

  &__imgContainer {
    width: 280px;
    height: 277px;
    margin: 0 auto 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include onTablet {
      width: 392px;
      height: 387px;
    }

    @include onDesktop {
      width: 324px;
      height: 320px;
    }

    &-portable {
      background-image: url(../images/photos/bose-portable.svg);
    }

    &-soundLink-flex {
      background-image: url(../images/photos/soundLink-flex.svg);
    }

    &-soundLink-color {
      background-image: url(../images/photos/soundLink-color.svg);
    }
  }

  &:hover {
    transform: scale(1.2);
  }

  &__product-title {
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 12px;
  }

  &__price {
    font-weight: bold;
  }
}
