.state {
  @include flex-justify;
  @include take-width(240px);

  &__section {
    margin: 0 auto;
    padding: 104px 0 152px;
  }

  &__title {
    width: 328px;

    font-size: $fs-large;
    font-weight: $fw-bold;
    letter-spacing: -1.5px;

    &--decoration {
      color: $c-blue;
    }
  }

  &__description {
    width: 500px;
  }

  &__subtitle {
    margin-bottom: 16px;

    font-size: $fs-medium;
    font-weight: $fw-bold;
    line-height: $lh-125;

    color: $c-blue;
  }

  &__text {
    font-weight: $fw-normal;
    color: $c-text;
    line-height: 27px;

    &:nth-child(n + 5) {
      font-weight: $fw-bold;
    }
  }
}

@include phone {
  .state {
    display: block;
    @include take-width(40px);

    &__section {
      padding: 64px;
    }

    &__title {
      width: 300px;
    }

    &__description {
      margin-top: 48px;
      width: 100%;
    }
  }
}
