.stock {
  display: grid;

  @include grid();

  &__product {
    // margin-bottom: 20px;
    grid-column: span 2;

    @include for-tablet() {
      grid-column: span 6;
    }

    @include for-desktop() {
      grid-column: span 4;
    }
  }
}
