.main_gridstore {
  display: grid;
  grid-template-columns: 324px 324px 324px;
  // grid-auto-columns: none;
  // grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "one one two"
    "p1 p1 p1"
    "three four four"
    "p2 p2 p2"
    "five five six"
    "p3 p3 p3"
    "button button button";
  column-gap: 24px;
  row-gap: 16px;
}

.main_prow {
  width: 324px;
  height: 24px;
  margin: 0;
  padding: 0;
  color: #292929;
  font-family: "Space Grotesk", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.main_photobirdsbox {
  grid-area: one;
}

.main_photohand1box {
  grid-area: two;
}

.main_prow1 {
  grid-area: p1;
}

.main_photoearstickbox {
  grid-area: three;
}

.main_photohand2box {
  grid-area: four;
}

.main_prow2 {
  grid-area: p2;
}

.main_photosmartphonebox {
  grid-area: five;
}

.main_photostickbox {
  grid-area: six;
}

.main_storephoto {
  transition: transform 0.5s ease-in-out;
}

.main_storephoto:hover {
  transform: scale(1.05);
}

.main_prow3 {
  grid-area: p3;
}

.main_button {
  display: flex;
  width: 324px;
  height: 56px;
  padding: 0 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: #292929;
  margin-top: 70px;
  color: #fff;

  .main_buttonp {
    text-align: center;
    font-family: "Space Grotesk", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
  }
}

.main_button:hover {
  color: black;
  border: 2px solid #f0f1f4;
  background: #f8f8fa;
}

.main_button:active {
  color: #fff;
  border: none;
  background: #292929;
}
