@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}
@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.page {
  font-family: $main-font;
}

.logo {
  display: block;
  height: 46px;
  width: 64px;

  @include onTablet {
    height: 55px;
    width: 87px;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.icon {
  display: block;
  width: $mobile-icon-width;
  height: $mobile-icon-width;
  @include center-background-image;

  @include onTablet {
    width: $desktop-icon-width;
    height: $desktop-icon-width;
  }

  &--menu {
    background-image: url("../images/utility/Icon-Burger-menu.svg");

    &:hover {
      background-image: url("../images/utility/Icon-Burger-menu-hover.svg");
      }
    }

  &--phone {
    background-image: url("../images/utility/Icon-Phone-call.svg");
  }

  &--close {
    background-image: url("../images/utility/Icon-Close.svg");
  }
}

.top-actions {
    display: grid;
    grid-template-columns: 1fr $phone-mobile-column-size $mobile-icon-width;

    align-items: center;

    @include onTablet {
      grid-template-columns: 1fr $phone-desktop-column-size $desktop-icon-width;
    }

    &--menu{
      grid-template-columns: 1fr $mobile-icon-width;

    }
}

.header {
  background-image: url("../images/utility/Header.svg");
  @include center-background-image;

  &__content {
    height: 100vh;
    padding: $header-mobile-padding;

    @include onTablet {
    padding: 50px 100px;
    }

    @include onDesktop {
    padding: 50px 120px;
    }
  }

  &__call {

    @include onDesktop {
      &::before {
        content: attr(data-title);
        white-space: pre-line;
        position: relative;
        top: 50%;
        transform: translate(-100%, - 50%);

        display: block;
        width: max-content;
        padding-right: 16px;

        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        color: #fff;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__title {
    display: block;
    align-self: center;
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
    color: #fff;

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }
}

.menu{
  background-color: red;
  &__content {
    padding: $header-mobile-padding;
  }
}
