.table {
  text-align: left;
  border-collapse: collapse;

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: block;
    margin-bottom: 16px;
  }

  &__hours {
    padding-right: 24px;
    padding-bottom: 8px;
  }

  &__days {
    padding-bottom: 8px;
  }
}
