.table {
  border-collapse: collapse;

  &__opening-hours {
    width: 120px;
    padding: 0 24px 8px 0;

    text-align: left;
    font-weight: 700;

    &--wide {
      width: 145px;
    }
  }

  &__opening-days {
    padding-bottom: 8px;
  }
}
