.tel-info {
  display: flex;
  align-items: center;
  position: relative;

  &__card {
    display: none;
    position: absolute;
    width: clamp(140px, 30vw, 200px);
    right: 40px;
    color: white;
    font-weight: 700;
    font-size: clamp(10px, calc(1.25vw + 6px), 16px);
    line-height: 27px;
    letter-spacing: 0;
  }

  &:hover &__card {
    display: inline-block;
  }

  &__icon {
    width: 24px;
  }
}
