
.tel-num {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 142px;
  &__num {
    position: relative;
    top: 100%;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
    visibility: hidden;
    transition: top 250ms;
    @media (max-width: 768px) {
      position: absolute;
      visibility: hidden;
    }
  }
  &__img {
    width: 24px;
    height: 24px;
  }
  &:hover &__num {
    visibility: visible;
    top: 0;
    @media (max-width: 768px) {
      visibility: hidden;
      top: 100%;
    }
  }
  @media (max-width: 768px) {
    width: auto;
  }
}
