@import "../utils/mixins.scss";

.tenthImage {
  padding: 96px 0 48px;
  width: 100%;
  height: 200px;

  @include for-tablet() {
    display: none;
    padding: 120px 0 56px;
  }

  @include for-desktop() {
    padding: 120px 0 56px;
    display: none;
  }

  &-2 {
    display: none;
    width: 100%;
    height: 400px;
    padding: 120px 0 56px;

    @include for-tablet() {
      display: block;
    }
    @include for-desktop() {
      display: none;
    }
  }

  &-3 {
    display: none;
    width: 100%;
    height: 460px;
    padding: 120px 0 56px;
    object-fit: cover;

    @include for-desktop() {
      display: block;
    }
  }
}
