.testimonials {
  max-width: 320px;

  @include onTablet {
    max-width: 744px;
  }
  @include onDesktop {
    max-width: 1260px;
  }
  &__title {
    text-align: left;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    &--benefit {
      margin-bottom: 16px;
    }

    &--benefit-4 {
      margin-bottom: 40px;
    }

    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
    }
  }
}
