.testimonials {
  &__title {
    @extend %title;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 152px;
  }

  &__reviews {
    text-align: center;
  }

  &__avatar {
    width: 153px;
    height: 153px;
    margin-top: 72px;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $blue-color;
    margin: 28px 0 4px;
  }

  &__position {
    font-size: 14px;
    line-height: 27px;
    color: $lightgrey-color;
    margin-bottom: 13px;
  }

  &__recall {
    width: 240px;
    font-size: 16px;
    line-height: 27px;
    color: $grey-color;
  }
}
