.main__testimonials {
  margin: auto;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1020px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  &__name {
    font-weight: bold;
    font-size: 24px;
    color: $colorBlue;
    margin: 28px 0 0;
  }
  &__position {
    font-size: 14px;
    color: #9fadc2;
    margin: 10px 0;
  }
  &__text {
    font-size: 16px;
    color: $colorDarkGrey;
    text-align: center;
    line-height: 27px;
    margin: 0 0 48px;
  }
  &__photo {
    transition: transform 0.4s;
    &:hover {
      transform: translateY(-5px) scale(1.1);
    }
  }
}

@media(max-width:1080px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
