.testimonial {
  &__photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;

    @include toDesktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 24px;
      margin-bottom: 32px;
    }
  }

  &__photo {
    border-radius: 50%;
    width: 150px;
    transition: transform 0.3s;

    @include toDesktop {
      width: 100%;
      grid-column: 2 / 4;
    }

    &:hover {
      transform: scale(120%);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 4px;
  }

  &__role {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #9fadc2;
    margin: 0 0 4px;
  }

  &__about {
    margin: 0;
    text-align: center;
  }
}
