.main__testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.persons {
  display: flex;
  flex-direction: column;

  &__gallery {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 37px 20px;
  }

  &__gallery-title {
    align-items: center;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  &__photo-one {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    background-image: url(../images/people/1.jpg);
    background-position: center;
    background-size: cover;
  }

  &__photo-two {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    background-image: url(../images/people/2.jpg);
    background-position: center;
    background-size: cover;
  }

  &__photo-three {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    background-image: url(../images/people/3.jpg);
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin-top: 28px;
  }

  &__duty {
    color: #9fadc2;
    margin-top: 4px;
  }

  &__description {
    color: #3e3e3e;
    line-height: 27px;
    margin-top: 4px;
    text-align: center;
  }
}

