.testimonials {
  display: flex;
  justify-items: center;
  align-items: center;

  &__content {
    display: grid;
    gap: 48px;

    @include onTablet {
      flex-direction: column;
    }

    @include onDesktop {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }
  }
}
