.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  text-align: center;
  padding-bottom: 215px;

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    padding-bottom: 8px;
  }

  &__logo {
    height: 19px;
    width: 23px;
    margin: 0 auto 61px;
    background-image: url(../images/crown.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: space-between;
    // align-items: center;
    // justify-items: center;

  }

  &__card {
    display: grid;
    justify-items: center;
  }

  &__img {
    height: 153px;
    width: 153px;
    border-radius: 50%;
  }

  &__name {
    padding-top: 28px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
  }

  &__position {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    padding-top: 4px;
  }

  &__about-person {
    font-size: 16px;
    line-height: 27px;
    padding-top: 4px;
  }
}
