.testimonial {

  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    margin-bottom: 28px;

    @include onDesktop {
      margin-bottom: 32px;
    }
  }

  &__photo {
    width: 100%;
    grid-column: 2 / 4;
    border-radius: 50%;
    transition: transform 0.3s;

    @include onDesktop {
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      }
    }
  }

  &__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: $color-blue;
    transition: text-shadow 0.3s;

    &:hover {
      text-shadow: 0.5px 0.5px 10px rgba(0, 117, 255, 0.46);
    }
  }

  &__role {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #9fadc2;
  }

  &__about {
    text-align: center;
  }
}
