.testimon {
  margin: 64px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;
  }

  &__crown {
    width: 23px;
    height: 16px;
    background-image: url(../images/crown.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__wrapper {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 48px;
    column-gap: 150px;
  }

  &__people {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 28px;
    transition-duration: 1s;
    transition-property: transform;
  }

  &__img:hover {
    transform: scale(1.2);
  }

  &__name {
    text-align: center;
    color: #0075ff;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  &__prof,
  &__descript {
    margin: 4px 0 13px;
    color: #9fadc2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
  }

  &__descript {
    margin: 0;
    text-align: center;
    color: #3e3e3e;
    font-size: 16px;
  }

  @media (min-width: 760px) {
    & {
      margin-top: 152px;
    }

    &__wrapper {
      margin-top: 72px;
      max-width: 1000px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__prof {
      margin: 4px 0;
    }
  }
}
