.testimonial-card {
  text-align: center;

  &__img {
    height: 153px;
    width: 153px;
    border-radius: 50%;
    margin-bottom: 28px;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__position {
    margin: 4px 0 13px;
  }
}

.testimonial-card__name {
  @extend %main-link-style;
}
