.text-input {
  box-sizing: border-box;
  min-width: 280px;
  width: 100%;
  background-color: #f7f8ff;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  padding: 14px;

  &:hover {
    border: 2px solid #ccd0e0;
  }

  &:focus {
    border: 2px solid $main-color;
  }
}
