.text {
  &__link {
    color: $c-blue;
    transition-duration: $duration;
    transition-timing-function: ease-in;

    &:hover {
      color: $c-blue-hover;
      text-shadow: 0 5px 10px rgba(0, 83, 181, 0.28);
    }
  }
  
  &__info {
    &-title {
      color: $c-blue;
      margin-bottom: 16px;
    }

    &-paragraph {
      font-weight: 700;
    }
  }
}
