.text-content {
  display: flex;
  justify-content: space-between;
  padding-top: $section-padding-top;

  &__title {
    @extend %section-title-font-styles;
    color: $section-title-color;
  }

  &__link {
    color: $theme-color-blue;
    text-decoration: none;
  }

  &__paragraphs-text-bold {
    font-weight: bold;
  }
}
