.text {
  color: $white-color;

  &__h2 {
    @extend %h2;
    margin: 0 0 48px;

    &--special {
      text-align: left;
      margin: 0 0 30px;
    }

    @include OnTablet {
      font-size: 48px;
      margin-bottom: 0;
    }

    @include OnDesktop {
      font-size: 64px;
      margin-bottom: 0;
    }

    &--details {
      margin-bottom: 48px;

      @include OnTablet {
        margin-bottom: 64px;
      }

      @include OnDesktop {
        margin-bottom: 48px;
      }
    }

    &--contact-us{
      margin-bottom: 48px;
    }
  }

  &__first-section {
    @extend %text-first-section;
  }

}
