.text {
  &--sans-serif {
    display: block;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  &--red {
    color: $secondary;
    font-size: 12px;
    line-height: 140%;
    font-weight: bold;
  }

  &--bold {
    font-weight: bold;
  }

  &--small {
    font-size: 14px;
  }

  &--extra-small {
    font-size: 14px;
    line-height: 20px;
  }
}
