.the-details {

  &__title {
    text-align: center;
    font-size: 32px;
    letter-spacing: -1.5px;
    margin-bottom: 48px;
    font-weight: 500;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }
}
