.the-bike {
  &__details {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 48px;
      }

      @include onDesktop {
        margin-bottom: 48px;
      }
    }
  }
}
