.details {
  display: grid;
  grid-template-columns: repeat(2, 1f);
  column-gap: 24px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
  
  &__photo {
    width: 130px;
    height: 130px;
  }

  &__photo--1 {
    grid-column: 2 / 3;
  }
  &__photo--1 {
    @include onTablet {
      grid-column: 2 / 9;
      width: 392px;
      height: 187px;
    }
  }

  &__photo--2 {
    grid-column: 4 / 5;
  }

  &__photo--2 {
    @include onTablet {
      grid-column: 10 / 13;
      width: 184px;
      height: 187px;
    }
  }

  &__title {
    display: block;
    color: $text-white;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 1px;
    grid-column: 2 / 5;
    padding: 16px 151px 8px 0;
    margin: 0;
  }

  &__paragraf {
    display: block;
    color: $text-white;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    grid-column: 2 / 5;
    padding: 0 0 40px;
    margin: 0;

    @include onTablet {
      grid-column: 2 / 13;
    }

    @include onDesktop {
      grid-column: 2 / 17;
    }
  }
}