.third-section {
  @extend %container;

  &__heading {
    margin-bottom: 69px;
    @extend %centr-heading;

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__decor-icon {
    @extend %decor-icon;
  }

  &__testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;

    @media (max-width: 700px) {
      grid-template-columns: auto;
      gap: 48px;
    }
  }
}
