.time-and-days {
  display: flex;
  margin-bottom: 16px;

  &__time {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
  }

  &__days {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 8px;
    color: $black;

    &--time {
      font-weight: bold;
      color: $black;
    }
  }
}