.time {
  display: flex;
  align-items: center;

  &__hours {
    font-weight: 700;
    color: $main-dark-color;
    margin-right: 25px;

    &--closed {
      margin-right: 57px;

      &-L {
        margin-right: 82px;
      }
    }
  }
}
