.timetable {
  &__item {
    &:first-child {
      margin-bottom: 24px;
    }

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $black;

      margin-bottom: 16px;
    }
  }

  &__list {
    display: flex;
    gap: 25px;

    margin-bottom: 16px;
  }

  &__time {
    line-height: 27px;
    font-weight: 700;

    color: $black;
  }

  &__days {
    line-height: 27px;

    color: $black;
  }

  &__holidays {
    color: $black;
    line-height: 27px;
  }

  &__closed {
    display: block;

    line-height: 27px;
    font-weight: 700;
  }
}
