.timetable {
  
  &__subtitle {
    margin-top: 32px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: $colorBlack;

    &--new {
      margin-top: 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }

    @include onTablet {
      margin-top: 0;
    }
  }

  &__work {
    margin-top: 16px;
    display: flex;
    align-items: center;

    @include onTablet {
      margin-top: -50px;
    }

    &--new {
      margin-top: 10px;
      display: flex;
      align-items: center;
    }

    &--time {
      font-size: 16px;
      line-height: 27px;
      font-weight: 700;
      color: $colorBlack;

      &--new {
        font-size: 16px;
        line-height: 27px;
        font-weight: 700;
        color: $colorBlack;
      }

      @include onDesctop {
        margin-top: 30px;
      }
    }
 
    &--days {
      margin-left: 25px;
      font-size: 16px;
      line-height: 27px;
      color: $colorBlack;

      &--new {
        margin-left: 25px;
        font-size: 16px;
        line-height: 27px;
        color: $colorBlack;
      }

      @include onDesctop {
        margin-top: 30px;
      }
    }
  }

  &__closed {
    margin-top: 16px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    color: $colorBlack;

    &--data {
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
    }
  }
}
