.title {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  text-transform: capitalize;
  padding-top: 92px;
}
