.title-crown {
  position: relative;
  margin-bottom: 53px;
  text-align: center;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1.5px;

  transition: font-size 0.2s linear, margin 0.2s linear;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, 100%);
    width: 23px;
    height: 16px;

    background-image: url("../images/icons/crown.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: 1024px) {
    margin-bottom: 61px;
    font-size: 48px;
    line-height: 48px;
  }
}
