.title {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  /* or 32px */

  letter-spacing: -1.5px;

  color: #292929;

  &--primary {
    &::before {
      content: "";
      display: block;
      left: 20px;
      margin-bottom: 16px;
      width: 32px;
      height: 27px;
      background-image: url(/images/waves.svg);
      background-size: cover;
    }
  }

  &--section {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* or 100% */
    padding: 120px 20px 48px;

    text-align: center;
    letter-spacing: -1.5px;

    color: #292929;
  }

  &__customer {
    padding: 120px 20px 32px;
  }
}
