.title-label {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/audio-line-mobile.svg);
  height: 42px;
  width: 42px;

  @include onTablet {
    height: 63px;
    width: 76px;
    background-image: url(../images/Sound-waves.png);
  }

  @include onDesktop {
    height: 63px;
    width: 76px;
    background-image: url(../images/Sound-waves.png);
  }
}
