@import "../utils";

.title-section {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    letter-spacing: -1.5px;

    @media (min-width: 1024px) {
      font-size: 48px;
      line-height: 48px;
    }
    &::after {
      content: "";
      display: block;

      margin: 0 auto;

      @include square(23px, 16px);

      background-image: url(../images/crown.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

}
