@import "../utils/vars";

.title {
  /* layout */
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;

  /* typography */
  color: #fff;
  text-align: center;
  font-family: $font-family-cinzel;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;

  &--secondary {
    color: #161616;
    font-family: $font-family-cinzel;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.5px;
  }

  &--fifth {
    color: $font-color-h5;
    font-family: $font-family-cinzel;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
}
