.title {
    margin: 0;
    color: $text-white;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    padding: 0 20px 48px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
      padding: 120px 176px 64px;
    }
  
    @include onDesktop {
      font-size: 64px;
      line-height: 64px;
      padding: 144px 381px 48px;
    }
  }