.title {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: white;
  text-align: left;

  &--secondary {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
  }

  &--third {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
  }

  &--center {
    text-align: center;
  }
}