.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 104px;

  &__text {
    letter-spacing: -1.5px;
  }

  &__icon {
    width: 23px;
    height: 16px;
  }
}

@media (max-width: 550px) {
  .title {
    padding-top: 64px;

    &__text {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
