.top-row {
  display: grid;
  grid-template-columns: 1fr auto;

  &__logo {
    display: flex;
    align-items: center;
    width: 130px;

    @include onTablet {
      width: 190px;
    }
  }

  &__logo-image {
    max-width: 100%;
  }
}
