.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    --icon--size: 18px;
    display: grid;

    @include onIpad {
      --icon--size: 24px;
    }

    &--header {
      grid-template-columns: var(--icon--size) var(--icon--size);
      gap: 30px;

      @include onIpad {
        gap: 40px;
      }
    }

    &--menu {
      grid-template-columns: var(--icon--size);
    }
  }
}
