.top-menu {
  --gridColumn: 24px;
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-columns: 1fr var(--gridColumn) var(--gridColumn);
  column-gap: 24px;

  @include onMobile {
    --gridColumn: 18px;
    column-gap: 20px;
  }
}
