.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;

  @include onTablet {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__logo {
    display: flex;

    @include logoSize;
    @include hover(transform, scale(1.2));
  }
}


