.top-actions {
  display: grid;
  grid-template-columns: 1fr $size-icon-min $size-icon-min;
  justify-content: space-between;
  justify-items: start;
  align-items: center;
  gap: 27px;
  margin-bottom: 54px;

  @media screen and (min-width: 744px) {
    grid-template-columns: 1fr $size-icon-max $size-icon-max;
  }
}
