.top-actions {
  --icone-width: 18px;
  
  display: grid;
  grid-template-columns: var(--icone-width) 1fr var(--icone-width);
  justify-items: center;
  align-items: center;
  
  @include onDesktop {
    --icone-width: 24px;
  }
}
