.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 34px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.05));

    @include onTablet {
      height: 56px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include onTablet {
      gap: 34px;
    }
  }
}
