.top-bar {
  padding-block: 24px;
  @include contentPaddingInline;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 64px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;

    @include hover(transform, scale(1.2));
  }

  &_logo {
    height: 16px;

    @include onTablet {
      height: 24px;
    }
  }
}
