.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.icon-menu {
  @include displayBlock;
  @include no-repeat;

  height: 18px;
  width: $icon-size;
  background-position: center;
  background-size: cover;

  @include SmartPhone() {
    height: 12px;
    width: 18px;
  }
}
