.top-actions {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: $icon 1fr $icon;

  @include onDesktop {
    $icon: 24px;
    grid-template-columns: $icon 1fr $icon;
  }
}
