.top-menu {
  --iconSize: 18px;

  margin: 0 3px;
  display: grid;
  grid-template-columns: var(--iconSize) 1fr var(--iconSize);
  justify-items: center;
  align-items: center;
  animation: testim-last 1s ease-in 0s 1;

  @keyframes testim-last {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  @include onDesktop {
    --iconSize: 24px;
  }
}
