.top-menu {
  display: grid;
  grid-template-columns: 1fr 18px;
  align-items: center;

  &--header {
    display: grid;
    grid-template-columns: 1fr 18px 18px;
    column-gap: 30px;
    align-items: center;

    @include onTablet {
      column-gap: 40px;
    }
  }
}
