.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 30px;

    @include onTablet {
      margin-right: 55px;
    }

    @include onTablet {
      margin-right: 59px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
