.top-nav {
  --icon-wigth: 18px;
  padding: 25px 3px 0;

  display: grid;
  grid-template-columns: var(--icon-wigth) 1fr var(--icon-wigth);
  justify-content: space-between;
  justify-items: center;
  align-items: center;

  @include onDesctop() {
    --icon-wigth: 24px;
  }
}
