.top-actions {
  --icon-width: 18px;

  display: grid;
  grid-template-columns: 1fr var(--icon-width) var(--icon-width);
  gap: 30px;
  justify-content: space-between;
  align-items: center;

  @include onDesktop {
    --icon-width: 24px;
    gap: 40px;
  }
  
  @include onTablet {
    --icon-width: 24px;
    gap: 40px;
  }
}
