.top__content {
  box-sizing: border-box;
  height: 100vh;
  padding: 29px 20px 88px;

  @include onDesktop {
    padding: 36px 120px 203px;
  }

  @include onIpad {
    padding: 34px 72px 130px;
  }
}
