@import "../utils/vars";
@import "../utils/mixins";

.top-action {
  @include universalFlex (flex, row, unset, center);

  &__icon {
    width: $iconSmall;
    height: $iconSmall;

    @include onTablet {
      width: $iconBig;
      height: $iconBig;
    }
  }
}
