.top-actions {
  --icon-width: 18px;
  display: grid;
  grid-template-columns: 1fr var(--icon-width) var(--icon-width);
  gap: 27px;
  justify-items: space-between;
  align-items: center;

  @include onTablet() {
    --icon-width: 24px;
    gap: 60px;
  }
}
