.top-items {
  display: grid;
  grid-template-columns: 1fr repeat(2, $icon-size);
  grid-template-rows: $icon-size;
  gap: 0 30px;
  justify-content: flex-start;

  padding-top: 40px;

  @include onTablet {
    padding-top: 52px;
  }

  @include onTablet {
    $icon-size: 24px;
    grid-template-columns: 1fr repeat(2, $icon-size);
    grid-template-rows: $icon-size;
    gap: 0 40px;
  }
}
