.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__icons-container {
    display: flex;
    gap: 30px;

    @include onTabletAndDesktop {
      gap: 40px;
    }
  }
}
