.top {
  box-sizing: border-box;
  height: 100vh;
  padding: 29px 20px 88px;

  @include onSmallDesktop {
    padding: 34px 72px 130px;
  }

  @include onBigDesktop {
    padding: 36px 120px 203px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    &--image {
      height: 38px;
  
      @include onSmallDesktop {
        height: 56px;
      }
    }
  }
}
