.top {
  @include screenUp744 {
    --hight-top: 24px;
  }

  display: flex;
  justify-content: space-between;
  height: var(--hight-top);

  &__right {
    display: flex;
    justify-content: flex-end;
    align-content: center;
  }

  &__tel {
    display: flex;
    &--number {
      display: inline;
      margin-right: 30px;
      text-decoration: none;
      font-weight: 700;
      font-size: 12px;
      line-height: var(--hight-top);
      letter-spacing: 2px;
      width: max-content;
      text-align: center;
      color: $main-font-color;
      opacity: 0;
    }
    &--icon {
      width: var(--hight-top);
      height: var(--hight-top);
      padding-right: 30px;
      cursor: pointer;
      @include screenUp744 {
        padding-right: 40px;
      }
    }
    @include screenUp1260 {
      &:hover &--number {
        opacity: 1;
      }
    }
  }

  &__menu {
    width: var(--hight-top);
    height: var(--hight-top);
    &--background {
      &--open {
        background-image: url(../images/icon-open.svg);
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          background-image: url(../images/icon-hover.svg);
        }
      }
      &--close {
        background-image: url(../images/icon-close.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
