.top__actions {
  $icon-width: 18px;

  display: grid;
  grid-template-columns: 1fr $icon-width $icon-width;
  align-items: center;

  gap: 30px;

  @include onTablet {
    gap: 40px;
    $icon-width: 24px;
  }
}
