.top-actions {
  display: flex;
  justify-content: space-between;

  &__controls {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  &__call-icon {
    height: 24px;
    width: 24px;
    margin-right: 24px;

    @extend %font-poppins-bold;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #292929;

    @include onTablet {
      margin-right: 40px;
    }

    @include onDesktop {
      &:hover::before {
        content: "+1 234 555-55-55";
        position: relative;
        top: 50%;

        display: block;
        width: max-content;
        padding-right: 12px;
        opacity: 1;

        transform: translate(-100%, -50%);
      }
    }
  }

  &__menu-opener {
    height: 24px;
    width: 24px;
  }
}
