@use '../utils/mixins' as *;

.turntable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#FCFAEF;

  &__photo {
    background-image: url('../images/photos/turntable.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 320px;
    margin-top: 80px;

    @include for-tablet {
      background-image: url('../images/photos/turntable-medium.jpg');
      height: 400px;
      width: 744px;
    }

    @include for-desktop {
      background-image: url("../images/photos/turntable-large.jpg");
      height: 460px;
      width: 1260px;
    }
  }
}
