.turntable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  background-color:#FCFAEF;
  ;

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.15px;
  }
}
