@use "../utils/mixins" as *;

.turntable {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfaef;

  &__photo {
    background-image: url("../images/photos/turntable.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 200px;
    width: 100%;
    margin-top: 0;

    @include for-tablet {
      background-image: url("../images/photos/turntable-medium.jpg");
      height: 400px;
      width: 100%;
    }

    @include for-desktop {
      background-image: url("../images/photos/turntable-large.jpg");
      height: 460px;
      width: 100%;
    }
  }
}
