.type {
  &__photos {
    margin-bottom: 16px;
  }

  &__photo {
    background-position: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform 500ms;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link {
    display: block;
    width: max-content;
    text-decoration: none;
    font-weight: 700;
    line-height: 140%;
    color: $c-general;
  }
}
