.types-product {
  margin-bottom: 40px;

  @include onTablet {
    margin-bottom: 64px;
  }

  &__images {
    margin-bottom: 16px;
  }

  &__image {
    height: 130px;
    width: 100%;
    cursor: pointer;
    
    @include onTablet {
      height: 187px;
    }
   
    @include onDesktop {
      height: 321px;
    }

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;
    cursor: pointer;

    @include onTablet {
      font-size: 24px;
      line-height: 34px;
    }
  }

}
