@import "../utils/_mixins.scss";

.title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 64px;
  letter-spacing: -1.5px;
  color: #fff;

  @include onIpad {
    font-size: 48px;
  }

  @include onDesktop {
    font-size: 64px;
  }
}

.small-title {

  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

.text {
  font-weight: 400;
  font-size: 16px;
}
