.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: $standart-ident * 4;

  &:last-child {
    margin-bottom: 0;
  }

  @include onDesctop {
    margin-bottom: 0;
  }

  &__img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;

    margin-bottom: 28px;

    transition: $transition-limit;

    &:hover {
      transform: scale(1.1);
    }

    @include onDesctop {
      margin-bottom: $standart-ident * 4;
    }
  }
  &__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    margin-bottom: 4px;
  }
  &__job {
    font-size: 14px;
    font-weight: 400;
    color: rgb(159, 173, 194);

    margin-bottom: 13px;
  }
}
