.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  &__infoblock {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__numbers {
    text-align: right;
    color: #fff;
    padding-right: 20px;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__call {
    @extend %link;
    text-align: right;

    @include onDesktop {
      &:hover {
        transition: all 0.5s;

        &::before {
          content: "The Met Fifth Avenue \A +1 212-535-7710";
          display: block;
          width: max-content;
          white-space: pre;
          transform: translate(-100%, -50%);
          padding-right: 20px;
          margin-bottom: 8px;
        }

        &::after {
          content: "The Met Cloisters \A +1 212-923-3700";
          display: block;
          width: max-content;
          white-space: pre;
          padding-right: 20px;
          transform: translate(-100%,-50%);
        }
      }
    }
  }
}
