:root {
  --primary-color: #1d1d1d;
  --secondary-color: #fff;
  --hover-color: rgb(0 255 255);
  --font-family: "Poppins", sans-serif;
  --font-size-medium: 16px;
  --margin-small: 10px;
  --box-padding: 20px;
  --max-width: 1300px;
  --font-weight: 500;
}
