.vertical-lines {
  display: none;
  align-items: center;
  padding-bottom: 40px;

  @include onTablet {
    display: flex;
  }

  &__line {
    width: 3px;
    border-radius: 2px;
    background-color: $primary-color;
    margin-right: 3px;
  }

  &__line--height-10px {
    height: 10px;
  }

  &__line--height-20px {
    height: 20px;
  }

  &__line--height-22px {
    height: 22px;
  }

  &__line--height-26px {
    height: 26px;
  }

  &__line--height-30px {
    height: 30px;
  }

  &__line--height-32px {
    height: 32px;
  }

  &__line--height-44px {
    height: 44px;
  }

  &__line--height-64px {
    height: 64px;
  }

  &__line--height-76px {
    height: 76px;
  }
}
