.view {
  &__title {
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;
    margin-bottom: 8px;

    @include tablet {
      font-size: 48px;
    }
  }

  &__description {
    display: block;
    max-width: 352px;
    margin: 0 auto 48px;

    @extend %description;
    text-align: center;
  }

  &__button {
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 140px;
    }
  }
}
