.view {

  &__paragraph {
    margin-bottom: 48px;
    font-weight: 400;

    &:last-of-type {
      margin-bottom: 40px;
    }

    &--title {
      text-align: center;
    }

    &--important {
      margin-bottom: 0;
      font-weight: bold;
      color: $red-met;
    }
  }
}
