.visit-time {
  &__pre-subtitle {
    font-weight: $font-weight-bold;
    font-size: 12px;
    line-height: 140%;
    color: $primary-color;
  }

  &__first-museum {
    &:first-child {
      margin-bottom: 24px;
    }
  }

  &__subtitle-hours {
    margin-bottom: 32px;
    font-weight: $font-weight-bold;
    font-size: 32px;

    @include min-w($tablet) {
      font-size: 48px;
      letter-spacing: -1.5px;
    }
  }

  &__subtitle {
    margin-bottom: 16px;
    font-size: 24px;
  }

  &__hours {
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
  }

  &__wrapper {
    margin-bottom: 16px;
    display: flex;
    gap: 24px;
  }

  &__text:not(:last-child) {
    margin-bottom: 8px;
  }
}
