.visit-time {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 32px;
  }

  &__smaller-title {
    color: $acc-color;
    font-size: 12px;
    font-weight: 700;
  }

  &__bigger-title {
    font-size: 32px;
  }
}
