.visit-time {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 32px;
  }

  &__smaller-title {
    color: $acc-color;
    font-size: 12px;
    line-height: 17px;
    font-weight: 700;
  }

  &__bigger-title {
    font-size: 32px;
  }

  @media (min-width:744px) {
    display: grid;
    align-items: top;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 140px;

    &__bigger-title {
      // width: 250px;
      font-size: 48px;
      line-height: 48px;
    }
  }
}
