.why-buy {
  color: $c-font-main;

  &__title {
    text-align: left;
  }

  &__list {
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 40px;
  }

  &__list-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }

  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 110px;
  }
}
