.why-buy {

  &__title {
    margin-bottom: 32px;
    text-align: left;
  }

  &__advantages {
    display: block;
    margin-bottom: 40px;

    font-weight: 700;
    line-height: 2.3;
  }

  &__promise {
    line-height: 27px;
  }
}
