.why-us {
  &__list {
    list-style: none;
    margin-bottom: 40px;
  }

  &__item {
    font-size: 16px;
    line-height: 140%;
    padding-bottom: 16px;

    &:last-child {
      padding: 0;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
