.why-buy {
  width: 100%;

  &__wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__content {
    margin: 0 auto;
    width: 288px;

    &-question {
      text-align: left;
      border: 5px solid red;
    }
  }
}
