.why-buy-direct {

  &__advantages {
    list-style: none;
    padding-bottom: 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    color: $main-color;

    &:last-child {
      padding-bottom: 40px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: $main-color;
  }
}
