.why-bose {
  &__title {
    margin: 0 0 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $main-text-color;

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__benefits {
    margin-bottom: 40px;
  }

  &__item {
    display: block;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-text-color;
  }
}
