.why-buy-from-us {
  display: grid;
  gap: $gap-common;

  @include onTablet {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }

  @include onDesktop {
    grid-template-columns: 5fr 7fr;
  }

  &__title {
    margin-bottom: 0;
    text-align: left;
  }

  &__description {
    @include onTablet {
      flex: 3;
    }

    @include onDesktop {
      flex: 7;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    font-weight: 700;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__paragraph {
    line-height: 27px;
  }
}
