.why {
  display: flex;
  flex-wrap: wrap;
  padding: 8rem 0;
  gap: 1.5rem;
  max-width: 280px;

  &__reason {
    line-height: 140%;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  @include devices("tablet") {
    max-width: none;
    &__header {
      width: 50%;
    }
    &__reasons {
      width: 40%;
    }
  }
  
  &__reason:last-of-type {
    margin-bottom: 2rem;
  }
}
