.why {
  &__reasons {
    margin-bottom: 40px;
  }

  &__reason {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #292929;

    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #292929;
  }
}
