.why {
  &__title {
    text-align: start;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin-bottom: 16px;

    font-weight: 700;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__paragraph {
    line-height: 27px;
  }
}
