.whybuy {
  &__title {
    margin: 0 0 32px;

    font-weight: 700;
    @extend %fontBig;
    letter-spacing: -1.5px;
    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    font-weight: 700;
    line-height: 140%;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
