.section-timeInfo {
  font-family: "Cinzel", "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 27px;
  color: $color-main-dark;
}

.worktime {
  display: flex;

  &__time {
    padding: 0;
    margin: 8px 0;

    &-text {
      font-weight: 700;
    }
  }

  &__day {
    margin: 8px auto 8px 24px;

    &-text {
      font-weight: 400;
    }
  }
}

.close {

  &__time-text {
    font-weight: 700;
  }

  &__day-text {
    font-weight: 400;
  }
}
