.working-hours {
  font-size: 16px;
  line-height: 27px;
  color: $colorDark;
 
  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 16px;
  }

  &__info {
    display: flex;
    column-gap: 24px;
    margin: 0 0 16px;
    flex-wrap: wrap;
  }

  &__hours {
    margin: 0 0 8px;
    font-weight: bold;
  }

  &__holidays {
    margin: 0 0 24px;
    display: block;
    width: max-content;

    &--last {
      margin: 0;
    }
  }

  &__day {
    margin: 0 0 8px;
  }
}
