.work {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include onDesktop {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  &__semi-title {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;

    color: $colorRed;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;

    letter-spacing: -1.5px;

    color: $mainBlack;
  }

  &-time {
    display: flex;

    &__time {
      padding-right: 25px;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;

      color: $mainBlack;
    }

    &__day {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;

      color: $mainBlack;
    }
  }
}
