.work-days {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #161616;

  &:not(:last-child) {
    padding-bottom: 24px;
  }

  &__time {
    display: inline-block;
    padding-right: 25px;

  }

  &__days {
    display: inline-block;
    font-weight: 400;
  }

  &__closed {
    font-weight: 400;
  }

  &__closed-title {
    padding-top: 8px;
  }
}
