.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $menu-color;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;

    &:target {
      transform: translateX(0);
    }
  }

  &__footer {
    margin-top: 120px;

    @include tablet() {
      margin-top: 100px;
    }
  }
}
