.header-wrapper {
  position: relative;
  background-image: url("/images/mobile__header-image.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-width: 321px) {
    background-image: url("/images/tablet__header-image.png");
  }

  @include tablet-screen {
    background-image: url("/images/desktop__header-image.png");
  }
}

.main-wrapper {
  background-color: $main-bg-clr;
  display: flex;
  justify-content: center;
}
