.send-message-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-row-gap: 16px;

  %form-field-style {
    padding: 14px 17px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    background-color: #f7f8ff;
    border: 2px solid transparent;
    box-sizing: content-box;
  }

  %hover-target {
    &:hover {
      border: 2px solid #ccd0e0;
    }
    &:focus {
      border: 2px solid #0075ff;
    }
  }

  %placeholder {
    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      font-family: "Roboto", sans-serif;
      color: #8f99a8;
      font-weight: normal;
    }
  }

  &__name {
    @extend %form-field-style;
    @extend %hover-target;
    @extend %placeholder;

  }

  &__email {
    @extend %form-field-style;
    @extend %hover-target;
    @extend %placeholder;
  }

  &__text {
    @extend %form-field-style;
    @extend %hover-target;
    @extend %placeholder;
    margin-bottom: 16px;
  }

  &__send-button {
    background-color: $c-blue;
    color: $c-white;
    padding: 21px 0;
    text-align: center;
  }
}
