.page {
  scroll-behavior: smooth;
  font-family: poppins, sans-serif;
}
.page__body {
  margin: 0;
  background-color: #1d1d1d;
}
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s;
}
.page__menu:target {
  transform: translateX(0%);
}
.page__section {
  margin-bottom: 80px;
}
.page__section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
.grid__item {
  width: 100%;
  grid-column: 1/3;
}
.grid__item--1-1 {
  grid-column: 1/2;
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-7 {
    grid-column: 1/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-8 {
    grid-column: 1/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-9 {
    grid-column: 1/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-10 {
    grid-column: 1/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-1-11 {
    grid-column: 1/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-7 {
    grid-column: 2/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-8 {
    grid-column: 2/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-9 {
    grid-column: 2/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-10 {
    grid-column: 2/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-2-11 {
    grid-column: 2/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-7 {
    grid-column: 3/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-8 {
    grid-column: 3/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-9 {
    grid-column: 3/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-10 {
    grid-column: 3/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-3-11 {
    grid-column: 3/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-4-7 {
    grid-column: 4/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-4-8 {
    grid-column: 4/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-4-9 {
    grid-column: 4/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-4-10 {
    grid-column: 4/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-4-11 {
    grid-column: 4/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-5-7 {
    grid-column: 5/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-5-8 {
    grid-column: 5/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-5-9 {
    grid-column: 5/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-5-10 {
    grid-column: 5/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-5-11 {
    grid-column: 5/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-6-7 {
    grid-column: 6/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-6-8 {
    grid-column: 6/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-6-9 {
    grid-column: 6/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-6-10 {
    grid-column: 6/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-6-11 {
    grid-column: 6/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-7-7 {
    grid-column: 7/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-7-8 {
    grid-column: 7/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-7-9 {
    grid-column: 7/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-7-10 {
    grid-column: 7/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-7-11 {
    grid-column: 7/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-8-8 {
    grid-column: 8/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-8-9 {
    grid-column: 8/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-8-10 {
    grid-column: 8/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-8-11 {
    grid-column: 8/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-9-9 {
    grid-column: 9/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-9-10 {
    grid-column: 9/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-9-11 {
    grid-column: 9/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-10-10 {
    grid-column: 10/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-10-11 {
    grid-column: 10/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--desktop-11-11 {
    grid-column: 11/12;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .grid__item--pad-5-5 {
    grid-column: 5/6;
  }
}
.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 0 90px;
  box-sizing: border-box;
  height: 100vh;
}
@media (min-width: 1024px) {
  .header__content {
    padding: 36px 0 125px;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .header__content {
    padding: 36px 0 130px;
  }
}
@media (min-width: 1024px) {
  .header__phone::before {
    content: "+1 234 555-55-55";
    display: block;
    position: absolute;
    top: 50%;
    width: max-content;
    height: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #292929;
    transform: translate(-100%, -50%);
    padding-right: 12px;
    opacity: 0;
    transition: 200ms;
    pointer-events: none;
  }
  .header__phone:hover::before {
    opacity: 1;
    pointer-events: all;
  }
}
.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #1d1d1d;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 80px;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .header__title {
    font-size: 64px;
  }
}

.conteiner {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;
}
@media (min-width: 599px) and (max-width: 1024px) {
  .conteiner {
    max-width: 600px;
  }
}

.top-actions {
  --icon-width: 18px;
  display: grid;
  grid-template-columns: 1fr var(--icon-width) var(--icon-width);
  align-items: center;
  gap: 30px;
}
@media (min-width: 1024px) {
  .top-actions {
    --icon-width: 24px;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .top-actions {
    --icon-width: 24px;
  }
}

.logo {
  width: 130px;
  height: 38px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1024px) {
  .logo {
    height: 56px;
    width: 187px;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .logo {
    height: 56px;
    width: 187px;
  }
}

.icon {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}
.icon--menu-open {
  background-image: url(../images/menu.svg);
}
.icon--menu-open:hover {
  background-image: url(../images/hover.svg);
}
.icon--phone {
  background-image: url(../images/phone.svg);
}
.icon--cross {
  background-image: url(../images/cross.svg);
  width: 89%;
  padding-bottom: 89%;
  transition: transform 0.3s;
}
.icon--cross:hover {
  transform: rotate(90deg);
}
.icon--column--3 {
  grid-column: 3;
}

.menu {
  background-color: #c2c2c2;
}
.menu__top {
  margin-bottom: 44px;
}
.menu__content {
  height: 100vh;
  box-sizing: border-box;
  padding: 28px 0 90px;
}
.menu__list {
  list-style: none;
  margin: 0 0 32px;
  padding: 0;
}
.menu__item {
  margin-bottom: 24px;
}
.menu__item:last-child {
  margin-bottom: 0;
}
.menu__link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #1d1d1d;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
}
.menu__link:hover {
  border-bottom: 1px solid #1d1d1d;
}
.menu__call {
  display: block;
  width: max-content;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 700;
  color: #1d1d1d;
}
.menu__call--phone {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
}
.menu__call--book {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 8px;
  letter-spacing: 2px;
  border-bottom: 1px solid #1d1d1d;
}

.footer {
  background-image: url(../images/footer.jpg);
  height: 200px;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=out.css.map */
