@charset "UTF-8";
h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* poprawiona kolejność i oddzielona linia */
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.title {
  font-family: Cinzel, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  text-align: center;
  letter-spacing: -1.5px;
  vertical-align: middle;
}
.title--secondary {
  font-family: Cinzel, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #161616;
  margin-bottom: 32px;
  text-align: left;
  letter-spacing: -1.5px;
}
.title--third {
  font-family: Cinzel, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #161616;
  margin-bottom: 16px;
  text-align: left;
  letter-spacing: 0;
}
.title--section {
  font-family: Cinzel, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #161616;
  text-align: center;
  letter-spacing: -1.5px;
}
.title__highlight {
  font-family: Cinzel, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
  color: #D12D35;
  letter-spacing: 0;
}

.header {
  background-color: royalblue;
  background-image: url(../../src/images/photos/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px 288px;
  box-sizing: border-box;
}

.main {
  padding: 100px 20px;
}
.main__open {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 16px;
  color: #161616;
}
.main__open--hours {
  display: flex;
  flex-direction: column;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
}
.main__open--days {
  display: flex;
  flex-direction: column;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
}
.main__closed {
  margin-bottom: 24px;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
}
.main__closed--on {
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}
.pictures--wide {
  grid-template-columns: repeat(2, 1fr);
}
.pictures__item {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.article__paragraph {
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  color: #161616;
}
.article__highlight {
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  color: #D12D35;
}

.button {
  display: block;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  background-color: #D12D35;
  height: 56px;
}

.explore__description {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  color: #161616;
  text-align: center;
}

body {
  background: #eee;
}

/*# sourceMappingURL=styles.css.map */
