.page {
  line-height: 140%;
  scroll-behavior: smooth;
}
.page__body {
  background-color: #1d1d1d;
  min-width: 320px;
  margin: 0;
}
.page__body--with-menu {
  overflow: hidden;
}
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.6s;
  transform: translateX(-100%);
  pointer-events: none;
}
.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.header {
  background-image: url("./src/images/photos/header-mobile.png");
  background-size: cover;
  background-position: right;
}
@media (min-width: 576px) {
  .header {
    background-image: url("./src/images/photos/header-tablet.png");
  }
}
@media (min-width: 1024px) {
  .header {
    background-image: url("./src/images/photos/header.png");
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  grid-column: 1/-1;
}
.header__title {
  margin: 0;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: #fff;
}
@media (min-width: 576px) {
  .header__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -1.5px;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.5px;
    text-align: center;
  }
}
.header__bottom {
  padding-bottom: 88px;
}
@media (min-width: 576px) {
  .header__bottom {
    padding-bottom: 130px;
  }
}
@media (min-width: 1024px) {
  .header__bottom {
    padding-bottom: 203px;
  }
}

.header-top {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  .header-top {
    padding-block: 36px;
  }
}
.header-top__icons {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-top__logo-link {
  display: flex;
}
.header-top__logo {
  width: 130px;
  height: 38px;
  transition: transform 0.6s;
  transition: transform 0.3s;
}
.header-top__logo:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .header-top__logo {
    width: 187px;
    height: 56px;
  }
}

.icon {
  display: block;
  background-position: center;
  background-size: cover;
}
.icon__tooltip {
  display: none;
}
@media (min-width: 576px) {
  .icon__tooltip {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: max-content;
    padding-right: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
  }
}
.icon:hover .icon__tooltip {
  opacity: 1;
  pointer-events: all;
}
.icon--phone {
  height: 18px;
  width: 18px;
  background-image: url("./src/images/phone.svg");
  transition: transform 0.6s;
  transition: transform 0.3s;
}
.icon--phone:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .icon--phone {
    height: 24px;
    width: 24px;
  }
}
.icon--menu {
  align-items: center;
  height: 12px;
  width: 18px;
  background-image: url("./src/images/burger.svg");
  transition: transform 0.6s;
  transition: transform 0.3s;
}
@media (min-width: 576px) {
  .icon--menu {
    height: 16px;
    width: 24px;
  }
}
.icon--menu:hover {
  transform: scale(1.2);
}
.icon--menu:hover {
  background-image: url("./src/images/burger-hover.svg");
}
.icon--close {
  height: 16px;
  width: 16px;
  background-image: url("./src/images/close.svg");
  transition: transform 0.3s;
}
@media (min-width: 576px) {
  .icon--close {
    height: 22px;
    width: 22px;
  }
}
.icon--close:hover {
  transform: scale(1.2);
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 44px;
}
.navigation__link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}
.navigation__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(29, 29, 29);
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.navigation__link:hover::after {
  transform: scale(1);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(194, 194, 194);
  padding: 0 20px 20px;
  min-height: 100vh;
  font-weight: 600;
  text-transform: uppercase;
  overflow-y: auto;
}
.menu:target {
  transform: translateX(0);
}
.menu__top {
  margin-bottom: 44px;
  display: flex;
  gap: 24px;
  grid-column: 1/-1;
  grid-row: 1;
}
.menu__navigation {
  margin-bottom: 40px;
  grid-column: 1/-1;
  grid-row: 2;
}
.menu__bottom {
  grid-column: 1/-1;
  grid-row: 3;
}
.menu__phone-number {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
}
.menu__call-to-order {
  display: block;
  text-decoration: none;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(29, 29, 29);
  width: fit-content;
  letter-spacing: 2px;
  color: inherit;
  font-size: 12px;
  line-height: 16px;
}

.container {
  display: grid;
  padding: 0 20px;
  font-family: Poppins, sans-serif;
  display: grid;
  --columns: 2;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}
@media (min-width: 576px) {
  .container {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .container {
    --columns: 12;
  }
}
@media (min-width: 576px) {
  .container {
    padding: 0 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1260px;
    margin: auto;
    padding: 0 120px;
  }
}

.main__content {
  display: grid;
  row-gap: 92px;
  padding-block: 60px;
  grid-column: 1/-1;
  grid-row: 1;
}
@media (min-width: 576px) {
  .main__content {
    row-gap: 132px;
    padding-block: 150px;
  }
}
@media (min-width: 1024px) {
  .main__content {
    row-gap: 164px;
  }
}

.section-title {
  margin: 0;
  margin-bottom: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  text-transform: capitalize;
}
.section-title--align--left {
  text-align: left;
  margin-bottom: 32px;
}
@media (min-width: 576px) {
  .section-title {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 64px;
    line-height: 64px;
  }
}

.move-free {
  display: grid;
  display: grid;
  --columns: 2;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}
@media (min-width: 576px) {
  .move-free {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .move-free {
    --columns: 12;
  }
}
.move-free__title {
  grid-column: 1/-1;
}
@media (min-width: 576px) {
  .move-free__title {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .move-free__title {
    grid-column: 1/5;
  }
}
.move-free__content {
  grid-column: 1/-1;
  font-size: 23px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(255, 255, 255);
}
@media (min-width: 576px) {
  .move-free__content {
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .move-free__content {
    grid-column: 6/12;
  }
}
.move-free__descripiton {
  margin: 0;
  font-size: 23px;
  font-weight: 500;
  line-height: 32px;
}

.product {
  color: #fff;
}
.product__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
.product__category {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}
.product__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
.product__photo {
  width: 100%;
  transition: transform 0.6s;
  transition: transform 0.3s;
}
.product__photo:hover {
  transform: scale(1.1);
}

.compare-bikes {
  display: grid;
  --columns: 2;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}
@media (min-width: 576px) {
  .compare-bikes {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .compare-bikes {
    --columns: 12;
  }
}
.compare-bikes__section {
  grid-column: 1/-1;
  grid-row: 1;
}
@media (min-width: 576px) {
  .compare-bikes__section {
    grid-column: 2/6;
    grid-row: 1;
  }
}
@media (min-width: 1024px) {
  .compare-bikes__section {
    grid-column: 4/10;
    grid-row: 1;
  }
}
.compare-bikes__products {
  grid-column: 1/-1;
  grid-row: 2;
}
@media (min-width: 576px) {
  .compare-bikes__products {
    grid-column: 2/6;
    grid-row: 2;
  }
}
@media (min-width: 1024px) {
  .compare-bikes__products {
    display: grid;
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .compare-bikes__product {
    grid-column: span 4;
    grid-row: 1;
  }
}

.categories {
  color: #fff;
}
.categories__wrapper {
  display: grid;
  row-gap: 40px;
}

.category__photos {
  display: grid;
  --columns: 2;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 16px;
}
@media (min-width: 576px) {
  .category__photos {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .category__photos {
    --columns: 12;
  }
}
.category__button {
  display: grid;
  --columns: 2;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}
@media (min-width: 576px) {
  .category__button {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .category__button {
    --columns: 12;
  }
}
.category__button--explore {
  grid-column: 1/-1;
}
@media (min-width: 576px) {
  .category__button--explore {
    grid-column: 2/6;
  }
}
@media (min-width: 1024px) {
  .category__button--explore {
    grid-column: 5/9;
  }
}
.category__link {
  position: relative;
}
.category__link--square {
  height: 0;
  padding-bottom: 100%;
}
@media (min-width: 576px) {
  .category__link--square {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .category__link--square {
    grid-column: span 4;
  }
}
@media (min-width: 576px) {
  .category__link--wide {
    grid-column: span 4;
  }
}
@media (min-width: 1024px) {
  .category__link--wide {
    grid-column: span 8;
  }
}
.category__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s;
  transition: transform 0.3s;
}
.category__photo:hover {
  transform: scale(1.05);
}
.category__description {
  font-family: Poppins, sans-serif;
  line-height: 22.4px;
  font-size: 16px;
  text-align: start;
  margin: 8px 0 0;
}
.category__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  line-height: 33.6px;
}

.button {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-radius: 40px;
  padding: 14px;
  color: #1d1d1d;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.6s;
}
.button:hover {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
}
.button:active {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
}

.button--resize {
  margin-bottom: 48px;
}

.contact-us {
  display: grid;
}
.contact-us__container {
  display: grid;
  --columns: 2;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  --columns: 1;
}
@media (min-width: 576px) {
  .contact-us__container {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .contact-us__container {
    --columns: 12;
  }
}
.contact-us__form-field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 40px;
  border: none;
  resize: none;
  background-color: #f8f8fa;
}
.contact-us__form-field::placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.contact-us__form-field:hover::placeholder {
  color: #292929;
}
.contact-us__form-field--message {
  height: 100%;
  border-radius: 16px;
  margin-bottom: 32px;
}
@media (min-width: 576px) {
  .contact-us__block {
    grid-column: span 3;
  }
}
@media (min-width: 1024px) {
  .contact-us__block {
    grid-column: span 5;
  }
}
@media (min-width: 576px) {
  .contact-us__info {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .contact-us__info {
    grid-column: 8/10;
  }
}
.contact-us__info-section {
  margin-bottom: 24px;
}
.contact-us__info-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 8px 0;
  color: #fff;
}
.contact-us__info-link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.footer {
  background-image: url("./src/images/photos/footer.png");
  background-size: cover;
  background-position: right;
  height: 200px;
}
@media (min-width: 576px) {
  .footer {
    height: 480px;
  }
}
@media (min-width: 1024px) {
  .footer {
    height: 555px;
  }
}

/*# sourceMappingURL=style.css.map */
