h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  background-image: url("./src/images/photos/header-mobile.png");
  background-size: cover;
  background-position: right;
}
.header__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__title {
  margin: 0;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: white;
}
.header__bottom {
  padding-bottom: 80px;
}

.header-top {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__icons {
  display: flex;
  gap: 30px;
}
.header-top__logo-link {
  display: flex;
}
.header-top__logo {
  height: 38px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;
}
.icon__tooltip {
  display: none;
}
.icon:hover .icon__tooltip {
  opacity: 1;
  pointer-events: all;
}
.icon--phone {
  background-image: url("./src/images/phone.svg");
}
.icon--menu {
  background-image: url("./src/images/burger.svg");
}
.icon--menu:hover {
  background-image: url("./src/images/burger-hover.svg");
}
.icon--close {
  background-image: url("./src/images/close.svg");
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 44px;
}
.navigation__link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}
.navigation__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(29, 29, 29);
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.navigation__link:hover::after {
  transform: scale(1);
}

.menu {
  font-family: Poppins, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(194, 194, 194);
  padding: 0 20px 20px;
  min-height: 100vh;
  font-weight: 600;
  text-transform: uppercase;
  overflow-y: auto;
}
.menu:target {
  transform: translateX(0);
}
.menu__top {
  margin-bottom: 44px;
  display: flex;
  gap: 24px;
}
.menu__navigation {
  margin-bottom: 40px;
}
.menu__phone-number {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
}
.menu__call-to-order {
  display: block;
  text-decoration: none;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(29, 29, 29);
  width: fit-content;
  letter-spacing: 2px;
  color: inherit;
  font-size: 12px;
  line-height: 16px;
}

.container {
  padding: 0 20px 0 20px;
}

/*# sourceMappingURL=style.css.map */
