.contact {
  display: grid;
  grid-template-rows: 1;
  justify-content: center;
  gap: 32px;

  @media (min-width: 752px) {
    grid-template-columns: 1fr 1fr;
  }

  &__contacts {
    display: grid;
    grid-template-rows: repeat(2);
    gap: 24px;

    @media (min-width: 752px) {
      grid-template-rows: 1fr 1fr 4fr;
    }
  }

  &__phone {
    
    &-title {
      margin-bottom: 8px;

      font-size: 14px;
      line-height: 27px;
      color: #9fadc2;
    }

    &-number {
      font-size: 16px;
      line-height: 27px;
      color: #3e3e3e;
    }
  }

  &__email {

    &-title {
      margin-bottom: 8px;

      font-size: 14px;
      line-height: 27px;
      color: #9fadc2;
    }

    &-email {
      font-size: 16px;
      line-height: 27px;
      color: #3e3e3e;
    }
  }

  &__address {

    &-title {
      margin-bottom: 8px;

      font-size: 14px;
      line-height: 27px;
      color: #9fadc2;
    }

    &-address {
      font-size: 16px;
      line-height: 27px;
      color: #3e3e3e;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-name {
      margin-bottom: 16px;

      & ::placeholder {
        font-size: 14px;
        line-height: 14px;
        color: #9f99a8;
      }

      & :first-child {
        min-width: 280px;
        padding: 17px;

        border: 1px solid #fff;
        border-radius: 8px;

        @media (min-width: 840px) {
          min-width: 413px;
        }
      }

      & :hover {
        background: #f7f8ff;
        border: 2px solid #ccd0e0;

        transition: border 0.5s, background 0.5s;
      }
    }

    &-email {
      margin-bottom: 16px;

      & ::placeholder {
        font-size: 14px;
        line-height: 14px;
        color: #9f99a8;
      }

      & :first-child {
        min-width: 280px;
        padding: 17px;

        border: 1px solid #fff;
        border-radius: 8px;

        @media (min-width: 840px) {
          min-width: 413px;
        }
      }

      & :hover {
        background: #f7f8ff;
        border: 2px solid #ccd0e0;

        transition: border 0.5s, background 0.5s;
      }
    }

    &-message {
      margin-bottom: 32px;

      & ::placeholder {
        font-size: 14px;
        line-height: 14px;
        color: #9f99a8;
      }

      & :first-child {
        min-width: 280px;
        height: 144px;
        padding: 17px;

        border: 1px solid #fff;
        border-radius: 8px;

        @media (min-width: 840px) {
          min-width: 413px;
        }
      }

      & :hover {
        background: #f7f8ff;
        border: 2px solid #ccd0e0;

        transition: border 0.5s, background 0.5s;
      }
    }

    &-button {
      margin-bottom: 64px;

      & :first-child {
        min-width: 280px;
        max-width: $maxWidthPhone;
        padding: 21px 50px;

        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 14px;

        background-color: #0075ff;
        box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
        border-radius: 8px;
      }

      & :first-child:hover {
        background: #005ecc;
        box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);

        transition: background 0.5s;
      }

      & :first-child:visited {
        background: #005ecc;
        box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
      }
    }
  }
}
