.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 206px;
  max-width: $maxWidthPhone;

  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width:400px) {
    background-image: url("../images/footerBeter.png");
    max-width: $maxWidthTable;
    height: 270px;
  }

  @media (min-width:800px) {
    max-width: 100%;
    height: 359px;
  }

  &__logo {
    width: 78.6px;
    height: 45.46px;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: 400px) {
      position: absolute;
      bottom: 40px;
    }
  }
}
