.header {
  position: relative;
  height: 100vh;

  background-image: url("../images/header2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    max-width: $maxWidthPhone;
    margin: 0 auto;
    padding: 24.9px 0 80px;

    @media (min-width: 400px) {
      & {
        max-width: $maxWidthTable;
        padding: 25.5px 0 80px;
      }
    }

    @media (min-width: 800px) {
      & {
        max-width: $maxWidthPc;
        padding: 25.5px 0 124px;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 23px;

    @media (min-width: 400px) {
      padding: 0 58px;
    }

    @media (min-width: 800px) {
      padding: 0 124px;
    }
  }

  &__menu {
    position: relative;
    z-index: 2;

    display: block;
    height: 12px;
    width: 18px;
    padding: 10px;

    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      background-image: url("../images/hover_menu.png");
    }
  }

  &__checkbox {
    display: none;

    &:checked + .header__menu {
      height: 16px;
      width: 16px;
      background-image: url("../images/X.png");
    }
    
    &:checked ~ .nav {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }

  &__logo {
    position: relative;
    z-index: 2;

    width: 78.6px;
    height: 45.46px;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__phone {
    height: 18px;
    width: 18px;

    background-image: url("../images/Phone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover > * {
      visibility: visible;
      opacity: 1;

      transition-delay: 0s;
    }

    &-link {
      position: relative;
      left: -148px;

      width: 128px;
      height: 16px;
      display: flex;
      visibility: hidden;
      opacity: 0;

      color: #fff;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 16px;

      transition: visibility 0s linear 0.5s, opacity 0.5s linear;

      transition-delay: 3s;

      @media (max-width: 623px) {
        left: -100px;
        top: 30px;
      }

      @media (max-width: 468px) {
        left: -90px;
        top: -25px;
        font-size: 10px;
      }
    }
  }

  &__body {
    position: relative;
    padding: 0 20px;

    @media (min-width: 400px) {
      padding: 0 58px;
    }

    @media (min-width: 800px) {
      padding: 0 124px;
    }
  }

  &__title {
    letter-spacing: -1px;
    line-height: 40px;
    font-size: 46px;
    font-weight: bold;
    align-items: center;
    color: #fff;
  }

  &__title::before {
    content: "";

    position: absolute;
    top: -20px;

    display: block;
    height: 2px;
    width: 40px;

    background-color: #fff;

    @media (min-width: 400px) {
      top: -22px;
    }

    @media (min-width: 800px) {
      top: -24px;
    }
  }
}
