
.main {
  margin: 0 auto;
  padding: 64px 20px;
  max-width: 1020px;
  &__inform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 64px;
  }

  &__title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.5px;
    padding-bottom: 48px;

    & :last-child {
      color: $color--page--blue;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    line-height: 27px;
    font-weight: 400;
    color: $color--page;
    & :first-child {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      color: $color--page--blue;
      padding-bottom: 8px;
    }

    & :last-child {
      font-weight: 700;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 104px;
  }

  &__title-2 {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;
    padding-bottom: 53px;
    color: black;

    &::before {
      position: absolute;
      content: "";
      background: url(../images/corona.svg) no-repeat center;
      background-size: contain;
      height: 16px;
      width: 23px;
      top: 35px;
      left: 36%;
    }
  }

  &__pictures {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding-bottom: 75px;
    width: 100%;
  }

  &__foto {
    position: relative;
    object-fit: cover;
    object-position: center;
    height: 131px;
    width: 131px;
    flex-basis: 48%;
    border-radius: 8px;
    margin-bottom: 16px;
    transition: transform 0.2s linear;
    z-index: 1;

    @media (min-width: 1200px) {
      &:hover {
        transform: scale(120%);
        transition: transform 1s linear;
        z-index: 2;
      }
    }
  }

  &__fotos {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    margin-bottom: 32px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $color--page;

    & :first-child {
      font-weight: 700;
      color: $color--page--blue;
    }
  }

  &__button {
    height: 56px;
    width: 280px;
    font-weight: 700;
    font-size: 16px;
    color: $color--page--blue;
    background: #fff;
    border: 2px solid $color--page--blue;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 52px;

    &:hover {
      color: #fff;
      background-color: $color--button;
    }

    @media (min-width: 1000px) {
      &--1 {
        width: 150px;
      }
    }
  }

  &__testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & span:first-child() {
      display: flex;
      justify-content: center;
      &::before {
        left: 48%;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;

    gap: 0 59px;
    & :first-child {
      display: flex;
      flex-direction: column;
    }

    &:nth-child(n) {
      padding-top: 20px;
    }
  }

  &__adres {
    position: relative;

    &::after {
      position: absolute;
      content: "Adress";
      font-size: 14px;
      top: -22px;
      left: 0;
    }
  }

  &__phone {
    position: relative;

    &::after {
      position: absolute;
      content: "Phone";
      font-size: 14px;
      top: -22px;
      left: 0;
    }
  }

  &__email {
    position: relative;

    &::after {
      position: absolute;
      content: "Email";
      font-size: 14px;
      top: -22px;
      left: 0;
    }
  }

  &__forms {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & :first-child(),
    :nth-child(3) {
      margin-bottom: 16px;
    }

    @media (min-width: 660px) {
      & {
        flex-basis: 43%;
      }
    }
  }

  &__form {
    border-radius: 8px;
    background-color: #f7f8ff;
    border: none;
    min-height: 48px;
  }

  @media (min-width: 500px) {
    &__foto {
      height: 256px;
      flex-basis: 49%;

      &--1 {
        flex-basis: 65.5%;
      }

      &--2 {
        flex-basis: 32.5%;
      }
    }
  }

  @media (min-width: 738px) {
    &__inform {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1020px;
      padding-bottom: 104px;
    }

    &__title {
      width: 300px;
    }

    &__text {
      width: 357px;
    }
  }
}
