@import "utils";

.header {
  @include head-BG(url(../images/header.jpg), 700px, cover);
  background-position: 60% 55%;
  box-sizing: border-box;

  &__logo {
    @include head-BG(url(../images/logo.png), 76px, 100%);
    @include head-up-elements(24px, 50%);
    margin-left: -57px;
    width: 115px;
  }

  &__text {
    @include head-up-elements(414px, 120px);
    @include fonts-style(bold, 60px, 60px, $c-a-head );
    margin-top: -65px;
    letter-spacing: -1.5px;
  }

  &__text::before {
    content: " ";
    position: absolute;
    background-color: $c-a-head;
    border-radius: 2px;
    top: 49px;
    height: 2px;
    width: 35px;
  }

  &__call {
    @include head-instruments(space-between);
  }

  &__call-item {
    @include fonts-style(bold, 12px, 16px, $c-a-head );
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
    margin: 56px 120px;
    transition: color 0.3s;
  }

  &__call-item:last-child:after {
    content: " ";
    position: absolute;
    background-color: $c-a-head;
    right: 0;
    top: 24px;
    width: 100%;
    height: 1px;
  }

  &__call-item:hover {
    color: #9fadc2;
  }
}

.nav {
  @include head-instruments(space-around);
  align-items: flex-end;
  height: 82%;

  &__item {
    box-sizing: border-box;
    margin: 48px auto;
    padding: 8px 24px;
    border-radius: 8px;
    transition: color 0.3s, background 0.5s;

    @include fonts-style(bold, 12px, 16px, $c-a-head);
    text-transform: uppercase;
    text-decoration: none;

  }

  &__item:first-child {
    margin-left: 120px;
  }

  &__item:last-child {
    margin-right: 120px;
  }

  &__item:hover {
    color: #9fadc2;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.call-ico,
.slide-ico {
  display: none;
}

.up {
  position: fixed;
  height: 50px;
  width: 50px;
  background: url(../../images/up1.svg);
  bottom: -10px;
  right: -10px;
}

@media only screen and (max-width: 920px) {

  .slide-ico {
    display: inline-block;
  }

  .call-ico,
  .nav-mini {
    display: flex;
  }

  .nav {
    display: none;
  }

  .header {

    &__call {
      position: absolute;
      flex-direction: column;
      flex-wrap: nowrap;
      height: 110px;
      width: 200px;
      top: 560px;
      left: 20px;
      box-sizing: border-box;
      margin: 0;

      & :last-child {
        top: 30px;
      }
    }

    &__call-item {
      position: absolute;
      margin: 16px 0 0;
    }

    &__text {
      @include head-up-elements(407px, 20px);
      font-size: 46px;
      line-height: 40px;
      margin-top: -65px;
      letter-spacing: -1.5px;
    }
  
    &__text::before {
      content: " ";
      position: absolute;
      background-color: $c-a-head;
      border-radius: 2px;
      top: 30px;
      height: 2px;
      width: 35px;
    }
  }
}
