@import "utils";
@import "_header";

.nav-mini {
  @include head-instruments(flex-start);
  position: absolute;
  flex-direction: column;
  top: 120px;
  display: none;

  &__item {
    @include fonts-style(bold, 22px, 22px, $c-a-head);
    letter-spacing: 2px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;

    padding: 8px 24px;
    margin: 32px 0 0 ;
    border-radius: 8px;
    transition: color 0.3s;

    &--active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__item:first-child {
    margin-left: 0;
  }
  
  &__item:last-child {
    margin-right: auto;
  }

  &__item:hover {
    color: #9fadc2;
  }
}
