@import "utils/vars";
@import "utils";

.nav {
  @include head-instruments(space-around);
  align-items: flex-end;
  height: 82%;
  margin: 0 auto;
  max-width: 1500px;

  &__item {
    box-sizing: border-box;
    margin: 48px auto;
    padding: 8px 24px;
    border-radius: 8px;
    transition: color $short-transit,
      background $short-transit;

    @include fonts-style(bold, 12px, 16px, $c-a-head);
    text-transform: uppercase;
    text-decoration: none;

  }

  &__item:first-child {
    margin-left: 120px;
  }

  &__item:last-child {
    margin-right: 120px;
  }

  &__item:hover {
    color: #9fadc2;
    background-color: rgba(74, 73, 80, 0.1);
  }
  
  &__item--active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media only screen and (max-width: 920px) {

  .nav {
    display: none;
  }

}
