.header {

  background-size: cover;
  background-position: center;
  background-image: url(../images/header.jpg);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: $header-top-padding 0 80px;
  }

  &__title {
    font-weight: bold;
    color: #fff;
    font-size: 46px;
    line-height: 40px;
    letter-spacing: -1px;

    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 40px;
      background-color: #fff;
      margin-bottom: 24px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -1.5px;
    }
  }

  &__call {
    text-decoration: none;

    @include onDesktop {
      &::before {
        content: "+1 234 5555-55-55";
        position: relative;
        display: none;
        width: max-content;
        top: 50%;
        transform: translate(-100%, -50%);
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-right: 20px;
        pointer-events: none;
      }

      &:hover::before {
        display: block;
        pointer-events: all;
      }
    }
  }
}
