.home {
  display: flex;
  justify-content: space-between;

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;

    @include tabletMini {
      font-size: 36px;
      line-height: 48px;
    }
  }

  &__title--is-active {
    color: $accentColor;
  }

  &__name {
    color: $accentColor;
  }

  @include tablet {
    display: grid;
    justify-content: center;
    gap: 50px;
  }
}
