.input {
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  @include sizeLine(14px, 17px);
  color: $text-900;
  background-color: $input-background;
  border: 1px solid $input-background;

  transition: all 0.2s;

  &[type="text" i],
  &[type="email" i] {
    padding: 15px 16px;
  }

  &::placeholder {
    color: $text-700;
  }

  &:hover {
    color: $text-900;
    border: 1px solid #d5d7de;
  }

  &:focus-visible {
    outline: none;
    color: $text-900;
    border: 1px solid $text-900;
  }

  &__text-area {
    padding: 15px 16px;
    resize: none;
  }
}
