.title {
  color: #ffff;
  position: absolute;
  width: 280px;
  height: 80px;
  left: 20px;
  top: 200px;
  font-family: Cinzel, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  align-items: center;
  text-align: center;
  letter-spacing: -1.5px;
}
