.address {
    
    &__label {
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0px;
        margin-bottom: 8px;
    }

    &__content {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0px;
        margin-bottom: 24px;
        color: #ffffff;
        text-decoration: none;
        transition: border-bottom 0.3s ease-in-out;

        &:hover {
            color: #FFBFCB;
        }
    }
}