@use '../utils/mixins' as *; 

.articles {

    @include grid();

    &__header {
        grid-column: span 2;

        @include for-tablet() {
            grid-column: span 6;
        }

        @include for-desktop() {
            grid-column: span 8;
        }
    }

    &__paragraph {
        grid-column: span 2;

        @include for-tablet() {
            grid-column: span 6;
        }

        @include for-desktop() {
            grid-column: span 8;
        }
    }
}