@use '../utils/mixins' as *;

.burger {

  &::before {
    content: '';
    background-image: url(../../src/images/icon-burger.svg);
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 12px;
  }

  &::after {
    display: none;
    content: '';
    background-image: url(../../src/images/icon-burger-hover.svg);
    background-size: cover;
    display: none;
    width: 18px;
    height: 12px;
  }

  &:hover {
    &::before {
      display: none;
    }

    &::after {
      display: inline-block;
    }
  }

  &__label {
    @include visually-hidden();
  }
}