.button {
  border-radius: 40px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background: $links;
  text-align: center;
  height: 56px;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 56px;
  border: 3px solid $links;

  &--primary {
    background: #0075FF;
    box-shadow: 0px 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    color: #ffffff;

    font-size: 16px;
    line-height: 14px;
    font-weight: 700;
  }

  &:hover {
    color: $links;
    background: #ffffff;
    border: 3px solid #292929;
  }

  &:active {
    color: #ffffff;
    background: #111111;
  }
}