@use '../utils/mixins' as *;

.button {
    border-radius: 40px;
    background-color: #ffffff;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 56px;
    line-height: 56px;
    color: #1D1D1D;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0px;

    &--primary {
        border: 0;
    }

    &--secondary {
    margin: 0 auto;
    margin-bottom: 80px;
  
    @include for-tablet() {
      margin-bottom: 120px;
      width: 392px;
    }
  
    @include for-desktop() {
      margin-bottom: 180px;
      width: 324px;
    }
    }

    &:hover {
      box-shadow: 1px 4px 16px 0px #E8E8F066;
    }

    &:active {
      box-shadow: 1px 4px 16px 0px #E8E8F0A3;
    }

}
  