@use '../utils/mixins.scss' as *;

.category {
  &__name {
    color: $main-font-color;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    line-height: 140%;
    padding-top: 16px;
    
    @include for-mobile-big {
      font-size: 24px;
    }
  }
}
