@use '../utils/mixins' as *; 

.footer {
    background-image: url('../../footer-background-320.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;

    @include for-tablet() {
        background-image: url('../../footer-background-744.jpg');
        height: 480px;
    }

    @include for-desktop() {
        background-image: url('../../footer-background.jpg');
        height: 555px;
    }
}