.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
    background-image: url(../../header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100vh;
}