@use '../utils/mixins' as *; 

.header {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    background-color: aquamarine;
    background-image: url(../../header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100vh;

    grid-template-rows: 1fr 1fr;

    @include grid();

    @include for-tablet() {
        background-image: url(../../header-background-744.jpg);
    }

    @include for-desktop() {
        background-image: url(../../header-background-1260.jpg);
    }

    &__navigation {
        align-self: start;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        
        @include for-tablet() {
            grid-column: 1 / 7;
        }

        @include for-desktop() {
            grid-column: 1 / 13;
        }
    }

    &__title {
        padding: 0 0 88px;
        align-self: end;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        
        @include for-tablet() {
            padding: 0 0 130px;
            grid-column: 1 / 7;
        }

        @include for-desktop() {
            padding: 0 0 203px;
            grid-column: 1 / 13;
        }
    }
}