.links {

  &__item {  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 100% */
    
    letter-spacing: 2px;
    text-transform: uppercase;

    padding-top: 32px;
    
    color: #292929;
  }

  &__link {
    text-decoration: none;
    color: #292929;

    &:hover {
      
    }
  }

  &__list {
    padding-bottom: 40px;
  }
}
