@use '../utils/mixins.scss' as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  min-height: 100vh;
  background-color: #E8EFF9;
  box-sizing: border-box;

  padding: 28px 20px 40px;

  @include grid();

  align-content: start;

  

  &__navigation {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: start;

    @include for-mobile-big() {
      grid-column: 1 / 6;
    }

    @include for-desktop() {
      grid-column: 1 / 12;
    }
  }

  &:target {
    transform: translateX(0);
  }

  &__links {
    margin-bottom: 40px;
    grid-column: span 2;
  }

  &__paragraph {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height, or 169% */

    text-transform: uppercase;
    color: #292929;
  }

  &__call-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: inline-block;
    padding-top: 16px;

    text-decoration: none;
    text-transform: uppercase;

    color: #292929;

    padding-bottom: 8px;

    border-bottom: 1px solid #292929;
  }
}