.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px 0;

    &__icons {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: flex-end;
    }
}