@use '../utils/mixins' as *;

.phone {
    &__label {
        font-family: Poppins;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        vertical-align: middle;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: #FFFFFF;
        position: absolute;
        transform: translateX(calc(-100% - 20px));
    }

    &__icon {
        width: 24px;
        height: 24px;

        @include for-tablet() {
            width: 32px;
            height: 32px;
        }

        @include for-desktop() {
            width: 32px;
            height: 32px;
        }
    }

    &:not(:hover) &__label {
        @include visually-hidden();
    }

}