.product {
  grid-column: span 2;

  &__image {
    align-items: center;
    display: block;
    width: 280px;
  }

  &__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    color: #292929;

    padding-top: 32px;
  }

  &__category {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #292929;
    padding-top: 8px;
  }

  &__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    color: #292929;

    padding-top: 12px;
  }
}