.section {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;

  &__title {
    grid-column: span 2;
    text-align: center;
  }

  &__product {
    padding-top: 40px;
  }
}