.title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
    padding: 0 21px 80px;
    //box-sizing: border-box;
    color: #FFFFFF;
    
    &--secondary {
        font-family: Poppins;
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -1.5px;
        color: #FFFFFF;
        text-align: left;
        padding: 0;
    }
}