@use '../utils/mixins.scss' as *;

.title {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;

  color: $title;

  position: relative;

  @include for-mobile-big() {
    font-size: 40px;
    line-height: 40px;
  }

  &--header::before {
    content: '';
    background-image: url(../src/images/icon-sound-waves.svg);
    background-repeat: no-repeat;
    width: 48px;
    height: 58px;
    position: absolute;
    bottom: 80px;
    left: 0px;
    background-size: contain;

    @include for-mobile-big() {
      bottom: 110px;
      width: 63px;
      height: 76px;
    }
  }

  &--secondary {
    font-style: normal;
    font-weight: 700;

    @include for-mobile-big() {
      font-size: 40px;
      line-height: 40px;
    }

    @include for-desktop() {
      font-size: 48px;
      line-height: 48px;
    }
  }
}