.first-community {
  .photos__left-photo {
    width: 65%;

    @media (max-width: $max-width-for-mobile) {
      width: 49%;
    }
  }

  .photos__right-photo {
    width: 33%;

    @media (max-width: $max-width-for-mobile) {
      width: 49%;
    }
  }

  &__address::after {
    content: " / North Miami Beach, FL 33162";
    color: $black-color;
  }
}
