.gallery-container {
  max-width: 1020px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 126px;

  @media (max-width: $max-width-for-tablets) {
    width: 90vw;
    padding-bottom: 64px;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 80px;
    position: relative;

    @media (max-width: $max-width-for-tablets) {
      padding-bottom: 53px;
    }

    &::after {
      content: "";
      height: 16px;
      width: 23px;
      background: url(../images/crown.svg) no-repeat;
      background-size: cover;
      position: absolute;
      top: 55px;
      left: 65px;
    }
  }
}
