.photos {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;

  @media (max-width: $max-width-for-mobile) {
    padding-bottom: 16px;
  }

  &__left-photo,
  &__right-photo {
    height: 256px;
    border-radius: 8px;
    cursor: pointer;

    @media (max-width: $max-width-for-mobile) {
      height: 131px;
    }

    &:hover {
      transform: scaleY(1.2);
    }
  }
}
