.third-community {
  .photos__left-photo {
    width: 33%;

    @media (max-width: $max-width-for-tablets) {
      width: 49%;
    }
  }

  .photos__right-photo {
    width: 65%;

    @media (max-width: $max-width-for-tablets) {
      width: 49%;
    }
  }

  &__address::after {
    content: " / Miami Beach, FL 33140";
    color: $black-color;
  }
}
