.view-all-button {
  width: 150px;
  height: 56px;
  font-weight: bold;
  line-height: 14px;
  color: $blue-color;
  background-color: $white-color;
  border: 2px solid $blue-color;
  border-radius: 8px;
  cursor: pointer;
  transition: color $transition-time, background-color $transition-time;

  @media (max-width: $max-width-for-mobile) {
    width: 90vw;
  }

  &:hover {
    color: $white-color;
    background-color: $blue-color;
  }
}
