.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobileBreakpoint) {
      padding-top: 120px;
      display: block;
    }
  }

  &__link {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 8px;
    display: block;
    letter-spacing: 2px;
    padding: 8px 24px;
    color: #fff;
    box-sizing: border-box;
    background: transparent;
    transition: background 0.3s, color 0.3s;
    @media (max-width: $tabletBreakpoint) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: $mobileBreakpoint) {
      font-size: 22px;
      margin-bottom: 10px;
    }
    &.nav__link-active {
      @media (min-width: 768px) {
        background: rgba(255, 255, 255, 0.1);
      }
    }
    &:hover {
      @media (min-width: $tabletBreakpoint) {
        @include hover(color, $c-int-gray);
      }
    }
  }
}
