.form-field {
  background-color: #F7F8FF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid transparent;
  height: 48px;
  display: block;
  width: 100%;
  padding: 14px 16px;
  color: #000;

  &::placeholder {
    color: #8F99A8;
  }

  &:hover {
    border: 2px solid #CCD0E0;
  }

  &:focus {
    border: 2px solid #0075FF;

    outline: none;

  }

  &--textarea {
    height: 144px;
    resize: none;
    color: #000;
  }
}
