.menu {
  height: 100vh;
  background-color: $colorBlue;
  
  &__content {
    padding: $headerTopPadding 0;
  }

  &__list {
    list-style: none;
    margin: 48px 0;
    padding: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: border-color 0.3s;

    &:hover {
      border-color: #fff;
    }
  }

  &__call {
    display: block;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    &--phone {
      margin-bottom: 16px;
    }

    &--action {
      width: max-content;
      padding-bottom: 8px;
      border-bottom: 1px solid;
    }
  }

}
