* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.page {
  font-family: "Poppins", sans-serif;

  &__content {
    margin: 0;
    padding: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s;

    transform: translateX(100%);

    &:target {
      transform: translateX(0);
    }
  }
}
