.title {
  max-width: 324px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__text {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
  }

  &__link {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: $blue-color;
  }

  @media (max-width: $max-width-for-mobile) {
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 48px;

    &__text,
    &__link {
      font-size: 36px;
      line-height: 36px;
    }

    &__link {
      margin-left: 8px;
    }
  }
}
