.contacts {
  &__info {
    margin: 0 0 24px;
  }

  &__info-title {
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__info-link {
    width: fit-content;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-decoration: none;
    color: inherit;

  }

  &__field {
    margin: 0 0 16px;
    &--last {
      margin-bottom: 32px;
    }

    &--button-last {
      margin-bottom: 48px;
    }
  }
}
