.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;

  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  background-color: #f7f8ff;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 14px 17px;

  transition: border-color 0.3s ease;

  &::placeholder {
    color: #8f99a8;
  }

  &:hover {
    border-color: #ccd0e0;
  }

  &:focus {
    outline: none;
    border-color: $blue-color;
  }

  &--message {
    height: 144px;
  }
}
