.about-us {
  background-color: #FCFAEF;

  &__img {
    background-image: url("../images/about-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
  }

  &__info {
    padding: 20px 20px;

    &__description {
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22.4px;
      letter-spacing: 0.15px;
      color: #1B2129;
      margin: 8px 0 12px;
    }
  }
}
