.about-us {
  background-color: #FCFAEF;

  &__img {
    background-image: url("../images/about-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
  }

  &__info {
    padding: 20px 20px;
  }
}
