.bikes {
  &__photo-container {
    width:100%;
    padding-bottom: 100%;
    position: relative;
  
  
    @include onDesktop {
      height: 321px;
      padding-bottom: 0;
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
  
  }
}