.burger {
  background-image: url("../images/Icon-Burger-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  @include laptop {
    height: 32px;
    width: 32px;
  }
  &__label {
    @include visually-hidden;
  }
}
