.card {
  display: flex;
  flex-direction: column;

  &__img {
    height: 280px;
    width: 280px;
    border-radius: 4px;
  }

  &__description {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.15px;
    color: #1B2129;
    margin: 8px 0 12px;
  }
}
