.categories {

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 130px;
    height: 130px;
    border-radius: 4px;
  }

  &__button {
    width: 280px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #F98921;
    color: #FFFFFF;
  }
}
