.contact-us {

  &__form {
    width: 280px;
  }

  &__input {
    height: 48px;
    width: 100%;
    background-color: #F9F9F9;
    border: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;

    &::placeholder {
      font-family: 'Manrope', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
      color: #7E7E83;
    }
  }
}
