.contacts {
  @include pageGrid;

  &__form {

    input[type] {
      width: 100%;
      border-radius: 40px;
      padding: 16px 14px;
      border: none;
      margin-bottom: 16px;
    }

    &-texta{

    }
  }
}