.contacts {
 
  margin-bottom: 120px;

  @include onDesktop {
    margin-bottom: 182px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @include onTablet {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
    }

    // @include onDesktop {
    //   grid-column: 1 / 5;
    // }
  }
  &__form {
    grid-column: 1 / 4;

    &--field {
      width: 100%;
      border-radius: 40px;
      padding: 16px 14px;
      border: none;
      margin-bottom: 16px;
    }

    &--textarea{
      width: 100%;
      height: 148px;
      resize: none;
      padding: 16px 14px;
      border-radius: 16px;
      border: none;
      margin-bottom: 32px;
    }

    .button {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 56px;
      color: #1d1d1d;
      background-color: #fff;
      margin-bottom: 48px;
      border-radius: 40px;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      transition: all .3s;
      cursor: pointer;
      border: none;
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }
  }

  &__info {
    grid-column: 5 / 6;
 
  .info {
    margin-bottom: 24px;
   

   &__title {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
   }

   &__link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
   }
  }
  }
}
