.contacts {
  @include pageGrid;
  margin-bottom: 120px;

  @include onDesktop {
    margin-bottom: 182px;
  }

  &__form {
 

  @include onDesktop {
    margin-bottom: 182px;
  }
    &--field {
      width: 100%;
      border-radius: 40px;
      padding: 16px 14px;
      border: none;
      margin-bottom: 16px;
    }

    &--textarea{
      width: 100%;
      height: 148px;
      resize: none;
      padding: 16px 14px;
      border-radius: 16px;
      border: none;
      margin-bottom: 32px;
    }

    .button {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 56px;
      color: #1d1d1d;
      background-color: #fff;
      border-radius: 40px;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      transition: all .3s;
      cursor: pointer;
      border: none;
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
     
    }
   }
  }
