
.header {
  box-sizing: border-box;
  padding: 36px 20px 40px;
  background-color: gray;
  background-image: url("../images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
