
.header {
  background-image: url(../../images/Imagebackpngground.);
  &__title {
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    align-items: center;
  }
}
