
.header {
  box-sizing: border-box;
  padding: 0 20px 40px;
  background-color: gray;
  background-image: url("../images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

    &__logo {
      width: 152px;
    }

    &__buttons {
      display: flex;
      gap: 32px;

      &__icon {
        height: 24px;
        width: 24px;
      }
    }
  }

  @media (min-width:1020px) {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    grid-template-rows: 1fr 1fr;

    &__nav {
      grid-column: 1 / 12;
      grid-row: 1 / 2;
    }
  }

}
