.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: top right;
  margin-bottom: 60px;

  &__content {
    @include contentPaddingInline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__bottom {
    padding-bottom: 88px;
   

    @include onTablet {
    padding-bottom: 130px;
    }
  }

    &__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #fff;
    text-align: center;

    @include onTablet {
      font-size: 64px;
      white-space: nowrap;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}