.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: top right;
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__bottom {
   padding: 0 20px 88px;
  }

    &__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #fff;
    text-align: center;
    padding-bottom: 88px;

    @include onDesktop {
      font-size: 80px;
    }
  }
  // &__content {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   box-sizing: border-box;
  //   padding: $headerTopPading 0 88px;
  //   height: 100vh;
  // }

  // &__title {
  //   font-style: normal;
  //   font-weight: 700;
  //   font-size: 36px;
  //   line-height: 100%;
  //   letter-spacing: -1.5px;
  //   color: #fff;
  //   text-align: center;

  //   @include onDesktop {
  //     font-size: 80px;
  //   }
  // }

  // &__call {
  //   text-decoration: none;

  // @include onDesktop {
  //   &::before {
  //     content: "+1 234 555-55-55";
  //     position: relative;
  //     top: 15px;
  //     transform: translateX(-100%);

  //     opacity: 0;
  //     width: max-content;
  //     display: block;
  //     color: #fff;
  //     padding-right: 20px;
  //     letter-spacing: 2px;
  //     text-transform: uppercase;
  //     font-weight: 700;
  //     font-size: 12px;
  //     line-height: 16px;
  //     pointer-events: none;
  //   }

  //   &:hover::before {
  //     pointer-events: all;
  //     opacity: 1;
  //   }
  //  }
  // }
}