
.header {
  background-color: gray;
  background-image: url("../images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  &__title {
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    ;
  }
}
