.menu {
  background-color: #F9F9F9;
  box-sizing: border-box;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__nav {

    &__item {

    }

    &__link {

    }
  }
}
