.menu {
  background-color: #F9F9F9;
  box-sizing: border-box;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 72px;
  }

  &__nav {
    margin: 32px 0 48px;
    &__list {

    }

    &__item {
      margin-bottom: 24px;
    }

    &__link {
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
      color: #1B2129;
      text-decoration: none;

    }
  }

  &__number {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;

  }

  &__call-button {
    margin-top: 16px;

    &__link {
    display: inline-block;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    padding-bottom: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #1B2129;
    text-decoration: none;
    color: #1B2129;
    }


  }
}
