.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;

  &__icons {
    display: flex;
    gap: 24px;
  }
}

.menu {
  background-color: #e5e5e5;
  box-sizing: border-box;
  height: 100vh;
  color: #1d1d1d;

  &__top {
    margin-bottom: ;
  }
  &__nav {
    margin-bottom: 40px;
  }
  
  &__content {
    padding-inline: 20px;
  }
  &__call {
  color: #1d1d1d;
  text-decoration: none;
  text-transform: uppercase;
  }

  &__call-to-order {
  color: #1d1d1d;
  font-weight: 600;
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2;
  padding-bottom: 7px;
  border-bottom: 1px solid #1D1D1D;
  width: fit-content;
  }

  &__phone-number {
    color: #1d1d1d;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
    display: block;
  }
  }
  