.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(100%);
  transition: transform 0.3s ease-in-out;
  background-color: #F9F9F9;
  box-sizing: border-box;
  padding: 0 20px;
  min-height: 100vh;
  @include grid;

  &:target {
    transform: translate(0);
  }

  &__header {
    grid-column: 1 /3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

    &__logo{
      width: 152px;;
    }
  }

  &__nav {
    margin: 32px 0;

    &__item {
      margin-bottom: 32px;
    }

    &__link {
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
      color: #1B2129;
      text-decoration: none;

    }
  }

  &__paragraph {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 16px;

    &__link {
      display: inline-block;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22.4px;
      padding-bottom: 4px;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-bottom: 1px solid #1B2129;
      text-decoration: none;
      color: #1B2129;
      }
  }
}
