.nav {
  align-self: start;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include laptop {
    height: 96px;
    grid-column: 1 / 7;
  }

  @include desktop {
    grid-column: 1 / 13;
  }

  &__logo {
    width: 152px;

    @include laptop {
      width: 228px;
    }
  }

  &__buttons {
    display: flex;
    gap: 32px;

    &--icon {
      height: 24px;
      width: 24px;

      @include laptop {
        height: 32px;
        width: 32px;
      }
    }
  }
}
