.nav {
  font-weight: 600;
  text-transform: uppercase;

   &__list {
    list-style: none;
    margin: 0 0 44px;
    padding: 0; 
    display: flex;
    flex-direction: column;
    gap: 32px;
    
  }

  &__link {
    
  }
}