.page {
  &__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__main {
    margin: 0 auto;
    max-width: 1020px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__footer {
    padding: 64px 20px 68px;
    display: flex;
    flex-direction: column;
  }
}
