.page {
  &__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    box-sizing: border-box;
    min-height: 100vh;
  }

  &__main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width:1020px) {
      display: grid;
      grid-template-columns: repeat(12, 63px);
      grid-template-rows: 1fr 1fr;
      gap: 24px;
      padding: 0 120px;

    }
  }

  &__footer {
    padding: 64px 20px 68px;
    display: flex;
    flex-direction: column;
  }


}
