.page {
  &__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    box-sizing: border-box;
    min-height: 100vh;
  }

  &__catalog {
    @include grid;

    @include laptop {
      padding:  0 72px 64px;
    }

    @include desktop {
      padding:  0 120px 64px;
    }

  }

  &__footer {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 64px 20px 68px;

    @include grid;

    @include laptop {
      padding:  120px 72px ;
    }

    @include desktop {
      padding: 120px;
    }

    &--title {
      grid-column: 1 / 3;
      margin-bottom: 48px;

      @include laptop {
        grid-column: 1 / 7;
        margin-bottom: 56px;
      }

      @include desktop {
        grid-column: 1 / 13;
      }

    }
  }

  &--with-menu {
    overflow: hidden;
  }
}
