.phone {
  display: flex;
  gap: 20px;

  &__label {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;

    text-transform: uppercase;

  }
  &:not(:hover) .phone__label{
    @include visually-hidden;
  }
}
