.recommended {
  padding: 64px 20px;

  &__products {
    display: flex;
    flex-direction: column;
  }

  @media (min-width:1020px) {
    &__products {
      display: flex;
      flex-direction: row;
    }
  }
}
