.recommended {
  padding: 64px 20px;
  grid-column: 1 /3;

  &__products {
    display: flex;
    flex-direction: column;
  }

  @media (min-width:1020px) {
    &__products {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
  }
}
