.title {
  font-family: 'Manrope', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  align-items: center;
  color: #FFFFFF;

  &--secondary {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1B2129;
  }

  &--product-name {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    color: #1B2129;
  }

  &--product-price {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    color: #1B2129;
  }
}
