.consultation {
  display: flex;
  flex-direction: column;
  padding-top: $indentationBetweenPages;
  @media (max-width: 768px) {
    padding-top: $indentationBetweenPages768px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;

    @media (max-width: 1024px) {
      flex-direction: column;
      margin-top: $contentMarginTopMedia768;
      width: 100%;
    }
  }

  &__description {
    width: $columnContentSize;

    @media (max-width: 1150px) {
      padding-right: 50px;
      width: 70%;
    }

    @media (max-width: 1024px) {
      padding-right: 0;
      width: 100%;
    }
  }

  &__form {
    max-width: $columnContentSize;
    &:first-child {
      margin-top: 0;
    }

    @media (max-width: 1024px) {
      margin: 32px auto 0;
      width: 100%;
    }

  }

  &__input {
    &--1 {
      margin-top: 0;
    }
  }

  &__button {
    width: 100%;
    margin-top: 32px;
  }
}
