.consultation {
  display: flex;
  flex-direction: column;
  padding-top: $indentationBetweenPages;
  @media (max-width: 768px) {
    padding-top: $indentationBetweenPages768px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;

    @media (max-width: 767px) {
      display: block;
      margin: 0 auto;
      margin-top: $contentMarginTopMedia768;
      width: 80%;
    }
  }

  &__description {
    max-width: 413px;

    @media (max-width: 1150px) {
      padding-right: 50px;
    }

    @media (max-width: 767px) {
      padding-right: 0;
      max-width: 100%;
    }
  }

  &__form {
    max-width: 413px;
    &:first-child {
      margin-top: 0;
    }
    @media (max-width: 1150px) {
      width: 30%;
    }

    @media (max-width: 767px) {
      margin: 32px auto 0;
      width: 100%;
    }

  }

  &__input {
    &--1 {
      margin-top: 0;
    }
  }

  &__button {
    width: 100%;
    margin-top: 32px;
  }
}
