.consultation {
  display: flex;
  flex-direction: column;
  padding-top: $indentationBetweenPages;
  @media (max-width: 768px) {
    padding-top: $indentationBetweenPages768px;
  }

  &__wraper {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
  }

  &__subtitle {
    @extend %blockMargin0A;
  }

  &__description {
    max-width: 413px;
  }

  &__form {
    max-width: 413px;
    &:first-child {
      margin-top: 0;
    }
  }

  &__input {
    width: calc(100% - #{$inputPaddingLeft});
    margin-top: 16px;
    &--1 {
      margin-top: 0;
    }
  }

  &__button {
    width: 100%;
    margin-top: 32px;
  }
}
