%section-title {
  margin: 0 0 48px;

  font-weight: 500;
  font-size: 32px;

  @include onTablet {
    font-size: 48px;
  }

  @include onDesktop {
    font-size: 64px;
  }

  line-height: 100%;
  letter-spacing: $letter-spacing-main;
  color: $color-white;
}

%section-subtitle {
  margin: 0 0 8px;

  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

%section-description {
  margin: 0 0 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
