@mixin onDekstop {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin phoneContent {
  text-align: end;
  width: 201px;
  white-space: pre-wrap;
  display: block;
  padding-right: 16px;
  opacity: 0;
  pointer-events: none;
  color: $text-color;
  text-transform: uppercase;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
  font-size: 16px;
  line-height: 27px;
  transition: 1s;
}

@mixin phoneContentHover {
  opacity: 1;
  pointer-events: all;
}

@mixin title {
  letter-spacing: -1.5px;
  color: $color-dark;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
