@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin titles {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  font-weight: $bold;
  color: $t-color;
}

@mixin titlesOnDesktop {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  font-weight: $bold;
  color: $t-color;
}
