$color-black: #1d1d1d;
$color-gray: #e5e5e5;
$color-white: #fff;

$transition-time: 0.3s;

$grid-tablet-col: 6;
$grid-pc-col:12;
$grid-gap: 24px;

$letter-spacing-main: -1.5px;
$letter-spacing-secondary: 2px;
