$color-main: #d12d35;
$bold-font: 700;
$color-dark: #161616;
$text-color: #fff;
$placeholder-color: #7e7e83;

$margin-big: 48px;
$margin-small: 24px;
$column-gap: 24px;
$max-content-width: 1020px;
$button-hover-c: #ae1c23;
$button-active-c: #eb343d;
$transition-time: 0.4s;
