.advantages {

  &__title {
    margin-top: 0;

    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-columns: 1, 1fr;
    gap: 8px;

    list-style: none;
  }

  &__item {
    font-weight: 700;
    line-height: 140%;
  }

  &__description {
    margin-top: 40px;

    line-height: 27px;
  }
}
