.button {
  height: 56px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;

  font-weight: 700;
  font-family: inherit;
  font-size: inherit;

  box-sizing: border-box;
  color: $white;
  background: $darkGray;
  border: 3px solid $darkGray;
  cursor: pointer;
  transition: all $transitionTime;

  &:hover {
    background: $white;
    color: $darkGray;
  }

  &:active {
    background: $darkGray;
    color: $darkGray;
  }
}
