.card {
  display: grid;

  &__image {
    margin-bottom: 32px;
    max-width: 100%;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(110%);
    }
  }

  &__title {
    margin-bottom: 8px;
    text-decoration: none;
    font-weight: 700;
    color: inherit;
  }

  &__category {
    margin-bottom: 12px;

    text-decoration: none;
    color: inherit;
  }

  &__price {
    font-weight: 700;
  }
}
