.contact-us {

  line-height: 140%;

  &__info {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 14px;
    color: $coldGray;
  }

  &__input:nth-child(3) {
    margin-bottom: 32px;
  }

  &__link {
    color: $charcoalGrey;
    text-decoration: none;
    transition: color $transitionTime;

    &:hover {
      color: $coldGray;
    }
  }

  &__button {
    margin-bottom: 48px;
  }
}
