.footer {
  height: 200px;
  background-image: url(../images/footer_mobile.png);
  @extend %background-image;

  @include onTablet {
    height: 400px;
    background-image: url(../images/footer_tablet.png);
  }

  @include onDesktop {
    height: 460px;
    background-image: url(../images/footer_desktop.png);
  }
}
