.formfield {

  &__form {
    display: grid;
    grid-template-columns: 1, 1fr;
    gap: 16px;
  }

  &__input {
    height: 48px;
    padding: 14px;

    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 16px;

    background: $ghostWhite;
    color: $darkGray;

    &::placeholder {
      font-size: 14px;
      color: $jumboGray;
    }

    &:hover {
      border-color: $ironGray;
    }

    &:focus {
      border-color: $darkGray;
    }

    &--textarea {
      height: 148px;

      box-sizing: border-box;
      resize: none;
      font-family: inherit;
    }
  }
}
