.wrapper {
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
    max-width: 1024px;
  }
}
