@use "../styles/utils/mixins" as *;

.footer {
  height: 200px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @include for-ipad {
    height: 480px;
  }

  @include for-desktop {
    height: 555px;
  }
}
