@use "../styles/utils/mixins" as *;
@import "../styles/fonts";

.main {
  background-color: #1d1d1d;
  padding-top: 60px;

  @include for-ipad {
    padding-top: 120px;
  }

  @include for-desktop {
    padding-top: 120px;
  }
}
