@use "../styles/utils/mixins" as *;

.phone {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;

  &__label {
    height: 1em;
    width: 190px;
    color: var(--gray-white, #FFF);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &:not(:hover) .phone__label {
    @include visually-hidden();
  }
}
