.logo {
  display: inline-block;
  background-image: url("/images/logo.png");
  width: 82px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @include onDesktop {
    width: 130px;
    height: 76px;
  }
}
