.testimonial {
  &__item {
    width: 240px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    @include hover (box-shadow, 0 6px 33px rgba(157, 157, 157, 0.46));

    @media (max-width: $small-screen-break-point) {
      margin-bottom: 48px;
      width: 300px;
    }
  }
  &__img {
    margin-bottom: 28px;
  }
  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: $bold-font-weight;
    color: $main-highlight_color;
    margin-bottom: 4px;
  }
  &__small-title {
    color: #9fadc2;
    margin-bottom: 4px;
  }
}
