.back-button {
  width: 32px;
  height: 32px;

  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: $c-orange;
  border: 3px solid $c-orange;
  border-radius: 50%;

  transition: background-color 0.3s, border 0.3s;

  &:hover {
    background-color: $c-dark;
    border: 3px solid $c-dark;
  }

  &:focus {
    background-color: $c-black;
    border: 3px solid $c-black;
  }

  &__icon {
    width: 70%;
    height: 70%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background-image: url(./../images/back_arrow.svg);
    background-size: cover;
  }
}
