.contact {
  &__container {
    display: flex;
    justify-content: space-between;

    @include tabletMini {
      display: grid;
      justify-content: center;
      width: 100%;
    }

    @include mobile {
      margin: 0 auto;
      width: 280px;
    }
  }

  &__text {
    display: grid;
    grid-template-columns: repeat(auto-fit, 152px);
    width: calc(50% - 100px);
    justify-content: space-between;

    @include tablet {
      width: 152px;
    }

    @include tabletMini {
      width: 320px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 152px);
      justify-content: center;
      width: calc(100% - #{$containerPaddingMini * 2});
    }
  }

  &__info {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #9fadc2;
  }

  &__text-data {
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #3e3e3e;
  }

  &__form {
    width: calc(50% - 100px);
    @include tablet {
      width: 50%;
    }

    @include tabletMini {
      width: 320px;
    }

    @include mobile {
      display: grid;
      width: calc(100% - #{$containerPaddingMini * 2});
    }
  }
}
