.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #fff;
  border-radius: 40px;

  text-decoration: none;
  background-color: #fff;
  color: #1d1d1d;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  height: 56px;

  @include onDesktop {
    max-width: 324px;
    margin: 0 auto;
  }

  &:hover {
    filter: drop-shadow(1px 4px 16px rgba(232, 232, 240, 0.4));
    cursor: pointer;

  }

  &:active {
    filter: drop-shadow(1px 4px 16px rgba(232, 232, 240, 0.64));
  }
}
