.header {
  /* stylelint-disable */
  height: 100dvh;
  /* stylelint-enable */

  padding-bottom: 88px;
  box-sizing: border-box;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat($grid-columns-mobile, $grid-width-mobile);
  grid-column-gap: $grid-gap-mobile;

  background-image: url(./../images/header_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__navigation {
    align-self: start;
    grid-column: 1 / 2;
    grid-row: 1;
  }

  &__title {
    display: flex;
    justify-content: center;

    align-self: end;
    grid-column: 1 / 3;
    grid-row: 1;

    color: $c-white;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -1.5px;
  }

  @include tablet {
    padding-bottom: 130px;

    grid-template-columns: repeat($grid-columns-tablet, $grid-width-tablet);
    grid-column-gap: $grid-gap-tablet;

    &__title {
      grid-column: 1 / 7;

      font-size: 4rem;
    }
  }

  @include desktop {
    padding-bottom: 203px;

    grid-template-columns: repeat($grid-columns-desktop, $grid-width-desktop);

    &__title {
      grid-column: 1 / 13;

      font-size: 5rem;
    }
  }
}
