.body {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 540px;
}

.link__decor {
  text-decoration: none;
  transition: color 200ms;

  &:hover {
    color: #1cabec;
    cursor: pointer;
  }

  //&:visited {
    //color: darken(#1cabec, 10);
  //}
}

.textual {
  font-size: 16px;
  line-height: 1.5;
  color: #000;

  h2 {
    font-size: 32px;
    line-height: 1.1;
    font-weight: normal;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  ol {
    list-style: decimal;
    position: relative;
    left: -5px;

    li {
      padding-left: 5px;
    }
  }

  ol,
  ul {
    margin-bottom: 1em;
  }

  &_big {
    font-size: 24px;
    line-height: 1.3;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.form {
  &__field {
    margin-bottom: 10px;
  }
}

.input,
.textarea {
  text-align: center;
  line-height: normal;
  height: 52px;
  background: #eee;
  font-weight: 600;
  color: #393939;
  border: none;
  width: 100%;
  font-size: 16px;

  &::placeholder {
    font-size: 14px;
  }

  &:hover {
    cursor: pointer;
  }
}

.textarea {
  height: 100px;
  padding-top: 20px;
}

.button {
  font-size: 14px;
  line-height: 52px;
  height: 52px;
  display: block;
  background-color: #1cabec;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  width: 100%;
  border: none;
  transform: translate(0, 0);
  transition: transform 200ms, background-color 400ms;

  &:hover {
    cursor: pointer;
    background-color: darken(#1cabec, 10);
    transform: translate(0, 2px);
  }

  &-inline {
    display: inline-block;
    padding: 0 60px;
    width: auto;
  }
}
