.footer {
  height: 540px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../images/b1.jpg);
  position: fixed;
  bottom: 0;
  z-index: 100;
  left: 0;
  right: 0;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.3);
    content: "";
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 78px;

    &:hover {
      cursor: pointer;
    }
  }

  &__copy {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 16px;
    bottom: 66px;
    left: 0;
    right: 0;
  }
}
