.t {
  &__photo_1 {
    background-image: url(../images/t-photo1.png);
  }

  &__photo_2 {
    background-image: url(../images/t-photo2.png);
  }

  &__photo_3 {
    background-image: url(../images/t-photo3.png);
  }
}
