.testis {
  display: flex;
  justify-content: space-between;
}

.t {
  text-align: center;
  padding: 0 2%;

  &__photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    &:before {
      content: "";
        position: absolute;
        left: -35px;
        top: 50%;
        margin-top: -15px;
        width: 40px;
        height: 40px;
        background: url(../images/icon.png) no-repeat;
        background-size: contain;
    }
  }

  &__photo_1 {
    background-image: url(../images/t-photo1.png);
  }

  &__photo_2 {
    background-image: url(../images/t-photo2.png);
  }

  &__photo_3 {
    background-image: url(../images/t-photo3.png);
  }

  &__name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
  }

  &__position {
    font-style: italic;
    font-size: 16px;
    color: #696973;
    margin-top: 5px;
  }

  &__descr {
    max-width: 300px;
    line-height: 1.37;
    font-size: 16px;
    text-align: center;
    color: #000;
    margin-top: 25px;
  }
}
