.buy {
  &__content {
    display: grid;
    justify-content: center;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr 1fr;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 32px;
    letter-spacing: -1.5px;
    margin: 0;

    color: $colorPar;
    @include onTablet {
      padding-right: 24px;
      font-size: 40px;
      line-height: 100%;
      grid-column: 1 / 4;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
      grid-column: 1 / 5;
    }
  }

  &__description {
    padding-right: 40px;
    padding-bottom: 32px;

    @include onTablet {
      grid-column: 4 / 6;
    }

    @include onDesktop {
      grid-column: 6 / 9;
    }
  }

  &__par {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $colorPar;

    padding-bottom: 16px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__text {
    max-width: 280px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $colorPar;

    @include onTablet {
      grid-column: 4 / 6;
      max-width: 288px;
    }

    @include onDesktop {
      grid-column: 6 / 10;
      max-width: 410px;
    }
  }
}
