.button {
  display: flex;
  width: 100%;
  min-height: 56px;
  font-family: inherit;
  border: 0 none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  background-color: $color-accent;
  color: $color-bright;
  transition: background-color 0.3s ease-in;
  cursor: url("../images/icons/icon-mice.svg"), auto;

  &--secondary {
    display: inline-block;
    color: inherit;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 0;
    position: relative;
    cursor: url("../images/icons/icon-mice.svg"), auto;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-bright;
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &:hover {
    background-color: $color-accent-dark;
  }

  &:active {
    background-color: $color-accent-light;
  }
}
