.button {
  display: flex;
  width: 100%;
  max-width: 392px;
  min-height: 56px;
  font-family: inherit;
  border: 0 none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  background-color: $color-accent;
  color: $color-bright;
  transition: background-color 0.3s ease-in;
  margin: 0 auto;
  cursor: url(../images/icons/icon-mice.svg), auto;

  &:hover {
    background-color: $color-accent-dark;
  }

  &:active {
    background-color: $color-accent-light;
  }

  &--secondary {
    display: inline-block;
    color: inherit;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
    cursor: url("../images/icons/icon-mice.svg"), auto;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-bright;
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &--scroll {
    position: fixed;
    text-decoration: none;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    background-color: $color-accent;
    background-image: url(../images/icons/icon-top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $color-bright;
    transition: background-color 0.3s ease-in,
      background-position-y 0.3s ease-in;

    &::before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border: 3px solid $color-accent;
      border-radius: 50%;
      transition: border-color 0.3s ease-in;
    }

    &:hover {
      background-color: $color-accent-dark;
      background-position-y: 0;

      &::before {
        border-color: $color-accent-dark;
      }
    }

    &:active {
      background-color: $color-accent-light;

      &::before {
        border-color: $color-accent-light;
      }
    }
  }
}
