.card {
  width: 100%;
  display: grid;
  margin-bottom: 48px;
  text-align: center;

  &__photo {
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    line-height: 1.4;
    color: $color-accent;
    margin-bottom: 4px;
  }

  &__description {
    font-family: "Roboto", sans-serif;
  }
}
