.contact {
  // display: block;

  &__title {
    margin-bottom: 48px;
  }

  &__subtitle {
    margin: 48px 0 16px;
  }

  &__description {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__phone {
    text-decoration: none;
    font-weight: 700;
    color: $color-main-light;
  }

  &__address {
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    color: $color-main-light;
  }

  &__row {
    margin-bottom: 8px;
  }
}
