.form {
  margin: 48px 0;

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    background-color: $color-form-bg;
    font-size: 14px;
    line-height: 20px;
    padding: 13px 10px;
    border: 1px solid transparent;
    margin-bottom: 16px;
    font-family: "Cinzel", serif;
    resize: none;
    transition: border-color 0.3s ease-in;

    &::placeholder {
      color: $color-form-placeholder;
      transition: color 0.3s ease-in;
    }

    &:hover {
      border-color: $color-form-border;

      &::placeholder {
        color: $color-main;
      }
    }

    &:focus {
      outline: none;
      border-color: $color-main;
    }
  }

  &__button {
    margin-top: 32px;
  }
}
