.header {
  background-color: $color-main-light;
  // background-image: url(../images/photos/header-mobile.jpg);
  // background-size: cover;
  background-image: url(../images/photos/header-desktop.jpg);
  background-size: 265%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px 288px;
}
