.information {
  @include on-tablet {
    @include grid(2);
  }

  &__title {
    text-align: left;
    margin-left: 0;
  }

  &__row {
    display: grid;
    grid-template-columns: 120px auto;
  }

  &__hours {
    font-weight: 700;
  }

  &__holidays {
    margin: 16px 0 24px;

    &--last {
      margin-bottom: 0;
    }
  }

}
