.menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  min-height: 100vh;
  background-color: $color-accent;
  color: $color-bright;
  padding: 0 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 2;

  &__navigation {
    grid-template-columns: auto 24px;
    margin-bottom: 40px;
  }

  &__label {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__phone {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__open {
    transform: translateX(0);
  }
}
