.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 64px 1fr 30px;
  align-items: center;
  gap: 24px;
  padding-top: 25px;

  @include on-tablet {
    padding-top: 50px;
    gap: 55px;
  }

  &__logo-link {
    width: 64px;
    height: 46px;
  }

  &__icon {
    width: 30px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;

    &--phone {
      background-image: url(../images/icons/icon-phone.svg);
      position: relative;
      z-index: 3;
      cursor: pointer;
      @include hover(transform, scale(1.1));

      @include on-tablet {
        &:hover {
          + .navigation__info {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    &--menu {
      background-image: url(../images/icons/icon-menu.svg);
      @include hover(background-image, url(../images/icons/icon-menu-hover.svg));
    }

    &--close {
      background-image: url(../images/icons/icon-close.svg);
      @include hover(transform, rotate(180deg));
    }
  }

  &__contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  &__info {
    color: $color-bright;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding-right: 46px;
    transform: translateY(-43px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    text-shadow: 0 0 6px $color-main;

    @include on-tablet {
      &:hover {
        visibility: visible;
        transition: opacity 0.3s ease-in;
        opacity: 1;
      }
    }
  }

  &__phone {
    font-size: 16px;
    padding: 0;
    line-height: 27px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 8px;
    display: inline-block;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      bottom: 1px;
      background-color: $color-bright;
    }
  }
}
