.consultation {
  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @include onMobile {
      flex-direction: column;
      row-gap: 32px;
    }
  }

  &__title {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #0075ff;
  }

  &__text-container,
  &__form {
    width: 500px;

    @include onMobile {
      width: 100%;
    }
  }
}
