.consultation {

  &__content {
    display: flex;
    justify-content: space-around;
    margin: 90px 0 0;
  }

  &__message {
    max-width: 420px;
    min-width: 190px;
    margin: 0 0 20px;
  }

  &__tittle {
    @include fonts-style(normal, 24px, 30px, $own_color);
    margin: 0;
    font-weight: bold;
  }

  &__text {
    @include fonts-style(normal, 16px, 27px, $c_min_tittle);
    margin: 16px 0 0;
    align-self: flex-end;
    text-align: left;
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__form-item {
    @include fonts-style(normal, 14px, 14px, $c_min_tittle );
    @include form-item(48px);

    &::placeholder {
      @include fonts-style(normal, 14px, 14px, #B9C1CE );
    }
  }

  &__button {
    color: #fff;
    width: 413px;
    height: 56px;
    border-width: 0;

    background: $own_color;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;

    transition: color $long-transit,
      background $long-transit,
      box-shadow $long-transit;

    &:hover {
      box-shadow: 0 6px 23px rgba(2, 22, 44, 0.46);
      background: #00aaef;
    }
  }
}

@media only screen and (max-width: 920px) {

  .consultation {

    &__message {
      max-width: 90%;
      min-width: 190px;
    }

    &__content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 90px 0 0;
    }

    &__tittle {
      text-align: center;
    }
  }

}

@media only screen and (max-width: 420px) {

  .consultation {
    &__form {
      width: 90%;
    }

    &__button,
    &__form-item {
      width: 100%;
    }

  }
}
