
.contact {

  &__content {
    display: flex;
    justify-content: space-around;
    margin: 90px 0 0;
  }

  &__address {
    display: flex;
  }

  &__caller {
    max-width: 420px;
    min-width: 190px;
  }

  &__tittle {
    @include fonts-style(normal, 14px, 27px, #9FADC2);
  }

  &__text {
    @include fonts-style(normal, 16px, 27px, $c_min_tittle);
    margin: 0 0 24px;
  }

  &__maps {
    max-width: 150px;
    min-width: 100px;
    margin: 0 50px 0 0;
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__form-item {
    @include fonts-style(normal, 14px, 14px, $c_min_tittle );
    @include form-item(48px);
    
    &::placeholder {
      @include fonts-style(normal, 14px, 14px, #B9C1CE );
    }
  }

  &__form-text {
    @include fonts-style(normal, 14px, 14px, $c_min_tittle );
    @include form-item(144px);

    &::placeholder {
      @include fonts-style(normal, 14px, 14px, #B9C1CE );
    }
  }

  &__button {
    color: #fff;
    width: 413px;
    height: 56px;
    border-width: 0;

    background: $own_color;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;

    transition: color $long_transit,
      background $long_transit,
      box-shadow $long_transit;

    &:hover {
      box-shadow: 0 6px 23px rgba(2, 22, 44, 0.46);
      background: #00aaef;
    }
  }

}

@media only screen and (max-width: 920px) {

  .contact {

    &__content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 90px 0 0;
    }

    &__text,
    &__address,
    &__maps,
    &__tittle {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      margin: 0;
    }

    &__form {
      margin: 25px 0;
    }

  }

}

@media only screen and (max-width: 420px) {

  .contact {

    &__form {
      width: 90%;
    }

    &__button,
    &__form-item {
      width: 100%;
    }

  }
}
