.testimonials {
  margin-top: 152px;
  
  display: flex;
  flex-direction: column;

  &__heading {
    @extend %h2-with-crown;
  }

  &__container {
    display: flex;
    justify-content: space-around;
  }
}

.person {
  height: fit-content;
  margin: -15px -5px -10px;
  padding: 15px 5px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;

  transition: transform 650ms;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 6px 2px #3090ff;
  }

  &__name {
    margin-top: 28px;
    margin-bottom: 4px;

    @extend %h3;
  }

  &__status {
    font-size: 14px;
    line-height: 193%;

    color: #9fadc2;
  }

  &__quote {
    max-width: 240px;
    font-size: 16px;
    line-height: 169%;

    text-align: center;

    color: #3e3e3e;
  }

  &__image {
    width: 150px;
    height: 150px;
  
    border-radius: 50%;
    background-size: cover;
    transition: transform 1000ms;

    @for $i from 1 through 3 {
      &_#{$i} {
        background-image: url("/images/people/#{$i}.svg");
      }
    }
  }
}
