.about {
  display: block;

  @include onTablet {
    display: grid;
  }

  &__title {
    margin: 0 0 32px;
    @extend %blocks-title;
  }

  &__text {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
  }
}
