.bikes {
  display: block;

  @include onDestop {
    display: grid;
  }

  &__title {
    @extend %blocks-title;
  }

  &__card {
    margin: 0 auto 40px;

    @include onTablet {
      margin: 0 auto 48px;
    }

    @include onDestop {
      margin: 0 auto;
    }

    &:last-child {
      margin: 0 auto;
    }
  }
}
