@import "utils";

.button {
  display: block;
  background-color: $highlight-color;
  cursor: pointer;
  padding: 19px 62px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  transition: background-color $hover-duration;

  &:hover {
    background-color: $highlight-hover-color;
  }
}
