.footer {
  background-image: url(../images/footerMob.png);
  height: 200px;
  background-size: cover;
  background-position: center;

  @include onTablet {
    background-image: url(../images/footerTab.png);
    height: 480px;
  }

  @include onDestop {
    background-image: url(../images/footerDesk.png);
    height: 555px;
  }
}
