.heading {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 70px;

  font-weight: bold;
  font-size: 48px;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;

    margin-top: 8px;
    width: 23px;
    height: 16px;

    background-image: url(../images/crown.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mobile {
      bottom: -16px;
    }
  }

  @include mobile {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 50px;
  }
}
