.articles {
  display: grid;
  row-gap: 48px;
  justify-content: center;
  @include marginTop100;

  &__headline {
    text-align: center;
  }

  &__title {
    @include sizeLine(32px, 32px);

    @include onTablet {
      @include sizeLine(48px, 48px);
    }
  }

  &__all {
    display: grid;
    grid-template-columns: auto;
    row-gap: 48px;
    max-width: 392px;
    margin: auto;

    @include onDesktop {
      grid-template-columns: auto auto auto;
      column-gap: 24px;
      max-width: none;
    }
  }
}
