.header {
  height: 100vh;
  width: 100%;
  padding: 25px 124px;
  background: url(../images/header.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width: $max-width-for-mobile) {
    padding: 24px 23px;
    background-position: 51%;
  }

  &__title {
    max-width: 1020px;
    width: 100%;

    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    color: $white-color;
    padding-bottom: 55px;
    position: relative;

    &::before {
      content: "";
      width: 40px;
      border-top: 2px solid $white-color;
      position: absolute;
      top: -24px;
    }

    @media (max-width: $max-width-for-mobile) {
      font-size: 46px;
      line-height: 48px;
      padding-bottom: 56px;
    }
  }
}
