.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;

  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: $white-color;
  position: relative;

  &__phone,
  &__call-to-order {
    cursor: pointer;
    transition: transform $transition-time;
  }
  
  &__phone:hover,
  &__call-to-order:hover {
    transform: translateX(10px);
  }

  &__call-to-order::after {
    content: "";
    width: 97px;
    border-bottom: 1px solid $white-color;
    position: absolute;
    bottom: -8px;
    left: 0;
  }
}
