@mixin background-props {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin hover-underline {
  transition: border-color 0.3s;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: $color-white;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin top-position {
  @include flex-column;
  justify-content: space-between;
  height: 100vh;
}

@mixin big-title {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  color: $color-dark;
}

@mixin font-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

@mixin font-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

@mixin museum-title {
  @include font-bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}
