@mixin background-props {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin hover-underline {
  transition: border-color 0.3s;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: #fff;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin top-position {
  @include flex-column;
  justify-content: space-between;
  height: 100vh;
}
