.product {
  cursor: pointer;
  font-family: Inter, Helvetica, sans-serif;

  @include hover(transform, scale(1.05));

  &__title {
    margin: 32px 0 8px;

    color: $c-gray;
    font-weight: 700;
    line-height: 140%;
  }

  &__description {
    margin-bottom: 12px;

    color: $c-gray;
    line-height: 140%;
  }

  &__price {
    color: $c-gray;
    font-weight: 700;
    line-height: 140%;

    &::before {
      content: "$ ";
    }
  }

  @include desktop {
    &__description {
      margin-bottom: 12px;
    }
  }
}
