@import "../../utils/vars";

.person {
  text-align: center;

  &__photo {
    width: 150px;
    height: 150px;
  }

  &__name {
    margin-top: 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $highlight-color;
  }

  &__position {
    margin-top: 4px;
    font-size: 14px;
    color: rgba(159, 173, 194, 1);
  }

  &__text {
    margin-top: 13px;

    font-size: 16px;
  }
}
