@import "variables";
@import "colors";

@media (max-width: 1259px) and (min-width: 745px) {
  body {
    max-width: 744px;
  }

  .header {
    padding: 5rem 7.2rem;
  }

  .museum {
    place-items: start;
    padding: 72px;
    margin-top: 0;
  }

  .museum__menu {
    grid-template-columns: 290px 290px;
    column-gap: $column-gap;
  }

  .no-wrap {
    white-space: pre-line;
  }

  .exhibition__details {
    max-width: 600px;
  }

  .exhibition__gallery--top {
    justify-content: start;
    &-image-1 {
      width: 392px;
      height: 186px;
    }
    &-image-2 {
      width: 184px;
      height: 186px;
    }
  }

  .exhibition__gallery--middle {
    justify-content: start;

    &-image-1 {
      width: 288px;
      height: 284px;
    }

    &-image-2 {
      width: 288px;
      height: 284px;
    }

    &-image-3 {
      display: none;
      column-gap: $column-gap;
    }

  }

  .hero__text {
    font-size: calc(#{$hero__text-font} - 1.6rem);
  }
}
