@import "variables";
@import "colors";

@media (max-width: 1259px) and (min-width: 744px) {
  .hero__text {
    font-size: calc(#{$hero__text-font} - 1.6rem);
  }

  .museum {
    padding: 72px;
    margin: 0 auto;
  }

  .museum__menu {
    grid-template-columns: 1fr 1fr;
    column-gap: $column-gap;
  }

  .no-wrap {
    white-space: pre-line;
  }

  .exhibition__gallery--top {
    justify-content: start;
    &-image-1 {
      width: 392px;
      height: 186px;
    }
    &-image-2 {
      width: 184px;
      height: 186px;
    }
  }

  .exhibition__gallery--middle {
    justify-content: space-between;
    column-gap: $column-gap;
    &-image-1 {
      width: 288px;
      height: 284px;
    }

    &-image-2 {
      width: 288px;
      height: 284px;
    }

    &-image-3 {
      display: none;
    }
  }

  .exhibition__gallery--bottom {
    justify-content: start;
    column-gap: $column-gap;
    &-image-1 {
      width: 184px;
      height: 186px;
    }
    &-image-2 {
      width: 392px;
      height: 186px;
    }
  }

  .explore__gallery {
    grid-template-columns: 1fr;
  }

  .explore__gallery--description {
    margin-bottom: 20px;
  }

  .explore__gallery-image-1 {
    order: 0;
    width: 392px;
    height: 387px;
  }

  .explore__gallery--description-1 {
    order: 1;
  }

  .explore__gallery-image-2 {
    order: 2;
    width: 392px;
    height: 387px;
  }

  .explore__gallery--description-2 {
    order: 3;
  }

  .explore__gallery-image-3 {
    order: 4;
    width: 392px;
    height: 387px;
  }

  .explore__gallery--description-3 {
    order: 5;
  }

  .contact {
    margin: 0;
    display: grid;
  }

  .contact__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .contact__layout {
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contact__entry {
    display: grid;
  }

  .contact__form {
    display: grid;
    width: 288px;
    height: 200px;
    grid-row: 1/ 3;
  }

  .contact__address--first {
    order: 0;
  }

  .contact__address--second {
    order: 2;
  }
}

@media only screen and (max-width: 743px) {
  .header {
    padding: 50px 86px;
  }

  .modal{
    padding: 0;

    &__close {
      padding-right: 0;
    }
  }

  .hero__text {
    padding-top: 150px;
    font-size: calc(#{$hero__text-font} - 4rem);
    display: flex;
    justify-content: center;
    line-height: 100%;
  }

  .museum {
    padding: 20px;
    margin: 0;
  }

  .museum__menu {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-top: 50px;

    &--red-text {
      display: none;
    }

    &--big-text {
      display: none;
    }
  }

  .no-wrap {
    white-space: pre-line;
  }

  .exhibition__details--title {
    font-size: 32px;
    white-space: nowrap;
    line-height: 10px;
  }

  .exhibition__gallery--top {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    &-image-1 {
      background-image: url("../images/photos/paintings-small.jpg");
      width: 130px;
      height: 130px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }

    &-image-2 {
      width: 130px;
      height: 130px;
    }
  }

  .exhibition__timeline--info {
    width: 280px;
  }

  .exhibition__timeline--date {
    width: 280px;
  }

  .exhibition__gallery--middle {
    max-width: 280px;
    justify-content: space-between;

    &-image-1 {
      width: 88px;
      height: 87px;
    }

    &-image-2 {
      width: 88px;
      height: 87px;
    }

    &-image-3 {
      width: 88px;
      height: 87px;
    }
  }

  .exhibition__gallery--bottom {
    max-width: 280px;
    justify-content: space-between;
    column-gap: $column-gap;

    &-image-1 {
      width: 130px;
      height: 130px;
    }

    &-image-2 {
      width: 130px;
      height: 129px;
    }
  }

  .exhibition__button {
    width: 280px;
    margin-bottom: 100px;
  }

  .explore {
    max-width: 280px;
    align-items: start;
  }

  .explore__gallery {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .explore__gallery--theme {
    margin: 20px;
  }

  .explore__gallery--description {
    margin-bottom: 20px;
    white-space: normal;
  }

  .explore__title {
    width: 280px;

    &--text {
      font-size: 32px;
      line-height: 27px;
    }
  }

  .explore__gallery-image-1 {
    order: 0;
    width: 280px;
    height: 277px;
  }

  .explore__gallery--description-1 {
    order: 1;
  }

  .explore__gallery-image-2 {
    order: 2;
    width: 280px;
    height: 277px;
  }

  .explore__gallery--description-2 {
    order: 3;
  }

  .explore__gallery-image-3 {
    order: 4;
    width: 280px;
    height: 277px;
  }

  .explore__gallery--description-3 {
    order: 5;
  }

  .contact__title {
    display: block;
    max-width: 280px;
    margin: 50px 0;
    text-align: center;

    &--text {
      font-size: 32px;
    }
  }

  .contact__layout {
    max-width: 280px;
    margin: 0;
    grid-template-columns: 1fr;
  }

  .contact__form {
    max-width: 280px;
    order: 1;
    margin: 50px 0;
  }

  .contact__address--first {
    margin: 20px 0;
  }

  .contact__address--second {
    margin: 20px 0;
  }

}
