$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-small: 1.2rem;
$font-size-small-plus: 1.4rem;
$font-size-mid: 1.6rem;
$font-size-big: 4.8rem;

$letter-spacing-negative: -0.15rem;
$letter-spacing-positive: 0.2rem;

$line-height-regular: 2.7rem;
$line-height-big: 4.8rem;

$column-gap: 2.4rem;
$column-gap-big: 4.8rem;

$modal-width: 125.8rem;
$modal-height: 70rem;

$modal__link-margin: 3.2rem 0 0 12.1rem;
$modal__logo-margin: 3.2rem 0 5.5rem 12.1rem;

$modal__anchor-font: 2.2rem;
$modal__anchor-line-height: 2.2rem;

$modal__text: 1.6rem;
$modal__text-margin: 4.8rem 0 0 12.1rem;

$modal__order-margin: 1.6rem 0 0 12.1rem;
$modal__order-line-height: 1.6rem;

$bottom-positioning: -0.5rem;
$hover-line-thickness: 0.1rem;

$header-min-height: 86rem;
$header-padding: 5rem 12rem;

$header__text-width: 20rem;
$header__text-shadow: 1.8rem 0.4rem 2.6rem rgba(0, 0, 0, 0.44);
$header__text-bottom: -3.5rem;

$hero__text-font: 8rem;
$hero__text-line-height: 8rem;

$museum-margin-top: 13.8rem;

$museum__menu-column-gap: 5.6rem;

$museum__menu--big-text-font: 4.8rem;
$museum__menu--big-text-line-height: 4.8rem;

$museum__menu--title-font: 2.4rem;
$museum__menu--title-line-height: 3rem;

$museum__menu--small-text-font: 1.6rem;
$museum__menu--small-text-margin-bottom: 2.4rem;

$museum__menu--time-margin-right: 2.5rem;

$museum__menu--align-top-margin-right: 6rem;
$museum__menu--align-bottom-margin-right: 8rem;

$exhibition__details-margin-top: 14rem;

$exhibition__details--title-line-height: 4.8rem;

$exhibition__details--text-margin: 0.8rem 0 4.8rem;

$exhibition__timeline-margin: 24px 0 48px;

$exhibition__button-width: 32.4rem;
$exhibition__button-height: 5.6rem;
$exhibition__button-margin: 0 auto 15.4rem;

$explore__title--text-margin-bottom: 4.8rem;

$explore__gallery-margin: 2rem 12rem;

$explore__gallery--theme-font: 2.4rem;
$explore__gallery--theme-margin-bottom: -1.5rem;

$contact-margin-bottom: 15rem;

$contact__layout-margin: 0 12rem;

$contact__title--text-margin: 14rem 0 4.8rem;

$contact__bold--top-margin-bottom: 1rem;

$contact__bold--bottom-margin-top: -2rem;

$contact__form-width: 41.1rem;

$contact__input__textarea-padding: 1rem;
$contact__input__textarea-margin-bottom: 2rem;

$contact__textarea-height: 14.4rem;

$contact__button-height: 5.6rem;
$contact__button-padding: 1.4rem;

$footer__image-min-height: 35.9rem;
