@mixin font-parameters ($ff, $fw, $fs) {
  font-family: $ff;
  font-weight: $fw;
  font-style: $fs;
}

@mixin backgroundParam ($size, $rep, $pos) {
  background-size: $size;
  background-repeat: $rep;
  background-position: $pos;
}

@mixin widthHeight ($w, $h) {
  width: $w;
  height: $h;
}

@mixin onDeskTop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}
