.person {
  width: 240px;
  text-align: center;

  &__name {
    margin-top: 28px;

    color: $accentColor;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  &__profession {
    margin: 0;
    font-size: 14px;
    line-height: 27px;

    color: #9fadc2;
  }

  &__info {
    margin: 0;
  }
}
