.button {
  height: 56px;
  width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  align-self: flex-start;
  @media (max-width: $media-medium) {
    width: 100%;
  }

  &__section-produts {
    background-color: $c-mine-shift;
    color: $c-white;
    margin-bottom: 120px;

  }
}
