.contacts {

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  // .contacts__input

  &__input {
    width: 100%;
    padding: 14px 12px;
    border: 1px solid #f8f8fa;
    background-color: rgba(248, 248, 250, 1);
    margin-bottom: 16px;

    &--textarea {
      height: 144px;
      margin-bottom: 32px;
      resize: none;
    }

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      border-color: #d5d7de;
      &::placeholder {
        color: #161616;
      }
    }

    &:focus {
      border-color: #161616;
    }
  }

  &__title {
    color: #3e3e3e;
    font-weight: 700;
  }

  &__phone-number {
    @extend .contacts__title;
  }

  &__adress-number {
    @extend .contacts__title;
  }
}
