.view {

  &__img-container {
    height: 100%;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 20%;

    &--position {
      object-position: 100%;
    }
  }

  &__name {
    color: #d12d35;
    font-weight: 700;
  }

  &__grid {
    margin-bottom: 24px;
  }

  &--margin-b {
    margin-bottom: 45px;
  }

  &--flex {
    display: flex;
  }

  &--none {

    @include desktop768 {
      display: none;
    }

    @include desktop {
      display: block;
    }
  }

}
