.link {
  position: relative;

  color: $colorBlue;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $colorBlue;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }

  &:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
