@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1020px) {
    @content;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin fontProperties($weight, $size) {
  font-weight: $weight,;
  font-size: $size;
}

@mixin mainTitleFont($size) {
  font-size: $size;
  line-height: $size;
}
