$f-weight-normal: 500;
$f-weight-main-titles: 700;
$f-weight-small: 400;
$menu-weight: 600;

$content-width: 100%;

$f-size-pharagraph: 16px;
$f-size-h3: 24px;
$f-size-smallest: 12px;
$f-size-h2: 32px;
$f-letter-space: -1.5px;

$f-size-contacts: 14px;

$text-color-menu: rgba(29, 29, 29, 1);
$text-color-main: rgba(255, 255, 255, 1);

$border-radius: 40px;
$border-properties: 1px solid transparent;

$header-and-menu-h: 100vh;

$anim-t: 0.8s;
