.about {
  margin-bottom: 92px;

  @include onTablet {
    margin-bottom: 132px;
  }

  @include onDesktop {
    margin-bottom: 164px;
  }

  &__container {
    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: top;
    }
  }

  &__title {
    @include font-size ($title-fontSize, $section-font, $title-lineHeihgt);

    @include onTablet {
      @include font-size (
        $title-fontSizeTabl, $section-font, $title-lineHeihgtTabl
      );
    }

    @include onDesktop {
      @include font-size (
        $title-fontSizeDesc, $section-font, $title-lineHeihgtDesc
      );
    }

    letter-spacing: -1.5px;
    margin-bottom: 32px;

    @include onTablet {
      width: 50%;
    }
  }

  &__text {
    @include font-size ($section-size, $section-font, $section-height);

    @include onTablet {
      width: 50%;
    }
  }
}
