.about {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    & {
      flex-direction: column;
      width: 500px;
    }
  }

  @media (max-width: 530px) {
    & {
      width: 300px;
    }
  }

  @media (max-width: 330px) {
    & {
      width: 200px;
    }
  }

  &__min-description {
    width: 328px;
    height: 97px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;

    @media (max-width: 1100px) {
      & {
        width: 500px;
        margin-bottom: 80px;
      }
    }

    @media (max-width: 600px) {
      & {
        height: 73px;
        width: 240px;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 48px;
      }
    }

    @media (max-width: 319px) {
      & {
        width: 100%;
      }
    }
  }

  &__link {
    color: #0075ff;
  }

  &__max-description {
    width: 500px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;

    @media (max-width: 530px) {
      & {
        width: 100%;
      }
    }

    @media (max-width: 320px) {
      & {
        width: 280px;
      }
    }

    @media (max-width: 319px) {
      & {
        width: 100%;
      }
    }

    &-title {
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #0075ff;

      @media (max-width: 600px) {
        & {
          width: 280px;
          margin-bottom: 16px;
        }
      }

      @media (max-width: 319px) {
        & {
          width: 100%;
        }
      }
    }
  }

  &__bold {
    font-weight: bold;
  }
}
