.about {
  margin-bottom: 92px;

  @include onTablet {
    margin-bottom: 132px;
  }

  @include onDesktop {
    margin-bottom: 164px;
  }

  &__container {
    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    @include font-size (32px, $section-font, $section-height);

    @include onTablet {
      font-size: $tablet-size;
    }

    @include onDesktop {
      font-size: $desctop-size;
    }

    letter-spacing: -1.5px;
    margin-bottom: 32px;

    @include onTablet {
      width: 50%;
    }
  }

  &__text {
    @include font-size ($section-size, $section-font, $section-height);

    @include onTablet {
      width: 50%;
    }
  }
}
