.address {
  @include flex-column;
  gap: 25px;
  grid-column: span 3;

  &__title {
    margin-bottom: 5px;
  }

  &__link {
    text-decoration: none;
    line-height: 140%;
    color: #3e3e3e;
    transition: all 0.3s;

    &:hover {
      text-shadow: 1px 1px #8d8a8a;
    }
  }
}
