@use '../../mixins/media';
@use '../../mixins/fonts';

.article {
  @include media.grid;

  grid-column: 1 / -1;

  &__title {
    grid-column: span 2;

    margin: calc(120px - media.$grid-phone-gap) 0 32px;

    text-align: center;

    @include fonts.title;
  }

  &__text {
    grid-column: span 2;

    &-title {
      @include fonts.cat-text;

      &:not(:first-child) {
        margin-top: 16px;
      }

      &:first-child {
        margin-top: calc(96px - media.$grid-phone-gap);
      }
    }

    &-description {
      @include fonts.cat-text-normal;

      margin-top: calc(96px - media.$grid-phone-gap);
    }
  }

  @include media.for-tablet {
    &__title {
      grid-column: 1 / 4;

      margin-top: calc(120px - media.$grid-tablet-gap);

      font-size: 40px;
    }

    &__text {
      grid-column: 4 / 7;

      margin-top: calc(0px + media.$grid-tablet-gap);
    }
  }

  @include media.for-desktop {
    &__title {
      grid-column: 1 / 6;
    }

    &__text {
      grid-column: 6 / 11;
    }
  }
}
