.benefits {

  &__title {
    @extend .main__title;
    flex: 1 1 50%;

  }
  &__content {
    flex: 1 1 50%;
  }

  // .benefits__list

  &__list {
    font-weight: 700;

    list-style: none;
    line-height: 1.4;
  }

  // .benefits__item

  &__item {
    margin-bottom: 16px;
  }
  &__item:last-child {
    margin-bottom: 40px;
  }

  // .benefits__content

  &__info {
    line-height: 1.6;
  }
}

@media screen and (min-width: 744px) {
  .benefits {
    @include flex(space-between, flex-start);
    gap: 24px;
  }
}
@media screen and (min-width: 1260px) {
  .benefits {
    @include flex(left, flex-start);
    gap: 24px;

    &__title,
    &__content {
      flex: 0 0 400px;
    }
  }
}
