.button {
  box-sizing: border-box;
  height: 56px;
  width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: $c-mine-shift;
  color: $c-white;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  align-self: flex-start;
  transition: border 0.5s, background-color 0.5s, color 0.5s;

  &:hover {
    border: 1px solid $c-grey-button-hover-border;
    background-color: $c-grey-button-hover;
    color: $c-mine-shift;
  }

  &:visited {
    background-color: $c-black-button-visited;
    color: $c-white;
  }

  @media (max-width: $media-medium) {
    width: 100%;
  }

  &__section-produts {
    margin-bottom: 120px;
  }
}
