.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  box-sizing: border-box;
  @include icon-size (100%, 56px);

  cursor: pointer;

  font-weight: 700;
  line-height: 27px;

  text-decoration: none;
  background-color: $white-color;
  border: 1px solid $white-color;
  border-radius: 40px;
  color: $dark-color;

  position: relative;
  z-index: 2;

  transition: all 0.3s;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &-wrapper {
    margin: 0 auto;

  }
}
