.buy-info {
  @include on-tablets {
    @include grid-for-tablets;
  }

  &__title {
    grid-column: span 3;
    margin-bottom: 40px;
  }

  &__list {
    margin-bottom: 40px;
    grid-column: 4 / span 3;
  }

  &__item {
    font-weight: bold;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__paragraph {
    grid-column: 4 / span 3;
  }
}
