.card {
  width: 280px;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  @include onDesktop {
    width: 324px;
    margin-bottom: 0;
    margin-right: 24px;
  }

  @include onTablet {
    width: 392px;
    margin-bottom: 48px;
  }

  &__image {
    margin-bottom: 32px;
    width: 280px;
    height: 228px;

    @include onDesktop {
      width: 324px;
      height: 264px;
    }

    @include onDesktop {
      width: 392px;
      height: 316px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
  }
}
