.cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onDesktop {
    flex-direction: row;
    justify-content: space-between;
  }

  &__bike {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      min-height: 460px;
    }

    &-bottom {
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 48px;
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }

    &-photo {
      @include icon-size (280px, 228px);

      @include onTablet {
        @include icon-size (392px, 316px);
      }

      @include onDesktop {
        @include icon-size (324px, 256px);

        &:not(:last-child) {
          margin-right: 24px;
        }
      }

      margin-bottom: 32px;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-name {
      @include font-size ($title-size, $tittle-font, $tittle-height);

      margin-bottom: 8px;
    }

    &-text {
      width: 280px;

      @include onTablet {
        width: 392px;
      }

      @include onDesktop {
        width: 324px;
      }

      margin-bottom: 16px;
    }

    &-price {
      @include font-size ($title-size, $tittle-font, $tittle-height);

      margin-top: auto;
    }
  }
}
