.categories {

  // .categories__category

  &__category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(130px, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    justify-content: space-between;
  }

  // .categories__category-img

  &__category-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid;
  }

  // .categories__category-title

  &__category-title {
    grid-area: 2 / 1 / 3 / 3;
    border: 1px solid;
  }
}

@media screen and (min-width: 744px) {
  .categories {

    &__category {
      grid-template-columns: 2fr 1fr;
    }

    &__category:last-child {
      grid-template-columns: 1fr 2fr;
    }
  }
}
