.compare-bikes {
  margin-bottom: 92px;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onDesktop {
    margin-bottom: 144px;
  }

  &--title {
    margin-bottom: $tittle-bottom;

    @include onDesktop {
      margin-bottom: 56px;
    }
  }
}
