.compare {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 30px;
  grid-row-gap: 100px;

  &__price {
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;
  }

  &__description {
    margin-top: 30px;
    text-align: left;
    display: block;
    height: 70px;
    font-size: 24px;
  }

  &__name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
  }

  &__bike {
    width: 100%;
    transition: 1s;

    &:hover {
      scale: (1.1);
      cursor: zoom-in;
    }
  }
  &__block {
    width: 500px;
  }

  @media (min-width: 745px) {
    & {
      grid-row-gap: 100px;
    }

    &__block {
      width: 600px;
    }

    &__name {
      font-size: 34px;
    }

    &__description {
      font-size: 26px;
      height: 80px;
    }

    &__price {
      font-size: 34px;
    }
  }

  @media (min-width: 1259px) {
    & {
      grid-column-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: none;
    }

    &__block {
      width: 400px;
    }

    &__name {
      font-size: 30px;
    }

    &__description {
      font-size: 22px;
    }

    &__price {
      font-size: 30px;
    }
  }

  @media (min-width: 1400px) {
    & {
      grid-column-gap: 60px;
    }

    &__block {
      width: 500px;
    }

    &__name {
      font-size: 34px;
    }

    &__description {
      font-size: 26px;
      height: 85px;
    }

    &__price {
      font-size: 34px;
    }
  }
}
