.contact {
  &__title {
    display: block;
    margin: 0 0 48px;
  }

  &__content {

    @include onTablet {
      display: grid;

      @include onTablet {
        grid-template-columns: repeat(6, 1fr);
        gap: $grid-gap-tablet-pc;
      }

      @include onDesktop {
        grid-template-columns: repeat(12, 1fr);
        gap: $grid-gap-tablet-pc;
      }

    }
  }

  &__form {
    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }

  &__method {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #9fadc2;
  }

  &__data {
    margin-bottom: 24px;

    text-decoration: none;
    line-height: 22px;
    color: #3e3e3e;

    transition: $animation-duration;

    &:hover {
      color: #058a8fe8;
    }
  }

  &__input {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
