.contacts {
  &__info {
    &-title {
      color: #ccc  ;
      margin-bottom: 8px;

      font-size: 14px;
      line-height: 140%;
    }

    &-link {
      color: #fff;
      font-size: 16px;
      line-height: 140%;
      text-decoration: none;

      &:not(:last-child) {
        display: block;
        margin-bottom: 24px;
      }
    }
  }
}
