.contact-form {

  // .contact-form__form

  &__form {
    width: 280px;
  }

  // .contact-form__name

  &__name {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 16px;

    font-size: 14px;
    font-family: inherit;
    line-height: 20px;

    border-radius: 40px;
    border: 0;
    background-color: $bg-input;

    &::placeholder {
      color: $text-color-input;
    }
  }

  // .contact-form__email

  &__email {
    @extend .contact-form__name;
  }

  // .contact-form__message

  &__message {
    @extend .contact-form__name;
    height: 148px;
    border-radius: 16px;
    resize: none;
  }

  // .contact-form__btn

  &__btn {
    display: block;
    width: 100%;
    font-weight: 700;
    border: 3px solid #292929;
    margin-bottom: 48px;
  }

  // .contact-form__title

  &__title {
    color: #9fadc2;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 8px;
  }

  // .contact-form__company-phone

  &__desription {
    color: #3e3e3e;
    line-height: 1.4;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 744px) {
  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

@media screen and (min-width: 1260px) {
  .contact-form {
    gap: 198px;
  }
}
