.contacts {
  margin-bottom: 120px;

  @include onDesktop {
    margin-bottom: 182px;
  }

  &--title {
    margin-bottom: $tittle-bottom;
  }

  &--smaller {
    @include onDesktop {
      @include font-size (48px, 600, 48px);
    }
  }

  &--form {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
