@import "./opening.scss";
@import "./compare.scss";
@import "./details.scss";
@import "./form.scss";

.content {
  width: $site-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__opening {
    margin-top: 120px;
    width: $site-width;
    display: flex;
    justify-content: center;
    gap: 3vw;

    @media (max-width:650px) {
      & {
        scale: (0.7);
      }
    }
  }

  &__compare {
    padding-top: 15vh;
    display: flex;

    align-items: center;
    flex-direction: column;

    &--text {
      font-weight: 500;
      font-size: 64px;
    }

    @media (max-width:450px) {
      & {
        scale: (0.45);
      }
    }

    @media (max-width:650px) and (min-width:451px) {
      & {
        scale: (0.6);
      }
    }
  }

  &__details {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width:420px) {
      & {
        scale: (0.38);
      }
    }

    @media (max-width: 745px) and (min-width:421px) {
      & {
        scale: (0.55);
      }
    }

    @media (min-width: 745px) and (max-width: 999px) {
      & {
        scale: (0.6);
      }
    }

    @media (min-width: 1000px) and (max-width: 1300px) {
      & {
        scale: (0.8);
      }
    }
  }

  &__form {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width:450px) {
      & {
        scale: (0.65);
      }
    }
  }
}
