.main {
  &--top-distance {
    margin-top: 104px;
    padding: 0 120px;
    margin-bottom: 88px;

    @media (max-width: 800px) {
      & {
        padding: 0 20px;
      }
    }

    @media (max-width: 600px) {
      & {
        margin-bottom: 64px;
      }
    }

    @media (max-width: 600px) {
      & {
        margin-top: 64px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 152px 0;

    @media (max-width: 600px) {
      & {
        gap: 64px 0;
      }
    }
  }
}
