.details {
  &__images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 16px;
  }

  &__image-box {
    position: relative;
    height: 130px;

    @include onTablet {
      height: 187px;
    }

    @include onDesktop {
      height: 320px;
    }

    &--1 {
      flex-grow: 1;

      @include onTablet {
        flex-grow: 1;
      }
    }

    &--2 {
      flex-grow: 1;

      @include onTablet {
        flex-grow: 2;
      }
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }
  }
}
