.detail {
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onDesktop {
    margin-bottom: 195px;
  }

  &--title {
    margin-bottom: $tittle-bottom;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: $tittle-bottom;
    }
  }
}
