.details {
  &__header {
    font-weight: 500;
    font-size: 64px;
    text-align: center;
  }

  &__block {
    margin-top: 50px;

    &--photos {
      display: flex;
    }

    &--catch {
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      margin-top: 14px;
    }

    &--description {
      display: block;
      line-height: 20px;
      max-width: 672px;
      margin-top: 14px;
    }
  }

  &__photo {
    transition: 1s;

    &:hover {
      scale: (1.07);
      cursor: zoom-in;
    }

    &--big,
    &--small {
      margin-right: 24px;
    }

    &--big,
    &--small,
    &--last {
      @media (max-width: 650px) {
        max-width: 324px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 324px;
    border-radius: 40px;
    background-color: white;
    transition: 1s;
    animation: wiggle 2s linear infinite;

    &:hover {
      background-color: $pressed-button-color;
      scale: (1.1);
      animation: none;
    }

    @media (max-width:399px) {
      & {
        scale: (0.7);
      }
    }

    @media (min-width:400px) and (max-width:650px) {
      & {
        scale: (0.9);
      }
    }

    @media (min-width:651px) and (max-width: 745px) {
      & {
        width: 500px;
        height: 46px;
      }
    }
  }

  &__link {
    color: $c-gray;
    text-decoration: none;
    font-weight: 700;
    margin-top: 60px;
  }

  @media (max-width:330px) {
    &__photo,
    &__photo--last {
      max-width: 38vw;
    }

    &__block {
      max-width: 80vw;
    }
  }

  @media (max-width:455px) {
    &__block {
      &--description {
        max-width: 80vw;
      }

      &--catch {
        font-size: 16px;
      }
    }

    &__photo {
      max-height: 25vw;

      // &--last2 {
      //   margin-left: 8vw;
      // }
    }

    &__header {
      font-size: 48px;
    }
  }

  @media (min-width:456px) and (max-width:575px) {
    &__block {
      &--description {
        max-width: 80vw;
      }
    }

    &__photo {
      max-height: 130px;
    }

    &__header {
      font-size: 50px;
    }
  }

  @media (min-width:576px) and (max-width:750px) {
    &__block {
      max-width: 700px;
      &--description {
        max-width: 70vw;
      }
    }

    &__photo {
      max-height: 150px;
    }
  }

  @media (min-width:751px) and (max-width:987px) {
    &__block {
      max-width: 800px;
    }

    &__photo {

      max-height: 200px;
    }
  }

  @media (min-width:988px) and (max-width:1200px) {
    &__block {
      max-width: 1000px;

      &--description {
        font-size: 24px;
        line-height: 27px;
      }
    }

    &__photo {
      max-width: 500px;
    }
  }
}
