.details {
  &__header {
    font-weight: 500;
    font-size: 64px;
    text-align: center;
  }

  &__block {
    margin-top: 50px;

    &--photos {
      display: flex;
    }

    &--catch {
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      margin-top: 14px;
    }

    &--description {
      display: block;
      line-height: 20px;
      max-width: 672px;
      margin-top: 14px;
    }
  }

  &__photo {
    &--big,
    &--small {
      margin-right: 24px;
    }
  }

  // @media (min-width: 745px) {

  // }
}
