.explore {
  // @media (min-width: 744px) {
  //   & .container {
  //     padding: 0 170px;
  //   }
  // }

  // @media (min-width: 744px) {
  //   & .container {
  //     padding: 0 120px;
  //   }
  // }

  &__title {
    @include big-title;
    padding-bottom: 40px;
    font-weight: 700;
    text-align: center;

    @media (min-width: 744px) {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
    }
  }

  &__cards {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    gap: 48px;

    @media (min-width: 1260px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    padding-bottom: 24px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: $color-orange;
      text-align: center;
    }

    &-text {
      font-family: "Roboto", sans-serif;
      @include font-normal;
      text-align: center;
    }
  }
}
