.form-field {
  display: block;
  @include size(100%, 48px);

  padding: 14px 16px;

  background-color: #f8f8fa;
  border-radius: 40px;
  border: 1px solid transparent;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #292929;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    &::placeholder {
      color: #292929;
    }
  }

  &:focus {
    border-color: #292929;
    outline: none;
  }

  &--textarea {
    border-radius: 16px;
    height: 148px;
    resize: none;
    font-family: inherit;
  }
}
