.form-field {
  display: block;
  @include icon-size (100%, 48px);

  box-sizing: border-box;

  background-color: #f8f8fa;
  border: 1px solid transparent;
  border-radius: 40px;

  padding: 14px 16px;

  &::placeholder {
    @include text-size (14px, 20px);
    color: #7e7e83;
  }

  &:hover {
    color: #292929;
    background-color: $hover-color;
  }

  &:focus {
    @include text-size (14px, 20px);
    outline: none;
  }

  &--textarea {
    height: 148px;

    font-family: inherit;
    border-radius: 16px;
    resize: none;
  }
}
