.main {
  padding: 100px 20px 0;
  max-width: 1260px;

  // .main__container

  &__container {
    @include flex (center, center);
    flex-direction: column;
    margin-bottom: 100px;
  }

  // .main__title

  &__title {
    padding-top: 20px;
    margin-bottom: 48px;

    font-size: 32px;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: center;
  }
}

@media screen and (min-width: 744px) {
  .main {

    &__container {
      padding: 20px 72px;
    }
    &__title {
      font-size: 40px;
    }
  }
}

@media screen and (min-width: 1260px) {
  .main {
    &__container {
      // padding: 20px 10px;
    }
    &__title {
      font-size: 48px;
    }
  }
}
