.main {
  padding-top: 100px;
  border: 1px solid;

  // .main__container

  &__container {
    max-width: 1260px;
    border: 1px solid red;
    padding: 20px;
    margin: 0 auto 100px;
  }

  // .main__title

  &__title {
    // padding-top: 20px;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -1.5px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 744px) {
  .main {
    &__container {
      padding: 20px 72px;
    }
  }
}

@media screen and (min-width: 1260px) {
  .main {
    &__container {
      padding: 20px 120px;
    }
  }
}
