@use '../../mixins/media';

.main {
   scroll-behavior: smooth;

   @include media.grid;

   grid-column: span 2;

   @include media.for-tablet {
      grid-column: span 6;
   }

   @include media.for-desktop {
      grid-column: span 12;
   }
}
