.on-view {
  margin-bottom: 100px;
  text-align: center;

  @media (min-width: 744px) {
    margin-bottom: 140px;
  }

  &__title {
    @include big-title;
    margin-bottom: 8px;

    &-text {
      @include font-normal;
      margin-bottom: 48px;
    }
  }
}
