.opening {
  margin-top: 120px;
  width: $site-width;
  display: flex;
  justify-content: center;
  gap: 3vw;

  &__left {
    text-align: center;
    width: 40%;
    font-weight: 500;
    font-size: 60px;
    min-width: 400px;
    padding-left: 20px;
  }

  &__right {
    text-align: left;
    width: 60%;
    font-weight: 500;
    font-size: 24px;
    max-width: 500px;
    line-height: 27px;
    padding-right: 40px;
  }

  @media (min-width: 745px) {
    &__right {
      padding-right: 40px;
      font-size: 26px;
      line-height: 30px;
    }

    &__left {
      padding-left: 30px;
      font-size: 70px;
      min-width: 400px;
    }
  }

  @media (min-width: 1260px) {
    & {
      gap: 4vw;
    }

    &__right {
      font-size: 26px;
      line-height: 28px;
    }

    &__left {
      font-size: 75px;
    }
  }

  @media (min-width: 1400px) {
    & {
      gap: 6vw;
    }

    &__right {
      font-size: 32px;
      line-height: 36px;
    }

    &__left {
      font-size: 80px;
    }
  }
}
