.products {
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  gap: 48px;

  line-height: 1.4;

  &__title {
    margin-bottom: 8px;

    font-size: inherit;
  }

  &__category {
    display: block;
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
  }
}

@media screen and (min-width: 1260px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 324px);
  }

}
@media screen and (min-width: 744px) {
  .products {
    display: grid;
    grid-template-columns: 392px;
  }
}

@media screen and (min-width: 1260px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 324px);
    gap: 24px;
  }
}
