.products {
  grid-column: 1 / 13;
  margin: 0 auto;
  max-width: 1020px;

  @media (max-width: $media-big) {
    padding: 0 120px;

    @media (max-width: $media-medium) {
      padding: 0;
    }
  }

  &-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-section__recommended {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    justify-content: center;

    @media (max-width: $media-big) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $media-medium) {
      grid-template-columns: 1fr;
    }
  }

  &-section__products {
    display: grid;
    grid-gap: 24px;
    max-width: 100%;

    @media (max-width: $media-small) {
      grid-gap: 20px;
    }
  }

  &-section__products--first-big {
    grid-template-columns: 2fr 1fr;
  }

  &-section__products--first-small {
    grid-template-columns: 1fr 2fr;
  }

  &-section__img {
    height: 100%;
    width: 100%;
  }

  &-section__links {
    text-decoration: none;
    color: $c-mine-shift;

    &:hover {
      color: $c-grey-links-hover;
    }
  }
}
