.section {
  width: 100%;

  @include on-desktop {
    &--flex {
      display: flex;
    }

    &__address {
      margin: 0 auto;
    }
  }

  &__recommended:not(:last-child) {
    margin-bottom: 50px;

    @include on-tablets {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 0;
    }
  }
}
