@use "../utils/mixins" as *;

.title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: $line-height-percent-sm;
  letter-spacing: -1.5px;
  text-align: center;
  color: $c-white;

  @include for-tablet() {
    font-size: $font-size-7;
    line-height: $line-height-lg;
    letter-spacing: -1.5px;
  }

  @include for-desktop() {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.5px;
  }

  &--secondary {
    font-family: Poppins, sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: $font-size-6;
    line-height: $line-height-percent-sm;
    letter-spacing: -1.5px;
    color: $c-white;

    @include for-tablet() {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
    }

    @include for-desktop() {
      font-size: $font-size-7;
      line-height: $line-height-lg;
      letter-spacing: -1.5px;
    }
  }

  &--section {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $font-size-6;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-transform: capitalize;
    color: $c-white;

    @include for-tablet() {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
    }

    @include for-desktop() {
      font-size: $font-size-7;
      line-height: $line-height-lg;
      letter-spacing: -1.5px;
    }
  }
}
