.worktime {
  margin: 0 20px 100px;

  @include onPhone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12);
    margin: 0 20px 100px;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12);
    margin: 0 84px 140px 72px;
  }

  @include onDesctop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12);
    margin: 0 120px;
  }
}

.worktime__red-title {
  color: $menuColors;
  font-weight: 700;
  font-size: 12px;
  margin: 0 0 2px;

  @include onPhone {
    grid-column: 1 /2 ;
  }

  @include onTablet {
    grid-column: 1 / 2;
  }

  @include onDesctop {
    grid-column: 1 / 3;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  color: $textColors;
  margin: 0;
  text-transform: uppercase;
  
  @include onPhone {
    grid-column: 1 /4 ;
    margin-bottom: 32px;
  }

  @include onTablet {
    grid-column: 1 / 2;
    grid-row: 2 /3;
  }
  
  @include onDesctop {
    grid-area: 2 / 1 /3 /9;
  }
}

.worktime__museum-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $textColors;
  margin: 0 0 16px;
  
  @include onPhone {
    grid-column: 1 /4;
  }

  @include onTablet {
    grid-column: 3/ 7;
  }

  @include onDesctop {
    grid-area: 1 /6 / 2 /15;
  }
}

.worktime__hour {
  line-height: 27px;
  font-weight: 700;
  font-size: 16px;
  color: $textColors;
  width: max-content;
  
  @include onPhone {
    grid-column: 1 /2 ;
  }
  
  @include onTablet {
    grid-area: 2 / 3 / 3 / 4;
  }

  @include onDesctop {
    grid-area: 2 / 6 /3 /10;
    margin-bottom: 16px;
  }
}

.worktime__day {
  line-height: 27px;
  font-weight: 400;
  font-size: 16px;
  color: $textColors;
  width: max-content;
  
  @include onPhone {
    grid-column: 2 /3 ;
  }

  @include onTablet {
    grid-area: 2 / 5 /3 /6 ;
  }

  @include onDesctop {
    grid-area: 2 /8/ 3/ 15;
  }
}

.worktime__weekend {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  @include onPhone {
    grid-column: 1 /2 ;
  }
  
  @include onTablet {
    grid-area: 3 / 3 /4 /6;
  }

  @include onDesctop {
    grid-area: 3 /6 /4 /10;
  }
}

.worktime__weekend-day {
  margin: 0 0 24px ;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  
  @include onPhone {
    grid-column: 1 /4 ;
  }
  
  @include onTablet {
    grid-area: 4/ 3 / 5/ 6;
  }

  @include onDesctop {
    grid-area: 5 / 6 /6/ 20;
  }
}

.worktime__museum-name2 {
  @include onTablet {
    grid-column: 3 / 7;
  }

  @include onDesctop {
    grid-area: 7/ 6/ 7 /15;
  }
}

.worktime__hour2 {
  @include onTablet {
    grid-area: 6 /3 /7 /4;
  }

  @include onDesctop {
    grid-area: 8 / 6 /9 /10;
  }
}

.worktime__day2 {
  @include onPhone {
    grid-column: 2/3;
    margin-left: 10px;
  }

  @include onTablet {
    grid-area: 6 / 5 /7 /6;
  }

  @include onDesctop {
    grid-area: 8 / 8 /9 /15;
  }
}

.worktime__weekend2 {

  @include onPhone {
    grid-column: 1 /2 ;
  }

  @include onTablet {
    grid-row: 7 / 8;
    grid-column: 3/4;
  }

  @include onDesctop {
    grid-area: 10/ 6/ 11/ 10;
  }
}

.worktime__weekend-day2 {
  @include onPhone {
    grid-column: 1 /3 ;
  }

  @include onTablet {
    grid-area: 9 /3 /10 /10;
  }
  
  @include onDesctop {
    grid-area: 12 /6 /13 /20;
    margin: 0 0 140px;
  }
}
