$colorWhite: #fff;
$menuColors: #d12d35;

.header {
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/header2.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 0;
  margin-bottom: 100px;

  @include onDesctop {
    margin-bottom: 157px;
  }
}

.header__logo {
  position: absolute;
  left: 25px;
  width: 64px;
  margin: 0;
  color: $colorWhite;
  text-decoration: none;
  font-weight: 600;
  font-size: 26px;

  @include onTablet {
    width: 87px;
    height: 65px;
    font-weight: 700;
    font-size: 40px;
    line-height: 80%;
  }

  @include onDesctop {
    top: 50px;
    left: 120px;
    width: 87px;
    height: 65px;
    font-weight: 700;
    font-size: 40px;
    line-height: 80%;
    letter-spacing: -1.5px;
  }
}
  
.header__call {
  display: flex;
  justify-content: end;
  align-items: center;
}
  
.header__icon {
  display: block;
  width: 18px;
  height: 18px;
    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include onTablet {
    width: 24px;
    height: 24px;
  }
}

.icon--menu {
  position: absolute;
  right: 25px;
  top: 42px;
  background-image: url(../images/menu.svg);

  @include onDesctop {
    right: 124px;
    top: 75px;
    width: 24px;
    height: 17px;
  }
}

.icon--phone {
  position: absolute;
  right: 68px;
  top: 42px;
  background-image: url(../images/phone.svg);
  text-decoration: none;

  @include onDesctop {
    &::before {
      content: $beforeText;
      display: block;
      opacity: 0;
      width: max-content;
      color: $colorWhite;
      pointer-events: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      white-space: pre-wrap;
      position: relative;
      bottom: 200%;
      transform: translateX(-100%);
      padding-right: 20px;
      transition-duration: 0.3s;
    }
    
    &:hover::before {
      transition-duration: 0.3s;
      opacity: 1;
      pointer-events: all;
    }

    right: 211px;
    top: 70px;
    width: 24px;
    height: 24px;
  }
}
  
.header__title {
  position: relative;
  top: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  height: 80px;
  letter-spacing: -1.5px;
  color: $colorWhite;

  @include onDesctop {
    top: 160px;
    font-weight: 700;
    font-size: 90px;
    line-height: 80px;
    letter-spacing: -1.5px;
  }
}
