.exhibition {
  perspective: 400px;
  
  @include onPhone {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    justify-content: center;
    gap: 24px;
    margin: 0 20px;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 63px);
    justify-content: center;
    gap: 24px;
    margin: 0 72px;
  }

  @include onDesctop {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    justify-content: center;
    gap: 24px;
    margin: 0 120px;
  }
}

/* #region Title */

.title--2 {

  @include onPhone {
    grid-column: 1/3;
    grid-row: 1/1;
    text-align: center;
  }
  
  @include onTablet {
    grid-area: 1/ 2/ 2/ 6;
    text-align: center;
  }
  
  @include onDesctop {
    grid-area: 1/ 5/ 2/ 9;
  }
}

.exhibition__description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
  margin: 0;
  padding: 0;

  @include onPhone {
    grid-column: 1/ 3;
    grid-row: 2/ 2;
    margin-bottom: 48px;
  }

  @include onTablet {
    grid-column: 2 / 6;
    grid-row: 2 / 2;
  }

  @include onDesctop {
    grid-area: 2 / 4 / 3 / 10 ;
  }
}
/* #endregion */

/* #region First-block */

.photo--1 {

  @include onPhone {
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: left;
    grid-column: 1/1;
    grid-row: 3;
  }

  @include onTablet {
    width: 325px;
    height: 170px;
    grid-column: 1/4;
    grid-row: 3;
  }

  @include onDesctop {
    width: 672px;
    height: 320px;
    grid-column: 1/9;
    grid-row: 3/4;
  }
}

.photo--2 {
  @include onPhone {
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: left;
    grid-column: 2/2;
    grid-row: 3;
  }
  
  @include onTablet {
    width: 150px;
    height: 170px;
    grid-column: 5/6;
    grid-row: 3;
  }

  @include onDesctop {
    width: 324px;
    height: 320px;
    grid-column: 9/12;
    grid-row: 3/4;
  }
}

.exhibition__block {

  @include onPhone {
    grid-column: 1/3;
    grid-row: 4;
  }

  @include onTablet {
    grid-column: 1/6;
    grid-row: 4;
  }

  @include onDesctop {
    grid-column: 1/6;
    grid-row: 4;
  }
}

.exhibition__info {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #d12d35;
  padding: 0;
  margin: 0;
}

.exhibition__text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
  padding: 0;
  margin: 0;
}

/* #endregion*/

/* #region Second-block */

.photo_container {
  display: flex;
  justify-content: space-between;
  perspective: 400px;

  @include onPhone {
    grid-column: 1/3;
    grid-row: 5;
  }

  @include onTablet {
    grid-column: 1/6;
    grid-row: 5;
  }

  @include onDesctop {
  
    grid-column: 1/12;
    grid-row: 5;
  }
}

.photo--3 {

  @include onPhone {
    width: 88px;
    height: 87px;
  }
  
  @include onTablet {
    width: 240px;
    height: 260px;
    margin-right: 24px;
  }
  
  @include onDesctop {
    width: 324px;
    height: 320px;
    /* margin: 0 24px 0 110px; */
  }
}

.photo--4 {
  @include onPhone {
    width: 88px;
    height: 87px;
  }

  @include onTablet {
    width: 240px;
    height: 260px;
  }

  @include onDesctop {
    width: 324px;
    height: 320px;
    margin-right: 24px;
  }
}

.photo--5 {

  @include onPhone {
    width: 88px;
    height: 87px;
  }
  
  @include onTablet {
    display: none;
  }

  @include onDesctop {
    display: block;
    width: 324px;
    height: 320px;
  }
}

.exhibition__block-2 {
  @include onPhone {
    grid-column: 1/3;
    grid-row: 6;
  }

  @include onTablet {
    grid-column: 1/7;
    grid-row: 6;
  }
}

/* #endregion */

/* #region Third-block */

.photo--6 {
  
  @include onPhone {
    width: 130px;
    height: 130px;
  }

  @include onTablet {
    width: 150px;
    height: 170px;
    grid-column: 1/2;
    grid-row: 7;
  }

  @include onDesctop {
    width: 324px;
    height: 320px;
    grid-column: 1/4;
    grid-row: 7;
  }
}

.photo--7 {

  @include onPhone {
    width: 130px;
    height: 130px;
  }

  @include onTablet {
    width: 325px;
    height: 170px;
    grid-column: 3/6;
    grid-row: 7;
  }

  @include onDesctop {
    width: 672px;
    height: 320px;
    grid-column: 5/12;
    grid-row: 7;
  }
}

.exhibition-block-3 {

  @include onPhone {
    grid-column: 1/3;
  }
  
  @include onTablet {
    grid-column: 1/6;
    grid-row: 8;
  }

  @include onDesctop {
    grid-column: 1/8;
    grid-row: 8;
  }
}

/* #endregion */

/* #region Button */

.exhibition__button-box {
  
  @include onTablet {
    grid-column: 2/6;
    grid-row: 9;
  }

  @include onDesctop {
    grid-column: 5;
    grid-row: 9;
    margin-top: 16px;
  }
}

.exhibition__button {
  color: white;
  border: none;
  background-color: #d12d35;
  height: 56px;
  width: 280px;
  font-weight: 700;
  font-style: 16px;
  line-height: 27px;
  margin-bottom: 100px;
  cursor: pointer;

  &:hover {
    background-color: #ae1c23;
  }

  &:focus {
    background-color: #eb343d;
  }

  @include onPhone {
    width: 285px;
  }

  @include onTablet {
    width: 325px;
    height: 56px;
    margin-bottom: 140px;
  }

  @include onDesctop {
    width: 320px;
    height: 56px;
    margin-bottom: 140px;
  }
}

.exhibition__button-link {
  color: white;
  text-decoration: none;
}
/* #endregion */
