.form-field {
  box-sizing: border-box;
  display: block;

  width: 100%;
  height: 40px;
  padding: 14px 16px;

  background-color: #f8f8fa;
  border: 1px solid transparent;
  border-radius: 20px;
  color: $colorText;

  transition: all 0.3s;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
    box-shadow: 1px 1px 1px #4e4d4d;
  }

  &:focus {
    border-color: $colorText;
    outline: none;
    box-shadow: 2px 2px 2px #4e4d4d;
  }

  &--textarea {
    height: 148px;
    font-family: inherit;
    resize: none;
  }
}
