.header {
  background-image: url(../images/photos/3d5dfeacc61d0eeadcaaa580e1b34407.png);
  background-size: cover;
  background-position: 70%;

  transform: scalex(-1);

  &__contant {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: 40px 0 94px;

    @include onTable {
      padding: 52px 0 40px;
    }

    @include onDesktop {
      padding: 52px 0 64px;
    }
  }

  &__top {
    @include top;
    transform: scalex(-1);
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: -1.5px;
    color: $colorBlack;
    transform: scalex(-1);

    @include onTable {
      font-size: 40px;
      line-height: 40px;
    }
    
    @include onDesktop {
      font-size: 46px;
      line-height: 46px;
    }

    &::before {
      content: "";
      display: block;
      margin-bottom: 16px;
      background-image: url(../images/title_before.svg);
      background-size: cover;
      width: 32px;
      height: 27px;

      @include onTable {
        background-image: url(../images/Sound_waves.svg);
        width: 63px;
        height: 76px;
        margin-bottom: 40px;
      }
    }
  }

}
