.header {
  display: block;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;

  background-image: url(../images/header_2.jpg);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100vh;
    padding: $hederTopPadding 0 70px;

    @include onDesktop-tab {
      padding: 40px 0 55px;
    }
  }

  &__title {
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $colorText;

    @include onDesktop-tab {
      font-size: 44px;
    }

    &::before {
      content: "";
      display: block;
      margin-bottom: 16px;

      width: 32px;
      height: 32px;
      
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/line-z.png);

      @include onDesktop-tab {
        width: 64px;
        height: 76px;
        background-image: url(../images/line-sound.svg);

        transition: background-image 0.3s;
      }
    }
  }
}
