.menu {
  background-color: $colorMenu;

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: $hederTopPadding 0;

    @include onDesktop-tab {
      padding: 40px 0;
    }
  }

  &__top {
    margin-bottom: 46px;
  }

  &__list {
    margin: 0 0 46px;
    padding: 0;

    list-style: none;
  }

  &__item {
    &:nth-child(-n + 4) {
      margin-bottom: 24px;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-style: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $colorText;

    transition: border-color 0.3s;

    &:hover {
      border-color: $colorText;
    }
  }

  &__call {
    display: block;
    width: max-content;

    font-family: inherit;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $colorText;
    letter-spacing: 2px;
    text-decoration: none;
    
    &--phone {
      margin-bottom: 16px;
    }

    &--action {
      padding-bottom: 8px;
      border-bottom: 1px solid $colorText;
    }
  }
}
