.place {
  &__title {
    padding: 8px 0 48px 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  &__photo-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;



    &::after {
      display: block;
      content: "";
      padding-bottom: 100%;
    }


    @include onTablet {
      height: 186px;
      padding-bottom: 0;
    }

    @include onDekstop {
      height: 320px;
      padding-bottom: 0;
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
  }
}
