.top-actions {
  display: grid;
  grid-template-columns: 1fr $icon-width $icon-width;
  justify-content: space-between;
  align-items: center;

  @include onDesktop-tab {
    $icon-width: 24px;
  }
}
