.about {
  max-width: 1260px;
  height: 403px;
  margin: 104px auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    cursor: pointer;
    color: $c-style;
  }

  &__title {
    width: 324px;
    height: 145px;
    @extend %title;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
  }

  &__column {
    width: 498px;
    height: 403px;
  }

  &__info {
    @extend %title;
    font-size: 24px;
    line-height: 30px;
    color: $c-style;
    margin-bottom: 16px;
  }

  &__text {
    @extend %text;
    font-size: 16px;
    line-height: 27px;
    color: $c-text;
  }

  &__text--bold {
    @extend %title;
    font-weight: 700;
  }
}

@media (max-width: 1100px) {

  .about {
    height: auto;
    padding: 0 40px;
  }
}

@media (max-width: 900px) {

  .about {
    flex-direction: column;
    align-items: center;

    &__title {
      width: auto;
    }

    &__column {
      width: 498px;
      height: auto;
    }
  }
}

@media (max-width: 600px) {

  .about {
    align-items: flex-start;
    margin: 64px auto;
    padding: 0 20px;

    &__title {
      height: auto;
      margin-bottom: 48px;
      font-size: 36px;
      line-height: 36px;
    }

    &__column {
      width: auto;
      height: auto;
    }
  }
}
