.block__icon {
  display: grid;
  grid-template-columns: auto auto;
  // width: 100%;
  // padding-bottom: 100%;

  .icon {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    // padding-bottom: 100%;
    margin-left: 30px;
    @include onTablet {
      margin-left: 40px;
      width: 24px;
      height: 24px;
    }

    &--menu {
      background-image: url(../images/Vector.svg);
      &:hover {
        @include onDesktop {
          background-image: url(../images/Vector_hover.svg);
        }
      }

    }

    &--phone {
      background-image: url(../images/phone.svg);
    }
    &--cross {
      background-image: url(../images/cross.svg);
    }
  }
}
