.button{
  display: block;
  background: #FFF;
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  font-size: 16px;
  color: #1D1D1D;

  &:hover{
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:target{
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }

  &--primary{
    margin-bottom: 48px;
  }
}

 