@import "./variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 56px;

  background-color: $color__action;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
 
  transition: all 0.3s;

  &:hover {
    border: 2px solid rgba(41,41,41,1);
    background-color: $hover__background-color;
    color: $font-color__main;
  }

  &:active {
    color: #fff;
    background-color: rgba(17,17,17,1);
  }
}
