.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 4vh 1.5vh;

  box-sizing: border-box;
  text-decoration: none;
  width: 90%;
  height: 56px;
  border: 2px solid $defolt-text-color;
  background: $defolt-text-color;
  border-radius: 40px;

  color: $menu-ul-color;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  cursor: pointer;
  transition: all 0.6s;

  @include onPad {
    margin: 4vh 0;
    width: 100%;
  }

  @include onDesktop {
    margin: 4vh 0;
    width: 100%;
  }

  &:hover {
    background-color: $defolt-text-color;
    border-color: $defolt-text-color;
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    border-color: $defolt-text-color;
    background-color: $defolt-text-color;
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
