.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__image {
    width: 280px;
    margin-bottom: 32px;

    @include onIpad {
      width: 324px;

      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title-link {
    display: inline-block;
    
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    line-height: 140%;
    color: $text-color;
    text-decoration: none;
    margin-bottom: 8px;

    transition: border-color 0.3s;

    &:hover {
      border-color: $text-color;
    }
  }

  &__category {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $text-color;
    margin-bottom: 12px;
  }

  &__price {
    font-size: 16px;
    line-height: 140%;
    color: $text-color;
    margin-bottom: 48px;
  }
}
