.page__section-contacts {
  display: flex;
}

.contacts {

  @include onTub {
    display: flex;
    gap: 50px;
  }

  &__header {
    margin-bottom: 48px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 14px 16px;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f8fa;
    border-radius: 40px;

    transition: $transition-time;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #7e7e83;
    }

    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }

    &:active {
      border: 1px solid #292929;
    }

    &-textarea {
      margin-bottom: 26px;
      width: 278px;
      height: 148px;
      border-radius: 16px;
      resize: none;
    }
  }

  &__info {
    margin-bottom: 24px;

    &-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    &-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #fff;
      text-decoration: none;
    }
  }

  &__btn {
    margin: 0 auto 48px;
  }
}
