.contact {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 120px 120px;

  &__title {
    position: relative;
    @extend %title;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1.5px;
    margin-bottom: 80px;
  }

  &__title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: calc(50% - 11px);
    right: 50%;
    width: 23px;
    height: 16px;
    background: url(../images/crown.svg) no-repeat;
  }

  &__info {
    display: flex;
    justify-content: space-between;

  }

  &__us {
    display: flex;
    justify-content: space-between;
    width: 411px;
    height: 148px;
  }

  &__part {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 148px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &__name {
    @extend %text;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }

  &__link {
    @extend %text;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: $c-text;
    transition: color 0.5s;

    &:hover {
      color: $c-style;
    }
  }
}

@media (max-width: 1100px) {
  .contact {
    padding: 0 0 64px;

    &__info {
      flex-direction: column;
      align-items: center;
    }

    &__us {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 600px) {

  .contact {

    &__title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 53px;
    }

    &__info {
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding: 0 20px;
      width: auto;
    }

    &__us {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      height: auto;
      margin: 0 0 32px;
    }

    &__part {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
    }

    &__row {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 380px) {

  .contact__info {
    align-items: flex-start;
  }
}
