.contacts {
  &__info {
    margin: 0 0 24px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__info-info {
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #9fadc2;
  }

  &__info-link {
    display: block;
    margin: 0 0 24px;
    font-weight: 400;
    line-height: 140%;
    color: #3e3e3e;
    text-decoration: none;
  }

  &__info-link-l {
    display: block;
    margin: 0;
    font-weight: 400;
    line-height: 140%;
    color: #3e3e3e;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      transform: rotate(-10deg);
      transition: transform 0.5s;
    }
  }

  &__field {
    margin: 0 0 16px;
    &:last-child {
      margin: 0;
    }
    &--last {
      margin-bottom: 40px;
    }
  }
}
