.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 40px 23px 94px 20px ;
  @include onTablet {
    padding: 52px 76px 40px 72px;
  }
  @include onDesktop {
    padding: 52px 124px 64px 136px;
  }
}

.page__container {
  padding: 0 20px;
  @include onTablet {
    padding: 0 76px 0 72px;
  }
  @include onDesktop {
    padding: 0 124px 0 136px;
  }
}
