.footer {
  height: 200px;
  background-image: url(../images/footer_bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onIpad {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
  }
}
