.footer {
  height: 359px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url(../images/footer1.png) no-repeat 50%/cover;

  &__link {
    cursor: pointer;
  }

  &__logo {
    padding-bottom: 35px;
  }
}

@media (max-width: 650px) {
  .footer {
    height: 181px;
    padding-bottom: 25px;
  }

  .footer__logo {
    width: 80px;
    height: 46px;
    padding: 0;
  }
}
