.footer {
  height: 200px;
  background-image: url(../images/photos/foto_last_mob.png);
  background-size: cover;
  background-position: center;
  @include onDesktop {
    height: 460px;
    background-image: url(../images/photos/foto_last.png);
  }
  @include onTab {
    height: 460px;
    background-image: url(../images/photos/foto_last_tabl.png);
  }
}
