.form-field {
  display: block;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: #f8f8fa;
  border-radius: 40px;
  padding: 14px 16px;
  color: #000;
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:focus {
    border-color: $color__action;
    outline: none;
  }

  &--textarea {
    width: 100%;
    font-family: inherit;
    height: 150px;
    resize: none;
  }
}
