.form {
  display: flex;
  flex-direction: column;

  &__group {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 48px;
    padding: 14px 17px;
    @extend %text;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    background-color: #f7f8ff;
    border-radius: 8px;

    &:hover,
    &:focus {
      transition: border 0.5s;
      &:hover {
        border: 2px solid #0075ff;
      }
      &:focus {
        border: none;
      }
    }
  }

  &__input--text {
    width: 100%;
    height: 144px;
    resize: vertical;
  }

  &__button {
    width: 411px;
    height: 56px;
    margin-top: 16px;
    background: $c-style;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    border: none;
    @extend %title;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    color: #fff;

    &:hover,
    &:focus {
      transition: background-color 0.5s, box-shadow 0.5s;
      &:hover {
        background-color: #005ecc;
        box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
      }
      &:focus {
        box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
      }
    }
  }
}

@media (max-width: 600px) {

  .form {
    width: 100%;

    &__group {
      position: relative;
    }

    &__input--text {
      width: auto;
      height: 144px;
      resize: vertical;
    }

    &__button {
      width: auto;
      height: 56px;
      margin-top: 16px;
    }
  }
}
