.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include onTablet () {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include onDesktop() {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

  }

  &--desktop,
   
  &--Tablet {
    
    display: block;

    @include onTablet () {
      display: grid;

    }

    @include onDesktop () {
      display: grid;

    }

  }

  @include onTablet() {

    &__item {
      @for $start from 1 to 7 {
        @for $end from $start to 7 {
          &--Tablet--#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
 
  @include onDesktop() {
    &__item {
      @for $start from 1 to 13 {
        @for $end from $start to 13 {
          &--#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
          &--desktop--#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
