.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &--desktop {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 to 12 {
      @for $end from $start to 12 {
        &--#{$start}-#{$end} {
          grid-template-columns: #{$start} / #{$end};
        }

        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-template-columns: #{$start} / #{$end};
          }
        }
      }
    }
  }
}
