.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;

  color: $defolt-text-color;

  padding-bottom: 15vh;
  text-align: center;
  letter-spacing: -1.5px;

  @include onPad {
    font-size: 64px;
  }

  @include onDesktop {
    font-size: 80px;
  }
}
