@import "../utils/vars";

.header {
  background-size: cover;
  background-position: center;
  background-image: url(../images/photos/bg-header.png);
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100vh;
    padding: $headerTopPadding 0 80px;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1px;

    &::before {
      content: "";
      display: block;
      background-image: url(../images/sound-waves-m.svg);
      height: 26px;
      width: 32px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 16px;
    }

    @include onDescktop {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;

      &::before {
        height: 76px;
        width: 63px;
        background-image: url(../images/sound-waves-d.svg);
      }
    }
  }
  
  &__call {
    text-decoration: none;
    @include onDescktop {
      &::before {
        content: "+1 234 555-55-55";
        position: absolute;
        top: 50%;
        transform: translate(-100%, -50%);
        
        display: block;
        width: max-content;
        padding-right: 12px;

        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        color: $color-main-black;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all ;
      }
    }
  }
}
