.container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;

  @include onDesktop {
    padding: 0 40px;
  }
}

.header {
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: $headerTopPadding 0 80px;
  }

  &__phone {
    text-decoration: none;

    @include onDesktop {
      &::before {
        display: block;
        width: max-content;
        transform: translate(-100%, 50%);
        top: -50%;

        content: "+1 234 555-55-55";

        padding-right: 20px;

        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__title {
    font-size: 46px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff;
    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -1.5px;
    }

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background-color: #fff;
      margin-bottom: 24px;

    }
  }
}
