.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: $background-color-menu;

  transform: translateX(100%);
  transition: transform 0.9s;

  &:target {
    transform: translateX(0);
  }

  &__list {
    display: grid;
    margin: 0;

    &:not(:last-child) {
      padding: 4vh 0;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    width: max-content;

    padding-bottom: 32px;
    list-style-type: none;
  }

  &__link {
    width: max-content;
    text-decoration: none;
    color: $menu-ul-color;
    text-transform: uppercase;

    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    transition: 0.4s;

    &:hover {
      border-color: $menu-ul-color;
    }
  }

  &__contacts {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
  }

  &__test-ride {
    width: max-content;
    padding: 2vh 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    &-actions {
      padding-bottom: 8px;
      border-bottom: 1px solid $menu-ul-color;
    }
  }
}
