.icon {
  display: block;
  width: 18px;
  height: 18px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onDesktop {
    width: 24px;
    height: 24px;
  }

  &--phone {
    background-image: url("../images/call.svg");
  }

  &--menu {
    background-image: url("../images/menu.svg");
    transition: $transition-time;

    &:hover {
      background-image: url("../images/menu-hover.svg");
    }
  }

  &--close {
    background-image: url("../images/close.svg");
  }
}
