.links{
  padding-top: 60px;

  &__item{
    margin-bottom: 24px;
  }

  &__link{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1D1D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;

    &:hover{
      border-bottom: 1px solid #1D1D1D;
      padding-bottom: 8px;
      cursor:url(../images/arrowhead.svg) 12 12, auto;
    }
  }
}
