.logo {
  height: 16px;
  width: 130px;

  background-image: url(../images/bose.png);
  background-position: center;
  background-size: cover;
  text-decoration: none;

  @include onTable {
    height: 24px;
    width: 190px;
  }
  
}
