.menu {
  background-color: #e5e5e5;

  &__content {
    box-sizing: border-box;
    height: 100vh;
  }

  &__top {
    margin-bottom: 54px;
    @include onTablet {
      margin-bottom: 56px;
    }
    @include onDesktop {
      margin-bottom: 80px;
    }
  }

  &__list {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;

  }

  &__item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #292929;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: border-color 0.3s;

    &:hover {
      border-color: #292929;
    }
  }

  &__call {
    display: block;
    text-decoration: none;
    width: max-content;
    color: #292929;
    font-weight: 700;
    text-transform: uppercase;
    &--phone {
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 16px;
    }
    &--action {
      letter-spacing: 2px;
      font-size: 12px;
      line-height: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid #292929;
    }
  }
}
