.menu {
  background-color: #e8eff9;
  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding-top: $hederTopPading;
  }

  &__top {
    @include top-actions;
    padding: 0;
    margin-bottom: 55px;
  }

  &__list {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
  }

  &__item {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #292929;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    transition: background-color 0.3s;
    &:hover {
      border-color: #292929;
    }
  }

  &__call {
    width: max-content;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #292929;
    text-transform: uppercase;
    text-decoration: none;

    &--phone {
      margin-bottom: 16px;
    }
    &--action {
      letter-spacing: 2px;
      padding-bottom: 8px;
      border-bottom: 1px solid #000;
    }
  }
}
