.menu {
  background-color: $color-blue-grey;

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: 40px 0;

    @include onIpad {
      padding: 52px 0;
    }
  }

  &__top {
    @include top-actions;
    margin-bottom: 48px;
  }

  &__list {
    margin: 0 0 48px;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding: 8px;
    border-bottom: 1px solid transparent;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text-color;
    text-decoration: none;

    transition: border-color 0.3s;

    &:hover {
      border-color: $text-color;
    }
  }

  &__call {
    display: block;
    color: $text-color;
    text-decoration: none;
    width: max-content;

    &--phone {
      font-size: 16px;
      line-height: 27px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    &--action {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      padding-bottom: 8px;
      border-bottom: 1px solid $text-color;
    }
  }
}
