@use '../utils/mixins' as *;

.navigation{
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  grid-template-columns: 1fr 1fr;

  &__logo{
    height: 38px;
    grid-column: 1/2;

    @include for-desktop{
      height: 56px;
      grid-column: 1/3;
    }
  }

  &__right{
    grid-column: 2/3;
    justify-self: end;

    @include for-desktop{
      grid-column: 11/13;
    }
  }
}

