@use '../utils/mixins' as *;

.navigation-right{
  display: flex;
  justify-content: space-between;
  width: 72px;
  height: 24px;
  align-items: center;

  @include for-desktop{
    width: 96px;
    height: 32px;
  }

  &__icon{
    width: 18px;

    @include for-desktop{
      width: 24px;
    }
  }
}
