.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #292929;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    box-sizing: border-box;
    &--with-menu {
      overflow: hidden;
    }
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 120px;
  }

  &__section-title {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: #292929;
    margin: 0 0 48px;

    @include onTab {
      font-size: 40px;
      line-height: 100%;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 64px;
    }
  }
}
