.page {
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s;
    transform: translateX(-100%);
    scroll-behavior: smooth;
    &:target {
      transform: translateX(0%);
    }
  }

  &__section {
    margin-bottom: 64px;
    @include onDesktop {
      margin-bottom: 104px;
    }
  }

  &__section-title {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -1.5px;
    color: #000;
    text-align: center;
    margin: 0 0 32px;

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
      margin: 0 0 56px;
    }

    &::after {
      content: "";
      display: block;
      background-image: url(../images/Icon-Corona-virus.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 23px;
      height: 16px;
      margin: 4px auto;
    }
  }
}
