.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transform: translateX(-100%);
    transition: all $effectDuration;

    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
