@use '../utils/mixins' as *;

.phone {
  &__label{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    position: absolute;
    transform: translateX(calc(-100% - 20px));
  }

  &:not(:hover) &__label{
    @include visually-hidden;
  }
}

