.recommended {
  &__photo {
    display: block;
    margin: 0 auto;
  }

  &__name {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #292929;
  }

  &__function {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #292929;
  }

  &__price {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #292929;
  }
}
