// .recommended {
// }

.recommend {
  margin-bottom: 32px;

  &__discription {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    &-name {
      font-weight: 400;
      margin-bottom: 12px;
    }
    &-prace {
      // margin-bottom: 40px;
      font-weight: 700;
    }
  }
}
