.section {
  &__paragraph {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: #292929;

    &--bold {
      font-family: Inter;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      color: #292929;
    }
  }
}
