@use '../utils/mixins' as *;

.section{
  padding-top: 92px;

  &__title{
    margin-bottom: 48px;
  }

  &--second{
    padding-top: 52px;

    @include for-desktop{
      padding-top: 104px;
    }
  }

  &--last{
    padding-top: 40px;

    @include for-desktop{
      padding-top: 140px;
    }
  }

  &__article{
    margin-bottom: 40px;
  }
}

