.advantages {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.discription__advantages {
  font-weight: 700;
  line-height: 40px;
  color: $mainColor;
}

.about__adventages {
  font-weight: 400;
  line-height: 140%;
  color: $mainColor;
}
