.contact-us {

  &__title {
    margin: 0 0 48px;
  }

  &__grid {
    row-gap: 48px;
    grid-template-columns: 1fr;
    @include mediaQueryTablet {
      grid-auto-flow: column;
      grid-template-columns: repeat(6, 1fr);
    }
    @include mediaQueryDesktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin: 0 0 32px;
    }
  }

  &__contact {

    &-name {
      margin: 0 0 16px;
      @extend .commom-text;
      font-weight: 700;
    }

    &-data {

      &:not(:last-child) {
        margin: 0 0 8px;
      }
    }

    &-label {
      font-size: 14px;
      line-height: 27px;
      margin: 0 0 4px;
    }

    &-link {
      @extend .commom-text;
      font-weight: 700;
      color: #3e3e3e;
      opacity: 1;
      transition: all $duration-transition;

      &:hover {
        color: $color-main-dark;
        text-shadow: 0 0 1px $color-main-dark;
      }
    }

  }
}
