.contact {
  margin-top: 152px;

  @include logo;

  &__block {
    @include centered;
  }

  &__articles {
    display: flex;
    justify-content: space-between;
    width: 413px;
  }

  &-article__h5 {
    font-size: 14px;
    font-weight: normal;
    color: $c-grayish;
    margin-bottom: 8px;
  }

  &-article__p {
    margin-bottom: 24px;
  }

  @include form;

  &__area {
    width: 413px;
    height: 144px;
    resize: none;
    padding-top: 17px;
  }
}

@media (max-width: 1135px) {
  .contact {
    &__articles {
      width: 40%;
    }
  }
}

@media (max-width: 875px) {
  .contact {
    &__block {
      flex-direction: column;
      align-items: center;
    }

    &__articles {
      width: 413px;
    }

    &__form {
      margin-top: 30px;
    }
  }
}

@media (max-width: 500px) {
  .contact {
    &__articles {
      flex-direction: column;
    }

    &__form,
    &__articles,
    &__inp,
    &__button {
      width: 100%;
    }
  }
}
