.contact {
  margin-top: 152px;
  padding: 0 20px 88px;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 148px;
    width: 412px;
  }

  &__item {
    width: 150px;
  }

  &__name {
    font-size: 14px;
    line-height: 27px;
    color: $main-color_light;
  }

  &__value {
    display: block;
    font-size: 16px;
    line-height: 27px;
    color: $main-color_semilight;

    margin-top: 8px;

    transition: color $transition-time;

    @include hover($mark-color);
  }

  &__form {
    width: 413px;

    .form__input--textarea {
      height: 144px;
      resize: none;
      font-family: Roboto, sans-serif;
    }
  }

  @media (max-width: $screen_large) {
    margin-top: 64px;
    padding-bottom: 64px;

    &__content {
      margin-top: 53px;
      flex-direction: column;
    }
    
    &__data {
      width: auto;
      height: auto;
      flex-direction: row;
    }

    &__item {
      width: auto;
    }

    &__form {
      margin-top: 32px;
      width: 100%;
    }
  }
  
  @media (max-width: $screen_small) {
    &__data {
      flex-direction: column;
    }

    &__item:not(:first-child) {
      margin-top: 24px;
    }
  }

}
