.footer {
  padding: 243px 0 40px;
  background: url("../images/footer.jpg") center center/cover no-repeat;

  &__logo {
    margin: auto;
  }

  @media (max-width: $screen_large) {
    padding: 132px 0 24px;
  }
}
