@keyframes appearance-header {
  10% {
    opacity: 0.01;
  }

  20% {
    transform: translateY(36px) scaleY(2);
  }

  100% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

.header {
  height: 100vh;
  background: url("../../images/header.png") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  background-attachment: fixed;
  position: relative;

  &-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
    max-width: 1500px;
    margin: 0 auto;

    &__phone {

      &_link {
        @include header-style;
      }

      &--on {
        position: absolute;
        bottom: 55px;
        left: 22px;
      }
    }

    &__img {
      width: 115px;
      height: 76px;
    }

    &__order {
      position: relative;

      &_link {
        @include header-style;
      }

      &--on {
        position: absolute;
        bottom: 25px;
        left: 22px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 27px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $c-white;
        transition: width 0.1s cubic-bezier(0, 0, 1, 1) 100ms;
      }

      &:hover::after {
        width: 0;
      }
    }

    &__phone-icon,
    &__bars-icon,
    &__close-icon {
      display: none;
    }

    &__phone-icon--off {
      opacity: 0;
    }

    &__bars-icon--off {
      display: none;
    }

    &__close-icon--on {
      display: block;
      cursor: pointer;
    }

  }

  &-title {
    width: 328px;
    height: 121px;
    position: absolute;
    left: 100px;
    bottom: 170px;
    animation: appearance-header 1s ease-in-out forwards;

    &--off {
      display: none;
    }

    &__text {
      font: bold 60px roboto, sans-serif;
      color: $c-white;
      letter-spacing: -1.5px;
      line-height: 60px;
      text-transform: capitalize;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -16px;
        width: 35px;
        height: 2px;
        background-color: $c-white;
      }
    }
  }

  .nav {
    position: absolute;
    left: 0;
    bottom: 50px;
    right: 0;
    max-width: 1500px;
    margin: 0 auto;
    animation: appearance-header 1s ease-in-out forwards;

    &--on {
      display: block;
      margin-top: 55px;
    }

    &__item--active {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      padding: 10px 24px;
      margin-top: -8px;
    }

    &__list {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      padding: 0;
    }

    &__link {
      @include header-style;
    }
  }
}

@media (max-width: 700px) {
  .header {
    .nav,
    &-contact__phone,
    &-contact__order {
      display: none;
    }

    &-contact__order_link,
    &-contact__phone_link {
      font: normal 10px roboto, sans-serif;
    }

    &-contact__phone-icon,
    &-contact__bars-icon {
      display: block;
      cursor: pointer;
    }

    &-title {
      left: 45px;

      &__text {
        font-size: 50px;
      }
    }

    .nav {
      &__list {
        align-items: flex-start;
        flex-direction: column;
        padding-left: 20px;
      }

      &__item {
        margin-top: 20px;
      }

      &__link {
        font-size: 22px;
      }
    }
  }

  .header--mobile {
    background: $c-blue;
    position: relative;
    transition: all 200ms ease-in;
  }
}

@media (max-width: 400px) {
  .header {
    &-title {
      width: 70%;
      bottom: 110px;

      &__text {
        font-size: 40px;
      }
    }
  }
}

@media (max-height: 450px) {
  .header {
    height: 140vh;
  }
}
