.benefits {

  &__content {
    display: block;
    @include mediaQueryTablet {
      display: grid;
    }
  }

  &__title {
    margin: 0 0 48px;
  }

  &__item {
    margin: 0 0 48px;
  }

  &__item:last-child {
    margin: 0;
  }

  @include mediaQueryDesktop {
    &__item {
      margin: 0;
    }
  }
}
