@import "utils/vars";

.sections__about {
  padding: 0 120px;
  // display: flex;

}

.about {
  width: 1020px;

  &__title {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    letter-spacing: $h-titles-spacing;

  }

  &__here-link {
    text-decoration: none;
    color: $blue-c;
  }
}
