.categories {
  
  &__title {
    width: 392px;
    padding: 80px 0 64px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;
    color: $textColor;
    margin: 0 auto;

    @include smartphone {
      width: 280px;
      font-size: 32px;
      padding: 120px 0 48px;
    }

    @include desktop {
      width: 498px;
      font-size: 48px;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: repeat($columnTablet);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @include smartphone {
      grid-template-columns: repeat($columnSmartphone);
    }

    @include desktop {
      grid-template-columns: repeat($columnDesktop);
    }
  }

  &__photo {
    width: 100%;
    height: 187px;
    object-fit: cover;

    @include smartphone {
      height: 130px;
    }
  }

  &__text {
    margin: 0;
    grid-column: 1;
    width: 274px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $textColor;
    margin-bottom: 64px;

    @include smartphone {
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__button {
    grid-column: 2 / 6;
    height: 56px;
    background-color: $textColor;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 169%;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: all 0.3s;
    
    &:hover {
      background-color: #fff;
      border: 3px solid $textColor;
      color: $textColor;
    }

    &:active {
      background-color: #111;
    }

    @include desktop {
      grid-column: 5 / 9;
    }

    @include smartphone {
      grid-column: 1 / 5;
    }
  }
}

.one,
.three {
  grid-column: 1 / 5;

  @include desktop {
    height: 321px;
    grid-column: 1 / 9;
  }

  @include smartphone {
    grid-column: 1 / 3;
  }
}

.two,
.four {
  grid-column: 5 / 7;

  @include desktop {
    height: 320px;
    grid-column: -5 / -1;
  }
  
  @include smartphone {
    grid-column: 3 / 5;
  }
}

.five {
  grid-column: 1 / 3;

  @include desktop {
    height: 320px;
    grid-column: 1 / 5;
  }

  @include smartphone {
    grid-column: 1 / 3;
  }
}

.six {
  grid-column: 3 / 7;

  @include desktop {
    height: 321px;
    grid-column: 5 / 13;
  }

  @include smartphone {
    grid-column: 3 / 5;
  }
}
