.recommended {
  padding-top: 120px;

  &__heading {
    &.animated {
      @include animate(fadeUp, 1.5s, 0s);
    }

    margin-bottom: 64px;
  }

  &__img-wrapper {
    &.animated {
      @include animate(fade, 1.5s, 0s);
    }

    @include hover(scale, 1.05);

    cursor: pointer;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__box {
    &:not(:last-child) {
      margin-bottom: 48px;

      @include onTablet {
        margin-bottom: 40px;
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__box-title {
    margin-bottom: 8px;
  }

  &__box-sub-title {
    display: block;
    margin-bottom: 12px;
  }

  &__cost {
    display: block;
  }

  &__box-title,
  &__box-sub-title,
  &__cost {
    &.animated {
      @include animate(fadeUp, 1.5s, 0s);
    }
  }
}
