.testimonials {
  &__heading {
    margin-bottom: 93px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include onMobile {
      flex-wrap: wrap;
      row-gap: 48px;
    }
  }
}
