.form {
  margin-top: 48px;

  display: flex;
  flex-direction: column;

  & input {
    height: 48px;
    margin-bottom: 16px;
    padding: 0 0 0 16px;
  }

  & textarea {
    height: 120px;
    margin-bottom: 32px;
    padding: 14px 16px;

    resize: none;
  }

  & input,
  & textarea {
    box-sizing: border-box;

    background-color: $c-gray;
    border-radius: 8px;

    color: $c-dark;
    font-family: Manrope, Helvetica, sans-serif;
    font-size: 0.88rem;
    line-height: 140%;
    letter-spacing: 0.15px;

    outline: 1px solid transparent;
    border: none;

    &::placeholder {
      color: #7e7e83;
    }

    @include hover(outline, 1px solid #dbdbdb);

    &:focus {
      background-color: $c-gray;
      outline: 2px solid $c-orange;

      &::placeholder {
        color: $c-dark;
      }
    }
  }

  & button {
    width: 280px;
    height: 56px;
    padding: 0 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $c-orange;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    color: $c-white;
    font-family: Manrope, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 27px;

    @include hover(background-color, $c-dark);

    &:focus {
      background-color: $c-black;
    }

    &.send {
      background-color: #49be25;
    }
  }

  @include tablet {
    margin-top: 56px;

    & button {
      width: 600px;
    }
  }

  @include desktop {
    margin-bottom: 120px;

    & button {
      width: 498px;
    }
  }
}
