@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;

  @include onDesktop {
    padding: 0 40px;
  }
}

@mixin top-actions {
  --icon-width: 18px;
  display: grid;
  grid-template-columns: var(--icon-width) 1fr var(--icon-width);
  justify-items: center;
  align-items: center;

  @include onDesktop {
    --icon-width: 24px;
  }
}
