$breakpoint-tablet: 744px;
$breakpoint-desktop: 1260px;

$color-black: #292929;
$color-white: #fff;

$gap-common: 24px;

$header-padding-top: 40px;
$header-padding-top-tablet: 52px;
$header-padding-bottom: 94px;
$header-padding-bottom-tablet: 40px;
$header-padding-bottom-desktop: 64px;

$color-light-blue: #e8eff9;
