@import '../../styles/utils/vars';

.categories {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  justify-content: center;
  gap: 24px;

  &__product {
    grid-column: span 6;
    padding-top: 56px;

    &--picture {
      transition: 500ms;
      padding-bottom: 16px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__name {
    color: $main-color;
    font-family: Manrope, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  &__button {
    text-decoration: none;
    color: $viewall-button-color-text;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    border: 1px solid transparent;
    background-color: $viewall-button-color;
    border-radius: 8px;
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 324px;
    height: 56px;
    margin-top: 56px;
    transition: 1s;

    &:hover {
      transform: scale(1.1);
      background-color: $viewall-button-color-text;
      color: $viewall-button-color;
      border-color: $viewall-button-color;
    }
  }

}
