@import '../../styles/utils/vars';

.recommended {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  justify-content: center;
  gap: 24px;

  &__product {
    grid-column: span 4;
    padding-top: 56px;
    transition: 500ms;

    &:hover {
      transform: scale(1.1);
    }

    &--picture {
      border-radius: 4px;
      padding-bottom: 24px;
    }
  }

  &__content {
    color: $main-color;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    width: 280px;

    &--name {
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 8px;
    }

    &--description {
      font-weight: 400;
      letter-spacing: 0.15px;
      padding-bottom: 12px;
    }

    &--price {
      font-weight: 700;
    }
  }
}
