.contact-us {
  &__info {
    margin-bottom: 24px;

    &-title {
      margin-bottom: 8px;

      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    &-link {
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: $color-white;

      transition-property: transform, color;
      transition-duration: 0.3s;

      &:hover {
        transform: scale(1.1);
        color: rgb(241, 248, 147);
      }
    }
  }

  &__form {
    margin-bottom: 48px;
  }

  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
