.footer {
  height: 200px;
  background-image: url("../images/footer-s.png");
  background-size: cover;
  background-position: center;

  @include onTablet {
    height: 480px;
    background-image: url("../images/footer-l.png");
  }

  @include onDesktop {
    min-height: 555px;
  }
}
