.header {
  background-image: url(../images/Cover_photo-bike.png);
  background-size: cover;
  background-position: center;
  height: 100vh;

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__menu-opener {
    display: block;
    width: 18px;
    height: 12px;

    background-image: url(../images/Icon-menu.png);
    background-size: cover;
    background-position: center;


    &:hover {
      background-image: url(../images/Icon-menu-hover.png);
    }
  }

  &__call {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/Icon-Phone-call.png);
    background-size: cover;
    background-position: center;
  }
}

.logo {
  &__image {
    height: 38px;
  }
}
