.header {
  background-image: url(../images/bike-midi.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  margin-bottom: $header-margin-b-mob;
  padding-top: $header-padding-top;
  animation: zoom-out 3s linear forwards;

  @keyframes zoom-out {
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @include onTablet {
    background-position: center;
    margin-bottom: $header-margin-b-tab;
  }

  @include onDesktop {
    background-image: url(../images/Cover_photo-bike.png);
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $color-white;
    text-align: center;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 480px;
    padding: 0 20px 88px;

    @include onTablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 203px;
    }
  }
}
