.header {
  background-image: url(../images/bike-midi.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  padding: $header-padding-top $header-padding-right $header-padding-bottom;
  margin-bottom: $header-margin-b-mob;

  @include onTablet {
    background-position: center;
    padding: 29px 72px 130px;
    margin-bottom: $header-margin-b-tab;
  }

  @include onDesktop {
    background-image: url(../images/Cover_photo-bike.png);
    padding: 36px 120px 203px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $color-white;
    text-align: center;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 480px;
    padding-bottom: 88px;

    @include onTablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 203px;
    }
  }
}
