.place {
  &__photo-container {
    // position: relative;
    // max-width: $icon-width-s;

    // padding-bottom: 100%;
  }

  &__photo {
    // position: absolute;
    // max-width: $icon-width-s;
    width: 100%;
    object-fit: cover;
    object-position: center
    // height: 100%;
  }
}
