.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--interactive {
    display: grid;
    grid-template-columns: $icon-width-s $icon-width-s;
    gap: 30px;
    align-items: center;

    @include onTablet {
      gap: 40px;
      grid-template-columns: $icon-width-l $icon-width-l;

    }
  }
}
