.gallery__button {
  @extend %button;
  color: $main-highlight_color;
  background-color: transparent;
  border: 2px solid $main-highlight_color;
  transition: background-color 0.3s 0.1s linear, color 0.3s 0.1s linear;

  &:hover {
    background-color: $main-highlight_color;
    color: white;
  }
}
