@import "../../utils/vars";

.contact {
  display: flex;
  justify-content: space-between;
  padding-top: 93px;

  &__info {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(159, 173, 194, 1);
  }

  &__text {
    width: 413px;
  }

  &__text-data {
    margin-bottom: 24px;
  }

  &__form {
    width: 413px;
  }
}

@media screen  and (max-width: $small-screen-breakpoint) {
  .contact {
    flex-direction: column;

    &__text {
      width: 100%;
      margin-top: 53px;
    }

    &__form,
    &__text {
      width: 100%;
    }
  }
}
