.footer {
  grid-column: 1 / 13;
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 120px;

  @media (max-width: $media-medium) {
    padding: 0;
  }

  &-section__about-us {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin-bottom: 105px;

    @media (max-width: $media-big) {
      grid-gap: 24px;
      margin-bottom: 80px;
    }

    @media (max-width: $media-medium-footer) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      margin-bottom: 56px;
    }
  }

  &__text {
    margin-top: 0;
  }

  &-section__contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 111px;
    margin-bottom: 120px;
    margin-top: 6px;

    @media (max-width: $media-medium) {
      grid-template-columns: 1fr;
      grid-gap: 24px;
    }

    @media (max-width: $media-small) {
      grid-template-columns: 1fr;
      grid-gap: 24px;
      margin-bottom: 64px;
    }
  }

  &__grey-text {
    color: $c-grey-footer-text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    padding-bottom: 24px;
  }

  &__link {
    display: block;
    margin: 0;
    color: $c-black-footer-text;
    font-family: "Space Mono", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 8px;
    text-decoration: none;

    &:hover {
      color: $c-grey-links-hover;
    }
  }

  &__text-adress {
    margin: 0;
    color: $c-black-footer-text;
    font-family: "Space Mono", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 8px;
  }
}
