.footer {
  height: 180px;
  background-image: url(../images/for_MET/footer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include onIPad {
    height: 359px;
  }
}
