.footer {
  padding-top: 120px;

  @media screen and (min-width: 900px) and (max-width: 4096px) {
    padding-top: 100px;
  }

  @media screen and (min-width: 600px) and (max-width: 900px) {
    padding-top: 102px;
  }

  &__container {
    display: block;
    background-image: url("../images/footer/footer-background.png");
    background-position: center;
    background-size: cover;
    max-height: 200px;
    height: 200px;
    width: 100%;

    @media screen and (min-width: 900px) and (max-width: 4096px) {
      max-height: 460px;
      height: 460px;
    }

    @media screen and (min-width: 600px) and (max-width: 900px) {
      max-height: 400px;
      height: 400px;
    }
  }
}
