.form {
  max-width: 411px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 14px 16px;
    border-radius: 8px;
    color: $c-grey-form-text;
    background-color: $c-grey-button-hover;
  }

  &__textarea {
    box-sizing: border-box;
    height: 148px;
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 32px;
    border-radius: 8px;
    resize: none;
    color: $c-grey-form-text;
    background-color: $c-grey-button-hover;

  }

  &__label {
    &:not(:focus):not(:active) {
      @include visually-hidden;
    }

  }
}
