.apart {
  &__photos {
    display: flex;
  }

  & h2 {
    font-weight: 600;
    font-size: 16px;

    & span {
      color: #00aaef;
      font-weight: 300;
      font-size: 16px;
    }
  }

  &__photo {
    height: 263px;
    margin-bottom: 12px;
    flex: 1;

    &:first-child {
      margin-right: 16px;
    }

    &--top-right,
    &--left-right,
    &--center-right,
    &__photo,
    &:first-child {
      flex: 2;
    }

    &--top-left,
    &--left-left,
    &--center-left,
    &__photo,
    &:first-child {
      flex: 2;
    }

    &--top-left {
      background: url(../images/gallery1.png) no-repeat 50% 50%;
      background-size: cover;

    }

    &--top-right {
      background: url(../images/gallery2.png) no-repeat 50% 50%;
      background-size: cover;
    }

    &--center-left {
      background: url(../images/gallery3.png) no-repeat 50% 50%;
      background-size: cover;
    }

    &--center-right {
      background: url(../images/gallery4.png) no-repeat 50% 50%;
      background-size: cover;
    }

    &--bottom-left {
      background: url(../images/gallery5.png) no-repeat 50% 50%;
      background-size: cover;
    }

    &--bottom-right {
      background: url(../images/gallery6.png) no-repeat 50% 50%;
      background-size: cover;
    }
  }

}

.gallery__bottom {
  width: 192px;
  margin: 31px auto 0;
}
