$color: #00aaef;
$amount: 20%;

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.form {
  &__field {
    margin-bottom: 8px;
  }
}

.input,
.textarea {
  text-align: center;
  line-height: normal;
  height: 52px;
  background-color: #eee;
  font-weight: 600;
  color: #393939;
  text-transform: uppercase;
  width: 100%;
  border: none;

  &::placeholder {
    font-size: 14px;
  }
}

.textarea {
  height: 100px;
  padding-top: 11px;
  border: none;
}

.button {
  font-size: 14px;
  line-height: 52px;
  height: 52px;
  display: block;
  background-color: #00aaef;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  width: 100%;
  border: 0;

  &:hover {
    background-color: darken($color, $amount);
  }

  &__inline {
    padding: 0 60px;
    display: inline-block;
    width: auto;
  }
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section {
  padding: 130px 0;
  position: relative;

  &:nth-child(odd) {
    background-color: #eee;
  }

  & .best {

    &__intro {
      float: left;
      width: 33%;
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 100;

      & strong {
        font-weight: 600;
      }

      & span {
        font-weight: 100;
        color: #1dabec;
      }
    }

    &__text {
      float: right;
      width: 66%;
    }
  }

  &__left {
    float: left;
    width: 50%;
  }

  &__right {
    float: right;
    width: 33%;
  }

  &__title {
    position: absolute;
    left: 50%;
    top: -1.5em;
    transform: translate(-50%, 0);
    font-weight: 100;
    color: #000;
    padding-bottom: 14px;
    font-size: 48px;
    line-height: 1;

    &--img {
      position: absolute;
      display: block;
      background: url(../images/part_of_title.svg) no-repeat 50%;
      width: 23px;
      height: 16px;
      bottom: 0;
      left: 50%;
      margin-bottom: -12px;
      transform: translate(-50%, 0);
    }

    &::after,
    &::before {
      content: "";
      width: calc(50% - 20px);
      position: absolute;
      height: 2px;
      background: #1cabec;
      bottom: 0;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

.textual {
  font-size: 16px;
  line-height: 1.5;
  color: #000;

  h2 {
    font-size: 32px;
    line-height: 1.1;
    font-weight: normal;
    margin-bottom: 1em;
  }

  & p {
    margin-bottom: 1em;

    & a {
      text-decoration: none;
      color: #000;
    }
  }

  & ol {
    list-style: decimal;
    padding-left: 5px;

    & li {
      margin-bottom: 3px;
    }
  }

  & ol,
  ul {
    margin-bottom: 2em;
  }

  &-big {
    font-size: 24px;
    line-height: 1.3;
  }
}
