.heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: #000;

  &__crown {
    background-image: url(../images/crown.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 23px;
    position: absolute;
    top: 108%;
  }
}
