.hero {
  background: url(../images/bg_header.jpg) no-repeat 50% 100%;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
    height: 100vh;
    min-height: 500px;
  }
}

.header {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;

  &__logo {
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translate(-50%, 0);

    &--img {
      height: 80px;
      text-align: center;
    }
  }

  &__phone {
    float: left;
    text-decoration: none;
    color: #fff;
    transition: color 0.4s;

    &:hover {
      color: gray;
    }
  }

  &__call {
    float: right;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px dashed #fff;
    transition: border-color 0.4s, color 0.4s;

    &:hover {
      color: gray;
      border-color: #606060;
    }
  }
}

.main-menu {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;

  a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.4s;

    &:hover {
      color: gray;
    }
  }
}
