.info {
  display: flex;
  justify-content: space-between;
  
  &__heading {
    padding-bottom: 48px;
  }

  &__miami-link {
    color: $highlight-color;
    transition: color $hover-duration;

    &:hover {
      color: $hover-color;
    }
  }

  &__text {
    width: 500px;
  }

  &__subheading {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: $average-screen-breakpoint) {
  .info {
    flex-direction: column;

    &__text {
      width: 100%;
    }
  }
}
