@mixin onTablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 18px;
  height: 18px;

  @include onTablet {
    width: 24px;
    height: 24px;
  }
}
