$logo-width: 115px;
$logo-height: 76px;
$active-color: #9fadc2;
$hover-duration: 0.3s;
$resizing-duration: 0.3s;
$header-menu-appearing-duration: 0.7s;
$header-font-size: 12px;
$average-screen-breakpoint: 899px;
$small-screen-breakpoint: 567px;
$highlight-color: #0075ff;
$hover-color: #0067df;
