.section-about {
  padding: 100px 20px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  &__link {
    color: $accent-color-light;
  }

  @media (max-width: 800px) {
    &__wrapper {
      flex-direction: column;
      justify-content: space-between;
    }

    &__title {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 790px) {
    & {
      padding: 64px 20px;
    }

    &__title {
      font-size: $font-size-mob-lg;
    }
  }
}

.project-desc {
  flex-basis: 50%;

  &__title {
    font-weight: bold;
    font-size: $font-size-md;
    color: $accent-color-light;
    margin-bottom: 16px;
  }

  &__text {
    font-size: $font-size-sm;
    line-height: 27px;
    color: $text-color-darken;
  }

  &__text:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &__text:last-of-type {
    font-weight: bold;
  }
}
