@import "./utils/vars";

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 156px 0;

  &__header {
    margin-top: 0;
    margin-right: 60px;
    width: 314px;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;

    &_color {
      color: $decor-blue;
    }
  }

  &__text {
    max-width: 564px;
  }

  &__paragraph {
    margin-top: 0;
    margin-bottom: 24px;
  }

  &__paragraph:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 956px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__header {
      margin-right: 0;
    }
  }
}
