.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 0;
  background-color: white;

  &__title {
    width: 314px;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
    margin-right: 62px;

    &--bold {
      font-weight: 500;
    }

    &--link {
      color: $link-color;
    }
  }

  &__section {
    max-width: 564px;
  }

  &__para {
    margin-bottom: 24px;
    line-height: 24px;

    &--bold {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 999px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    &__title {
      margin: 0 0 30px;
      text-align: center;
    }
  }
}
