.about-us {
  @include ver-padding-global;

  display: grid;
  grid-template-columns: repeat(2, minmax(279px, 500px));
  gap: 100px;
  justify-content: space-between;

  &__h {
    @include h2-font-size;
  }

  &__mark {
    color: $blue;
  }

}
