.about-us {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;

  &__heading {
    width: 50%;

    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: #000;
  }

  &__info {
    width: 50%;
  }
  &__info-heading {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #0075ff;
  }

  &__info-text {
    margin-bottom: 27px;
  }
}
