.about-us {
  display: grid;
  justify-content: center;
  padding: 156px 0;

  background-color: #fff;

  &__information {
    display: grid;
    grid-template-columns: 314px 1fr;
    column-gap: 62px;
    max-width: 940px;
  }

  &__title {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;

    color: #000;
  }

  &__description {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }

  &__paragraph {
    margin-bottom: 24px;
  }
  
  &:last-child {
    margin-bottom: 0;
  }

  &__bold {
    font-weight: bold;
  }

  &__blue {
    color: #00aaef;
  }

  @media screen and (max-width: 999px) {
    padding: 64px 0;
    
    &__information {
      grid-template-columns: none;
      grid-template-rows: auto auto;
      row-gap: 50px;
      padding: 0 20px;
    }
  }
}
