.main {
  background-color: $mainBackgroundColor;
  width: 100%;
}

.about-us {
  padding-top: 104px;
  padding-bottom: 152px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tabletsWidth) {
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: column;
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    width: calc(50% - 10px);

    @media (max-width: $tabletsWidth) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 48px;
      width: 100%;
    }

    &--blue {
      color: $textColorBlue;
    }
  }

  &__content {
    width: calc(50% - 10px);

    @media (max-width: $tabletsWidth) {
      width: 100%;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $textColorBlue;
    margin-bottom: 16px;
  }

  &__text {
    @extend %mainParagraphText;
    margin-bottom: 30px;

    &--bold {
      font-weight: bold;
      margin-bottom: 10px;
      color: $textMainColor;
    }
  }

}
