@import "utils";

.about {
  margin-bottom: 64px;

  @media (min-width: 1024px) {
    margin-bottom: 150px;
  }

  & .subtitle {
    margin-bottom: 16px;
  }

  &__accent {
    font-weight: bold;
  }

  &__title--accent {
    color: $accent;
  }

  &__info {
    flex-basis: 50%;
  }

  &__text:not(:last-child) {
    margin-bottom: 22px;

    @media (min-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  &__title.title {
    letter-spacing: -1.5px;
    text-align: left;
    margin-bottom: 48px;
    flex-basis: 33%;

    &::after {
      content: none;
    }
  }
}
