.album {
  &__caption {
    margin-top: 13px;
    margin-bottom: 35px;
  }

  &__button {
    margin: 44px auto 0;

    @media screen and (max-width: $min-width-page) {
      width: 100%;
    }
  }

  &__link {
    &:visited {
      color: $heighlight-color;
    }

    @include hover(color, $heighlight-hover-color);
  }
}
