.album {
  &__caption {
    margin-top: 13px;
    margin-bottom: 35px;
  }

  &__button {
    margin: 44px auto 0;
  }

  &__link {
    &:visited {
      color: $heighlight-color;
    }

    @include hover(color, $heighlight-hover-color);
  }
}
