.application {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__article {
    width: 412px;
  }

  // &__form {
  //   // display: flex;
  //   // flex-direction: column;
  //   width: 450px;
  // }
}
