.article {
  color: #3e3e3e;

  &__h {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 24px;
    color: $blue;
  }

  &__paragraph {
    margin-bottom: 18px;
    font-weight: normal;
    line-height: 27px;
  }

  &__paragraph--strong {
    font-weight: inherit;
  }

}
