@import "./utils/vars";
@import "./utils/mixins";

.article {
  color: $c-black;
  &__link {
    display: block;
    color: $c-black;
    text-decoration: none;
    transition: color $transition;
    @include article-link-size;
    &:hover {
      color: $c-link-hover;
    }
    &:last-of-type {
      margin-bottom: 30px;
    }
  }
  &__address {
    font-style: normal;
    @include article-link-size;
  }
  &__paragraph {
    display: block;
    margin-bottom: 24px;
    &:last-child {
      margin: 0;
    }
  }
}
