.article {
  color: $grey;

  &__h {
    margin-bottom: 16px;
    font-size: $font-size-large;
    line-height: 24px;
    color: $blue;
  }

  &__paragraph {
    margin-bottom: 18px;
    
    font-size: $font-size-medium;
    font-weight: normal;
    line-height: 27px;
  }

  &__paragraph--strong {
    font-weight: inherit;
  }

}
