.btn {
  display: block;
  padding: 16px 50px;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  word-spacing: 3px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
  background: $btn-bg;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  outline: none;
  border: 2px solid $btn-bg;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.3s;

  &:hover {
    background-color: #fff;
    color: $btn-bg;
  }
}

.anchor {
  position: relative;
  top: -40px;
}

.title {
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  text-align: center;

  &::after,
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: calc(100% + 5px);
    width: calc(50% - 24px);
    height: 2px;
    background: #00aaef;
  }

  &::after {
    right: 2.5px;
  }

  &::before {
    left: 2.5px;
  }

  &__crown::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    margin: auto;
    background-image: url("../images/crown.svg");
    width: 20px;
    height: 13px;
  }
}

.subtitle {
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: $blue-color;
}

.text {
  font-size: 16px;
  line-height: 27px;
  color: $text-color;

  &__link {
    font-weight: bold;
    color: $blue-color;
  }
}

.form__input {
  display: block;
  padding: 15px 17px;
  margin-bottom: 16px;
  width: 413px;
  box-sizing: border-box;
  background: #f7f8ff;
  color: $text-color;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 14px;

  &__sms {
    resize: none;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 30px;
    max-width: 250px;
    margin: auto;
  }
}
