.btn {
  color: $blue-color-text;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  padding: 21px 65px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid $blue-color-text;
  transition: box-shadow $hover-duration;
  outline: none;
  &:hover {
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    cursor: pointer;
  }
  // &:active {
  //   outline: none;
  // }
}
