@import "utils";

.btn {
  width: 100%;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border-radius: 8px;
  background: $accent;
  color: $main-light;
  line-height: 56px;
  padding: 0 22px;
  font-size: 15px;
  border: 2px solid transparent;
  font-weight: bold;
  transition: background 0.3s linear, color 0.3s linear;

  &:hover {
    background: $main-light;
    border: 2px solid $accent;
    color: $accent;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  }

  &--transparent {
    background: $main-light;
    border: 2px solid $accent;
    color: $accent;

    &:hover {
      background: $accent;
      border: 2px solid transparent;
      color: $main-light;
    }

    @media (min-width: 768px) {
      display: block;
      width: 188px;
      margin: auto;
    }
  }
}
