.burger__nav {
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  transition: left 0.35s ease;
}

.burger__closed {
  position: absolute;
  right: 0%;
}

.burger__menu:focus ~ .burger__nav,
.burger__menu:checked ~ .burger__nav,
.burger__menu:active ~ .burger__nav {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 700px;
  background-color: $accent-text;
  transition: all 2s linear;
  opacity: 1;
}

 .burger__closed:checked .burger__nav {
  display: none;
  position: relative;
  margin-left: 250px;
}

.burger__link {
  color: #fff;
  font-size: 22px;
}

.burger__link:hover {
  color: #9fadc2;
}

.burger__item:last-child {
  color: #fff;
  line-height: 40px;
  border-bottom: 1px solid white;
}

.burger__link--phone,
.burger__link--call {
  font-size: 12px;
  color: #fff;
}
