.burger__menu {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #0075ff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
}

.burger__nav {
  flex-direction: column;
  padding-top: 120px;
}

.burger__item {
  padding-bottom: 32px;
  padding-left: 21px;
}

.burger__contacts {
  padding: 16px 0 0 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  margin: 0;
}

.burger__phone {
  margin-bottom: 16px;
}

.burger__action {
  margin: 0;
  width: 115px;
}

.burger__link {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: #9fadc2;
  }
}

.burger__toggler {
  display: none;
}

.burger__button {
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.burger__button::before {
  content: url(/images/menu-on.png);
  display: none;
}

.burger__toggler:checked ~ .burger__button::before {
  content: url(/images/menu-off.png);
  display: block;
}

.burger__toggler:checked ~ .burger__menu {
  display: flex;
}
