@import "utils";

.button {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  @include button_style;

  &_view {
    background: $c-white;
  }

  &:hover {
    @include hover_button;
  }
}

#button__top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 3;
  font-size: 18px;
  outline: none;
  padding: 15px;
  border-radius: 50%;
  opacity: 0.4;
  transition: 1s;
  @include button_style;

  &:hover {
    @include hover_button;
    opacity: 0.8;
  }
}

@media screen and (max-width: 899px) {
  #button__top {
    position: sticky;
    font-size: 12px;
    padding: 11px;
    margin-left: 90%;
  }
}
