@import "variables";

.button {
  display: block;

  padding: 20px 66px;

  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $color-white;
  background-color: $color-main-section;

  transition: background-color 0.3s, color 0.3s, border 0.3s;

  border-radius: 8px;

  &--gallery {
    margin: 44px auto 0;

    border: 2px solid $color-main-section;
    color: $color-blue;
    background-color: $header-color;
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-button-hover;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  }

  &--gallery:hover {
    color: $color-white;
    background-color: $color-button-hover;
    border-color: $color-button-hover;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
