.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 56px;
  border-radius: 40px;
  border: 2px solid $mainColorText;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #fff;
  background-color: $mainColorText;
  text-decoration: none;

  cursor: pointer;
  transition: all 0.3s;

  &--primary {
    margin-bottom: 48px;
    border: 3px solid $mainColorText;
    background-color: transparent;
    color: $mainColorText;
    outline: none;
  }

  &:hover {
    color: $mainColorText;
    background-color: #fff;
  }

  &:active {
    background-color: #111;
    color: #fff;
  }
}
