.button-suptitle {
  margin: 40px auto;
  padding: 21px 66px;

  font-size: 16px;
  font-weight: 700;
  line-height: 14px;

  background-color: $c-white;
  color: $buttom-color;

  border-radius: 8px;
  border: 2px solid $buttom-color;

  transition: all 0.4s ease;
  &:hover {
    cursor: pointer;
    background-color: #00aaef;
    color: $c-white;

    border: 2px solid $c-white;
  }
}
