.button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translate(0, 3px);
  }
  
  &:active,
  &:focus {
    transition: transform $defaultAnimTime;

    outline: none;
  }

  &--form-btn {
    background-color: $secondaryTextColor;
    color: $lightTextColor;
    transition: box-shadow $defaultAnimTime;

    &:hover {
      box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    }
  }

  &--gallery-btn {
    $galleryBtnPadding: 65px;
    padding-left: $galleryBtnPadding;
    padding-right: $galleryBtnPadding;
    border: 2px solid $secondaryTextColor;
    color: $secondaryTextColor;
    background-color: $bgColor;
    transition: box-shadow $defaultAnimTime;

    &:hover {
      box-shadow: 0 6px 13px rgba(0, 117, 255, 0.46);
    }
  }
}
