.callback {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__article {
    width: 412px;
    @media screen and (max-width: 900px) {
      width: calc(100% - 10px);
    }
  }

  &__form {
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}
