.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 43px;

  &__img--picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0;
  }

  &__position {
    margin-top: 0;
    font-weight: normal;
    font-style: oblique;
    color: #696973;
    opacity: 0.5;
  }

  &__text {
    position: relative;
    margin-top: 0;
    max-width: 200px;
    text-align: center;

    &:before {
      position: absolute;
      left: 0;
      transform: translate(-50%, -50%);
      content: "\“";
      font-family: GFS Didot, serif;
      font-weight: bold;
      font-size: 92px;
    }
  }
}
