.colomn {
  width: 152px;

  &__name {
    margin-bottom: 8px;
  }

  &__link:link {
    display: inline-block;

    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    font-weight: 400;

    margin-bottom: 24px;
  }

  &__link:hover {
    color: $transition-color;
  }

  &__link:active,
  &__link:visited {
    color: #3e3e3e;
  }
}
