* {
  box-sizing: border-box;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 10px;
  
  &--promo {
    height: 100%;
    position: relative;
  }

  &--block {
    margin-bottom: 152px;
  }
}
