html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 1050px;

  @media screen and (max-width:1024px) {
    margin: 0;
    width: 100%;
  }
}

.section {
  padding: 50px 25px;
  @media screen and (max-width: 500px) {
    padding: 25px 20px;
  }
}

.mainlogo {
  margin: 0 auto 25px;
  width: 115px;
  @media screen and (max-width: 500px) {
    width: 73px;
  }
}

.small-logo {
  margin: 7px auto 37px;
}
