html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
}

* {
  box-sizing: border-box;
}

.container {
  width: calc(100% - 40px);
  max-width: 1050px;
  margin: 0 auto;
}

.section {
  padding: 50px 25px;
}

.mainlogo {
  width: 115px;
  margin: 0 auto 25px;
}

.small-logo {
  margin: 7px auto 37px;
}
