.content {
  padding: 0 20px;

  &__section {
    margin-bottom: 120px;

    &--benefits {
      margin-bottom: 110px;

      @include onTablet {
        margin-bottom: 100px;
      }

      @include onDesktop {
        margin-bottom: 120px;
      }
    }
  }

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
  }

  &__container {
    margin: 0 auto;

    @include onTablet {
      max-width: $maxWidthOnTablet;
    }

    @include onDesktop {
      max-width: $maxWidthOnDesk;
    }
  }
}
