.contact-info {
  display: flex;
  gap: 111px;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 8px;
  }

  &__link-name {
    color: rgba(159, 173, 194, 1);
  }
}
