.contact-us {
  &__info {
    margin-bottom: 24px;

    &-title {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #9fadc2;
    }

    &-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #3e3e3e;
      text-decoration: none;
    }
  }

  &__field {
    margin-bottom: 16px;

    &--text {
      margin-bottom: 32px;
    }
  }
}
