.contact {
  display: flex;
  justify-content: space-between;

  &__form {
    width: 413px;
  }

  &__text {
    display: flex;
    justify-content: space-between;

    width: 413px;
    height: max-content;
  }

  &__info {
    width: 152px;
    margin-bottom: 24px;

    line-height: 27px;
  }

  &__title {
    font-size: 14px;
    color: #9fadc2;
    margin-bottom: 8px;
  }
}

@media (max-width: $small-screen-pointer) {
  .contact {
    flex-direction: column;

    &__text {
      flex-direction: column;
    }

    &__form {
      width: 100%;
    }
  }
}
