.consultation {
  display: flex;
  justify-content: space-between;

  &__text {
    width: 480px;
  }

  &__heading {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  &__form {
    margin-top: 4px;
  }
}

@media screen and (max-width: $small-screen) {

  .consultation {
    flex-direction: column;

    &__text {
      margin: 0 auto;
      width: 383px;
    }

    &__heading {
      text-align: center;
    }

    &__form {
      justify-items: center;
    }
  }

}
