.content {
  padding: 0 120px;

  @include onMobile {
    padding: 0 20px;
  }

  &__about {
    margin: 104px auto 0;

    @include onMobile {
      margin: 64px auto 0;
    }
  }

  &__gallery {
    margin: 104px auto 0;

    @include onMobile {
      margin: 64px auto 0;
    }
  }

  &__testimonials {
    margin: 104px auto 0;

    @include onMobile {
      margin: 64px auto 0;
    }
  }
  &__contact {
    margin: 104px auto 120px;

    @include onMobile {
      margin: 64px auto;
    }
  }

}
