.contact-us {
  margin-bottom: 540px;

  &__wrap {
    padding: 120px 166px 65px 172px;
    position: relative;
    margin: 0 auto;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }

  &__contact {
    width: 30%;
  }

  &__phone,
  &__adress {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 41%;
  }
}

@media screen and (max-width: 820px) {
  .contact-us {
    margin-bottom: 300px;

    &__wrap {
      padding: 120px 80px 65px;
      flex-direction: column;
    }

    &__contact {
      width: 100%;
      text-align: center;
    }

    &__form {
      width: 100%;
      max-width: 300px;
      margin: auto;
    }
  }
}
