
.contact-us {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 88px;

  & h4 {
    color: #9fadc2;
    font-size: 14px;
    line-height: 27px;
  }

  & a,
  p {
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
  }

  &__info {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  &__links {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.form {
  & textarea {
    height: 144px;
  }
}

@media screen and (max-width: 900px) {

  .contact-us {
    margin-top: 0;
    margin-bottom: 64px;

    &__info {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 750px) {

  .contact-us {
    flex-direction: column;
  }
}
