.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
}

@include onTablet {
  .container {
    max-width: 744px;
    padding: 0 40px;
  }
}
@include onDesktop {
  .container {
    max-width: 1020px;
  }
}
