.contacts {
  padding-bottom: 88px;

  @media (max-width: $tabletsWidth) {
    padding-bottom: 64px;
  }

  &__title {
    margin-bottom: 93px;

    @media (max-width: $tabletsWidth) {
      margin-bottom: 53px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tabletsWidth) {
      flex-direction: column;
    }
  }

  &__info {
    width: calc(50% - 20px);
    display: flex;
    justify-content: space-around;

    @media (max-width: $tabletsWidth) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__wrapper {
    max-width: 152px;
  }

  &__label {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin-bottom: 8px;
  }

  &__data {
    @extend %mainParagraphText;
    margin-bottom: 24px;

    &--link {
      display: inline-block;
      color: inherit;
      margin-bottom: 24px;
    }
  }

  &__form {
    width: calc(50% - 20px);

    @media (max-width: $tabletsWidth) {
      width: 100%;
      margin-top: 32px;
    }
  }

  &__message {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
    height: 144px;
    background: #f7f8ff;
    border: 1px solid #fff;
    outline-color: #0075ff;
    border-radius: 8px;
    margin-bottom: 32px;
    padding: 17px;
    color: $textMainColor;
    resize: none;

    &::placeholder {
      color: $textInputColor;
    }

  }
}
