.contact {
  display: flex;
  justify-content: center;
  $gap: 194px;
  &__information {
    display: flex;
    margin-right: calc(#{$gap} - 108px);
    line-height: 27px;
  }

  &__info-block {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    margin-right: 108px;
    > a {
      font-weight: normal;
      color: black;
    }
  }

  &__heads {
    color: #9fadc2;
  }

  &__form {
    width: 423px;
  }
}
@media screen and (max-width: $small-screen-breakpoint) {
  .contact {
    flex-direction: column;
    align-items: center;

    &__information {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 280px;
    }

    &__info-block {
      margin-bottom: 24px;
    }
    &__form {
      width: 280px;
    }
  }
}
