.consultation {
  margin-top: 152px;
  position: relative;
  left: 50%;
  transform: translate(-50%);

  &__name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 100px;
    text-align: center;
    letter-spacing: -1.5px;

    @media screen and (max-width:800px) {
      position: relative;
      left: -20px;
    }
  }

  &__name:after {
    content: url(../images/gall-logo.svg);
    position: relative;
    top: 30px;
    right: 80px;
    margin-left: -50px;
  }

  &__input {
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 14px;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: #f7f8ff;
    border: 1px solid #fff;
    margin-top: 16px;

    &:last-child {
      background: $accent-text;
      box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      border: $accent-text;
      margin-top: 32px;
      color: #fff;
      height: 45px;

      &:hover {
        cursor: pointer;
        box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
      }
    }
  }

  &__text {
    color: $main-text;
    width: 40%;
    @media screen and (max-width:800px) {
      width: 100%;
    }
    &--label {
      color: $accent-text;
      font-weight: bold;
      font-size: 24px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    @media screen and (max-width:800px) {
      flex-direction: column;
    }
  }

  &__form {
    width: 413px;
    @media screen and (max-width:800px) {
      width: 100%;
    }
  }
}
