.content {
  padding: 0 20px;
  background-color: $c-gray;

  &__section {
    padding-top: 100px;

    @include onTablet {
      padding-top: 100px;
    }

    @include onDesktop {
      padding-top: 120px;
    }
  }

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
  }

  &__container {
    margin: 0 auto;

    @include onTablet {
      max-width: $maxWidthOnTablet;
    }

    @include onDesktop {
      max-width: $maxWidthOnDesk;
    }
  }
}
