.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__input {
    width: 412px;
    height: 48px;
    padding-left: 10px;

    font-size: 14px;
    line-height: 20px;
    color: black;
    opacity: 0.5;

    border: none;
    border-radius: 8px;
    background-color: #f7f8ff;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__input--message {
    height: 144px;
    resize: none;
  }

  &__button {
    width: 411px;
    height: 56px;
    margin-top: 16px;

    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;

    border: none;
    border-radius: 8px;
    background-color: rgba(0, 117, 255, 1);
    color: white;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);

    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: rgba(0, 94, 204, 1);
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }

    &:active {
      box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
