.control {
  padding-top: 80px;

  &__text {
    font-size: 15px;
    width: 238px;
  }

  &__tv {
    margin-top: 51px;
  }

  @media screen and(max-height: 420px) {
    padding-top: 20px;
    &__tv {
      margin-top: 20px;
    }

    &__text {
      font-size: 12px;
    }
  }

}

.gradient {
  height: 96px;
  background: radial-gradient(
    50% 100% at 49.51% -0.97%,
    rgba(151, 151, 151, 0.74) 0%, rgba(196, 196, 196, 0) 100%);
  opacity: 0.5;
  margin-top: -26px;

  @media screen and(min-width: 780px) {
    display: none;
  }
}
