@import "vars";

.contact {
  display: flex;
  justify-content: space-between;

  &__text {
    width: 280px;
  }

  &__form {
    width: 380px;
  }

  &__address {
    font-style: normal;
    margin: 20px 0;
  }

  &__link,
  &__address {
    font-size: 24px;
  }

  &__link {
    color: black;
    text-decoration: none;

    &:hover {
      color: $highlightHoverColor;
    }
  }
}

@media (max-width: $smallScreenBreakpoint) {
  .contact {
    flex-direction: column;

    &__text,
    &__form {
      width: 100%;
    }
  }
}
