.contacts {
  display: flex;
  justify-content: space-around;

  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 108px;
    row-gap: 24px;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;

    @media screen and (min-width:300px) and (max-width:500px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    @include hover(color, $main-color);

  }
  @media screen and (max-width: $small-screen-breakpoint) {
    & {
      flex-direction: column;
    }

    &__text,
    &__form {
      width: 100%;
    }
  }
}
