.contacts {
  display: grid;
  align-items: start;
  max-height: 10rem;
  grid-template-areas: "phone address"
    "email address";

  &__phone {
    grid-area: phone;
  }

  &__address {
    grid-area: address;
  }

  &__email {
    grid-area: email;
  }
}

.contact-item {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  margin-bottom: 1.5rem;

  &__link {
    margin-top: 0.5rem;
    color: #686868;
    transition: color 0.2s;

    &:hover {
      border-radius: 4px;
      color: #0ea9ba;
    }

  }
}

@media (max-width: 760px) {
  .contacts {
    display: block;
    max-height: none;
  }

  .contact-item {
    max-width: none;
  }
}
