.consultation {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px 80px;

  &__title {
    top: -0.54em;
    margin: 0 auto;
    width: 290px;
    margin-bottom: 76px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__form {
    margin-bottom: 16px;
  }

  &__subtitle {
    width: 260px;
    padding-bottom: 26px;
  }

  &__info {
    width: 50%;
  }

  &__text {
    padding-right: 80px;
  }

  &__btn {
    margin-top: 32px;
    width: 413px;
  }
}

@media (max-width: 914px) {
  .consultation {
    padding: 64px 30px;

    &__title {
      margin-bottom: 30px;
    }

    &__wrap {
      justify-content: center;
      flex-direction: column;
    }

    &__info {
      margin: 0 auto;
      width: 500px;
    }

    &__form {
      margin: 32px auto 0;
    }

    &__text {
      padding: 0;
    }

    &__subtitle {
      margin: 0 auto;
      text-align: center;
    }
  }

  .consultation__btn,
  .contact__btn,
  .form__input {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .consultation {

    &__info {
      width: auto;
    }

    &__btn {
      width: auto;
    }
  }

  .contact__btn,
  .form__input {
    width: auto;
  }
}
