.container {
  padding: $container-padding;
  &--homepage {
    display: flex;
    flex-direction: column;
    height: $header-height;
    padding-bottom: 48px;
  }
  &--about {
    display: flex;
    justify-content: space-between;
    padding-top: 104px;
    padding-bottom: $vertical-section-padding;
  }
  &--gallery {
    display: flex;
    flex-direction: column;
  }
  &--gallery,
  &--consultation,
  &--testimonials,
  &--contacts {
    padding-top: $vertical-section-padding;
    padding-bottom: $vertical-section-padding;
  }
  @media (min-width: 1261px) {
    & {
      width: 1260px;
    }
    &__centered {
      margin: 0 auto;
    }
    &--gallery {
      width: initial;
    }
  }
  @media (max-width: 1000px) {
    &--about {
      flex-direction: column;
    }
  }
  @media (max-width: 750px) {
    & {
      padding-left: calc(32px + 2vw);
      padding-right: calc(32px + 2vw);
    }
  }
  @media (max-width: 400px) {
    & {
      padding-left: 20px;
      padding-right: 20px;
    }
    &--about {
      padding-top: 64px;
    }
  }
}
