html,
body,
header,
main,
footer,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  border-width: 0;
}

a {
  text-decoration: none;
}
