*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 46px;
  font-weight: 700;
  color: $color-white;
  @include respond(tab-port) {
    font-size: 56px;
  }

  @include respond(tablet) {
    font-size: 66px;
  }

  @include respond(desktop) {
    font-size: 80px;
  }

  @include respond(tab-height) {
    font-size: 80px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: $color-black;
  @include respond(tab-port) {
    font-size: 40px;
  }

  @include respond(tablet) {
    font-size: 44px;
  }

  @include respond(desktop) {
    font-size: 48px;
  }

  @include respond(tab-height) {
    font-size: 48px;
  }
}

h3 {
  font-size: 24px;
  color: $color-blue;
}

h4 {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: $color-secondary-text;
}

p {
  color: $color-regular-text;
}
