@import "variables";

.description {
  @include align(104);

  &__wrap {
    display: flex;
  }

  &__title {

    &-text {
      letter-spacing: -1.5px;

      color: #000;

      font-weight: bold;
      font-size: 48px;

      &-link {
        text-decoration: none;
        color: $colorAllottedText;
      }
    }
  }

  &__text {
    margin-left: 192px;

    &-title {
      color: $colorAllottedText;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 16px;
    }

    &-quote {
      color: #3e3e3e;
      font-size: 16px;
      line-height: 27px;
    }

    &-guarantee {
      color: #3e3e3e;
      font-size: 16px;
      line-height: 27px;
      font-weight: bold;
    }
  }
}
