@import "./utils/vars";

.desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    color: $prime-color;
  }

  &__second-title {
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: $secondary-color;
  }

  &__paragraph {
    max-width: 600px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: $desc-color;

    &--several {
      margin-bottom: 24px;
    }
  }

  &__credo {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $desc-color;
  }

  &--wide {
    grid-column-gap: 188px;
  }

  @media screen and (max-width: $device-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-row-gap: 48px;

    &--wide {
      grid-row-gap: 32px;
    }
  }
}
