.description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;

  &__title {
    font-size: 48px;
    line-height: 48px;
    display: flex;
    width: max-content;
    margin-left: 5%;
  }

  &__link {
    color: $main-blue-color;
    padding-top: 1em;
    margin-left: 0.25em;
  }

  &__article {
    width: 45%;
    margin-right: 5%;

    &-title {
      margin-top: 0;
      color: $main-blue-color;
      font-size: 24px;
      line-height: 30px;
    }

    &-paragraph {
      font-size: 16px;
      line-height: 27px;
      color: $paragraph-color;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: 36px;
      line-height: 36px;
      margin: 0 auto 0 5%;
    }

    &__article {
      margin: 0;
      margin-top: 2em;
      width: 90%;
    }
  }
}
