.device {
  margin-bottom: 40px;

  & :last-child {
    margin-bottom: 0;
  }

  @include onDesktop {
    margin-bottom: 0;
  }

  &__photo {

    margin-bottom: 32px;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 140%;
    color: $color-font;
  }

  &__role {
    margin-bottom: 8px;
    color: $color-font;
  }

  &__about {
    margin-bottom: 8px;
  }
}

.link {
  text-decoration: none;
  color: $color-font;
}
