.estate {
  @include flex-space-between;
  padding-top: 104px;

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: #000;
    span {
      color: #0075ff;
    }

    @media screen and(max-width: 400px) {
      font-size: 36px;
    }
  }

  &__info {
    width: 500px;
  }

  &__info-text {
    margin-bottom: 40px;
  }

  strong {
    font-weight: bold;
  }

  @media screen and(max-width: 870px) {
    display: block;
    margin: 0 auto;
    padding-bottom: 64px;

    &__info {
      width: 100%;
      margin-top: 48px;
    }
  }
}
