.feedback {
  display: flex;
  justify-content: space-between;

  &__secondary-heading {
    margin-bottom: 16px;
  }

  &__paragraph {
    width: 412px;
  }

  &__form {
    width: 413px;
    height: 264px;
  }

  &__button {
    margin-top: 16px;
  }
}
