.feedback {
  margin-bottom: $margin-bottom-section;

  &__title {
    margin-bottom: $margin-bottom-title;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 413px);
    justify-content: space-between;

  }
  @media (max-width: 895px) {
    margin-bottom: $mobile-margin;
    
    &__title {
      margin-bottom: $mobile-margin-title;
    }

    &__wrapper {
      grid-template-columns: minmax(280px, 500px);
      justify-content: center;
      grid-gap: 30px;
    }
  }
}

.consultation {

  &__title {
    @include font-700;
    @include size-content-title-text;

    width: 240px;
    color: $strong-color;
    margin-bottom: 16px;
  }

  &__text {
    @include size-information-text;
    color: $color-text;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 16px;
    padding: 17px;

    background-color: #f7f8ff;
    border: none;
    border-radius: 8px;
    outline: none;

    transition: $transition;

    &::placeholder {
      font-size: 14px;
      line-height: 14px;
      color: #b9c1ce;
      @include font-400;
    }
    
    &:nth-child(3) {
      margin-bottom: 32px;
    }
    
    &:focus {
      outline-color: $strong-color;
    }
    
    &:hover {
      box-shadow: 0 3px 8px rgba(61, 78, 97, 0.2);
    }
  }

  &__btn {
    @include font-700;
    font-size: 16px;
    line-height: 14px;

    padding: 21px 0;
    color: #fff;
    background-color: $strong-color;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      margin: 0 10px;
    }
  }
}
