.feedback {
  display: flex;
  justify-content: space-between;

  &__subtitle {
    @include subtitle;
  }

  &__block {
    max-width: 412px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 572px) {
  .feedback {
    flex-direction: column;

    &__block {
      margin-bottom: 32px;
    }
  }
}
