.flex-info {
  display: flex;
  justify-content: space-between;
  &__element {
    width: 152px;
  }
  &__span {
    color: #9fadc2;
    line-height: 27px;
    font-size: 14px;
    margin-bottom: 8px;
  }
  &__p {
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    // margin-bottom: 24px;
  }
  &__p:nth-child(1) {
    margin-bottom: 24px;
  }
}
