// @font-face {
//   font-family: "Ubuntu", sans-serif;
//   src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//
//}
html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: inherit;
}

strong {
  font-weight: 500;
}
