@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
