.footer {
  height: 359px;
  background-image: url(../images/image_footer.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  &__logo {
    position: absolute;
    width: 115px;
    height: 76px;
    object-fit: contain;
    top: 243px;
    left: 50%;
    transform: translateX(-50%);
  }
}
