.footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: -1;
  margin: 88px 0 0;
  height: 400px;
  background: url("../images/new footer.png") no-repeat center;
  object-fit: cover;

  &__logo {
    position: relative;
    top: 60%;
    left: 45%;
    width: 115px;
    height: 76px;
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
  }
}
