.footer {
  height: 540px;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: center;

  &__logo {
    transform: translateX(50%);
    padding-top: 369px;
  }
}
