@import "./utils/vars";

.form {
  width: 100%;
  max-width: 500px;
  justify-self: end;
  align-self: start;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 16px;

  &__input {
    height: 48px;
    padding: 17px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    outline: none;
    background-color: $input-bg-color;
    border: 1px solid #fff;
    border-radius: 8px;

    &--message {
      height: 144px;
      resize: none;
    }

    &:focus {
      box-shadow: 0 0 2px 1px $prime-color;
    }

    &::placeholder {
      color: $input-txt-color;
    }
  }

  &__button {
    margin-top: 16px;
  }

  @media screen and (max-width: $device-width) {
    width: 260px;
    justify-self: center;
  }
}
