.form-field {
  height: 48px;
  display: block;
  width: 100%;
  padding: 14px 16px;
  border-radius: 40px;
  border: 1px solid transparent;
  background-color: #f8f8fa;

  &::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;

    &::placeholder {
      color: $mainColorText;
    }
  }

  &:focus {
    border-color: $mainColorText;
    color: $mainColorText;
    outline: none;
  }

  &--text {
    height: 148px;
    border-radius: 16px;
    resize: none;
  }
}
