.form {
  display: flex;
  flex-direction: column;

  &__input {
    @include input;
    padding: 17px;

    &::placeholder {
      color: #b9c1ce;
    }
  }

  &__textarea {
    @include input;
    padding: 17px 17px 113px;
    height: 160px;
    resize: none;

    &::placeholder {
      color: #b9c1ce;
    }
  }
}
