.form {
  display: flex;
  flex-direction: column;
  gap: 16px 0;

  &__input {
    padding: 17px;

    font-size: 14px;
    line-height: 14px;

    background-color: #f7f8ff;
    border: 1px solid #f7f8ff;
    border-radius: 8px;

    &::placeholder {
      color: #b9c1ce;
    }

    &--textarea {
      font-family: "Roboto", sans-serif;
    }
  }

  &__button {
    margin: auto;
    padding: 21px 0;
  }

  &__input,
  &__button {
    width: 100%;
  }
}
