$gap: 20px;

.foto {
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - #{$gap / 2});
    height: 256px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
  }

  &--wide-left {
    > {
      :first-child {
        width: calc(67% - #{$gap / 2});
      }
      :last-child {
        width: calc(33% - #{$gap / 2});
      }
    }
  }

  &--wide-right {
    > {
      :first-child {
        width: calc(33% - #{$gap / 2});
      }
      :last-child {
        width: calc(67% - #{$gap / 2});
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .foto {

    &__img {
      height: 131px;
    }

    &--wide-left {
      > {
        :first-child {
          width: calc(50% - #{$gap / 2});
        }
        :last-child {
          width: calc(50% - #{$gap / 2});
        }
      }
    }

    &--wide-right {
      > {
        :first-child {
          width: calc(50% - #{$gap / 2});
        }
        :last-child {
          width: calc(50% - #{$gap / 2});
        }
      }
    }
  }
}
