.gallery {
  &__title {
    text-align: center;
  }

  &__block {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
  }
}

.block-1 {
  grid-template-columns: 2fr 1fr;

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

.block-2 {
  grid-template-columns: 1fr 1fr;
}

.block-3 {
  grid-template-columns: 1fr 2fr;

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

.block__item {
  height: 256px;
  border-radius: 8px;
  width: 100%;

  @media screen and (max-width: 640px) {
    width: 131px;
    height: 131px;
  }
}

.caption {
  color: $colorSecondary;
}

.crown {
  background-image: url("../images/crown.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}
