.galery {
  &__text {
    margin: 24px 0 40px;
  }

  &__link {
    color: $main-color;
    @include hover(color, $main-hover-color);
  }

  &__button {
    margin: 91px auto 0;
    padding: 21px 65px;
    border: 2px solid $main-color;
    border-radius: $border-radius;
    @include hover(color, $main-background-color);

    @media screen and (min-width:300px) and (max-width:500px) {
      width: 100%;
      margin-top: 0;
    }

  }
}
