.gallery {
  &__description {
    margin-top: 24px;
    margin-bottom: 40px;

    &-link {
      color: $blue-color-text;
      font-weight: bold;
    }
  }

  &__link {
    display: block;
    text-align: center;
    width: 188px;
    height: 56px;
    margin: 0 auto;
    line-height: 56px;
    font-weight: bold;
    border: 2px solid $blue-color-text;
    box-sizing: border-box;
    border-radius: 8px;
    color: #0075ff;
    text-decoration: none;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: calc(50% - 10px);
    height: 256px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;

    &--67 {
      width: calc(67% - 10px);
    }

    &--33 {
      width: calc(33% - 10px);
    }
  }
}
