.gallery {

  &__caption {
    margin: 24px 0 40px;
  }

  &__btn {
    margin: 0 auto;
    width: 188px;
    height: 56px;
    display: block;
    border: 2px solid $colorSecondary;
    box-sizing: border-box;
    border-radius: 8px;
    color: $colorSecondary;
    text-align: center;
    line-height: 56px;

    @include hover(background-color, $colorSecondary);
    @include hover(color,#fff);

    @media screen and (max-width: 640px) {
      width: 280px;
      height: 56px;
    }
  }
}

.photos {
  display: grid;
  grid-gap: 20px;
  justify-content: stretch;
  grid-template-columns: 1fr 1fr;

  &__img {
    height: 256px;
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 640px) {
      min-width: 131px;
      max-height: 131px;
    }
  }
}

.photos__wide--left {
  grid-template-columns: 2fr 1fr;

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

.photos__wide--right {
  grid-template-columns: 1fr 2fr;

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}
