.gallery {
  padding: 0;

  .container {
    box-sizing: border-box;
    padding: 0 160px 120px;
    background-color: #eee;

    .section__title {
      position: relative;
      bottom: 20px;
      display: inline-flex;
      margin: 0 0 0 375px;
      text-transform: uppercase;
      font-size: 48px;
      font-weight: 300;
      border-bottom: 4px solid #0af;

      &::after {
        content: "";
        position: absolute;
        right: 85px;
        top: 52px;
        background-image: url(/images/crown.png);
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 15px;
      }
    }

    .apart {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;

      .apart__photos {
        display: flex;

        .apart__photos2 {
          margin-left: 15px;
        }
      }
    }

    .section__bottom {
      display: flex;
      justify-content: center;
      align-items: center;

      .button_inline {
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 55px;
        color: white;
        background-color: #0af;
        font-size: 14px;
        line-height: 36px;
      }
    }
  }
}
