.galery {
  &__text {
    margin: 24px 0 40px;
  }

  &_wide_left {
    & :first-child {
      width: calc(67% #{$gap / 2});
    }
    & :last-child {
      width: calc(33% - 10px);
    }
  }
  &_wide_right {
    & :first-child {
      width: calc(33% - 10px);
    }
    & :last-child {
      width: calc(67% - 10px);
    }
  }

  &__link {
    color: $main-color;

    @include hover(color, $main-hover-color);
  }

  &__button {
    margin: 91px auto 0;
    padding: 21px 65px;
    border-radius: 8px;
    border: 2px solid $main-color;

    @include hover(color, white);
  }
}
