.gallery {
  align-self: start;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  &__photo {
    height: 256px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    @media screen and (max-width:800px) {
      height: 7em;
    }
    &:hover {
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 100px;
    text-align: center;
    letter-spacing: -1.5px;
  }

  &__name:after {
    content: url(../images/gall-logo.svg);
    position: relative;
    top: 30px;
    right: 80px;
  }

  &__middle {
    display: flex;
    justify-content: space-around;
    .gallery__photo {
      width: 49%;
      @media screen and (max-width:700px) {
        width: 48%;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-around;
    .gallery__photo {
      &:first-child {
        width: 66%;
        @media screen and (max-width:700px) {
          width: 48%;
        }
      }

      &:last-child {
        width: 32%;
        @media screen and (max-width:700px) {
          width: 48%;
        }
      }
    }
  }

  &__location {
    margin: 10px;
    color: $main-text;

    &--name {
      font-weight: bold;
      color: $accent-text;
    }
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 188px;
    height: 56px;
    border: 2px solid $accent-text;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    color: $accent-text;
    cursor: pointer;
    background-color: #fff;
    @media screen and (max-width:800px) {
      width: 100%;
    }
    &:hover {
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }
  }

  &__small {
    display: flex;
    justify-content: space-around;
    .gallery__photo:first-child {
      width: 32%;
      @media screen and (max-width:700px) {
        width: 48%;
      }
    }
    .gallery__photo:last-child {
      width: 66%;
      @media screen and (max-width:700px) {
        width: 48%;
      }
    }
  }

}
