body {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 540px;
}

a {
  text-decoration: none;
}

.textual {
  font-style: 16px;
  line-height: 24px;
  color: #000;
  h2 {
    font-style: 32px;
    list-style: 36px;
    font-weight: normal;
    margin-bottom: 1em;
  }
  a {
  color: #000;
  }
  p {
    margin-bottom: 1em;
  }
  &__big {
    font-size: 24px;

  }
}

.form__field {
  margin-bottom: 10px;
}

.input {
  line-height: 52px;
  height: 52px;
  font-weight: 500;
  background-color: #eee;
  text-transform: uppercase;
  width: 100%;
  border: none;

  &::placeholder {
    font-size: 14px;
    color: #393939;
    text-align: center;
  }
}

.button {
  font-size: 14px;
  line-height: 52px;
  height: 52px;
  font-weight: 500;
  color: #fff;
  display: block;
  background-color: #00aaef;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border: none;

  &__inline {
    display: inline-block;
    padding: 0 60px;
    width: auto;
  }
}

.textarea {
  width: 100%;
  height: 150px;
  border: none;
  background-color: #eee;
  font-weight: 500;
  text-transform: uppercase;

  &::placeholder {
    font-size: 14px;
    color: #393939;
    text-align: center;
  }
}
