.grid {
  display: grid;
  box-sizing: border-box;
  max-width: 1920px;
  padding: 0 $rightLeftPadding;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;

  @include onDesktop {
    padding: 0 $rightLeftPaddingOnDesk;
    grid-template-columns: repeat(12, 1fr);
  }

  &--desktop {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
