.container {
  max-width: $container-width;
  width: 100%;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @media (max-width: 767px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter-width;
  margin-left: -$gutter-width;
}
