.heading {
  @include title;
  position: relative;
  width: max-content;
  margin: auto;

  &__crown--gallery,
  &__crown--contact,
  &__crown--consultation,
  &__crown--testimonials {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    width: 23px;
    height: 16px;
    margin: auto;
    margin-top: 7px;
    background-image: url("images/crown.svg");
    background-repeat: no-repeat;
  }

  &__crown--gallery {
    margin-bottom: 38px;
  }

  &__crown--contact,
  &__crown--consultation,
  &__crown--testimonials {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: $small-screen-breackpoint) {
  .heading__crown--gallery,
  .heading__crown--consultation,
  .heading__crown--testimonials,
  .heading__crown--contact {
    margin-bottom: 30px;
  }
}
