.heading {
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
  position: absolute;

  &__crown {
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 23px;
    height: 16px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
