@import "fonts";
@import "./variables.scss";

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  padding: 0 120px;

  @include header_font;

  background-image: url("/images/header.jpg");
  background-size: cover;
  background-position: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }

  &__phone-icon {
    display: none;
  }

  &__burger {
    display: none;
  }

  &__ph-link {
    text-decoration: none;
    color: $font-color-link;
    transition: color $transition-link;
  }

  &__link-order {
    padding-bottom: 8px;
    text-transform: uppercase;
    color: $font-color-link;
    border-bottom: 1px solid $font-color-border;
    transition: color $transition-link;
  }

  &__link-order:hover,
  &__ph-link:hover {
    color: $font-color-hover;
    border-color: $font-color-hover;
  }

  &__line {
    width: 35px;
    height: 2px;
    margin-bottom: 16px;
    background-color: $font-color-border;
    border-radius: 2px;
  }

  &__name {
    font-size: 60px;
    line-height: 60px;
  }

  &__nav {
    margin: 85px 0 48px;
  }

  @media screen and (max-width: $small-screen) {

    padding: 0 20px;

    &__ph-link {
      display: none;
    }

    &__phone-icon {
      display: block;

      width: 18px;
      height: 18px;

      background-image: url(/images/Vector.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__burger {
      display: block;
    }

    &__name {
      margin-bottom: 80px;
      font-size: 45px;
      line-height: 40px;
      font-weight: bold;
    }

    &__nav {
      display: none;
      height: 100%;
      background-color: $bg-color-nav-mobile;
    }

    &__list {
      flex-direction: column;
      padding: 90px 21px;
      align-items: start;
      font-size: 22px;
      line-height: 1;
    }

    &__item {
      margin-bottom: 28px;
    }

    &__link-order {
      display: none;
    }
  }
}
