.hero {
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/header_picture.jpg");

  .container {
    position: relative;
    height: 100vh;
    min-height: 500px;
  }
}

.header {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;

  &__logo {
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translate(-50%, 0);

    .icon {
      font-size: 80px;
      fill: #fff;
    }
  }

  &__phone {
    float: left;
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
  }

  &__call {
    float: right;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px dashed #fff;
    opacity: 0.6;
    text-transform: uppercase;
  }
}

.nav {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;

  a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
  }
}
