.nav {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;

  a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
  }
}

.hero {
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/header_picture.jpg");

  .container {
    position: relative;
    height: 100vh;
    min-height: 500px;

    a {
      transition: all 400ms;
    }

    a:hover {
      color: rgb(169, 169, 247);
      transition: all 300ms;
    }
  }
}

.header {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;

  &__logo {
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__phone {
    float: left;
    text-decoration: none;
    color: #fff;
  }

  &__call {
    float: right;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px dashed #606060;
    text-decoration: none;
  }
}
