.logo {
  width: $logo-width;
  height: $logo-height;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.phone-icon {
  visibility: hidden;
  width: 18px;
  height: 18px;
  background-image: url("../images/phone.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hamburger-icon {
  visibility: hidden;
  width: 18px;
  height: 18px;
  background-image: url("../images/hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.x-icon {
  visibility: hidden;
  width: 18px;
  height: 18px;
  background-image: url("../images/x.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
