.icon {
  display: block;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &--menu {
    background-image: url(../images/menu.svg);
    width: $iconSizeSmall;
    height: $iconSizeSmall;
    margin-left: 30px;
    transition: all 0.3s;

    @media (min-width: 744px) {
      width: $iconSizeBig;
      height: $iconSizeBig;
      margin-left: 40px;
    }

    @include onDesktop {
      &:hover {
        background-image: url(../images/menu-hover.svg);
        width: $iconSizeBig;
        height: $iconSizeBig;
      }
    }
  }

  &--call {
    background-image: url(../images/phone.svg);
    width: $iconSizeSmall;
    height: $iconSizeSmall;
    color: #292929;
    text-decoration: none;

    @media (min-width: 744px) {
      width: $iconSizeBig;
      height: $iconSizeBig;
    }
  }

  &--close {
    background-image: url(../images/close.svg);
    width: $iconSizeSmall;
    height: $iconSizeSmall;

    @include onDesktop {
      width: $iconSizeBig;
      height: $iconSizeBig;
    }
  }
}
