.icon-menu {
  background: url("../images/menu.svg");
  @include iconsPreSet(18px, 12px);

  @include onDesktop {
    @include iconsPreSet(24px, 16px);
  }
}

.icon-menu:hover {
  @include onDesktop {
    background: url("../images/menu_hover.svg");
    @include iconsPreSet(24px, 16px);
  }
}

.icon-phone {
  background: url("../images/phone.svg");
  @include iconsPreSet(18px, 18px);

  @include onDesktop {
    @include iconsPreSet(24px, 24px);
  }
}

.icon-cross {
  background: url("../images/cross.svg");
  @include iconsPreSet(16px, 16px);

  @include onDesktop {
    @include iconsPreSet(24px, 24px);
  }
}
