.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 152px;

  &__title {
    width: 328px;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: -1.5px;
    color: #000;
    white-space: nowrap;
    margin: 0;
  }

  &__link {
    color: #0075ff;
    text-decoration: none;
  }

  &__text {
    max-width: 500px;
    @include fontGeneral;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    &--active {
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      color: #0075ff;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .info {
    flex-direction: column;
  }
}
