.info {
  margin-top: 104px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  @media screen and (max-width: $media-size-medium) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: $media-size-medium) {
    margin-top: 0;
  }

  &__heading {
    @include title-text-style;
    margin: 0;
    padding-bottom: 50px;
    max-width: 328px;
  }

  &__heading-link {
    color: $primary-color;
    text-decoration: none;

    &:visited {
      color: $primary-color;
    }

    &:hover {
      color: darken($primary-color, 10%);
    }
  }

  &__text {
    max-width: 500px;
  }

  &__text-title {
    @include subtitle-text-style;
    color: $primary-color;
    margin: 0;
    padding-bottom: 16px;
  }

  &__paragraph {
    margin-bottom: 30px;
    line-height: 27px;
  }
}
