.info {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
  color: #3e3e3e;
  margin-bottom: 152px;
  &__title {
    color: #000;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5px;
    width: 328px;
  }
  &__link {
    text-decoration: none;
    color: $blue-color-text;
    transition: color $hover-duration;
    &:hover {
      text-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    }
  }
  &__text {
    width: 500px;
  }
  &__heading {
    font-size: 24px;
    color: $blue-color-text;
    margin-bottom: 16px;
  }
  &__paragraph {
    margin-bottom: 32px;
    line-height: 27px;
    &:last-child {
      margin: 0;
      font-weight: 700;
    }
  }
}
