input {
  box-sizing: border-box;
  border-width: 0;
  padding: 11px 0 7px;
  background-color: $c-background-grey;
  text-transform: uppercase;
  text-align: center;
  height: 54px;
  margin: 4px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  outline: none;

  &:focus {
    border: 2px solid $c-hover ;
  }

  &::placeholder {
    color: $c-placeholder;
    font-weight: 500;
  }
}

textarea {
  outline: none;
  box-sizing: border-box;
  margin: 4px 0;
  border-radius: 0;
  border: 2px solid $c-background-grey;
  padding: 11px 0 7px;
  background-color: $c-background-grey;
  text-transform: uppercase;
  text-align: center;
  height: 166px;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #393939;
  resize: none;

  &__::placeholder {
    color: $c-placeholder;
  }

  &:focus {
    border: 2px solid $c-hover ;
  }
}
