.input {
  font-size: 14px;
  font-weight: 500px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  padding: 24px;
  background-color: #eee;
  box-sizing: border-box;

  &::placeholder {
    color: inherit;
  }

  &_textarea {
    height: 166px;
  }
}
