.input {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #393939;
  padding: 24px 30px;
  background-color: #EEEEEE;

  &_textarea {
    height: 166px;
  }

  &::placeholder {
    text-transform: uppercase;
  }
}
