.link,
.link:visited {
  color: $highlight-color;
  text-decoration: none;
  transition: color $hover-duration;

  &:hover {
    color: $highlight-hover-color;
  }
}

.link--bottom {
  color: #393939;
  font-weight: 700;
}
