a,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  color: $c-blue;
  transition: color $t-transition linear;
  outline-color: $c-hover;
  outline-width: 2px;
}

a:hover {
  color: $c-hover;
}
