.link {
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s, background-color 0.3s, boreder-color 0.3s;
  padding: 8px 24px;
  border-radius: 8px;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(252, 252, 252, 0.1);
  }
}
