@import "vars";

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: $small-screan-breakpoint) {
  .logo {
    width: 73px;
    height: 48px;
  }
}
