.logo {
  width: $widthLogo;
  height: $hightLogo;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 640px) {
    width: $widthLogoMin;
    height: $hightLogoMin;
  }
}
