.main {
  max-width: 1260px;
  box-sizing: border-box;
  padding: 0 120px;
  margin: auto;

  & a {
    color: #0075ff;
    font-weight: bold;
  }
}

section:not(:last-child) {
  padding-bottom: 152px;

  &__heading {
    font-size: 48px;
    line-height: 1;
    position: absolute;
    text-transform: uppercase;
    font-style: bold;
    letter-spacing: -1.5px;

    &__crown {
      position: absolute;
      margin: auto;
      top: 8px;
    }
  }
}

.button {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding: 19px 63px;
  color: #f2f2f2;
  border: 2px solid #0075ff;
  background-color: #0075ff;
  &:hover {
    transform: scale(1.02);
  }
}

.heading {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -1.5px;
  justify-content: center;
  padding-bottom: 93px;

  &::before {
    content: url(../images/crown.svg);
    position: absolute;
    margin: auto;
    top: 24px;
  }

  &:first-of-type {
    padding-bottom: 61px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding: 0 20px;
    transition-duration: 0.5s;
    max-width: 90%;
  }
  .section:not(:last-child) {
    padding-bottom: 64px;
    transition-duration: 0.5s;
  }
  .heading {
    font-size: 36px;
    line-height: 36px;
  }
}
