
.main {
  @extend %body-content;
  margin-top: 100px;
  padding: 0 $padding-r-l;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__heading {
    display: flex;
    max-width: 328px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;

    & > a {
      color: $main-blue;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    padding-right: 50px;
    font-size: 16px;
    line-height: 27px;

    & > p:first-child {
      margin-top: 0;
      font-size: 24px;
      line-height: 30px;
      color: $main-blue;
    }
  }
}

.section {
  position: relative;

  &__title {
    margin-top: 152px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__svg {
    text-align: center;
    margin-bottom: 40px;
  }
}

.button {
  height: 56px;
  max-width: 413px;
  color: $main-header-color;
  background-color: $main-blue;
  border: 2px solid $main-blue;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;

  &:hover {
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  }
}

.form {
  display: flex;
  flex-direction: column;

  & input,
  textarea {
    box-sizing: border-box;
    width: 413px;
    height: 48px;
    background: #f7f8ff;
    border: 1px solid $main-header-color;
    border-radius: 8px;
    padding-left: 17px;
    margin-bottom: 16px;

    &::placeholder {
      font-size: 14px;
      color: #b9c1ce;
    }

    &:focus {
      box-shadow: 0 2px 9px rgba(0, 117, 255, 0.46);
    }
  }
}
