.main {
  padding: 104px 120px 0;

  @media screen and (min-width: 1921px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 104px 20px 0;
  }
}
