.main {
  background-color: $menu-text-color;
  color: $text-color;
  padding: 0 20px;
  align-items: center;

  @media (min-width: $tablet-version) {
    padding: 0 72px;
  }

  @media (min-width: $desktop-version) {
    padding: 0 120px;
  }
}
