@media screen and (max-width: 1020px) {
  .container {
    padding: 0 20px;
  }
  .section {
    margin-top: 64px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .section {
    &__header {
      margin-bottom: 53px;
    }
  }

  .header {
    &__top {
      margin-bottom: 320px;
      position: relative;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__phone-img {
      display: block;
    }

    &__hamburger-icon::before {
      content: "";
      background-image: url(../images/hamburger.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 12px;
      position: absolute;
      top: 20px;
      right: 0;
      cursor: pointer;
    }

    &__hamburger-icon::after {
      display: none;
      content: "";
      position: absolute;
      right: 0;
      z-index: 1;
      background-image: url(../images/close.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 16px;
      width: 16px;
      cursor: pointer;
    }

    &__phone {
      display: none;
    }

    &__action {
      display: none;
    }
  }

  .logo {
    width: 73px;
    height: 48px;
    z-index: 1;
  }

  .nav {
    &__list {
      display: none;
    }
  }

  .hamburger-menu:checked ~ .mobile-nav {
    display: flex;
  }

  .hamburger-menu:checked ~ .header__hamburger-icon::before {
    display: none;
  }

  .hamburger-menu:checked ~ .header__hamburger-icon::after {
    display: block;
  }

  .info {
    margin-top: 64px;
    flex-direction: column;
    align-items: center;

    &__title {
      margin-bottom: 48px;
      width: auto;
    }

    &__text {
      width: auto;
    }
  }

  .gallery {
    &__description {
      margin-top: 16px;
      margin-bottom: 32px;
    }

    &__img {
      width: calc(50% - 10px);
      height: 131px;
    }

    &__link {
      width: 100%;
    }
  }

  .consultation {
    flex-direction: column;

    &__info {
      width: auto;
      margin-bottom: 32px;
    }
  }

  .form {
    width: auto;
  }

  .testimonials {
    flex-direction: column;
    align-items: center;

    &__item {
      width: 280px;
      margin-bottom: 48px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .contact {
    flex-direction: column;

    &__phone-email,
    &__address {
      width: auto;
    }

    &__address {
      margin-top: 24px;
      margin-bottom: 32px;
    }
  }

  .footer {
    height: 206px;
    margin-top: 64px;
  }
}
