@media (max-width: 600px) {
  .section {
    &__title {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      margin-bottom: 40px;
      font-size: 30px;
      text-align: center;
    }
  }
}

@media (max-width: 720px) {
  .textual {
    &__list {
      margin-left: 2em;
    }
  }

  .hero {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#000, 0.5);
      content: "";
    }
  }

  .nav {
    position: static;
    display: block;
    padding-top: 200px;

    &__item {
      margin-bottom: 10px;
      text-align: center;
      font-size: 25px;
    }
  }

  .section {
    &__left {
      float: none;
      width: auto;
      margin-bottom: 30px;
    }

    &__right {
      float: none;
      width: auto;
    }
  }

  .apart {
    &__photo {
      height: 100px;
    }
  }

  .testis-list {
    display: block;
  }

  .testis-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .section {
    padding: 60px 0;
  }
}

@media (max-width: 960px) {
  .description {
    &__motto {
      width: auto;
      float: none;
      margin-bottom: 20px;
      br {
        display: none;
      }
    }

    &__text {
      width: auto;
      float: none;
      margin-left: 10px;
    }
  }
}

@media (max-width: 980px) {
  .container {
    margin: 0 20px;
  }
}
