@media screen and (max-width: 740px) {
  .nav__list {
    display: block;
    text-align: center;
  }

  .row__block {
    grid-template-columns: 1fr;
  }

  .contactUs__information {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 500px) {

  .body-section {
    display: block;
    padding: 0 20px;
    margin-top: 0;
  }

  .h1__title {
    margin-top: 64px;
    margin-bottom: 53px;
  }

  .header {
    height: 552px;
    margin-bottom: 64px;

    &__top .phone-icon {
      width: 18px;
      height: 18px;
      background-image: url("../images/phone-icon.png");
      display: block;
    }

    &__phone,
    &__link {
      position: absolute;
      left: 130%;
      z-index: 999;
      transition: left 0.75s ease-in-out;
      font-size: 12px;
      letter-spacing: 2px;
    }

    &__phone {
      bottom: 92px;
      width: 130px;
    }

    &__link {
      bottom: 60px;
      width: 118px;
    }

    &__link.move,
    &__phone.move {
      left: 22px;
    }

    &__top .burger-icon {
      display: block;
      z-index: 999;
    }

    .burger-icon:hover {
      cursor: pointer;
    }

    &__title {
      font-size: 46px;
      max-width: 253px;
    }

    &__nav {
      transform: translateX(110%);
    }
  }

  .nav {
    transition: transform 0.75s ease-in-out;
    position: absolute;
    right: -10%;
    width: 110%;
    height: 100%;
    top: 0;
    background: #0075ff;

    &--active {
      background: none;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 73px;
      height: 48px;
      top: 24px;
      left: calc(50% - 36.5px);
      background-image: url("../images/logo.png");
      background-size: cover;
    }

    &__list {
      margin-top: 120px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      letter-spacing: 2px;
      font-size: 22px;
      margin-top: 32px;
      padding: 0;
    }

    &-burger {
      transform: translateX(0);
    }
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: transform 0.5s linear;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-6px, 5px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .aboutUs {
    &__title {
      font-size: 36px;
      margin-bottom: 48px;
    }
  }

  .consultation {
    &__block {
      display: block;
      margin-top: 0;
    }
  }

  .contactUs {

    p {
      margin: 8px;
    }

    &__information {
      justify-items: flex-start;
      grid-gap: 0;
    }

    .pale-text {
      margin-top: 24px;
    }

    &__formInforation {
      margin-top: 32px;
    }

  }

}
