@import "variables";

@media (max-width: 376px) {
  .header {
    width: 100vw;
    height: 568px;

    &__title {
      top: 389px;
      width: 253px;
      &--text {
        font-size: 46px;
        letter-spacing: -1px;
      }
    }
  }
  .description {
    &__wrap {
      flex-direction: column;
      margin-top: 50px;
    }
    &__title {
      @include mobileVersion;

      &-text {
        font-size: 36px;
      }
    }
    &__text {
      @include mobileVersion;

      &-title {
        margin-top: 48px;
      }
    }
  }
  .gallery {
    @include alignMobile(64);

    &__wrap {
      @include mobileVersion;
    }
    &__img-1,
    &__img-2 {
      height: 131px;
      width: 131px;
    }
    &__img-2 {
      margin-left: 14px;
    }
    &__button {
      @include mobileVersion;
    }
  }
  .consultation {
    @include alignMobile(64);

    &__wrap {
      flex-direction: column;
      margin-top: 30px;
    }
    &__text {
      @include mobileVersion;
      margin-bottom: 32px;
    }
    &__form {
      @include mobileVersion;

      &-button {
        width: 280px;
      }
    }
    &__input {
      width: calc(280px - 17px);
    }
  }
  .testimonials {
    @include alignMobile(64);

    &__wrap {
      flex-direction: column;
      @include mobileVersion;
    }
    &__people {
      margin: 30px 0 0;

      &:first-child {
        height: 305px;
      }
    }
  }
  .contact-us {
    @include alignMobile(64);
    &__wrap {
      @include mobileVersion;
      flex-direction: column;
    }
    &__section-one {
      margin-top: 30px;
    }
    &__section-two > .section__content {
      margin-bottom: 32px;
    }
  }
  .footer {
    margin-top: 64px;
    width: 100vw;
    height: 206px;

    &__logo {
      bottom: 24px;
      &__img {
        width: 77px;
        height: 50px;
      }
    }

  }
}
@media (min-width: 377px) {
  .nav__list {
    display: flex;
  }
  .testimonials__wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}
