@media (max-width: 678px) {
  .header {
    display: none;
  }

  .header-mob {
    display: block;
  }

  .styles-heading-h2 {
    font-size: 36px;
  }

  .main__first-block {
    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 64px;
    padding: 0 20px;
  }

  .main__h2 {
    margin-bottom: 48px;
  }

  .styles-heading-h2--gallery {
    margin-bottom: 53px;
  }

  .gellery {
    padding: 0 20px;
    margin-bottom: 32px;

    &__wrap-1 {
      height: 131px;
      margin-right: 20px;
    }

    &__wrap-2 {
      height: 131px;
    }

    &__container {
      margin: 16px 0;
    }

    &__btn {
      width: 280px;
      margin: 32px auto 64px;
    }
  }

  .consultation {
    margin-bottom: 64px;
    padding: 0 20px;

    &__content {
      flex-direction: column;
    }

    &__p {
      margin: 0 auto;
      margin-bottom: 32px;
      max-width: 100%;
    }

    &__text-wrap {
      max-width: 600px;
    }
  }

  .form {
    margin: 0 auto;

    &__input {
      width: 246px !important;
    }

    &__textarea {
      width: 246px !important;
    }
  }

  .tes {
    margin-bottom: 64px;

    &__cards-wrap {
      margin-top: 53px;
      justify-content: center;
    }

    &__card {
      margin: 48px;
    }
  }

  .contact {
    padding: 0 20px;

    &__block-wrap {
      flex-direction: column;
      justify-content: center;

    }

    &__wrap {
      width: 282px;
      margin: 0 auto;
      flex-direction: column;
    }
  }

  .footer {
    height: 280px;

    &::before {
      top: 180px;
    }
  }
}
