.menu {
  height: 100vh;
  background-color: $colorMenu;

  &--open {
    transform: translateX(0);
  }

  &__container {
    padding: $headerTopPadding 20px 94px;
    margin: 0 auto;

    @include onTablet {
      max-width: $maxWidthOnTablet;
      padding: $headerTopPaddingOnDesk 60px 40px;
    }

    @include onDesktop {
      max-width: $maxWidthOnDesk;
      padding: $headerTopPaddingOnDesk 0 65px 0;
    }
  }

  &__list {
    margin: 50px 0 40px;
    padding: 0;
    list-style: none;

    @include onDesktop {
      margin: 80px 0 40px;
    }
  }

  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    color: $mainColorText;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: border-color 0.3s;

    &:hover {
      border-color: $mainColorText;
    }
  }

  &__call {
    display: block;
    width: max-content;

    text-transform: uppercase;
    font-weight: 700;
    color: $mainColorText;
    text-decoration: none;

    &--phone {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 27px;
    }

    &--action {
      padding-bottom: 8px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      border-bottom: 1px solid $mainColorText;
    }
  }
}
