
.menu {
  background-color: #0075ff;
  &__content {
    height: 100vh;
    box-sizing: border-box;
    padding: $header-padding 0;
  }

  .menu__top {
    margin-bottom: 48px;
  }

  &__list {
    list-style: none;
    margin: 0 0 48px;
    padding: 0;

  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    color: white;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    transition: border-color 0.6s;

    &:hover {
      border-color: #fff;
    }
  }

  &__phone {
    display: block;
    font-weight: bold;
    font-size: 12px;
    width: max-content;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;

    &--call {
      margin-bottom: 16px;
    }

    &--action {
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
    }
  }
}
