@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin onTables {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin top-actions {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
