@mixin onMobile {
  @media (max-width: 319px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onBigScreen {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin useGrid ($columnsCount, $gap) {
  display: grid;
  grid-template-columns: repeat($columnsCount, 1fr);
  gap: $gap;
}
