.mobile-menu {
  display: block;
  position: absolute;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: $active-color;
  height: 700px;
  top: 0;
  right: -100%;
  transition: right 0.2s;
  z-index: 2;
  transform: translateZ(0);
  backface-visibility: hidden;

  &-ticker {
    display: none;
  }
}

.btn-menu {
  color: #fff;
  display: none;
  padding: 5px;
  position: absolute;
  top: 42px;
  right: 23px;
  cursor: pointer;
  transition: right 0.23s;
  z-index: 3;
  width: 25px;
  transform: translateZ(0);
  backface-visibility: hidden;

  & span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all 0.1s linear 0.23s;
    position: relative;
    border-radius: 3px;
  }

  & span.first {
    margin-top: 0;
  }
}

.mobile-menu-ticker:checked ~ .mobile-menu {
  right: 0;
}

.mobile-menu-ticker:checked ~ .btn-menu span.first {
  transform: rotate(45deg);
  top: 8px;
}

.mobile-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.mobile-menu-ticker:checked ~ .btn-menu span.third {
  transform: rotate(-45deg);
  top: -8px;
}

.mobile__nav {
  margin-top: 40px;
}

.mobile__link {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mobile__logo {
  margin: 24px auto;
}

.mobile__phone {
  margin-top: 35px;
}

.mobile__action {
  margin-top: 35px;
  text-decoration: underline;
}

@media screen and (max-width: $small-screen-breakpoint) {
  .btn-menu {
    display: block;
  }
}
