.mobile-menu {
  position: absolute;
  width: 100vw;
  padding: 24px 20px;
  max-width: 500px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $c-blue;
  transform: translateX(101%);
  transition: transform 0.3s;

  &--open {
    transform: translateX(0%);
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 48px;
  }

  &__logo {
    grid-column-start: 2;
    width: 73px;
    height: 48px;
    background-image: url(../images/logo.png);
    background-size: cover;
  }

  &__close {
    width: 50px;
    height: 50px;
    justify-self: end;
    background-image: url(../images/cross.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;
    border: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
  }

  &__link {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
  }

  &__phone,
  &__call {
    color: #fff;
    font-size: 12px;
  }

  &__phone {
    display: block;
    margin-bottom: 16px;
  }

  &__call {
    text-transform: uppercase;
    padding: 8px 0;
    border-bottom: 2px solid #fff;
  }
}

@media screen and (min-width: 960px) {
  .mobile-menu {
    display: none;
  }
}
