.mobile-nav {
  visibility: hidden;
  opacity: 0;
  padding: 120px 0 0 21px;
  width: 100vw;
  height: $small-screen-height;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0075ff;
  z-index: 1;

  &__list {
    list-style: none;
  }

  &__item {
    padding-bottom: 32px;
  }

  &__link {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

  &__phone {
    display: block;
    margin-bottom: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__order-link {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    max-width: max-content;
  }
}
