@media screen and (min-width: 300px) and (max-width: 960px) {

  .header {
    height: 560px;
    position: relative;

    &__top {
      margin-bottom: 320px;
    }

    &__phone {
      display: none;
    }

    &__phone-img {
      display: block;
      position: absolute;
      top: 39px;
      left: 23px;
      z-index: 1;
    }

    &__hamburger-icon::before {
      content: "";
      background-image: url(../images/hamburger.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 12px;
      position: absolute;
      top: 42px;
      right: 23px;
      cursor: pointer;
      z-index: 3;
    }

    &__hamburger-icon::after {
      display: none;
      content: "";
      position: absolute;
      right: 24px;
      top: 40px;
      z-index: 3;
      background-image: url(../images/close.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 16px;
      width: 16px;
      cursor: pointer;
    }

    &__action {
      display: none;
    }

    &__logo {
      display: block;
      margin: 24px auto;
      width: 73px;
      height: 48px;
      z-index: 3;
    }

    &__heading {
      height: 121px;
      width: 340px;
      position: absolute;
      top: 350px;
      left: 20px;
      font-size: 50px;
      line-height: 60px;
      font-style: normal;
      color: white;
      letter-spacing: -1.5px;
      z-index: 1;
    }

    &__line {
      background-color: #fff;
      height: 2px;
      width: 35px;
      position: absolute;
      top: 334px;
      left: 20px;
      z-index: 1;
    }

    &__nav {
      display: none;
    }
  }

  .hamburger-menu:checked ~ .mobile-nav {
    top: 0;
    opacity: 1;
  }

  .hamburger-menu:checked ~ .header__hamburger-icon::before {
    display: none;
  }

  .hamburger-menu:checked ~ .header__hamburger-icon::after {
    display: block;
  }

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px;
  }

  .gallery {
    margin: 0 20px;
  }

  .consultation {
    display: block;
    margin: 0 20px;
    white-space: normal;

    &__text {
      width: auto;
    }
  }

  .form {
    width: auto;
  }

  .testimonials,
  .contact {
    display: block;
    margin: 0 20px;
  }

  .contact__item {
    margin-bottom: 32px;
  }

  .footer {
    height: 206px;

    &__logo {
      width: 73px;
      height: 48px;
    }
  }
}
