@media screen and (min-width: 320px) and (max-width: 740px) {

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px;
  }

  .gallery {
    margin: 0 20px;
  }

  .consultation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
  }

  .testimonials,
  .contact {
    display: block;
    margin: 0 20px;
  }
}
