.mobile-menu {

  &__list {
    display: block;
    position: absolute;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: $active-color;
    height: 700px;
    top: 0;
    right: -100%;
    transition: right 0.2s;
    z-index: 2;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  &__btn {
    color: #fff;
    display: none;
    padding: 5px;
    position: absolute;
    top: 42px;
    right: 23px;
    cursor: pointer;
    transition: right 0.23s;
    z-index: 3;
    width: 25px;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  &__rect1,
  &__rect2,
  &__rect3 {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all 0.1s linear 0.23s;
    position: relative;
    border-radius: 3px;
  }

  &__ticker {
    display: none;
  }

  &__ticker:checked ~ &__list {
    right: 0;
  }

  &__item {
    margin-top: 40px;
  }

  &__link {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__logo {
    width: $logo-width;
    height: $logo-height;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 24px auto;
  }

  &__phone {
    margin-top: 35px;
  }

  &__action {
    margin-top: 35px;
    text-decoration: underline;
  }

  &__phone-pic {
    position: absolute;
    top: 45px;
    left: 30px;
    display: none;
    width: 18px;
    height: 18px;
  }

  @media screen and (max-width: $small-screen-breakpoint) {
    &__btn {
      display: block;
    }

    &__phone-pic {
      display: block;
    }
  }
}
