.mobile-nav {
  background-color: $blue-color-text;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translate(-20px, -25px);
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 120px;
  &__item {
    margin-left: 21px;
    margin-bottom: 32px;
    &:last-of-type {
      margin-top: 48px;
      margin-bottom: 18px;
    }
  }
  &__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
  }
  &__link[href="tel:+380731563436"] {
    font-size: 12px;
  }
  &__action {
    margin-left: 21px;
    &-link {
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: $header-color-text;
      text-transform: uppercase;
      transition: color $hover-duration;
      letter-spacing: 2px;
      &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: $header-color-text;
        margin-top: 8px;
      }
    }
  }
}
