.nav {

  &__mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $accent-color;

    transform: translateY(-5000px);
    transition: transform 0.5s ease-in-out;
  }
  
  &__header {
    padding-bottom: 24px;
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--mobile {
      display: block;
      height: 100%;
      padding: 120px 20px 52px;
    }
  }

  &__item {
    padding: 4px 24px;
    border-radius: 8px;

    &--mobile {
      padding: 0;
      margin-bottom: 32px;
    }

    &--active {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &__link {
    @extend %font-spacing;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;

    text-transform: uppercase;
    text-decoration: none;

    &--mobile {
      font-size: 22px;
      line-height: 22px;
    }

    @include link-state;
    @include hover(color, $hover-color);
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    
    &__item {
      padding-right: 12px;
      padding-left: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {

    &__header {
      display: none;
    }

    &__item {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
