.navbar {
  &__list {
    display: flex;
    justify-content: space-between;
    @media (min-width: 1361px) {
      margin-bottom: 48px;
    }
  }
  &__link {
    padding: 8px 24px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    white-space: nowrap;
    text-transform: uppercase;
    border-radius: 8px;
    transition: color 0.5s, transform 0.5s;
    &:hover {
      color: #9fadc2;
    }
  }
  &__item {
    list-style-type: none;
  }
  &__phone {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: none;
    &--underlined {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -8px;
      }
    }
  }
  &__closeBtn {
    display: none;
    position: absolute;
    top: 0;
    right: 24px;
  }
  @media (max-width: 900px) {
    &__adapt {
      position: fixed;
      top: 0;
      right: 0;
      display: none;
      z-index: 100;
      width: 40%;
      height: 100%;
      padding-top: 60px;
      padding-left: 10px;
      background-color: $primary-color;
    }
    &__wrapper-mob {
      position: relative;
      height: 100%;
    }
    &__list {
      margin-bottom: 48px;
    }
    &__list,
    &__phone {
      display: block;
    }
    &__phone {
      margin: 0 0 16px 24px;
    }
    &__phone--underlined:after {
      width: 90px;
    }
    &__item {
      margin-bottom: 20px;
      
    }
    &__link {
      display: inline-block;
      font-size: 22px;
      line-height: 22px;
      transition: color 0.5s, transform 0.5s ease-in-out;
      transform: translateX(0);
      &:hover {
        transform: translateX(20px);
      }
    }
    
    &__closeBtn {
      display: block;
    }
  }
  @media (max-width: 750px) {
    &__logo {
      display: block;
    }
    &__adapt {
      position: absolute;
      width: 100%;
      padding-top: 120px;
    }
    &__closeBtn {
      top: -55px;
    }
  }
  @media(max-width: 400px) {
    &__closeBtn {
      top: -70px;
    }
  }
}
