.nav-mobile {
  position: absolute;
  top: 120px;
  left: 21px;

  &__item {
    list-style: none;
    margin: 0 0 27px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__item--phone,
  &__item--action {
    list-style: none;
    position: relative;
    margin: 10px 0 0;
  }

  &__item--phone {
    margin-top: 40px;
  }

  &__link--action,
  &__link--phone {
    color: white;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__link--action::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 111px;
    height: 1px;
    background-color: #fff;
  }
}
