.nav {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 8px 24px;
    margin: 0 50px;

    &--active {
      background-color: rgba(255, 255, 255, 0.1 );
      border-radius: 8px;
    }
  }
}
