.navigation {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;

    list-style-type: none;
  }

  &__items {
    margin: 0 42px;

    white-space: nowrap;
  }

  &__menu-item {
    color: $header-text-color;
    text-decoration: none;
    transition: 500ms;

    &:visited {
      color: #fff;
    }

    &:hover {
      color: #d5c5aa;
    }

    &--is-active {
      padding: 7px 20px;
      color: #000;
      
      background-color: #d5c5aa;
      border-radius: 10px;

      &:visited {
        color: #000;
      }
    }
  }

  @media screen and (max-width: 999px) {
    &__menu {
      flex-direction: column;
    }
  
    &__items {
      margin-top: 20px;
    }
  }
}
