.nav {
  text-transform: uppercase;
  margin-bottom: 38px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 8px 24px;
    list-style: none;

    &_active {
      background: rgba(255, 255, 255, 0.1);
      border-radius: $border-radius;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: color $hover-duration;
    letter-spacing: 2px;

    &:hover {
      color: $active-color;
    }
  }
}
