.nav-toggler {
  display: none;

  width: 18px;
  height: 12px;

  background-image: url(../images/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: $hover-duration;

  &--opened {
    background-image: url(../images/menu-open.svg);
  }

  &:hover {
    @include hover(1.2);

    cursor: pointer;
  }

  @media (max-width: 934px) {
    display: block;
  }

}
