.nav-toggler {
  position: fixed;
  display: none;
  top: 23px;
  right: 23px;
  z-index: 2;

  width: 18px;
  height: 12px;

  background-image: url(../images/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--opened {
    position: fixed;
    background-image: url(../images/menu-open.svg);
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 934px) {
    display: block;
  }

}
