.toggler-label {
  display: none;
  position: absolute;
  top: 36px;
  right: 23px;

  color: #fff;
  font-size: 48px;

  transition: 0.4s;
  cursor: pointer;

  &:hover {
    color: #9fadc2;
  }
}

.toggler-label::before {
  content: "=";
}

.toggler:checked ~ .toggler-label::before {
  content: "x";
}

.toggler {
  display: none;
}

.nav-responsive {
  &__logo {
    display: none;
    top: 24px;
    left: calc(50% - #{$logo-small-width / 2});
    width: $logo-small-width;
    height: $logo-small-height;
  }

  &__item {
    list-style-type: none;
  }

  &__list {
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0;
    left: -150%;

    padding: 120px 20px;
    transition: 0.7s ease-in-out;
    background: rgba(0, 117, 255, 1);
  }

  &__link {
    display: block;

    @include header-font-style;

    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    &:visited {
      color: #fff;
    }

    padding: 12px 0;
  }

  &__phone {
    @include header-font-style;
    margin-top: 48px;
    margin-bottom: 16px;

    display: block;
  }

  &__action {
    display: block;
  }
}

@media (max-width: $small-screen-brackepoint) {
  .nav-responsive {
    &__logo {
      display: block;
    }
  }

  .toggler-label {
    display: block;
    color: #fff;
    z-index: 1;
  }

  .toggler:checked ~ .nav-responsive__list {
    left: 0;
  }
}
