.navigation {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;

    list-style-type: none;
  }

  &__items {
    margin: 0 42px;
  }

  &__menu-item {
    color: #fff;

    text-decoration: none;

    transition: 0.5s;

    &:visited {
      color: #fff;
    }

    &:hover {
      color: #d5c5aa;
    }

    &--is-active {
      padding: 7px 20px;
      color: #000;
      
      background-color: #d5c5aa;
      border-radius: 10px;

      &:visited {
        color: #000;
      }
    }
  }
}
