*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: $color-primary;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-primary;
  font-size: $fs-normal;
  font-weight: $fw-normal;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
