html {
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  @include normalFontStyle(16px, 27px);
  color: #3e3e3e;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $highlightColor;
}
