*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  font-family: $ff-primary;
  font-size: $fs-normal;
  font-weight: $fw-normal;

  color: $color-primary;

  &__body {
    margin: 0;
    padding: 0;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-primary;
  font-size: $fs-normal;
  font-weight: $fw-normal;
}

p {
  margin: 0;
}
