.page {
  &__title {
    position: relative;
    text-align: center;
    font-size: $general-title-size;
    font-weight: 700;
    padding-bottom: 93px;
    &:after {
      content: " ";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      background: url(../images/general_title.svg);
      color: $color-title;
      width: 20px;
      height: 13px;
    }
  }
}
