.page {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: $color-font;
  scroll-behavior: smooth;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__header {
    margin-bottom: 120px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__main {
    padding: 0 20px;
  }

  &__section {

    margin: 0 auto 120px;

    @include onTablet {
      max-width: 600px;
    }

    @include onDesktop {
      max-width: 1020px;
    }

    &-title {
      margin-bottom: 48px;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -1.5px;
      text-align: center;

      @include onTablet {
        margin-bottom: 64px;
        font-size: 40px;
      }

      @include onDesktop {
        font-size: 48px;
      }
    }
  }
}
