
.page {
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
  &__body {
    background: $c-gray;
    margin: 0;
  }

  &__menu {
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    right: 0;
    left: 0;
    transition: transform 0.5s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 64px;

    @include Desktop {
      margin-bottom: 104px;
    }
  }

  &__section--title {
    margin: 0 0 32px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;

    @include Desktop {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 56px;
    }

    &:after {
      content: "";
      width: 23px;
      height: 16px;
      display: block;
      margin: 4px auto 0;

      background-image: url("../images/crown.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
