.person {
  text-align: center;
  width: $personWidth;

  @media (max-width: $lScreenSize) {
    transform: scale(0.8);
  }

  @media (max-width: $mScreenSize) {
    transform: scale(1);
    padding-bottom: 50px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__photo {
    width: $personPhotoWidth;
    border-radius: 50%;
    margin-bottom: 28px;
  }

  &__name,
  &__position {
    margin-bottom: 4px;
  }
}
