.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-right: 65px;

  &:last-child {
    margin-right: 0;
  }

  &__photo {
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
    border-radius: 50%;
  }

  &__position {
    margin: 0 0 16px;
    color: #696973;
    font-style: italic;
  }

  &__text {
    position: relative;
    text-align: center;
  }

  &__text::after {
    content: "";
    position: absolute;
    width: 43px;
    height: 33px;
    background-image: url(../images/quotes.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: -20px;
    top: -30px;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .person {
    margin: 0;
  }
}
