@import "configuration";

.person {
  text-align: center;
  &__photo {
    width: 153px;
    height: 153px;
    border-radius: 50%;
  }

  &__name {
    margin-top: 28px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $mainStylesColor;
  }

  &__position {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin: 0;
  }

  &__text {
    color: #3e3e3e;
  }
}
