.photo {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  gap: 0 20px;

  &__img {
    height: 256px;

    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    overflow: hidden;
  }

  &__wide-left {
    grid-template-columns: 2fr 1fr;
  }

  &__wide-right {
    grid-template-columns: 1fr 2fr;
  }

  &__link {
    font-weight: 700;
  }
}
