.photos {
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - #{$img-gap / 2});
    height: 261px;
    object-fit: cover;
    object-position: center;

    @include transform (transform, translate(0, -20px), box-shadow, $shadow);

    &--large {
      width: calc(67% - #{$img-gap / 2});
    }

    &--small {
      width: calc(33% - #{$img-gap / 2});
    }

    @media screen and (max-width: $width-media) {
      width: calc(50% - #{$img-gap / 2});
    }

    @media screen and (max-width: $min-width-page) {
      height: 131px;
    }
  }
}
