.photos {
  $gap: 20px;
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(67% - 10px);
    height: 256px;
    object-fit: cover;
    object-position: center;

    &--right,
    &--left {
      width: calc(33% - 10px);
    }

    &--same {
      width: calc(50% - 10px);
    }
  }
}

@media screen and (max-width: 320px) {
  .photos__img {
    width: calc((100% / 2) - 10px);
    height: 131px;
  }
}
