@import "configuration";

.photos {
  display: flex;
  justify-content: space-between;
  & img {
    transform: scale(1);
    transition: all 0.3s;
  }

  &:hover img {
    transform: scale(1.02);
  }

  &__img {
    width: calc(50% - #{$galleryMarginCard});
    height: 256px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }

  &_wide_left {
    .photos__img:first-child {
      width: calc(66.6% - #{$galleryMarginCard});
    }
    .photos__img:last-child {
      width: calc(33.3% - #{$galleryMarginCard});
    }
  }
  
  &_wide_right {
    .photos__img:first-child {
      width: calc(33.3% - #{$galleryMarginCard});
    }
    .photos__img:last-child {
      width: calc(66.6% - #{$galleryMarginCard});
    }
  }
}

@media screen and (max-width: $mobileScreenSize) {
  .photos {

    &_wide_left {
      .photos__img:first-child {
        width: calc(50% - #{$galleryMarginCard});
      }
      .photos__img:last-child {
        width: calc(50% - #{$galleryMarginCard});
      }
    }

    &_wide_right {
      .photos__img:first-child {
        width: calc(50% - #{$galleryMarginCard});
      }
      .photos__img:last-child {
        width: calc(50% - #{$galleryMarginCard});
      }
    }
  }
}
