.pictures {
  $gap: 20px;
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - 10px);
    height: 256px;

    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }

  &--wide-left {
    > .pictures__img:first-child {
      width: calc(67% - 10px);
    }

    > .pictures__img:last-child {
      width: calc(33% - 10px);
    }
  }
  
  &--wide-right {
    > .pictures__img:first-child {
      width: calc(33% - 10px);
    }

    > .pictures__img:last-child {
      width: calc(67% - 10px);
    }
  }
}

@media (max-width: $small-screen-pointer) {
  .pictures {
    &__img {
      size: 131px;
    }

    &--wide-left {
      > .pictures__img {
        width: calc(50% - 10px) !important;
      }
    }
    
    &--wide-right {
      > .pictures__img {
        width: calc(50% - 10px) !important;
      }
    }
  }
}
