@mixin iconsPreSet($width, $height) {
  height: $height;
  width: $width;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
}

@mixin logoPreSet {
  &__logo-img {
    width: 130px;

    @include onDesktop {
      width: 150px;
    }
  }
}
