
.main {
  padding: 104px 50px 0;
}

.presentation {
  display: flex;
  justify-content: center;
  padding-bottom: $presentation-padding-bottom;

  &__theme {
    display: flex;
    font-size: $presentation-theme-font-size;
    font-weight: bold;
    letter-spacing: -1.5px;
  }

  &__description {
    margin-left: 192px;
    max-width: $presentation-description-max-width;
    min-width: $presentation-description-min-width;
    color: $hard-gray;
  }

  &__link {
    text-decoration: none;
    color: $main-color;
    transition: $transition;
  }

  &__link:hover {
    color: $coral-link-color;
  }

  &__second-heading {
    font-size: 24px;
    font-weight: bold;
    color: $main-color;
  }

  &__paragraphs {
    line-height: $lower-line-height;
  }

  &__paragraph {
    margin-top: 20px;
  }
}

@media screen and (max-width: 750px) {
  .main {
    padding: 104px 30px;
  }

  .presentation {
    flex-direction: column;
    align-items: center;

    &__theme {
      text-align: center;
    }

    &__description {
      text-align: center;
      margin-left: 0;
      margin-top: 40px;
    }

  }
}
