.present {
  padding-top: 20px;
  background-color: $common-bg-color;
  &__description {
    line-height: 20px;
  }

  &__discount {
    height: 65%;
    margin-top: 10px;
    background-image: linear-gradient(
      179.86deg, rgba(16, 16, 16, 0) 37.5%, #101010 90.39%),
      url("../images/stocks.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media screen and(max-height: 500px) {
    &__text {
      font-size: 12px;
    }
    &__discount {
      height: 50vmin;
      background-size: contain;
    }
  }
}
