.profile {
  margin: 0 auto;
  width: 240px;

  &__image {
    display: block;
    margin: 0 auto;
    width: 153px;
    height: 153px;
    border-radius: 50%;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .profile {
    width: 280px;
  }
}
