.product {
  margin: 0 auto;
  width: fit-content;

  &__photos {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  &__image {
    transition: transform 0.3s;
    
    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 743px) {
      width: 280px;
      height: 277px;
    }

    @include onTablet {
      width: 392px;
      height: 387px;
    }
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }

  &__type {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
}
