html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 12px;
  line-height: inherit;
}

body {
  line-height: 1.5;
}

input {
  outline: none;
}
