html,
body,
ul,
li,
a,
h1,
h2,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Roboto", Arial, Helvetica, sans-serif;
  font-style: 16px;
  line-height: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: $c-gray;
  line-height: 1.5;
}

a {
  color: $decor-color;
  text-decoration: none;
  transition: color $hover-duration;

  &:hover {
    color: $decor-hover-color;
  }
}

h1,
h2,
h3 {
  font-weight: 300;
}

strong {
  font-weight: 500;
}
