body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@for $i from 1 to 7 {
  h#{$i} {
    margin: 0;
  }
}

button {
  outline: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
