*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.page {
  background-color: #fff;
}

a {
  cursor: pointer;
}
