.review {
  width: 240px;
  
  text-align: center;

  &__photo {
    display: block;
    margin: 0 auto 28px;

    width: 153px;
    height: 153px;

    border-radius: 50%;
  }

  &__secondary-heading {
    margin-bottom: 4px;
  }

  &__position {
    margin-bottom: 4px;
  }

  @media (max-width: 850px) {
    margin-bottom: 48px;
  }
}
