html {
  @extend %indent-reset;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: rem(27);
  font-family: "Roboto", sans-serif;
  color: map_get($colors, text);
  font-style: normal;
  background-color: map_get($colors, bg-gray);
  transition: all 500ms ease-in;
}

img {
  max-width: 100%;
  height: auto;
  transition: $transition-hover;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  @extend %visually-hidden;
}

.container {
  max-width: 1600px;
  //max-width: 320px;
}
