@import "variebles";
@import "mixins";

.section__gallery {
  background: #eee;
  padding: 112px 158px 180px;
  position: relative;

  &__caption {
    margin: 12px 0 35px;
    font-weight: 500;

    & > a {
      text-decoration: none;
      color: $color-link;
      font-weight: 400;
    }
  }

  &__button {
    margin-top: 63px;
    padding: 19px 63px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
