.section-5 {
  &__img {

    height: 200px;
    background-image: url("../images/photos/320px/04.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 744px) {
      & {
        height: 400px;
        background-image: url("../images/photos/04-744.png");

      }
    }

    @media (min-width: 1260px) {
      & {
        height: 460px;
        background-image: url("../images/photos/04-1260.png");
      }
    }
  }
}
