.section {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  padding: 76px 120px;
  background-color: #fff;

  &__heading {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 999px) {
  .section {
    padding: 64px 20px 0;

    &:last-of-type {
      padding-bottom: 64px;
    }
  }
}
