.section {
  padding-bottom: 304px;
  position: relative;

  &__heading {
    left: 0;
    right: 0;
    top: -150px;
    margin: auto;
  }

  &:last-child {
    padding-bottom: 80px;
  }
}
