.section-4 {
  display: grid;
  justify-content: center;
  padding: 0 20px;

  &__title {
    margin: 110px auto 48px;
  }

  &__form {
    display: grid;
  }

  &__input {
    @include size(278px, 48px);
    border-radius: 40px;
    border: none;
    margin-bottom: 16px;
    padding: 14px;
    background: #f8f8fa;

    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      color: #7e7e83;
    }
  }

  &__message {
    padding: 14px;
    margin-bottom: 24px;

    @include size(278px, 148px);
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
    background: #f8f8fa;
    border-radius: 16px;
    border: none;
  }

  &__button {
    @include size(280px, 56px);
  }

  &__contact {
    margin: 24px 0 8px;
    font-size: 14px;
    line-height: 140%;
    color: #9fadc2;
  }

  &__contact-text {
    font-size: 16px;
    line-height: 140%;
    color: #3e3e3e;
    text-decoration: none;
  }

  @media (min-width: 744px) {
    & {
      grid-template-columns: repeat(6,80px);
      grid-template-rows: 2;
      gap: 24px;
      margin: 0 auto;
    }

    &__title {
      grid-row: 1;
      grid-column: 3/6;
    }

    &__form {
      grid-row: 2;
      grid-column: 1/4;
    }

    &__contact-box {
      grid-row: 2;
      grid-column: 4/6;
    }

    &__input,
    &__message {
      width: 285px;
    }
  }

  @media (min-width: 1260px) {
    & {
      grid-template-columns: repeat(12,63px);
      grid-template-rows: 2;
      gap: 24px;
      margin: 0 auto;
    }

    &__title {
      grid-row: 1;
      grid-column: 1/12;
    }

    &__form {
      grid-row: 2;
      grid-column: 1/7;
    }

    &__contact-box {
      grid-row: 2;
      grid-column: 7/12;
    }

    &__input,
    &__message {
      width: 408px;
    }

    &__button {
      width: 392px;
    }
  }
}
