.about,
.gallery,
.consultation,
.testimonials,
.contact {
  padding: 100px calc(50% - 470px);
  position: relative;
}

.about,
.consultation,
.contact {
  background-color: white;
}

.gallery,
.testimonials {
  background-color: #eee;
}

@media screen and (max-width: $small-screen-breakpoint) {
  .about,
  .gallery,
  .consultation,
  .testimonials,
  .contact {
    padding-left: 40px;
    padding-right: 40px;
  }
}
