@import "./utils/vars";

.section {
  position: relative;
  padding: 100px calc(50% - 470px);
  background-color: $c-white;

  @media screen and (max-width: 999px) {
    padding: 50px calc(50% - 470px);
  }

  &__heading {
    top: -0.5em;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.section:nth-child(even) {
  background-color: $c-gray;
}
