.section-5 {
  margin-top: 130px;

  &__img {
    margin-top: 130px;
    height: 200px;
    background-image: url("../images/photos/320px/04.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 744px) {
      background-image: url("../images/photos/04-744.png");
      height: 400px;
    }
  }

  @media (min-width: 1260px) {
    height: 460px;
    background-image: url("../images/photos/04-1260.png");
  }
}
