.checkbox:checked ~ header > .header__container > .nav {
  display: block;
  position: absolute;
  top: 64px;
}

.checkbox:checked ~ .header {
  background: #0075ff;
}

.checkbox:checked ~ .header > .header__container > 
.header__top > .header__phone-icon {
  opacity: 0;
}

.checkbox:checked ~ header > .header__container > .nav > .nav__list {
  display: flex;
  flex-direction: column;
}

.checkbox:checked ~ header > .header__container > 
.nav > .nav__list > .nav__item-small-screen {
  display: block;
}

.checkbox:checked ~ .header .header__title {
  display: none;
}

.nav__link {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

.nav__list li:nth-child(7) {
  margin-top: 48px;
}

.nav__item-small-screen > a {
  font-size: 12px;
  line-height: 16px;
}

.nav__link_small-screen-call {
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}

.nav__item-is-active {
  background-color: rgba(#fff, 0);
}
