.sub {
  padding: 36px 0;
  box-sizing: border-box;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
    z-index: 1;
  }
  &__light {
    background-image: $gradient, url("../images/tv_channel.png");
  }
  &__middle {
    background-image: $gradient, url("../images/tv_channel_2.png");
  }
  &__max {
    background-image: $gradient, url("../images/img_2.png");
    opacity: 0.6;
  }

  &__text {
    margin-bottom: 5px;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    white-space: nowrap;
    margin-top: 120px;
  }

  &__description {
    width: 291px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.5px;
  }

  &__price {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-top: 70px;
  }

  &__btn {
    margin-top: 16px;
  }

  &__info {
    width: 200px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.6);
  }

  &__detailed {
    display: block;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: $detailed-color;
    margin-top: 20px;
    transition: color 0.3s;

    &:hover {
      color: #fff;
    }
  }

  @media screen and(max-height: 630px) {
    &__title {
      font-size: 25px;
      line-height: 25px;
    }

    &__text {
      font-size: 12px;
    }

    &__description {
      font-size: 10px;
    }
  }

  @media screen and(max-height: 420px) {
    padding: 15px 0;
    &__title {
      font-size: 17px;
      line-height: 20px;
      margin-top: 0;
    }

    &__text {
      margin-bottom: 0;
    }

    &__description {
      margin-top: 0;
    }

    &__price {
      font-size: 12px;
      margin-top: 20px;
    }

    &__btn {
      margin-top: 12px;
    }

    &__info {
      margin-top: 10px;
      font-size: 8px;
      line-height: 8px;
    }

    &__detailed {
      font-size: 8px;
      letter-spacing: 1.3px;
      margin-top: 8px;
    }
  }
}

.sub-middle {
  border: 8px solid #23c3b2;
  .sub__title {
    margin-top: 99px;
  }

  @media screen and(max-height: 420px) {
    .sub__title {
      margin-top: 0;
    }
    .sub__price {
      margin-top: 10px;
    }
  }

  @media screen and(max-width: 330px) {
    border: none;
    padding: 0;
    .wrapper {
      border: 8px solid #23c3b2;
      height: 100%;
    }
  }
}

.sub-max {
  .sub__title {
    margin-top: 50px;
  }
  .sub__price {
    margin-top: 32px;
  }

  @media screen and(max-height: 420px) {
    .sub__title {
      margin-top: 0;
    }
    .sub__price {
      margin-top: 10px;
    }
  }
}
