.team {
  width: 1020px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.team__title {
  top: -0.54em;
  margin: 0 auto;
  width: 275px;
  margin-bottom: 76px;
}

.team__cards {
  display: flex;
  justify-content: space-between;
}

.team__subtitle {
  padding: 20px 0 6px;
  font-size: 23px;
}

.team__person {
  width: 240px;
  text-align: center;
}

.team__text_grey {
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #9fadc2;
}
