.team {
  margin-bottom: $margin-bottom-section;

  &__title {
    margin-bottom: $margin-bottom-title;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: space-between;
    text-align: center;
  }
  @media (max-width: 810px) {
    margin-bottom: $mobile-margin;
    
    &__title {
      margin-bottom: $mobile-margin-title;
    }

    &__wrapper {
      justify-content: center;
      grid-template-columns: 280px;
      grid-gap: 50px;
    }
  }
}

.item {
  transition: $transition;
  &:hover {
    box-shadow: 0 3px 8px rgba(121, 139, 159, 0.1);
    border-radius: 20px;
  }

  &:active {
    border: 3px solid $strong-color;
  }

  &__name {
    @include font-700;
    @include size-content-title-text;
    color: $strong-color;
    margin-bottom: 4px;
  }

  &__position {
    font-size: 14px;
    line-height: 27px;
    color: $active-color;
    margin-bottom: 13px;
  }

  &__comment {
    @include size-information-text;
    color: $color-text;
  }
}
