.team {
  &__title {
    top: -0.54em;
    margin: 0 auto 76px;
    width: 275px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    padding: 20px 0 6px;
    font-size: 23px;
  }

  &__person {
    max-width: 240px;
    text-align: center;

    &:nth-child(1),
    &:nth-child(2) {
      padding-right: 20px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #9fadc2;
  }
}

@media (max-width: 914px) {
  .team {
    padding-bottom: 40px;

    &__title {
      margin-bottom: 45px;
    }

    &__cards {
      flex-direction: column;
    }

    &__person {
      margin: 0 auto;
      margin-bottom: 50px;

      &:nth-child(1),
      &:nth-child(2) {
        padding-right: 0;
      }
    }

    &__subtitle {
      padding: 15px 0 6px;
    }
  }
}
