@import "person";

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .testimonials {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
