.testimonials {
  &__wrapper {
    @include content-width;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: space-between;
  }

  &__card {
    text-align: center;
  }

  &__heading {
    @include heading;

    &::before {
      @include crown;
    }
  }

  &__subheading {
    @include subheading;
    margin-bottom: 4px;
  }

  &__post {
    font-size: 14px;
    color: $color-post;
    margin-bottom: 13px;
  }

  &__photo {
    border-radius: 50%;
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .testimonials {
    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__card {
      margin-bottom: 48px;
    }
  }
}
