@import "vars";
@import "mixins";

.testimonials {
  &__person:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media (min-width: $medium-screen-width) {
  .testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__person {
      width: 240px;
      margin: 0 10px;
    }
  }
}

@media (min-width: $big-screen-width) {
  .testimonials {
    justify-content: space-between;

    &__person {
      margin: 0;
    }
  }
}
