.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__box {
    width: 240px;
    margin: 0 43px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      border-radius: 50%;
      width: 153px;
      height: 153px;
    }
  }
  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin: 28px 0 4px;
  }
  &__position {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }

  &__comment {
    margin-top: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }
}
