@import "utils";

.testimonials {
  line-height: 27px;
  text-align: center;
  margin-bottom: 64px;

  &__card:not(:last-child) {
    margin-bottom: 48px;
  }

  &__photo {
    width: 153px;
    height: 153px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__description {
    font-size: 14px;
    color: $text-dark;
    margin: 0;
    margin-bottom: 13px;
  }

}
