.testimonial {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: space-between;
  }

  &__post {
    font-size: 14px;
    color: $color-post;
    margin-bottom: 13px;
  }

  &__card {
    text-align: center;
  }

  &__subheading {
    margin-bottom: 4px;
  }

  &__photo {
    border-radius: 50%;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .testimonial-wrapper {
    grid-template-columns: 1fr;
  }

  .testimonial__card {
    margin-bottom: 48px;
  }
}
