.header {
  &__top {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }

  &__heading {
    font-weight: bold;
    font-size: 60px;
    color: #fff;
  }
}

.nav {
  &__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
}

.info {

  &__heading {
    font-weight: bold;
    font-size: 48px;
  }

  &__link {
    color: #0075FF;
    text-decoration: none;
  }

  &__text {
    font-size: 16px;

    & > p {
      line-height: 27px;
    }

    & > p:first-child {
      font-weight: bold;
      font-size: 24px;
      color: #0075FF;
      margin-bottom: 16px;
    }

    & > p:nth-child(2) {
      margin-bottom: 20px;
    }

    & > p:nth-child(3) {
      margin-bottom: 20px;
    }

    & > p:last-child {
      font-weight: bold;
    }
  }

}
