.title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  width: 100%;

  margin-bottom: 60px;
  
  display: flex;
  justify-content: center;

  position: relative;

  @media screen and (max-width: 768px) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 53px;
  }

  &:after {
    content: "";
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat;

    height: 15px;
    width: 20px;
    position: absolute;
    top: 100%;
  }
}
