@import url(utils/_vars.scss);

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  &__inner {
    margin: 0;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    white-space: pre;

    &--crown {
      position: absolute;
      display: block;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      width: 24px;
      height: 16px;
      background-image: url(../images/crown.svg);
      background-size: cover;
      background-position: center;
    }

    &:after {
      display: block;
      position: absolute;
      top: 100%;
      content: "";
      width: calc(50% - 17px);
      margin-top: 5px;
      height: 2px;
      background-color: $c-link;
    }

    &:before {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      content: "";
      width: calc(50% - 17px);
      margin-top: 5px;
      height: 2px;
      background-color: $c-link;
    }
  }
}

@media screen and (max-width: 400px) {
  .title__inner {
    font-size: 32px;
  }
}
