.toolbar {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100vw;
  background-color: $toolbarBackgraund;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 120px 0 52px 21px;
  z-index: 1;
  transition: left 1s;

  @media (min-width: $tabletsWidth) {
    display: none;
  }

  &__menu {
    margin-bottom: 48px;
  }

  &__number {
    @extend %headerText;
    @include hover(color, $headerHoveredColor);
    margin-bottom: 16px;
  }

  &__order-call {
    display: block;
    @extend %headerText;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    transition: 0.5s;

    &:hover {
      color: $headerHoveredColor;
      border-bottom: 1px solid $headerHoveredColor;
    }
  }
}

.mobile-menu {

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    @media (max-width: $tabletsWidth) {
      margin-bottom: 15px;
    }
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    @extend %headerText;
    font-size: 22px;
    line-height: 22px;
    @include hover(color, $headerHoveredColor);
  }
}
