.top {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px;
  height: 120px;
  width: 100%;
  
  &__phone {
    margin-top: 35px;
    
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;

    &--link {
      color: white;
    }
  }

  &__action {
    margin-top: 35px;

    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 650px) {
  .top {
    display: block;
    width: 150px;
    padding: 0;
    position: relative;
    left: 40%;
    top: 5%;

    &__phone {
      position: absolute;
      margin-top: 85px;
      width: 150px;
    }

    &__action {
      width: 150px;
    }
  }
}
