.top {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px;
  height: 130px;
  width: 100%;
  
  &__phone {
    margin-top: 35px;
    
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;

    &--link {
      color: white;
      transition: color 300ms;

      &:hover {
        color: #9fadc2;
      }
    }
  }

  &__action {
    margin-top: 35px;

    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;

    &--link {
      color: white;
      transition: color 300ms;

      &:hover {
        color: #9fadc2;
      }
    }
  }
}

@media screen and (max-width: $small_screen_breakpoint) {
  .top {
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
    top: 5%;
    left: 1%;

    &__phone {
      position: absolute;
      margin-top: 55px;
      margin-left: 5px;
      width: 150px;
    }

    &__action {
      position: absolute;
      top: 60%;
      width: 150px;
      margin-left: 25px;
      margin-top: 10px;
    }
  }
}
