h1 {
  @extend %h1;

  @include onTablet {
    font-size: 64px;
  }

  @include onDesktop {
    font-size: 80px;
  }
}

h2 {
  @extend %h2;

  @include onTablet {
    font-size: 48px;
  }
}

h3 {
  @extend %h3;
}

