html {
  font-family: Roboto, Helvetica, sans-serif;
}

.page-heading {
  @extend %h1;
}

.section-heading {
  @extend %h2;
}

.paragraph-heading {
  @extend %h3;
}

.paragraph {
  line-height: 1.7em;
}

@media (max-width: 500px) {
  .page-heading {
    font-size: 46px;
    letter-spacing: -1px;
  }

  .section-heading {
    font-size: 36px;
  }
}
