html {
  font-family: Roboto, Helvetica, sans-serif;
}

.page-heading {
  @extend %h1;
}

.section-heading {
  @extend %h2;
}

.paragraph-heading {
  @extend %h3;
}

.paragraph {
  line-height: 27px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
}

.header {
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
