.user-form {
  width: $user-form-width;

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  &__input {
    width: 100%;
    margin: 16px 0;
    padding: 17px;

    font-size: 14px;
    line-height: 14px;
    background: $input-form-bg-color;
    border: 1px solid #fff;
    border-radius: 8px;
  }
  &__button {
    @extend %button;
    
    margin-top: 25px;
    width: 100%;
    height: $contact-button-height;

    background-color: $highlight-color;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;

    color: $basic-color;
    transition: all 0.3s ease-in;

    &:hover {
      background: $highlight-color-heavy;
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }
  }
}
