$headerTopPadding: 24px;
$color-blue: #0075ff;
$color-white: #fff;
$transition: 500ms;
$testimonials-role: #9fadc2;
$testimonials-about: #3e3e3e;
$contact-us--color-info: #9fadc2;
$color-blue-button: #005ecc;
