$header-top-padding: 24px;

$transition-def: 0.3s;

$color-blue: #0075ff;
$color-dark-blue: #005ecc;
$color-white: #fff;
$color-black: #000;
$color-dark: #3e3e3e;
$color-grey: #8f99a8;
$color-light-grey: #9fadc2;
