$logo-width: 115px;
$logo-height: 76px;
$header-text-color: white;
$header-text-hover: #9fadc2;
$section-width: 1020px;
$section-title-size: 48px;
$section-subtitle-color: #0075ff;
$section-text-height: 27px;
$section-subtitle-size: 24px;
$section-subtitle-lineheight: 30px;
$photos-image-height: 256px;
$photos-image-width: 500px;
$photos-image-small-width: 327px;
$photos-image-big-width: 673px;
$photos-image-radius: 8px;
