$headerTopPadding: 24px;
$blue-color: #0075ff;
$darkblue-color: #005ecc;
$white-color: #fff;
$black-color: #000;
$gray-color: #3e3e3e;
$lightgray-color: #9fadc2;
$light-color: #f7f8ff;
$formtext-color: #8f99a8;
$transition-duration: 300ms;
