$logo-width: 115px;
$logo-height: 76px;
$hover-duration: 0.25s;

$small-screen: 959px;

$blue-color: #0075ff;
$main-text-color: #3e3e3e;
$small-text-color: #9fadc2;
$placeholder-color: #b9c1ce;
$white-color: #fff;
