$pageMaxWidth: 1020px;

$containerPadding: 120px;
$containerPaddingMedium: 60px;
$containerPaddingMini: 20px;
$buttonWidthMobile: 250px;
$accentColor: #0075ff;
$burgerWidth: 34px;

$tablet: 960px;
$tabletMini: 640px;
$mobile: 400px;
