$header-width: 115px;
$header-height: 76px;
$robotoFontFamily: roboto, sans-serif;

$colorLightGray: #eee;
$colorMediumGrey: #9fadc2;
$colorDarkGrey: #3e3e3e;
$colorLightBlue: #0075ff;
$colorWhite: #fff;
$colorBrown: #464545;
$colorBeige: #f6f8ff;
