$phone-size-mobile: 18px;
$phone-size-desktop: 24px;

$menu-width-mobile: 18px;
$menu-height-mobile: 12px;

$menu-width-desktop: 24px;
$menu-height-desktop: 16px;

$logo-size-mobile: 46px;
$logo-size-desktop: 65px;

$icon-width-mobile: 18px;
$icon-width-desktop: 24px;
$container-width: 1020px;

$colorRed: #d12d35;
