$headerTopPadding: 24px;
$colorBlue: #0075ff;
$transitionDuration: 0.3s;
$colorLigth: #f7f8ff;
$colorBlack: #000;
$colorWhite: #fff;
$buttonHoverColor: #005ecc;
$inputPlaceholderColor: #8f99a8;
$inputBorderColor: #ccd0e0;
$mainTextColor: #3e3e3e;
$utilityTextColor: #9fadc2;
