.about__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 152px;
}

.about__left-title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 0;

}

.about__span-title {
  color: $blue;
  text-decoration: none;

  &:visited {
    color: $blue;
  }
}

.about__right-title {
  flex-basis: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: $dark-grey;
}

.about__right-heading {
  margin-top: 0;
  color: $blue;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1040px) {

  .container {
    width: 750px;
  }

  .about__container {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: calc(100% - 46px * 2);
  }

  .about__container {
    display: block;
  }

}

@media screen and (max-width: 320px) {
  .container {
    width: calc(100% - 46px);
  }

}
