@import "_variables";

.about {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  &__left {
    flex-basis: 50%;
    margin: 120px 0 0 10vw;
    font-size: 48px;
    max-width: 600px;
    line-height: 48px;
    font-weight: 700;
    .blue {
      color: $blue;
    }
  }
  &__right {
    flex-basis: 50%;
    margin: 120px 10vw 0 0;
    font-size: 16px;
    line-height: 27px;
    max-width: 600px;
  }
  &__strong {
    color: $blue;
    font-size: 24px;
    align-self: start;
  }
}
