.about-us {
  margin: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
    color: #292929;
    &-items-1{
      width: 411px;
      h2 {
      font-size: 48px;
      font-weight: 700;
      font-style: bold;
    }
    }
    &-items-2 {
      width: 411px;
      .rules {
        font-weight: 700;
        font-size: 16px;
        font-style: bold;
        line-height: 2.2;
        margin-bottom: 40px;

      }
      .about-text {
        line-height: 1.6;
      }
    }
  }
}
