.about-us {
  @include flex-center;

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;

    &--blue {
      color: $main-color;
    }
  }

  &__text-container {
    right: 0;
    width: 500px;
  }
  
  &__text {
    @include text-basic;
  
    &--bold {
      font-weight: 700;
    }
  }
  

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $main-color;
  }
}
