.about {
  background-color: white;
  color: black;
  font-weight: $weight-normal;

  &__position {
    display: flex;

    width: 940px;
    height: 360px;
    margin: auto;
    padding-top: 156px;

    @media screen and (max-width: 870px) {
      flex-direction: column;
      padding-top: 56px;
    }
  }

  &__title {
    width: 314px;
    min-width: 314px;
    height: 180px;

    display: block;

    margin-right: 62px;
    font-family: $text-font;
    font-weight: $weight-normal;
    font-size: 48px;
    align-items: center;
    text-transform: uppercase;

    @media screen and (max-width: 870px) {
      margin-bottom: 25px;
    }
  }

  &__color {
    color: $highlight-color;
    font-family: $text-font;
    font-weight: $weight-normal;
    font-size: 48px;
  }

  &__strong {
    font-family: $text-font;
    font-weight: $weight-bold;
    font-size: 48px;
  }

  &__container {
    width: 940px;
    height: 360px;
  }
}
