.about-us {
  display: grid;
  margin-top: $margin-about;
  grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
  grid-gap: 20px;

  
  &__link {

    &-heading {
      @extend %font-bold;
    }

    &-here {
      @extend %font-bold;
      color: $important-color;
      text-decoration: none;
    }
  }

  &__description {
    line-height: $text-line;

    &-header {
      color: $important-color;
      font-size: 1.5em;
      line-height: 1.25em;
    }
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: minmax($min-width, 1fr);
    grid-gap: 40px;
    margin-top: $mobile-margin-about;
  }
}
