@import "utils";

.about {
  display: flex;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__title-text {
    margin-bottom: 48px;
  }

  &__title-link {
    @extend %h2;
    color: $c-link;
  }

  &__extra-title {
    margin-bottom: 16px;
  }

  &__text {
    width: 49.02%;

    @media (max-width: 900px) {
      width: 100%;
    }
  }
}
