.about-us {
  padding-top: 104px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;

  &__text--paragraph {
    margin-top: 16px;
  }

  @media (max-width: 860px) {
    & {
      grid-template-columns: repeat(1, 1fr);
      padding: 64px 0;
      row-gap: 48px;
    }
  }
}
