@media(max-width:1065px) {

  .header {
    background-image: url(/images/photos/HeaderBb-tablet.png);
  }
    
  .container {
    max-width: 600px;
    padding: 0 40px;
  }

  .section__reccomended--title {
    font-size: 40px;
  }

  .header__title-wrapper--text {
    font-size: 40px;
  }

  .section__reccomended-wrapper {
    flex-direction: column;
    min-width: unset;
  }

  .section__category--title {
    font-size: 40px;
    line-height: 100%;
  }

  .section__category__wrapper-category__photo {
    display: grid;
    grid-template-columns: 2.5fr 2fr;
  }

  .section__category__wrapper-category__photo--image {
    height: 256px;
  }
}

@media(max-width:768px) {

  .header {
    background-image: url(/images/photos/bg_image_phone.png);
  }

  .section__reccomended--title {
    font-size: 32px;
  }

  .navigation__phone-wrapper--icon {
    width: 24px;
    height: 24px;
  }

  .navigation__menu-wrapper__icon-wrapper {
    width: 24px;
    height: 24px;
  }

  .navigation__menu-wrapper__icon-wrapper--line {
    width: 24px;

    &::before {
      display: block;
      content: "";
      width: 24px;
      height: 3px;
      border-radius: 1px;
      background: #292929;
      position: absolute;
      top: 5px;
      transition: 0.4s ease-in-out;
    }

    &::after {
      display: block;
      content: "";
      width: 24px;
      height: 3px;
      border-radius: 1px;
      background: #292929;
      position: absolute;
      top: 10px;
      transition: 0.4s ease-in-out;
    }
  }

  .header__logo-link--image {
    max-width: 128px;
  }

  .navigation__phone-wrapper {
    margin-right: 12px;
    flex-direction: column-reverse;
  }

  .section__buy__wrapper-text {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
     
  }
  
  .section__buy__wrapper-text--paragraf {
    grid-column: auto;
  }

  .section__category__button-wrapper--button {
    padding: 15px 105px;
  }

  .section__contact__contact-wrapper--title-wrapper--text {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 40px;
  }

  .section__contact__contact-wrapper__content-wrapper {
    flex-direction: column;
  }

  .section__contact__contact-wrapper__content-wrapper--form .form-field {
    min-width: unset;
  }

  .section__category__wrapper-category__photo {
    grid-template-columns: 1fr;
  }

  .section__buy__wrapper-text--title {
    font-size: 32px;
  }
}
