.hide {
  display: none;
}

.show {
  display: block;
}

.showin {
  animation: showIn 0.6s ease-in-out forwards;
}

.showout {
  animation: showOut 0.5s ease-in-out forwards;
}

@keyframes showIn {
  0% {
    transform: translate(0, -575px);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -55px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes showOut {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -575px);
  }
}
