@keyframes showIn {
  0% {
    transform: translate(0, -575px);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -55px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes showOut {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -700px);
  }
}
