.aparts {
  &__top &__photo {
    &:first-child {
      background-image: url(../images/apart1.1.png);
      flex: 2;
    }
    &:last-child {
      background-image: url(../images/apart1.2.png);
      flex: 1;
    }
  }
  &__middle &__photo {
    &:first-child {
      background-image: url(../images/apart2.1.png);
      flex: 1;
    }
    &:last-child {
      background-image: url(../images/apart2.2.png);
      flex: 1;
    }
  }
  &__bottom &__photo {
    &:first-child {
      background-image: url(../images/apart3.1.png);
      flex: 1;
    }
    &:last-child {
      background-image: url(../images/apart3.2.png);
      flex: 2;
    }
  }
}
