.article {
  &__pretitle {
    font-size: 12px;
    font-weight: 700;
    color: $c-main-accent;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: $c-main-dark;
    letter-spacing: -1.5 px;
  }

  &__section {
    color: $c-main-dark;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    color: $c-main-dark;
    &--color {
      &-red {
        color: $c-main-accent;
      }
    }
  }

  &__strong {
    white-space: pre-line;

    font-size: 16px;
    font-weight: 700;
    color: $c-main-dark;

    &--color {
      &-red {
        color: $c-main-accent;
      }
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: $c-main-dark;

    &--font {
      &-roboto {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
      }
    }
  }

  &__images {
    &--number {
      &-2 {
        color: $c-main-dark;
      }
    }
  }

  &__form {
    color: $c-main-dark;
  }

  &__input {
    color: $c-main-dark;
  }

  &__button {
    color: $c-font-white;
  }
}
