.article {
  padding-top: 100px;
  &__pretitle {
    // position: relative;
    // top: 100px;
    font-size: 12px;
    font-weight: 700;
    color: $c-main-accent;
    margin-bottom: 2px;
  }

  &__lines {
    margin-top: 24px;
    display: grid;

    grid-template-areas: "hours1 days1" "hours2 days2" "hours3 days3";
    justify-content: start;
    gap: 8px 25px;
  }

  &__title {
    //margin-top: 100px;
    &--align {
      &-center {
        text-align: center;
      }
    }
    margin-bottom: 8px;
    border: 1px solid transparent;
    font-size: 32px;
    font-weight: 700;
    color: $c-main-dark;
    letter-spacing: -1.5 px;
  }

  &__section {
    padding: 0;
    color: $c-main-dark;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  &__subtitle {
    margin-top: 24px;
    line-height: 34px;
    font-size: 24px;
    font-weight: 700;
    color: $c-main-dark;

    &--color {
      &-red {
        color: $c-main-accent;
      }
    }

    &--align {
      &-center {
        text-align: center;
      }
    }
  }

  &__strong {
    line-height: 27px;
    &--hours {
      @for $i from 1 through 3 {
        &-#{$i} {
          grid-area: hours#{$i};
        }
      }
      &-4 {
        margin-top: 16px;
      }
    }

    display: inline-block;

    font-size: 16px;
    font-weight: 700;
    color: $c-main-dark;

    &--color {
      &-red {
        color: $c-main-accent;
      }
    }
  }

  &__text {
    &--days {
      @for $i from 1 through 3 {
        &-#{$i} {
          grid-area: days#{$i};
        }
      }
    }

    &--align {
      &-center {
        text-align: center;
      }
    }

    line-height: 27px;
    grid-area: days;
    display: inline-block;
    position: relative;
    margin-right: 0;

    font-size: 16px;
    font-weight: 400;
    color: $c-main-dark;

    &--font {
      &-roboto {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
      }
    }
  }

  &__images {
    margin: 48px auto 0;
    padding: 0;
    &--number {
      &-1 {
        color: $c-main-dark;
      }
      &-2 {
        display: flex;
        gap: 27px;
      }
      &-3 {
        display: flex;
        gap: 12px;
      }
    }
    margin-bottom: 24px;
  }

  &__form {
    color: $c-main-dark;
    margin: 48px 0 100px;
  }

  &__input {
    width: 288px;
    height: 48px;
    margin-bottom: 16px;
    background-color: $c-input-background;
    border: 0;
    padding-left: 12px;

    font-size: 14px;
    padding-top: auto;
    line-height: 20px;
    font-family: $font;
    &::placeholder {
      color: $c-placeholder-font;
      font-family: $font;
      line-height: 20px;
      font-size: 14px;
    }
  }

  &__textarea {
    width: 288px;
    height: 144px;
    margin-bottom: 32px;
    background-color: $c-input-background;
    border: 0;
    resize: none;
    padding-left: 12px;
    padding-top: 12px;

    font-size: 14px;
    line-height: 20px;
    font-family: $font;
    &::placeholder {
      color: $c-placeholder-font;
      font-family: $font;
      line-height: 20px;
      font-size: 14px;
    }
  }

  &__button {
    color: $c-font-white;
    width: 100%;
  }
  &__formItem {
    font-family: $font;
  }
  &__formLabel {
    &:not(:focus):not(:active) {
      @include visually-hidden();
    }
  }
}
