@import "utils";

.article {
  text-align: left;
  font-size: 16px;
  line-height: 27px;

  &__link {
    color: black;
    transition: color $hover-duration;
    font-size: inherit;

    &:hover {
      color: $hover-color;
    }
  }

  &__center {
    text-align: center;
  }
  
  &__image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: transform 0.8s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__heading {
    font-size: 24px;
    font-weight: bold;
    color: $blue-color;
    margin-bottom: 0;
  }

  &__subheading {
    font-size: 14px;
    color: $hover-color;
  }
}
