.big-title {
  margin: 152px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $title2LvlFontSize;
  line-height: $title2LvlLineHeight;
  letter-spacing: -1.5px;
  @media (max-width: $displaySmall) {
    margin-top: 65px;
    font-size: $title2LvlFontSize * 0.75;
    line-height: $title2LvlLineHeight * 0.75;
  }
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 16px;
    margin-top: 7px;
    background: transparent url("../images/crown.svg") center no-repeat;
  }
}
