.bike {

  &__photo {
    width: 100%;
    transition: $transition-time;

    &:hover {
      transform: scale(1.06);
    }
  }

  &__name {
    font-size: 24px;
    line-height: 140%;
  }

  &__about {
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
