.bike {

  &__photo {
    width: 100%;
  }

  &__name {
    font-size: 24px;
    line-height: 140%;
    // margin-bottom: 0 0 8px;
  }

  &__about {
    line-height: 140%;
    // margin-bottom: 0 0 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
