.bikes__container {
  display: block;

  @include onDesktop {
    display: flex;
    flex-direction: row;
  }
}

.bike {
  width: fit-content;
  margin: 0 auto;
  padding: 0;

  @include onTabloid {
    padding: 0 calc(100% / 6);
  }

  @include onDesktop {
    margin-left: 24px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
  }

  &__photo {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 32px;

    @include onTabloid {
      width: 392px;
      grid-column: 2 / 6;
    }

    @include onDesktop {
      width: 324px;
    }
  }

  &__image {
    width: 100%;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
