.block {
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(1260px - 240px);
  padding-top: 56px;
  padding-bottom: 48px;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__phone-logo {
    height: 18px;
    width: 18px;
    background: url("../images/Vector\ \(1\).png") no-repeat center;
    background-size: contain;
    display: none;
  }

  &__logo {
    position: absolute;
    left: calc(50% - #{$logo-width} / 2);
    top: 24px;
    z-index: 2;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    transition: color 300ms;

    &:hover {
      color: #9fadc2;
    }
  }

  &__burger {
    display: none;
  }

  &__burger-label {
    height: 18px;
    width: 12px;
    background: url("../images/Vector.png") no-repeat center;
    background-size: contain;
    display: none;
  }

  &__title {
    margin-top: 334px;
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      top: -16px;
      content: "";
      height: 2px;
      width: 35px;
      border-radius: 2px;
      background-color: white;
    }
  }

  &__nav {
    margin-top: 85px;
  }
}

@media (max-width: 990px) {
  .block {
    justify-content: space-between;
    height: 567px;

    &__title {
      margin: 0;
      text-align: center;
      font-size: 46px;
      line-height: 40px;

      &::before {
        display: none;
      }
    }

    &__nav {
      margin: 0;
    }
  }
}

@media (max-width: 550px) {
  .block {
    justify-content: space-between;
    height: 567px;
    min-width: calc($page-min-width - 40px);
    padding-top: 39px;
    padding-bottom: 80px;

    &__title {
      text-align: start;

      &::before {
        display: block;
      }
    }

    &__nav {
      display: none;
    }

    &__phone-number {
      display: none;
    }

    &__link {
      display: none;
    }

    &__phone-logo {
      display: block;
    }

    &__burger-label {
      display: block;
    }
  }
}