.block {
  display: grid;
  grid-template-columns: 152px 152px 40%;
  justify-content: space-between;
  margin: 0 auto;

  &__title {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }

  &__text {
    max-width: 500px;
    line-height: 27px;
    font-size: 16px;
    color: #3e3e3e;
    text-decoration: none;

    & p:first-child {
      margin: 0;
      color: $accentColor;
      font-size: 24px;
      line-height: 30px;
    }

    &:hover {
      color: $accentColor;
    }
  }

  &__link {
    @extend .block__text;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    padding: 30px 0;
    width: 89%;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "phone address""form form";
    justify-items: center;
    gap: 20px;
  }

  @media (max-width: 320px) {
    padding: 30px 5% 0;
    width: 85%;
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: "phone""address""form";
    justify-items: start;
    gap: 0;
  }
}

.form {
  display: flex;
  flex-flow: column;

  &__item {
    margin-bottom: 16px;
  }

  &__input,
  &__input--textarea,
  &__button {
    width: 100%;
  }

  &__input--textarea {
    padding: 20px;
    margin-bottom: 16px;
  }

  &__button {
    margin-top: 26px;
  }

  @media (max-width: 768px) {
    width: 100%;
    grid-area: form;
  }

  @media (max-width: 320px) {
    width: 100%;
    padding: 20px 0;
  }
}
