@import "utils";

.btn {
  max-width: 1000px;
  font-weight: bold;
  font-size: 16px;
  color: $blue-color;
  border: 2px solid $blue-color;
  border-radius: 8px;
  transition: color $hover-duration;
  padding: 21px 65px;

  &:hover {
    color: $hover-color;
  }
}
