.btn {
  display: grid;
  justify-content: center;
  padding-top: 16px;
  background-color: inherit;

  //noinspection ALL
  &__button-view {
    box-sizing: border-box;
    width: 188px;
    height: 56px;

    border: 2px solid $main-color;
    border-radius: 8px;
    background: $background-color;
    color: $main-color;

    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    transition: color, background-color 1s;
  }

  &__button-view:hover {
    align-content: center;
    background-color: $main-color;
    color: $text-color;
    cursor: pointer;
  }

  //noinspection ALL
  &__consultation-consultation,
  &__contact-consultation {
    width: 413px;
    height: 56px;

    background: $main-color;
    border-radius: 8px;
    border: none;

    color: $text-color;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    transition: box-shadow 1s;
    cursor: pointer;
  }

  &__consultation-consultation:hover,
  &__contact-consultation:hover {
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  }
}

@media screen and (max-width: 1024px) {
  .btn {
    padding-top: 0;

    &__button-view,
    &__consultation-consultation,
    &__contact-consultation {
      width: 280px;
    }
  }
}
