.burger {
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: $colorBlue;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 720px;
    width: 94%;
    margin: 0 auto;
  }

  &__phone_icon {
    display: flex;
    margin-top: 35px;
    visibility: hidden;
  }

  &__logo {
    width: 75px;
    height: 48px;
    margin-top: 24px;
    padding-right: 2px;
  }

  &__off {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/images/krest.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 35px;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 280px;
    margin: 120px auto;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    display: block;
    padding: 16px 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    color: $colorWhite;
  }

  &__tel {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 auto;
    text-decoration: none;
    color: $colorWhite;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 auto;
    text-decoration: none;
    color: $colorWhite;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text::after {
    display: block;
    width: 115px;
    height: 1px;
    margin-top: 8px;
    background-color: $colorWhite;
    border-radius: 10px;
    content: "";
  }
}
