.burger {

  @media (max-width: 768px) {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 50px;
    right: 50px;
  }

  &::before,
  &::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 10px;
    left: 380;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &__line {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 20px;

  }
}
