.burger-menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px 21px 20px;
  background-color: $activeColor;
  z-index: 1;
  transition: 0.5s;
}

.header__input:checked ~ .burger-menu {
  transform: translateX(-100%);
}

.header__input:checked ~ .header__menu {
  background: url("../images/close.svg") no-repeat center;
  width: 16px;
  height: 16px;
  z-index: 2;
  cursor: pointer;
}

.burger-logo {
  margin: 0 auto;
}

.burger-menu__logo {
  width: 73px;
  height: 48px;
}

.burger-menu__list {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  margin-bottom: 48px;
}

.burger-menu__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.burger-menu__link {
  color: $headerFontColor;
}

.burger-menu__phone {
  @include smallText;
  color: white;
  margin-bottom: 16px;
}

.burger-menu__action {
  @include smallText;
  color: $headerFontColor;
  text-transform: uppercase;
  margin-bottom: 60px;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  width: fit-content;
}
