.button {
  display: block;
  font-weight: bold;
  line-height: 14px;
  color: $colorWhite;
  background-color: $mainColorText;
  border: 2px solid $mainColorText;
  border-radius: 8px;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  cursor: pointer;
  transition: color, background-color, box-shadow, $duration;

  &:hover {
    color: $mainColorText;
    background-color: #f7f8ff;
    box-shadow: none;
  }
}
