@import "./utils/vars";

.btn__white {
  margin: 0 auto;
  padding: 20px 65px;
  font-weight: bold;
  color: $font-blue;
  border: 2px solid $font-blue;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s, box-shadov 0.3s, color 0.3s;
  &:hover {
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    color: #fff;
    background-color: $font-blue;
  }
}

.btn__blue {
  cursor: pointer;
  margin-top: 32px;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 105px;
  background-color: $font-blue;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  &:hover {
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    color: $font-blue;
    background-color: #fff;
  }
}
