.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  width: 100%;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
  border: 3px solid #292929;
  border-radius: 40px;
  background-color: #292929;

  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: #292929;
    background-color: #fff;
  }

  &:active {
    background-color: #000;
  }
}
