.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;

  text-decoration: none;
  color: white;
  background-color: $colorRed;
  font-weight: 700;
  cursor: pointer;
  transition: all $duration;

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background-color: #eb343d;
  }

  &--primary {
    font-family: inherit;
    border-color: $colorRed;
    border-style: none;
  }
}
