.button {
  cursor: pointer;
  display: block;
  color: white;
  background-color: #0075ff;
  border: none;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border-radius: 8px;
  padding: 21px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0067df;
    box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  }

  &:focus {
    outline: none;
    box-shadow: 10px 10px 17px -5px rgba(95, 96, 139, 0.66);
  }
}
