@import "./utils/vars";

.button {
  border: none;
  display: block;
  color: $c-white;
  background-color: $c-link;
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: background-color $transition;
  &:hover {
    background-color: $c-link-hover;
    cursor: pointer;
  }
}
