.button {
  width: 188px;
  height: 56px;
  border: 2px solid #0075ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s;

  &__links {
    padding: calc((56px - 14px) / 2) 65px;
    transition: color 0.3s;
  }

  &__links:hover {
    color: white;
  }

  &:hover {
    background: #0075ff;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  }
}
