.button__menu {
  background-image: url(../images/button-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 20px;
  transition: all $animation-duration;

  &:hover {
    background-image: url(../images/buton-menu-hover.svg);
  }

  &--pressed {
    background-image: url(../images/buton-menu-pressed.svg);
    height: 25px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;

    @include OnMobile {
      width: 16px;
      height: 16px;
    }
  }

  @include OnMobile {
    width: 18px;
    height: 12px;
  }
}
