.caption {
  position: relative;
  justify-self: center;

  font-weight: bold;
  font-size: $caption-font;
  line-height: 100%;
  letter-spacing: $caption-letter-spacing;

  &:before {
    position: absolute;
    top: $caption-font + 8px;
    left: 50%;

    margin-right: -50%;

    background-repeat: no-repeat;

    content: url("../images/crown.svg");
    transform: translate(-50%, -50%);
  }
}
