.card {
  text-align: center;

  &__img {
    width: 153px;
    height: 153px;
    transition: transform linear 0.8s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $accent-color;
    margin-top: 28px;
  }

  &__position {
    font-size: 14px;
    color: #9fadc2;
    margin-top: 4px;
  }

  &__info {
    color: #3e3e3e;
    margin-top: 13px;
  }
}
