.card {
  text-align: center;
  &__img {
    width: 153px;
    height: 153px;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $blue;
    margin-top: 28px;
  }

  &__position {
    @include grey-text;
    margin-top: 4px;
  }

  &__info {
    color: #3e3e3e;
    margin-top: 13px;
  }
}
