.close {
  display: block;
  position: relative;
  top: $logo-height / 2;

  width: 16px;
  height: 16px;

  @media (max-width: 375px) {
    top: $logo-mobile-height / 2;
  }
}

.close-hidden {
  visibility: hidden;
}
