.common-title {
  text-align: center;
  padding-bottom: 53px;
  position: relative;

  @media (min-width: 1200px) {
    padding-bottom: 5vw;
  }

  &::before {
    content: "";
    display: block;
    width: 12.16px;
    height: 9.69px;

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    background: url("../images/crown.svg") no-repeat center;
    background-size: cover;

    @media (min-width: 1200px) {
      width: 1.01vw;
      height: 0.81vw;

      bottom: 3.17vw;
    }
  }
}
