.common-title {
  text-align: center;
  padding-bottom: 61px;
  position: relative;

  @media (max-width: 900px) {
    padding-bottom: 53px;
  }

  @media screen and (min-width: 1400px) {
    padding-bottom: 70px;
  }

  &::before {
    content: url("../images/crown.svg");
    display: block;
    width: 12.16px;
    height: 9.69px;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 12.16px / 2);

    @media (max-width: 900px) {
      bottom: 30px;
    }

    @media screen and (min-width: 1400px) {
      width: 16.16px;
      height: 12.69px;
      bottom: 50px;
    }
  }
}
