.product {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 700;
  font-size: 18px;

  @include onDesktop {
    font-weight: 700;
    font-size: 24px;
  }

  &-title {
    margin: 0;
    padding-bottom: 5px;
  }

  &-description {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 16px;
    max-width: 300px;
  }

  &-photo {
    min-width: 250px;
    max-width: 35%;
    padding-bottom: 32px;

    @include onDesktop {
      cursor: pointer;
      width: 100%;
      max-width: 100%;
      transition-property: height, width, transform;
      transition-duration: 0.3s;
    }

    &:hover {
      @include onDesktop {
        transform: scale(110%);
      }
    }
  }
}
