.bike {

  &__photo {
    width: 100%;
    margin-bottom: 32px;

    transition: scale $efectsDuration;

    &:hover {
      scale: $scaleSizeEfect;
      cursor: pointer;
    }
  }

  &__description {
    margin-bottom: 16px;
  }
}
