.bike {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    align-self: center;

    width: 100%;
    max-width: 280px;
    margin-bottom: 32px;

    transition: scale $efectsDuration;

    @include onTablet {
      max-width: 392px;
    }

    &:hover {

      @include onDesktop {
        scale: $scaleSizeEfect;
        cursor: pointer;
      }
    }
  }

  &__info {
    max-width: 280px;

    @include onTablet {
      max-width: 392px;
    }
  }

  &__description {
    margin-bottom: 16px;
  }
}
