.consult {
  display: flex;
  background: white;
  color: black;

  &__title {
    margin-bottom: 24px;

    font-family: $text-font;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
  }

  &__block {
    display: flex;
    width: 936px;
    margin: 0 auto;
    padding: 150px 0;

    justify-content: space-between;

    @media screen and (max-width: 1001px) {
      padding: 60px 0;

      flex-direction: column;
    }
  }

  &__decription {
    max-width: 480px;
    margin-right: 72px;

    @media screen and (max-width: 1001px) {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  &__text {
    width: 480px;
    font-family: $text-font;
    font-size: 16px;

    @media screen and (max-width: 1001px) {
      width: auto;
    }
  }

  &__form {
    width: 100%;
  }
}
