.consult {

  &__title {
    color: black;
    font-family: $text-font;
    font-size: 32px;
    text-align: start;
    margin-bottom: 24px;
  }

  &__block {
    display: flex;
    margin: auto;
    justify-content: space-between;

    width: 936px;
    height: 246px;
  }

  &__text {
    color: black;
    font-family: $text-font;
    font-size: 16px;
    width: 480px;
  }
}
