.consult {
  &__title {
    color: black;
    font-family: $text-font;
    font-size: 32px;
    text-align: start;
    margin-bottom: 24px;
  }

  &__block {
    display: flex;
    margin: auto;
    justify-content: space-between;

    width: 936px;
    height: 246px;

    @media screen and (max-width: 1001px) {
      flex-direction: column;
      width: 384px;
      height: auto;
      margin: auto;
    }

    @media screen and (max-width: 435px) {
      width: 350px;
    }

    @media screen and (max-width: 400px) {
      width: 270px;
    }
  }

  &__text {
    width: 480px;
    height: 120px;

    color: black;
    font-family: $text-font;
    font-size: 16px;

    @media screen and (max-width: 650px) {
      width: auto;
    }
  }

  &__title,
  &__text {
    @media screen and (max-width: 372px) {
      width: 290px;
      margin: auto;
      margin-bottom: 25px;
    }
  }
}
