@import "utils";

.consultation {
  display: flex;
  justify-content: center;
  padding: 145px 162px;

  &__container {
    margin-right: 72px;
    max-width: 480px;
  }

  &__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  &__info {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: $break-point) {
  .consultation {
    flex-direction: column;
    padding: 10px;
    align-items: center;

    &__container {
      margin: 25px 0 0;
      flex-shrink: 1;
    }

    &__heading {
      text-align: center;
      flex-shrink: 1;
    }

    &__info {
      text-align: center;
      flex-shrink: 1;
    }

    &__form {
      margin-top: 20px;
    }
  }
}
