.consultation-form {
  display: flex;
  flex-direction: column;
  width: 413px;

  @media (max-width: 1150px) {
    width: 340px;
  }

  @media (max-width: 850px) {
    width: 100%;
  }

  &__item {
    height: 48px;
    border: 1px solid $mainColor;
    border-radius: 8px;
    padding: 17px;
    outline-color: $mainHighlightColor;
    margin-bottom: 16px;
    background: #f7f8ff;

    &::placeholder {
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #b9c1ce;
    }

    &--textarea {
      height: 144px;
    }
  }

  &__button {
    @include fontButton;
    height: 56px;
    border: 1px solid $mainHighlightColor;
    border-radius: 8px;
    outline: none;
    margin-top: 32px;
    margin-bottom: 88px;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    color: $mainColor;
    background: $mainHighlightColor;

    @media (max-width: $mobileDisplay) {
      margin-bottom: 64px;
    }

    &:hover,
    &:focus {
      background: $mainHighlightColor;
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }
  }
}
