.consultation {
  margin-bottom: 152px;

  &__title {
    @include titles-decoration(72px);
  }

  &__block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__description {
    width: 412px;
  }

  &__subtitle {
    @include subtitles(16px);
  }
}

@media (max-width: 766px) {
  .consultation {
    margin-bottom: 64px;

    &__title {
      @include titles-decoration(32px);
    }

    &__block {
      display: block;
    }

    &__description {
      width: 100%;
      margin-bottom: 32px;
    }
  }
}
