.consultation {
  @include section;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    position: relative;

    display: block;
    max-width: 413px;
  }
  &__block {
    display: block;
  }
}

@media (max-width: 780px) {
  .consultation {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__text {
      max-width: 780px;
      padding-right: 30px;
    }
    &__form {
      max-width: 780px;
    }
  }
}
