.consultation {
  display: flex;
  justify-content: space-between;

  &__text {
    @include section-text;
    max-width: 415px;
    margin-bottom: 32px;
  }

  &__subtitle {
    @include blue-bold-text;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 991px) {
  .consultation {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
