.consultation {
  margin-bottom: 152px;

  &__title {
    @include titles-decoration(72px);
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    width: 412px;
  }

  &__subtitle {
    @include subtitles(16px);
  }
}
