.consultation {
  display: flex;
  justify-content: space-between;
  max-width: 413px;

  &__text {
    max-width: 412px;
    margin-top: 71px;
    margin-bottom: 203px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $colorGray;
  }

  &__heading {
    width: 240px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $colorBlue;
    padding-bottom: 15px;
  }

  &__form {
    max-width: 100%;
    margin-top: 70px;
  }
}

@media (max-width: 900px) {
  .consultation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .consultation__text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .consultation__heading {
    max-width: 412px;
  }
}
