.contact-as {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;

  &__title {
    @include title-font;
    @include title;
    top: -180px;
    left: calc(50% - 110px);

    &::after {
      @include title-after;
    }
  }

  &__details {
    margin-right: 108px;

    a {
      color: #3e3e3e;
      font-weight: 400;
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 24px;

    }
  }

  &__adress {
    margin-right: 194px;
    a {
      color: #3e3e3e;
      font-weight: 400;
      font-size: 16px;
      margin-top: 8px;
      line-height: 27px;
    }
  }

  &__little {
    display: block;
    margin-bottom: 0;

    font-size: 14px;
    font-weight: 400;
    color: #9fadc2;
  }

  &__wrap {
    display: flex;
  }

  &__button {
    box-sizing: border-box;
    margin-top: 16px;
    height: 56px;

    background-color: $active-color;
    color: white;
    &:hover {
      background-color: white;
      color: $active-color;
    }
  }

  &__textarea {
    height: 144px;
    padding-top: 17px;
    resize: none;
  }
}

@media screen and (max-width: $change-width) {
  .contact-as {
    padding: 0 20px;
    padding-bottom: 64px;
    flex-direction: column;

    &__wrap {
      flex-direction: column;
    }

    &__title {
      top: -120px;
      left: calc(50% - 80.5px);
      font-size: 36px;
    }
  }
}
