.contacts {
  padding: 75px;

  &__title {
    @extend .gallery__title;
    @include fontFamilyRoboto;

    @media (max-width: 768px) {
      margin: 0 0 47px;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__logo {
    @extend .gallery__logo;
    @include fontFamilyRobotoNormal;

    @media (max-width: 768px) {
      top: 45px;
    }
  }

  @media (max-width: 768px) {
    padding: 0 0 65px;
  }
}

.form {
  display: flex;
  flex-flow: column;
  @include fontFamilyRobotoNormal;

  &__item {
    margin-bottom: 16px;
  }

  &__input,
  &__input--textarea,
  &__button {
    width: 100%;
  }

  &__input--textarea {
    padding: 20px;
    margin-bottom: 16px;
  }

  &__button {
    margin-top: 26px;
  }

  @media (max-width: 768px) {
    width: 100%;
    grid-area: form;
  }

  @media (max-width: 320px) {
    width: 100%;
    padding: 20px 0;
  }
}
