@import "utils/vars";

.main {
  padding-bottom: 88px;
  background-color: $c-white;

  @media (max-width: $mobile-screen-breakpoints) {
    & {
      padding-bottom: 64px;
    }
  }

  &__container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__section {
    padding-top: 152px;

    &:first-child {
      padding-top: 104px;
    }

    @media (max-width: $mobile-screen-breakpoints) {
      &,
      &:first-child {
        padding-top: 64px;
      }
    }
  }
}
