.contact-us {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  line-height: 27px;
  color: $grey-color;

  &__container {
    width: 413px;
    display: flex;
    justify-content: space-between;
  }

  &__paragraph {
    font-size: 16px;
    line-height: 27px;
    color: $light-black;
    margin-bottom: 0;
    margin-top: 8px;
  }

  &__form {
    margin-top: 32px;
    width: 413px;
  }

  &__email {
    &-link {
      display: block;
      text-decoration: none;
      color: $light-blue;

      transition: 400ms;

      &:hover {
        color: $dark-blue;
      }
    }
  }
}

.form__button--dark {
  background: $dark-blue;
  margin-bottom: 88px;
}

.form__button--dark:hover {
  background: $dark-blue;
  box-shadow: 0 13px 27px $black-blue;
}

@media (max-width: 900px) {
  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
      width: 280px;
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      align-self: start;
    }

    &__address {
      margin-top: 24px;
    }

    &__form {
      width: 80%;
    }
  }
}
