.content-container {
  width: $desktopMaxContentWidth;

  @media (max-width: $mediumDisplay) {
    width: $mediumContentWidth;
  }

  @media (max-width: $mobileDisplay) {
    width: 100vw;
    padding: 0 $mobileSidesPadding;
  }
}
