.container-for-content {
  @media (max-width:$mobile-size-breackpoint) {
    padding: 0 20px;
    margin: 0 auto;
  }

  padding: 0 $padding-for-main-content;
  margin: 0 auto;

  @media (min-width:$mobile-size-breackpoint
  + $distance-for-main-content-paddings) {
    max-width: $max-widht-for-content;
    padding: 0 120px;
  }
}
