@import "utils";

.info {
  display: flex;
  text-align: left;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  &__phone-email {
    width: 50%;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__adres {
    width: 50%;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__description {
    @extend %small-text;

    @media (max-width: 800px) {
      margin-bottom: 24px;
    }
  }

  &__value {
    @extend %comon-text;
    text-decoration: none;
    transition: color 0.5s;
  }

  &__value:hover {
    color: #9fadc2;
  }

  &__value:visited {
    color: #03346d;
  }
 
  @media (max-width: 800px) {
    margin-bottom: 24px;
  }
}
