.contact-us {
  display: flex;
  justify-content: space-between;
  padding: 0 $horizontalPadding 88px;

  &__text,
  &__form {
    width: calc(50% - 194px / 2);
  }

  &__text {
    display: flex;
    justify-content: space-between;
  }

  

  &__mini-headings {
    font-size: 14px;
    color: #9fadc2;
    margin-bottom: 8px;
    display: inline-block;
  }

  &__content {
    color: #3e3e3e;
    margin-bottom: 24px;
    display: inline-block;
  }
}
