.container {
  max-width: 1260px;
  padding: 0 120px;
  margin: 0 auto;

  @include OnTablet {
    max-width: 744px;
    padding: 0 72px;
  }

  @include OnMobile {
    max-width: 280px;
    padding: 0 20px;
  }
}
