@import "vars";

.contacts {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: -$heading_font_size;
  margin-bottom: -$heading_font_size;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__email,
  &__phone {
    color: #000;
    font-size: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__address {
    font-style: normal;
    font-size: 24px;
  }
}

@media screen and (max-width: $small_screen_breakpoint) {
  .contacts {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__address {
      margin-bottom: 40px;
    }
  }
}
