.container {
  padding: 100px calc(50% - 470px);
  position: relative;
  background-color: white;

  &:nth-child(odd) {
    background-color: $bg-color;
  }

  &__heading {
    left: 0;
    right: 0;
    top: -0.5em;
    margin: auto;

  }
}

@media (max-width: 1100px) {
  .container {
    padding: 75px 40px;
  }
}
