.content {
  display: flex;
  justify-content: space-between;
}

.content__h1 {
  font-weight: bold;
  @include header-h1;
  margin: 0;
}

.content__text {
  font-weight: normal;
  @include size-normal;
  max-width: 500px;
}

.content__text--h3 {
  @include text-h3;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
  .content__h1 {
    @include h1;
    margin-bottom: 48px;
  }
}
