@import "vars";

.contact {
  display: flex;
  justify-content: space-between;

  &__content {
    font-size: 24px;
    width: 280px;
  }

  &__address {
    margin-top: 20px;
  }

  &__link {
    color: black;
    outline-color: rgba($color: #d5c5aa, $alpha: 0.3);

    &:hover {
      color: $highlight-hover-color;
    }
  }

  &__form {
    width: 380px;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .contact {
    flex-direction: column;

    &__content,
    &__form {
      width: 100%;
      margin-bottom: 20px;
    }

  }
}
