.content-container {
  display: grid;
  width: $content-container-width;

  @media (max-width: 1259px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 425px) {
    padding: 0 23px;
  }

}
