.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 40px 100px;

  &__form {
    width: 420px;
  }

  @media (max-width: $tabletScreenBreakpoint) {
    grid-template-columns: 1fr;

    &__form {
      width: 100%;
    }
  }
}
