@import "utils/vars";

.main {
  box-sizing: border-box;

  &__container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__section {
    margin-bottom: 152px;

    @media (max-width: $mobile-screen-breakpoints) {
      & {
        margin-bottom: 64px;
      }
    }
  }
}
