.contacts {
  &__item {
    width: 276px;
    font-size: 24px;
    
    & > a {
      color: #000;
      font-weight: 300;
    }

    &:first-child {
      margin-bottom: 29.77px;
    }
  }
}

@media (max-width: 740px) {
  .contacts {
    text-align: center;
    margin-bottom: 25px;
  }
}
