.contact-us {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;

  &__content {
    margin-bottom: 60px;
  }

  // .contact-us__title

  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include onDeskTop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  // .contact-us__form

  &__form {
    margin-bottom: 48px;
  }

  &__field {
    margin-bottom: 16px;
  }

  // .contact-us__info

  &__info {
    margin-bottom: 24px;
  }

  // .contact-us__subtitle

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
  }

  // .contact-us__link

  &__link {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    transition: all 0.3s ease 0s;
    
    &:hover {
      color: #4d8cd4;
    }

    & > span {
      display: flex;
      margin-bottom: 8px;

      
    }
  }
}

.form-field {
  box-sizing: border-box;
  background-color: #f8f8fa;
  border: 2px solid transparent;
  border-radius: 40px;
  height: 48px;
  width: 100%;
  padding: 14px 17px;
  transition: all 0.3s ease 0s;
  color: rgba(41, 41, 41, 1);

  &:hover {
    border: 2px solid #d5d7de;
  }

  &::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &:focus {
    border-color: #292929;
    outline: none;
  }

  // .form-field_textarea

  &_textarea {
    font-family: inherit;
    height: 148px;
    border-radius: 16px;
    resize: none;
  }
}
