.contact-us {

  &__container {
    @include flex-center;
    margin-top: 93px;
  }

  &__text-container-main {
    @include flex-center;
    width: $contact-us-main-text-box;
  }

  &__text-container-1 {
    width: $contact-us-text-box;
  }

  &__text-container-2 {
    width: $contact-us-text-box;
  }

  &__info {
    @include text-small;
  }

  &__contacts {
    margin: 8px 0 24px;

    @include text-basic;
  }

  &__form-container {
    width: $consultation-box-widht;
  }

  &__input {
    @include input;

    &::placeholder {
      @include text-small;
    }
  }

  &__textarea {
    font-family: inherit;
    font-size: inherit;
    width: 413px;
    padding: 17px;
    
    background: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px;

    outline: none;
    resize: none;

    &::placeholder {
      @include text-small;
    }
  }

  &__submit {
    @include submit-button;

    &:active {
      transform: scale($button-scale);
    }
  }
}
