.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 194px;
  margin-top: 70px;
  position: relative;

  &__text {
    display: flex;
    justify-content: space-between;
    height: 148px;
    font-size: 16px;
    line-height: 27px;
    max-width: 413px;
    width: 100%;
  }

  &__caption {
    font-size: 14px;
    color: #9fadc2;
    margin-top: 24px;
  }

  &__link {
    color: #3e3e3e;
    margin-top: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    margin-top: 32px;
    background: $hoverColor;
    box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    border-radius: $borderRadius;
    height: 56px;
    border-color: $hoverColor;

    font-weight: bold;
    line-height: 14px;
    color: $generalyHeaderColor;

  }
}

.form__item {
  &-textarea {
    height: 144px;

    &::placeholder {
      transform: translateY(-50px);
    }
  }

  &::placeholder {
    position: relative;
    top: 0;
    right: -17px;
  }
}

@media screen and (max-width: $smallBreakPoint) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 770px;
  }

  .contact__text {
    display: flex;
    flex-direction: column;
    width: 175px;
  }
}
