@import "utils";

.contactUs {
  text-align: center;
  
  &__heading {
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 950px) {
      & {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
      }
    }

    @media screen and (max-width: 350px) {
      & {
        align-items: flex-start;
      }
    }

  }

  &__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 108px;

    @media screen and (max-width: 450px) {
      & {
        grid-gap: 50px;
      }
    }

    @media screen and (max-width: 350px) {
      & {
        grid-template-columns: 1fr;
        grid-gap: 0;
      }
    }
  }

  &__form {
    padding-top: 24px;
    width: 413px;

    @media screen and (max-width: 550px) {
      & {
        width: 100%;
      }
    }
  }
}
