.description {
  @include start-of-block;
  margin: auto;

  &__title {
    padding-top: 104px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1em;
    letter-spacing: -1.5px;
    color: $colorBlack;
    flex-basis: 50%;
  }

  &__article {
    flex-basis: 50%;
  }

  &__title::after {
    content: " here";
    color: $colorBlue;
  }

  &__article-title {
    @include small-title;
    padding-top: 104px;
  }

  &__text {
    @include text;
    padding-top: 16px;
  }
}

.bold_text {
  font-weight: bold;
}

@media screen and (max-width: 740px) {
  .description {
    max-width: 280px;
    flex-direction: column;

    &__title {
      flex-basis: 100%;
      padding-top: 64px;
      font-size: 36px;
    }

    &__article {
      flex-basis: 100%;
    }

    &__text-title {
      padding-top: 48px;
    }
  }
}
