.description {
  display: flex;
  justify-content: space-between;
  margin-top: 104px;
  max-width: 100%;
  width: 100%;

  &__title {
    @include titleText;
    letter-spacing: -1.5px;
    color: #000;
    width: 328px;

    & > a {
      color: $secondaryColor;
    }
  }
  

  &__text {
    & > h3 {
      @include h3Text;
      margin-bottom: 16px;
    }
    max-width: 500px;
  }
}
