.details {
  display: grid;
  padding: 20px;

  max-width: 1280px;
  margin: 0 auto;

  &-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #fff;

    @include onDesktop {
      font-size: 64px;
      line-height: 100%;
    }

    @include onTablet {
      font-size: 48px;
      line-height: 100%;
    }
  }

  &__button {
    @include onDesktop {
      margin: 0 auto;
      width: 40%;
    }
  }
}
