.details {
  &__place {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
