.details {

  &__block {
    margin-bottom: 16px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
  }

  &__subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-bottom: 8px;
  }

  &__paragraph {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: auto;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }
  }
}
