p {
  margin: 0;
}

.container {
  margin: 0 auto;
}

.page {
  font-family: "Oswald", sans-serif;
  color: #0765e3;
  background-color: #201f1f;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.box__title {
  margin: 100px 0 0;
  font-size: 100px;
  font-weight: 900;
}

.box__subtitle {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

.box__text {
  font-size: 1.5rem;
  font-weight: 500;
}

.box__link {
  margin: 20px 0;
  padding: 5px 10px ;
  text-decoration: none;
  color: #201f1f;
  background-color: #fff;
  border-radius: 10px;
}

.box__link:hover {
  color: #fff;
  background-color: #0765e3;
}
