.explore_online_item {
  margin-bottom: 48px;

  &:last-child {
    margin-bottom: 0;
  }

  @include onDesktop {
    margin-bottom: 0;
  }

  &__photo {
    grid-column: 2/4;
    width: 100%;
  }

  &__title {
    margin: 0 0 4px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #d12d35;
  }

  &__description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #161616;
  }
}
