.fhotos {
  display: flex;
  justify-content: space-between;
  &__img {
    width: calc(50% - 10px);
    height: 260px;
    object-fit: cover;
    object-position: center;
  }

  &__width--left {
    .fhotos__img {
      &:first-child {
        width: calc(67% - 10px);
      }
      &:last-child {
        width: calc(33% - 10px);
      }
    }
  }

  &__width--right {
    .fhotos__img--right {
      &:first-child {
        width: calc(33% - 10px);
      }
      &:last-child {
        width: calc(67% - 10px);
      }
    }
  }
}
