.footer {
  height: 359px;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/footer_new.jpg");
  background-size: cover;
  background-position: center;

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    & {
      height: 206px;
    }
  }
}
