.footer {
  background-image: url("../images/new_footer.jpg");
  background-size: cover;
  background-position: center;
  height: 359px;
  color: $header-text-color;
  display: flex;
  align-items: flex-end;
  transition: height $transition-time;
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__logo {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1040px) {

  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 700px;
  }
  .footer {
    height: 306px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 454px;
  }

  .footer {
    height: 206px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 280px;
  }
}
