.footer {
  display: flex;
  height: 540px;
  justify-content: center;

  background: center / cover no-repeat url(../images/footer.jpg);

  &__logo {
    margin: 370px 0 95px;
  }

  @media (max-width: 800px) {
    height: 200px;

    &__logo {
      margin: 70px 0 40px;
    }
  }
}
