.form-field {
  box-sizing: border-box;

  @include onTablet {
    display: flex;
    width: 60%;
    margin: 16px auto;
    border-radius: 16px;
  }

  @include onDesktop {
    border-radius: 16px;
  }

  background-color: #f8f8fa;
  border-radius: 40px;
  border: 1px solid transparent;

  height: 48px;
  display: block;
  width: 100%;
  padding: 14px 16px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #292929;

  &::placeholder {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:focus {
    border-color: #292929;
    outline: none;
  }

  &--textarea {
    height: 148px;
    resize: none;
  }
}
