.form-field {
  display: block;

  width: 100%;

  padding: 14px 16px;

  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid transparent;
  color: #000;
  height: 48px;

  &:hover {
    border-color: #ccd0e0;
  }

  &:focus {
    border-color: $color-blue;
    outline: none;
  }

  background: #f7f8ff;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;

    color: #8f99a8;
  }

  &--text {
    height: 144px;
    resize: none;

    margin-bottom: 32px;
  }
}
