.form {
  max-width: $formWidth;
  width: 40%;

  @media (max-width: $switchToMobileWidth) {
    width: 100%;
  }

  & > * {
    padding: 17px;
    font-size: 14px;
    margin: 8px 0;
    outline: transparent;
    background-color: #f7f8ff;
    border-width: 0;
    border-radius: 8px;

    &:focus {
      box-shadow: inset 2px 4px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__button {
    font-size: 16px;
    color: white;
    background-color: $miamiBlue;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);

    &:hover,
    &:focus {
      background: #0067df;
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }
  }
}
