.form {
  display: flex;
  flex-direction: column;
  width: $consultationContentWidth;

  @media (max-width: $firstBreakPoint) {
    width: 100%;
  }

  &__button {
    margin-top: 32px;
  }

  &__textarea {
    @include formItemsStyle;
    height: 144px;
    font-family: inherit;
    resize: none;

    &::placeholder {
      color: #b9c1ce;
    }
  }
}
