.form-field {
  display: block;
  background-color: #f8f8fa;
  border-radius: 40px;
  height: 48px;
  width: 100%;
  padding: 14px 16px;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;

    color: #7e7e83;
  }

  &:hover {
    color: #292929;
  }

  &:focus {
    color: #292929;
  }

  &--text {
    font-family: inherit;
    height: 148px;
    border-radius: 16px;
  }
}
