.form {
  &__field {
    font-family: $font-family;
    width: 100%;
    color: #292929;
    font-size: 14px;
    box-sizing: border-box;
    background: $form-bcg-color;
    padding: 14px 16px;

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:focus {
      border: 1px solid #292929;
      outline: none;
    }
  }

  &__user-data {
    height: 48px;
    border-radius: 40px;
    border: none;
    margin-bottom: 16px;

    ::placeholder {
      font-size: 14px;
      font-weight: $regular-font;
      line-height: 20px;
      color: #7e7e83;
    }
  }

  &__textarea {
    height: 148px;
    border-radius: 16px;
    resize: none;
  }
}
