.forms {
  display: flex;
  flex-direction: column;

  &__item,
  &__button {
    display: flex;
    width: 383px;
    height: 54px;
    margin: 4px 0;

    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    text-transform: uppercase;

    &::placeholder {
      color: $color-placeholder;
      text-align: center;
    }
  }

  &__item {
    background-color: $color-gray;
    border: $color-white;
    outline: none;

    &:focus {
      border: 2px solid $color-blue;
      border-radius: 5px;
    }

    &--message {
      resize: none;
    }
  }

  &__item--size {
    height: 166px;
  }

  @media (max-width: 499px) {
    &__item,
    &__button {
      width: 200px;
      height: 34px;
      font-size: 10px;
    }
  }
}
