.gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.gallery__img {
  width: calc(50% - 8px);
  height: 260px;

  object-fit: cover;
  object-position: center;
  
  margin-right: 16px;
}

.gallery__img--small-right {
  &:first-child {
    width: calc(67% - 8px);
  }
  &:last-child {
    width: calc(33% - 8px);
  }
}

.gallery__img--small-left {
  &:first-child {
    width: calc(33% - 8px);
  }
  &:last-child {
    width: calc(67% - 8px);
  }
}

.gallery__text {
  padding: 12px 0 35px;
  font-weight: 500;

  &:last-child {
    padding-bottom: 0;
  }
}

.gallery__button {
  margin: 44px auto 0;
}
