.gallary__text {
  @include size-normal;
  font-weight: bold;
  margin: 24px 0 40px;
}

@media screen and (max-width: 800px) {
  .gallary__text {
    margin: 16px 0 24px;
  }
}

.gallary__button {
  margin: 0 auto;
  border: 2px solid #0075ff;
  padding: 20px 60px;
  background-color: white;
  color: #0075ff;
}

@media screen and (max-width: 800px) {
  .gallary__button {
    width: 100%;
  }
}
