.gallery {
  display: flex;
  flex-direction: column;

  &__description {
    margin: 24px 0 40px;

    &__link {
      @include hover(opacity, 0.5);
    }
  }

  &__button {
    width: 200px;
    margin: 0 auto;
  }
}
