@import "utils";

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  padding: 112px 158px 110px;

  &__photo {
    flex-grow: 1;
  }

  &__photo-1 {
    width: 624px;
    margin-right: 16px;
  }

  &__photo-2 {
    width: 303px;
  }

  &__photo-3 {
    width: 462px;
    margin-right: 20px;
  }

  &__photo-4 {
    width: 462px;
  }

  &__photo-5 {
    width: 301px;
    margin-right: 19px;
  }

  &__photo-6 {
    width: 620px;
  }

  &__photo__description {
    width: 100%;
    margin: 12px 0 35px;
  }

  &__button_view-all {
    padding: 19px 63px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 1259px) {
  .gallery {
    padding: 10px;
    width: 100%;

    &__photo {
      width: 100%;
      margin: 10px;
    }
  }
}
