* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: inherit;
  color: black;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

a {
  color: #00aaef;
  text-decoration: none;
}

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
