*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
p,
a,
img,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Ubunty, sans-serif;
}
