*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $text-font;
}
