*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: $c-gray;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;

  scroll-behavior: smooth;
}
