.grid {
  display: grid;

  @media (min-width: 744px) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @media (min-width: 1260px) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &__item {

    &-ttl {
      margin-bottom: 16px;
    }

    &-text {
      margin-top: 40px;
    }

    @media (min-width: 744px) {
      &--1-4 {
        grid-column: 1 / 4;
      }

      &--4-7 {
        grid-column: 4 / 7;
      }
    }

    @media (min-width: 1260px) {
      &--1-6 {
        grid-column: 1 / 6;
      }

      &--6-10 {
        grid-column: 6 / 10;
      }
    }

  }

}
