.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  // margin: 0 auto;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &__item {
    // justify-content: center;
    // justify-items: center;
    // align-items: center;
    // align-content: center;
    // width: 100%;
    // margin: 0 auto;
    @for $start from 1 through 2 {
      @for $end from $start through 2 {
        &--phone-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }

    @include onTablet {

      @for $start from 1 through 6 {
        @for $end from $start through 6 {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @include onDesktop {
      @for $start from 1 through 12 {
        @for $end from $start through 12 {
          &--desktop-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
