.heading {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;

  &::after {
    display: block;
    content: "";
    margin: 7px auto 0;
    height: 16px;
    width: 23px;
    background-image: url(/images/crown.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
