.header {
  background-image: url(./images/photos/Cover.png);
  position: relative;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

.header__title {
  display: flex;
  position: relative;
  justify-content: center;
  top: 50vh;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-right: 120px;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav__item {
  margin-left: 32px;
}

.phone__button img {
  height: 32px;
  width: 32px;
}

.menu__button img {
  height: 32px;
  width: 32px;
}
