.heading {
  font-size: $heading-size;
  line-height: $heading-size;
  font-weight: 300;
  text-transform: uppercase;
  width: max-content;

  &::before,
  &::after {
    position: absolute;
    top: 100%;

    display: block;
    height: 2px;
    width: calc(50% - 20px);

    content: "";
    background-color: $color-blue;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &__crown {
    display: block;
    width: 30px;
    height: 20px;
    margin: auto;
  
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background: center / cover no-repeat url(../images/crown.svg);
  }

  @media (max-width: 600px) {
    font-size: 30px;

    &::before,
    &::after {
      top: 90%;
    }

    &__crown {
      top: 90%;
      width: 25px;
      height: 15px;
    }
  }
}
