.header__title {
  position: absolute;
  bottom: 165px;

  &-text {
    font-size: $header-title-size;
    font-weight: bold;
    color: $white;
    line-height: 100%;
    letter-spacing: $title-letter-spacing;
  }

  &::before {
    position: absolute;
    bottom: $header-title-size*2 + 17px;
    content: "";
    border-bottom: $thick-border solid $white;
    border-radius: $thin-border;
    width: 35px;
  }
}
