.header {
  height: 700px;
  background-image: url(/images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 12px;
  font-weight: bold;

  &__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0;
  }

  &__logo {
    background-image: url(/images/logo.png);
    background-size: cover;
    height: 76px;
    width: 115px;
    margin-top: 24px;
  }

  &__top {
    // position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    color: white;
  }

  &__phone,
  &__action {
    margin-top: 24px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  &__middle {
    position: relative;
    display: inline-block;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    margin-top: 342px;
    margin-left: 120px;
  }

}
