@import "utils";

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  
  &__call-link {
    text-decoration: none;
    color: $main-color;
    
    border-bottom: 1px solid $main-color;
    padding: 8px 5px;

    transition: color 0.5s;
  }

  &__call-link-wrap {
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__call-link:hover {
    color: $hover-color;
    border-bottom: none;
  }

  &__call-link:active {
    color: $main-color;
    background-color: rgba(255,255,255,0.3);
  }

  &__phone {
    text-decoration: none;
    color: $main-color;
    position: relative;

    transition: color 0.5s;

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__phone-icon {
    display: none;

    transition: transform 0.5s;

    @media (max-width: 800px) {
      display: block;
    }
  }

  &__phone-icon:hover {
    transform: scale(1.1);
  }

  &__phone:hover {
    color: $hover-color;
  }

  &__phone:active {
    color: $main-color;
    background-color: rgba(255,255,255,0.3);
  }

  &__picture {
    z-index: 2;

    @media (max-width: 800px) {
      width: 73px;
      height: 48px;
    }
  }
}
