.top {
  display: flex;
  justify-content: space-between;

  &__logo {
    margin-top: 24px;

    width: $logo-width;
    height: $logo-height;
  }

  &__phone {
    margin-top: 56px;
    margin-left: 80px;

    @include header-links;
  }

  &__order {
    margin-top: 56px;
    margin-right: 80px;

    @include header-links;
    transition: 400ms;

    &:hover {
      color: $grey-color;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      margin-top: 3px;
      height: 1px;
      background-color: white;
    }
  }

  &__burger {
    display: none;
  }

  &__mobile-icon {
    display: none;
  }
}

@media (max-width: 900px) {
  .top {
    &__phone,
    &__order {
      display: none;
    }

    &__mobile-icon {
      display: inline-block;
      margin-top: 39px;
      margin-left: 23px;

      width: 18px;
      height: 18px;
      background: url(/images/phone.png) no-repeat;
    }

    &__burger {
      display: inline-block;
      margin-top: 42px;
      margin-right: 23px;

      width: 18px;
      height: 18px;
      background: url(/images/burger.png) no-repeat;
    }
  }

  .navigation {
    display: none;
  }
}
