.heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 26px;
    height: 16px;
    margin: 7px auto;
    background: url("../images/crown.svg") no-repeat center;
    background-size: cover;
  }
}
