.hero {
  width: 100%;
  height: 720px;
  background-image: url('../images/bose-hero.png');
  background-size: cover;
  background-position: center;
  font-family: $font-main;

  &-content {
    margin: 350px $space-xl 0;

    img {
      width: 63px;
      height: 76px;
    }

    p {
      font-size: 3rem;
      font-weight: 800;
      font-style: italic;
      color: $c-black;
      font-family: $font-main;
    }
  }
}

@media (min-width: $breakpoint-sm) and (max-width: calc(#{$breakpoint-lg} - 1px)) {
  .hero {
    height: 100vh;
    width: 100%;
    max-height: $breakpoint-md;
    background-position: center;

    &-content {
      margin-top: 600px;
      margin-left: $space-lg;
    }
  }
}

@media (max-width: calc(#{$breakpoint-sm} - 1px)) {
  .hero {
    height: 100vh;
    max-height: 568px;
    background-position: center;

    &-content {
      margin-left: $space-md;
      margin-top: 278px;

      p {
        font-size: 32px;
      }
    }
  }
}
