@import "utils";
@import "_reset";
@import "header";
@import "toggle";
@import "blue-header";
@import "nav";
@import "main";
@import "footer";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: $mainFontFamily;
  color: $mainTextColor;
}

body {
  background: #f2f2f2;
}
