@import "utils";
@import "container";
@import "_reset";
@import "typography";
@import "header";
@import "nav";
@import "mobile";
@import "main";
@import "footer";

html {
  scroll-behavior: smooth;
  font-family: $mainFontFamily;
  color: $mainTextColor;
}

body {
  background: #f2f2f2;
}
