.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &__tooltip {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: end;
    text-transform: uppercase;
    line-height: 27px;
    display: block;
    color: white;
    width: max-content;
    padding-right: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
  }

  &:hover &__tooltip {
    opacity: 1;
    pointer-events: all;
  }

  &--menu {
    background-image: url(../images/menu.svg);
    transition: background-image $duration;

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--phone {
    background-image: url(../images/phone.svg);
  }

  &--cross {
    background-image: url(../images/cross.svg);
    grid-column-start: 3;
  }
}
