.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    height: 28px;
    background-image: url(../images/Icon-Burger-menu.svg);

    @include onTablet() {
      width: 32px;
      height: 32px;
    }

    @include onDesktop {
      width: 32px;
      height: 32px;
    }

    &:hover {
      background-image: url(../images/Icon-Burger-menu-hover.svg);
    }
  }

  &--phone {
    background-image: url(../images/Icon-Phone-call.svg);
  }

  &--cross {
    background-image: url(../images/Icon-Close.svg);
  }
}
