.icon {
  display: block;
  height: 18px;
  width: 18px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    height: 24px;
    width: 24px;
  }

  &--menu {
    background-image: url(../images/menu__bose.svg);

    &:hover {
      background-image: url(../images/burg__hover.svg);
    }
  }

  &--phone {
    margin-right: 30px;
    background-image: url(../images/bose__call.svg);
  }

  &--cross {
    background-image: url(../images/Cross.svg);
  }
}
