.images {
  display: flex;
  justify-content: space-between;
  gap: $img_gap;
  overflow: hidden;

  &__img {
    width: calc(50% - $img_gap / 2);
    height: 256px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;

    &--wide {
      width: calc(67% - $img_gap / 2);
    }

    &--narrow {
      width: calc(33% - $img_gap / 2);
    }

  }
}
