.images {
  display: flex;
  justify-content: space-between;
  gap: $img_gap;

  &__img {
    @extend %imgShadow;
    width: calc(50% - #{$img_gap} / 2);
    height: 256px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    cursor: pointer;

    &--wide {
      width: calc(67% - #{$img_gap} / 2);
    }

    &--narrow {
      width: calc(33% - #{$img_gap} / 2);
    }

    @media screen and (max-width: $mediaBreakpoint-1) {
      width: calc(50% - #{$img_gap} / 2);
      height: 130px;
    }
  }
}
