.img {
  height: $images-height;
  object-fit: cover;
  border-radius: 8px;
  transition: transform $duration, width 1s, height 1s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,1);
  }

  @media (max-width: 900px) {
    & {
      width: $middle-image-width;
    }
  }

  @media (max-width: 600px) {
    & {
      min-width: $min-image-size;
      height: $min-image-size;
    }
  }
}
