@import "./utils/reset";
@import "./blocks/header";
@import "./blocks/title";
@import "./blocks/main";
@import "./blocks/article";
@import "./blocks/details";
@import "./blocks/button";
@import "./utils/variables";

html {
  font-family: Poppins, sans-serif;
  background-color: #1d1d1d;
  color: $default-text-color;
}
