@import "./utils/reset.scss";
@import "./utils/normalize.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";

@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/footer.scss";

.logo {
  &__image {
    width: 130px;

    @include for-tablet {
      width: 190px;
    }
  }
}

.menu {
  display: block;
  background-position: 85% 0;
  background-color: #E5E5E5;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;

  }

}
