.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  padding: 100px 0;

  &__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;

  }

  &__link {
    text-decoration: none;
    color: $primary-color;

    @include hover(color, $primary-darker-color);
  }
}

@media screen and (max-width: $medium-screen) {
  .info {
    grid-template-columns: 1fr;

    &__topic {
      margin-top: 48px;
    }
  }
}
