.main {
  &__section-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

    @include forTablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include forMobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__text__title {
    @include forStyle(24px, 30px, 700);
    margin: 0;

    @include forMobile {
      margin-top: 32px;
    }
  }

  &__date__day {
    display: flex;
    column-gap: 25px;
  }

  &__block-first {
    grid-column: 6 / 12;
  }
}

.date {
  grid-column: 6 / 12;

  @include forTablet {
    grid-column: 4 / -1;
  }

  @include forMobile {
    grid-column: 1 / -1;
  }

  &__text {
    @include forStyle(16px, 27px, 700);

    margin-bottom: 0;
  }

  &__text-day,
  &__holiday-text {
    @include forStyle(16px, 27px, 400);
    color: $textColor;
  }

  &__holiday,
  &__holiday-text {
    margin-top: 0;
  }
}

.plan {
  grid-column: 1 / 6;

  @include forTablet {
    grid-column: 1 / 4;
  }

  @include forMobile {
    grid-column: 1 / -1;
  }

  &__text {
    @include forStyle (12px, 140%, 700);
    color: #d12d35;

    @include forTablet {
      margin: 0;
    }
  }

  &__title {
    @include forStyle (48px, 48px, 700);

    @include forTablet {
      margin: 0;
    }

    @include forMobile {
      @include forStyle (32px, 32px, 700);

      letter-spacing: -1.5px;
    }
  }
}
