.info {

  @include space-between;

  &__title {
    max-width: 328px;

    align-self: flex-start;
    font-size: $section-title-size;
    line-height: $section-title-size;
    letter-spacing: -1.5px;
  }

  &__link {
    text-decoration: none;
    color: $highlight-color;
  }
}

@media (max-width: $mobile-bigger-width) {

  .info {
    flex-direction: column;
    justify-items: center;
    
    &__title {
      justify-self: start;
      margin: 64px 0 48px;
    }
  }
}
