@import "utils";

.information {
  padding: 156px 160px;
  display: flex;
  justify-content: center;

  &__heading {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000;
    margin-right: 62px;
  }

  &__link {
    color: $main-color;
  }

  &__description {
    width: 564px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    &:last-child {
      font-weight: medium;
    }
  }

  @media screen and (max-width: $break-point) {
    & {
      flex-direction: column;
      align-items: center;
      padding: 20px;

      &__heading {
        margin: 0;
      }
    }

    &__container {
      width: 100%;
    }

    &__description {
      width: 100%;
      text-align: justify;
    }

  }

}
