.information {
  display: grid;
  grid-template-areas: "phone address"
    "email address";
  gap: 20px 60px;
  grid-auto-rows: 65px;

  &__phone {
    grid-area: phone;
  }

  &__address {
    grid-area: address;
  }

  &__email {
    grid-area: email;
  }

  &__heading {
    @include normalFontStyle(14px, 17px);
    color: #9fadc2;
    margin-bottom: 20px;
  }
}
