.info {
  display: flex;
  justify-content: space-between;

  &__title {
    @extend %h2;
    width: 338px;
    padding-right: 10px;

    &-link {
      color: $mainBlue;
    }
  }
  &__text {
    max-width: 500px;
    > p:last-child {
      margin-bottom: 0;
    }
  }
  &__subtitle {
    @extend %h3;
  }
}

@media (max-width: $smallScreen) {
  .info {
    flex-direction: column;
    &__title {
      padding-bottom: 48px;
      width: 100%;
    }
    &__text {
      max-width: 100%;
    }
  }
}
