.information {
  display: inline-block;
  line-height: 27px;

  &__title {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 20px;
    color: #9fadc2;
  }

  &__text {
    width: 200px;
    margin-top: 8px;
    color: #3e3e3e;
  }
}
