.main {
  &__section-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;

    // @include forMobile {
    //   grid-template-columns: 1fr;
    // }

    // @include forMobile {
    //   display: grid;
    //   grid-template-columns: 1fr;
    //   // padding: 20px 20px;
    //   // width: 280px;
    // }

    &__text__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  &__date__day {
    display: flex;
  }

  &__block-first {
    grid-column: 6 / 12;
  }
}

  .date {
    grid-column: 6 / 12;
    line-height: 16px;

    &__text {
      font-size: 1rem;
      font-weight: 700;
    }

    &__text-day,
    &__holiday-text {
      font-weight: 400;
      font-size: 1rem;
      color: #161616;
    }

    &__right {
      margin-left: 25px;
    }
  }
  .plan {
    grid-column: 1 / 6;
    line-height: 2px;

    &__text {
      font-size: 12px;
      font-weight: 700;
      color: #d12d35;
    }

    &__title {
      font-size: 48px;
      font-weight: 700;

      @include forMobile {
        font-size: 32px;
      }
    }
  }

  .main__block-first {
    margin-bottom: 40px;
  }
