.input-info {
  display: block;
  width: 413px;
  height: 48px;
  background-color: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding-left: 17px;
  font-size: 13px;
  line-height: 14px;

  &:focus {
    outline-color: $blueColor;
  }

  @media (max-width: $smallScreens) {
    width: 100%;
    display: inline-block;
  }
}
