.input {
  box-sizing: border-box;
  padding: 24px;

  background-color: #eee;
  
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: center;

  color: #393939;

  text-transform: uppercase;

  &::-webkit-input-placeholder {
    color: #393939;
    opacity: 0.4;
  }

  &__textarea {
    height: 164px;
  }
}
