.input {
  background: #f7f8ff;
  border: 1px solid #ffff;
  border-radius: 8px;
  height: 48px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding-left: 38px;
  box-sizing: border-box;

  &::placeholder {
    color: #b9c1ce;
  }

  &__texterea {
    height: 144px;
    padding-top: 14px;
    margin-bottom: 16px;
  }
}
