.input {
  font-size: 14px;
  line-height: 14px;
  padding: 17px;
  background-color: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.input::placeholder {
  color: #b9c1ce;
}

.input__textarea {
  height: 144px;
}
