.introduce {
  display: flex;
  justify-content: space-between;

  &__header {
    width: 314px;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
    margin-top: 10px;
  }

  &__text {
    max-width: 584px;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 1023px) {
  .introduce {
    flex-direction: column;
    margin-top: 0;

    &__text {
      width: 100%;
    }
  }
} 
