.link {
  text-decoration: none;
  color: $c-blue;
  font-weight: bold;

  padding-bottom: 1px;
  border-bottom: 1px solid transparent;

  transition: border-color 0.3s linear;

  &:hover {
    border-color: $c-blue;
  }
}
