@import "vars";

.link {
  color: $highlight-color;
  text-decoration: none;
  transition: color $hover-duration;
  outline-color: rgba($color: #d5c5aa, $alpha: 0.3);

  &:hover {
    color: $highlight-hover-color;
  }

}
