@import "utils";

.link {
  color: $highlight-color;
  text-decoration: none;
  transition: 2s;
  
  &:hover {
    opacity: 0.7;
  }
  &:active {
    color: $activ-color;
  }
  &:visited {
    color: $visited-color;
  }
}
