.logo {
  height: $big-logo-heigh;
  width: $big-logo-width;
  background: url(../images/logo.png) no-repeat;
  background-size: 100%;
}

@media (max-width: $mobile-size-breackpoint) {
  .logo {
    width: $small-logo-width;
    height: $small-logo-heigh;
    margin: 0 auto;
  }
}
