.logo {
  width: 115px;
  height: 76px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;

  @media (max-width: 764px) {
    width: 73px;
    height: 48px;
  }
}
