.logo {
  width: 110px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: $mobile-breakpoint) {
    &.active {
      margin-top: 50px;
      position: fixed;
    }
  }
  
}
