body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.form__field {
  margin-bottom: 8px;
}

.input,
.textarea {
  text-align: center;
  line-height: normal;
  height: 52px;
  font-size: 16px;
  background-color: #eee;
  font-weight: 600;
  color: #393939;
  text-transform: uppercase;
  width: 100%;
  border: none;
}
.input::placeholder,
.textarea::placeholder {
  font-size: 14px;
}

.textarea {
  height: 100px;
  padding-top: 11px;
  border: none;
}

.button {
  font-size: 14px;
  line-height: 52px;
  height: 52px;
  display: block;
  background-color: #00aaef;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  width: 100%;
  border: 0;
  cursor: pointer;
  transition: background-color, 0.4s;
}
.button:hover {
  background-color: #006189;
}
.button:active {
  background-color: #fff;
  border: 1px solid #00aaef;
  color: #00aaef;
  box-sizing: border-box;
}
.button__inline {
  padding: 0 60px;
  display: inline-block;
  width: auto;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section {
  padding: 130px 0;
  position: relative;
}
.section:nth-child(odd) {
  background-color: #eee;
}
.section .best__description {
  display: flex;
}
.section .best__intro {
  width: 33%;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 100;
}
.section .best__intro strong {
  font-weight: 600;
}
.section .best__intro span {
  font-weight: 100;
  color: #1dabec;
}
.section .best__text {
  width: 66%;
}
.section__left {
  float: left;
  width: 50%;
}
.section__right {
  float: right;
  width: 33%;
}
.section__title {
  position: absolute;
  left: 50%;
  top: -1.5em;
  transform: translate(-50%, 0);
  font-weight: 100;
  color: #000;
  padding-bottom: 14px;
  font-size: 48px;
  line-height: 1;
}
.section__title--img {
  position: absolute;
  display: block;
  background: url(../images/part_of_title.svg) no-repeat 50%;
  width: 23px;
  height: 16px;
  bottom: 0;
  left: 50%;
  margin-bottom: -12px;
  transform: translate(-50%, 0);
}
.section__title::after, .section__title::before {
  content: "";
  width: calc(50% - 20px);
  position: absolute;
  height: 2px;
  background: #1cabec;
  bottom: 0;
}
.section__title::before {
  left: 0;
}
.section__title::after {
  right: 0;
}

.textual {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
.textual h2 {
  font-size: 32px;
  line-height: 1.1;
  font-weight: normal;
  margin-bottom: 1em;
}
.textual p {
  margin-bottom: 1em;
}
.textual p a {
  text-decoration: none;
  color: #000;
}
.textual ol {
  list-style: decimal;
  padding-left: 5px;
}
.textual ol li {
  margin-bottom: 3px;
}
.textual ol,
.textual ul {
  margin-bottom: 2em;
}
.textual-big {
  font-size: 24px;
  line-height: 1.3;
}

.hero {
  background: url(../images/bg_header.jpg) no-repeat 50% 100%;
  background-size: cover;
  position: relative;
}
.hero .container {
  position: relative;
  height: 100vh;
  min-height: 500px;
}

.header {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
}
.header__logo {
  position: absolute;
  top: -46px;
  left: 50%;
  transform: translate(-50%, 0);
}
.header__logo--img {
  height: 80px;
  text-align: center;
}
.header__phone {
  float: left;
  text-decoration: none;
  color: #fff;
  transition: color 0.4s;
}
.header__phone:hover {
  color: gray;
}
.header__call {
  float: right;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px dashed #fff;
  transition: border-color 0.4s, color 0.4s;
}
.header__call:hover {
  color: gray;
  border-color: #606060;
}

.main-menu {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.main-menu a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.4s;
}
.main-menu a:hover {
  color: gray;
}

.apart__photos {
  display: flex;
}
.apart h2 {
  font-weight: 600;
  font-size: 16px;
}
.apart h2 .apart__map {
  color: #00aaef;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  transition: box-shadow, 0.4s;
}
.apart h2 .apart__map:hover {
  box-shadow: 0 3px 2px 0 rgba(0, 170, 239, 0.67);
}
.apart__photo {
  height: 263px;
  margin-bottom: 12px;
  flex: 1;
}
.apart__photo:first-child {
  margin-right: 16px;
}
.apart__photo--top-right, .apart__photo--center-left, .apart__photo--bottom-right {
  flex-grow: 1;
}
.apart__photo--top-left, .apart__photo--center-right, .apart__photo--bottom-left {
  flex-grow: 2;
}
.apart__photo--top-left {
  background: url(../images/apart1.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.apart__photo--top-right {
  background: url(../images/apart2.jpeg) no-repeat 50% 50%;
  background-size: cover;
}
.apart__photo--center-left {
  background: url(../images/apart3.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.apart__photo--center-right {
  background: url(../images/apart4.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.apart__photo--bottom-left {
  background: url(../images/apart5.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.apart__photo--bottom-right {
  background: url(../images/apart6.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.gallery__bottom {
  width: 192px;
  margin: 31px auto 0;
}

.testimonials__wrapper {
  display: flex;
  justify-content: space-between;
}
.testimonials__person {
  text-align: center;
  padding: 0 2%;
  max-width: 309px;
}
.testimonials__person--photo {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  background-size: cover;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
.testimonials__person--photo:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  margin-top: -15px;
  width: 40px;
  height: 40px;
  background: url(../images/quote.svg) no-repeat;
  background-size: contain;
}
.testimonials__person .photo-1 {
  background: url(../images/person1.png) no-repeat 50%;
}
.testimonials__person .photo-2 {
  background: url(../images/person2.png) no-repeat 50% 50%;
}
.testimonials__person .photo-3 {
  background: url(../images/person3.png) no-repeat 50% 50%;
}
.testimonials__person--name {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
.testimonials__person--position {
  margin-top: 5px;
  font-style: italic;
  font-size: 16px;
  color: #696973;
}
.testimonials__person--description {
  line-height: 1.37;
  font-size: 16px;
  color: #000;
  margin-top: 25px;
}

.wrapper-footer {
  background-color: #fff;
  position: relative;
  z-index: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
  padding-bottom: 540px;
}

.footer {
  height: 540px;
  background: url(../images/footer.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: fixed;
  bottom: 0;
  z-index: 100;
  left: 0;
  right: 0;
}
.footer__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__copy {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 16px;
  bottom: 66px;
  position: absolute;
  left: 0;
  right: 0;
}

@media (max-width: 980px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 780px) {
  .main-menu {
    position: absolute;
    display: block;
    top: 200px;
    margin: 0;
    padding: 0;
  }
  .main-menu li {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
  }

  .header {
    padding: 0 20px;
  }

  .header__logo {
    left: 45%;
    transform: none;
    top: -55px;
  }

  .section {
    padding: 60px 0;
  }
}
@media (max-width: 720px) {
  .hero:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
  }

  .header__logo {
    left: 20px;
    transform: none;
    top: -80px;
  }
  .header__logo--img {
    height: 70px;
  }
  .header__phone {
    float: right;
    margin-bottom: 10px;
    margin-top: -80px;
    padding-top: 10px;
  }
  .header__call {
    clear: right;
    margin-top: -40px;
  }

  .apart__photo {
    height: 100px;
  }

  .section__left, .section__right {
    float: none;
    width: auto;
    margin-bottom: 30px;
  }

  .testimonials__wrapper {
    display: block;
    width: 258px;
    margin: 20px auto 0;
  }
  .testimonials__person {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .section__title {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .best__description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .best__intro {
    margin-bottom: 10px;
    margin-left: -145px;
    width: 100%;
  }
  .best__text {
    text-align: justify;
    width: 100%;
  }

  .contact .container .section__left {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .main-menu li a {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
