h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 540px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.hero {
  background-size: cover;
  background-position: 50% 100%;
  background-image: url(../images/hero.svg);
  background-repeat: no-repeat;
}
.hero .container {
  position: relative;
  height: 100vh;
  min-height: 600px;
  margin: 0 25px;
}
@media screen and (min-width: 960px) {
  .hero .container {
    margin: 0 auto;
  }
}
.hero a:hover {
  color: #1cabec;
  cursor: pointer;
}

.header {
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__phone {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}
.header__call {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed #fff;
  opacity: 0.6;
  text-transform: uppercase;
}

.nav {
  position: absolute;
  bottom: 45%;
  left: 50%;
  list-style: none;
  transform: translate(-50%, 50%);
  text-align: center;
}
@media screen and (min-width: 720px) {
  .nav {
    position: absolute;
    bottom: 60px;
    transform: translate(0, 0);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}
.nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 26px;
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 720px) {
  .nav a {
    font-size: 16px;
  }
}

.icon {
  font-size: 80px;
  fill: red;
}

.form__field {
  margin-bottom: 10px;
}

.input,
.textarea {
  text-align: center;
  line-height: normal;
  height: 52px;
  background-color: #eee;
  font-weight: 600;
  color: #393939;
  text-transform: uppercase;
  width: 100%;
}
.input::placeholder,
.textarea::placeholder {
  font-size: 14px;
}

.textarea {
  height: 100px;
  padding: 20px;
}

.contact .container {
  display: grid;
}
@media screen and (min-width: 360px) {
  .contact .container {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    margin: 0 25px;
  }
}
@media screen and (min-width: 580px) {
  .contact .container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }
}
@media screen and (min-width: 980px) {
  .contact .container {
    grid-column-gap: 271px;
    margin: 0 auto;
  }
}

.consultation .container {
  display: grid;
  align-items: baseline;
}
@media screen and (min-width: 360px) {
  .consultation .container {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-gap: 30px;
    margin: 0 25px;
  }
}
@media screen and (min-width: 620px) {
  .consultation .container {
    grid-template-columns: 1.3fr 1fr;
    margin: 0 auto;
    grid-column-gap: 40px;
  }
}
@media screen and (min-width: 720px) {
  .consultation .container {
    grid-template-columns: 1.3fr 1fr;
    grid-column-gap: 72px;
  }
}

.button {
  font-size: 14px;
  line-height: 52px;
  height: 52px;
  display: block;
  background-color: #00aaef;
  color: #fff;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  transition: transform, background-color;
  transition-duration: 0.5s;
}
.button:hover {
  transform: translate(0, 10px);
  background-color: #108ee9;
}
.button_inline {
  width: auto;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  padding: 0 60px;
}
.button_inline:hover {
  animation: pulsing 1.5s infinite;
}

.wrapper {
  background-color: #fff;
  position: relative;
  z-index: 4;
  box-shadow: 0 0 10px bisque;
}

.textual {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
.textual h2 {
  font-size: 32px;
  line-height: 1.1;
  font-weight: normal;
  margin-bottom: 1em;
}
.textual p {
  margin: 0 0 1em;
}
.textual ol {
  list-style: decimal;
}
.textual ol,
.textual ul {
  margin-bottom: 1em;
  padding: 0;
}
.textual_big {
  font-size: 24px;
  line-height: 1.3;
}
.textual_big a {
  text-decoration: none;
  color: #000;
}

.footer {
  height: 540px;
  background-image: url(../images/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__logo {
  height: 78px;
}
.footer__copy {
  position: absolute;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  bottom: 66px;
}

.section {
  padding: 130px 0;
  position: relative;
}
@media screen and (min-width: 360px) {
  .section {
    padding: 90px 0;
  }
}
@media screen and (min-width: 720px) {
  .section {
    padding: 130px 0;
  }
}
.section:nth-child(odd) {
  background: #eee;
}
.section__title {
  position: absolute;
  left: 50%;
  top: -1.4em;
  transform: translate(-50%, 0);
  font-size: 48px;
  font-weight: 100;
  color: #000;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.section__title::before, .section__title::after {
  content: "";
  width: calc(50% - 20px);
  position: absolute;
  height: 2px;
  background-color: #1cabec;
  bottom: 0;
}
.section__title::before {
  left: 0;
}
.section__title::after {
  right: 0;
}
.section__title .icon {
  position: absolute;
  bottom: 0;
  font-size: 13px;
  margin-bottom: -11px;
  left: 50%;
  transform: translate(-50%, 0);
}

.best .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  margin: 0 25px;
}
@media screen and (min-width: 1024px) {
  .best .container {
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    grid-gap: 0 90px;
  }
}

.best__motto {
  font-size: 48px;
  font-weight: 100;
  text-transform: uppercase;
}
.best__motto strong {
  font-weight: 600;
}
.best__motto span {
  color: #1dabec;
  font-weight: 100;
}

.apart + h2 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
.apart + h2 span {
  font-weight: 300;
  color: #1cabec;
}

.apart {
  display: grid;
  grid-column-gap: 20px;
  height: 262px;
}
.apart__photos {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.apart:nth-of-type(1) {
  grid-template-columns: 2fr 1fr;
}
.apart:nth-of-type(2) {
  grid-template-columns: 1fr 1fr;
}
.apart:nth-of-type(3) {
  grid-template-columns: 1fr 2fr;
}
.apart__button {
  text-align: center;
}

.testis {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  justify-items: center;
  grid-gap: 30px;
  margin: 0 25px;
}
@media screen and (min-width: 480px) {
  .testis {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 0 30px;
  }
}
@media screen and (min-width: 680px) {
  .testis {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    margin: 0 auto;
  }
}
.testis .t {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.testis .t__position {
  font-size: 16px;
  line-height: 22px;
  margin-top: -15px;
  font-style: italic;
  color: #696973;
}
.testis .t__photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.testis .t__photo:before {
  content: url(../images/quete.svg);
  position: absolute;
  left: -35px;
  top: 50%;
  margin-top: -15px;
  width: 20px;
  height: 20px;
}

@keyframes pulsing {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 206, 209, 0.4);
  }
  50% {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 0 10px rgba(0, 206, 209, 0);
    background-color: #108ee9;
  }
  100% {
    transform: scale(1, 1);
    box-shadow: 0 0 0 0 rgba(0, 206, 209, 0);
    background-color: #1cabec;
  }
}

/*# sourceMappingURL=main.css.map */
