.main {

  &__info {
    padding: 100px 0 52px;
  }

  &__gallery {
    padding: 100px 0 52px;
  }

  &__consultation {
    padding: 100px 0 52px;
  }

  &__testimonials {
    padding: 100px 0 52px;
  }

  &__contact-us {
    padding: 100px 0 52px;
  }

  @media (max-width: 500px) {
    &__info {
      padding: 20px 0;
    }
  
    &__gallery {
      padding: 20px 0;
    }
  
    &__consultation {
      padding: 20px 0;
    }
  
    &__testimonials {
      padding: 20px 0;
    }
  
    &__contact-us {
      padding: 20px 0;
    }
  }
}
