@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@400;500;700&display=swap");
h1,
h2,
h3 {
  margin: 0;
}

.page {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
  background-color: #1D1D1D;
}
.page__body--with-menu {
  overflow: hidden;
}
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.33s;
}
.page__menu:target {
  transform: translateX(0);
}
.page__container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page__container {
    padding: 0 72px;
  }
}
@media (min-width: 1024px) {
  .page__container {
    padding: 0 120px;
  }
}
.page__container--header-menu {
  padding-top: 29px;
}
@media (min-width: 768px) {
  .page__container--header-menu {
    padding-top: 36px;
  }
}
@media (min-width: 1024px) {
  .page__container--header-menu {
    padding-top: 36px;
  }
}
.page__container--motivation {
  padding-top: 60px;
}
@media (min-width: 768px) {
  .page__container--motivation {
    padding-top: 120px;
  }
}
@media (min-width: 1024px) {
  .page__container--motivation {
    padding-top: 120px;
  }
}
.page__container--comparing {
  padding-top: 60px;
}
@media (min-width: 768px) {
  .page__container--comparing {
    padding-top: 120px;
  }
}
@media (min-width: 1024px) {
  .page__container--comparing {
    padding-top: 120px;
  }
}
.page__container--details {
  padding-top: 92px;
}
@media (min-width: 768px) {
  .page__container--details {
    padding-top: 120px;
  }
}
@media (min-width: 1024px) {
  .page__container--details {
    padding-top: 144px;
  }
}
.page__container--contact {
  padding-top: 80px;
  padding-bottom: 120px;
}
@media (min-width: 768px) {
  .page__container--contact {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1024px) {
  .page__container--contact {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
.page__section-title {
  margin: 0;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -1.5px;
}
@media (min-width: 768px) {
  .page__section-title {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 1024px) {
  .page__section-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
  }
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.logo__image {
  height: 38px;
}
@media (min-width: 768px) {
  .logo__image {
    height: 56px;
  }
}

.icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 1024px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
.icon__phone {
  background-image: url(../images/phone.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}
.icon__phone--margin {
  margin-right: 40px;
}
.icon__tooltip {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transform: translateX(-100%);
  padding: 0 12px;
  color: #1D1D1D;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.33s;
}
@media (min-width: 1024px) {
  .icon:hover .icon__tooltip {
    pointer-events: none;
    opacity: 1;
  }
}
.icon__menu {
  background-image: url(../images/menu.svg);
}
.icon__menu:hover {
  background-image: url(../images/menu_hover.svg);
}
.icon__cross {
  background-image: url(../images/cross.svg);
}

.header {
  background-size: cover;
  background-position: center;
  background-image: url(../images/header_bg.png);
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 0 0 88px;
}
@media (min-width: 768px) {
  .header__content {
    padding: 0 0 88px;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 44px;
}
.header__top-links {
  display: flex;
  justify-content: end;
}
.header__title {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  color: #292929;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 80px;
  }
}

.menu {
  font-family: "Poppins", sans-serif;
  background-color: #C2C2C2;
  /* Move these rules from .menu__content */
  /* Add this rule to add scroll when there is not enough space */
}
.menu__content {
  height: 100vh;
}
.menu__list {
  list-style: none;
  padding: 0;
}
.menu__link {
  display: inline-block;
  margin-bottom: 24px;
  color: #1D1D1D;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 8 8 0;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
}
.menu__link:hover {
  border-bottom: 1px solid #1D1D1D;
}
@media (min-width: 1024px) {
  .menu__link {
    font-family: Poppins;
  }
}
.menu__small-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Inter", sans-serif;
  display: block;
  color: #1D1D1D;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
}
.menu__small-link--test {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}
.menu__small-link--test::after {
  content: "";
  margin-top: 8px;
  height: 1px;
  display: block;
}

.motivation__title {
  text-align: left;
  margin-bottom: 32px;
}
.motivation__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}

.comparing__title {
  margin-bottom: 48px;
}
.comparing__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (min-width: 768px) {
  .comparing__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
@media (min-width: 1024px) {
  .comparing__cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

.details {
  color: #fff;
}
.details__title {
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .details__title {
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .details__title {
    margin-bottom: 48px;
  }
}
.details__container {
  position: relative;
  box-sizing: border-box;
  max-height: 130px;
  overflow: hidden;
}
.details__container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media (min-width: 768px) {
  .details__container {
    max-height: 187px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .details__container {
    max-height: 320px;
    padding-bottom: 0;
  }
}
.details__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.3s;
}
.details__photo:hover {
  transform: scale(1.075);
}
.details__subtitle {
  margin-bottom: 8px;
}
.details__descript {
  margin-bottom: 40px;
}
.details__explore-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media (min-width: 768px) {
  .details__explore-button {
    width: 66.66%;
  }
}
@media (min-width: 1024px) {
  .details__explore-button {
    width: 33.33%;
  }
}

.contacts__column-group {
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (min-width: 768px) {
  .contacts__column-group {
    flex-direction: row;
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  .contacts__column-group {
    flex-direction: row;
    gap: 198px;
  }
}
.contacts__title {
  margin-bottom: 48px;
}
.contacts__form {
  flex: 1;
}
.contacts__card {
  flex: 1;
}
.contacts__items-group {
  margin-bottom: 24px;
}
.contacts__item-title {
  margin: 0 0 8px;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.contacts__item-value {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.footer {
  background-size: cover;
  background-position: center;
  background-image: url("../images/footer-bg.png");
  height: 200px;
}
@media (min-width: 768px) {
  .footer {
    height: 488px;
  }
}
@media (min-width: 1024px) {
  .footer {
    height: 555px;
  }
}

.bikecard {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  line-height: 140%;
  color: #fff;
}
.bikecard__photo-container {
  display: block;
  align-self: center;
  margin-bottom: 32px;
  width: 280px;
}
.bikecard__photo {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}
.bikecard__photo:hover {
  transform: scale(1.1);
}
.bikecard__title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}
.bikecard__description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}
.bikecard__price {
  font-weight: 700;
  font-size: 24px;
}
@media (min-width: 768px) {
  .bikecard__photo-container {
    width: 392px;
  }
}
@media (min-width: 1024px) {
  .bikecard:nth-child(1) {
    grid-column: 1/1;
  }
  .bikecard:nth-child(2) {
    grid-column: 2/2;
  }
  .bikecard__photo-container {
    width: 324px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 768px) {
  .grid__item--T-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 768px) {
  .grid__item--T-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  .grid__item--T-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 768px) {
  .grid__item--T-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 768px) {
  .grid__item--T-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 768px) {
  .grid__item--T-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 768px) {
  .grid__item--T-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 768px) {
  .grid__item--T-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 768px) {
  .grid__item--T-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 768px) {
  .grid__item--T-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 768px) {
  .grid__item--T-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 768px) {
  .grid__item--T-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 768px) {
  .grid__item--T-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 768px) {
  .grid__item--T-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 768px) {
  .grid__item--T-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 768px) {
  .grid__item--T-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 768px) {
  .grid__item--T-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 768px) {
  .grid__item--T-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 768px) {
  .grid__item--T-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 768px) {
  .grid__item--T-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 768px) {
  .grid__item--T-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-7 {
    grid-column: 1/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-8 {
    grid-column: 1/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-9 {
    grid-column: 1/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-10 {
    grid-column: 1/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-11 {
    grid-column: 1/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-1-12 {
    grid-column: 1/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-7 {
    grid-column: 2/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-8 {
    grid-column: 2/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-9 {
    grid-column: 2/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-10 {
    grid-column: 2/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-11 {
    grid-column: 2/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-2-12 {
    grid-column: 2/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-7 {
    grid-column: 3/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-8 {
    grid-column: 3/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-9 {
    grid-column: 3/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-10 {
    grid-column: 3/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-11 {
    grid-column: 3/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-3-12 {
    grid-column: 3/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-7 {
    grid-column: 4/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-8 {
    grid-column: 4/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-9 {
    grid-column: 4/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-10 {
    grid-column: 4/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-11 {
    grid-column: 4/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-4-12 {
    grid-column: 4/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-5-7 {
    grid-column: 5/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-5-8 {
    grid-column: 5/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-5-9 {
    grid-column: 5/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-5-10 {
    grid-column: 5/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-5-11 {
    grid-column: 5/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-5-12 {
    grid-column: 5/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-6-7 {
    grid-column: 6/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-6-8 {
    grid-column: 6/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-6-9 {
    grid-column: 6/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-6-10 {
    grid-column: 6/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-6-11 {
    grid-column: 6/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-6-12 {
    grid-column: 6/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-7-7 {
    grid-column: 7/8;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-7-8 {
    grid-column: 7/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-7-9 {
    grid-column: 7/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-7-10 {
    grid-column: 7/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-7-11 {
    grid-column: 7/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-7-12 {
    grid-column: 7/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-8-8 {
    grid-column: 8/9;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-8-9 {
    grid-column: 8/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-8-10 {
    grid-column: 8/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-8-11 {
    grid-column: 8/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-8-12 {
    grid-column: 8/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-9-9 {
    grid-column: 9/10;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-9-10 {
    grid-column: 9/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-9-11 {
    grid-column: 9/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-9-12 {
    grid-column: 9/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-10-10 {
    grid-column: 10/11;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-10-11 {
    grid-column: 10/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-10-12 {
    grid-column: 10/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-11-11 {
    grid-column: 11/12;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-11-12 {
    grid-column: 11/13;
  }
}
@media (min-width: 1024px) {
  .grid__item--D-12-12 {
    grid-column: 12/13;
  }
}

.input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 16px;
  height: 48px;
  padding: 14px 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
  border: 0;
  background: #f8f8fa;
  border-radius: 40px;
  transition: all 0.33s;
}
.input::-moz-placeholder {
  color: #7E7E83;
  -moz-transition: all 0.33s;
  transition: all 0.33s;
}
.input:-ms-input-placeholder {
  color: #7E7E83;
  -ms-transition: all 0.33s;
  transition: all 0.33s;
}
.input::placeholder {
  color: #7E7E83;
  transition: all 0.33s;
}
.input:hover::-moz-placeholder {
  color: #292929;
}
.input:hover:-ms-input-placeholder {
  color: #292929;
}
.input:hover::placeholder {
  color: #292929;
}
.input:focus {
  outline: none;
}
.input--textarea {
  resize: none;
  border-radius: 16px;
  margin-bottom: 32px;
  height: 148px;
}
.input--button {
  height: 56px;
  border-radius: 28px;
  cursor: pointer;
  margin-bottom: 0;
  background-color: #fff;
  color: #1D1D1D;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  transition: all 0.3s;
}
.input--button:hover {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
}
.input--button:active {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
}/*# sourceMappingURL=main.css.map */