@import "./variables.scss";

.main {
  padding: 0 120px;

  @include main_font;

  &__article {
    padding-top: 104px;
    margin: 0 auto;
  }

  &__gallery,
  &__consultation,
  &__testimonials,
  &__contacts {
    margin: 152px auto 0;
  }

  &__contacts {
    margin-bottom: 88px;
  }

  @media screen and (min-width: 1400px) {
    &__article {
      max-width: 1020px;
    }

    &__consultation,
    &__testimonials,
    &__contacts,
    &__gallery {
      max-width: 1020px;
      margin-top: 152px;
    }
  }

  @media screen and (max-width: $small-screen) {
    padding: 0 20px;

    &__gallery,
    &__consultation,
    &__testimonials,
    &__contacts {
      margin-top: 64px;
    }
  }
}
