.marit {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 40px;
  }

  &--simple {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 110px;

    @include onDesktop {
      margin-bottom: 120px;
    }

  }
}
