@import "_variables";

@media screen and (max-width: 900px) {
  .header {
    padding: 0;
    &__navigation {
      display: none;
    }
    &__logo {
      width: 73px;
    }
    &__top {
      display: none;
      &-mobile {
        display: flex;
        padding: 24px 0;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        z-index: 2;
        img {
          height: 17px;
          flex-basis: auto;
        }
        img:nth-child(2) {
          height: 48px;
          flex-basis: auto;
        }
      }
    }
    &__text {
      width: 100%;
      padding-bottom: 80px;
      padding-left: 20px;

      font-size: 46px;
    }
  }
  .menu:checked ~ ul {
    display: block;
    position: fixed;
    align-self: center;
    padding: 96px 20px 0;
    margin: 0;
    width: 100%;
    height: 100vh;

    background-color: $blue;

    z-index: 1;
    li {
      font-size: 22px;
      padding: 16px 21px;
    }
    li:nth-child(7) {
      font-size: 12px;
      padding: 48px 21px 0;
      line-height: 16px;
    }
    li:last-child {
      text-align: left;
      font-size: 12px;
      line-height: 16px;
      padding-top: 16px;
    }
  }
  .menu:checked ~ article {
    position: fixed;
  }
  .menu:checked ~ .header__top-mobile label .header__top-3 {
    content: url(/images/cancel.svg);
    width: 26px;
  }
  .gallery {
    &__line {
      padding: 10px 10px 0;
      height: auto;
    }
    &__title {
      font-size: 36px;
    }
    .item-1,
    .item-2,
    .item-3,
    .item-4,
    .item-5,
    .item-6 {
      flex-basis: calc(50% - 10px);
      height: 131px;
    }
    &__underline {
      padding: 24px 20px;
    }
  }
  .about {
    flex-wrap: wrap;
    &__right,
    &__left {
      flex-basis: auto;
      margin: 48px 20px 0;
      width: 100%;
    }
  }
  .consultation {
    padding: 20px;
    &__table {
      flex-basis: 100%;
    }
    &__text {
      flex-basis: 100%;
    }
    &__form {
      flex-basis: 100%;
    }
  }
  .contacts {
    padding: 0 20px;
    &__grid {
      grid-template-columns: 1fr;
      padding-bottom: 32px;
      margin: auto;
      width: 65%;
    }
    &__item {
      flex-basis: 100%;
    }
  }
  .testimonials {
    &__container {
      justify-content: center;
    }
  }
  .form {
    width: 100%;
  }
  .footer {
    height: 232px;
  }
}
