@media (max-width: 1100px) {
  $container-width: calc( 100% - 100px);

  .header__top {
    width: $container-width;
    left: calc( (100% - #{$container-width}) / 2);
  }
  
  .header__title {
    left: calc( (100% - #{$container-width}) / 2);
  }

  .nav {
    width: $container-width;
    left: calc( (100% - #{$container-width}) / 2);
  }

  .info {
    width: $container-width;
    left: calc( (100% - #{$container-width}) / 2);
  }

  .gallery {
    width: $container-width;
    left: calc( (100% - #{$container-width}) / 2);
  }

  .testimonials {
    width: $container-width;
    left: calc( (100% - #{$container-width}) / 2);
  }

  .consultation {
    width: $container-width;
    left: calc( (100% - #{$container-width}) / 2);
  }

  .contact-us {
    width: $container-width;
    left: calc( (100% - #{$container-width}) / 2);
  }
}
