@media (max-width: 900px) {
  .header__nav,
  .header__number,
  .header__call {
    display: none;
  }

  .header {
    &__top {
      padding: 24px;
    }

    &__logo {
      z-index: 2;
      width: 73px;
      height: 48px;
    }

    &__bottom {
      padding: 0 24px;
    }

    &__title {
      font-size: 46px;
      line-height: 40px;
    }

    &__label {
      display: block;
    }

    &__mini-number {
      display: block;
    }

    &__container {
      display: block;
    }

    .nav__check-menu:checked ~ &__top &__container &__burger-line_first {
      display: none;
    }
  
    .nav__check-menu:checked ~ &__top &__container &__burger-line_second {
      transform: rotate(45deg);
    }
  
    .nav__check-menu:checked ~ &__top &__container &__burger-line_third {
      transform: rotate(-45deg);
    }
  
    .nav__check-menu:checked ~ &__top &__container &__burger-line_fourth {
      display: none;
    }
  }

  .nav {
    transition: visibility 2s;
    &__check-menu:checked ~ .header__bottom & {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      background-color: #0075ff;
    }

    &__item {
      margin-bottom: calc(32px - (32px - 22px) / 2);
    }

    &__list {
      position: relative;
      top: 120px;
      flex-direction: column;
    }

    &__link {
      letter-spacing: 2px;
      font-size: 22px;
      line-height: 32px;
      padding: 0 21px;
    }
    
    &__link_active {
      background-color: #0075ff;
      opacity: 1;
    }

    &__alter-bottom {
      font-size: 12px;
      line-height: 16px;
      margin-top: 21px;
      padding: 0 20px;
    }

    &__alter-number {
      display: flex;
      margin-bottom: 16px;
    }

    &__alter-call {
      display: inline-block;
    }
  }

  .description {
    flex-direction: column;
    width: 100%;
    padding: 64px 20px;

    &__title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 48px;
    }
  }

  .heading {
    padding-bottom: 53px;

    &__word {
      font-size: 36px;
      line-height: 36px;
    }
  }

  .gallery {
    padding: 0 20px 64px;

    &__img-big,
    &__img-small,
    &__img-medium {
      height: 131px;
    }
    &__cont-big,
    &__cont-small,
    &__cont-medium {
      width: calc(50% - 10px);
      height: 131px;
    }
  }

  .consultation {
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 85px;

    &__text {
      margin-bottom: 32px;
    }

    &__text br {
      display: none;
    }

    &__text,
    &__form,
    &__title {
      width: calc(100% - 20px * 2);
    }
  }

  .testemonials {
    padding: 0;
    flex-direction: column;
    text-align: center;
  
    &__item {
      margin-bottom: 48px;
    }
  }

  .contact-us {
    padding: 0;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;

    &__first-block,
    &__second-block {
      width: 100%;
      text-align: left;
    }

    &__first-block {
      margin-bottom: 24px;
    }

    &__second-block {
      margin-bottom: 32px;
    }

    &__text,
    &__form {
      width: calc(100% - 2 * 20px);
    }
  }
  
  .footer {
    width: 100%;
  }

  .form {
    &__phone,
    &__name,
    &__email {
      width: 100%;
    }

    &__button {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {

  .gallery {
    &__button {
      width: 100%;
    }
    
    &__button-link {
      line-height: 100%;
      width: 100%;
    }
  }
}
