@media (min-width: 320px) {
  .footer {
    height: 200px;
  }

  .container {
    margin: 0 23px;
    max-width: 1020px;
    padding: 0;

    @media (min-width: 1020px) {
      padding: 0 20px;
    }
  }

  .logo {
    &__ {
      width: 130px;
      height: 30px;
    }
  }

  .header {
    background-image: url(../images/320-bg-image.png);
    &__menu-opener {
      width: 18px;
      height: 12px;
    }

    &__call {
      width: 18px;
      height: 18px;
    }

    &__title {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -1.5px;
    }

  }

  .page {
    &__section {
      &-details-image-containers-big {
        width: 47%;
        object-fit: cover;
      }

      &-details-image-containers-small {
        width: 47%;
      }

      &__contact {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
  .page__section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .contacts {
    &__section-container-big {
      min-width: 300px;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__item--1-2 {
      box-sizing: border-box;
      width: 100%;
      min-width: 280px;
    }

    &__distance {
      box-sizing: border-box;
      min-width: 280px;
    }

    &__item--8-12 {
      box-sizing: border-box;
      min-width: 280px;
    }
  }

  .details__container-button {
    min-width: 280px;
  }
}

@media (min-width: 744px) {
  .header__title {
    font-size: 64px;
  }

  .container {
    margin: 0;
    max-width: 1020px;
    padding: 0;

    @media (min-width: 1020px) {
      padding: 0 20px;
    }
  }

  .logo {
    &__image {
      width: 187px;
      height: 56px;
    }
  }

  .footer {
    height: 480px;
  }

  .header {
    background-image: url(../images/640-bg-photo.png.png);
    &__menu-opener {
      width: 24px;
      height: 16px;
    }

    &__call {
      width: 24px;
      height: 24px;
    }
  }

  .contacts {
    &__section-container-big {
      min-width: 544px;
    }

    &__form-elements {
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: row;
    }

    &__container {
      min-width: 544px;
    }

    &__item--1-2 {
      min-width: 288px;
    }

    &__distance {
      min-width: 10%;
    }

    &__item--8-12 {
      min-width: 280px;
    }
  }

  .page {
    &__section {
      &-details-image-containers-big {
        width: 60%;
      }

      &-details-image-containers-small {
        width: 35%;
      }

      &-details-image-containers {
        display: flex;
        justify-content: space-between;
        width: 80%;
      }

      &-details-containers {
        width: 80%;
      }
    }
  }

  .options__container {
    width: 100%;
  }

  .page__section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .details__container-button {
    min-width: 392px;
  }
}

@media (min-width: 1260px) {
  .header__menu-opener {
    height: 16px;
    width: 24px;
  }

  .header {
    background-image: url(../images/1260-bg-phot-png.png);
  }

  .logo {
    &__image {
      width: 187px;
      height: 56px;
    }
  }

  .header__call {
    height: 24px;
    width: 24px;
    margin-right: 40px;
  }

  .header__content {
    width: 1020px;
  }

  .header__title {
    font-weight: 700;
    font-size: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1.5px;

  }

  .page__section-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .page__section-container :last-child() {
    margin: 0;
  }

  .page {
    &__section {
      &-details-image-containers-big {
        width: 63%;
      }

      &-details-image-containers-small {
        width: 33%;
      }

      &-details-containers {
        width: 1020px;
      }

      &-details-image-containers {
        display: flex;
        justify-content: space-between;
        width: 1020px;
        box-sizing: border-box;
      }
    }

    .container {
      margin: 0 23px;
      width: 1020px;
      padding: 0;

      @media (min-width: 1020px) {
        padding: 0 20px;
      }
    }
  }

  .page__section-container-card {
    max-width: 324px;
    margin-right: 24px;
  }

  .footer {
    height: 555px;
  }

  .details__container-button {
    min-width: 324px;
  }

  .contacts__item--1-2 {
    min-width: 411px;
    margin-right: 200px;
  }

  .top-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1024px;
  }

  .options__container {
    width: 1020px;
  }

  .cross {
    margin-left: 30px;
    background-repeat: no-repeat;
  }
}
