.nav {
  position: fixed; /* Change position to fixed */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e8eff9;

  &__header {
    height: 96px;
    display: flex;
    flex-direction: row;

    &-img {
      width: 190.08px;
      height: 24px;
      flex-shrink: 0;
      margin-left: 20px;
      margin-top: 28px;
    }

    &-close {
      margin-left: auto;
      margin-right: 20px;
      margin-top: 28px;
      width: 32px;
      height: 32px;
      display: inline-block;
      background: url(../images/photos/Icon-Close.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 20px;
    &-link {
      color: #292929;
      font-family: Inter, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px; /* 100% */
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 32px;
    }
  }
  &__footer {
    margin-left: 20px;
    &-num {
      color: #292929;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 27px; /* 168.75% */
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    &-txt {
      color: #292929;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px; /* 133.333% */
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &-line {
      background: #292929;
      width: 119px;
      height: 1px;
    }
  }
}

.nav:not(.open) {
  display: none;
  visibility: hidden;
}
@media (min-width: 743px) {
  .nav {
    &__header {
      height: 96px;
      display: flex;
      flex-direction: row;

      &-img {
        width: 188px;
        height: 24px;
        flex-shrink: 0;
        margin-left: 72px;
        margin-top: 32px;
      }

      &-close {
        margin-left: auto;
        margin-right: 72px;
        margin-top: 32px;
        width: 32px;
        height: 32px;
        display: inline-block;
        background: url(../images/photos/Icon-Close.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      margin-left: 72px;
      &-link {
        color: #292929;
        font-family: Inter, sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 100% */
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 32px;
      }
    }
    &__footer {
      margin-left: 72px;
      &-num {
        color: #292929;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px; /* 168.75% */
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      &-txt {
        color: #292929;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 133.333% */
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      &-line {
        background: #292929;
        width: 119px;
        height: 1px;
      }
    }
  }
}
@media (min-width: 1259px) {
  .nav {
    &__header {
      height: 96px;
      display: flex;
      flex-direction: row;

      &-img {
        width: 188px;
        height: 24px;
        flex-shrink: 0;
        margin-left: 120px;
        margin-top: 36px;
      }

      &-close {
        margin-left: auto;
        margin-right: 120px;
        margin-top: 36px;
        width: 32px;
        height: 32px;
        display: inline-block;
        background: url(../images/photos/Icon-Close.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      margin-left: 120px;
      &-link {
        color: #292929;
        font-family: Inter, sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 100% */
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 32px;
      }
    }
    &__footer {
      margin-left: 120px;
      &-num {
        color: #292929;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px; /* 168.75% */
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      &-txt {
        color: #292929;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 133.333% */
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      &-line {
        background: #292929;
        width: 119px;
        height: 1px;
      }
    }
  }
}
