.menu-icon {
  position: relative;
  cursor: pointer;

  z-index: 2;

  &__line-1 {
    @include icon-line;

    bottom: 2px;
  }

  &__line-2 {
    @include icon-line;
    bottom: calc(50% + 2px);
  }

  &__line-3 {
    @include icon-line;
    bottom: calc(100% + 2px);
  }

}
