@import "var";

.menu {
  position: relative;
  margin: 30px auto;

  &__toggler {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    display: none;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background-image: url("../images/menu.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      background-color: rgba(159, 173, 194, 0.1);
      border-radius: 8px;
    }

    @media screen and (max-width: $screen-break-point) {
      display: block;
    }
  }
}
