.info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &__heading {
    max-width: 328px;

    font-size: $general-title-size;
    font-weight: bold;
    letter-spacing: -1.5px;
    line-height: 48px;
  }

  &__anchor {
    color: #00aaef;
  }
}

@media screen and (max-width:$small-screen-break-point) {
  .info {
    flex-direction: column;
    gap: 20px;
  }
}
