@mixin onDesktop {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesktopBig {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin subTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}
