@mixin centered {
  display: flex;
  justify-content: center;
}

@mixin side-positioned {
  display: flex;
  justify-content: space-between;
}

@mixin centered-column {
  flex-direction: column;
  align-items: center;
}

@mixin cover-image {
  background-size: cover;
  background-position: center;
}
