@mixin delete_margin {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

@mixin form_position {
  &__form {
    display: grid;
    justify-content: center;
    gap: 16px;
  }

  &__form-input {
    width: 413px;
    height: 48px;
    padding-left: 17px;

    border: 1px solid $border-color;
    border-radius: 8px;
    background: #f7f8ff;
  }
}

@mixin burger-checked-position {
  display: block;
  position: absolute;
  left: 20px;
  
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 16px;
}

@mixin burger {
  #burger-toggle:checked ~ &__burger-container > &__button-burger {
    transform: rotate(45deg);
  }
  
  #burger-toggle:checked ~ &__burger-container > &__button-burger::before {
    top: 0;
    transform: rotate(0);
  }
  
  #burger-toggle:checked ~ &__burger-container > &__button-burger::after {
    top: 0;
    transform: rotate(90deg);
  }

  #burger-toggle:checked ~ &__nav {
    visibility: visible;
    background-color: blue;
    transition: 1s;
  }

  #burger-toggle:checked ~ &__main-text {
    display: none;
  }
  
  #burger-toggle:checked ~ &__top > &__number {
    @include burger-checked-position;

    bottom: 92px;
  }
  
  #burger-toggle:checked ~ &__top > &__call {
    @include burger-checked-position;

    bottom: 52px;
    padding-bottom: 8px;
  }

  #burger-toggle:checked ~ &__top > &__phone-icon {
    display: none;
  }
}
