.mobile-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 100vh;
  padding: 24px 24px 0 21px;

  animation: menu linear 0.8s forwards;

  @media (min-width: 426px) {
    padding: 24px 50px 56px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    position: absolute;
    bottom: 60px;

    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: $mobile-font;
    letter-spacing: $header-letter-spacing;
    color: $header-color;

    transition: color linear $transition-time;

    @media (max-width: 640px) {
      font-size: $header-font;
    }

    &:hover {
      color: $support-color;
    }
  }

  &__action {
    position: relative;
    align-self: start;
  }

  &__action:before {
    @extend  %underscore;
  }

  display: none;

}

@keyframes menu {
  0% {
    opacity: 0;
    top: -100%;
  }

  100% {
    top: 0;
    opacity: 1;
    background-color: $highlight-color;
  }
}

@keyframes close {
  100% {
    opacity: 0;
    top: -100%;
  }
}
