.mobile-header {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 80px;
    height: 45px;
  }

  &__icon {
    color: $lightColor;
    font-size: 20px;
  }

  &__button {
    &--close {
      display: none;
    }
  }

  @media (min-width: $smallWidth) {
    display: none;
  }
}
