.mobile-menu {
  padding-top: 120px;
  position: absolute;
  right: 0;
  left: 100%;
  top: 0;
  bottom: 0;
  background-color: $decorationColor;

  z-index: 1;

  transition: left 1s;

  &__link {
    display: block;
    padding: 10px 10px 10px 21px;
    margin-bottom: 12px;
    color: $headerCololor;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__phone,
  &__tell {
    margin-top: 26px;
    margin-bottom: 16px;
    padding-left: 21px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $headerCololor;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__checkbox {
    display: none;
  }

  &__label {
    display: none;
    background-image: url(../images/mobilemenu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 12px;
    width: 18px;
    cursor: pointer;
    z-index: 2;
  }

  &__checkbox:checked ~ & {
    left: 0;
  }

  &__checkbox:checked + &__label {
    background-image: url(../images/mobile-cross.svg);

  }
}

@media screen and (max-width: $smallScreenSize) {
  .mobile-menu {
    &__label {
      display: inline-block;
    }
  }
}
