.mobile-container {
  position: absolute;
  background-color: $mobMenuColor;
  width: 100%;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1);

  .header__toggler:checked ~ & {
    transform: none;
  }

  @media (min-width: $breakPoint) {
    display: none;
  }
}
