.mobile-header {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 100px;
    height: 65px;
  }

  &__icon {
    color: $whiteColor;
  }

  &__phone-icon {
    width: $iconSize;
    height: $iconSize;
  }

  &__button {
    &--open {
      width: $iconSize;
      height: $iconSize;
    }

    &--close {
      width: $iconSize;
      height: $iconSize;
      display: none;
    }
  }

  @media (min-width: $smallWidth) {
    display: none;
  }
}
