.mobile-nav {
  position: absolute;
  right: -100vw;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  padding-right: 10px;

  background-color: $blue;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  transition: transform 0.5s ease;

  
  &--active {
    transform: translateX(-100vw);
  }

  &__list {
    padding-top: 50px;
  }
  &__item {
    padding: 16px;
  }

  &__phone,
  &__action {
    font-size: 12px;
    line-height: 16px;
  }

  @media (max-width: 870px) {
    display: block;
  }
}
