.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  left: 100vw;
  z-index: 1;
  width: 100%;
  padding: 120px 20px;
  @include mobileMenuText;
  background-color: $accentColor;
  transition: left 1s;

  @media (max-width: 999px) {
    display: block;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    @include headerText;
    margin-bottom: 16px;

    &--underlined {
      &:after {
        content: "";
        display: block;
        width: 110px;
        height: 1px;
        background-color: white;
        top: $clickableAreaVertical;
      }
    }
  }
}
