.mobile-container {
  display: none;

  position: absolute;
  background-color: $mobMenuColor;
  width: 100%;
 
  .header__toggler:checked ~ & {
    display: flex;
  }
}

.mobile__toggler-label {
  position: absolute;
  right: 20px;

  cursor: pointer;
  
  @extend %mobileVector;
}
