.mobile {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: $colorBlue;

  &__logo {
    width: 73px;
    height: 48px;
    margin: 24px auto 48px;
    background-image: url(../images/logo.png);
    z-index: 2;
    @include backgroundImage;
  }

  &__list {
    list-style: none;
    margin-bottom: 6px;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: $colorWhite;
    cursor: pointer;
  }

  &__phone {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $colorWhite;
    text-decoration: none;
    cursor: pointer;
  }

  &__action {
    display: inline-block;
    margin-bottom: 52px;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: $colorWhite;
    cursor: pointer;

    &::after {
      display: inline-block;
      content: "";
      width: 114px;
      height: 1px;
      position: absolute;
      top: 120%;
      left: 0;
      background: $colorWhite;
    }
  }
}
