.item-1 {
  background-image: url(\images\photos\1.jpg);
  flex-basis: calc(65% - 20px);
  max-width: 800px;
  margin-right: 10px;
}

.item-2 {
  background-image: url(\images\photos\2.jpg);
  flex-basis: 35%;
  max-width: 400px;
}

.item-3 {
  background-image: url(\images\photos\3.jpg);
  flex-basis: calc(50% - 10px);
  max-width: 600px;
  margin-right: 10px;
}

.item-4 {
  background-image: url(\images\photos\4.jpg);
  flex-basis: calc(50% - 10px);
  max-width: 600px;
}

.item-5 {
  background-image: url(\images\photos\5.jpg);
  flex-basis: 35%;
  max-width: 400px;
  margin-right: 10px;
}

.item-6 {
  background-image: url(\images\photos\6.jpg);
  flex-basis: calc(65% - 20px);
  max-width: 800px;
}

.blue {
  color: $blue;
}
