.main {
  &__section-2 {
    margin-top: 140px;
  }

  .main__section-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include forTablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__section-title {
    grid-column: 5 / 9;
    text-align: center;

    @include forTablet {
      grid-column: 2 / 6;
    }
  }

  .section__view {
    @include forStyle(48px, 48px, 700);
    letter-spacing: -1.5px;
    margin-bottom: 0;

    color: $textColor;

    @include forMobile {
      font-size: 32px;
    }
  }

  .section__explore {
    @include forStyle(16px, 27px, 400);

    max-width: 270px;
    margin: 0 auto 48px;

    color: $textColor;
  }

  &__section-photos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

    @include forTablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .img3 {
    background-image: url("/images/photos/image3.png");
    @include imagePosition;
    padding-top: 324px;

    grid-column: 9 / -1;

    @include forTablet {
      padding-top: 186px;

      grid-column: 5 / -1;
    }
  }

  .img4 {
    background-image: url("/images/photos/image4.png");
    @include imagePosition;
    padding-top: 324px;

    grid-column: 1 / 9;

    @include forTablet {
      padding-top: 186px;

      grid-column: 1 / 5;
    }
  }

  &__section-row__second {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

    @include forTablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .img5 {
    background-image: url("/images/photos/image2.png");
    @include imagePosition;
    padding-top: 324px;

    grid-column: 1 / 5;

    @include forTablet {
      padding-top: 284px;

      grid-column: 1 / 4;
    }
  }

  .img6 {
    background-image: url("/images/photos/image1.png");
    @include imagePosition;
    padding-top: 324px;

    grid-column: 5 / 9;

    @include forTablet {
      padding-top: 284px;

      grid-column: 4 / -1;
    }
  }

  .img7 {
    background-image: url("/images/photos/image6.png");
    @include imagePosition;
    padding-top: 324px;

    grid-column: 9 / -1;

    @include forTablet {
      display: none;
    }
  }

  &__section-row__third {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

    @include forTablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .img8 {
    background-image: url("/images/photos/image11.png");
    @include imagePosition;
    padding-top: 324px;

    grid-column: 1 / 5;

    @include forTablet {
      padding-top: 186px;

      grid-column: 1 / 3;
    }
  }

  .img9 {
    background-image: url("/images/photos/image7.png");
    @include imagePosition;
    padding-top: 324px;

    grid-column: 5 / -1;

    @include forTablet {
      padding-top: 186px;

      grid-column: 3 / -1;
    }
  }

  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9 {
    transition: transform 0.3s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .description {
    line-height: 15px;
    margin-top: 24px;
    margin-bottom: 48px;

    &__master {
      @include forStyle(16px, 27px, 700);
      color: $masterTitle;
    }

    &__duration {
      @include forStyle(16px, 27px, 400);
      color: $textColor;
    }
  }

  .section__view-button {
    display: grid;
    grid-template-columns: (12, 1fr);
    column-gap: 24px;

    @include forTablet {
      grid-template-columns: (6, 1fr);
      column-gap: 0;
    }
  }

  .buttton {
    grid-column: 5 / 9;

    @include forTablet {
      grid-column: 2 / 3;
    }
  }

  .view-button {
    color: #fff;
    padding: 15px 74px;
    font-family: "Cinzel", sans-serif;
    background-color: $masterTitle;
    border: 1px solid transparent;
    margin-top: 40px;

    &:hover {
      cursor: pointer;
      background-color: #ae1c23;
    }

    &:active {
      background: #eb343d;
    }

    @include forTablet {
      padding: 14.5px 107.5px;
    }
  }
}
