.nav-mobile {

  &__list {
    padding-bottom: 48px;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    color: $headerColor;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include hover(color, $activeColor);
  }
}
