.nav-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: -42px;

  height: 568px;
  width: 100vw;
  padding: 24px 20px 50px;
   
  background: $accent-color;
  text-transform: uppercase;

  transform: translate(100%, 0);
   
  transition: transform 0.5s ease;
    
  &__logo {
    align-self: center;

    margin-bottom: 48px;
  }

  &__list {
    list-style: none;
  }

  &__link {
    color: $white-color;
    text-decoration: none;

    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    transition: color 0.3s;

    &:hover {
      color: $text-secondary-color;
    }
  }

  &__item {
    margin-bottom: 32px;
  }

  &__phone {
    margin-top: 32px;
  }

  &__action {
    margin-top: 16px;
  }

  &__phone-link {
    display: inline-block;
    color: $white-color;
    text-decoration: none;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  &__action-link {
    display: inline-block;
    
    color: $white-color;
    text-decoration: none;
    text-transform: uppercase;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1, 1.1);
    }

    &::after {
      content: "";

      display: block;
      position: relative;
      top: 8px;
      
      border-bottom: 1px solid $white-color;
    }
  }
}
