.nav-mobile {
  position: absolute;
  top: 21%;
  text-transform: uppercase;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 51vh;

    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 56px;
    margin-top: 48px;
  }

  &__action {
    position: relative;

    &::after {
      content: "";
      width: 111px;
      height: 1px;
      background-color: $mainColor;
      display: block;
      position: absolute;
      bottom: -8px;
    }
  }
}
