.nav {
  text-transform: uppercase;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 22px;
  }

  &__link {
    display: inline-block;
    padding: 7px 20px;

    color: #fff;

    @include hover(color, $hoverColor);

    &--is-active {
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid $highlightColor;
      border-radius: 2px;
    }
  }

  @media (max-width: $tabletScreenBreakpoint) {
    &__list {
      flex-direction: column;
      align-items: center;
    }
  }
}
