.nav {
  left: 0;
  right: 0;
  bottom: 25px;

  width: 1030px;

  @media screen and (max-width:1100px) {
    width: 800px;
  }

  @media screen and (max-width:850px) {
    width: 600px;
  }

  @media (max-width: 700px) {
    width: 300px;
  }

  &__list {
    display: flex;
    margin: auto;
    font-weight: $weight-bold;

    @media (max-width: 700px) {
      position: absolute;
      top: -570px;
      left: -140px;

      width: 150px;

      flex-direction: column;
    }

    @media screen and (max-width: 600px) {
      left: -100px;
    }

    @media screen and (max-width: 500px) {
      left: -20px;
    }
  }

  &__item {
    list-style-type: none;
    color: white;
    text-align: center;

    &:nth-child(2) {
      white-space: nowrap;
    }

    @media (max-width: 700px) {
      width: 150px;
      margin-bottom: 10px;
    }
  }

  &__link {
    padding: 7px 20px;
    margin-right: 45px;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;

    transition: color 1s, background-color 1s;

    @media screen and (max-width:1130px) {
      margin-right: 20px;
    }

    @media screen and (max-width:930px) {
      margin-right: 10px;
    }

    @media screen and (max-width: 850px) {
      padding: 7px 15px;
      font-size: 14px;
    }

    &:hover {
      color: #d5c5aa;
    }

    &:active {
      width: 88px;
      height: 30px;
      background: #d5c5aa;
      color: black;
    }
  }

  &__toggler-label {
    display: none;
    color: #fff;

    @media (max-width: 700px) {
      position: relative;

      top: -645px;
      left: -100px;

      display: inline-block;
      padding: 15px;
    }

    @media screen and (max-width: 600px) {
      left: -60px;
    }

    @media screen and (max-width: 500px) {
      left: 10px;
    }

    &::before {
      content: url("../images/mdi_menu.png");
      width: 24px;
      height: 24px;
    }
  }

  &__toggler {
    display: none;
  }
}

@media (max-width: 700px) {
  .nav__toggler:not(:checked) ~ .nav__list {
    display: none;
  }
}
