.navigation {
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__link {
    padding: 8px 24px;
    @include common-link-style;
    border-radius: 8px;

    &:hover {
      @include hover(background-color, black);
    }
  }
}
