.nav {
  display: flex;
  justify-content: center;
  position: absolute;
  max-width: $maxWidth;
  bottom: 48px;
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
  }

  &__link {
    display: inline;
    border-radius: $borderRadius;
    color: $generalyHeaderColor;
    transition: color $hoverDuration;

    &:hover {
      color: #9fadc2;
      cursor: pointer;
    }
  
    &--active {
      background-color: hsla(0, 0%, 100%, 0.1);
      color: $generalyHeaderColor;
      cursor: pointer;
      border-radius: $borderRadius;
      padding: 8px 24px;
    }
  }
}

@media screen and (max-width: $smallBreakPoint) {
  .nav {
    display: none;
  }
}
