.navigation {
  grid-column: 1 / 4;
  display: flex;
  margin-top: 30px;
  width: 100%;

  &__list {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__item {
    list-style-type: none;
  }

  &__item:last-child {
    margin: 0;
  }

  &__link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 550;
    color: #fff;
    padding: 8px 24px;
  }

  &__link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
}
