html {
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}
