html {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;

  scroll-behavior: smooth;
}

h1,
h2,
h3,
input,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
