.cross {
  height: 21px;
  width: 21px;
  background-image: url(../images/cross-black-svg.svg);
}

.options {
  margin-top: 48px;
  display: flex;
  flex-direction: column;

  &__link {
    margin-bottom: 32px;
    color: #1d1d1d;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__container {
    margin: 48px 0 200px;
    text-align: start;
    display: flex;
    flex-direction: column;

    &:nth-child(5) {
      margin-bottom: 40px;
    }
  }
}

.gap {
  margin-bottom: 40px;
}

.options-first-element {
  margin-top: 48px;
}

.options-last-element-line {
  position: relative;
}

.options-last-element-line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 125px;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #1d1d1d;
}

.smaller {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
}
