.display-flex-row {
  margin-top: 53px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.first-title {
  margin: 0 24px 0 0;
}

.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.second {
  margin-top: 164px;
}
