.container {
  padding: 0 20px;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  &__image {
    --logo-width: 130px;
    --logo-heigth: 38px;
    display: block;
    min-width: var(--logo-width);
    max-height: var(--logo-heigth);

    @include onDesktop {
      --logo-width: 187px;
      --logo-heigth: 56px;
    }
  }
}

.content {
  height: 100vh;
  box-sizing: border-box;
}

.main {
  background-color: $dark-color;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: (27 / 16) * 100%;
  color: $dark-color;
  background-color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: box-shadow, 1s;

  &:hover,
  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
}
