.page {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: $colorWhite;

  background-color: $colorDark;

  scroll-behavior: smooth;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform $efectsDuration;

    &:target {
      transform: translateX(0);
      z-index: 1;
    }
  }

  &__section {
    padding: 0 20px;
    margin-bottom: 90px;

    @include onTablet {
      padding: 0 72px;
      margin-bottom: 120px;
    }

    @include onDesktop {
      padding: 0;
      margin-bottom: 160px;
    }
  }

  &__section-title {
    margin-bottom: 48px;

    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-transform: capitalize;
    color: $colorWhite;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include onDesktop {
      font-size: 64px;
      line-height: 64px;
    }
  }

  &__section-subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $colorWhite;
  }
}
