.page-head {
  height: $header-height;
  width: 100%;
  background: no-repeat, url("../images/new_image.png"), center;
  background-size: cover;
  background-position: center center;

  @media(max-width: $mobile-width) {
    height: 580px;
  }
}
