.page {
  font-family: "Cinzel", serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    background-image: url(../imagesMET/background.png);
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: rotateX(0);
    }
  }

  &__section {
    background-color: #fff;
    margin-bottom: 100px;
    @include onDesktop {
      margin-bottom: 140px;
    }
    &-pretitle {
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      color: #d12d35;
      padding: 0;
      margin: 0;
      margin-bottom: 2px;
    }
    &-title {
      padding: 0;
      margin: 0;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: -1.5px;
      color: #161616;

      &--1 {
        margin-bottom: 32px;
      }
      &--2 {
        margin-bottom: 8px;
      }

    }
  }

}
