.paragraph {

  &__title {
    padding-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    color: #0075ff;

    &--max-width {
      max-width: 75%;
    }
  }

  &__text {
    margin-bottom: 30px;

    &--bold {
      font-weight: 700;
    }
  }
}
