.part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
  position: relative;
  left: 0;
  max-width: $maxWidth;
  margin: 0 auto;

  &__title {
    align-self: center;
    position: relative;
    margin-top: 152px;
    letter-spacing: -1.5px;
    @include titleText;
  }
}

@media screen and (max-width:  $smallBreakPoint) {
  .part {
    padding: 0 6vw;
    justify-content: center;
  }

  .part__title {
    margin-top: 20vw;
  }
}
