.peoples {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  width: 240px;

  &__img {
    width: 153px;
    height: 153px;
    margin-bottom: 20px;
  }

  &__name {
    text-align: center;
    @extend %subtitles;
    line-height: 30px;
  }

  &__position {
    text-align: center;
    font-size: 14px;
    color: $position-color;
    line-height: $lh-text;
  }

  &__reviews {
    width: 230px;

    text-align: center;
    line-height: $lh-text;
  }
}
