.person {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 0 auto;
  align-items: center;
  text-align: center;

  &__name {
    margin: 27px 0 8px;
    @include font(24px, 700, 30px, 0);
    color: $defaultBlueColor;
  }

  &__position {
    margin-bottom: 12px;
    color: $labelColor;
    @include font(14px, 400, 27px, 0);
  }

  &__content {
    text-align: center;
    @include font(16px, 400, 27px, 0);
    color: $textColor;
  }
}
