@import "./utils/vars";

.persons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  &__item {
    display: grid;
    max-width: 240px;
    justify-items: center;
    align-content: baseline;

    &--description {
      font-size: 16px;
      text-align: center;
      line-height: 27px;
    }

    &--name {
      margin-top: 28px;
      font-weight: bold;
      font-size: 24px;
      color: $font-blue;
    }

    &--prof {
      margin: 4px 0;
      font-size: 14px;
      color: #9fadc2;
    }
  }
}
