.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  max-width: $generalWidth;

  &__img {
    border-radius: 50%;
    height: $personPhotoSize;
    width: $personPhotoSize;
    justify-content: center;
    justify-self: center;
  }

  &__name {
    margin-top: 28px;
    @include h3Text;
    text-align: center;
    bottom: 0;
  }

  &__position {
    margin-top: 4px;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #9fadc2;
  }

  &__text {
    margin-top: 4px;
    line-height: 27px;
    text-align: center;
  }
}
