.person {
  width: 280px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 0 6px 2px #e2e2e2;
    background-color: #f3f3f3;
  }

  &__photo-area {
    width: 153px;
    height: 153px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  &:hover .person__photo {
    transform: scale(1.1);
  }

  &__name {
    margin-top: 30px;
  }

  &__position {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }
}
