.phone {
  @media (max-width: $mobile-breakpoint) {
    display: block;
    position: absolute;
    width: 30px;
    height: 35px;
    top: 50px;
    left: 50px;
  
  }

  &__link {
    background-image: url("../images/phone.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    display: block;
  }

}
