.phone-icon {
  width: $phoneWidth;
  height: $phoneHeight;
  background-image: url("../images/phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
