@import "utils";

.photos {
  display: grid;
  grid-template-rows: 256px 91px 256px 91px 256px 91px;
  
  @media screen and (max-width: 900px) {
    & {
      grid-template-rows: 131px 91px 131px 91px 131px 91px;
    }
  }

  &__block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  
    &-wide-left {
      grid-template-columns: 2fr 1fr;
    }

    &-wide-right {
      grid-template-columns: 1fr 2fr;
    }

    @media screen and (max-width: 900px) {
      &-wide-right,
      &-wide-left {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &__img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    font-size: 16px;
    line-height: 61px;
  }

  &__link {
    font-size: 16px;
    transition: color $hover-duration;

    &:hover {
      color: $hover-color;
    }
  }
}
