.photos {
  display: flex;
  justify-content: space-between;
  background-color: rgb(182, 175, 175);

  &__img {
    width: 49%;
    height: 263px;
  }

  &--wide-left {
    .photos__img {
      &:first-child {
        width: 66%;
      }

      &:last-child {
        width: 33%;
      }
    }
  }

}
