@import "vars";

.photos__img {
  &_wide_left {

    &:first-child {
      width: calc(67% - 10px);
    }

    &:last-child {
      width: calc(33% - 10px);
    }
  }

  &_wide_right {
    &:first-child {
      width: calc(33% - 10px);
    }

    &:last-child {
      width: calc(67% - 10px);
    }
  }
}

@media screen and (max-width: $mobile-screen-breakpoint) {
  .photos__img {
    &_wide_left {

      &:first-child {
        width: 100%;
      }

      &:last-child {
        width: 100%;
      }
    }

    &_wide_right {
      &:first-child {
        width: 100%;
      }

      &:last-child {
        width: 100%;
      }
    }
  }
}
