.picture {
  &__link {
    position: relative;
    width: 100%;
    height: 320px;
    padding-bottom: 0;
    
    @include onPhone {
      max-height: 320px;
      

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include onPhone {
      // height: 320px;
      // width: 320px;
        &::nth-child(5) {
          display: none;
        }
      }
  }

}