.picture {

  &__link {
    position: relative;
    width: 100%;
    height: 320px;
    padding-bottom: 0;

    @include onTablet {
      height: 186px;
    }
    @include onPhone {
      height: 130px;
      
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }

  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;

    &:hover {

      transform: scale(1.1);
    }
    
    @include onTablet {
      object-position: right;
      &--none {
        display: none;
      }
    }
    
  }
}