%background-references {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%form-settings {
  height: $high-input;
  width: 100%;
  margin-bottom: 16px;
  background: $white-color;
  border-radius: $form-border-radius;
  padding-left: 16px;
  transition: box-shadow, 1s;
}

%form-hover {
  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
}
