.place {
  &__img-container {
    position: relative;
    width: 100%;
    max-height: 320px;
    
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      height: 180px;
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }

    @include onDesktop {
      height: 320px;
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }
  }

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;

    transform: perspective(40px) translateZ(0);
    @include hover(transform, perspective(10px) translateZ(0.5px));
  }

  &__imgs{
    display: grid;
    justify-content: center;
    grid-template-columns: 48% 48%;
    gap: 20px;
    margin-bottom: 16px;

    &--65by32 {
      @include onTablet {
        justify-content: center;
        grid-template-columns: 65% 32%;
        gap: 24px;
      }
  
  
    @include onDesktop {
        justify-content: center;
        box-sizing: border-box;
        grid-template-columns: 65% 32%;
        gap: 24px;
      }
    }

    &--32by65 {
      @include onTablet {
        justify-content: center;
        grid-template-columns: 32% 65%;
        gap: 24px;
      }
  
  
    @include onDesktop {
        justify-content: center;
        grid-template-columns: 32% 65%;
        gap: 24px;
      }
    }

    &--48by48 {
      @include onTablet {
        justify-content: center;
        grid-template-columns: 48.5% 48.5%;
        gap: 24px;
      }
  
  
    @include onDesktop {
        justify-content: center;
        grid-template-columns: 48.5% 48.5%;
        gap: 24px;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;

    margin-bottom: 8px;
  }

  &__description {  
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
}
