@import "./utils/vars";

.preamble {
  display: flex;
  justify-content: space-between;
  color: $c-black;
  background-color: $c-white;
  &__title {
    width: 314px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    &__decoration {
      color: $c-link;
      text-decoration: none;
      transition: color $transition;
      &:hover {
        color: $c-link-hover;
      }
    }
  }
  &__article {
    line-height: 24px;
    max-width: 564px;
  }
}

@media (max-width: $to-mobile-view) {
  .preamble {
    flex-direction: column;
    align-items: center;
    padding: 0 $mob-padding-lr;
    &__title {
      margin-bottom: $article-margin-bottom;
      font-size: 40px;
    }
  }
}

@media (max-width: $to-extra-small-view) {
  .preamble {
    align-items: flex-start;
    &__title {
      font-size: 30px;
    }
  }
}
