.product-card {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  color: #fff;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 60px;
  }
  &__image {
    display: flex;
    align-items: center;
    height: 316px;
  }
  &__name {
    font-size: 24px;
    line-height: 140%;
    margin: 32px 0 0;
  }
  &__specification {
    font-size: 16px;
    line-height: 140%;
    margin: 8px 0 16px;
  }
  &__price {
    font-size: 24px;
    line-height: 140%;
    margin: 16px 0 0;
  }
}
