.product {
  &--flex {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: left;
  }

  &__item-c-1,
  &__item-c-3,
  &__item-c-6 {
    flex-basis: calc(66.6% - 24px);
  }

  &__item-c-2,
  &__item-c-4,
  &__item-c-5 {
    flex-basis: calc(33.3%);
  }

  &__item-b {
    flex-basis: 33%;
    padding-left: calc(33% + 24px);
  }

  @include on744px {
    &__item-b {
      flex-basis: 68%;
      padding-left: 16%;
    }
  }

  @include on320px {
    &__item-c-1,
    &__item-c-3,
    &__item-c-6,
    &__item-c-2,
    &__item-c-4,
    &__item-c-5 {
      flex-basis: calc(50% - 24px);
    }

    &__item-b {
      flex-basis: 100%;
      padding-left: 0;
    }
  }
}
