.about {
  &__item {
    margin-bottom: 48px;
  
    &:last-child {
      margin-bottom: 0;
    }
  
    @include onIPad {
      margin-bottom: 40px;
    }
  
    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
  
.product {
  &__photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  
  
  &__name {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $mainColor;
  }
  
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $mainColor;
  }

  &__description {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $mainColor;
  }
  
  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $mainColor;
  }
}
