.promo {
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  background: url(../images/promo-bg.jpg) bottom / cover no-repeat;
}

.promo.menu {
  background-image: none;
  background-color: $color-blue;
}
