.catalog {
  display: grid;
  justify-content: center;
  margin: auto;
  max-width: 1284px;
  height: min-content;
  gap: 48px;
  margin-bottom: 120px;

  @include onDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }

  &__card {
    width: 280px;
    height: 395px;
    display: flex;
    padding: 0 20px;
    flex-direction: column;

    @include onDesktop {
      width: 324px;
      height: 438px;
    }

    &-img {
      display: flex;
      justify-content: center;
      width: 280px;
      height: 277px;
      margin-bottom: 32px;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
      }

      @include onDesktop {
        width: 324px;
        height: 320px;
      }
    }

    &-name {
      color: $mainColor;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 8px;
    }

    &-text {
      color: $mainColor;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 12px;
    }

    &-price {
      color: $mainColor;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
