.recommend {
  &__item {
    margin-bottom: 48px;
    &:last-child {
      margin-bottom: 0;
    }
    @include oniPad {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

}

.recommended {
  &__img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    column-gap: 24px;
    margin-bottom: 32px;

    @include oniPad {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-content: center;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__img {
    width: 100%;
    max-width: 387px;
    grid-column: 1 / 4;
    justify-items: center;
    transition: transform 300ms;

    &:hover {
      transform: scale(1.2);
    }

    @include oniPad {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 1 / 5;

    }
  }

  &__subtitle {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #292929;
  }

  &__name {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }

}
