.recomended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 120px;

  @include onTablet {
    margin-bottom: 128px;
  }
  
  
  @include onDesktop {
    flex-direction: row;
    flex-basis: 33.3%;
    
  }

  &__card {
    display: flex;
    flex-direction: column;

    font-size: 16px;
    color: $font-color;
    line-height: 22px;
  }

  &__photo {
    margin-bottom: 32px;
}

&__pic {
  height: 277px;

  @include onTablet {
    & {
      height: 387px;
    }
  }

    @include onDesktop {
      & {
        height: 320px;
        padding-right: 24px;

        &--last {
          height: 320px;
          padding-right: 0;
        }
      }
  }
}

  &__info {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &__name {
    display: inline-block;
    margin-bottom: 8px;
  }

  &__description {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__price {
    display: inline-block;
  }
}

