.registration-form {
  width: 40%;

  @media (max-width: $laptopScreenSize) {
    margin-top: 32px;
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 17px;
    font-size: 14px;
    font-family: inherit;
    background-color: $inputBgColor;
    color: $regularTextColor;
    border: 1px solid $lightColor;
    border-radius: $border-radius;
    outline: none;
    &::placeholder {
      font-family: inherit;
      color: $inputTextColor;
    }
    &:focus {
      box-shadow: 0 6px 23px $inputBgColor;
    }
    &--textarea {
      height: 145px;
      resize: none;
    }
  }

  &__submit {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: inherit;
    font-size: $reguralTextFontSize;
    background-color: $brightColor;
    color: $lightColor;
    border: none;
    border-radius: $border-radius;
    box-shadow: 0 6px 23px $buttonNotHoveredShadow;
    transition-duration: 0.6s;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: $buttonHoveredBg;
      box-shadow: 0 6px 23px $buttonHoveredShadow;
    }
  }
}
