html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: inherit;
  list-style: none;
  border-width: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
  height: 100%;
}

html {
  height: 100%;
}

strong {
  font-weight: 500;
}
