html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
img,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}
