* {
  box-sizing: border-box;
}

body,
button,
h1,
h2,
h3,
p {
  margin: 0;
}

a,
button,
img,
::before,
::after {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

img {
  width: 100%;
}
