html,
body,
ul,
li,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  border-width: 0;
  line-height: inherit;
  outline: 0;
}

body {
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

address {
  font-style: normal;
}

p {
  line-height: 1;
}
