@import "textarea";

.section-contact {
  padding-bottom: 88px;

  &__heading {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  &__contact-us {
    @extend .title;
    margin-bottom: 8px;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 27px;
    width: 413px;
    height: 148px;
    gap: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 152px;
    gap: 8px;
  }

  &__way {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
  }

  &__connection {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
  }

  &__form {
    width: 413px;
    min-width: $min-content-width;
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    margin-bottom: 16px;
  }

  &__button {
    font-size: 16px;
    border: none;
    height: 56px;
    margin-top: 16px;
    background: $blue;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    color: $white;
  }

  @media (max-width: 1100px) {
    padding-bottom: 64px;
    width: 100%;

    &__heading {
      margin-bottom: 30px;
    }

    &__info-wrapper {
      height: 100%;
      margin-bottom: 32px;
    }
  }

  @media (max-width: 320px) {
    &__contact-us {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
