@import "input";
@import "container";
@import "form";

.section-three {
  &__heading {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  &__consultation {
    @extend .title;
    margin-bottom: 8px;
  }

  &__info {
    font-size: 16px;
    line-height: 27px;
    max-width: 413px;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 30px;
    color: $blue;
    margin-bottom: 16px;
  }

  &__article {
    font-weight: 400;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 413px;
    min-width: $min-content-width;
  }

  &__input {
    margin-bottom: 16px;
  }

  &__button {
    font-family: $Roboto-font-family;
    font-size: 16px;
    height: 56px;
    margin-top: 16px;
    color: $white;
    background: $blue;
    border: none;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  }

  @media (max-width: 1100px) {
    & {
      padding-bottom: 64px;
      width: 100%;
    }

    &__heading {
      margin-bottom: 30px;
    }

    &__article {
      margin-bottom: 32px;
    }
  }

  @media (max-width: 320px) {
    &__consultation {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
