.section {
  margin-top: 152px;

  &:nth-child(1) {
    margin-top: 104px;
  }
}

@media (max-width: 820px) {
  .section {
    margin-top: 64px;

    &:nth-child(1) {
      margin-top: 64px;
    }
  }
}
