.container {
  padding: 0 $containerBigPaddingX 156px;
  margin: 0 auto;
  background-color: #fff;
  transition: 0.5s;

  @media (max-width: 1260px) {
    padding: 0 8% 156px;
  }

  @media (max-width: $mobileWidthPoint) {
    padding: 0 $containerMobilePaddingX;
    padding-bottom: 64px;
  }

  &__about-us {
    padding-top: 104px;

    @media (max-width: $mobileWidthPoint) {
      padding-top: 64px;
    }
  }
}
