.section {
  padding: 100px calc(50% - 470px);
  position: relative;

  background-color: white;

  &:nth-child(even) {
    background-color: $c-gray;
  }

  &__heading {
    left: 0;
    right: 0;
    top: -0.5em;

    margin: auto;
  }

  &__content {
    width: 100%;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }
}
