@import "crown";
@import "wrapper";

.section-two {
  width: calc(1260px - 240px);
  padding-bottom: 152px;
  display: flex;
  flex-direction: column;

  &__heading {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
  }

  &__gallery {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
  }

  &__crown {
    align-self: center;
  }

  &__img-one {
    width: calc(60% - 10px);
  }

  &__img-two {
    width: calc(40% - 10px);
  }

  &__img-three {
    width: calc(50% - 10px);
  }

  &__img-four {
    width: calc(50% - 10px);
  }

  &__img-five {
    width: calc(40% - 10px);
  }

  &__img-six {
    width: calc(60% - 10px);
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin: 24px 0 40px;
  }

  &__hotels-name {
    color: #0075ff;
  }

  &__link {
    text-decoration: none;
    color: #0075ff;
    font-size: 16px;
    line-height: 14px;
  }

  &__button {
    align-self: center;
    width: 188px;
    height: 56px;
    background-color: #fff;
    border: 2px solid #0075ff;
    border-radius: 8px;
  }

  @media (max-width: 1100px) {
    & {
      width: 100%;
    }

    &__heading {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 320px) {
    & {
      min-width: calc($page-min-width - 40px);
    }

    &__gallery {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
