.section {
  padding: 80px 0;

  &__heading {
    position: relative;

    margin-bottom: 60px;

    @include boldFontStyle(48px, 48px);
    text-align: center;
  }

  &__crown {
    position: absolute;
    left: calc(50% - 10px);

    display: block;
    height: 13px;
    width: 20px;

    background-image: url("../images/crown.svg");
    background-size: cover;
    background-position: center;

    @include hover(transform, rotate(180deg));
  }

  @media (max-width: $mobileScreenBreakpoint) {
    &__heading {
      @include boldFontStyle(36px, 36px);
    }
  }
}
