.container {
  padding: 0 $containerBigPaddingX;
  margin: 0 auto 156px;

  @media (max-width: 1260px) {
    padding: 0 10%;
  }
  @media (max-width: $mobileWidthPoint) {
    padding: 0 8%;
    margin-bottom: 64px;
  }

  &__about-us {
    margin-top: 104px;

    @media (max-width: $mobileWidthPoint) {
      margin-top: 64px;
    }
  }
}
