.section-head {
  margin-top: 150px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  align-items: center;
  letter-spacing: -1.5px;
  text-align: center;

  @media (max-width:$mobile-size-breackpoint) {
    margin-top: 50px;
  }
}

.section-crown {
  height: 16px;
  width: 16px;
  margin: 8px auto 40px;
  background: url(/images/crown-new.svg) no-repeat;
  background-size: 100%;

  @media (max-width:$mobile-size-breackpoint) {
    margin-bottom: 30px;
  }
}
