.section__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  // min-height: 659px;
}

.section-title {
  margin: 0;
  padding-top: 104px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;

  &--active {
    color: #0075ff;
  }
}

.section-about__info {
  width: calc(50% - 10px);
  padding-top: 104px;
}

.info-heading {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #0075ff;
}

.info-text {
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
  margin-bottom: 30px;
}

.info-strong {
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  color: #3e3e3e;
}

@media (max-width: 800px) {
  .section__container {
    flex-direction: column;
  }

  .section-title {
    padding-top: 68px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
  }

  .section-about__info {
    width: 100%;
    padding-top: 48px;
  }
}
