.section {
  padding: 100px 10px;
  position: relative;
  &:nth-child(odd) {
    background-color: #eee;
  }
  &__left {
    float: left;
    width: 50%;
  }
  &__right {
    float: right;
    width: 33%;
  }
  &__title {
    position: absolute;
    left: 50%;
    top: -55px;
    font-size: 50px;
    font-weight: 100;
    color: #000;
    transform: translate(-50%, 0);
    text-transform: uppercase;
    background-image: url(../images/titleShape.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 23px 16px;
    height: 65px;
    line-height: 36px;

    &::before,
    &::after {
      content: "";
      width: calc(50% - 20px);
      height: 2px;
      background-color: #00aaef;
      position: absolute;
      bottom: 10px;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  &__bottom {
    text-align: center;
    margin-top: 30px;
  }
}
