.section {
  background-color: $c-white;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 120px 152px;
}

@media screen and (max-width: 999px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .section {
    padding: 0 20px 152px;
  }
}
