*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  scroll-behavior: smooth;
}

body,
ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}
