.met__bar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: transform 0.5s ease-in-out;
  left: 0;
  transform: translateX(-100%);
  padding: 32px 120px 0;
  background: #d12d35;
  z-index: 2;

  @include forTablet {
    padding: 32px 72px 0;
  }

  @include forTablet {
    padding: 25px 20px 0;
  }

  &:target {
    transform: translateX(0);
  }

  .met__nav {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    margin-top: 35px;

    .nav-list {
      list-style: none;
      padding: 0;

      &__item {
        line-height: 48px;
      }

      &__link {
        text-decoration: none;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;

        &:hover {
          text-underline-position: under;
          text-decoration: underline;
        }
      }
    }
  }

  .met__info {
    margin: 48px 0;

    @include forTablet {
      margin: 32px 0;
    }

    .met__avenue {
      margin-bottom: 30px;
      .fifth__avenue {
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 10px;
        color: #fff;
        margin-bottom: 20px;
        display: block;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          text-underline-position: under;
          text-decoration: underline;
        }
      }
    }

    .cloister__title,
    .cloister__mobile {
      font-weight: 700;
      font-size: 1rem;
      text-transform: uppercase;
      line-height: 10px;
      color: #fff;
      margin-bottom: 20px;
      display: block;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-underline-position: under;
        text-decoration: underline;
      }
    }

    .call__order a {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-underline-position: under;
        text-decoration: underline;
      }
    }
  }
}
