/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.title-h2 {
  color: #1b2129;
  font-size: 32px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 744px) {
  .title-h2 {
    color: #1B2129;
    font-size: 40px;
    font-family: Manrope;
    line-height: 40px;
  }
}
.title-h3 {
  color: #1b2129;
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  grid-template-rows: 72px 1fr 40px;
  justify-content: center;
}
@media (min-width: 744px) {
  .header {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
    grid-template-rows: 96px 1fr 64px;
  }
}
.header__navigation {
  grid-column: 1/-1;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  background-color: aquamarine;
  background-image: url("../img/header_small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media (min-width: 744px) {
  .main-page {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.main-page__header {
  grid-area: 1/1/2/-1;
}
.main-page__title {
  color: #fff;
  font-size: 36px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  grid-area: 2/1/3/-1;
  align-self: end;
}
@media (min-width: 744px) {
  .main-page__title {
    color: #FFF;
    font-size: 48px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
}

.recd-page {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
}
@media (min-width: 744px) {
  .recd-page {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.recd-page__title-h2 {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin: 64px 0 40px;
}
@media (min-width: 744px) {
  .recd-page__title-h2 {
    margin: 120px 0 56px;
  }
}
.recd-page__recd-container {
  grid-column: 1/-1;
  grid-row: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recd-container {
  display: flex;
}
.recd-container__img {
  width: 280px;
  margin-bottom: 24px;
}
@media (min-width: 744px) {
  .recd-container__img {
    width: 600px;
  }
}
.recd-container__title {
  margin-bottom: 8px;
}
.recd-container__text {
  color: #1b2129;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
  margin-bottom: 12px;
}
@media (min-width: 744px) {
  .recd-container__text {
    margin-bottom: 34px;
  }
}
.recd-container__price {
  color: #1b2129;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 40px;
}
@media (min-width: 744px) {
  .recd-container__price {
    margin-bottom: 56px;
  }
}

.products-page {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  grid-template-rows: auto;
}
@media (min-width: 744px) {
  .products-page {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.products-page__title-h2 {
  grid-column: 1/-1;
  margin: 64px 0 47px;
}
.products-page__products-container {
  grid-column: 1/-1;
}
.products-page__button {
  grid-column: 1/-1;
  margin-bottom: 96px;
}
@media (min-width: 744px) {
  .products-page__button {
    margin-bottom: 120px;
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  grid-template-rows: auto;
}
@media (min-width: 744px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.products-container__img {
  width: 130px;
  height: 130px;
  transition: transform 0.3s;
}
@media (min-width: 744px) {
  .products-container__img {
    width: 288px;
    height: 184px;
  }
}
.products-container__img:hover {
  transform: scale(110%);
}
.products-container__img--left {
  grid-column: 1/2;
  object-fit: cover;
  border-radius: 4px;
}
@media (min-width: 744px) {
  .products-container__img--left {
    grid-column: 1/4;
    object-fit: cover;
    border-radius: none;
  }
}
.products-container__img--right {
  grid-column: 2/3;
  object-fit: cover;
  border-radius: 4px;
}
@media (min-width: 744px) {
  .products-container__img--right {
    grid-column: 4/6;
    object-fit: cover;
    border-radius: none;
  }
}
.products-container__product-description {
  grid-column: 1/-1;
  margin: 8px 0 40px;
  justify-content: start;
  color: #1b2129;
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
@media (min-width: 744px) {
  .products-container__product-description {
    margin: 16px 0 56px;
    font-size: 24px;
  }
}

.button {
  border: none;
  border-radius: 8px;
  background: #f98921;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  height: 56px;
  padding: 0px 48px;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background: #1b2129;
  cursor: pointer;
}
.button:active {
  background: #010810;
}

.world-of-bo-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.world-of-bo-page__img {
  background-image: url("../img/gramophone_small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  align-self: center;
}
@media (min-width: 744px) {
  .world-of-bo-page__img {
    background-image: url("../img/gramophone_medium.jpg");
    height: 400px;
  }
}
.world-of-bo-page__article {
  background: #fcfaef;
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  grid-template-rows: auto;
}
@media (min-width: 744px) {
  .article {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.article__h2 {
  color: #1b2129;
  font-size: 32px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  grid-column: 1/-1;
  margin: 48px 0 24px;
}
@media (min-width: 744px) {
  .article__h2 {
    grid-column: 1/4;
    font-size: 40px;
    line-height: 100%;
    margin: 120px 0 176px;
  }
}
.article__text {
  color: #1b2129;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
  grid-column: 1/-1;
  margin-bottom: 48px;
}
@media (min-width: 744px) {
  .article__text {
    grid-column: 4/7;
    margin: 120px 0 120px;
  }
}

.contact-us-page {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  grid-template-rows: auto;
  margin-bottom: 64px;
}
@media (min-width: 744px) {
  .contact-us-page {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.contact-us-page__title-h2 {
  grid-column: 1/-1;
  margin: 64px 0 48px;
}
@media (min-width: 744px) {
  .contact-us-page__title-h2 {
    margin: 120px 0 56px;
  }
}
.contact-us-page__form {
  grid-column: 1/-1;
}
.contact-us-page__address {
  grid-column: 1/-1;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
}
@media (min-width: 744px) {
  .form {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.form__item {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  grid-column: 1/-1;
}
@media (min-width: 744px) {
  .form__item {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.form__input {
  background: #f9f9f9;
  border-radius: 8px;
  border: 1px solid transparent;
  grid-column: 1/-1;
  height: 48px;
  margin-bottom: 8px;
  padding: 14px 16px;
  color: #1b2129;
  font-size: 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
  transition: all 0.3s;
}
@media (min-width: 744px) {
  .form__input {
    margin-bottom: 16px;
  }
}
.form__input::placeholder {
  color: #7e7e83;
  transition: all 0.3s;
}
.form__input:hover {
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  background: #f9f9f9;
  color: #1b2129;
}
.form__input:hover::placeholder {
  color: #1b2129;
}
.form__input:focus {
  outline: none;
  border: 2px solid #f98921;
  color: #1b2129;
}
.form__textarea {
  border-radius: 8px;
  background: #f9f9f9;
  border: 1px solid transparent;
  grid-column: 1/-1;
  height: 148px;
  color: #1b2129;
  font-size: 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
  resize: none;
  padding: 14px 16px;
  transition: all 0.3s;
  margin-bottom: 32px;
}
.form__textarea::placeholder {
  color: #7e7e83;
}
.form__textarea:hover {
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  background: #f9f9f9;
  color: #1b2129;
}
.form__textarea:hover::placeholder {
  color: #1b2129;
}
.form__textarea:focus {
  outline: none;
  border: 2px solid #f98921;
  color: #1b2129;
}
.form__label:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.form__button {
  margin-bottom: 48px;
  grid-column: 1/-1;
}
@media (min-width: 744px) {
  .form__button {
    margin-bottom: 80px;
  }
}

.address {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  color: #9393a3;
  font-size: 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
}
@media (min-width: 744px) {
  .address {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
  }
}
.address__label {
  grid-column: 1/-1;
  margin-bottom: 8px;
}
.address__content {
  text-decoration: none;
  grid-column: 1/-1;
  color: #191919;
  font-size: 16px;
}
.address__content:not(:last-child) {
  margin-bottom: 24px;
}
.address__content:hover {
  color: #f98921;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  justify-content: center;
  grid-template-rows: 72px 318px 38px;
  height: 100vh;
  background-color: #f9f9f9;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
@media (min-width: 744px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    justify-content: center;
    grid-template-rows: 96px 342px 38px;
  }
}
.menu:target {
  transform: translateX(0);
}
.menu__header {
  height: 72px;
  grid-column: 1/-1;
}
.menu__navigation {
  grid-column: 1/-1;
}
.menu__list {
  grid-column: 1/-1;
}
.menu__list-item {
  grid-column: 1/-1;
  margin-top: 32px;
}
.menu__list-link {
  text-decoration: none;
  color: #1b2129;
  font-size: 22px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.menu-call {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.menu-call__number {
  text-decoration: none;
  color: #1b2129;
  margin-bottom: 16px;
}
.menu-call__call {
  color: #1b2129;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #1b2129;
  width: fit-content;
}

.navigation {
  display: grid;
  grid-template-columns: auto 24px 24px;
  gap: 24px;
  align-items: center;
}
@media (min-width: 744px) {
  .navigation {
    grid-template-columns: auto 32px 32px;
    gap: 32px;
  }
}
.navigation__logo {
  background-image: url("../img/Logo.svg");
  background-repeat: no-repeat;
  width: 152px;
  height: 16px;
  background-size: contain;
}
@media (min-width: 744px) {
  .navigation__logo {
    width: 228px;
    height: 24px;
  }
}
.navigation__phone {
  background-image: url("../img/Icon-Phone-call.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
}
@media (min-width: 744px) {
  .navigation__phone {
    width: 32px;
    height: 32px;
  }
}
.navigation__phone--hidden {
  width: 24px;
  height: 24px;
}
@media (min-width: 744px) {
  .navigation__phone--hidden {
    width: 32px;
    height: 32px;
  }
}
.navigation__burger {
  background-image: url("../img/Icon-Burger-menu.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
}
@media (min-width: 744px) {
  .navigation__burger {
    width: 32px;
    height: 32px;
  }
}
.navigation__burger--hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.navigation__close {
  background-image: url("../img/Icon-Close.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
}
@media (min-width: 744px) {
  .navigation__close {
    width: 32px;
    height: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
