.icon, .top-actions__logo, .header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
  scroll-behavior: smooth;
}
.page__body--with-menu {
  overflow: hidden;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.page__menu:target {
  transform: translateX(0);
}
.page__section {
  margin: 0 0 100px;
}
@media (min-width: 610px) {
  .page__section {
    margin: 0 0 140px;
  }
}
.page__section-link {
  position: absolute;
  margin-top: -15px;
  width: max-content;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #d12d35;
  letter-spacing: 0;
  text-decoration: none;
}
.page__title {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
}
@media (min-width: 610px) {
  .page__title {
    font-size: 48px;
    line-height: 48px;
  }
}
.page__title--margin {
  margin: 0 0 40px;
}
@media (min-width: 610px) {
  .page__title--margin {
    margin: 0 0 48px;
  }
}
.page__subtitle {
  margin: 8px auto 48px;
  width: max-content;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 610px) {
  .container {
    max-width: 600px;
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    padding: 0 40px;
  }
}

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-image.png);
}
.header__content {
  padding: 25px 0;
}
@media (min-width: 610px) {
  .header__content {
    padding: 50px 0;
  }
}
.header__title {
  height: 80px;
  margin: 129px auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.5px;
  color: #fff;
  text-align: center;
}
@media (min-width: 610px) {
  .header__title {
    margin: 141px auto;
    font-size: 64px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    margin: 83px auto;
    font-size: 80px;
    line-height: 80px;
  }
}

.top-actions {
  --icon-width: 18px;
  display: grid;
  grid-template-columns: 64px 1fr var(--icon-width) var(--icon-width);
  gap: 30px;
  align-items: center;
  padding: 25px 0 0;
}
@media (min-width: 610px) {
  .top-actions {
    --icon-width: 24px;
    gap: 63px;
    padding: 50px 0 0;
  }
}
.top-actions__logo {
  display: block;
  width: 64px;
  height: 46px;
  background-image: url(../images/met-logo.svg);
  transition: transform 0.3s;
}
.top-actions__logo:hover {
  transform: scale(105%);
}
@media (min-width: 610px) {
  .top-actions__logo {
    width: 87px;
    height: 65px;
  }
}
.top-actions__icon {
  position: relative;
}

.icon {
  display: block;
  width: 100%;
  height: 18px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
@media (min-width: 610px) {
  .icon {
    height: 24px;
  }
}
.icon--call {
  grid-column: 3/4;
  background-image: url(../images/call.svg);
}
.icon--menu {
  background-image: url(../images/burger-menu.svg);
  width: 18px;
  height: 12px;
}
@media (min-width: 610px) {
  .icon--menu {
    width: 24px;
    height: 16px;
  }
}
.icon--menu:hover {
  background-image: url(../images/burger-menu-hover.svg);
}
.icon--cross {
  grid-column: 4/5;
  background-image: url(../images/cross.svg);
}
.icon__tooltip {
  position: absolute;
  right: 100%;
  transform: translateY(-45%);
  display: block;
  width: max-content;
  padding-right: 20px;
  font-family: "Cinzel", serif;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-align: end;
  text-transform: uppercase;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
@media (min-width: 610px) {
  .icon__tooltip {
    font-size: 16px;
    line-height: 27px;
  }
}
.icon__tooltip-link {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s;
}
.icon__tooltip-link:hover {
  transform: scale(105%);
}
.icon__tooltip-link:hover {
  color: #e4dddd;
}
.icon__tooltip-link:focus {
  pointer-events: all;
}
.icon:focus .icon__tooltip {
  opacity: 1;
  pointer-events: all;
}
@media (min-width: 1024px) {
  .icon:hover .icon__tooltip {
    opacity: 1;
    pointer-events: all;
  }
}

.menu {
  height: 100vh;
  background-color: #d12d35;
}
.menu__list {
  margin: 40px 0 0;
}
@media (min-width: 1024px) {
  .menu__list {
    margin: 55px 0 48px;
  }
}
.menu__item {
  width: max-content;
  margin: 0 0 32px;
  transition: transform 0.3s;
}
.menu__item:hover {
  transform: scale(105%);
}
.menu__link {
  padding: 0 0 5px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (min-width: 1024px) {
  .menu__link {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
  }
  .menu__link:hover {
    border-bottom: 1px solid #fff;
  }
}
.menu__paragraph {
  display: block;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.menu__call {
  display: block;
  width: max-content;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  transition: transform 0.3s;
}
.menu__call:hover {
  transform: scale(105%);
}
.menu__call:nth-of-type(1) {
  display: inline-block;
  margin: 0 0 8px;
}
.menu__call:hover {
  color: #e4dddd;
}
.menu__bottom {
  display: block;
  width: max-content;
  margin: 16px 0 0;
  padding: 0 0 8px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
  transition: transform 0.3s;
}
.menu__bottom:hover {
  border-bottom: 1px solid #fff;
}
.menu__bottom:hover {
  transform: scale(105%);
}

.footer {
  height: 180px;
  background-image: url(../images/footer-img.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 610px) {
  .footer {
    height: 350px;
  }
}

@media (min-width: 610px) {
  .places__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  .places__content {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
.places__title {
  position: relative;
  margin: 0 0 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
}
@media (min-width: 610px) {
  .places__title {
    grid-column: 1/3;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 1024px) {
  .places__title {
    grid-column: 1/6;
  }
}
@media (min-width: 610px) {
  .places__schedule {
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .places__schedule {
    grid-column: 6/12;
  }
}
.places__section-link {
  position: absolute;
  width: max-content;
  margin-top: -15px;
  font-weight: 700;
  text-decoration: none;
  color: #d12d35;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0;
  transition: transform 0.3s;
}
.places__section-link:hover {
  transform: scale(105%);
}

.schedule__title {
  font-size: 24px;
  line-height: 30px;
}
.schedule__title:nth-of-type(2) {
  margin-top: 24px;
}
.schedule__container {
  display: flex;
  gap: 25px;
  margin: 16px 0;
}
.schedule__bold {
  font-weight: 700;
}

.gallery__block {
  margin: 0 0 48px;
}
.gallery__block:last-of-type {
  margin: 0;
}
.gallery__block--width {
  margin: 0 0 40px;
}
@media (min-width: 1024px) {
  .gallery__block--margin {
    margin: 0;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .gallery__container {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

.show__pictures {
  display: flex;
  gap: 8px;
  margin: 0 0 24px;
}
@media (min-width: 610px) {
  .show__pictures {
    gap: 24px;
  }
}
.show__image-container {
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
  width: 100%;
  max-height: 185px;
  overflow: hidden;
  transition: transform 0.3s;
}
.show__image-container:hover {
  transform: scale(105%);
}
.show__image-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media (min-width: 610px) {
  .show__image-container {
    width: 0;
    max-height: 185px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .show__image-container {
    max-height: 320px;
  }
}
@media (min-width: 610px) {
  .show__image-container--flex-grow-2 {
    flex-grow: 2;
  }
}
@media (min-width: 610px) {
  .show__image-container--width {
    width: 0;
    max-height: 280px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .show__image-container--width {
    max-height: 320px;
  }
}
@media (min-width: 610px) {
  .show__image-container:nth-of-type(3) {
    display: none;
  }
}
@media (min-width: 1024px) {
  .show__image-container:nth-of-type(3) {
    display: block;
  }
}
.show__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.show__image--object-position {
  object-position: 15%;
}
.show__link {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #d12d35;
  font-size: 16px;
  line-height: 27px;
  transition: transform 0.3s;
}
.show__link:hover {
  transform: scale(105%);
}

.button {
  display: flex;
  justify-content: center;
  height: 55px;
}
.button__container {
  display: block;
  width: 100%;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 55px;
  text-align: center;
  border: none;
  background-color: #d12d35;
  transition: transform 0.3s;
}
.button__container:hover {
  transform: scale(105%);
}
@media (min-width: 610px) {
  .button__container {
    width: 390px;
  }
}
@media (min-width: 1024px) {
  .button__container {
    width: 325px;
  }
}
.button__container:hover {
  background-color: #ae1c23;
}
.button__container:active {
  background-color: #eb343d;
}
.button__container--second-button {
  background-color: #ae1c23;
  width: 100%;
}

.feature {
  width: 280px;
}
@media (min-width: 610px) {
  .feature {
    width: 390px;
  }
}
@media (min-width: 1024px) {
  .feature {
    width: 325px;
  }
}
.feature__image {
  height: 275px;
  width: 100%;
  transition: transform 0.3s;
}
.feature__image:hover {
  transform: scale(105%);
}
@media (min-width: 610px) {
  .feature__image {
    height: 385px;
  }
}
@media (min-width: 1024px) {
  .feature__image {
    height: 320px;
  }
}
.feature__link {
  display: block;
  width: max-content;
  margin: 24px auto 4px;
  text-decoration: none;
  color: #d12d35;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  transition: transform 0.3s;
}
.feature__link:hover {
  transform: scale(105%);
}
@media (min-width: 610px) {
  .feature__link {
    margin: 32px auto 4px;
  }
}
.feature__parahraph {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

@media (min-width: 610px) {
  .contact-us__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .contact-us__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
}
.contact-us__flex {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .contact-us__flex {
    grid-column: 1/7;
    flex-direction: row;
    gap: 80px;
  }
}
.contact-us__info-block {
  margin: 0 0 48px;
  width: max-content;
}
.contact-us__place {
  font-weight: 700;
  margin: 0 0 16px;
}
.contact-us__paragraph {
  font-size: 14px;
  margin: 0 0 4px;
}
.contact-us__phone-num {
  display: inline-block;
  margin: 0 0 8px;
  font-weight: 700;
  color: #3e3e3e;
  text-decoration: none;
  transition: transform 0.3s;
}
.contact-us__phone-num:hover {
  transform: scale(105%);
}
.contact-us__phone-num:hover {
  color: #000;
}
.contact-us__address {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #3e3e3e;
  font-size: 16px;
  line-height: 22px;
  transition: transform 0.3s;
}
.contact-us__address:hover {
  transform: scale(105%);
}
.contact-us__address:hover {
  color: #000;
}
@media (min-width: 610px) {
  .contact-us__form {
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .contact-us__form {
    grid-column: 8/13;
  }
}
.contact-us__field {
  margin: 0 0 16px;
}
.contact-us__field:nth-child(3) {
  margin: 0 0 32px;
}

.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #161616;
  background-color: #f8f8fa;
  border: 1px solid transparent;
}
.form-field::placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #7e7e83;
}
.form-field:hover {
  border-color: #d5d7de;
}
.form-field:focus {
  border-color: #161616;
  outline: none;
}
.form-field--textarea {
  height: 144px;
  resize: none;
}

/*# sourceMappingURL=styles.css.map */
