.container {
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-inline: 120px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #292929;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
  min-width: 320px;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
}
.page__menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
  z-index: 2;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.header {
  background-image: url(../images/image_bg_mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 360px;
}
@media (min-width: 1024px) {
  .header {
    background-image: url(../images/photo-woman.png);
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.header__waves {
  height: 57px;
  width: 48px;
  margin-bottom: 16px;
  background-image: url(../images/Sound_waves.svg);
  background-size: cover;
}
@media (min-width: 576px) {
  .header__waves {
    width: 64px;
    height: 76px;
    margin-bottom: 40px;
  }
}
.header__title {
  margin: 0;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) {
  .header__title {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 48px;
  }
}
.header__bottom {
  padding-bottom: 40px;
}
@media (min-width: 576px) {
  .header__bottom {
    padding-bottom: 64px;
  }
}

.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  .top-bar {
    padding-block: 64px;
  }
}
.top-bar__icons {
  display: flex;
  gap: 24px;
}
.top-bar__logo-link {
  display: flex;
}
.top-bar__logo {
  height: 16px;
  transition: transform 0.3s;
}
.top-bar__logo:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .top-bar__logo {
    height: 18px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  transition: transform 0.3s;
}
.icon:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--phone {
  background-image: url(../images/icon/Icon-Phone-call18px.png);
  text-decoration: none;
}
@media (min-width: 1024px) {
  .icon--phone::before {
    content: "+12345555555";
    color: black;
    width: -moz-max-content;
    width: max-content;
    display: block;
    padding-right: 10px;
    position: relative;
    top: 50%;
    transform: translate(-100%, -50%);
    opacity: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    pointer-events: none;
  }
  .icon--phone:hover::before {
    opacity: 1;
    pointer-events: all;
  }
}
.icon--menu {
  background-image: url(../images/icon/Icon-Burger-menu18px.png);
}
@media (min-width: 1024px) {
  .icon--menu {
    background-image: url(../images/icon/Icon-Burger-menu.png);
  }
}
.icon--menu:hover {
  transition: transform 0.3s;
  background-image: url(../images/icon/Icon-Burger-menu-hover.svg);
}
.icon--menu:hover:hover {
  transform: scale(1.2);
}
.icon--close {
  background-image: url(../images/Icon-Close.svg);
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #e5e5e5;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__top {
  margin-bottom: 32px;
}
@media (min-width: 576px) {
  .menu__top {
    margin-bottom: 0;
  }
}
.menu__nav {
  margin-bottom: 40px;
}
.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
  color: inherit;
  text-decoration: none;
}
.menu__call-to-order {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid #292929;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: inherit;
  text-decoration: none;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nav__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #292929;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.nav__link:hover::after {
  transform: scale(1);
}

.section-title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 48px;
  }
}
@media (min-width: 576px) {
  .section-title {
    font-size: 40px;
    margin-bottom: 64px;
  }
}
.section-title--align--left {
  text-align: left;
}

#section-title--align--left {
  margin-bottom: 48px;
}

.main {
  background-color: #fff;
}
.main__content {
  display: grid;
  row-gap: 96px;
  padding-block: 96px;
}
@media (min-width: 576px) {
  .main__content {
    padding-block: 120px;
    row-gap: 120px;
  }
}

.product__photo {
  width: 100%;
}

.recommended__products {
  --columns: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  row-gap: 40px;
}
@media (min-width: 576px) {
  .recommended__products {
    --columns: 6;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .recommended__products {
    --columns: 12;
  }
}
.recommended__product {
  grid-column: 1/-1;
}
@media (min-width: 576px) {
  .recommended__product {
    grid-column: 2/-2;
  }
}
@media (min-width: 1024px) {
  .recommended__product {
    grid-column: span 4;
  }
}

.how-to-buy {
  --columns: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}
@media (min-width: 576px) {
  .how-to-buy {
    --columns: 6;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .how-to-buy {
    --columns: 12;
  }
}
.how-to-buy__title {
  margin: 0;
  grid-column: 1/-1;
}
@media (min-width: 576px) {
  .how-to-buy__title {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .how-to-buy__title {
    grid-column: span 5;
  }
}
.how-to-buy__content {
  grid-column: span 2;
}
@media (min-width: 576px) {
  .how-to-buy__content {
    grid-column: span 3;
  }
}
@media (min-width: 1024px) {
  .how-to-buy__content {
    grid-column: span 5;
  }
}
.how-to-buy__benefits {
  display: grid;
  row-gap: 16px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  font-weight: bold;
}
.how-to-buy__description {
  margin: 0;
  line-height: 1.67em;
}

.contacts__wrapper {
  --columns: 1;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  row-gap: 30px;
}
@media (min-width: 576px) {
  .contacts__wrapper {
    --columns: 2;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .contacts__wrapper {
    --columns: 2;
    -moz-column-gap: 150px;
         column-gap: 150px;
  }
}
.contacts__form {
  display: grid;
  grid-template-columns: -1;
  gap: 16px;
}
.contacts__form--input {
  border: none;
  border-radius: 40px;
  background-color: #f8f8f8;
  height: 48px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
}
.contacts__form--input:hover {
  border: 1px solid #d5d7de;
}
.contacts__form--input::-moz-placeholder {
  color: #7e7e83;
}
.contacts__form--input::placeholder {
  color: #7e7e83;
}
.contacts__form--input:hover::-moz-placeholder {
  color: #292929;
}
.contacts__form--input:hover::placeholder {
  color: #292929;
}
.contacts__form--input:focus {
  border: 1px solid #292929;
  outline: none;
}
.contacts__form--input-messege {
  border-radius: 16px;
  min-height: 148px;
  resize: none;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
}
.contacts .contacts__us--title {
  color: #7e7e83;
}
.contacts .contacts__us--info {
  text-decoration: none;
  color: #292929;
  font-style: normal;
}
.contacts .contacts__us--info .map {
  text-decoration: none;
  color: #292929;
}

.buttons__button--send {
  grid-column: 1/-1;
  border: 3px solid #292929;
  border-radius: 40px;
  background-color: #292929;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
}
.buttons__button--send:hover {
  background-color: #fff;
  color: #292929;
}
.buttons__button--send:active {
  background-color: #292929;
  color: #fff;
}

.footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}
@media (min-width: 576px) {
  .footer {
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .footer {
    height: 460px;
  }
}

.categories__wrapper {
  display: grid;
  row-gap: 40px;
}
@media (min-width: 576px) {
  .categories__wrapper {
    row-gap: 64px;
  }
}

.category__photos {
  --columns: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 16px;
}
@media (min-width: 576px) {
  .category__photos {
    --columns: 6;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .category__photos {
    --columns: 12;
  }
}
.category__link {
  position: relative;
}
.category__link--wide {
  transition: transform 0.3s;
}
.category__link--wide:hover {
  transform: scale(1.05);
}
@media (min-width: 576px) {
  .category__link--wide {
    grid-column: span 4;
  }
}
@media (min-width: 1024px) {
  .category__link--wide {
    grid-column: span 8;
  }
}
.category__link--square {
  height: 0;
  padding-bottom: 100%;
  transition: transform 0.3s;
}
.category__link--square:hover {
  transform: scale(1.12);
}
@media (min-width: 576px) {
  .category__link--square {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .category__link--square {
    grid-column: span 4;
  }
}
.category__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.buttons {
  --columns: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}
@media (min-width: 576px) {
  .buttons {
    --columns: 6;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .buttons {
    --columns: 12;
  }
}
.buttons__button {
  border: 3px solid #292929;
  border-radius: 40px;
  background-color: #292929;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
  grid-column: 1/-1;
}
.buttons__button:hover {
  background-color: #fff;
  color: #292929;
}
.buttons__button:active {
  background-color: #292929;
  color: #fff;
}
@media (min-width: 576px) {
  .buttons__button {
    grid-column: 2/6;
  }
}
@media (min-width: 1024px) {
  .buttons__button {
    grid-column: 4/9;
  }
}/*# sourceMappingURL=style.css.map */