/* stylelint-disable comment-empty-line-before */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable at-rule-empty-line-before */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
  color: rgb(255, 255, 255);
}
@media (min-width: 744px) {
  .title {
    font-size: 64px;
    line-height: 64px;
  }
}
@media (min-width: 1260px) {
  .title {
    font-size: 80px;
    line-height: 80px;
  }
}
.title--secondary {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: left;
  margin-bottom: 32px;
}
@media (min-width: 744px) {
  .title--secondary {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 48px;
  }
}
@media (min-width: 1260px) {
  .title--secondary {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 56px;
  }
}
.title--third {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  margin-bottom: 8px;
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .title--third {
    grid-column: 1/6;
  }
}
@media (min-width: 1260px) {
  .title--third {
    grid-column: 1/7;
  }
}
.title--fourth {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  margin-bottom: 8px;
}

.header {
  background-color: aquamarine;
  background-image: url("../images/Cover_photo.jpg");
  background-position: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 20px 88px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-column-gap: 20px;
}
@media (min-width: 744px) {
  .header {
    background-position: center;
  }
}
@media (min-width: 744px) {
  .header {
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .header {
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 24px;
  }
}
.header__navigation {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: start;
}
@media (min-width: 744px) {
  .header__navigation {
    grid-column: 1/7;
  }
}
@media (min-width: 1260px) {
  .header__navigation {
    grid-column: 1/13;
  }
}
.header__title {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: end;
}
@media (min-width: 744px) {
  .header__title {
    grid-column: 1/7;
  }
}
@media (min-width: 1260px) {
  .header__title {
    grid-column: 1/13;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
@media (min-width: 744px) {
  .navigation {
    margin-top: 36px;
  }
}
@media (min-width: 1260px) {
  .navigation {
    margin-top: 36px;
  }
}
.navigation__item {
  background-image: url("../images/Logo.svg");
  background-size: cover;
  width: 130px;
  height: 38px;
}
@media (min-width: 1260px) {
  .navigation__item {
    width: 187px;
    height: 56px;
  }
}

.paragraph {
  font-family: Poppins, sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 32.2px;
  text-align: left;
  color: #fff;
}

.icons {
  width: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 744px) {
  .icons {
    width: 96px;
  }
}
@media (min-width: 1260px) {
  .icons {
    width: 96px;
  }
}

.menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(194, 194, 194);
  padding: 0 20px;
  min-height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  place-content: start center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-column-gap: 20px;
}
@media (min-width: 744px) {
  .menu {
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .menu {
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 24px;
  }
}
.menu:target {
  transform: translateX(0);
}
.menu__navigation {
  grid-column: span 2;
}
@media (min-width: 744px) {
  .menu__navigation {
    grid-column: span 6;
  }
}
@media (min-width: 1260px) {
  .menu__navigation {
    grid-column: span 12;
  }
}
.menu__links {
  grid-column: span 2;
}
@media (min-width: 744px) {
  .menu__links {
    grid-column: span 6;
  }
}
@media (min-width: 1260px) {
  .menu__links {
    grid-column: span 12;
    align-self: flex-start;
  }
}
.menu__paragraph {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 16px;
  grid-column: span 2;
}
@media (min-width: 744px) {
  .menu__paragraph {
    grid-column: span 6;
  }
}
@media (min-width: 1260px) {
  .menu__paragraph {
    grid-column: span 12;
  }
}
.menu__link {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid rgb(29, 29, 29);
  padding-bottom: 8px;
  color: rgb(29, 29, 29);
}

.links {
  padding-top: 48px;
}
.links__item {
  margin-bottom: 24px;
}
.links__link {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgb(29, 29, 29);
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  display: inline-block;
}
@media (min-width: 1260px) {
  .links__link {
    font-weight: 700;
  }
}
.links__link:hover {
  border-bottom: 2px solid rgb(29, 29, 29);
}

.burger::before {
  content: "";
  background-image: url("../images/header_icon-burger-menu.svg");
  background-size: cover;
  display: inline-block;
  width: 18px;
  height: 12px;
}
@media (min-width: 1260px) {
  .burger::before {
    width: 24px;
    height: 16px;
  }
}
.burger::after {
  content: "";
  background-image: url("../images/header_icon-menu-burger-hover.svg");
  background-size: cover;
  display: none;
  width: 18px;
  height: 12px;
}
@media (min-width: 1260px) {
  .burger::after {
    width: 24px;
    height: 16px;
  }
}
.burger:hover::before {
  display: none;
}
.burger:hover::after {
  display: inline-block;
}
.burger__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.phone__label {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  position: absolute;
  transform: translateX(calc(100% - 320px)) translateY(5px);
}
.phone__icon {
  height: 18px;
  width: 18px;
}
@media (min-width: 1260px) {
  .phone__icon {
    height: 24px;
    width: 24px;
  }
}
.phone:not(:hover) .phone__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section {
  padding-top: 92px;
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .section {
    padding-top: 120px;
    grid-column: 1/7;
  }
}
@media (min-width: 1260px) {
  .section {
    padding-top: 144px;
    grid-column: 1/13;
  }
}
@media (min-width: 1260px) {
  .section__title {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.5px;
    text-align: center;
  }
}
.section__article {
  margin-bottom: 40px;
}

.price {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

.main {
  background-color: #1d1d1d;
  padding: 60px 20px 120px;
  font-family: Poppins, sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 32.2px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-column-gap: 20px;
}
@media (min-width: 744px) {
  .main {
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .main {
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 24px;
  }
}
.main__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .main__title {
    grid-column: 1/4;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 1260px) {
  .main__title {
    grid-column: 1/5;
    font-size: 64px;
    line-height: 64px;
  }
}
.main__content {
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .main__content {
    grid-column: 4/7;
  }
}
@media (min-width: 1260px) {
  .main__content {
    grid-column: 7/13;
  }
}
.main__paragraph {
  color: #fff;
}
.main__section {
  padding-top: 92px;
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .main__section {
    padding-top: 132px;
    grid-column: 1/7;
  }
}
@media (min-width: 1260px) {
  .main__section {
    padding-top: 180px;
    grid-column: 1/13;
  }
}

.pictures {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-column-gap: 20px;
}
@media (min-width: 744px) {
  .pictures {
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .pictures {
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 24px;
  }
}
.pictures__item {
  width: 100%;
  position: relative;
  padding-top: 100%;
  margin-bottom: 16px;
}
@media (min-width: 744px) {
  .pictures__item {
    grid-column: span 6;
    padding-top: 187px;
  }
}
@media (min-width: 1260px) {
  .pictures__item {
    grid-column: span 3;
    padding-top: 320px;
  }
}
@media (min-width: 744px) {
  .pictures__item--small {
    grid-column: span 2;
  }
}
@media (min-width: 1260px) {
  .pictures__item--small {
    grid-column: span 4;
  }
}
@media (min-width: 744px) {
  .pictures__item--big {
    grid-column: span 4;
  }
}
@media (min-width: 1260px) {
  .pictures__item--big {
    grid-column: span 8;
  }
}
.pictures--image {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: transform 0.3s;
}
.pictures--image:hover {
  transform: scale(1.1);
}
@media (min-width: 1260px) {
  .pictures--image:hover {
    transform: scale(1.05);
  }
}
.pictures__paragraph {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #fff;
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .pictures__paragraph {
    grid-column: 1/7;
  }
}
@media (min-width: 1260px) {
  .pictures__paragraph {
    grid-column: 1/9;
  }
}
.pictures__button {
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .pictures__button {
    grid-column: 2/6;
  }
}
@media (min-width: 1260px) {
  .pictures__button {
    grid-column: 5/9;
  }
}

.button {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  text-decoration: none;
  margin-top: 40px;
}
@media (min-width: 1260px) {
  .button {
    margin-top: 48px;
  }
}
.button::after {
  content: "Explore";
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: rgb(29, 29, 29);
}
.button:hover {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.button:target {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
}

.forms {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-column-gap: 20px;
}
@media (min-width: 744px) {
  .forms {
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .forms {
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 24px;
  }
}
.forms__contact {
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .forms__contact {
    grid-column: 4/7;
  }
}
@media (min-width: 1260px) {
  .forms__contact {
    grid-column: 8/11;
  }
}

.form {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 744px) {
  .form {
    grid-column: 1/4;
  }
}
@media (min-width: 1260px) {
  .form {
    grid-column: 1/6;
  }
}
.form__input {
  display: flex;
  box-sizing: border-box;
  height: 48px;
  border-radius: 40px;
  padding: 14px 16px;
  margin-bottom: 16px;
}
.form__message {
  padding: 14px 16px;
  border-radius: 16px;
  height: 148px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 32px;
}
.form__paragraph {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  margin-bottom: 24px;
}
.form__paragraph:hover {
  color: aqua;
}
.form__button {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  margin-bottom: 48px;
}
@media (min-width: 744px) {
  .form__button {
    margin-bottom: 0;
  }
}
@media (min-width: 1260px) {
  .form__button {
    margin-bottom: 0;
  }
}
.form__button::after {
  content: "Send";
}

.footer {
  height: 200px;
  background-image: url("../images/footer-320.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
@media (min-width: 744px) {
  .footer {
    height: 480px;
    background-image: url("../images/footer-for-ipad.jpg");
  }
}
@media (min-width: 1260px) {
  .footer {
    height: 555px;
    background-image: url("../images/footer-for-desktop.jpg");
  }
}
.footer__pictures {
  margin-bottom: 24px;
}

.article__paragraph {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  margin-bottom: 16px;
}
.article--distance {
  margin-bottom: 40px;
}
@media (min-width: 1260px) {
  .article--distance {
    margin-bottom: 48px;
  }
}
.article:last-child {
  margin-bottom: 0;
}

.bikes {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-column-gap: 20px;
}
@media (min-width: 744px) {
  .bikes {
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .bikes {
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 24px;
  }
}
.bikes__bike {
  grid-column: span 2;
}
@media (min-width: 744px) {
  .bikes__bike {
    grid-column: 2/6;
  }
}
@media (min-width: 1260px) {
  .bikes__bike {
    grid-column: span 4;
  }
}

.bike {
  transition: transform 0.3s;
}
.bike__item {
  display: flex;
  justify-content: center;
}
.bike--image {
  margin-bottom: 32px;
}
.bike--price {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}
.bike__paragraph {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  margin-bottom: 16px;
}
.bike:hover {
  transform: scale(1.1);
}
@media (min-width: 1260px) {
  .bike:hover {
    transform: scale(1.05);
  }
}

.contact__link {
  text-decoration: none;
}

.body {
  scroll-behavior: smooth;
}

.page__body--with-menu {
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
