html,
body,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  color: #3e3e3e;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

a,
button,
input,
textarea {
  outline: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  padding: 0 120px;
  width: 1260px;
  margin: 0 auto;
}

@media (max-width: 999px) {
  .container {
    padding: 0 10%;
    width: 100%;
  }
}

@media (max-width: 599px) {
  .container {
    padding: 0 5%;
  }
}

.section {
  margin-bottom: 152px;
}

@media (max-width: 899px) {
  .section {
    margin-bottom: 64px;
  }
}

.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.section__heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: black;
  margin-bottom: 8px;
  margin-top: 0;
}

.section__crown {
  background-image: url(../images/crown.svg);
  width: 23px;
  height: 16px;
  background-repeat: no-repeat;
}

.section__left,
.section__right {
  width: calc(50% - 20px);
}

@media (max-width: 599px) {
  .section__left,
  .section__right {
    width: 100%;
  }
}

.block {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .block {
    flex-direction: column;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  left: 100vw;
  z-index: 1;
  width: 100%;
  padding: 120px 20px;
  font-weight: bold;
  font-size: 22px;
  background-color: #0075ff;
  transition: left 1s;
}

@media (max-width: 999px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.mobile-menu__link--underlined:after {
  content: "";
  display: block;
  width: 110px;
  height: 1px;
  background-color: white;
  top: 8px;
}

.header {
  background-image: url(/images/header.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  overflow: hidden;
  position: relative;
}

.header__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header--icon {
  display: none;
  background-image: url(/images/burger.svg);
  width: 18px;
  height: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 999px) {
  .header--icon {
    display: block;
  }
}

@media (max-width: 999px) {
  .header__link {
    display: none;
  }
}

.header__link--icon {
  display: none;
  background-image: url(/images/phone.svg);
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 999px) {
  .header__link--icon {
    display: inherit;
  }
}

.header__link--underlined::after {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: 1px;
  background-color: white;
  position: relative;
  top: 8px;
}

.header__title {
  margin-top: 314px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.5px;
}

.header__title::before {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  position: relative;
  top: -16px;
}

@media (max-width: 999px) {
  .header__title {
    font-size: 46px;
    line-height: 40px;
    letter-spacing: -1px;
    position: absolute;
    bottom: 15vh;
  }
}

.header__title__title {
  font-size: 46px;
  line-height: 40px;
  letter-spacing: -1px;
  margin-top: 335px;
}

.header__nav {
  margin-top: 85px;
}

.header__label {
  display: none;
  z-index: 2;
  width: 18px;
  height: 12px;
  cursor: pointer;
  background-position: center;
  background-image: url(/images/burger.svg);
}

@media (max-width: 999px) {
  .header__label {
    display: block;
  }
}

.header__toggler {
  display: none;
  z-index: 2;
}

.header__toggler:checked + .header__label {
  background-image: url(/images/cross.svg);
  z-index: 2;
}

.header__toggler:checked ~ .mobile-menu {
  left: 0;
}

.logo {
  width: 115px;
  height: 76px;
  background-image: url(/images/Logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

@media (max-width: 999px) {
  .logo {
    width: 72px;
    height: 48px;
  }
}

.nav__list {
  list-style: none;
  margin-right: -24px;
}

.nav__link {
  font-size: 12px;
  transition: color 0.5s;
}

.nav__item {
  padding: 8px 24px;
}

.nav__item--is-active {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.nav__item:hover .nav__link {
  color: #9fadc2;
}

@media (max-width: 999px) {
  .nav {
    display: none;
  }
}

.about {
  margin-top: 104px;
}

@media (max-width: 899px) {
  .about {
    margin-top: 64px;
  }
}

.about__heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: black;
  margin-bottom: 48px;
}

@media (max-width: 999px) {
  .about__heading {
    font-size: 36px;
    line-height: 36px;
  }
}

.about__accent-word {
  color: #0075ff;
  text-transform: none;
}

.about__info {
  flex-direction: column;
}

.about__subtitle {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

@media (max-width: 599px) {
  .title {
    margin-bottom: 30px;
  }
}

.title__heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: black;
  margin-bottom: 8px;
  margin-top: 0;
}

.title__crown {
  background-image: url(../images/crown.svg);
  width: 23px;
  height: 16px;
  background-repeat: no-repeat;
}

.gallery__caption {
  margin-top: 24px;
  margin-bottom: 40px;
}

@media (max-width: 899px) {
  .gallery__caption {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

.gallery__accent-word {
  color: #0075ff;
}

.gallery__btn {
  height: 56px;
  width: calc(50% - 20px);
  border-radius: 8px;
  border: #0075ff 2px solid;
  background-color: white;
  margin: 0 calc(25% + 10px);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  color: #0075ff;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.gallery__btn:hover {
  box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
}

@media (max-width: 599px) {
  .gallery__btn {
    width: 100%;
    margin: 0;
  }
}

.photos {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}

.photos__photo {
  height: 256px;
  width: calc(50% - 10px);
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 599px) {
  .photos__photo {
    height: 131px;
  }
}

@media (min-width: 599px) {
  .photos--big-small .photos__photo:first-child {
    width: calc(67% - 10px);
  }
  .photos--big-small .photos__photo:last-child {
    width: calc(33% - 10px);
  }
}

@media (min-width: 599px) {
  .photos--small-big .photos__photo:first-child {
    width: calc(33% - 10px);
  }
  .photos--small-big .photos__photo:last-child {
    width: calc(67% - 10px);
  }
}

.consultation__info {
  display: flex;
  flex-direction: column;
}

.consultation__subtitle {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  background: #f7f8ff;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
  height: 48px;
  padding: 17px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #b9c1ce;
}

.form__textarea {
  height: 144px;
  resize: none;
}

.form__btn {
  background: #0075ff;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border-radius: 8px;
  height: 56px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  transition: 0.5s;
}

.form__btn:hover {
  background-color: #0067df;
  box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
}

.testimonials__cards {
  margin-top: 60px;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
}

@media (max-width: 799px) {
  .testimonials__cards {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 363px;
  border-radius: 8px;
  padding: 10px;
  box-sizing: content-box;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
}

.card__photo {
  width: 153px;
  height: 153px;
  border-radius: 50%;
}

.card__name {
  margin-top: 28px;
  font-size: 24px;
  line-height: 30px;
  color: #0075ff;
}

.card__position {
  margin: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #b9c1ce;
}

.card__text {
  margin: 0;
  text-align: center;
}

.contacts__info {
  width: 40%;
}

@media (max-width: 1060px) {
  .contacts__info {
    flex-direction: column;
  }
}

.contacts__contact {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #b9c1ce;
}

.contacts__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
  text-transform: none;
  margin: 0;
  margin-bottom: 24px;
}

.footer {
  background-image: url(/images/footer.png);
  height: 359px;
  background-size: cover;
  background-position: center;
  padding-top: 24px;
  align-items: flex-end;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
