.testimonials {

  &__content {
    display: flex;
    justify-content: space-between;

    @include onMobile {
      flex-wrap: wrap;
      row-gap: 48px;
    }
  }
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;

  @include onMobile {
    width: 100%;
  }

  &__photo {
    box-sizing: border-box;
    margin-bottom: 28px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: transform 1s;
  }

  &__name {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #0075ff;
    text-align: center;
  }

  &__position {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    text-align: center;
  }

  &__text {
    max-width: 240px;
    font-weight: 400;
    text-align: center;
  }
}

.person__photo:hover {
  border-radius: 50%;
  border: 1px solid #0075ff;
  transform: scale(1.4);
}
