.testemonials {
  display: flex;
  justify-content: space-between;
  padding: 0 $horizontalPadding 152px;

  &__item {
    height: calc((100% - 120px * 2 - 2 * 150px) / 3);
    display: flex;
    flex-direction: column;
  }

  &__item-central {
    box-sizing: content-box;
    padding: 0 20px;
  }

  &__container-photo {
    width: 153px;
    margin: 0 auto 28px;
    border-radius: 50%;
    height: 153px;
    overflow: hidden;
  }

  &__container-photo:hover img {
    transform: scale(1.1);
  }

  &__photo {
    width: 100%;
    transition: all 0.5s;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #0075ff;
  }

  &__position {
    font-size: 14px;
    text-align: center;
    color: #9fadc2;
    margin: 13px 0;
  }

  &__speech {
    text-align: center;
    color: #3e3e3e;
  }
}
