.testimonials {

  &__person {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    column-gap: 15px;

    align-items: start;
    justify-content: space-between;
    justify-items: center;
  }

  &__title {
    margin-bottom: 93px;
  }
}

@media (max-width: 950px) {
  .testimonials {

    &__person {
      grid-template-columns: 1fr;
    }
  }
}
