.testi {
  padding: 0 20px;

  &__sections {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 763px;
    height: auto;

    @media screen and (max-width: 900px) {
      width: 200px;
      padding-top: 100px;

      flex-direction: column;
    }
  }

  &__block {
    width: 200px;
    height: 394px;
  }

  &__img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }

  &__head {
    display: block;
    margin: auto;

    font-weight: bold;
    text-align: center;
    font-family: $text-font;
  }

  &__work {
    display: inline-block;
    width: 180px;
    margin-top: 5px;
    margin-left: -20px;

    font-weight: 200;
    color: #929299;
    font-family: $text-font;
  }

  &__text {
    position: relative;

    display: block;
    width: 200px;
    margin-top: 16px;

    text-align: center;
    font-family: $text-font;

    &::before {
      content: url(../images/quotes.svg);
      position: absolute;
      top: -40px;
      left: -30px;
    }
  }
}
