.testimonial {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;

  &__person {
    max-width: 240px;
    left: 0;
    right: 0;
    text-align: center;
    justify-self: center;
  }

  &__name {
    padding-top: 28px;
    font-size: 24px;
    line-height: 30px;
    > a {
      color: #0075ff;
    }
  }

  &__post {
    padding-top: 4px;
    color: #9fadc2;
    font-size: 14px;
    line-height: 27px;
  }

  &__about {
    padding-top: 13px;
    line-height: 27px;
    font-weight: normal;
    color: #3e3e3e;
  }
}

@media screen and (max-width: 320px) {
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__person {
      padding-bottom: 48px;
    }
  }
}
