.testimonials {
  padding: 50px 0 100px;

  &__persons {
    display: flex;
    justify-content: space-between;

    margin-top: 75px;
  }
}

@media screen and (max-width: $medium-screen) {
  .testimonials {
    padding-bottom: 20px;

    &__persons {
      flex-direction: column;
      align-items: center;
      row-gap: 48px;
      margin-top: 30px;
    }
  }
}
