.testemonials {
  display: flex;
  justify-content: space-between;
  padding: 0 $horizontalPadding 152px;

  &__item {
    height: calc((100% - 120px * 2 - 2 * 150px) / 3);
    display: flex;
    flex-direction: column;
  }

  &__photo {
    margin: 0 auto;
    width: 153px;
    height: 153px;
    margin-bottom: 28px;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #0075ff;
  }

  &__position {
    font-size: 14px;
    text-align: center;
    color: #9fadc2;
    margin: 13px 0;
  }

  &__speech {
    text-align: center;
    color: #3e3e3e;
  }
}
