
.testemonials {
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: #292929;
    margin: 0 0 32px;

    @include onDesktop {
      margin: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #292929;
    margin: 0 0 16px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &___text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #292929;
    margin: 0;
  }
}
