.testimonials {
  &__row {
    margin-top: 75px;
    display: flex;
    justify-content: space-between; //attention
    @media (max-width: $displayMiddle) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: $displayMiddle) {
      margin-top: 35px;
    }
  }

  &__item {
    width: 240px;
    text-align: center;
    @media (max-width: $displayMiddle) {
      margin: 0 32px 48px;
      &:nth-child(2) {
        order: 3;
        margin-bottom: 0;
      }
    }
  }

  &__photo {
    display: inline-block;
    margin-bottom: 28px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    margin-bottom: 4px;
    font-size: $title3LvlFontSize;
    line-height: $title3LvlLineHeight;
  }

  &__position {
    margin-bottom: 13px;
    font-size: $reguralTextFontSize * 0.85;
    line-height: $reguralTextLineHeight;
    color: $littleTextColor;
  }

  &__text {
    font-size: $reguralTextFontSize;
    line-height: $reguralTextLineHeight;
    color: $regularTextColor;
  }
}
