@import "variables";

.testimonial {

  &__heading {
    padding: 0 calc(50% - 132.5px) 23px;
  }

  &__persons {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
}

@media screen and (max-width: $smallScreenBreakPoint) {
  .testimonial {

    &__heading {
      padding: 0 calc(50% - 96.5px) 23px;
    }

    &__persons {
      flex-direction: column;
      align-items: center;
    }
  }
}
