@import "utils/vars";

.testimonials {
  display: flex;
  flex-direction: column;

  & > div:not(:last-child) {
    padding-bottom: $normal-pad-bot-gallery;
  }

  &__heading {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    margin-bottom: $normal-pad-bot-gallery + $main-logo-height;
  }

  &__h1 {
    /*position: relative;*/
    margin: 0;
  }

  &__logo {
    position: absolute;
    bottom: -8px;
    left: calc(50% - #{$main-logo-width / 2});
    width: $main-logo-width;
    height: $main-logo-height;
    background-image: url("../images/crown.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__filling {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    margin-top: 24px;
    width: $testimonials-photo-width;
    height: $testimonials-photo-height;
    border-radius: $testimonials-photo-height / 2;
    background-size: cover;
    background-position: center;
    transition: transform $trans-1s;

    &--1 {
      background-image: url("../images/people/Ellipse 1.png");
    }

    &--2 {
      background-image: url("../images/people/Ellipse 2.png");
    }

    &--3 {
      background-image: url("../images/people/Ellipse 3.png");
    }
  }

  &__photo:hover {
    box-shadow: 0 0 10px 5px #3c94f8;
    transform: scale(1.2);
  }

  &__link {
    padding: 24px 0 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: $c-main-link;
    transition: color $hover-direction ease-out;
  }

  &__link:hover {
    color: $c-nav-link-hover;
  }

  &__link:focus {
    outline: none;
    color: $c-focus-link;
  }

  &__position {
    margin: 0;
    padding: 4px 0 13px;
    font-size: 14px;
    color: $c-testimonials-position;
  }

  &__text {
    margin: 0;
    text-align: center;
    max-width: 240px;
    color: $c-main-font;
  }
}

@media screen and (max-width: $small-screen-width) {
  .testimonials {

    & > div:not(:last-child) {
      padding-bottom: $small-pad-bot-gallery;
    }

    &__heading {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: $main-logo-height + $small-pad-bot-gallery;
    }

    &__filling {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > :not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__card {
      max-width: 280px;
    }

    &__photo {
      margin-top: 0;
    }

  }
}
