.testimonials-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__person {
    margin-top: 90px;
    @media (max-width: 350px) {
      padding-right: 15px;
    }
  }
  @media (max-width: 860px) {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
