.testi {

  &__sections {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 763px;
    height: 394px;
  }

  &__block {
    width: 200px;
    height: 394px;
  }

  &__img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }

  &__title {
    display: block;
    margin: auto;
    font-weight: bold;
    text-align: center;
    font-family: $text-font;
  }

  &__work {
    font-weight: 200;
    margin-top: 5px;
    margin-left: -20px;
    color: #929299;
    width: 180px;
    display: inline-block;
    font-family: $text-font;
  }

  &__text {
    width: 200px;
    display: block;
    margin-top: 16px;
    text-align: center;
    position: relative;
    font-family: $text-font;

    &::before {
      content: url(../images/quotes.svg);
      position: absolute;
      top: -40px;
      left: -40px;
    }
  }
}
