.text-info {
  @include normalText;
  color: $colorText;

  &__subtitle {
    @include normalText($textSize: 24px, $textWeight: bold, $lineHeight: 30px);
    color: $colorLink;
  }

  &__lead {
    @include normalText($textSize: 14px);
    color: $colorInfo;
  }
}
