.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  text-align: center;

  color: #000;

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 13px;
    background: url(../images/crown.svg) center / contain no-repeat;
    margin: 0 auto;
    margin-top: 8px;
  }
}
