.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  position: relative;
  text-align: center;
  margin-top: 152px;

  @media (max-width: 900px) {
    margin-top: 64px;
  }

  &__link {
    color: $blue;
  }

  &::before {
    content: url(../images/crown.svg);
    width: 20px;
    height: 13px;
    position: absolute;
    bottom: 8px;
    left: calc(50% - 10px);
  }
}
