.title{
    color: #FFF;
    text-align: center;
    font-family: Cinzel;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 2.5rem */
    letter-spacing: -0.09375rem;
}