.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  visibility: hidden;

  &__icon {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #fff;

    &::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: "";
      display: block;
      width: 30px;
      height: 5px;
      background-color: #fff;
    }
  }
  &__icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fff;
  }
}
