@import "./vars.scss";

.toggle {
  &__mobile {
    display: none;
  }

  &__menu {
    opacity: 0;
    position: absolute;
    top: -100%;
  }

  &__btn {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    color: white;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__contact {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 460px;
    left: 20px;
    text-transform: uppercase;

    &::after {
      content: "";
      width: 111px;
      border: 1px solid #fff;
      margin-top: 8px;
    }
  }

  &__menu:checked ~ .toggle__mobile {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0075ff;
    top: 0;
    left: 0;
    transition: opacity 0.3s, transform 0.5s;
  }
  &__menu:checked ~ .header__heading {
    display: none;
  }

  &__span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    transition-duration: 0.2s;
  }

  &__span::before {
    content: "";
    top: -8px;
    @extend %toggle-span-style;
  }

  &__span::after {
    content: "";
    top: 8px;
    @extend %toggle-span-style;
  }

  &__menu:checked ~ .toggle__btn > .toggle__span {
    transform: rotate(45deg);
  }

  &__menu:checked ~ .toggle__btn > .toggle__span::before {
    top: 0;
    transform: rotate(0);
  }

  &__menu:checked ~ .toggle__btn > .toggle__span::after {
    top: 0;
    transform: rotate(90deg);
  }

  &__list {
    position: absolute;
    top: 120px;
    left: 20px;
  }

  .contact__info {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 16px;
  }
}
