.top-actions {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 100px 18px 18px;
  // justify-items: center;
  align-items: center;
  margin-bottom: 130px;
  @include onDesktop {
    margin-bottom: 83px;
    grid-template-columns: 1fr  205px 24px 24px;
    grid-template-rows: 1fr;
  }
  // .phone_numbers {
  //   position: relative;
  //   bottom: 100px;
  //   right: 100px;
  //   // display: none;
  //   grid-column: 2;
  // }
  // .phone--display {

  //   &:hover ~ .phone_numbers {
  //     display:block;
  //   }
  // }
  .phone_numbers {
    display: none;
    @include onDesktop {
      display: block;
    }
  }
}
