.top-actions {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 200px;
    height: 24px;

    @include OnMobile {
      width: 130px;
      height: 20px;
    }
  }
}
