.top-actions {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr  18px 18px;
  // justify-items: center;
  align-items: center;
  margin-bottom: 83px;
  @include onDesktop {
    grid-template-columns: 1fr  24px 24px;
  }
}
