.top {
  display: flex;
  position: absolute;
  top: 35px;
  left: calc(50% - 58px);
  color: white;

  @media screen and (max-width: 550px) {
    width: auto;
  }

  &__logo {
    width: 115px;
    height: 76px;

    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__phone {
    margin: 0 82px;
    transition: color 1s;
    margin-top: auto;
    margin-bottom: auto;

    @media screen and (max-width: 1115px) {
      font-size: 14px;
    }
  }

  &__call,
  &__phone,
  &__link {
    @media screen and (max-width: 1200px) {
      display: none;
    }

    @media screen and (max-width: 325px) {
      display: none;
    }
  }

  &__call {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    transition: color 1s;
    margin-top: auto;
    margin-bottom: auto;

    @media screen and (max-width: 1115px) {
      font-size: 14px;
    }

    &:hover {
      color: #d5c5aa;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
  }

}

.top__visible {
  visibility: hidden;

  @media screen and (max-width: 1200px) {
    position: relative;
    left: 160px;
    top: 20px;

    visibility: visible;
  }

  @media screen and (max-width: 600px) {
    left: 140px;
  }

  @media screen and (max-width: 500px) {
    left: 60px;
  }
}
