.top {
  position: absolute;

  top: 35px;
  left: calc(50% - 115px / 2);

  display: flex;

  &__phone {
    margin: 0 82px;
  }

  &__phone ,
  &__action {
    position: relative;
    top: 47px;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed;
    transition: color 0.2s;

    &:hover {
      color: #d5c5aa;
    }
  }

  &__number {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width:$main_brackpoint) {
  .top {
    flex-direction: column;

    &__phone {
      margin-left: -7px ;
    }

    &__action {
      margin-top: -50px;
    }
  }
}
