.top {
  &__logo {
    width: 115px;
    height: 76px;

    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__phone {
    margin: 0 82px;
    transition: color 1s;
    margin-top: auto;
    margin-bottom: auto;

    @media screen and (max-width: 1000px) {
      margin: 20px 0;
    }
  }

  &__call,
  &__phone,
  &__link {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  &__call {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    transition: color 1s;
    margin-top: auto;
    margin-bottom: auto;

    &:hover {
      color: #d5c5aa;
    }
  }

  &__link {
    width: auto;
    color: white;
    text-decoration: none;
  }

  &__visible {
    visibility: hidden;

    @media screen and (max-width: 500px) {
      position: relative;
      left: 180px;
      top: -35px;

      width: 20px;

      visibility: visible;
    }
  }

}
