.topic {

  &__header {
    font-size: 24px;
    line-height: 30px;
    color: $primary-color;
    font-weight: 700;
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
    color: $secondary-black-color;
  }
}
