@mixin onMobile {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin logoSize {
  height: 76px;
  width: 115px;
}

$colorHeding: #000;
$mainColorText: #0075ff;
$colorWhite: #fff;
$colorBurgerHover: #9fadc2;
$consultationColor: #3e3e3e;
$backgroundForm:  #f7f8ff;
$duration: 0.5s;
$robotoFontFamily: "Roboto", sans-serif;
