$logo-width: 115px;
$logo-height: 76px;
$transition-duration: 0.4s ease-in-out;
$small-screen: 999px;
$phone-screen: 450px;

$active-color:#d5c5aa;
$highlite-color: #00aaef;
$hover-color: #2f80ed;

//поварьировать с названиями
