$headerFontColor: #fff;
$headerNavHoverColor: #9fadc2;
$activeColor: #0075ff;
$mainColor: #3e3e3e;
$placeholderColor: #b9c1ce;
$inputBgColor: #f7f8ff;

$blockWidth: 413px;
$widthGap: 20px;
$widthCalc: calc(50% - #{$widthGap} / 2);

@mixin smallText {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

@mixin mainText {
  font-size: 16px;
  line-height: 27px;
  color: $mainColor;
}

@mixin captionText {
  font-size: 14px;
  line-height: 27px;
  color: $headerNavHoverColor;
}

@mixin placeholderText {
  font-size: 14px;
  line-height: 14px;
  color: $placeholderColor;
}

@mixin headingLargeText {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
}

@mixin headingSmallText {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1.5px;
}

@mixin blueHeadingText {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $activeColor;
}
