$grey-hover-color: #9fadc2;
$light-blue: #0075ff;
$dark-blue: #0067df;

$logo-width: 115px;
$logo-height: 76px;

$main-font: "Roboto", sans-serif;

@mixin header-links {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;

  color: #fff;

  text-decoration: none;
  text-transform: uppercase;
}
