$c-gray: #eee;
$logo-width: 115px;
$logo-height: 76px;
$hover-duration: 0.2s;

$active-color: #d5c5aa;
$highlight-color: #00aaef;
$highlight-hover-color: #2f80ed;

$small-screen-breakpoint: 999px;
$gap: 20px;
