$c-nav-link-hover: #9fadc2;
$hover-direction: 0.5s;
$logo-width: 115px;
$logo-height: 76px;
$logo-width-mini: 73px;
$logo-height-mini: 48px;
$small-screen-width: 1020px;
$small-screen-height: 568px;
