$logo_width: 115px;
$logo_height: 76px;
$active_color: #d5c5aa;
$small_screen_breakpoint: 999px;
$hover_duration: 0.2s;
$background_color_section: #fff;
$section_photos_background:#eee;
$section_paddingY: 100px;
$color_decoration_of_heading: #0af;
$heading_font_size: 48px;
