.view {
  &__subtitle {
    margin-bottom: 48px;

    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #161616;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    
    text-decoration: none;
    background: #D12D35;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background: #AE1C23;
    }

    &:active {
      background: #EB343D;
    }
  }
  
}