.photos--wide-right {
  .photos__img {
    &:first-child {
      width: calc(33% - 10px);
    }
    &:last-child {
      width: calc(67% - 10px);
    }
  }
}
@media (max-width: 700px) {
  .photos--wide-right {
    .photos__img {
      &:first-child {
        width: calc(50% - 10px);
      }
      
      &:last-child {
        width: calc(50% - 10px);
      }
    }
  }
}
@media (max-width: 400px) {
  .photos--wide-right {
    .photos__img {
      &:first-child {
        width: calc(50% - 5px);
      }
      &:last-child {
        width: calc(50% - 5px);
      }
    }
  }
}
