@font-face {
  font-family: Manrope;
  src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype-variations"),
    url("../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype supports variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
