@import "../../utils/vars";

.info {
  display: flex;
  justify-content: space-between;

  &__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    width: 314px;
  }

  &__name {
    display: inline-block;
    color: $highlight-color;
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 16px;
  }
}

@media screen  and (max-width: $small-screen-breakpoint) {
  .info {
    flex-direction: column;
    align-items: center;

    &__heading {
      font-size: 34px;
      margin-bottom: 40px;
      width: 250px;
    }
  }
}

@media screen  and (max-width: 299px) {
  .info__heading {
    width: 100px;
    font-size: 24px;
    margin-left: -75px;
  }
}
