$c-white: #fff;
$c-blue: #0075ff;

$grid-columns-mobile: 2;
$grid-width-mobile: 130px;
$grid-gap-mobile: 20px;

$grid-columns-tablet: 6;
$grid-width-tablet: 80px;
$grid-gap-tablet: 24px;

$grid-columns-desktop: 12;
$grid-width-desktop: 63px;
