.contact-us {
  &__information {
    @include onTablet {
      @include grid-properties-tablet;
    }

    @include onDesktop {
      @include grid-properties-desktop;
    }
  }

  &__form {
    margin: 0 0 48px;

    @include onTablet {
      grid-column: 1 / 4;
      margin: 0;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

  &__contacts {
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }
  
  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__info {
    margin: 0 0 24px;
    &:last-child {
      margin: 0;
    }
  }

  &__info-title {
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 140%;
  }

  &__info-link {
    color: $color-text-link;
    text-decoration: none;
    transition: 0.3s text-shadow;

    &:hover {
      text-shadow: 3px 9px 25px #f8f8fa;
    }
  }
}
