.contact {
  &__info-title,
  &__info-link {
    margin-bottom: 12px;
    @include sizeLine(16px, 27px);
  }
  &__info-link a {
    text-decoration: none;

    @include hover(all) {
      text-decoration: underline;
      color: $main-color;
    };
  }

  &__label {
    margin-bottom: 4px;
    font-weight: 400;
    @include sizeLine(14px, 27px);
  }
}
