.contact {
  display: grid;
  row-gap: 48px;
  @include marginTop100;

  &__headline {
    text-align: center;
  }

  &__title {
    @include sizeLine(32px, 32px);

    @include onTablet {
      @include sizeLine(48px, 48px);
    }
  }

  &__data {
    display: grid;
    grid-template-columns: auto;
    row-gap: 48px;

    @include onTablet {
      grid-template-columns: 50% 50%;
    }
  }

  &__informations {
    display: grid;
    grid-template-columns: auto;
    row-gap: 48px;

    @include onDesktop {
      grid-template-columns: auto auto;
      column-gap: 24px;
    }
  }
}
