.bike {
  &__img {
    margin-bottom: 32px;
    width: 100%;
    transition: transform 500ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    @include subTitle;
    margin-bottom: 8px;

    &--link {
      @include linkDecoration;
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__price {
    @include subTitle;
  }
}
