.bike {
  &__img {
    margin-bottom: 32px;
    width: 100%;
    transition: transform 500ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    @include subTitle;
    width: max-content;
    margin-bottom: 8px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s;

    &:hover {
      border-color: $main-text-color;
    }

    &--link {
      @include linkDecoration;
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__price {
    @include subTitle;
  }
}
