.bikes {
  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 90px;
    }

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 145px;
    }
  }
}

.bike {
  &__img {
    margin-bottom: 32px;
    width: 100%;
    transition: transform 500ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    @include subTitle;
    margin-bottom: 8px;

    &--link {
      @include linkDecoration;
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__price {
    @include subTitle;
  }

  &:hover {
    transform: scale(1.2);
  }
}
