.contacts {
  &__info {
    margin-bottom: 24px;
  }

  &__info-title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__info-link {
    @include linkDecoration;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s;

    &:hover {
      border-color: $main-text-color;
    }
  }

  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
