.form-field {
  display: block;
  width: 100%;
  height: 40px;
  background-color: $form-background-colod;
  border: 1px solid transparent;
  border-radius: 16px;
  color: $secondary-text-color;

  padding: 16px 14px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $palceholder-color;
  }

  &:hover {
    border-color: $menu-backgroun-color;
  }

  &:focus {
    border-color: $secondary-text-color;
    outline: none;
  }

  &--text {
    font-family: inherit;
    height: 150px;
    resize: none;
  }
}
