.place {

  &__photo--container {
    position: relative;
    width: 100%;
    max-height: 320px;
    overflow: hidden;
    transition: transform 500ms;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      height: 190px;
      padding-bottom: 0;
    }

    @include onDesktop {
      height: 320px;
      padding-bottom: 0;
    }

    &:hover {
      z-index: 1;
      transform: scale(1.1);
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__photos {
    margin-bottom: 16px;
  }

  &__link {
    display: block;
    width: max-content;
    margin-bottom: 8px;
    @include subTitle;
    @include linkDecoration;

    border-bottom: 1px solid transparent;
    transition: border-color 0.5s;

    &:hover {
      border-color: $main-text-color;
    }
  }
}
