.advantages {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  &__text {
    &--strong {
      font-weight: bold;
    }
  }
  &__description {
    max-width: 500px;
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
  //remove crown from subtitle__topic
  &__title .subtitle::after {
    display: none;
  }
}
