::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: $c-red;

  &:hover {
    background-color: $c-dark-red;
  }

  &:active {
    background-color: $c-light-red;
  }
}
