.header {
  background-size: cover;
  background-position: center;
  background-image: url(../images/header.jpg);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100vh;
    padding: 40px 0;

    @include onTablet {
      padding: 50px;
    }
  }

  &__top {
    @include top-actions;
  }

  &__title {
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }

    &::before {
      content: url(../images/mobile_sound_icon.svg);
      display: block;
      margin-bottom: 16px;
      width: 32px;
      height: 28px;

      @include onTablet {
        content: url(../images/desktop_sound_icon.svg);
        margin-bottom: 40px;
        width: 62px;
        height: 76px;
      }
    }
  }
}
