.icon {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  text-decoration: none;

  &__tooltip {
    position: absolute;
    right: 100%;
    padding-right: 12px;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: max-content;

    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $pageTextColor;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s;
  }

  &:hover &__tooltip {
    opacity: 1;
    pointer-events: all;
  }

  &--phone {
    background-image: url(../images/phone_icon.svg);
  }

  &--menu {
    background-image: url(../images/menu_icon.svg);

    &:hover {
      background-image: url(../images/menu_icon_hover.svg);
    }
  }

  &--close {
    background-image: url(../images/close_icon.svg);
  }
}
