.product {
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-bottom: 32px;

    transition: scale(1.2) 0.3s;

    &:hover {
      transition: scale(1.2) 0.3s;
    }

    @include onDesktop {
      margin-bottom: 32px;
    }
  }
 
  &__photo {
    grid-column: 2 / 4;
    width: 280px;
    height: 280px;
  }

  &__name {
    margin: 0 0 8px;
  }

  &__category {
    margin: 0 0 12px;
    font-weight: 400;
  }

  &__price {
    margin: 0 0 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
