.phone {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &__text {
    display: none;
    color: $white;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: right;

    padding: 0 12px;

    text-indent: 100%;
    opacity: 0;
    transition: $transition;
    overflow: hidden;

    @include media(sm) {
      display: block;
    }
  }

  &:hover {
    .phone__text {
      text-indent: 0;
      opacity: 1;
    }
  }

  &__icon {
    width: 18px;

    @include media(sm) {
      width: 24px;
    }
  }

  .header--open & {
    display: none;
  }
}
