.btn {
  background-color: $white;
  border: none;
  border-radius: 40px;
  display: block;
  color: $clr-main;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  padding: 14px 48px;
  text-align: center;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
}
