.field {
  display: block;
  background-color: $white;
  border-radius: 40px;
  border: 1px solid $white;
  color: $clr-field;
  line-height: 20px;
  padding: 13px 15px;
  width: 100%;

  &::placeholder {
    color: $clr-placeholder;
    font-family: $font-main;
    font-size: 14px;
  }

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #f8f8fa;

    &::placeholder {
      color: $clr-field;
    }
  }

  &--textarea {
    display: block;
    resize: none;
    border-radius: 16px;
  }
}
