.contact-us {
  &__title {
    margin: 0 0 48px;

    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #161616;
  }

  &__info-wrapper {
    margin: 0 0 48px;

    @include onIPad {
      margin: 0;
    }

    display: flex;
    gap: 48px;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__museum-name {
    margin: 0 0 47px;
  }

  &__phone {
    margin: 0 0 39px;
  }

  &__telephone-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #161616;

    position: relative;
    &::before {
      position: absolute;
      transform: translateY(-100%);

      margin: 0 0 4px;

      font-weight: 400;
      font-size: 14px;
      line-height: 27px;

      content: "Phone";
    }
  }

  &__address-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #161616;

    position: relative;
    &::before {
      position: absolute;
      transform: translateY(-100%);

      margin: 0 0 4px;

      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      color: #161616;

      content: "Address";
    }
  }

  &__field {
    margin: 0 0 16px;

    &:last-of-type {
      margin: 0 0 32px;
    }
  }
}
