.contact-us-info {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mix-width-for-tablets) {
    flex-direction: column;
    height: 330px;
    max-width: 280px;
    padding-bottom: 32px;
  }

  &__left-part {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}

.phone,
.email,
.office-address {
  line-height: 27px;
  
  &__title {
    font-weight: normal;
    font-size: 14px;
    color: $gray-color;
    padding-bottom: 6px;
  }

  &__text {
    color: $black-color;
    transition: opacity $transition-time;

    &:hover {
      opacity: 0.5;
    }
  }
}
