@keyframes loading-bar-morph {
  0% {transform: scaleY(1);}
  25% {transform: scaleY(0.3);}
  50% {transform: scaleY(0.7);}
  75% {transform: scaleY(0.15);}
}
#loading-bar-1 {
  animation: loading-bar-morph 1s linear 0.1s infinite;
  transform-origin: center;
}
#loading-bar-2 {
  animation: loading-bar-morph 1s linear 0.2s infinite;
  transform-origin: center;
}
#loading-bar-3 {
  animation: loading-bar-morph 1s linear 0.3s infinite;
  transform-origin: center;
}
#loading-bar-4 {
  animation: loading-bar-morph 1s linear 0.4s infinite;
  transform-origin: center;
}
#loading-bar-5 {
  animation: loading-bar-morph 1s linear 0.5s infinite;
  transform-origin: center;
}
