.button {
  @extend %button;

  &--gallery {
    color: $main-highlight_color;
    background-color: transparent;
    border: 2px solid $main-highlight_color;
    transition: background-color 0.3s 0.1s linear, color 0.3s 0.1s linear;
    box-shadow: none;

    &:hover {
      background-color: $main-highlight_color;
      color: white;
    }
  }
  &--form {
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    transition: box-shadow 0.3s linear, background-color 0.3s linear;

    &:hover {
      box-shadow: 0 6px 23px rgba(5, 52, 106, 0.53);
      background-color: rgba(32, 78, 130, 0.96);
    }
  }
}
