@import "../../utils/vars";

.galley__button {
  $size-button: 188px;

  position: absolute;
  left: calc(50% - #{$size-button / 2});

  height: 56px;
  width: $size-button;
}

@media screen and (max-width: $small-screen-breakpoint) {
  .galley__button {
    left: calc(50% - 280px / 2);
    width: 280px;
  }
}

@media screen  and (max-width: 299px) {
  .galley__button {
    width: calc(100% - 8px);
    margin: 0 10px;
  }
}
