@import "../../utils/vars";

.heading {
  position: relative;
  width: max-content;

  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;

  &__crown {
    position: absolute;
    display: block;
    width: 23px;
    height: 16px;

    top: calc(100% + 4px);
    right: 0;
    left: 0;
    margin: auto;

    color: blue;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .heading {
    font-size: 36px;
  }
}
