@import "../utils/vars";

.main {
  width: 100%;
  padding-top: 104px;
  padding-bottom: 88px;
  background: #fff;
}

@media only screen and (max-width: $media-laptop) {
  .main {
    width: 100%;
  }
}

@media only screen and (max-width: $media-tablet) {
  .main {
    padding-top: 64px;
  }
}
