@import "../utils/extends";
@import "../utils/vars";

.section {
  width: 1020px;
  margin: auto;
  &__title {
    @extend %section-title;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
  }
  &:not(:first-of-type) {
    margin-top: 152px;
  }
}

@media only screen and (max-width: $media-laptop) {
  .section {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: $media-tablet) {
  .section:not(:first-of-type) {
    margin-top: 64px;
  }
}
