.hours {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  padding: 80px 0;

  @include onTablet {
    grid-template-columns: 1fr 1fr;
  }

  &__detail {
    display: grid;
    row-gap: 24px;
  }

  &__label {
    margin-bottom: 2px;
    color: $main-color;
    @include sizeLine(12px, 12px);
  }

  &__title {
    color: $text-900;
    @include sizeLine(32px, 32px);

    @include onTablet {
      @include sizeLine(48px, 48px);
    }
  }
}
