.hours {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-top: 80px;

  @media (min-width: 744px) {
    grid-template-columns: 1fr 1fr;
  }

  &__detail {
    display: grid;
    row-gap: 24px;
  }

  &__label {
    margin-bottom: 2px;
    color: $main-color;
    @include sizeLine(12px, 12px);
  }

  &__title {
    color: $text-900;
    @include sizeLine(32px, 32px);

    @media (min-width: 744px) {
      @include sizeLine(48px, 48px);
    }
  }
}
