.about {
  padding: 104px 0;
  &__title {
    margin-bottom: 48px;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #000;
    @include onDesktop {
      margin-bottom: 0;
      font-size: 48px;
      line-height: 100%;
    }
  }
  &__title-link {
    color: $colorBlue;
  }
  &__subtitle {
    display: block;
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: $colorBlue;
  }
  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 27px;
    }
    &--important {
      font-weight: bold;
    }
  }
}
