@mixin onDesktop {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin top-actions {
  display: grid;
  grid-template-columns: 1fr 18px 18px;
  gap: 30px;
  justify-items: space-between;
  justify-content: center;
  align-items: center;

  @include onDesktop {
    grid-template-columns: 1fr 24px 24px;
  }
}
