@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin font ($font-size, $line-height, $letter-spacing: 0) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin hoverText ($top-shift) {
  position: absolute;
  display: block;

  opacity: 1;
  top: $top-shift;
  transform: translate(-110%, -100%);

  width: max-content;

  font-size: 16px;
  line-height: 27px;
  white-space: pre-wrap;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
  color: $text-light;

  pointer-events: none;
}
