@keyframes recom {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes move {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotateX(360deg);
  }
}

@keyframes text {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
