.btn {
  padding: 15px 50px;
  background-color: $primary;
  border: 3px solid transparent;
  border-radius: 40px;
  color: $white;

  &:hover {
    background-color: $btnHover;
    border: 3px solid $primary;
    color: $primary;
  }

  &:active {
    background-color: $btnPressed;
    color: $white;
  }
}
