.btn {
  padding: 15px 50px;
  background-color: $primary;
  border: 3px solid transparent;
  border-radius: 40px;
  color: $white;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  cursor: pointer;

  @include typography($weight-7, $size-16, $size-28);

  &:hover {
    background-color: $btnHover;
    border: 3px solid $primary;
    color: $primary;
  }

  &:active {
    background-color: $btnPressed;
    color: $white;
  }
}
