.default-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 130px;
  background-color: black;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  border: none;

  @media (max-width: 460px) {
    padding: 15px 30%;
  }
}
