@import "vars";

.button {
  display: block;
  padding: 19px 62px;
  font-size: 14px;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  background-color: $main-color;
  cursor: pointer;
  transition: background-color $hover-duration;

  &:hover {
    background-color: $main-hover-color;
  }
}
