.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include for-tablet-up {
    padding: 0 72px;
    width: 744px;
  }

  @include for-desktop-up {
    padding: 0 120px;
    width: 1020px;
  }
}
