.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 20px;

  @include onDesktop {
    padding: 0 120px;
  }

  @include onTablet {
    padding: 0 72px;
  }

  &__bike {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }
  }
}
