html {
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: $breakpoint-l) {
    max-width: 970px;
  }
  @media (max-width: $breakpoint-lg) {
    max-width: 760px;
  }
  @media (max-width: $breakpoint-md) {
    max-width: 570px;
  }
  @media (max-width: $breakpoint-sm) {
    max-width: 450px;
  }
}
