html {
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
}

body {
  background: $mainBackground;
  color: $textColor;
}

.body--disabled {
  overflow: hidden;
  @media (min-width: $breakpoint-md) {
    overflow: auto;
  }
}
