%section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: $blackText;
}

%flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
