%cursorPointer {
  cursor: url(../images/pointer.png), pointer;
}

%headerMargins {
  margin: 0 20px;

  @include onIpad {
    & {
      margin: 0 72px;
    }
  }

  @include onDesktop {
    & {
      margin: 0 120px;
    }
  }
}

%headerContent {
  display: flex;
  margin: auto;
  padding-top: $header-top-padding;
  justify-content: space-between;
  max-width: 600px;

  @include onIpad {
    & {
      $header-top-padding: 52px;
    }
  }

  @include onDesktop {
    & {
      $header-top-padding: 52px;
      max-width: 1020px;
    }
  }
}
