%h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%header-text {
  color: white;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
}

%header-hover {
  transition: color 0.2s, border-color 0.2s;

  &:hover {
    color: #9fadc2;
    border-color: #9fadc2;
  }
}

%heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;

  @media (max-width: $small-screen) {
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 56px;
    left: calc(50% - 10px);
    background-image: url(../images/crown.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 13px;
  }
}

%input-view {
  width: 100%;
  padding: 17px;
  background-color: #f7f8ff;
  border: 1px solid white;
  border-radius: 8px;
  transition: border 0.2s;

  &:hover {
    border: 1px solid $service-color;
  }

  &:focus {
    outline: none;
    border: 1px solid $service-color;
  }
}
