%h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%menu-styles {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $mainColor;
  text-decoration: none;
}
