@font-face {
  font-family: Manrope;
  src:
    url('../fonts/manrope-regular.woff2') format('woff2'),
    url('../fonts/manrope-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src:
    url('../fonts/manrope-bold.woff2') format('woff2'),
    url('../fonts/manrope-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
