@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-Regular.ttf");
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-Bold.ttf");
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: $font-weight-normal;
}
