@use './vars' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $natual-black;
}

img,
picture,
video,
svg {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration-line: none;
}

body {
  background: $natual-white;
  min-width: 100dvh;
  font-family: Inter, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
