// это специальные стили которые должны перекрывать все другие стили
// это все тоже попробуй в циклы поставить

// Margins
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

// Paddings
.pb-1 {
  padding-bottom: 0 !important;
}

// Font-weight
.fw-700 {
  font-weight: 700;
}
