.hidden {
  @include onTablet {
    opacity: 0.1;
    filter: blur(1px);
    transform: translate(-1%,5%);
    transition: transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out,
      filter 0.4s ease-in-out;
  }
}

.show {
  @include onTablet {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
