.icon {
  display: block;
  height: 24px;
  width: 24px;

  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--phone {
    background-image: url(../images/phone.svg);
  }

  &--cross {
    background-image: url(../images/cross.svg);
  }
}
