@keyframes icon-menu-in {
  0% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }

  50% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  100% {
    background-image: url(../images/icons/menu-hover.svg);
    transform: scaleX(1);
    transform-origin: 0 0;
  }
}

@keyframes icon-menu-out {
  0% {
    background-image: url(../images/icons/menu-hover.svg);
    transform: scaleX(1);
    transform-origin: 0 0;
  }

  50% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  to {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
}
