@keyframes menuOpen {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
  
@keyframes menuClose {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(100%);
  }
}
