.moveUp {
  animation: moveUp linear 1s;
}

.moveRight {
  animation: moveRight linear 1s;
}

.moveLeft {
  animation: moveLeft linear 1s;
}

.bike-2 {
  animation: moveLeft 1s linear;

  @include onDesktop {
    animation: moveUp 1s linear;
  }
}

.bike-3 {
  animation: moveRight 1s linear;

  @include onDesktop {
    animation: moveLeft 1s linear;
  }
}

@keyframes rotation {
  0% {
    scale: 0;
  }

  50% {
    scale: 0.5;
  }

  100% {
    rotate: -720deg;
    scale: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
