@mixin onDesctop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin topAction {
  display: grid;
  grid-template-columns: 1fr 18px 18px;
  align-items: center;
  gap: 30px;

  @include onDesctop {
    grid-template-columns: 1fr 24px 24px;
    gap: 63px;
  }

  &--cross-right {
    grid-template-columns: 1fr 18px;
    margin-bottom: 32px;

    @include onDesctop {
      grid-template-columns: 1fr 24px;
    }
  }
}
