@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin top-actions {
  --icon-width: 24px;

  display: grid;
  grid-template-columns: 1fr var(--icon-width) var(--icon-width);
  align-items: center;
  gap: 30px;

  @include onTablet {
    gap: 40px;
    --icon-width: 32px;
  }

  @include onDesktop {
    gap: 40px;
    --icon-width: 32px;
  }
}

@mixin top-actions--menu {
  --icon-width: 18px;

  display: grid;
  grid-template-columns: 1fr var(--icon-width);
  align-items: center;

  @include onTablet {
    --icon-width: 24px;
  }

  @include onDesktop {
    --icon-width: 24px;
  }
}

