@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin gallery-pics($_first-pic-width-percent) {
  .gallery__picture:first-child {
    width: calc(#{$_first-pic-width-percent} - #{$gallery-pic-gap/2});
    @media screen and (max-width: 500px) {
      width: calc(50% - #{$gallery-pic-gap/2});
    }
  }
  .gallery__picture:last-child {
    width: calc((#{100% - $_first-pic-width-percent}) - #{$gallery-pic-gap/2});
    @media screen and (max-width: 500px) {
      width: calc(50% - #{$gallery-pic-gap/2});
    }
  }
}
