@mixin tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin desktop-l {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin styles-top {
  margin: 0 auto;
  padding: 29px 20px 25%;
  max-width: 1020px;
  height: 100vh;
  transition: padding 1s;

  @include tablet {
    padding: 36px 72px 15%;
  }

  @include desktop {
    padding: 36px 0 10%;
  }
}

@mixin icon-xs {
  height: 16px;
  width: 16px;
}

@mixin icon-s {
  height: 18px;
  width: 18px;
}

@mixin icon-m {
  height: 22px;
  width: 22px;
}

@mixin icon-l {
  height: 24px;
  width: 24px;
}

@mixin hover {
  transform: scale(1.1);
  box-shadow: 1px 4px 16px 0 #e8e8f066;
}

@mixin active {
  opacity: 0.5;
  transform: scale(1);
  box-shadow: 1px 4px 16px 0 #e8e8f0a3;
}
