@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width:744px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width:1024px) {
    @content;
  }
}

@mixin top-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
