.data {
  &__inputs {
    height: 48px;
    @include dataInputs;
    &:focus {
      outline: 0;
      background: rgba(223, 224, 230, 0.8);
    }
  }

  &__textarea {
    font-family: inherit;
    height: 144px;
    resize: none;
    @include dataInputs;
    &:focus {
      outline: 0;
      background: rgba(223, 224, 230, 0.8);
    }
  }
}
