.data {
  &__inputs {
    height: 48px;
    @include dataInputs;
    &:focus {
      outline: 0;
      background: rgba(223, 224, 230, 0.8);
    }
  }

  &__textarea {
    height: 144px;
    resize: none;
    @include dataInputs;

    &::placeholder {
      font-family: Roboto, sans-serif;
    }

    &:focus {
      outline: 0;
      background: rgba(223, 224, 230, 0.8);
    }
  }
}
