html {
  font-family: "Poppins", sans-serif;
  color: $main-text-color;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $main-dark-color;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
