html {
  font-family: "Poppins", sans-serif;
  color: $main-text-color;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
