* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fff;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 150px;
}
