@import "../utils/fonts";

body {
  font-family: "Poppins", sans-serif;
  color: $white-color;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -1.5px;
  color: $white-color;
  line-height: 100%;

  text-align: center;

  @include onTablet {
    font-size: 48px;
  }
  @include onDesktop {
    font-size: 64px;
  }
}
