* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-size;
  color: $h1-color;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-size;
  color: $h2-color;
}

h3 {
  font-size: $h3-size;
  line-height: 30px;
  color: $blue;
}

p {
  font-size: $p-size;
  line-height: 27px;
  color: $p-color;
  font-family: inherit;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
