%default-link-style {
  color: $main-color;
  text-decoration: none;

  border-bottom: 1px solid transparent;
  transition: border-color .3s linear;

  &:hover {
    border-color: $main-color;
  }
}

