%font-inter-500 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}

%font-inter-700 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #1d1d1d;
}

%font-poppins-400 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

%font-poppins-500 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #fff;
}

%font-poppins-700 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #292929;
}
