%section-title {
  font-size: 64px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: -1.5px;

  @include onTablet {
    font-size: 48px;
    line-height: 100%;
  }

  @include onPhone {
    font-size: 32px;
  }
}

%sections-bg {
  color: $text-color;
  background-color: $main-color;
}

%block-title {
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}

%link-hover {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: $main-color;
    transition: width 0.5s ease-out;
  }

  &:hover::after {
    width: 100%;
  }
}
