%title-styles {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
}

%under-line {
  &::after {
    content: "";
    width: 0;
    display: block;
    height: 1px;

    background-color: $c-main-grey;
    
    transition: width 0.3s;
  }

  @include onDesktop {
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

%flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
