* {
  box-sizing: border-box;
}

body,
h1,
menu,
ul,
h2,
p,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
menu,
ul,
input,
textarea {
  border: 0;
  padding: 0;
  background-color: transparent;
}

li {
  line-height: 100%;
  list-style: none;
}

input,
textarea {
  outline: none;
}

address {
  font-style: normal;
}
