::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: $c-orange;

  &:hover {
    background-color: $c-dark;
  }

  &:active {
    background-color: $c-black;
  }
}
