.big-title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 100%;
}

.small-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 8px;
}

.bike-text {
  margin-bottom: 16px;
}

.bikes-compare__title,
.details__title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 48px;
}

.contact__title {
  text-align: center;
  margin-bottom: 48px;
}
