.btn {
  display: inline-block;

  padding: 16px 48px;
  box-sizing: border-box;

  border: 3px solid $color-primary;
  border-radius: 40px;

  font-family: $ff-primary;
  font-size: $fs-normal;
  font-weight: $fw-bold;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;

  color: $color-secondary;
  background-color: $color-primary;

  &:hover {
    background-color: $color-secondary;
    color: $color-primary;
    border: 3px solid $color-primary;
  }
}
