$header-top-padding: 29px;
$main-header-title: 32px;
$bike-card-title: 1.5rem;
$color-gray: #e5e5e5;
$color-dark: #1d1d1d;
$color-grey:  rgba(232, 232, 240, 0.4);
$color-light-grey: rgba(232, 232, 240, 0.64);
$animation-speed: 0.5s;
$medium-weight-txt: 500;
$bold-weight-txt: 700;
$menu-wight-txt: 600;
