$columns-pad: 6;
$columns-desktop: 12;
$title-size-mob: 40px;
$title-size-pad: 64px;
$title-size-desk: 80px;
$container-bott-padding: 40px;
$head-top-padd: 25px;
$head-desk-top-padd: 50px;
$logo-mob-height: 46px;
$logo-desk-height: 65px;
$link-size: 22px;
$title-section-size: 32px;
$title-desk-section-size: 48px;
$height-containers: 360px;
$color-white: #fff;
$color-hover: #cfc;
$color-contact-link: #3e3e3e;
$color-main: #161616;
$color-main-red: #d12d35;
$transition-time: 0.3s;
