$color-white: #fff;
$color-menu: #D12D35;
$color-menu-hover: #AE1C23;
$color-menu-active: #EB343D;
$section-h: #161616;
$contacts-link: #3E3E3E;
$input-text: #7E7E83;

$icon-width-d: 24px;
$icon-height-d: 24px;
$icon-width-m: 18px;
$icon-height-m: 18px;

$font-bold: 700;