$icon-width-small: 18px;
$icon-height-small: 18px;
$icon-width-big: 24px;
$icon-height-big: 24px;
$color-rose: #d12d35;
$color-white: #ffff;
$color-main-dark: #161616;
$gap-between-icons-small: 30px;
$gap-between-icons-big: 63px;
