$header-top-padding: 30px;

$breakpoint-tablet: 744px;
$breakpoint-desktop: 1260px;

$icon-gap-mobile: 30px;
$icon-gap-tablet: 40px;

$icon-scale: scale(1.5);
$icon-transform-time: 150ms;

$mobile-logo-width: 130px;
$tab-desk-logo-width: 187px;

$square-size: 24px;

$mobile-columnsCount: 2;
$tablet-columnsCount: 6;
$desktop-columnsCount: 12;

$mobile-column-width: 130px;
$tablet-column-width: 80px;
$desktop-column-width: 63px;

$column-gap: 24px;

$font-size-xlarge: 64px;
$font-size-mlarge: 48px;
$font-size-large: 36px;
$font-size-normal: 32px;
$font-size-xmedium: 24px;
$font-size-medium: 22px;
$font-size-small: 16px;
$font-size-msmall: 14px;
$font-size-xsmall: 12px;

$line-height-high: 169%;
$line-height-medium: 140%;

$font-weight-bold: 700;
$font-weight-normal: 500;

$letter-spacing-low: -1.5px;
$letter-spacing-high: 2px;

$color-black: #1d1d1d;
$color-header-bg: #c2c2c2;
$color-white: #fff;

$transition-time: 500ms;

$menu-transition-time: 700ms;
$gallery-transition-time: 250ms;

$button-borderRadius: 40px;
