$headerTopPadding: 40px;
$colorGrey: #E8EFF9;
$colorDarkGrey: #292929;
$infoLinkColor: #3E3E3E;
$infoTitleColor: #9FADC2;
$formFieldBG: #F8F8FA;
$formFieldBorder: #D5D7DE;
$formFieldPlaceholder: #7E7E83;

