$c-gray: #eee;
$color-white: #fff;
$color-blue: #0075ff;
$color-blue-hover: #0067df;
$color-gray-hover: #9fadc2;
$color-gray-form: #f7f8ff;
$color-gray-text: #3e3e3e;
$color-gray-placeholder: #b9c1ce;
$max-width: 1260px;
$header-height: 700px;
$header-height-small: 568px;
$footer-height: 360px;
$footer-height-small: 206px;
$header-top-indent: 24px;
$header-bottom-indent: 48px;
$header-bottom-indent-small: 80px;
$footer-bottom-indent: 40px;
$footer-bottom-indent-small: 24px;
$section-bottom-indent: 150px;
$section-bottom-indent-small: 64px;
$content-top-indent: 90px;
$content-top-indent-small: 53px;
$side-indent: 120px;
$side-indent-small: 20px;
$logo-width-big: 115px;
$logo-height-big: 76px;
$logo-width-small: 73px;
$logo-height-small: 48px;
$title-line-width: 35px;
$title-line-height: 2px;
$phone-icon-size: 18px;
$action-icon-width: 18px;
$action-icon-height: 12px;
$crown-width: 23px;
$crown-height: 16px;
$people-photo-size: 153px;
$gallery-photo-height: 260px;
$gallery-photo-minimal: 130px;
$gallery-photo-gap: 20px;
$form-width: 413px;
$form-width-small: 280px;
$input-height: 48px;
$textarea-height: 144px;
$testimonials-column-width: 240px;
$breakpoint-medium: 960px;
$breakpoint-small: 500px;
$breakpoint-minimal: 320px;
