$icon-width: 18px;
$icon-width-desktop: 24px;
$icon-width-tablet: 24px;

$headerTopPadding: 29px;

$desktop-coloms: 12;
$tablet-coloms: 6;
$mobile-colums: 2;

$desktop-size: 1024px;
$tablet-size: 744px;

$main-text-color: #fff;
$secondary-text-color: #1d1d1d;
$main-border-color: #1d1d1d;
$main-background-color: #1d1d1d;
$menu-backgroun-color: #e5e5e5;
$form-background-colod: #f8f8fa;
$palceholder-color:#7e7e83;

$letter-spasing: -1.5px;
