.address {
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    @include marginBottom(4px);
  }
  &__info {
    display: block;
    text-decoration: none;
    color: #161616;
    font-size: 16px;
    line-height: 27px;
    
    @include hover(color, rgb(242, 220, 18));
  }
}
