@font-face {
  font-family: 'Cinzel';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Cinzel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Cinzel-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Cinzel-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Cinzel-Bold.ttf') format('truetype') ;
}

@font-face {
  font-family: 'Cinzel';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/Cinzel-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Cinzel-Black.ttf') format('truetype');
}

