.gallery-online {
  display: grid;
  row-gap: 48px;

  @include onDesktop {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onDesktop {
      align-items: stretch;
    }
  }
  &__picture {
    box-sizing: border-box;
    max-height: 277px;
    overflow: hidden;
    transition: transform 0.3s;

    @include marginBottom(24px);

    @include onTablet {
      max-height: 387px;
      @include marginBottom(32px);
    }

    @include onTablet {
      max-height: 320px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
  &__img {
    width: 100%;

    object-position: center;
    object-fit: cover;
  }
  &__text {
    flex: 1 1 auto;
    text-align: center;
  }
  &__title {
    @include marginBottom (4px);
  }
  &__link {
    text-decoration: none;
    font-size: 24px;
    line-height: 140%;
    color: $red;
  }
  &__description {
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
