.header {
  background: url("../images/header/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  &__content {
    @include content;
    row-gap: 128px;

    @include onTablet {
      padding: 50px 0  0;
      row-gap: 140px;
    }

    @include onDesktop {
      row-gap: 83px;
    }
  }
  &__top {
    display: flex;
    align-items: center;
  }
  &__logo {
    flex: 1 1 auto;
  }
  &__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
    color: #fff;
    text-align: center;

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }
}
