@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-size;
  color: $h1-color;
  font-weight: 700;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-size;
  color: $h2-color;
  font-weight: 700;
}

h3 {
  font-size: $h3-size;
  line-height: 30px;
  color: $blue;
  font-weight: 700;
}

p {
  font-size: $p-size;
  line-height: 27px;
  font-weight: 400;
  color: $p-color;
}
