.icon {
  height: 24px;
  width: 24px;

  @include onTablet {
    height: 32px;
    width: 32px;
  }
  &__tooltip {
    position: absolute;
    right: 100%;
    top: 100%;
    transform: translateY(-65%);
    padding-right: 15px;
    width: max-content;
    text-align: right;
    opacity: 0;
    pointer-events: none;
    transition: opacity, 0.3s;
  }
}

.icon--phone {
  position: relative;

  background: url("../images/header/phone.svg") no-repeat;
  margin-right: 24px;
  background-size: cover;
  background-position: center;

  @include onTablet {
    margin-right: 55px;
  }

  &:hover {
    .tooltip {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.icon--menu {
  background: url("../images/header/menu.svg") no-repeat;
  background-size: cover;
  background-position: center;

  &:hover {
    background: url("../images/header/push.svg") no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.icon--cross {
  background: url("../images/header/cross.svg") no-repeat;
  background-size: cover;
  background-position: center;
}
