.icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include onIpad {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  &--menu {
    background-image: url("../images/menu.svg");
    &:hover {
      background-image: url("../images/menu_hover.svg");
    }
  }

  &--call {
    background-image: url("../images/phone.svg");
  }

  &--cross {
    background-image: url("../images/cross.svg");
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
    width: 130px;
    height: 38px;

    @include onIpad {
      width: 187px;
      height: 56px;
    }
  }
}
