.info-contacts {
  display: grid;
  row-gap: 48px;

  @include onDesktop {
    grid-template-columns: repeat(2, 1fr);
  }
  &__title {
    font-size: 16px;
    line-height: 27px;

    @include marginBottom(16px);
  }
  &__address {
    @include marginBottom (8px);
  }
}
