.item-museum {
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__header {
    font-size: 24px;
    line-height: 30px;
    color: #161616;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__list {
    display: flex;
    column-gap: 24px;

    font-size: 16px;
    line-height: 27px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__time {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__day {
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__text {
    font-weight: 400;
  }
}
