@keyframes focus-in-contract {
  from {
    opacity: 0;
    filter: blur(12px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes title-slide-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-out-hor-left {
  0% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes icon-menu-in {
  0% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }

  50% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  100% {
    background-image: url(../images/icons/menu-hover.svg);
    transform: scaleX(1);
    transform-origin: 0 0;
  }
}

@keyframes icon-menu-out {
  0% {
    background-image: url(../images/icons/menu-hover.svg);
    transform: scaleX(1);
    transform-origin: 0 0;
  }

  50% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  to {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
}
