@media (min-width: 926px) {
  .nav__call:hover::before {
    position: absolute;
    display: inline-block;
    content: "+1 234 555-55-55";
    color: white;
    transform: translateX(-190px);
  }
}

@media (min-width: 320px) {
  .header,
  .main {
    padding: 24px 20px 80px;
  }
}

@media (min-width: 768px) {
  .header,
  .main {
    padding: 20px 124px 80px;
  }
}

@media (min-width: 1272px) {
  .header,
  .main {
    padding: 24px 0 80px;

    &__container {
      min-width: 1024px;
      margin: 0 auto;
    }
  }
}
