@media (min-width: 926px) {
  .nav__call:hover::before {
    position: absolute;
    display: inline-block;
    content: "+1 234 555-55-55";
    color: white;
    transform: translateX(-190px);
  }
}

@media (min-width: 320px) {
  .header {
    padding: 24px 24px 0;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 24px 124px 0;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 776px;
    margin: auto;
  }

  .header {
    padding: 0;
  }
}
