.menu {
  background: $red;
  // z-index: 10;
  overflow-y: auto;

  &__content {
    @include content;
    row-gap: 40px;

    @include onTablet {
      padding: 50px 0 0;
    }

    @include onDesktop {
      row-gap: 55px;
    }
  }
  &__top {
    display: flex;
    align-items: center;
  }
  &__list {
    display: grid;
    row-gap: 32px;

    @include onDesktop {
      row-gap: 48px;
    }
  }
  &__items {
    display: grid;
    row-gap: 32px;
  }
  &__item {
    width: max-content;
    position: relative;

    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      background-color: #fff;
      bottom: -8px;
      left: 0;
      transition: width 0.3s ease 0s;
    }
    &:hover::after {
      width: 100%;
    }
  }
  &__info {
    padding-bottom: 30px;
  }
  &__tooltip {
    @include marginBottom(16px);
  }
  &__call-order {
    width: max-content;
    position: relative;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      background-color: #fff;
      bottom: -8px;
      left: 0;
      transition: width 0.3s ease 0s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
