@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin transition ($property) {
  transition: $property 0.5s;
}

@mixin fontSize ($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin image-properties () {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
