@mixin grid() {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;

  @media (min-width: 744px) {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }

  @media (min-width: 1020px) {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}

@mixin ipad() {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1020px) {
    @content;
  }
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
