@mixin onTablet {
  @media (max-width: 744px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin icon-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
