
@mixin onDesktop {
  @media (min-width:1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width:744px) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
    column-gap: 20px;
  }

  @include onDesktop {
    --columns: 12;
    column-gap: 24px;
  }
}
