.museum {
  &__container {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: 5fr 7fr;
      column-gap: 24px;
    }
  }
  &__header {
    @include marginBottom(32px);
  }
  &__subtitle {
    font-size: 12px;
    line-height: 140%;
    color: $red;
    
    @include marginBottom(2px);
  }
  &__title {
    @include onTablet {
      max-width: 288px;
    }
    @include onDesktop {
      max-width: max-content;
    }
  }
}
