html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #292929;
  scroll-behavior: smooth;
}

input,
textarea {
  outline: none;
  border: none;
}

button {
  border: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a,
address {
  text-decoration: none;
  color: inherit;
}
