html {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;

  color: $primColor;
}

* {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
}

body {
  overflow: overlay;
}
