.online {
  &__title {
    margin: 0 auto;
    text-align: center;
    max-width: 280px;

    @include marginBottom(40px);

    @include onTablet {
      @include marginBottom (48px);
    }

    @include onTablet {
      max-width: 392px;
    }

    @include onDesktop {
      max-width: 498px;
    }

  }
  &__gallery {
    @media (min-width: 743px) and (max-width: 1259px) {
      padding: 0 104px;
    }
  }
}
