* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
}

body {
  margin: 0;
}

p,
h2,
h3 {
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
