.page {
  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }
}

html {
  font-family: "Cinzel", serif;
  min-width: 340px;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
