.page {
  margin: 0;
}

// h1,
// h2,
// h3,
// h4,
// p {
//   margin: 0;
//   padding: 0;
//   text-decoration: none;
//   font-size: inherit;
//   font-weight: inherit;
// }

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;

}
