.tooltip {
  display: grid;
  row-gap: 8px;

  &__item {
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
  }

  &__link {
    text-decoration: none;
    color: #fff;

    @include hover(color, rgb(242, 220, 18));
  }
}
