$c-gray: #eee;
$white-color: #fff;
$black-color: #000;
$blue-color: #0075ff;
$page-text-color: #3e3e3e;
$position-color: #9fadc2;
$input-color: #f6f8ff;
$input-text-color: #8f99a8;
$button-hover: #005ecc;
$header-top-padding: 24px;
