$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$effectDuration: 0.3s;

$main-text-color: #292929;
$contact-us-color: #7e7e83;
$buttonColorHover: #fff;
$buttonBackground: #292929;
$backGroundWhite: #fff;
$backGroundForm: #f8f8f8;
$backGroundMenu: #e5e5e5;

$borderRadius40: 40px;
$fontWeight700: 700;

$marginBottomTitle: 48px;
