$primary-color: #fff;
$input-background-color: #f9f9f9;
$address-primary-color: #9393a3;
$address-secondary-color: #191919;
$links-placeholders-color: blue;
$article-backgorund-color: #fcfaef;
$article-color: #1b2129;
$background-button-color: #f98921;
$active-button-color: #010810;
$form-placehodler-color: #7e7e83;
$border-picture-color: rgb(202, 202, 202);
