$headerTopPadding: 24px;

$white-color: #fff;
$black-color: #000;
$blue-color: #0075ff;
$grey-color:#3e3e3e;
$button-hover-focus: #005ecc;
$button-box-shadow-hover: #0053b575;
$button-box-shadow-focus: #0053b57a;
$role-info-text-color: #9fadc2;
$form-field-background: #f7f8ff;
$form-field-placeholder: #8f99a8;
$form-field-hover-border: #ccd0e0;
