$c-black: #292929;
$c-white: #e5e5e5;
$c-grey: #e8eff9;
$c-white-second: #fff;
$c-white-third: #f8f8fa;
$c-contacts-white: #d5d7de;
$c-contacts-grey: #7e7e83;

$icon-size: 18px;
$transition-time: 300ms;
