$color-blue: #0075ff;
$color-gray: #3e3e3e;
$color-black: #000;
$color-white: #fff;
$color-blue--button: #005ecc;
$color-bg-cell: #f7f8ff;
$color-text-placeholder: #8f99a8;
$color-cell-bc-on-hover: #ccd0e0;
$color-text-role: #9fadc2;
