.view {
  &__title {
    @include marginBottom(8px);
    text-align: center;
  }
  &__text {
    margin: 0 auto;
    max-width: 392px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;

    @include marginBottom (48px);

    @include onDesktop {
      max-width: 325px;
    }
  }
  &__items {
    @include marginBottom(40px);
  }

  &__button {
    width: 100%;
    margin: 0 auto;

    @include onTablet {
      max-width: 392px;
    }

    @include onDesktop {
      max-width: 324px;
    }

    @include hover (background,#ae1c23);
    @include active (background, #eb343d);
  }
}
