.review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 240px;
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (max-width: 425px) {
    width: 90%;
  }

  &__img {
    width: $sizeImgReview;
    height: $sizeImgReview;
    border-radius: $sizeImgReview / 2;
    object-fit: cover;
    object-position: center;
  }

  &__subtitleMini {
    margin-top: 28px;
  }

  &__position {
    margin-top: 4px;
    color: $reviewPositionColor;
    font-size: 14px;
  }

  &__text {
    margin-top: 13px;
    color: $textColor;

    @media (max-width: 1024px) {
      margin-top: 4px;
    }
  }
}
