.testimonials {
  padding-top: $indentationBetweenPages;

  @media (max-width: 768px) {
    padding-top: $indentationBetweenPages768px;
  }

  &__people {
    display: flex;
    justify-content: space-between;
    margin-top: 93px;

    @media (max-width: 1024px) {
      display: block;
      margin-top: 53px;
    }
  }

  &__review {
    @media (max-width: 1024px) {
      display: block;
      margin: 0 auto;
      margin-top: 48px;
    }
  }

}
