
.fback {
  display: flex;
  justify-content: space-between;

  &__margin {
    margin: 90px 0 0;
  }

  &__report {
    max-width: 420px;
    min-width: 190px;
  }

  &__mini-tittle {
    @include fonts-style(normal, 14px, 27px, #9FADC2);
  }

  &__mini-text {
    @include fonts-style(normal, 16px, 27px, $c-min-tittle);
    margin: 0 0 24px;
  }

  &__mini {
    display: flex;
  }
}
