@import "utils";

.lure {
  padding: 104px 120px 48px;
  margin: 0;

  &__easy-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__info-box {
    
    max-width: 550px;
  }

  &__title {
    @include fonts-style(bold, 48px, 48px, black);
    margin: 0 0 50px;
    letter-spacing: -1.5px;
  
  }

  &__highline {
    @include fonts-style(normal, 24px, 30px, #000);
    margin: 0;
  }

  &__content {
    @include fonts-style(normal, 16px, 27px, $c-min-tittle);
    margin: 16px 0 0;
    align-self: flex-end;
  }

  &__highlight {
    color: $c-own;
    font-weight: bold;
  }
}

@media only screen and (max-width: 920px) {
  .lure {
    padding: 64px 20px;

    &__title {
      padding: 0 0 48px;
    }
  }
}
