.consultation {
  align-self: center;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  justify-items: end;

  &__text {
    justify-self: start;
    min-width: 280px;
  }

  &__heading-link {
    display: inline-block;
    margin-bottom: 16px;
  }

  &__form {
    max-width: 413px;
  }
}

@media screen and (max-width: 1150px) {
  .consultation {
    justify-content: center;

    &__text {
      justify-self: center;
      width: 90%;
    }

    &__form {
      justify-self: center;
      width: 80%;
      margin-top: 32px;
      margin-left: 16px;
    }
  }
}

@media screen and (max-width: 770px) {
  .consultation {
    justify-items: start;

    &__text {
      margin-left: 60px;
    }

    &__form {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .consultation {
    &__text {
      margin-left: 40px;
      width: 90%;
    }

    &__form {
      width: 90%;
    }
  }
}
