.consultation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: end;

  &__text {
    justify-self: start;
    min-width: 280px;
  }

  &__heading-link {
    display: inline-block;
    margin-bottom: 16px;
  }

  &__form {
    min-width: 280px;
  }
}

@media screen and (max-width: 840px) {
  .consultation {
    justify-content: center;

    &__text {
      justify-self: center;
      width: 90%;
    }

    &__form {
      justify-self: center;
      width: 90%;
      margin-top: 32px;
    }
  }
}

@media screen and (max-width: 480px) {
  .consultation {
    &__text {
      width: 100%;
    }

    &__form {
      width: 100%;
    }
  }
}
