@import "../var";

.info {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
  max-width: 1260px;
  align-self: center;

  &__heading {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: $color-black;
    transition: font-size 0.3s;
  }

  &__heading-link {
    margin-left: 10px;
    color: $color-blue;
  }

  &__heading-link,
  &__text-link {
    color: $color-blue;
  }

  &__text {
    max-width: 500px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 950px) {
  .info {
    &__heading {
      margin-right: 40px;
    }

    &__text {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 770px) {
  .info {
    flex-direction: column;

    &__heading {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 48px;
    }
  }
}
