.photos {
  display: grid;
  grid-template-rows: minmax(256px, 1fr), 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 40px;

  &--wide-left {
    // grid-template-rows: 2fr, 1fr;
    grid-template-columns: 2fr 1fr;
  }

  &--wide-right {
    grid-template-columns: 1fr 2fr;
  }

  &__img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
}

@media screen and (max-width: 760px) {
  .photos {
    grid-template-columns: 1fr;
  }
}
