.section {
  margin: 0 120px;
  flex-direction: column;

  &__heading {
    margin: 0 auto 61px;
  }

  &:not(:last-child) {
    margin-bottom: 152px;
  }

  &:last-child {
    margin-bottom: 88px;
  }
}
