.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: space-between;
  align-self: center;
  width: 100%;
  max-width: 1000px;
}

@media screen and (max-width: 770px) {
  .testimonials {
    justify-content: center;
  }
}
