.section__article {
  @include for-tablet() {
    grid-column: span 6;

    &--recommended {
      @include for-desktop() {
        grid-column: span 4;
      }
    }

    &--aboutus {
      grid-column: span 3;
      @include for-desktop() {
        grid-column: 8 / 13;
      }
    }
  }
}
