.contact {
  display: flex;
  justify-content: space-between;

  &__text {
    display: grid;
    gap: 0 108px;
    grid-template-columns: repeat(2,152px);

    font-size: 16px;
    line-height: 27px;
  }

  &__item {
    display: grid;
    height: 150px;
  }

  &__info {
    margin-bottom: 8px;
    color: $hover-color;
  }

  &__link {
    margin-bottom: 24px;
    color: $text-gray;
    transition: color $hover-duration;

    &:hover {
      color: rgba($color: $text-gray, $alpha: 0.8);
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    gap: 0;
    &__text {
      gap: 56px;
    }
  }
}

@media screen and (max-width: $phone-screen-breakpoint) {
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px 0;

    &__text {
      grid-template-columns: 152px;
    }

    &__form {
      padding: 0 0 64px;
      width: 100%;
    }
  }
}
