.contact {
  display: grid;
  gap: 5px 195px;
  grid-template-columns: repeat(2,413px);

  &__text {
    display: grid;
    gap: 0 108px;
    grid-template-columns: repeat(2,152px);

    font-size: 16px;
    line-height: 27px;
  }

  &__item p {
    &:first-child {
      margin-bottom: 8px;
      color: $hover-color;
    }
    &:last-child {
      color: $text-gray;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .contact {
    display: grid;
    grid-template-columns: 152px;
    gap: 32px 0;

    &__text {
      grid-template-columns: 152px;
    }

    &__form {
      padding: 0 0 64px;
      width: 100%;
    }
  }
}
