@import "../utils/vars";

.input {
  padding: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  color: $highlight-color;
  background-color: rgba(246, 248, 255, 1);
  border-radius: 8px;

  &::placeholder {
    color: rgba(185, 193, 206, 1);
  }

  &__textarea {
    height: 144px;
  }
}
