.section__item {
  grid-column: span 2;
  justify-content: center;

  @include for-tablet() {
    grid-column: span 6;

    @include grid();
    grid-template-columns: repeat( 6, 80px);
    gap: 24px;
  }

  @include for-desktop() {
    grid-column: span 12;
    justify-content: space-between;

    @include grid();
    grid-template-columns: repeat( 12, 63px);
  }

  &--recommended {
    @include for-desktop() {
      grid-column: span 4;
      grid-template-columns: repeat(4, 63px);
    }
  }

  &--categories {
    @include for-desktop() {
      grid-column: span 12;
    }
  }

  &--aboutus__picture {
    @include for-desktop() {
      width: 1260px;
      height: 460px;
      background-image: url("../pictures/categories7-desktop.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: -120px;
    }
  }

  &--aboutus__paragraph {
    padding: 50px 0;
    @include for-desktop() {
      justify-content: space-between;
    }
  }

  &--form {
    gap: 0;
    @include for-desktop() {
      grid-template-columns: repeat( 6, 63px);
      grid-column: span 6;
    }
  }

  &--address {
    grid-template-columns: repeat( 2, 80px);
    gap: 20px;
    align-content: start;
    @include for-desktop() {
      grid-template-columns: repeat( 2, 110px);
      grid-column: 8 / 9;
      gap: 0;
    }
  }
}
