.section__paragraph {
  font-family: Manrope, Halvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15px;
  text-align: left;
  padding-bottom: 20px;
  text-decoration: none;
  color: $color-white;

  &--bold {
    font-weight: 700;
  }

  &--categories {
    @include for-tablet() {
      font-size: 24px;
      line-height: 34px;
    }

    @include for-desktop() {
      grid-column: span 12;
    }
  }

  &--small {
    font-size: 14px;
    line-height: 20px;
    color: $color-gray;
    padding-bottom: 10px;
  }

  &--address {
    @include for-tablet() {
      grid-column: span 2;
      grid-row: 1fr;
    }
  }
}
