.section {
  @include grid();
  @include for-tablet() {
    grid-template-columns: repeat( 6, 80px);
    gap: 24px;
    grid-column: span 6;
  }
  @include for-desktop() {
    grid-template-columns: repeat( 12, 63px);
    gap: 24px;
    grid-column: span 12;
  }

  justify-content: center;
  color: $color-black;
  padding-bottom: 50px;

  &--aboutus {
    background-color: $color-aboutus-background;
    padding-bottom: 0;
  }

  &--contactus {
    padding-top: 50px;
  }
}
