@import "../utils/vars";

.section {
  position: relative;
  padding: 100px calc(50% - 470px);
  background-color: #fff;

  &__heading {
    top: -0.5em;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media screen  and (max-width: $small-screen-breakpoint) {
  .section {
    padding: 58px 20px;
  }
}
