.testimonials {
  display: grid;
  justify-content: space-between;
  gap: 0 150px;
  grid-template-columns: repeat(3,1fr);
}

@media screen and (max-width: $tablet-screen-breakpoint) {
  .testimonials {
    gap: 50px;
  }
}

@media screen and (max-width: $phone-screen-breakpoint) {
  .testimonials {
    justify-content: center;
    grid-template-columns: 280px;
  }
}
