.section__textarea {
  width: 280px;
  height: 148px;
  box-sizing: border-box;
  padding: 14px 16px;
  border-radius: 8px;
  border: 0;
  color: $color-input;

  @include for-tablet() {
    grid-column: span 6;
    width: 600px;
  }

  @include for-desktop() {
    grid-column: span 12;
    width: 498px;
  }

  &:hover {
    border: 1px solid $color-input;
  }

  &:focus-visible {
    border: 1px solid $color-orange;
  }

  &:active {
    border: 1px solid $color-orange;
  }
}
