@media (max-width: 460px) {
  .header {
    background-image: url(../images/photos/image4.jpg);
    &__content {
      padding: 40px 0 94px;
    }
    &__title {
      font-size: 32px;
      line-height: 32px;

      &::before {
        margin-bottom: 16px;
        background-image: url(../images/Vector4.svg);
        width: 32px;
        height: 27px;
      }
    }
  }
  .nav__logo {
    width: 130px;
  }
  .nav__phone {
    width: 18px;
    height: 18px;
  }
  .nav__menu {
    width: 18px;
    height: 12px;
  }
  .menu__list {
    margin: 54px 0 40px;
  }

  .section {
    &__title {
      font-weight: 700;
      line-height: 32px;
      font-size: 32px;
      letter-spacing: -1.5px;
    }
  }
  .grid {
    display: block;
    &__h4 {
      margin-top: 32px;
    }
  }
  .recommended {
    margin-top: 32px;
    &__item {
      margin: 0 auto;
      width: 280px;
      height: auto;
    }
  }
  .place {
    &__photos {
      margin-top: 40px;
      gap: 20px;
    }

    &__photo-container {
      width: 50%;
      height: 130px;
    }
  }
  .footer {
    background-image: url(../images/photos/footer322.jpg);
    height: 200px;
  }
}
