@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
  .nav__phone {
    font-size: 0;
    white-space: nowrap;
    text-decoration: none;
    text-indent: -90%;
    transition: 0.3s;

    &:hover {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      color: $main-color;
      text-indent: -110%;
    }
  }
  .nav__cross {
    width: 21px;
    height: 21px;
  }
  .recommended__photo:hover {
    transform: scale(1.2);
  }
  .place__photo:hover {
    transform: scale(1.1);
  }
}
