@media (max-width: 888px) {
  .header {
    background-image: url(../images/photos/image3.jpg);
    &__content {
      padding: 40px 0;
    }
    &__title {
      font-size: 40px;
      line-height: 40px;
    }
    &__title::before {
      margin-bottom: 40px;
    }
  }
  .menu__list {
    margin: 56px 0 40px;
  }
  .section__title {
    font-weight: 700;
    line-height: 40px;
    font-size: 40px;
    letter-spacing: -1.5px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
    &__item {
      @for $start from 1 through 12 {
        @for $end from $start through 12 {
          &--ipad-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
  .recommended {
    display: block;
    &__item {
      margin: 0 auto;
      width: 387px;
      height: auto;
    }
  }
  .place {
    &__photo-container {
      height: 187px;

      &--small {
        width: 33%;
      }
    }
  }

  .footer {
    background-image: url(../images/photos/footer744.jpg);
    height: 400px;
  }
}
