@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin navMenuText {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
