$color-white: #fff;
$color-dark: #1D1D1D;
$color-grey: #d3d3d3;

@mixin onTablet {
  @media screen and(min-width: 720px){
    @content;
  }
}

@mixin onDesktop {
  @media screen and(min-width: 1024px){
    @content;
  }
}