.details {
  &__title {
    text-transform: capitalize;

    @include onTablet {
      margin: 0 0 64px;
    }

    @include onDesktop {
      margin: 0 0 48px;
    }
  }

  &__detail {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }
  }
}
