.input {
  padding: 17px;
  border: none;
  border-radius: 8px;
  background-color: #f7f8ff;

  &::placeholder {
    font-size: 14px;
    color: #b9c1ce;
  }

  &:focus {
    box-shadow: 0 6px 13px rgba(157, 157, 157, 0.46);
    outline: none;
  }
}
