.about {

  &__content {
    padding-top: 38px;
    font-size: 24px;

    @include desk-744 {
      padding-top: 0;
    }

    @include desk-1260 {
      letter-spacing: -1px;
    }
  }
}
