.bike {

  &__padding {
    padding-top: 48px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin: 0 auto;
    max-width: 390px;

    &:nth-child(2) {
      padding-top: 32px;
    }

    &:nth-child(3) {
      padding-top: 8px;
    }

    &:nth-child(4) {
      padding-top: 16px;
    }

    &--content {
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__img-container {
    margin: 0 auto;
    max-width: 390px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
