.contact-us {
  &__container {
    margin-top: 48px;
    padding-bottom: 120px;

    @include desk-1260 {
      padding-bottom: 180px;

    }
  }

  &__info {
    margin: 24px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    &:nth-child(1) {
      margin-top: 48px;

      @include desk-744 {
        margin-top: 0;
      }

    }
  }

  &__link {
    margin: 8px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  &__field {
    margin: 0 0 16px;
  }

  &__field-last {
    margin-top: 48px;
  }
}
