.logo {
  width: 130px;
  height: 38px;

  @include desk-744 {
    width: 187px;
    height: 56px;
  
  }

  &__img {
    height: 100%;
    width: 100%;
    object-position: center;
  }
}
