.page {
  scroll-behavior: smooth;
  
  &__body {
    margin: 0;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 24px;
    color: rgb(255, 255, 255);
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transform: translateX(-100%);

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    padding-top: 60px;

    &--compare-bike {
      padding-top: 80px;
    }

    @include desk-744 {
      padding-top: 120px;
    }

    &--compare-bike-padding-1260 {
      @include desk-1260 {
        padding-top: 160px;
      }
    }

    &--contact-us {
      padding-top: 80px;

      @include desk-744 {
        padding-top: 120px;
      }

      @include  desk-1260 {
        padding-top: 180px;
      }
    }
  }

  &__subtitle {
    display: block;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include desk-744 {
      font-size: 48px;
    }
    
    @include desk-1260 {
      font-size: 64px;
    }

    &--compare-bike-off {

      @media (min-width: 0) {
        display: none;
      }

      @include desk-744 {
        display: block;
      }
    }

    &--contact-us {
      font-size: 20px;

      @include desk-744 {
        font-size: 48px;
      }

      @include desk-1260 {
        font-weight: 700;
        font-size: 48px;
      }
    }
    
    &--recommended-off {
      @include desk-744 {
        display: none;
      }
    }
    
    &--left {
      text-align: left;
    }
  }
}
