.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    --icon-size: 18px;
    --icon-gap-columns: 30px;
    display: grid;
    grid-template-columns: var(--icon-size) var(--icon-size);
    column-gap: var(--icon-gap-columns);
    width: calc(var(--icon-size) * 2 + var(--icon-gap-columns));
    
    &--cross {
      grid-template-columns: var(--icon-size);
      width: var(--icon-size);

    }
    @include desk-744 {
      --icon-size: 24px;
      --icon-gap-columns: 40px;

    }
  }

}
