.menu {
  background-color: var(--header-menu-color);

  &__content {
    padding-top: var(--header-padding-top);
    height: 100vh;

    @include onIPad {
      --header-padding-top: 32px;
    }
  }

  &__top {
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 55px;
    }
  }

  &__cross {
    grid-column: 3 / 4;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;

    @include onDesktop {
      margin-bottom: 48px;
    }
  }

  &__link {
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    transition: border-color 300ms;

    @include onDesktop {
      &:hover {
        border-color: #fff;
      }
    }
  }

  &__call {
    display: block;

    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 700;

    &--phone {
      margin-bottom: 8px;

      &:nth-of-type(2) {
        margin-bottom: 16px;
      }
    }

    &--action {
      display: inline-block;
      letter-spacing: 2px;
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
    }
  }
}
