.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: unset;
    text-decoration: none;
    display: block;
    border: none;
    height: 18px;
    width: 18px;
    padding: 0;
  
    @include onTablet {
      width: 24px;
      height: 24px;
    }
  
    &--menu {
      background-image: url(../images/burger.svg);
      transition: background-image 0.5s;
  
      &:hover {
        background-image: url(../images/burger-hover.svg);
      }
      @include onTablet {
        background-image: url(../images/burgerdesctop.svg);
      }
    }
  
    &--phone {
      background-image: url(../images/phone.svg);
    }
  
    &--close {
      background-image: url(../images/close.svg);
    }
  }