.contact {
  padding-top: $indentationBetweenPages;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding-top: $indentationBetweenPages768px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
    margin-bottom: 88px;

    @media (max-width: 1024px) {
      display: block;
    }

    @media (max-width: 768px) {
      margin-top: calc(#{$contentMarginTopMedia768} - 24px);
      margin-bottom: 64px;
    }

  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 40%;

    @media (max-width: 1024px) {
      width: 100%;
      justify-content: space-around;
    }

    @media (max-width: 600px) {
      margin: 0 auto;
      justify-content: space-between;
      width: 413px;
    }

    @media (max-width: 450px) {
      margin: 0;
      flex-direction: column;
      width: 50%;
    }
  }

  &__text {
    display: block;
    font-size: 14px;
    color: $secondaryTextColor;

    &--margin-top {
      margin-top: 24px;
    }

    @media (max-width: 450px) {
      margin-top: 24px;
    }
  }

  &__link {
    display: block;
    margin-top: 8px;
    color: $textColor;

    &--address {
      font-style: normal;
    }
  }

  &__form {
    max-width: 413px;
    &:first-child {
      margin-top: 0;
    }

    @media (max-width: 1024px) {
      margin: 32px auto 0;
      width: 100%;
    }
  }

  &__input {
    &--1 {
      margin-top: 0;
    }
  }

  &__textarea {
    height: 144px;
    resize: none;

    &::placeholder {
      margin-top: 37px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 32px;
  }
}
