.consultation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__text {
    max-width: 410px;

    @media (max-width: $breakpoint-large) {
      max-width: 350px;
    }
  }

  &__heading {
    font-size: 24px;
    margin-bottom: 16px;
    color: $color-lightblue;
    line-height: 30px;
  }

  &__description {
    font-size: 16px;
    line-height: 27px;
    color: $color-description;

    @media screen and (max-width: $breakpoint-small) {
      margin-bottom: 30px;
    }
  }

  @media (max-width: $breakpoint-small) {
    justify-content: center;
  }
}
