.container {
  max-width: 1050px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: $breakpoint-biggest) {
    max-width: 990px;
  }

  @media screen and (max-width: $breakpoint-large) {
    max-width: 780px;
  }

  @media screen and (max-width: $breakpoint-middle) {
    max-width: 640px;
  }

  @media screen and (max-width: $breakpoint-small) {
    max-width: 500px;
  }
}
