.footer {
  background-image: url(../images/footer-new.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;
  width: 100%;
  position: relative;

  @media screen and (max-width: $breakpoint-middle) {
    height: 250px;
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;

    @media screen and (max-width: $breakpoint-middle) {
      bottom: 20px;
    }
  }
}
