.form {
  display: flex;
  flex-direction: column;
  width: 410px;

  &__item {
    margin-bottom: 16px;
  }

  &__input,
  &__button {
    width: 100%;
  }

  @media (max-width: $breakpoint-large) {
    width: 350px;
  }

  @media (max-width: $breakpoint-middle) {
    width: 300px;
  }

  @media (max-width: $breakpoint-small) {
    width: 280px;
  }
}
