.heading {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  width: max-content;
  letter-spacing: -1.5px;
  align-items: center;

  &::after {
    content: "";
    display: block;
    background-image: url(../images/crown.svg);
    background-repeat: no-repeat;
    height: 13px;
    width: 20px;
    margin: 10px auto 0;
  }
}
