.nav {
  text-transform: uppercase;
  color: $color-white;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    // margin: 16px 0;

    &-active {
      background-color: hsla(0, 0%, 100%, 0.1);
      border-radius: 8px;
      padding: 8px 24px;
    }
  }

  &__link {
    color: $color-white;
    transition: color $small-transition;

    &:hover {
      color: $color-darkgrey;
    }
  }

  @media (max-width: $breakpoint-middle) {
    display: none;
  }
}
