.advantages {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 0 24px;
   
    @include tablet {
      flex-direction: column;
    }
  }

  &__paragraph {
    width: 50%;
    font-size: 23px;
    line-height: 32px;
    
    @include mobile {
      width: 100%;
    }
  }
}
