.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 56px;

  background-color: $color-red;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  cursor: pointer;

  text-decoration: none;
  transition: all 0.5s;

  &:hover {
    background-color: #ae1c23;
  }
  &:active {
    background-color: #eb343d;
  }

  &--primery {
    background-color: #ae1c23;
    border: none;
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #fff;
  }
}
