.compare {
  &__content {
    display: flex;
    gap: 0 24px;
  
    @include tablet {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    
    &--center {
      margin: 0 auto;
    }
    
    @include tablet {
      width: 392px;
    }

    @include mobile {
      width: 280px;
    }
  }

  &__img {
    margin-bottom: 32px;
    object-fit: cover;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__card-title {
    margin-bottom: 8px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      color: rgba(200, 191, 217, 0.4);
    }
  }

  &__desc {
    margin-bottom: 16px;
    flex: 1 1;
  }

  &__price {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
