.contact {

  &__address {
    font-weight: 700;
    line-height: 27px;
    color: $color-dark;
    margin-bottom: 16px;
  }

  &__info {
    margin: 0 0 8px;
  }

  &--last {
    margin-bottom: 48px;
  }

  &__info-title {
    margin: 0 0 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: $color-dark;
  }

  &__info-link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    text-decoration: none;
  }

  &-field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
