.container {

  &:not(:first-child) {
    text-align: center;
  }
  
  margin: 0 auto;
  padding: 0 20px;
  transition: 0.5s;
  
  @include onPad {
    min-width: 600px;
    padding: 0 72px;
  }

  @include onDesktop {
    min-width: 1020px;
    max-width: 1260px;
    padding: 0 120px;
  }
}
