.form {
  @include mobile {
    &--mobile {
      margin: 0 auto 48px;
    }
  }
  
  &__content {
    width: 410px;
    min-width: 280px;
    display: flex;
    flex-direction: column;

    @include tablet {
      max-width: 288px;
    }

    @include mobile {
      max-width: 280px;
    }
  }
  
  &__input {
    border-radius: 40px;
    height: 48px;
    margin-bottom: 16px;
  }
  
  &__message {
    border-radius: 16px;
    height: 148px;
    margin-bottom: 32px;
    resize: none;
  }
}
