.header {
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;

  @include mobile {
    background-image: url(../images/header-mobile.jpg);

  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__icons {
    display: flex;
    position: relative;
    transform: translateY(-25%);
    gap: 0 40px;

    @include mobile {
      gap: 0 30px;
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 36px 0 203px;

    @include tablet {
      padding: 34px 0 130px;
    }

    @include mobile {
      padding: 29px 0 88px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.5px;
    text-align: center;

    @include tablet {
      font-size: 64px;
      line-height: 64px;
    }

    @include mobile {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
