.header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url(../images/header.png);

  &__content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-top: $header-top-padding;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__call {
    margin-right: 30px;
    text-decoration: none;
    transition: 0.5s;

    @include onDesktop {
      margin-right: 63px;
     
      &::before {
        content: "The Met Fifth Avenue\0a+1 "+
          "212-535-7710\0a\0aThe Met Cloisters\0a+1 212-923-3700";
        white-space: pre;
        position: relative;
        top: 50%;
        transform: translate(-100%, -50% );
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin: 0 20px 0 0;
        padding: 0;
        width: max-content;
        text-align: end;
        list-style: none;
        text-transform: uppercase;
        padding-right: 20px;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::before {
        transition: 0.5s;
        opacity: 1;
        pointer-events: all;
      }
    }

    @include onPad {
      margin-right: 63px;
    }
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: center;
    margin-top: 123px;
    transition: 0.5s;

    @include onPad {
      margin-top: 160px;
      font-size: 64px;
    }

    @include onDesktop {
      margin-top: 104px;
      font-size: 80px;
    }
  }
}
