.menu {
  background-color: #e5e5e5;
  
  &__content {
    height: 100vh;
    padding: 36px 0 0;
    overflow-y: auto;

    @include mobile {
      padding: 29px 0 0;
    }
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 44px;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 48px;
  }

  &__item:not(:last-child) {
    padding-bottom: 32px;
  }

  &__link {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

    @include tablet {
      font-weight: 600;
    }

    &:hover {
      border-color: #1d1d1d;
    }
  }

  &__call {
    display: block;
    width: max-content;
    font-size: 16px;
    line-height: 27px;
    color: #1d1d1d;
    font-weight: 700;
    text-decoration: none;

    @include tablet {
      font-weight: 600;
    }

    &:hover {
      box-shadow: (1px 4px 16px rgba(16, 15, 17, 0.8));
    }

    &--phone {
      margin-bottom: 16px;
    }
    
    &--action {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      line-height: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid #000;
    }
  }
}
