.page {
  scroll-behavior: smooth;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  &__body {
    margin: 0;
    background: rgb(29, 29, 28);

    &--with-menu {
      overflow: hidden;
    }
  }

  &__section-title {
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;

    @include tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include mobile {
      font-size: 32px;
      line-height: 32px;
    }

    &--start {
      text-align: start;
      margin-bottom: 32px;
    }
  }

  &__header {
    margin-bottom: 120px;

    @include mobile {
      margin-bottom: 60px;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);

    &:target {
      transform: translateX(0);
    }
  }

  &__advantages {
    margin-bottom: 164px;

    @include tablet {
      margin-bottom: 132px;
    }

    @include mobile {
      margin-bottom: 92px;
    }
  }

  &__compare {
    margin-bottom: 144px;

    @include tablet {
      margin-bottom: 120px;
    }

    @include mobile {
      margin-bottom: 92px;
    }
  }

  &__details {
    margin-bottom: 180px;

    @include tablet {
      margin-bottom: 120px;
    }

    @include mobile {
      margin-bottom: 80px;
    }
  }

  &__contact-us {
    margin-bottom: 182px;

    @include tablet {
      margin-bottom: 120px;
    }
  }
}
