.wh {
  &__address {
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }

  &__time-container {
    margin-right: 24px;
  }

  &__time {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &--style {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: $color-dark;
    }
  }

  &__museum {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $color-dark;
  }

  &__day {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &--style {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: $color-dark;
    }
  }
}
