.about {
  display: flex;
  justify-content: space-between;

  &__header {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.5px;

  }
  &__text {
    flex-basis: 45%;
    font-size: 17px;
    line-height: 27px;
  }

  &__link {
    color: $blueColor;
  }
  &__text-h3 {
    color: $blueColor;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }
}
