.about-us {
  display: flex;
  justify-content: space-between;
  &__column {
    width: 50%;
    padding-top: 100px;
    margin-bottom: 150px;
    &__name {
      font-size: 48px;
      font-weight: 700;
    }
    &--blue {
      color: blue;
    }
    &__title {
      font-size: 24px;
      padding-left: 10px;
    }
    &__text {
      font-size: 16px;
      font-weight: 400;
      padding-left: 10px;
    }
    &__advantages {
      padding-left: 10px;
    }
  }
}	
