.about-us {
  &__title {
    margin: 0;
    margin-bottom: 32px;
    text-align: left;

    @include onTablet {
      width: 288px;
      margin-bottom: 0;
    }

    @include onDesktop {
      width: 411px;
    }

    &::before {
      content: "Plan your  visit";
      display: block;
      margin-bottom: 2px;
      font-size: 12px;
      line-height: 140%;
      font-weight: 700;
      color: $pinkColor;
    }
  }

  &__info {
    color: $mainColor;
  }

  &__first-avenue {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }

  &__main-hours {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bold-text {
    display: inline-block;
    padding-right: 24px;
    min-width: 96px;
    font-weight: 700;

    &--padding--big {
      min-width: 121px;
    }
  }
}
