.about {
  &__title {
    margin: 0 0 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $colorBlack;

    @include onTablet {
      font-size: 40px;
      line-height: 100%;
      text-align: start;
    }

    @include onDesktop {
      margin-bottom: 0;
      font-size: 48px;
      line-height: 48px;
      text-align: start;
    }
  }

  &__subtitle {
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $colorBlack;

    &-last {
      margin-bottom: 40px;
    }

    &__paragraph {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: $colorBlack;
    }
  }
}
