.about {
  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }

  display: grid;
  column-gap: 24px;

  &__plan {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: $colorRed;
  }

  &__container {
    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

  &__content {
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 7 / 13;
    }
  }

  &__name {
    @include onTablet {
      margin-top: 0;
    }

    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $colorBlack;
  }

  &__close {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $colorBlack;
  }

  &__scheldue {
    display: flex;
    margin: 16px 0;

    &--time p {
      margin-right: 24px;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: $colorBlack;
    }
  }
}
