.about-us {
  display: flex;
  justify-content: space-between;
  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
  &__column {
    width: 50%;
    padding-top: 100px;
    margin-bottom: 100px;
    @media (max-width: 550px) {
      width: 100%;
      padding-top: 50px;
      margin-bottom: 40px;
    }
    &__name {
      font-size: 48px;
      font-weight: 700;
      @media (max-width: 550px) {
        font-size: 36px;
      }
    }
    &--blue {
      color: $color-text;
    }
    &__title {
      font-size: 24px;
      padding-left: 10px;
      margin-bottom: 16px;
    }
    &__text {
      font-size: 16px;
      font-weight: 400;
      padding-left: 10px;
    }
    &--paragraph {
      margin-bottom: 20px ;
    }
    &__advantages {
      padding-left: 10px;
      line-height: 27px;
    }
  }
}
