.bikes {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 400px));
  justify-content: center;
  padding: 48px 0 0;
  row-gap: 48px;
  column-gap: 24px;

  @include onTables {
    grid-template-columns: repeat(1, 400px);
  }

  @include onDesctop {
    grid-template-columns: repeat(3, 310px);
  }

  // &__card {
  // }
}

.card-bike {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: box-shadow 0.3s ease 0s, border-color 0.3s ease 0s;

  &:hover {
    border-color: #999;
    box-shadow: 0 0 3px #fff;
  }

  &__image {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  &__name {
    margin: 32px 0 0;
    color: #fff;
  }

  &__info {
    margin: 8px 0 0;
  }

  &__price {
    margin: 16px 0 0;
  }
}
