.bikes {
  &__content {
    @include onDesktop {
      display: flex;
      column-gap: 24px;
    }
  }

  &__photo {
    margin: 0 auto;
    max-width: min-content;
  }

  &__img {
    margin-bottom: 32px;
    width: 280px;
    height: 228px;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @include onTablet {
      width: 392px;
      height: 316px;
    }

    @include onDesktop {
      width: 324px;
      height: 264px;
    }
  }

  &__name {
    margin: 0 0 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__price {
    margin-top: 16px 0 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
