.online {
  padding: 140px $desktop-paddingX 0;

  @include for-tablet {
    padding: 140px 200px 0;
  }

  @include for-mobile {
    padding: 100px $mobile-paddingX 0;
  }

  &__content-wrapper {
    @include limit-content-width;
    @include grid-width-columns(3, 1, 1);
  }

  &__title {
    margin-bottom: 48px;

    @include for-mobile {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 40px;
    }
  }

  &__card {
    @include hover-tr(transform, scale(1.1));

    @include for-tablet {
      margin-bottom: 48px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include for-mobile {
      margin-bottom: 48px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
