.burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  @media screen and(max-width: $breakpointMiddle) {
    display: flex;
  }
}

.burger-menu--active {
  z-index: 11;
}

.burger-menu-line {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: $whiteColor;
  border-radius: 8px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 20px;
    height: 2px;
    border-radius: 8px;
    background-color: $whiteColor;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 20px;
    height: 2px;
    border-radius: 8px;
    background-color: $whiteColor;
  }
}

.burger-menu-line.burger-menu-line--active {
  background-color: transparent;
}

.burger-menu-line.burger-menu-line--active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.1s linear, transform 0.2s ease-out 0.1s;
}

.burger-menu-line.burger-menu-line--active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.1s linear, transform 0.2s ease-out 0.1s;
}
