@import "../utils/vars";
@import "../utils/mixins";
@import "../utils/extends";

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  box-sizing: border-box;

  width: 100%;
  height: 56px;
  font-family: "Cinzel", serif;

  text-decoration: none;
  color: $white;
  background-color: $redsite;

  transition: all 0.3s;
  cursor: pointer;

  @extend %displayflex;

  &:hover {
    cursor: pointer;
    background-color: #AE1C23;
  }

  &:active {
    background-color: #EB343D;
  }

  &--size {
    max-width: 324px;
  }
}
