.button {
  position: relative;

  display: block;
  width: 100%;

  padding: 14px 48px;

  color: $black-color;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  font-weight: 700;

  border: none;
  border-radius: 40px;
  background-color: #fff;

  transition: box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
