.button {
  display: block;
  padding: 21px 65px;
  font-size: 16px;
  color: $color-lightblue;
  border: 2px solid $color-lightblue;
  border-radius: 8px;
  background-color: $color-white;
  cursor: pointer;
  transition: background-color $small-duration, color $small-duration;

  &:hover {
    color: $color-white;
    background-color: $color-lightblue;
    box-shadow: 1px 6px 23px rgba(0, 117, 255, 0.46);
  }
}
