.button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: #292929;
  border-radius: 40px;
  width: 100%;
  height: 56px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border: 2px solid #292929;
  transition: ease 0.3s;
  cursor: pointer;

  &--last {
    margin-bottom: 48px;
  }

  &:hover {
    background: #fff;
    border: 2px solid #292929;
    color: #292929;
    box-shadow: 0 1px 7px #292929;
  }

  &:active {
    background-color: #111;
    color: #fff;
    box-shadow: none;
  }
}
