.call {
  text-align: right;

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    padding-right: 50px;
  }

  &__link-list {
    display: none;
    list-style: none;
    padding-right: 20px;
  }

  &__phone-image {
    background-image: url(../images/MET/icons/phone.svg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 24px;
    height: 24px;

    cursor: pointer;

    &:hover + .call__link-list {
      display: block;
      padding: -26px 0;
    }
  }

  &__call-link {
    @include font-param(16px, 27px, 700);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2;

    transition: opacity $transition-duration;
  }
}
