.card {
  text-align: center;

  &__photo {
    display: block;
    width: 100%;

    margin: 0 auto 32px;

    @include for-mobile {
      margin-bottom: 28px;
    }
  }

  &__name {
    margin-bottom: 4px;

    @include font-param(24px, 33.6px, 700);
    color: $main-accent;
  }

  &__description {
    @include font-param(16px, 27px, 400);
  }
}
