.card {
  width: 280px;
  margin-bottom: 40px;
  &__picture {
    display: block;
    margin-bottom: 32px;
  }
  &__img {
    width: 100%;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__paragraph {
    margin-bottom: 16px;
  }

  @include tablet {
    width: 392px;
    margin-bottom: 48px;
  }

  @include desktop {
    width: 324px;
  }
}
