.card {
  &__photo-container {
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-height: 387px;
    overflow: hidden;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.06);
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onTablet {
      margin-bottom: 32px;
      height: 387px;
      padding-bottom: 0;
    }

    @include onDesktop {
      height: 320px;
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
    text-align: center;
    color: $pinkColor;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    margin: 0;
    text-align: center;
  }
}
