.category {
  &__pictures {
    margin-bottom: 24px;

    &--online-view {
      @include onTablet {
        margin-bottom: 32px;
      }

      @include onDesktop {
        margin-bottom: 32px;
      }
    }
  }

  &__picture {
    width: 100%;
    height: 100%;
    max-height: 186px;

    object-position: center;
    object-fit: cover;

    vertical-align: bottom;

    @include onTablet {
      max-height: 320px;
    }

    @include onDesktop {
      max-height: 320px;
    }

    transition: all 0.5s;

    &:hover {
      transform: scale(1.05);
    }

    &--position {
      object-position: 25%;
    }

    &--position-7 {
      object-position: top right;
    }

    &--online-block {
      max-height: 320px;
      object-position: top;

      @include onTablet {
        max-height: 388px;
      }

      @include onDesktop {
        min-height: 320px;
      }
    }
  }

  &__info {
    &--name {
      color: $mainColor;
    }

    &--online-block {
      margin: 0 auto;
      width: 100%;
    }

    &--online-text {
      font-size: 24px;
      line-height: 140%;
      color: $mainColor;
      text-align: center;
      max-width: none;
      margin-bottom: 4px;
    }

    &--online-description {
      max-width: none;
      text-align: center;
    }
  }
}
