.communication {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &__call-to-order {
    width: max-content;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-wite;
  }
}
