.compare-bikes {
  &__card {
    box-sizing: border-box;
    padding: 5px;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 8px 12px 16px rgba(232, 232, 240, 0.64);
    }
  }
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDecstop {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 32px;

  }

  &__header-description {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
