.compare {
  &__item {
    max-width: 392px;
    margin: 0 auto 40px;

    @include onTablet {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__padding {
    padding-bottom: 92px;

    @include onTablet {
      padding-bottom: 120px;
    }

    @include onDesktop {
      padding-bottom: 144px;
    }
  }
}
