.compare-bikes {
  &__card {
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @include tablet {
    &__card {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }

  @include desktop {
    &__card {
      margin-bottom: 0;
    }
  }
}
