.compare {
  &__photos-container {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
    height: $photo-bikes-heigth-mobile;

    @include onTablet {
      height: $photo-bikes-heigth-tablet;
    }

    @include onDesktop {
      height: $photo-bikes-heigth-desktop;
    }
  }

  &__bike-photo {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: contain;

    transition: transform 0.8s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__price {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
