.container {
  margin: 0 auto;
  padding: $top-header-padding 22px 0;

  @include onTablet {
    padding: $top-header-padding 72px 0;
  }

  @include onDesctop {
    max-width: 1260px;
    padding: $top-header-padding 120px 0;
  }

  &__main {
    padding-top: 0;
    padding-bottom: 120px;

    @include onDesctop {
      padding-bottom: 182px;
    }
  }
}
