.contact-us {

  &__Info--title {
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #161616;
  }

  &__Info--des {
    margin: 0 0 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #161616;
  }

  &__Info__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    text-decoration: none;
  }

  &__Info-tag {
    margin: 0 0 8px;
  }

  &__field {
    margin: 0 0 16px;
  }

  &__field-last {
    margin-bottom: 32px;
  }

}
