.contact-us {

  &__info {
    padding-bottom: 24px;
  }

  &__info-titel {
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $ColorSecond;
  }

  &__info-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $ColorSecond;

    &:hover {
      color: bisque;
    }

  }

  &__form {
    margin-bottom: 16px;
  }
}
