.contacts {
  &__container {
    @include onTablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
    }

    display: grid;
    column-gap: 24px;

    &--info {
      @include onTablet {
        grid-column: 1 / 4;
      }

      @include onDesktop {
        grid-column: 1 / 7;

        display: grid;
        column-gap: 24px;
        column-width: 63px;

        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  &__address {
    margin-bottom: 48px;

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;

      margin-bottom: 16px;
    }

    &-phone {
      margin-bottom: 8px;
    }

    &--1 {
      @include onDesktop {
        grid-column: 1 / 4;
      }
    }
    &--2 {
      @include onDesktop {
        grid-column: 4 / 7;
      }
    }
  }

  &__form {
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }

  &__info {
    display: block;
    width: max-content;

    color: #3e3e3e;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    &:hover {
      color: $colorRed;
    }
  }

  &__field {
    margin-bottom: 16px;
  }
}
