.contacts {
  &__title {
    margin-bottom: 69px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 72px;
    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &--left {
      margin-right: 100px;
    }
    //&__phone	{}
    //&__email {}
    //&__address {}
  }
  &__form {
    display: block;
    min-width: 413px;
    padding: 0 10px;
    margin-bottom: 72px;
    ::placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #8f99a8;
      font-weight: 400;
    }
    @media (max-width: 850px) {
      min-width: 280px;
      margin-bottom: 64px;
    }
    &__name {
      border: none;
      width: 100%;
      height: 48px;
      margin-bottom: 16px;
      padding: 17px;
      background-color: #f6f8ff;
      border-radius: 8px;
      &:hover {
        border: 2px solid #ccd0e0;
        border-radius: 8px;
      }
      &:focus {
        border: 2px solid $color-text;
        border-radius: 8px;
      }
    }
    &__email {
      border: none;
      width: 100%;
      height: 48px;
      margin-bottom: 16px;
      padding: 17px;
      background-color: #f6f8ff;
      border-radius: 8px;
      &:hover {
        border: 2px solid #ccd0e0;
        border-radius: 8px;
      }
      &:focus {
        outline: none;
        border: 2px solid $color-text;
        border-radius: 8px;
      }
    }
    &__textarea {
      border: none;
      display: block;
      width: 100%;
      height: 144px;
      padding: 17px;
      margin-bottom: 16px;
      resize: none;
      background-color: #f6f8ff;
      border-radius: 8px;
      &:hover {
        border: 2px solid #ccd0e0;
        border-radius: 8px;
      }
      &:focus {
        border: 2px solid $color-text;
        border-radius: 8px;
      }
    }
  
    &__btn {
      display: block;
      height: 56px;
      width: 100%;
      background-color: $color-text;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      border: none;
      outline: none;
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
      margin-bottom: 16px;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      &:hover {
        background-color: $color-btn;
        color: #fff;
        transition: 0.5s;
        box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46),
          inset 1px 1px 10px #fff;
      }
    }
  }
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: #9fadc2;
  margin-bottom: 8px;
}

.text-contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
  color: #000;
  margin-bottom: 24px;
}
