.contacts-form {
  display: flex;
  flex-direction: column;
  width: 412px;
  gap: 16px;

  @include onMobile {
    width: 100%;
  }

  &__textarea {
    box-sizing: border-box;
    margin-bottom: 16px;

    padding: 16px;
    font-family: inherit;
    height: 144px;
    resize: none;
    width: 100%;

    background-color: #f7f8ff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    border-radius: 8px;

    border: 2px solid transparent;

    &::placeholder {
      color: #8f99a8;
    }

    &:hover {
      border-color: #ccd0e0;
    }

    &:focus {
      border-color: #0075ff;
    }
  }
}
