.contactsus {
  &__info {
    &--phone {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      color: #9fadc2;

      margin-bottom: 8px;
    }

    &--email {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      color: #9fadc2;
      margin-bottom: 8px;
    }

    &--address {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      color: #9fadc2;
      margin-bottom: 8px;
    }
  }

  &--link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #3e3e3e;
  }

  &--place {
    margin-bottom: 24px;
  }
}
