.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: $header-top-padding 20px 94px;
  max-width: 1020px;
  margin: 0 auto;

  @include onTablet {
    padding: $header-top-padding 72px 40px;
    margin: 0 auto;
  }

  @include onDesktop {
    padding: $header-top-padding 10px 64px;
    margin: 0 auto;
  }

}
