@import "../utils/vars";
@import "../utils/mixins";
@import "../utils/extends";

.contact {
  &__container {
    &:first-child {
      margin-bottom: 40px;
      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    margin: 0 0 8px;
  }

  &__info-firsttitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $dark;
    margin: 0 0 16px;
  }

  &__info-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: $dark;
    margin: 0 0 4px;
  }

  &__info-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: $text-dark;
}

  &__field {
    margin: 0 0 16px;
  }
}
