.contact {
  display: flex;
  justify-content: space-between;

  &__location {
    display: flex;

    @media (max-width: $breakpoint-middle) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__location-left {
    margin-right: 100px;

    @media (max-width: $breakpoint-middle) {
      margin-right: 0;
    }
  }

  &__name {
    margin-bottom: 8px;
    color: $color-darkgrey;
    font-size: 14px;
    line-height: 27px;
  }

  &__info {
    color: $color-description;
    font-size: 16px;
    line-height: 27px;
    transition: color $small-duration;

    &:hover {
      color: $color-lightblue;
    }

    @media (max-width: $breakpoint-middle) {
      margin-bottom: 30px;
    }
  }

  &__form {
    @media (max-width: $breakpoint-small) {
      margin: 0 auto;
    }
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}
