.contacts {
  &__info {
    margin: 0 0 24px;

    &:last-child {
      margin: 0;
    }
  }

  &__info-title {
    margin: 0 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #9fadc2;
  }

  &__info-link {
    font-size: 16px;
    color: #3e3e3e;
    text-decoration: none;

    &:hover {
      color: #f00;
    }
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
