.contacts {
  &__info {
    margin: 0 0 24px;
  }

  &__info-title {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }

  &__info-link {
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    white-space: nowrap;

    &:hover {

      color: aquamarine;
    }
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
