.contact-us {
  &__info {
    height: max-content;
    margin-bottom: 48px;

    @include onDesktop {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__info-title {
    margin: 0 0 16px;
    font-weight: 700;
  }

  &__info-content {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__info-subtitle {
    margin-bottom: 4px;
    font-size: 14px;
  }

  &__info-link {
    font-weight: 700;
    color: #3e3e3e;
    text-decoration: none;

    transition: color 0.3s;

    &:hover {
      color: $pinkColor;
    }
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__field:-webkit-autofill,
  &__field:-webkit-autofill:hover, 
  &__field:-webkit-autofill:focus,
  &__field:-webkit-autofill:active{
    border: 1px solid transparent;
    -webkit-text-fill-color: $mainColor;
    -webkit-box-shadow: 0 0 0px 1000px #f8f8fa inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
