.details {

  &__content {
    margin: 48px 0 0;
  }

  &__images {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include onDesctop {
      gap: 24px;
    }
  }

  &__image-1 {
    flex: 1 1 75%;

    @include imagesSize;
  }

  &__image-2 {
    flex: 1 1 25%;

    @include imagesSize;
  }

  &__title {
    padding: 16px 0 0;
  }

  &__info {
    max-width: 672px;
    padding: 8px 0 0;
  }

  &__explore {
    margin: 48px auto 0;
    padding: 15px 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 278px;

    @include onTables {
      max-width: 392px;
    }

    @include onDesctop {
      max-width: 324px;
    }
  }
}

.reverse--1 {
  flex: 1 1 25%;
}

.reverse--2 {
  flex: 1 1 75%;
}
