.details {
  &__card {
    margin-bottom: 40px;
    & :nth-child(-n + 2) {
      margin-bottom: 16px;
    }
  }
  &__picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
  }
  &__img {
    width: 100%;
    height: 100%;
    @include transition-duration(transform);
    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    margin-bottom: 8px;
    @extend %cardtitletext;
  }
  &__paragraph {
    margin-bottom: 16px;
    @extend %cardparagraphtext;
  }
  &__button {
    display: block;
    width: 100%;
    height: $detailsButtonHeight;
    background-color: $font-color;
    border-radius: 40px;
    cursor: pointer;
    @extend %buttonfont-style;
    @include transition-duration(box-shadow);
    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
    }
    &:active {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
    }
  }
  @include tablet {
    &__card {
      margin-bottom: 48px;
    }
    &__button {
      width: $detailsButtonWidthOnTablet;
      &:hover {
        box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
      }
      &:active {
        box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
      }
    }
  }
  @include desktop {
    &__card {
      margin-bottom: 48px;
    }
    &__button {
      width: $detailsButtonWidthOnDesktop;
      &:hover {
        box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
      }
      &:active {
        box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
      }
    }
  }
}
