.details {

  &__content {
    margin: 48px 0 0;
  }

  &__images {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include onDesctop {
      gap: 24px;
    }
  }

  &__image-1 {
    flex: 1 1 75%;
    transition: all 0.5s ease 0s;

    &:hover {
      transform: translateX(-5%) scale(1.1);
    }
  }

  &__image-2 {
    flex: 1 1 25%;
    transition: all 0.5s ease 0s;

    &:hover {
      transform: translateX(5%) scale(1.1);
    }
  }

  &__title {
    padding: 16px 0 0;
  }

  &__info {
    max-width: 672px;
    padding: 8px 0 0;
  }

  &__explore {
    max-width: 278px;
    margin: 48px auto 0;
    padding: 15px 109px;

    @include onTablet {
      max-width: 392px;
    }

    @include onDesctop {
      max-width: 324px;
    }
  }
}

.reverse--1 {
  flex: 1 1 25%;
}

.reverse--2 {
  flex: 1 1 75%;
}
