.explore {
  @include onTablet {
    display: grid;
  }

  @include onDesktop {
    display: block;
  }

  column-gap: 24px;
  grid-template-columns: repeat(6, 1fr);

  &__section {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__container {
    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      display: flex;
      gap: 24px;
    }
  }

  &__title {
    @include onTablet {
      grid-column: 2 / 6;
    }

    text-align: center;
    margin-bottom: 40px;
  }

  &__img {
    @include onTablet {
      height: 392px;
      width: 100%;
    }

    @include onDesktop {
      height: 324px;
      width: 320px;
    }

    width: 100%;
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $colorRed;
    text-align: center;
  }

  &__description {
    margin-bottom: 48px;

    font-family: "Roboto", sans-serif;
    text-align: center;
  }
}
