.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  &__bg-img {
    min-height: 200px;
    background-image: url(../imges/footer.png);
    background-size: cover;
    background-position: center;

    @include onTablet {
      min-height: 480px;
    }

    @include onDecstop {
      min-height: 555px;
    }
  }
}
