.footer {
  height: 359px;
  background-image: url(../images/MET/footer.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include for-mobile {
    height: 180px;
  }
}
