.footer {
  background-image: url("../images/footer-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  object-fit: cover;
  height: 55.5rem;
  grid-column: 1 / -1;
}
