.form-field {
  height: 48px;
  display: block;
  width: 100%;
  background: #f7f8ff;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 14px 16px;
  color: #000;

  &:hover {
    border-color: #ccd0e0;
  }

  &:focus {
    border-color: $c-blue;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #8f99a8;
  }

  &--textarea {
    font-family: Roboto, sans-serif;
    height: 144px;
    resize: none;
  }
}
