.form {

  &__field {
    display: block;
    width: 100%;
    height: 56px;

    padding: 14px 0;
    text-indent: 16px;
    margin-bottom: 16px;

    border: 1px solid transparent;

    background-color: #f8f8fa;

    @include font-param(14px, 16px, 400);
    font-family: inherit;

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      color: $dark-accent;
    }

    &:focus {
      border: 1px solid $dark-accent;
      outline: none;
    }

    &--textarea {
      height: 144px;
      font-family: inherit;
      resize: none;
      color: #7e7e83;

      &::placeholder {
        font-weight: 400;
        color: #7e7e83;
      }

      &:hover {
        color: $dark-accent;
      }

      &:focus {
        border: 1px solid $dark-accent;
        outline: none;
      }
    }
  }
}
