.form-field {
  box-sizing: border-box;
  height: 48px;
  display: block;
  width: 100%;
  border: 2px solid transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 16px;
  background: #f8f8fa;
  color: #161616;

  &:hover {
    background: #f8f8fa;

    color: #161616;
    border: 1px solid #d5d7de;
  }

  &:focus {
    background: #f8f8fa;

    color: #161616;
    border: 1px solid #161616;
    outline: none;
  }

  &-textarea {
    height: 144px;
    // font-family: "Cinzel", serif;
    resize: none;
  }
}
