.form {
  &__field {
    padding: 14px 16px;

    height: 48px;
    width: 100%;

    color: $form-main-color;
    background-color: $forn-bg-color;
    border: 1px solid transparent;
    border-radius: 40px;
    outline: none;
    
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;

    &--textarea,
    &::placeholder {
      color: $form-placeholder-color;
    }

    &:hover {
      border-color: $form-hover-border;

      &::placeholder {
        color: $form-main-color;
      }
    }

    &:focus {
      border-color: $form-main-color;
    }

    &--textarea {
      height: 148px;
      border-radius: 16px;
      resize: none;
      color: $form-main-color;
    }
  }
}
