.form-field {
  font-family: inherit;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  padding: 14px 16px;

  background-color: #f8f8fa;
  border: 1px solid transparent;

  ::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:focus {
    border-color: $colorBlack;
    outline: none;
  }

  &--textarea {
    height: 144px;
    resize: none;
    margin-bottom: 32px;
  }

  &--button {
    background-color: $colorRed;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    height: 56px;

    transition: background-color 0.3s;

    &:hover {
      background-color: #ae1c23;
    }

    &:active {
      background-color: #eb343d;
    }
  }
}
