.gallery {
  &__caption {
    margin: 24px 0 40px;
    color: $color-lightblue;
    font-weight: 700;

    &-link {
      color: $color-black;
      font-weight: normal;
      transition: color $small-duration, border $small-duration;

      &:hover {
        color: $color-darkgrey;
        border-bottom: 1px solid $color-darkgrey;
      }
    }

    @media (max-width: $breakpoint-middle) {
      margin: 16px 0 32px;
    }
  }

  &__button {
    margin: 40px auto 0;
  }
}
