.gallery {
  &__title {
    margin: 0 auto 56px;

    @include onMobile {
      margin-bottom: 28px;
    }
  }

  &__catalog {
    display: grid;
    gap: 40px;
    margin-bottom: 32px;
  
    @include onMobile {
      gap: 32px;
    }
  }

  &__catalog-photos {
    margin-bottom: 24px;

    @include onMobile {
      margin-bottom: 16px;
    }
  }
}
