.gallery {
  display: grid;
  justify-content: center;
  column-gap: 20px;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);

  @media (min-width:$screen-medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__photo {
    @include sqr(100%);
    object-fit: cover;
    object-position: center;

    @media (min-width: $screen-medium) {
      &--wide {
        grid-column: 1/3;
      }

      &--wide-reverse {
        grid-column: 2/-1;
      }
    }
  }

  &__title {
    grid-column: 1/-1;
    padding-top: 16px;
    padding-bottom: 40px;

    color: $c-main;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

    @media (min-width: $screen-medium) {
      font-size: 24px;
      line-height: 33px;
      padding-bottom: 65px;

      &:last-child {
        padding-bottom: 40px;
      }
    }
  }

  &__button {
    display: flex;
    width: 100%;
    height: 55px;
    border-radius: 40px;
    background-color: $c-main;
    color: white;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

    @media (min-width: $screen-medium) {
      width: 390px;
      height: 55px;
      margin: auto;
      margin-bottom: 120px;
    }
  }
}
