.grid {
  display: grid;
  max-width: 800px;

  @media (min-width: $screen-medium) {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  @media (min-width: $screen-big) {
    &__contacts {
      justify-items: end;
    }
  }
}
