.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: $gap-mobile;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: $gap-tablet;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: $gap-desktop;
  }

  &--desktop {
    display: block;

    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
    }
  }

  &--mobile {
    display: grid;
    
    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
        
        &--tablet-#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
