.heading {
  align-items: center;
  width: max-content;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -1.5px;

  &::after {
    content: "";
    display: block;
    margin: 10px auto 0;
    height: 13px;
    width: 20px;
    background: url(../images/crown.svg) no-repeat;
  }
}
