.header {
  height: 100vh;
  background-image: url(../images/photos/bike-lg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  display: grid;
  grid-template-rows: 9.4rem 64%;

  @media (max-width:600px) {
    background-image: url(../images/photos/bike-mobile.jpg);
    grid-auto-rows: max-content;
    background-size: cover;
    background-position: top;
  }

  @media (min-width:600px) and (max-width:900px) {
    background-image: url(../images/photos/bike-lg.jpg);
    grid-auto-rows: max-content;
    background-size: cover;
    background-position: top;
    grid-template-rows: 9.4rem 58%;

  }

  @media (min-width:1001px) and (max-width:1260px) {
    background-image: url(../images/photos/bike-background.jpg);
    grid-auto-rows: max-content;
    background-size: cover;
    background-position: top;
    grid-template-rows: 9.4rem 58%;
  }

  @media(min-width:2400px) {
    height: 100vh;
    background-image: url(../images/photos/bike-lg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-rows: 9.4rem 60vh;
  }

  &__nav {
    align-self: end;
    max-width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 4rem 3.2rem;
    align-items: center;
    grid-column-gap: 40px;
    padding-left: 12rem;
    padding-right: 12.4rem;

    @media (max-width: 320px) {
      grid-template-columns: 70%  4rem 3.2rem;
      grid-column-gap: 0;
      padding-left: 1rem;
      padding-right: 0;
    }

    @media (min-width: 321px) and (max-width:600px) {
      grid-template-columns: 75%  4rem 3.2rem;
      grid-column-gap: 0;
      padding-left: 2rem;
      padding-right: 0;
    }
  }

  &__item-logo {
    width: 18.7rem;
    height: 5.6rem;
    background-image: url(../images/MyBiKE.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 425px) {
      width: 13rem;
      height: 3.8rem;
    }
  }

  &__item-link {
    width: 18.7rem;
    height: 5.6rem;
    display: block;
  }

  &__item-phone {
    background-image: url(../images/phone-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.2rem;
    height: 3.2rem;

    @media (max-width: 425px) {
      width: 2.4rem;
      height: 2.4rem;
    }

    &::before {
      content: "+1 234 555-55-55";
      position: absolute;
      color: $c-white;
      margin-top: 1.3rem;
      margin-left: -9.2rem;
      visibility: hidden;
      transition: 0.4s ease-out;
    }

    &:hover {
      cursor: pointer;
      @media (max-width: 500px) {
        &::before {
          display: none;
        }
      }

      &::before {
        visibility: visible;
      }
    }
  }

  &__item-phone-link {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
  }

  &__item-hamburger {
    background-image: url(../images/Icon-Burger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.2rem;
    height: 3.2rem;

    @media (max-width: 425px) {
      width: 2.4rem;
      height: 2.4rem;
    }

    &:hover {
      cursor: pointer;
      background-image: url(../images/Icon-Burger-menu-hover.svg);
      transition: 0.4s ease-in;
    }
  }

  &__title {
    color: $c-white;
    font-weight: 700;
    font-size: 8rem;
    line-height: 100%;
    align-self: end;
    text-align: center;

    @media (max-width:374px) {
      font-size: 3rem;
      letter-spacing: 1.5px;
    }

    @media (min-width:375px) and (max-width: 600px) {
      font-size: 3.6rem;
      letter-spacing: 1.5px;
    }
  }
}

.header-block {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
