.header {
  background-size: cover;
  background-position: center;
  background-image: url(/images/photos/Layer43@1,5x.jpg);
  margin-bottom: 64px;

  @include onDescktop {
    margin-bottom: 104px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding: $headerTopPadding 0 80px;
    height: 100vh;
  }

  &__top {
    @include top-action;
  }

  &__title {
    font-size: 46px;
    line-height: 40px;
    font-style: bold;
    letter-spacing: -1px;
    color: $c-white;

    @include onDescktop {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -1.5px;
    }

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background-color: $c-white;
      margin-bottom: 24px;
    }
  }
}
