body {
  margin: 0;
  padding: 0;
  background: $c-gray;
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-size;
  color: $h1-color;
  font-weight: 700;
}
