.icon {
  height: 24px;
  width: 24px;

  @include onMobile {
    height: 18px;
    width: 18px;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;

  &--menu {
    background-image: url("/images/menu.svg");
    transition: background-image 0.3s;

    &:hover {
      background-image: url("/images/menu-open.svg");
    }
  }

  &--call {
    position: relative;
    background-image: url("/images/call.svg");

    &:hover .tooltip {
      @include onMobile {
        opacity: 0;
        pointer-events: all;
      }
      opacity: 1;
      pointer-events: all;
    }
  }

  &--cross {
    background-image: url("/images/cross.svg");
  }
}
