.icon {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    display: block;
    width: 18px;
    height: 12px;

    background-image: url(../images/menu-small.svg);

    @include onTablet {
      width: 24px;
      height: 19px;

      background-image: url(../images/menu.svg);
    }

    &:hover {
      background-image: url(../images/menu-hover.svg);
    }
  }

  &--phone {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 40px;

    text-decoration: none;

    background-image: url(../images/tel.svg);

    @include onTablet {
      width: 24px;
      height: 24px;
    }

    @include onDesktop {
      &::before {
        content: "+1 234 555-55-55";
        display: block;
        position: relative;
        top: 35%;
        width: max-content;
        padding-right: 12px;

        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        opacity: 0;
        color: $main-color;
        letter-spacing: 2px;
        text-transform: uppercase;
        transform: translateX(-100%);
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &--cross {
    width: 16px;
    height: 16px;
    background-image: url(../images/menu-cross.svg);

    @include onDesktop {
      width: 22px;
      height: 22px;
    }
  }
}
