.icon {
  box-sizing: border-box;
  display: block;
  width: 100%;
  // height: var(--icon-width);
  // padding-bottom: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--phone {
    background-image: url(../images/call.svg);
  }

  &--menu {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu-hover.svg);
      transform: scale(-1);
    }
  }

  &--cross {
    background-image: url(../images/cross-icon.svg);
  }
}
