.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;

    @media (max-width: $breakpoint-middle) {
      margin-bottom: 48px;
      font-size: 36px;
    }

    &-link {
      color: $color-lightblue;
      transition: color $small-duration;

      &:hover {
        color: $color-black;
      }
    }
  }

  &__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 27px;

    @media (max-width: $breakpoint-large) {
      max-width: 350px;
    }

    &-allocated {
      color: $color-lightblue;
      font-weight: 700;
      font-size: 24px;
    }
  }

  @media (max-width: $breakpoint-middle) {
    justify-content: center;
  }

  @media (max-width: $breakpoint-small) {
    justify-content: center;
  }
}
