.info {
  padding: 140px $desktop-paddingX 0;

  @include for-tablet {
    padding: 140px $tablet-paddingX 0;
  }

  @include for-mobile {
    padding: 100px $mobile-paddingX 0;
  }

  &__content-wrapper {
    @include limit-content-width;

    @include grid-width-columns(2, 2, 1);

    @include for-mobile {
      flex-direction: column;
      gap: 48px;
      flex-basis: auto;
    }
  }

  &__title-wrapper {
    flex-basis: 50%;
  }

  &__hello {
    @include font-param(12px, 16.8px, 700);
    color: #{$main-accent};
  }

  &__hello-title {
    @include font-param(48px, 48px, 700);
    letter-spacing: -1.5px;
    text-align: left;

    @include for-mobile {
      @include font-param(32px, 32px, 700);
    }
  }

  &__row {
    margin-bottom: 16px;
    flex-basis: 50%;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  &__adress {
    @include font-param(24px, 30px, 700);
    padding-bottom: 16px;

    @include for-mobile {
      text-align: left;
    }
  }

  &__open-hours {
    display: inline;
    @include font-param(16px, 27px, 700);
    padding-right: 25px;

  }

  &__open-days {
    display: inline;
  }

  &__last-inline {
    padding-right: 57px;
  }

  &__last-inline2 {
    padding-right: 82px;
  }
}
