.link {
  box-sizing: border-box;
  text-decoration: none;
  width: max-content;
}

.link--blue {
  display: inline-block;
  color: $color-blue;
  font-weight: 700;

  &::after {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 2px;
    border-radius: 8px;

    background-color: $color-blue;
    transform: scale(0);
    
    transition: scale, 0.3s;
  }

  &:hover::after {
    transform: scale(1);
  }
}

.link--grey {
  color: #3e3e3e;

  transition: color 0.3s;

  &:hover {
    color: $color-blue;
  }

  &::after {
    content: "";
    display: block;
    height: 2px;
    border-radius: 8px;

    background-color: $color-blue;
    transform: scale(0);
    
    transition: scale, 0.3s;
  }

  &:hover::after {
    transform: scale(1);
  }
}

.link--white {
  font-weight: 700;
  color: $color-wite;
  box-sizing: border-box;

  border-bottom: 1px solid transparent;

  transition: border-bottom 0.3s;

  &::after {
    content: "";
    display: block;
    height: 2px;
    border-radius: 8px;
    margin-top: 8px;

    background-color: $color-wite;
    transform: scale(0);

    transition: scale, 0.3s;
  }

  &:hover::after {
    transform: scale(1);
  }
}
