.link {
  box-sizing: border-box;
  text-decoration: none;
  width: max-content;
}

.link--blue {
  display: inline-block;
  color: $color-blue;
  font-weight: 700;

  @include link-after-hover ($color-blue);
}

.link--grey {
  color: $color-grey;

  transition: color 0.3s;

  &:hover {
    color: $color-blue;
  }

  @include link-after-hover ($color-blue);
}

.link--white {
  font-weight: 700;
  color: $color-wite;

  transition: border-bottom 0.3s;

  @include link-after-hover ($color-wite);

  &::after {
    margin-top: 80px;
    // bottom: -8px;
    // pointer-events: none;
  }
}
