.logo {
  transition: transform 0.3s;
  
  &:hover {
    transform: scale(1.05);
  }
  &__image {
    height: 38px;

    @include OnTablet {
      height: 56px;
    }

    @include OnDesktop {
      height: 56px;
    }
  }
}
