.logo {
  width: 130px;
  height: 38px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &__img {
    width: 130px;
    height: 38px;

    @include onDesktop {
      width: 187px;
      height: 56px;
    }
  }
}
