.logo {
  justify-self: self-start;
  font-weight: 700;
  font-size: 40px;
  line-height: 80%;

  text-align: center;
  letter-spacing: -1.5px;
  color: #FFFFFF;
  text-decoration: none;
  
  @include onDesktop {
    height: 80px;
  }
}