.main {
  &__section {
    &--text {
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      color: $mainColor;
      margin: 0;
    }

    &--head-main {
      font-family: inherit;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.5px;
      color: $darkTextColor;
      text-align: center;
      margin: 0;

      @include onTablet {
        font-size: 48px;
        line-height: 48px;
      }

      @include onDesktop {
        font-size: 48px;
        line-height: 48px;
      }
    }

    &--head-second {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $darkTextColor;
      margin: 0 0 16px;
    }
  }
}

.text-info-bold {
  @include textInfo;

  font-weight: 700;

  &--hours {
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }
}

.text-info-normal {
  @include textInfo;

  font-weight: 400;

  &--days {
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }
}
