.main {
  background-color: $menu-color;
  padding: 60px 0 60px;

  @include tablet {
    background-color: $menu-color;
    padding: 120px 0 120px;
  }

  @include desktop {
    padding: 120px 0 120px;
    background-color: $menu-color;
  }
}
