.main {
  background-color: $ColorMain;
  color: $ColorSecond;
  padding: 0 20px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 40px;
  }

  &__section {
    padding: 80px 0 0;

    &:first-child {
      padding-top: 60px;

      @include onTablet {
        padding-top: 120px;
      }

      @include onTablet {
        padding-top: 180px;
      }
    }

    @include onTablet {
      padding-bottom: 40px;
    }

    @include onDecstop {
      padding-bottom: 80px;
    }
  }

  &__titel {
    padding-bottom: 48px;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;
    }

    @include onDecstop {
      font-size: 64px;
    }
  }

  &__paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    &--about-us {
      font-weight: 500;
      font-size: 23px;
    }
  }
}
