.main_section {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
  &__title {
    margin-bottom: 48px;
    text-align: center;
    &--about {
      text-align: left;
    }
  }

  @include tablet {
    &:not(:last-child) {
      margin-bottom: 120px;
    }
    &__title {
      font-size: 48px;
      line-height: 100%;
    }
  }

  @include desktop {
    &:not(:last-child) {
      margin-bottom: 160px;
    }
    &__title {
      font-weight: 500;
      font-size: 64px;
      line-height: 100%;
    }
  }
}
