.menu-navigation {
  padding-top: 26px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  
  grid-template-columns: 24px 1fr 24px;

  @include onMobile {
    grid-template-columns: 18px 1fr 18px;
  }
}
