.menu {
  z-index: 5;
  height: 100vh;
  padding: 32px $desktop-paddingX;
  background-color: $main-accent;

  @include for-mobile {
    padding-left: $mobile-paddingX;
    padding-right: $mobile-paddingX;
  }

  &__content-wrapper {
    @include limit-content-width;
  }

  &__top-wrapper {
    @include grid-width-columns(2, 2, 2);
    align-items: center;
    margin-bottom: 55px;
  }

  &__toggler {
    width: 24px;
    height: 24px;
    justify-self: right;
    border: none;
    background-color: transparent;
    background-image: url(../images/MET/icons/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include for-mobile {
      transform: scale(0.8);
    }
  }

  &__logo-link {
    justify-self: left;
  }

  &__link {
    display: block;
    width: max-content;
    margin-bottom: 8px;
    padding: 8px, 0;
    border-bottom: 1px solid transparent;

    @include font-param(16px, 27px, 700);
    text-transform: uppercase;

    &--border {
      border-bottom-color: #fff;
    }

    &:last-child {
      margin-top: 16px;
    }

    &:hover {
      color: $dark-accent;
    }
  }
}
