.menu-nav {
  padding-top: 26px;
  display: grid;
  align-items: center;
  justify-items: center;
  
  grid-template-columns: $icon-size-dskt 1fr $icon-size-dskt;

  @include onMobile {
    grid-template-columns: $icon-size-mb 1fr $icon-size-mb;
  }
}
