.menu {
  overflow-y: auto;

  box-sizing: border-box;
  height: 100vh;

  background-color: $colorRed;

  &__content {
    @include onTablet {
      padding: 50px 52px;
    }

    @include onDesktop {
      padding: 50px 0;
    }

    box-sizing: border-box;
    padding: 24px 0;
    height: 100vh;
  }

  &__list {
    margin: 0;
    padding: 0 20px;
  }

  &__item {
    margin-bottom: 32px;
    list-style: none;

    &:first-child {
      margin-top: 40px;
    }
  }

  &__link {
    color: $colorWhite;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
      border-bottom: 2px solid $colorWhite;
      cursor: default;
    }
  }

  &__text {
    color: $colorWhite;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__call {
    display: block;
    width: max-content;

    &--phone {
      color: $colorWhite;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 8px;
    }

    &--action {
      padding: 8px 0;

      color: $colorWhite;
      display: block;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
}
