.menu {
  background-color: #e5e5e5;

  &__content {
    box-sizing: border-box;
    padding: 29px 20px 112px;
    height: 100vh;
    color: $nav--color;
  }

  &__list {
    margin: 0;
    padding: 0 0 40px;
  }

  &__item {
    list-style: none;
    margin-bottom: 24px;
    
    &:last-child {
      margin: 0 ;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: $nav--color;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    transition: border-color 0.3s;

    &:hover {
      border-color: $nav--color;
    }
  }

  &__coll {
    width: max-content;
    display: block;
    text-decoration: none;
    color: $nav--color;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;

    &--phone {
      margin-bottom: 16px;
    }

    &--action {
      padding-bottom: 8px;
      border-bottom: 1px solid $nav--color;
    }
  }

  &__top {
    @include top-actions;
    margin-bottom: 44px;
  }
}
