.mobile {
  position: absolute;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  background-color: $blueColor;
  z-index: 10;
  overflow: hidden;

  &__number {
    display: block;
    color: $whiteColor;
    margin: 20px 0 15px;
    letter-spacing: 2px;
  }

  &__logo {
    margin: 20px auto;
  }

  &__cal-order {
    color: $whiteColor;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: 2px;

    &::after {
      display: block;
      content: "";
      width: 140px;
      padding-bottom: 8px;
      border-bottom: 1px solid $whiteColor;
      color: $whiteColor;
    }
  }
  @media screen and(min-width: $breakpointMiddle) {
    visibility: hidden;
  }
}

.mobile--active {
  display: flex;
  flex-direction: column;
  position: fixed;
}
