.nav {

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__link {
    padding: 8px 20px;
    color: $whiteColor;
    border-radius: 8px;
    transition: background-color $duration, color $duration;

    &:hover {
      color: #9fadc2;
      background-color: #323243;
    }
  }
}
