.nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    letter-spacing: 2px;
    text-transform: uppercase;

    padding-bottom: 8px;

    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: #fff;
    }
  }

  &__contacts {
    &--styles {
      display: flex;
      align-items: flex-start;
      margin: 0 0 16px;

      pointer-events: all;

      a:hover {
        color: $darkTextColor;
      }
    }
  }

  &__action {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    padding-bottom: 8px;
    max-width: max-content;
    border-bottom: 1px solid #fff;
  }
}
