.navigation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    width: max-content;
    border-bottom: 1px solid transparent;

    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: $color-wite;
    text-transform: uppercase;

    transition: border-bottom 0.3s;

    &:hover {
      border-color: $color-wite;
    }
  }
}
