.now-on-view {
  &__subtitle {
    margin: 0 auto 48px;
    width: 280px;
    text-align: center;

    @include onTablet {
      width: 392px;
    }

    @include onDesktop {
      width: 325px;
    }
  }

  &__exhibition {
    margin-bottom: 48px;
  }
}
