.offline-view {
  &__info {
    display: block;

    &--head-main {
      margin-bottom: 8px;
    }

    &--text {
      text-align: center;
    }
  }

  &__block {
    margin-bottom: 48px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }
}

.offlile-head {
  margin: 0 auto 48px;
}
