.page {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }
  
  &__menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    transform: translateX(-100%);
    transition: transform 0.3s;
  
    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 120px;

    &--distance {
      padding-top: 0;
    }
  }

  &__section-title {
    margin: 0 20px 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.5px;
    color: $colorText;

    @include onTheTablet {
      margin: 0 176px 64px;
      font-size: 40px;
      line-height: 100%;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }
}
