.page {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  min-width: 320px;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: 
      translateX(100%);
    transition: transform cubic-bezier(.02, .4, .54, 1.12) 1.5s;

    &:target {
      transform: 
        translateX(0);
    }
  }
}
