.page {
  font-family: $font-family-main;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    margin-bottom: 104px;

    @include onMobile {
      margin-bottom: 64px;
    }
  }
}
