.place {
  &__photo-container {
    position: relative;

    width: 100%;
    box-sizing: border-box;
    max-height: 320px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include desktop {
      height: 320px;
      padding-bottom: 0;
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

  }

  &__photos {
    margin-bottom: 16px;
  }

  &__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-decoration: none;
    color: #292929;
  }
}
