.recommended {

  &--title {
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    color: #292929;
  }

  &__produkt {
    cursor: pointer;

    &--link {
      text-decoration: none;

      color: #292929;
    }

    &--stile {
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;

      color: #292929;
    }

    &--image {
      width: 100%;
      margin-bottom: 32px;
      transition-duration: 300ms;

      @include onTab {
        &:hover {
          transform: scale(110%);
        }
      }
    }

    &--speaker {
      margin-bottom: 8px;
    }

    &--capabilities {
      margin-bottom: 12px;

      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      color: #292929;
    }
  }
}
