.schedule {
  font-family: inherit;

  &__time {
    display: flex;
    flex-flow: column wrap;

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }

    &--hours,
    &--days {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 0;
    }

    &--hours {
      margin-right: 24px;
    }
  }

  &__info {
    &--text {
      margin-bottom: 2px;
    }

    &--head-main {
      text-align: left;
      margin-bottom: 32px;

      @include onTablet {
        margin-bottom: 0;
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }
}

.schedule-container {
  display: flex;
  justify-content: flex-start;
}
