.section-one {
  margin: auto;
  display: grid;
  grid-template-columns: 41.1rem 54rem;
  gap: 2.4rem;
  color: #fff;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 12rem;
  background-color: #1d1d1d;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid 30px #1d1d1d;
    border-top: solid 1px #1d1d1d;
  }

  @media (min-width: 601px) and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    padding-left: 7.2rem;
    padding-right: 7.2rem;
    padding-top: 12rem;
  }

  &__header {
    font-style: normal;
    font-weight: 500;
    font-size: 6.4rem;
    line-height: 100%;
    letter-spacing: -1.5px;
  }

  &__paragraf {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
  }
}
