.team {
  &__body {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    margin-bottom: 152px;
    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 64px;
    }
    &__person {
      max-width: 240px;
      text-align: center;
      @media (max-width: 550px) {
        margin-bottom: 48px;
      }
      &__img {
        display: block;
        width: 153px;
        margin: 0 auto 28px;
        border-radius: 50%;
      }

      &__title {
        font-size: 24px;
        font-weight: bold;
        color: $color-text;
        margin-bottom: 4px;
        line-height: 30px;
      }
      &__subtitle {
        font-size: 14px;
        color: #9fadc2;
        margin-bottom: 4px;
        line-height: 27px;
      }

      &__text {
        font-size: 16px;
        font-weight: normal;
        line-height: 27px;
      }
    }
  }
}
