.testimonials {
  display: grid;
  gap: 150px;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;

  @media (max-width: $breakpoint-biggest) {
    gap: 100px;
  }

  @media (max-width: $breakpoint-large) {
    gap: 25px;
  }

  @media (max-width: $breakpoint-middle) {
    grid-template-columns: 240px;
  }
}
