.testimonials {
  &__title-text {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $main-color;
  }

  &__text {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-color;
  }
}
