.title {
  width: max-content;

  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: $color-black;

  @include onMobile {
    font-size: 36px;
  }
}

.title--crown {
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 16px;
    margin: 5px auto 0;

    background: url("/images/crown.svg") center;
  }
}
