.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  &::first-letter {
    text-transform: uppercase;
  }
  &::after {
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    margin: 0 auto;
    background-image: url(./../images/crown.svg);
    background-repeat: no-repeat;
  }
  @media (max-width: 550px) {
    font-size: 36px;
  }
}
