.title {
  position: relative;
  text-align: center;
  @include fontParams(48px, 48px, 700);
  letter-spacing: -1.5px;

  &__subtitle {
    position: absolute;
    padding-top: 8px;
    padding-bottom: 48px;
    text-align: center;
    text-transform: uppercase;
    @include fontParams(16px, 27px, 400);
  }
}
