.tooltip {
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  padding-right: 20px;

  width: max-content;

  @extend %number-phone-style;
  color: $color-wite;

  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
