.top-actions {
  box-sizing: border-box;
  --icon-width: 18px;
  display: grid;
  grid-template-columns: 1fr var(--icon-width) var(--icon-width);

  gap: 40px;

  @include onTablet {
    --icon-width: 24px;
  }
}
