.why-buy {
  display: grid;
  min-width: 280px;
  max-width: 845px;
  align-items: flex-start;

  @media (min-width: $screen-medium) {
    grid-template-columns: repeat(auto-fill, 50%);
  }

  &__title {
    text-align: left;
    margin-bottom: 32px;
    margin-top: -16px;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__list-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    padding-bottom: 16px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;

    margin-bottom: 120px;
  }
}
