.why-buy {
  &__title {
    font-size: 32px;
    text-align: left;
    margin-bottom: 32px;
  }

  &__list {
    margin-bottom: 40px;

    &-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      padding: 16px 0;

      transition: color 0.5s, transform 0.5s;

      &:hover {
        color: $c-active-blue;
        transform: scale(1.05);
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
  }
}
