.grid {
  display: grid;
  max-width: 800px;

  @media (min-width: $screen-medium) {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  @media (min-width: $screen-big) {
    &__contacts {
      justify-items: end;
    }
  }
}

.why-buy {
  &__title {
    font-size: 32px;
    text-align: left;
    margin-bottom: 32px;
  }

  &__list {
    margin-bottom: 40px;

    &-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      padding-bottom: 16px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
  }
}
