@import '../styles/utils/mixin';

.nav {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;
    gap: 32px;
    justify-content: space-between;

    @include for-mobile {
      gap: 24px;
    };
  }

  &__link {
    transition: 500ms;
    cursor: url('../images/Cursor-Mouse-Mice.svg') ,auto;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__item {
    @include for-mobile {
      height: 16px;
    };
  }
}
