.nav {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  &__link {
    transition: 500ms;

    &:hover {
      transform: scale(1.2);
    }
  }
}
