@import '../styles/utils/vars';
@import '../styles/utils/mixin';

.header {
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 63px);
  gap: 24px;
  justify-content: center;
  grid-auto-rows: 1fr 1fr;

  @include for-tablet {
    grid-template-columns: repeat(6, 80px);
  };

  @include for-mobile {
    grid-template-columns: repeat(2, 130px);
    gap: 20px;
    justify-content: space-between
  };

  &__title {
    box-sizing: border-box;
    padding-bottom: 64px;
    font-family: Manrope, sans-serif;
    color: $white;
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    grid-column: span 12;
    grid-row: 2 / 3;
    align-self: flex-end;

    @include for-tablet {
      grid-column: span 6;
      font-size: 48px;
    };

    @include for-mobile {
      grid-column: span 2;
      font-size: 36px;
      padding-bottom: 40px;
      padding-left: 20px;
    };
  }

  &__nav {
    grid-column: span 12;
    padding: 32px 0;
    align-self: flex-start;

    @include for-tablet {
      grid-column: span 6;
    };

    @include for-mobile {
      grid-column: span 2;
      padding: 24px 20px;
    };
  }
}
