@import '../styles/utils/vars';

.section {
  padding: 120px 120px 0;
  display: grid;

  &__title {
    color: $main-color;
    font-family: Manrope, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    grid-column: span 6;
  }
}

.title__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 63px);
  justify-content: center;
  gap: 24px;
}
