.about {
  &__pretitle {
    margin: 0 0 2px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 700;
    color: $colortirakoth;
  }

  &__title {
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include onTablet {
      margin-bottom: 0;
      font-size: 48px;
      line-height: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__subtitle {
    margin: 0 0 16px;
    font-size: 24px;
    line-height: 30px;
  }

  &__visitmode {
    margin-bottom: 16px;
    display: flex;
    gap: 25px;

    &-clock {
      font-weight: 700;

      &--topical {
        margin-bottom: 8px;
      }
    }

    &-week {
      font-weight: 400;
  
      &--topical {
        margin-bottom: 8px;
      }
    }
  }

  &__closedmode {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    &-on {
      font-weight: 700;
    }

    &-info {
      width: 260px;

      @include onDesktop {
        width: 600px;
      }
    }
  }
}
