.about {
  display: grid;
  padding: 64px 20px;

  @media (min-width: 1025px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 104px 120px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 48px;

    @media (min-width: 1025px) {
      font-size: 48px;
    }
  }

  &__accent {
    color: $c-blue;
    text-decoration: none;
  }

  &__subtitle {
    color: $c-blue;
    font-size: 24px;
    line-height: 30px;
  }

  &__text {
    font-family: inherit;
    color: $c-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  &__paragraph {
    padding: 16px 0;
  }
}
