@use "../styles/utils/mixins" as *;
@use "../styles/fonts";

.button {
  color: $border-color;
  text-align: center;
  font-size: 16px;

  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  display: flex;
  height: 56px;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  background: $white;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
