.contact-us {
  padding: 0 20px;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDescktop {
    padding: 0 120px;
  }

  &__field {
    margin-bottom: 16px;
  }

  &__info {
    margin-bottom: 24px;
  }

  &__info-title {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }

  &__info-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }

  &__button {
    margin-bottom: 48px;
  }
}
