.contact-us {
  &__info {
    margin: 0 0 8px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__info-name {
    margin: 0 0 16px;
    font-weight: bold;
  }

  &__info-title {
    margin: 0 0 4px;

    font-size: 14px;
  }

  &__info-link {
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #3e3e3e;

    transition: border-color 0.3s;

    &:hover {
      border-color: #3e3e3e;
    }
  }

  &__field {
    margin: 0 0 24px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
