.footer {
  height: 200px;
  transition: height $transition-time;

  @include onTablet {
    height: 480px;
  }

  @include onDescktop {
    height: 555px;
  }

  &__image {
    background-image: url(../images/footer-image.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
  }
}
