.footer {
  margin-top: 120px;
  background-image: url(../images/bose_imgs/footer-mini.png);
  height: 200px;
  background-size: cover;
  background-position: center;

  @include onDesktop {
    background-image: url(../images/bose_imgs/footer.png);
    height: 460px;
  }
}
