.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-size: cover;
  background-position: center;
  background-image: url(../images/footer.png);

  height: 200px;
  padding-bottom: 24px;

  @include onDesktop {
    height: 360px;
    padding-bottom: 36px;
  }
}
