.form__field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background: #f8f8fa;
  font-size: 14px;
  border-radius: 40px;
  margin-bottom: 16px;
  padding: 16px 14px;
  border: 1px solid transparent;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:focus {
    border-color: $text_color;
  }

  &--textarea {
    font-family: inherit;
    height: 108px;
    resize: none;
    margin-bottom: 32px;
    border-radius: 16px;
  }
}
