.form-field {
  display: block;
  height: 48px;
  width: 100%;
  padding: 14px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $main-color;

  background-color: #f8f8fa;
  border-radius: 40px;
  border: 1px solid transparent;

  &::placeholder {
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:hover::placeholder {
    color: $main-color;
  }

  &:focus {
    border-color: $main-color;
    outline: none;
  }

  &--textarea {
    font-family: inherit;
    height: 148px;
    resize: none;
    border-radius: 16px;
  }
}
