.form-field {
  box-sizing: border-box;
  height: 48px;
  display: block;
  width: 100%;
  color: #000;
  background-color: #f7f8ff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 14px 16px;
  transition: all $transitionDuration;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #8f99a8;
  }

  &:hover {
    border-color: #ccd0e0;
  }

  &:focus {
    border-color: $colorBlue;
    outline: none;
  }

  &--textarea {
    height: 144px;
    font-family: inherit;
    resize: none;
  }
}
