.form-field {
  box-sizing: border-box;
  display: block;
  height: 48px;
  width: 100%;
  padding: 14px 16px;
  background-color: #f8f8fa;
  border-radius: 40px;
  border: 1px solid transparent;
  color: #292929;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:focus {
    border-color: #292929;
    outline: none;
  }

  &--textarea {
    height: 148px;
    margin-bottom: 32px;
    font-family: inherit;
    resize: none;
    border-radius: 16px;
  }
}
