.gallery {
  padding: 0 20px;
  text-align: center;

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

    @media (min-width: 1025px) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__block {
    padding: 16px 0;
    text-align: left;

    @media (min-width: 1025px) {
      padding: 20px 0;
    }

    &:first-child {
      text-align: center;
    }

    &:last-child {
      display: flex;
      justify-content: center;
    }
  }

  &__images-wrapper {
    display: grid;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 130px;

    @media (min-width: 1025px) {
      grid-template-rows: 256px;

      &--1 {
        grid-template-columns: 2fr 1fr;
      }

      &--2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &--3 {
        grid-template-columns: 1fr 2fr;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  &__subtitle {
    color: $c-gray;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    @media (min-width: 1025px) {
      margin-top: 20px;
    }

    &-link {
      font-weight: 700;
      text-decoration: none;
      color: $c-blue;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    background-color: #fff;
    border: 2px solid $c-blue;
    border-radius: 8px;
    color: $c-blue;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;

    @media (min-width: 1025px) {
      width: 156px;
    }
  }
}
