.grid {
  display: block;
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {

        &-tablet--#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &-desktop--#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
