.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 21px 88px;
  background-image: url(../images/photos/Cover_photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 88% bottom;
}
