@use "../styles/utils/mixins" as *;
@use "../styles/fonts";

.header {
  height: 100vh;
  @include grid();
  background-image: url(../images/Mybike_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-bottom: 60px;

  &__navigation {
    margin-top: 10px;

    @include setting-elements-on-all-grid();
  }

  &__title {
    align-self: flex-end;
    grid-column: 1 / 3;
    padding-bottom: 88px;

    @include for-medium {
      grid-column: 1 / 7;
      padding-bottom: 130px;
      font-size: 64px;
    }

    @include for-large {
      grid-column: 1 / 13;
      padding-bottom: 203px;
      font-size: 80px;
    }
  }
}
