.header {
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: $header-top-padding 0 88px;
  }

  &__call {
    width: 18px;
    height: 18px;
    text-decoration: none;

    @include onDesktop {
      width: 24px;
      height: 24px;

      &::before {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        content: "+1 234 555-55-55";
        display: block;
        width: max-content;
        padding-right: 12px;
        position: relative;
        top: 50%;
        transform: translate(-100%, -50%);
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #292929;
        opacity: 0;
        pointer-events: none;
      }
  
      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #292929;

    @include onDesktop {
      font-size: 80px;
    }
  }
}
