@import "../styles/utils/mixins";

.menu {
  background-color: $bgColor;

  &__content {
    height: 100vh;
    box-sizing: border-box;
    padding: 28px 0 100px 24px;

    @include OnDesktop {
      padding: 36px 0 160px;
    }
  }

  &__close {
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
  }

  &__list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    list-style: none;
    padding-bottom: 32px;

    &:last-child {
      padding-bottom: 40px;
    }

    &:hover {
      max-width: max-content;
      padding-bottom: 4px;
      box-sizing: border-box;
      border-bottom: 1px solid $mainColor;
      margin-bottom: 27px;

      &:last-child {
        margin-bottom: 35px;
      }
    }
  }

  &__link {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    color: $mainColor;
  }

  &__call {
    padding-bottom: 16px;

    font-size: 16px;
    line-height: 27px;
  }

  &__book {
    font-size: 12px;
    line-height: 16px;

    max-width: max-content;
    padding-bottom: 8px;
    border-bottom: 1px solid $mainColor;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }
}
