@import "./vars.scss";

.icon {
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 100%;

  &__phone {
    background-image: url(../images/phone.svg);
  }

  &__menu {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &__cross {
    background-image: url(../images/cross.svg);
  }

  &__tooltip {
    position: absolute;
    display: block;
    top: 50%;
    color: $white;
    width: max-content;
    padding-right: 2rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 2px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-100%, -50%);
    transition: all 0.5s;

    @include onTablet {
      opacity: 1;
    }
  }

  &:hover {
    @include onTablet {
      opacity: 1;
    }
    pointer-events: all;
  }
}

.logo {
  &__image {
    height: 40px;

    @include onTablet {
      height: 56px;
    }
  }
}
