.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  position: relative;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;

  &--phone {
    background-image: url(../images/bose_imgs/call.png);
    right: 28px;

    @include onDesktop {
      right: 36px;
    }
  }

  &--menu {
    background-image: url(../images/bose_imgs/menu.png);

    &:hover {
      background-image: url(../images/bose_imgs/menu_hover.png);
    }
  }

  &--close {
    background-image: url(../images/bose_imgs/close.png);
  }

  &__tooltip {
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 20px;
    
    color: #292929;
    width: max-content;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s;
  }

  &:hover &__tooltip {
    opacity: 1;
    pointer-events: all;
  }
}
