.icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 1s;

  @include onTable {
    width: 24px;
    height: 24px;
  }

  &--menu {
    width: 18px;
    height: 12px;
    background-image: url(../images/menu-bike.svg);

    @include onTable {
      width: 24px;
      height: 16px;
    }

    &:hover {
      color: #292929;
      background-image: url(../images/menu-bike-hover.svg);
      transform: rotate(180deg);
    }
  }

  &--phone {
    background-image: url(../images/phone-bike.svg);
  }

  &--cross {
    width: 16px;
    height: 16px;
    background-image: url(../images/cross-bike.svg);

    @include onDesktop {
      width: 20px;
      height: 20px;
    }
  }
}
