@use '../utils/mixin' as *;

.icon {
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
  
    &__tooltip {
      opacity: 0;

      @include onTablet {
        transform: translate(-100%, 75%);
        width: max-content;
        padding-right: 12px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #292929;
        pointer-events: none;
        transition: opacity 0.3s linear;
      }
    }
  
    &:hover &__tooltip {
      @include onTablet {
        opacity: 1;
        pointer-events: all;
      }
      &:hover {
        color: #396bb7;
      }
    }
  
    &--menu {
      background-image: url(./images/icons/burger-menu.svg);
  
      @include onTablet {
        background-image: url(./images/icons/burger-menu-big.svg);
      }
  
      &:hover {
        background-image: url(./images/icons/burger-hover.svg);
      }
    }
  
    &--phone {
      background-image: url(./images/icons/phone.svg);
    }
  
    &--close {
      background-image: url(./images/icons/close.svg);
    }
  }
  