.logo {
  flex-grow: 2;
  &__image {
    height: 38px;
    width: 130px;
    transition: height $transition-time, width $transition-time;

    @include onTablet {
      height: 56px;
      width: 187px;
    }

  }

  &--menu {
    flex-grow: 2;
    margin-bottom: 44px;

    &__image {
      height: 38px;
      width: 130px;
      transition: width $transition-time;

      @include onTablet {
        height: 56px;
        width: 187px;

      }
    }
  }
}
