.logo {
  flex-grow: 2;

  &__image {
    height: 38px;
    width: 130px;
    transition: margin-right 0.3s;
    flex-grow: 2;

    @include onTablet {
      height: 56px;
      width: 187px;

    }
  }
}
