@use "../styles/utils/mixins" as *;
@use "../styles/fonts";

.main {
  background-color: $border-color;
  padding-top: 60px;

  @include for-medium {
    padding-top: 120px;
  }

  @include for-large {
    padding-top: 120px;
  }
}
