.main__logo {
  background-image: url("../images/logo.svg");
  @include rectangle(46px, 64px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include onTablet {
    @include rectangle(65px, 87px);
  }
}
