.menu {
  background-color: $colorOrange;

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding-top: $headerTopPaddingMobile;
    overflow-y: auto;

    @include onDesktop {
      padding-top: $headerTopPaddingTablet;
    }
  }

  &__top {
    @include top-actions;
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    padding-bottom: 32px;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include onDesktop {
      padding-bottom: 8px;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s;

      &:hover {
        border-color: #fff;
      }
    }
  }

  &__call {
    display: block;
    max-width: max-content;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;

    &--phone {
      font-size: 16px;
      line-height: 27px;
    }

    &--action {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      padding-bottom: 8px;
      margin-top: 16px;
      border-bottom: 1px solid #fff;
    }
  }
}
