.menu {
  background-color: $colorBlue;
  &__content {
    height: 100vh;
    padding: $headerTopPadding 0;
  }

  &__top {
    margin-bottom: 48px;
  }

  &__list {
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    @include landscapeStyle {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    margin-bottom: 24px;
    &:last-child {
      margin: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    font-weight: $fontBold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: border-color 0.3s;
    &:hover {
      border-color: #fff;
    }
    @include landscapeStyle {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 1.5px;
    }
  }

  &__call {
    display: block;
    max-width: max-content;
    font-size: 12px;
    font-weight: $fontBold;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.2s;
    &:hover {
      color: #deb887;
    }
    &--call {
      margin-bottom: 16px;
    }
    &--action {
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
      &:hover {
        border-color: #deb887;
        color: #deb887;
      }
    }
  }
  &__grid {
    @include landscapeStyle {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, max-content);
    }
  }
}
