.menu {
  margin-bottom: 120px;
  
  @include onDesktop {
    margin-bottom: 180px;
  }
  &__section {
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 144px;
    }
  }
  
  &__section:last-child {
    margin-bottom: 0;
  }
}
