.nav {
  background-color: #e5e5e5;
  
  &__content {
    padding: $HeaderTopPadding 0;

    height: 100vh;

    @include onDesktop {
      padding: 36px 0;
    }
  }

  &__item {
    cursor: pointer;

    padding-bottom: 32px;
      
    &:last-child {
      padding-bottom: 0;
    }
  }

  &__list {
    padding: 48px 0 40px;
  }

  &--logo {
    background-image: url(../images/MyBiKE-black.svg);
    background-position: center;
    background-size: cover;

    cursor: pointer;
  }

  &--close {
    --close-width: 16px;
    --close-height: 16px;

    width: var(--close-width);
    height: var(--close-height);

    background-image: url(../images/close.svg);
    background-position: center;
    background-size: cover;

    cursor: pointer;

    @include onDesktop {
      --close-width: 22px;
      --close-height: 22px;
    }
  }

  &__link {
    text-decoration: none;
      
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #1d1d1d;

    transition: 0.3s;

    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #1d1d1d;
    }
  }

  &__number {
    text-decoration: none;
    
    display: block;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    text-transform: uppercase;
      
    color: #1d1d1d;

    margin-bottom: 16px;
  }

  &__test-ride {
    padding-bottom: 8px;

    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #1d1d1d;

    border-bottom: 1px solid #1d1d1d;
  }
}
