.view {
  margin-bottom: 48px;

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $colorBlack;
    margin-bottom: 48px;

    &-title {
      color: $colorOrange;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      text-align: start;
    }

    &-bottom {
      text-align: start;
    }
  }

  &__items {
    margin-bottom: 24px;

    &--3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;

      @include onTablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
      }

      @include onDesktop {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    max-height: 320px;
    object-fit: cover;

    &--large {
      object-position: 30%;

      &-bottom {
        object-position: right;
      }
    }

    @include onTablet {
      &--hidden {
        display: none;
      }
    }

    @include onDesktop {
      &--hidden {
        display: grid;
      }
    }
  }

  &__exhibition {
    background-color: $colorOrange;
    text-align: center;
    height: 56px;
    line-height: 56px;
    width: 280px;
    margin: 0 auto;

    &:hover {
      background-color: #ae1c23;
    }

    &:active {
      background-color: #eb343d;
    }

    @include onTablet {
      max-width: 392px;
    }

    @include onDesktop {
      max-width: 324px;
    }

    &-button {
      text-decoration: none;
      color: #fff;
    }
  }
}
