.page__section {
  line-height: 33.6px;

  &-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;

    &-special {
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
    }
  }

  &-bikes-img {
    margin-left: 25%;
    width: 280px;

    @media (max-width: 650px) {
      margin-left: 25%;
    }

    @media (max-width: 480px) {
      margin-left: 10%;
    }

    @media (max-width: 340px) {
      margin-left: 0;
    }

    @include OnDesktop-744 {
      width: 392px;
      margin-left: 10%;
    }

    @include OnDesktop {
      width: 324px;
      margin-left: 0;
    }
  }

  &-bike {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
  }

  &-description {
    display: block;
    line-height: 22.4px;
    margin-bottom: 16px;

    &-special {
      display: block;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 33.6px;
      margin-bottom: 80px;

      @include OnDesktop-744 {
        margin-bottom: 120px;
      }

      @include OnDesktop {
        margin-bottom: 160px;
      }
    }
  }

  &-cost {
    display: block;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 92px;

    @include OnDesktop-744 {
      margin-bottom: 120px;
    }

    @include OnDesktop {
      margin-bottom: 144px;
    }
  }
}
