.page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;

  scroll-behavior: smooth;
  &__body {
    background: $c-gray;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform $transitionDuration;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 104px;
    }
  }

  &__section-title {
    margin: 0 0 32px;
    color: $blackColor;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1.5px;

    @include onDesktop {
      margin-bottom: 56px;
      font-size: 48px;
      line-height: 48px;
    }

    &::after {
      content: "";
      background-image: url(../images/crown.svg);
      display: block;
      width: 23px;
      height: 16px;
      margin: 4px auto 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
