.page {
  font-family: "Cinzel", serif;
  font-size: 16px;
  line-height: 27px;
  color: $colorMainDark;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    background: $c-gray;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 140px;
    }
  }

  &__section-title {
    margin: 0 0 48px;

    font-style: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;

    &--view {
      margin: 0 0 8px;
    }

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__subsection-title {
    padding: 0 1px;
    margin: 0 0 48px;
    text-align: center;
  }
}
