.page {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: $blackColor;
  scroll-behavior: smooth;

  &__body {
    height: 100vh;
    margin: 0;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: translate(-100%,-100%);
    transition: transform $transition-time;

    &:target {
      transform: translate(0);
    }
  }

  &__section {

    &--compare {
      margin-top: 92px;
      transition: margin-top $transition-time;

      @include onTablet {
        margin-top: 132px;
      }

      @include onDescktop {
        margin-top: 164px;
      }
    }

    &--contacts {
      margin: 80px 0 120px;
      transition: margin $transition-time;

      @include onTablet {
        margin: 80px 0 120px;
      }

      @include onDescktop {
        margin: 80px 0 182px;
      }
    }

    &--details {
      margin-top: 92px;
      padding: 0 20px;
      transition: margin-top $transition-time;

      @include onTablet {
        margin-top: 120px;
        padding: 0 72px;
      }

      @include onDescktop {
        margin-top: 144px;
      }
    }

    &__title {
      margin: 0 0 8px;
      font-weight: 700;
      font-size: 24px;
      color: #fff;
    }

    &__description {
      margin: 0 0 16px;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
    }

    &__price {
      margin: 0;
      font-weight: 700;
      font-size: 24px;
      color: #fff;
    }
  }

  &__title {
    text-align: center;
    margin: 0 0 48px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: #fff;

    @include onTablet {
      font-size: 48px;
    }

    @include onDescktop {
      font-size: 64px;
    }

    &--detail {
      @include onTablet {
        margin: 0 0 64px;
      }

      @include onDescktop {
        margin: 0 0 48px;
      }
    }

    &--compare {
      @include onDescktop {
        margin: 0 0 56px;
      }
    }

    &--move-free {
      flex-shrink: 0;
      text-align: center;
      margin: 0 0 32px;

      @include onTablet {
        flex-grow: 2;
        margin-right: 72px;
        padding-top: 10px;
        font-weight: 500;
        font-size: 48px;
        letter-spacing: -1.5px;
      }

      @include onDescktop {
        font-size: 64px;
        margin-right: 120px;
        padding-top: 15px;
      }
    }
  }

  &-text {
    margin: 0;
    font-weight: 500;
    font-size: 23px;
    color: #fff;
    flex-shrink: 1;
    flex-grow: 1;
  }
}
