.peoples {
  margin-top: 10px;
  background-image: url(../images/peoples.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;

  @include onDesktop() {
    height: 50rem;
  }
}
