.peoples {
  background-image: "./images/peoples.jpg)";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;

  @include onDesktop() {
    height: 50rem;
  }
}
