.peoples {
  margin-top: 100px;
  background-image: url(../images/peoples.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  width: 100%;

  @include onDesktop() {
    height: 40rem;
    width: 100%;
  }
}
