@use "../styles/utils/mixins" as *;

.phone {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;

  &:hover {
    width: 190px;
  }

  &__label {
    height: 16px;
    color: $white;
    text-align: right;
    font-size: 12px;

    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &:not(:hover) &__label {
    @include visually-hidden();
  }
}
