@use "../styles/utils/mixins" as *;
@use "../styles/fonts";

.title {
  color: $white;
  text-align: center;
  font-size: 36px;

  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin: 0;
  &--primary {
    text-align: left;
    font-size: 32px;
    font-weight: $border-color;

    @include for-medium {
      font-size: 48px;
    }

    @include for-large {
      font-size: 64px;
    }
  }

  &--secondary {
    font-size: 32px;
    font-weight: $border-color;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 48px;
  }
}
