.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 29px 23px 0;

  @include onTablet {
    padding: 34px 0 0;

  }
  @include onDesktop {
    padding-top: 36px 0 0;
  }
}
