.top-actions {
  display: grid;
  grid-template-columns: $icon-width 1fr $icon-width;
  justify-items: center;
  align-items: center;

  @include onDesktop {
    grid-template-columns: 24px 1fr 24px;
  }
}
