.consultation {
  &__name {
    font-weight: bold;
    font-size: 24px;
    color: $accentColor;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: grid;
      justify-content: center;
      gap: 0 50px;
    }

    @include mobile {
      display: block;
      margin: 0 auto;
      width: 260px;
    }
  }

  &__form {
    width: 380px;

    @include mobile {
      width: 250px;
    }
  }
}
