.view {
  display: grid;
  row-gap: 48px;
  @include marginTop100;

  &__headline {
    text-align: center;
  }

  &__title {
    @include sizeLine(32px, 32px);

    @include onTablet {
      @include sizeLine(48px, 48px);
    }
  }

  &__desc {
    @include sizeLine(16px, 27px);
    font-weight: 400;
  }
}
