.burger {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../../src/images/icons/Icon-Burger-menu.svg");
  background-size: cover;
  transition: background-image 0.5s;

  &:hover {
    background-image: url("../../src/images/icons/Icon-Burger-menu-hover.svg");
  }

  @media (max-width: $media-small) {
    height: 24px;
    width: 24px;
  }

  &__label-hidden {
    @include visually-hidden();
  }
}
