.header {
  @include grid-for-mobile;
  min-width: 320px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "navigation navigation" "title title";
  justify-content: space-between;
  height: 100vh;
  padding: $spacing-l $spacing-sm 95px;
  background-image: url("../../src/images/header.jpg");
  background-size: cover;
  background-position: 38%;

  &__navigation {
    grid-area: navigation;
  }

  &__title {
    grid-area: title;
    align-self: flex-end;

    &::before {
      display: block;
      content: "";
      width: 30px;
      height: 25px;
      background-image: url("../../src/images/title_svg.svg");
      background-size: contain;
      margin-bottom: $spacing-s;
    }
  }

  @include on-tablets {
    @include grid-for-tablets;
    padding: 55px 70px 40px;

    &__navigation {
      grid-column: span 6;
    }

    &__title {
      grid-column: span 4;

      &::before {
        width: 63px;
        height: 76px;
        background-image: url("../../src/images/sound_waves.svg");
        margin-bottom: $spacing-xl;
      }
    }
  }
}
