.header {
  background-size: cover;
  background-position: center;
  background-image: url(../images/back_ground.png);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: $headerTopPadding 0 88px;

    @include onTablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 200px;
    }
  }

  &__top {
    @include topActions;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $main-text-color;
    letter-spacing: $letter-spasing;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}
