.icon {
  @include widthHeight(18px, 18px);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-width: 744px) {
    @include widthHeight(24px, 24px);
  }

  &--phone {
    position: relative;
    margin-right: 24px;
    cursor: pointer;
    background-image: url(../images/phone.svg);
  }

  &--menu {
    background-image: url(../images/menu.svg);
    cursor: pointer;
    @include hover(background-image, url(../images/menu_hover.svg));
  }

  &--cross {
    cursor: pointer;
    background-image: url(../images/cross.svg);
  }
}
