.menu {
  grid-column: 1/13;
  grid-row: 1/2;
  background-color: $c-grey-menu;
  margin: 0 -120px 20px;
  padding: 0 120px;

  &__paragraph {
    color: $c-mine-shift;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2px;
  }

  &__call-link {
    color: $c-mine-shift;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid $c-mine-shift;
  }
}
