.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  background-color: $c-grey-menu;
  margin: 0 0 20px;
  padding: 0 120px;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;

  @media (max-width: $media-medium) {
    padding: 0 72px;
  }
  @media (max-width: $media-small) {
    padding: 0 20px;
  }

  &:target {
    transform: translateX(0);
  }

  &__call-link {
    color: $c-mine-shift;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid $c-mine-shift;

    &:hover {
      color: $c-grey-links-hover;
    }
  }
}
