@use "../utils/mixins" as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  background-color: $c-light-gray;
  padding: 0 20px 20px;
  min-height: 100vh;
  z-index: 2;

  @include grid();
  align-content: start;
  &:target {
    transform: translateX(0);
  }

  &__navigation {
    grid-column: span 2;

    @include for-tablet() {
      grid-column: span 6;
    }

    @include for-desktop() {
      grid-column: span 12;
    }
  }

  &__call-phone {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-base;
    line-height: 27px;
    text-transform: uppercase;
    color: $c-black;
    text-decoration: none;
    transition: 0.3s text-shadow;

    &:hover {
      text-shadow: 3px 9px 25px #5d5de9;
    }

    grid-column: span 2;

    @include for-tablet() {
      grid-column: span 6;
    }

    @include for-desktop() {
      grid-column: span 12;
    }
  }

  &__call-link {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-1;
    line-height: $line-height-sm;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $c-black;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    @include link-animation();

    grid-column: span 2;

    @include for-tablet() {
      grid-column: span 2;
    }

    @include for-desktop() {
      grid-column: span 2;
    }
  }

  &__links {
    grid-column: span 2;

    @include for-tablet() {
      grid-column: span 6;
    }

    @include for-desktop() {
      grid-column: span 12;
    }
  }
}
