.nav__info {
  display: flex;
  flex-direction: column;
  color: $text-0;
  font-weight: 700;
  @include sizeLine(16px, 27px);
  text-transform: uppercase;

  &-title {
    margin: 0;
  }

  &-link {
    text-decoration: none;
    color: $text-0;
    margin-bottom: 8px;

    &--order {
      margin-top: 8px;
      width: max-content;

      &::after {
        content: "";
        display: flex;
        @include widthHeight(auto, 2px);
        background-color: $text-0;
      }
    }
  }
}
