.nav__tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: max-content;

  top: -40px;
  right: 40px;
  @include sizeLine(16px, 27px);
  color: $text-0;
  opacity: 0;
  transition: all cubic-bezier(0.2, 0.8, 0.5, 1) 0.6s;

  &-title {
    color: $text-0;
    margin: 0;
  }

  &-link {
    text-decoration: none;
    color: $text-0;
    margin-bottom: 8px;
  }

  @include onTablet {
    &--show {
      opacity: 1;
    }
  }
}
