@import "./nav-tooltip.scss";
@import "./nav-info.scss";

.nav {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__pages {
    margin-top: 40px;

    @media (min-width: 1024px) {
      margin-top: 55px;
    }
  }

  &__contact {
    margin-top: 32px;

    @media (min-width: 1024px) {
      margin-top: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    list-style: none;

    &__item a {
      text-decoration: none;
      color: $text-0;
      font-weight: 700;
      @include sizeLine(22px, 22px);
      text-transform: uppercase;
    }
  }

  &__logo {
    @include widthHeight(46px, auto);

    @media (min-width: 744px) {
      width: 87px;
    }
  }
}
