@use '../../mixins/media';
@use '../../mixins/mixins';
@use '../../utils/vars';

.header {
  &__nav {
    @include mixins.common-nav;

    &-logo {
      &-img {
        height: 16px;
        width: auto;
      }
    }

    &-icon {
      &--phone,
      &--menu {
        cursor: pointer;
      }
    }

    @include media.for-tablet {
      grid-column: span 6;
    }

    @include media.for-desktop {
      grid-column: span 12;
    }
  }
}

.menu {
  &__nav {
    @include mixins.common-nav;
  }
}
