.nav {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__pages {
    margin-top: 40px;

    @media (min-width: 1024px) {
      margin-top: 55px;
    }
  }

  &__contact {
    margin-top: 32px;

    @media (min-width: 1024px) {
      margin-top: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    list-style: none;

    &__item a {
      text-decoration: none;
      color: $text-0;
      font-family: "Cinzel";
      font-weight: 700;
      font-size: 22px;
      text-transform: uppercase;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    color: $text-0;
    font-family: "Cinzel";
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;

    &-title {
      margin: 0;
    }

    &-link {
      text-decoration: none;
      color: $text-0;
      margin-bottom: 8px;

      &--order {
        margin-top: 8px;
        width: max-content;

        &::after {
          content: "";
          display: flex;
          width: auto;
          height: 2px;
          background-color: $text-0;
        }
      }
    }

    &--tooltip {
      display: none;
      transition: all cubic-bezier(0.2, 0.8, 0.5, 1) 0.7s;

      @media (min-width: 744px) {
        &-show {
          display: flex;
          position: absolute;
          top: -40px;
          right: 40px;
          width: max-content;
          text-align: right;
        }
      }
    }
  }

  &__logo {
    @include widthHeight(46px, auto);

    @media (min-width: 744px) {
      width: 87px;
    }
  }
}
