.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 96px;
  width: 100%;
  padding: 32px 0;

  &__icons {
    display: flex;
    gap: 32px;
  }
}
