.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 96px;
  width: 100%;
  padding: 0 120px;

  @media (max-width: $media-medium) {
    height: 24px;
    padding: 32px 72px;
  }

  @media (max-width: $media-small) {
    height: 24px;
    padding: 20px 24px;
  }

  &__logo {
    @media (max-width: $media-small) {
      width: 125px;
      height: 16px;
    }
  }

  &--menu {
    width: 85%;
    padding: 0;

    @media (max-width: $media-big) {
      width: 78%;
    }

    @media (max-width: $media-medium) {
      width: 70%;
      padding-top: 32px;
    }

    @media (max-width: $media-small) {
      padding-top: 24px;
      width: 70%;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    @media (max-width: $media-small) {
      gap: 24px;
      padding: 20px 24px;
    }
  }

  &__icon {

    @media (max-width: $media-small) {
      height: 24px;
    }
  }

  &__items {
    text-decoration: none;
  }

}
