.navigation-links {
  margin-top: 60px;
  margin-bottom: 48px;

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 28px;
    padding: 0;
  }

  &__link {
    color: $c-mine-shift;
    font-family: "Space Grotesk", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $c-mine-shift;
    }
  }
}
