@import "../../utils/vars";

.navigation {
  background-color: $nav-color;
  width: $site-width;
  height: $site-heigth;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &:target {
    transform: translateX(0);
  }

  &__list {
    max-width: $menu-width;
    min-width: 280px;
    margin: auto;
    margin-top: 7vh;

    &--tel {
      text-decoration: none;
      color: $c-gray;

      &:hover {
        color: darkslategray ;
      }
    }

    &--element {
      &:not(:first-of-type) {
        margin-top: 5vh;
      }

      &:last-of-type {
        margin-top: 2.5vh;
      }
    }

    &--link {
      text-transform: uppercase;
      font-size: 26px;
      text-decoration: none;
      color: $c-gray;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 1.5vh;
        color: darkslategray ;
      }
    }

    &--number,
    &--ride {
      font-size: 20px;
      font-weight: 700;
      color: $c-gray;
      text-decoration: none;
    }

    &--ride {
      text-decoration: underline;
      text-underline-offset: 1.5vh;

      &:hover {
        color: darkslategray ;
      }
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $menu-width;
    margin: auto;
    padding-top: $menu-small-padding-top;
    min-width: 280px;
  }

  @media (min-width: 745px) {
    &__bar,
    &__list {
      max-width: $menu-small-width;
    }
  }

  @media (min-width: 1260px) {
    &__bar {
      padding-top: $menu-padding-top;
    }
  }

  @media (min-width: 1400px) {
    &__bar {
      padding-top: $menu-large-padding-top;
      scale: ($menu-large-scale);

      &--exit {
        scale: (1.1);
      }
    }

    &__list {
      scale: ($menu-large-scale);
      margin-top: $menu-list-offset;

      &--link {
        font-size: 30px;
      }
    }
  }
}
