.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &__label {
    color: $c-mine-shift;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    transition: opacity 1s;

    @media (max-width: $media-medium) {
      @include visually-hidden;
    }
  }

  &:not(:hover) .phone__label {
    @include visually-hidden();
  }

  &:hover .phone__label {
    opacity: 1;
  }
}
