.top-actions {
  display: grid;
  grid-template-columns: 1fr $icon-width-phone $icon-width-phone;
  align-items: center;
  gap: 30px;

  @include onTablet {
    grid-template-columns: 1fr $icon-width $icon-width;
    gap: 40px;
  }

  @include onDesktop {
    gap: 42px;
  }
}
