.top-actions {
  --icon-size: 24px;

  display: grid;
  grid-template-columns: 1fr repeat(2, var(--icon-size));
  align-items: center;
  gap: var(--icon-size);

  @include onTablet {
    --icon-size: 32px;
  }

  &--menu {
    grid-template-columns: 1fr var(--icon-size);
  }
}
