.gallery {
  --buttonWidth: 188px;

  &__caption {
    margin: 24px 0 40px;
  }

  &__button {
    position: relative;
    left: calc(50% - var(--buttonWidth) / 2);

    width: var(--buttonWidth);

    @include mobile {
      left: 0;
      right: 0;
    }
  }
}
