.contact-form {
  display: flex;
  flex-direction: column;

  & input {
    height: 48px;
    margin-bottom: 16px;
    padding: 0 0 0 16px;
  }

  & textarea {
    height: 120px;
    margin-bottom: 32px;
    padding: 14px 16px;

    resize: none;
  }

  & input,
  & textarea {
    box-sizing: border-box;

    background-color: #f6f8ff;

    font-family: Roboto, Helvetica, sans-serif;
    font-size: 0.88rem;
    line-height: 20px;

    outline: 2px solid transparent;
    border: none;
    border-radius: 8px;

    &::placeholder {
      color: #8f99a8;
    }

    @include hover(outline, 2px solid #ccd0e0);

    &:focus {
      outline: 2px solid $c-blue;

      &::placeholder {
        color: #000;
      }
    }
  }

  & button {
    width: 280px;
    height: 56px;
    padding: 0 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $c-blue;
    border: none;
    border-radius: 8px;

    box-shadow: 0 6px 23px 0 rgba(0, 117, 255, 0.46);

    cursor: pointer;
    color: $c-white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 14px;

    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: #005ecc;
      box-shadow: 0 13px 27px 0 rgba(0, 83, 181, 0.46);
    }

    &:focus {
      background: #005ecc;
      box-shadow: 0 8px 14px 0 rgba(0, 83, 181, 0.48);
    }

    &.send {
      background-color: #49be25;
    }
  }

  @include tablet {
    margin-top: 93px;

    & button {
      width: 288px;
    }
  }

  @include desktop {
    & button {
      width: 411px;
    }
  }
}
