.gallery {
  cursor: pointer;
  font-family: Roboto, Helvetica, sans-serif;

  &__images {
    display: flex;
    gap: 20px;

    & picture {
      @include hover(transform, scale(1.05));

      & img {
        border-radius: 8px;
      }
    }
  }

  &__title {
    margin-top: 16px;

    line-height: 27px;

    &--color {
      color: $c-blue;
      font-weight: 700;
    }
  }

  @include tablet {
    &__images {
      gap: 24px;
    }
  }
}
