@import "../utils/vars";
@import "../utils/mixins";

.form {
  max-width: 413px;

  &__field {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    background-color: #f7f8ff;
    border-radius: 8px;
    border: none;
    outline: none;
    

    width: calc(100% - 17px);
    height: 48px;
    
    margin-bottom: 16px;

    font-size: 14px;
    padding-left: 17px;
    color: $color-placeholder;

    &:focus {
      box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    }

    &:nth-child(3) {
      margin-bottom: 32px;
    }

    &::placeholder {
      color: $color-placeholder;
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__area {
    width: calc(100% - 17px);
    height: calc(144px - 17px);

    font-size: 14px;
    color: $color-placeholder;

    padding-left: 17px;
    padding-top: 17px;
    margin-bottom: 32px;

    background-color: #f7f8ff;
    border-radius: 8px;
    border: none;
    outline: none;

    resize: none;

    &:focus {
      box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    }
    
    &::placeholder {
      color: $color-placeholder;
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__button {
    display: block;
    width: 100%;
    height: 56px;
    outline: none;

    background: $color-accent;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    box-sizing: border-box;

    border-radius: 8px;
    border: 1px solid $color-accent;

    color: $main-color;

    font-size: 1rem;
    line-height: 56px;
    font-weight: bold;
    text-align: center;

    padding: 0;

    transition: background-color 0.3s linear, color 0.3s linear;

    &:focus {
      box-shadow: 0 15px 45px rgba(0, 117, 255, 0.8);
    }

    &:hover {
      background-color: $main-color;
      color: $color-accent;
    }
  }

  @media (max-width: 790px) {
    margin: 0 auto;
  }
}
