@import "../utils/vars";
@import "../utils/mixins";

.section-testimonials {
  margin: 0 auto;

  &__title {
    position: relative;

    text-align: center;
    color: #000;

    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -1.5px;

    margin-bottom: 85px;
    padding-bottom: 8px;

    &::after {
      position: absolute;
      content: url(../../images/crown.svg);

      left: 50%;
      bottom: -20px;

      transform: translateX(-50%);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 240px;

    text-align: center;
  }
}
