@import "../utils/vars";
@import "../utils/mixins";

.section-contact {
  margin: 0 auto 88px;

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 790px) {
      display: block;
    }
  }

  &__left {
    max-width: 413px;
    display: grid;
    grid-template-areas: "b1 b2" "b3 b2";
    grid-template-rows: repeat(2, 74px);
    grid-template-columns: 261px 152px;
    gap: 20px;

    @media (max-width: 790px) {
      display: block;
      margin-bottom: 32px;
    }
  }

  &__title {
    position: relative;

    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -1.5px;

    color: #000;
    text-align: center;

    margin-bottom: 85px;
    padding-bottom: 8px;

    &::after {
      position: absolute;
      content: url(../../images/crown.svg);

      left: 50%;
      bottom: -20px;

      transform: translateX(-50%);
    }
  }

  &__heading {
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    color: $color-placeholder;

    margin-bottom: 8px;
  }

  &__text {
    font-size: 1rem;
    font-weight: normal;
    line-height: 27px;
    margin: 0;

    color: #000;
  }

  &__phone {
    grid-area: b1;
  }

  &__address {
    grid-area: b2;
  }

  &__email {
    grid-area: b3;
  }
}
