@import "../utils/vars";
@import "../utils/mixins";

.section-testimonials {
  margin: 0 auto 152px;

  &__title {
    position: relative;

    text-align: center;
    color: #000;

    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -1.5px;

    margin-bottom: 85px;
    padding-bottom: 8px;

    &::after {
      position: absolute;
      content: url(../../images/crown.svg);

      left: 50%;
      bottom: -20px;

      transform: translateX(-50%);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 240px;

    text-align: center;
  }

  &__photo {
    margin-bottom: 28px;
    width: 153px;
    height: 153px;

    border-radius: 50%;
  }

  &__name {
    font-size: 1.5rem;
    line-height: 30px;
    color: $color-accent;
    margin-bottom: 4px;
  }

  &__position {
    font-size: 14px;
    line-height: 27px;
    font-weight: normal;
    color: $color-placeholder;
    margin-bottom: 13px;
  }

  &__text {
    font-size: 1rem;
    line-height: 27px;
    font-weight: normal;
  }
}
