
.footer {
  margin: 50px 0 0;
  position: relative;
  height: 360px;
  background: url(../images/footer.jpg);
  background-size: cover;
  background-position: 60% 55%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.footer__logo {
  position: absolute;
  margin-left: -57px;
  left: 50%;
  height: 76px;
  width: 115px;
  bottom: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/logo.png);
}
