.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../../src/images/footer.jpg");
  background-position: center;
  background-size: cover;
  height: 206px;

  @include onDesktop {
    height: 360px;
  }
  &__logo {
    margin-bottom: 25px;

    @include onDesktop {
      margin-bottom: 35px;
    }
  }
}
