.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;

  @include onDesctop {
    padding: 0 120px;
  }

  @include onTablet {
    padding: 0 72px;
  }

  &__button {
    height: 56px;
    width: 100%;
    color: #1d1d1d;
    background: #fff;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }
  }

}
