.icon {
  display: block;
  width: 18px;
  height: 18px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--phone {
    background-image: url(../images/phone.svg);
  }

  &--close {
    background-image: url(../images/close.svg);
  }
  @include onTablet {
    width: 24px;
    height: 24px;
  }
}
