.navigation-menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -120%;
  background-color: $c-blue;
  transition: left 0.5s linear;

  &:target {
    left: 0;
  }

  &__top-content {
    @extend %header-top-content-styles;
    @extend %header-styles;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__list_item {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 48px;
    }
  }

  &__list_item-link {
    color: $c-white;
    text-decoration: none;
  }

  &__call-to-order-wrapper {
    @extend %call-us-font;
  }

  &__call-to-order-number {
    margin-bottom: 16px;
  }

  &__call-to-order-link {
    @extend %call-us-font;
    padding-bottom: 8px;
    border-bottom: 1px solid $c-white;
    text-decoration: none;
    text-transform: uppercase;
  }
}
