@import "../utils/grid-main-vars";

.grid-main {
  display: flex;
  flex-direction: column;
  gap: 96px;
  padding: 64px $padding-320px;

  @media (min-width: 744px) {
    & {
      padding: 120px $padding-744px;
    }
  }

  @media (min-width: 1260px) {
    & {
      padding: 120px $padding-1260px;
      width: 1260px;
    }
  }
}
