.product-main-info {

  &__title-wrapper {
    @extend %h2-font;
    padding-bottom: 48px;
  }

  &__title-text {
    display: inline-block;
    font: inherit;

    @include onDesktop {
      display: block;
    }
  }

  &__title-link {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;

    @include onDesktop {
      display: block;
    }
  }

  &__about-title {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
  }

  &__about-text {
    padding-bottom: 27px;

    @extend %text-font;

    &--bold {
      font-weight: bold;
    }
  }
}
