.product-main-info {
  padding-top: 64px;

  @include onDesktop {
    padding-top: 104px;
  }

  &__title-wrapper {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;
  }

  &__title-text {
    display: inline-block;

    @include onDesktop {
      display: block;
    }
  }
  &__title-link {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;

    @include onDesktop {
      display: block;
    }
  }

  &__about-title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
  }

  &__about-text {
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 27px;

    &--bold {
      font-weight: bold;
    }
  }
}
