
.gallery {
  & img {
    @include galleryImg;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: block;
    margin: 24px 0 40px;
    color: #3e3e3e;
    font-size: 16px;
  }

  &__link {
    color: #0075ff;
  }
}

.firstWide {
  width: 673px;
}

.firstNarrow {
  width: 327px;
}

.secondWide {
  width: 500px;
}

.thirdWide {
  width: 673px;
}

.thirdNarrow {
  width: 327px;
}
