.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 0;

  &__phoneNumber {
    letter-spacing: 2px;
    color: #fff;
  }
  //&__call {
  //
  //}
  &__link {
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
  }
}
