.headingH2 {
  font-size: 48px;
  line-height: 70px;
  font-weight: bold;
  text-align: center;

  &__crown {
    width: 23px;
    height: 16px;
    display: block;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url("/images/crown.svg");
    background-size: cover;
  }
}
