.nav {
  position: absolute;
  bottom: 46px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s;
    padding: 8px 24px;
    margin-right: 55px;
    border-radius: 8px;
    &--active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover {
      color: #9fadc2;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.1);

    }
  }
}
