@mixin onIpad {
  @media (min-width: 744px) {
    @content;

  }
}
@mixin onDesktop {
  @media (min-width: 1060px) {
    @content;
  }
}

@mixin settingsForIcons {
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
