.form {
  margin-top: 48px;

  display: flex;
  flex-direction: column;

  & input {
    height: 48px;
    margin-bottom: 16px;
    padding: 0 0 0 16px;
  }

  & textarea {
    height: 120px;
    margin-bottom: 32px;
    padding: 14px 16px;

    resize: none;
  }

  & input,
  & textarea {
    box-sizing: border-box;

    background-color: #f8f8fa;
    border-radius: 8px;

    color: $c-gray;
    font-family: Space Mono, Helvetica, sans-serif;
    font-size: 0.88rem;
    line-height: 140%;
    letter-spacing: 0.15px;

    outline: 1px solid transparent;
    border: none;

    &::placeholder {
      color: #7e7e83;
    }

    @include hover(outline, 1px solid #d5d7de);

    &:focus {
      outline: 1px solid $c-gray;

      &::placeholder {
        color: $c-gray;
      }
    }
  }

  & button {
    width: 280px;
    height: 56px;
    padding: 0 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $c-gray;
    border: 2px solid $c-gray;
    border-radius: 8px;

    cursor: pointer;
    color: $c-white;
    font-family: Space Grotesk, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 27px;

    transition: color 0.3s, background-color 0.3s, border 0.3s;

    &:hover {
      color: $c-gray;

      background-color: #f8f8fa;
      border: 2px solid #f0f1f4;
    }

    &:focus {
      color: $c-white;

      background-color: $c-black;
      border: 2px solid $c-black;
    }

    &.send {
      color: $c-white;

      background-color: #49be25;
      border: 2px solid #49be25;
    }
  }

  @include tablet {
    margin-top: 56px;

    & button {
      width: 600px;
    }
  }

  @include desktop {
    margin-bottom: 120px;

    & button {
      width: 411px;
    }
  }
}
