.information {
  margin: 48px 0 64px;

  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 8px;

    color: #9393a3;
    font-family: Space Grotesk, Helvetica, sans-serif;
    font-size: 0.88rem;
    line-height: 140%;
  }

  &__text {
    width: max-content;

    color: $c-gray;
    font-family: Space Mono, Helvetica, sans-serif;
    line-height: 140%;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    @include hover(color, #000);
  }

  @include tablet {
    margin: 80px 0 120px;
  }

  @include desktop {
    margin: 56px 0 0;
  }
}
