@import "var";
@import "../utils/mixins";

.header {
  height: 100vh;
  background-image: url("../images/header2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;

  &__top {
    position: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
    display: flex;

    color: white;
    transition: background-color 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      background-color: rgba(255,255,255, 0.1);
    }
  }

  &__phone {
    margin: o 82px;
    position: relative;
    transition: transform 0.3s;
  }

  &__action {
    position: relative;
    transition: transform 0.3s;
  }

  &__link {
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid white;
  }

  &__name {
    position: absolute;
    bottom: 165px;
    left: 120px;
    transition: transform 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      width: 35px;
      height: 2px;
      background-color: $color-white;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: $color-white;
    transition: font-size 0.3s,
      line-height 0.3s;
  }

  &__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0;
  }
}

.logo {
  position: relative;

  &::before {
    @include menu-icon;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    height: 18px;
    background-image: url("../../images/phone.svg");
  }

  &::after {
    @include menu-icon;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    height: 12px;
    background-image: url("../../images/action.svg");
  }

  &__img {
    height: $header-logo-height;
    width: $header-logo-width;

    &::after {
      @include menu-icon;
      height: 18px;
      background-image: url("../../images/phone.svg");
    }
  }
}

@media screen and (max-width: 770px) {
  .header {
    &__top {
      justify-content: center;
    }

    &__phone {
      display: none;
    }

    &__action {
      display: none;
    }

    &__name {
      transform: translate(-100px, 85px);
    }

    &__title {
      font-size: 46px;
      line-height: 40px;
      letter-spacing: -1px;
    }

  }

  .logo {
    &::before,
    &::after {
      display: block;
    }

    &__img {
      transform: scale(0.65);
    }
  }
}
