
.mobile-menu-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  background: url(../../images/menu.svg) no-repeat;
  background-size: contain;
}

#header-phone-menu {
  display: none;
}

#header-phone-menu:checked ~ .mobile-menu-switch {
  background: url(../../images/menuX.svg);
}

#header-phone-menu:checked ~ .phone__navigation {
  transform: translateX(460px);
}

#header-phone-menu:checked ~ .phone__text-logo {
  transform: translateX(-520px);
}
