.nav {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
  }

  &__item {
    margin: 0 25px;
  }

  &__link {
    display: inline-block;
    padding: 8px 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border-radius: 8px;
    transition: background-color 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      background-color: rgba(255,255,255, 0.1);
    }

    &--is-active {
      background-color: rgba(255,255,255, 0.1);

    }
  }

}

@media screen and (max-width: 1100px) {
  .nav__item {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav__list {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
