
.navigation {
  list-style: none;
  display: flex;

  &--active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__item {
    color: $head_text_color;
    display: block;
    text-decoration: none;
    padding: 8px 24px;
    margin: 8px 0;
    border-radius: 8px;
    transition: color $short-transit,
      background $short-transit;
    text-transform: uppercase;

    &:hover {
      color: #9fadc2;
      background-color: rgba(74, 73, 80, 0.1);
    }
  }

  &--mobile {
    flex-direction: column;
    @include fonts-style(bold, 22px, 22px, $head_text_color);
  }

  &--desktop {
    justify-content: space-between;
    @include fonts-style(500, 16px, 16px, $head_text_color);
  }
}
