.nav {
  position: absolute;
  bottom: 48px;
  width: calc(100% - #{$header-side-padding * 2});

  &__list {
    list-style: none;

    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
    padding: 8px 24px;

    border-radius: 8px;
    background: transparent;

    @include header-font;

    &_active {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
