.nav {
  position: absolute;
  bottom: 48px;

  &__list {
    list-style: none;

    width: $page-width - $header-side-padding * 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__link {
    padding: 8px 24px;

    border-radius: 8px;
    background: transparent;

    @include header-font;

    &_active {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
