
.phone {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  &__caller {
    position: absolute;
    top: 20px;
    left: 20px;
    background: url(../../images/phone.png);
    width: 18px;
    height: 18px;
  }

  &__text-logo {
    @include fonts-style(bold, 46px, 40px, $head_text_color);
    letter-spacing: -1px;
    width: 270px;
    position: absolute;
    bottom: 150px;
    left: 20px;
    transition: transform $long_transit;

    &::before {
      content: " ";
      position: absolute;
      background-color: $head_text_color;
      border-radius: 2px;
      top: -20px;
      height: 2px;
      width: 35px;
    }
  }

  &__navigation {
    position: absolute;
    left: -500px;
    top: 120px;
    transition: transform $long_transit;
  }
}

@media only screen and (min-width: $phone_size) {
  .phone {
    display: none;
  }
}
