.burger--input:checked ~ .nav {
  @include tablet {
    display: block;
    transform: translateX(-17%);
    transition: transform 0.5s;
    margin: 0;

    width: 96vw;
    height: 100%;

    .nav__list {
      display: grid;
      justify-content: start;
      grid-template-rows: repeat(1, min-content);
      align-items: center;
      justify-items: start;
      gap: 2vh;
      padding-left: 40px;

      padding-top: 20vh;
      height: 100vh;
      transition: background-color 1s, backdrop-filter 1s;

      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(15px);
      background-color: rgba(255,255,255,0.1);
      @include tabletMini {
        left: 0 - $containerPaddingMedium;
      }

      @include mobile {
        left: 0 - $containerPaddingMini;
      }
    }

    .nav__link {
      font-weight: bold;
      font-size: 22px;
      padding: 0 15px;
      width: 100%;
    }
  }

  @include tabletMini {
    width: 90vw;
    transform: translateX(-22%);
  }

  @include mobile {
    transform: translateX(-45%);
  }
}
