.burger {
  &__label {
    display: none;
    position: relative;
    z-index: 2;
    height: max-content;
    cursor: pointer;
    width: 48px;

    @include tablet {
      display: block;
      position: absolute;
      top: 55px;
      right: 20px;
    }
  }

  &__line {
    width: 18px;
    height: 2px;
    margin: 5px 0;
    background-color: white;

    transition: opacity 0.5s, transform 0.5s;
  }

  &__toggler {
    display: none;
  }

  &__toggler:checked ~ &__label :nth-child(1) {
    transform: rotate(-45deg) translate(-4px);
  }

  &__toggler:checked ~ &__label :nth-child(2) {
    transform: rotate(45deg) translate(-5px);
  }

  &__toggler:checked ~ &__label :nth-child(3) {
    opacity: 0;
  }
}
