@keyframes move-left-phone-number {
  0% {
    right: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    right: 115px;
    cursor: pointer;
  }
}

@keyframes move-top-title {
  0% {
    bottom: -80px;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes move-down-tel-hint {
  0% {
    top: 1px;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    top: 60px;
  }
}
