.headline {
  height: 100%;
  display: flex;
  align-items: flex-end;

  &__title {
    position: relative;
    bottom: 80px;
    font-size: $header-title-font-size;
    font-weight: $bold-font-weight;
    @media (max-width: $small-screen-break-point) {
      font-size: 46px;
      bottom: 80px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 2px;
      border-radius: 2px;
      background: white;
    }
  }
}
