.header {
  display: flex;
  justify-content: center;
  min-height: $headerHeight;
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;
  position: relative;

  @media (max-width: 767px) {
    min-height: 100vh;
  }

  &__nav {
    margin-top: 85px;
  }

  &__top {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $logoHeight;
    color: white;
  }

  &__phone {

    &-number {
      display: inline-block;
      padding: 10px 0;
      transition: transform $hoverDuration;

      &:hover {
        transform: scale(1.5);
      }

      @extend %headerText;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &-img {
      @media (max-width: 766px) {
        display: flex;
        box-sizing: content-box;
        background-image: url(../images/phone.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
      }
    }

  }

  &__logo {
    width: $logoWidth;
    height: $logoHeight;
    z-index: 2;

    @media (max-width: 767px) {
      width: $miniLogoWidth;
      height: $miniLogoHeight;
    }
  }

  &__link {
    @extend %headerText;
    position: relative;
    transition: color $hoverDuration;

    &::before {
      position: absolute;
      top: 24px;
      right: 0;
      content: "";
      width: 111px;
      height: 0;
      border: 1px solid #fff;
    }

    &:hover {
      color: $activeColor;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__burger-menu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__mobile {
    display: none;
    &-menu {
      display: none;
      z-index: 2;
      background-image: url(../images/mobile-menu.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 18px;
      height: 12px;
      transition: 0.5s;

      @media (max-width: 767px) {
        display: flex;
      }
    }

    &:checked + .header__mobile-menu {
      background-image: url(../images/menu-close.png);
    }

    &:not(:checked) ~ .burger-menu {
      pointer-events: none;
      opacity: 0;
    }
  }

  &__123 {
    height: 100%;
    width: 100%;
    background-color: blue;
    z-index: 2;

    &:checked + &__123 {
      z-index: 2;
    }
  }

  &__title {
    position: relative;
    margin-top: 314px;
    font-weight: bold;
    font-size: $mainTitle;
    line-height: $mainTitle;
    letter-spacing: -1.5px;
    color: #fff;

    @media (max-width: 1024px) {
      font-size: $mainTitle - 14px;
      line-height: 40px;
    }

    @media (max-width: 767px) {
      margin-top: 60vh;
    }
  }

  &__title::before {
    content: "";
    position: absolute;
    top: -16px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
  }
}
