.header {
  background-size: cover;
  background-position: center;
  background-image: url(../images/header/header-mobile.svg);

  overflow: hidden;

  @include onTablet {
    background-image: url(../images/header/header-tablet.svg);
  }

  @include onDesktop {
    background-image: url(../images/header/header-desktop.svg);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;

    padding: 30px 0 88px;
    height: 100vh;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1.5px;
    color: $colorWhite;
    line-height: 36px;

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }
}
