.menu {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 54px;
    height: 100vh;

    background-color: $colorBackground;

    @include onTablet {
      padding: 52px 72px 40px;
    }

    @include onDesktop {
      padding: 52px 82px 40px 72px;
    }
  }

  &__top {
    margin-bottom: 55px;
  }

  &__list {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;

    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    @include navMenuText;

    border-bottom: 1px solid transparent;

    color: $colorText;
    transition: border-color 0.3s;

    &:hover {
      border-color: $colorText;
    }
  }

  &__call {
    display: block;
    width: max-content;

    @include navMenuText;
    text-decoration: none;
    color: $colorText;

    &--phone {
      margin-bottom: 16px;

      font-size: 16px;
      line-height: 27px;
    }

    &--action {
      padding-bottom: 8px;

      font-size: 12px;
      line-height: 16px;

      border-bottom: 1px solid $colorText;
    }
  }
}
