@import "../utils/vars";

.nav {
  text-transform: uppercase;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__item {
    padding: 40px 0;
    margin-left: 20px;
  }

  &__link {
    padding: 8px 24px;

    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: color $hover-duration;

    &:hover {
      color: $active-color;
    }
  }
}
