.nav {
  text-transform: uppercase;

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    white-space: nowrap;
    padding: 8px 24px;
    margin: 0 22.5px;

    &--active {
      background-color: rgba($color: #fff, $alpha: 0.1);
      border-radius: 8px;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    transition: color $hover-duration;

    &:hover {
      color: $hover-color;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
}
