.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-link {
    height: 17px;

    text-decoration: none;

    @include onTablet {
      height: 24px;
    }

    @include onDesktop {
      width: 190px;
    }
  }

  &__logo-image {
    width: 100%;
  }

  &__toggler {
    height: 12px;
    width: 18px;
    padding: 0;
    margin-left: 30px;

    background-image: url(../images/header/three_lines.svg);
    background-position: center;
    background-repeat: no-repeat;

    border: none;

    @include onTablet {
      width: 24px;
      height: 24px;
      margin-left: 40px;

      background-image: url(../images/header/four_lines.svg);
    }

    @include onDesktop {
      &:hover {
        background-image: url(../images/header/four_lines_vertical.svg);
      }
    }

    &--close {
      height: 16px;
      width: 18px;
      padding: 0;

      background-image: url(../images/header/cross.svg);
      background-position: center;
      background-repeat: no-repeat;

      border: none;
    }
  }
}
