.exhibitions {
  cursor: pointer;
  font-family: Cinzel, Georgia, serif;

  &__images {
    display: flex;
    gap: 20px;

    & picture {
      @include hover(transform, scale(1.05));
    }
  }

  &:nth-of-type(2) &__images {
    gap: 8px;
  }

  &__title {
    margin-top: 24px;

    color: $c-red;
    font-weight: 700;
    line-height: 27px;
  }

  &__description {
    color: $c-dark;
    line-height: 27px;
  }

  @include tablet {
    &:nth-of-type(n) &__images {
      gap: 24px;
    }

    &:nth-of-type(2) &__images picture:nth-child(3) {
      display: none;
    }
  }

  @include desktop {
    &:nth-of-type(2) &__images picture:nth-child(3) {
      display: block;
    }
  }
}
