.hours {
  max-width: max-content;

  color: $c-dark;
  font-family: Cinzel, Georgia, serif;

  &__title {
    margin-bottom: 16px;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
  }

  &__informations {
    width: max-content;

    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 25px;
    row-gap: 8px;

    &-hours {
      font-weight: 700;
      line-height: 27px;
    }

    &-days {
      line-height: 27px;
    }
  }

  &__closed {
    margin-top: 16px;

    &-title {
      font-weight: 700;
      line-height: 27px;
    }

    &-days {
      line-height: 27px;
    }
  }
}
