.information {
  width: max-content;
  margin-top: 48px;

  display: flex;
  flex-direction: column;

  font-family: Cinzel, Georgia, serif;

  &__title {
    margin-bottom: 16px;

    color: $c-dark;
    font-weight: 700;
    line-height: 27px;
  }

  &__label {
    margin-bottom: 4px;

    color: $c-dark;
    font-size: 0.88rem;
    line-height: 27px;
  }

  &__text {
    color: #3e3e3e;
    font-weight: 700;
    line-height: 27px;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @include hover(color, $c-red);
  }
}
