.navigation {
  width: 280px;
  padding: 24px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    position: relative;
    display: flex;
    flex-direction: row-reverse;

    &-menu,
    &-phone {
      width: 24px;
      height: 24px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &-menu {
      cursor: pointer;

      background-image: url(./../images/menu.svg);

      &:hover {
        background-image: url(./../images/menu_hover.svg);
      }
    }

    &-phone {
      background-image: url(./../images/phone.svg);
    }

    &-number {
      width: max-content;
      margin-right: 20px;
      padding: 10px 20px;

      position: absolute;
      text-align: end;
      top: 50%;

      font-family: Cinzel, Georgia, serif;
      font-weight: 700;
      line-height: 27px;
      text-transform: uppercase;

      transition: transform 0.3s linear;
      transform-origin: right;

      transform: translateY(-50%) scale(0);
    }

    &-link {
      margin-bottom: 8px;

      display: flex;
      justify-content: flex-end;

      color: $c-white;
      text-decoration: none;
    }

    &-number:hover {
      transform: translateX(15%) scale(0.8);
    }

    &-phone:hover ~ .navigation__item-number {
      transform: translateX(15%) scale(0.8);
    }
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }

  @include tablet {
    width: 600px;
    padding: 50px 0 0;

    &__item {
      flex-direction: row-reverse;

      &-menu,
      &-phone {
        width: 32px;
        height: 32px;
      }

      &-number:hover {
        transform: translateY(-50%) scale(1);
      }

      &-phone:hover ~ .navigation__item-number {
        transform: translateY(-50%) scale(1);
      }
    }

    &__buttons {
      gap: 32px;
    }
  }

  @include desktop {
    width: 1020px;
  }
}
