.input {
  padding: 17px;
  border: none;
  border-radius: 8px;
  background-color: rgb(247, 248, 255);
  transition: background 0.3s linear, box-shadow 0.3s linear;

  &::placeholder {
    font-size: 14px;
    color: #b9c1ce;
  }

  &:focus {
    box-shadow: 0 6px 13px rgba(157, 157, 157, 0.46);
    outline: none;
  }
  &:hover {
    background-color: rgb(235, 236, 250);
    box-shadow: 0 6px 13px rgba(157, 157, 157, 0.46);
  }
}
