.icon {
  width: $tablet-size;
  display: block;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../../images/menu.svg);
    height: $tablet-size;
    
    &:hover {
      background-image: url(../../images/menu_hover.svg);
    }
  }
  
  &--phone {
    background-image: url(../../images/phone.svg);
    height: $desktop-size;
  }
  
  &--cross {
    background-image: url(../../images/cross.svg);
    height: $desktop-size;
  }

  @include onTablet {
    width: $desktop-size;
  }

}
