@import "./variables";
@import "./mixins";
@import "./header";
@import "./icon";
@import "./menu";

body {
  margin: 0;
  font-family: "Cinzel", sans-serif;
}

.twoIcons {
  display: flex;
  gap: 30px;

  @include onTablet {
    gap: 63px;
  }
}
