@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}
  
@mixin top-actions-style {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
  
@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}
