.header {
  /* stylelint-disable */
  height: 100dvh;
  /* stylelint-enable */

  box-sizing: border-box;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat($grid-columns-mobile, $grid-width-mobile);
  grid-column-gap: $grid-gap-mobile;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/header_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__navigation {
    align-self: start;
    grid-column: 1 / 2;
    grid-row: 1;
  }

  &__title {
    /* stylelint-disable */
      margin-top: 35.25dvh;
    /* stylelint-enable */

    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1;

    color: $c-white;
    font-family: Cinzel, Georgia, serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1.5px;

    text-shadow: 0 0 6px $c-dark;
  }

  @include tablet {
    grid-template-columns: repeat($grid-columns-tablet, $grid-width-tablet);
    grid-column-gap: $grid-gap-tablet;

    &__title {
      /* stylelint-disable */
      margin-top: 30.5dvh;
      /* stylelint-enable */

      grid-column: 2 / 6;

      font-size: 3.5rem;
    }
  }

  @include desktop {
    grid-template-columns: repeat($grid-columns-desktop, $grid-width-desktop);

    &__title {
      /* stylelint-disable */
      margin-top: 23.6dvh;
      /* stylelint-enable */

      grid-column: 1 / 13;

      font-size: 5em;
    }
  }
}
