/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable declaration-block-no-duplicate-properties */
/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable rule-empty-line-before */
h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  background-color: #000;
  background-image: url(images/background-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  grid-template-rows: 1fr 1fr;
}
@media (min-width: 1260px) {
  .header {
    padding-bottom: 64px;
  }
}
@media (min-width: 1260px) {
  .header {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
.header__navigation {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: start;
}
@media (min-width: 1260px) {
  .header__navigation {
    grid-column: 1/13;
  }
}
.header__title {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: end;
}
@media (min-width: 1260px) {
  .header__title {
    grid-column: 1/13;
  }
}

.navigation {
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  grid-column: 1/3;
}
@media (min-width: 1260px) {
  .navigation {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .navigation {
    grid-column: 1/13;
    padding: 32px 0;
  }
}
.navigation__item--logo {
  height: 16px;
}
@media (min-width: 1260px) {
  .navigation__item--logo {
    height: 24px;
  }
}
.navigation__item--phone {
  height: 18px;
  align-self: center;
}
@media (min-width: 1260px) {
  .navigation__item--phone {
    height: 24px;
  }
}
.navigation__item--burger {
  height: 12px;
  width: 18px;
  align-self: center;
}
.navigation__item--cross {
  height: 16px;
  align-self: center;
}
@media (min-width: 1260px) {
  .navigation__item--cross {
    height: 21px;
  }
}
.navigation__logo {
  height: 16px;
}
@media (min-width: 1260px) {
  .navigation__logo {
    height: 24px;
  }
}
.navigation__phone {
  height: 18px;
}
@media (min-width: 1260px) {
  .navigation__phone {
    height: 24px;
  }
}
.navigation__burger {
  height: 12px;
  width: 18px;
}
@media (min-width: 1260px) {
  .navigation__burger {
    height: 16px;
    width: 24px;
  }
}
.navigation__cross {
  height: 16px;
}
@media (min-width: 1260px) {
  .navigation__cross {
    height: 21px;
  }
}
.navigation__buttons {
  display: grid;
  place-self: center end;
  grid-template-columns: repeat(2, 18px);
  column-gap: 24px;
}
@media (min-width: 1260px) {
  .navigation__buttons {
    grid-template-columns: repeat(2, 24px);
    column-gap: 32px;
    grid-column-end: 13;
  }
}

.phone__label {
  font-family: Inter, sans-serif;
  text-align: right;
  color: #1B2129;
  text-transform: uppercase;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  transform: translateX(calc(-100% - 8px));
}
.phone:not(:hover) .phone__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.burger {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 12px;
}
@media (min-width: 1260px) {
  .burger {
    width: 24px;
    height: 16px;
  }
}
.burger::before {
  content: "";
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 12px;
  background-image: url(images/menu.svg);
}
@media (min-width: 1260px) {
  .burger::before {
    width: 24px;
    height: 16px;
  }
}
.burger::after {
  content: "";
  display: none;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 12px;
  background-image: url(images/menu-hover.svg);
}
@media (min-width: 1260px) {
  .burger::after {
    width: 24px;
    height: 16px;
  }
}
.burger:hover::before {
  display: none;
}
.burger:hover::after {
  display: inline-block;
}
.burger__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #fff;
}
@media (min-width: 1260px) {
  .title {
    font-size: 56px;
    line-height: 56px;
  }
}
.title--section {
  font-size: 32px;
  line-height: 32px;
  color: #1B2129;
  padding-bottom: 8px;
}
@media (min-width: 1260px) {
  .title--section {
    font-size: 48px;
    line-height: 48px;
  }
}
.title--article {
  font-size: 18px;
  line-height: 25px;
  color: #1B2129;
}
@media (min-width: 1260px) {
  .title--article {
    font-size: 24px;
    line-height: 34px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  min-height: 100vh;
  background-color: #F9F9F9;
  color: #1B2129;
  padding: 0 20px;
  font-family: Manrope, sans-serif;
  align-content: start;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
}
@media (min-width: 1260px) {
  .menu {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
.menu:target {
  transform: translateX(0);
}
.menu__navigation {
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .menu__navigation {
    grid-column: span 12;
  }
}
.menu__navigation__item--cross {
  justify-self: end;
  grid-column-end: 3;
}
@media (min-width: 1260px) {
  .menu__navigation__item--cross {
    justify-self: end;
    grid-column-end: 13;
  }
}
.menu__links {
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .menu__links {
    grid-column: span 12;
  }
}
.menu__paragraph {
  padding-top: 21px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .menu__paragraph {
    grid-column: span 12;
  }
}
.menu__call-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  color: #1B2129;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}
.menu__call-link:hover {
  border-bottom: 1px solid #1B2129;
}

.links {
  padding-top: 32px;
}
.links__item {
  margin-bottom: 27px;
}
.links__link {
  font-family: Manrope, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  color: #1B2129;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.links__link:hover {
  border-bottom: 1px solid #1B2129;
}

.recommended {
  padding: 64px 0 96px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
}
@media (min-width: 1260px) {
  .recommended {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .recommended {
    padding: 120px 0;
  }
}
.recommended__title {
  grid-column: span 2;
  padding-bottom: 48px;
}
@media (min-width: 1260px) {
  .recommended__title {
    grid-column: span 12;
    padding-bottom: 56px;
  }
}
.recommended__article {
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .recommended__article {
    grid-column: span 4;
  }
}
.recommended__article-image {
  width: 100%;
}
.recommended__article-title {
  padding: 24px 0 8px;
}
.recommended__article-paragraph {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 12px;
}
.recommended__article-price {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.categories {
  padding: 0 0 96px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
}
@media (min-width: 1260px) {
  .categories {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
.categories__title {
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .categories__title {
    grid-column: span 12;
  }
}
.categories__article {
  padding-top: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .categories__article {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .categories__article {
    grid-column: span 12;
    padding-top: 56px;
  }
}
.categories__article-item {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
@media (min-width: 1260px) {
  .categories__article-item {
    padding-top: 324px;
    grid-column: span 6;
  }
}
.categories__article-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 100%;
  height: 100%;
}
.categories__article-title {
  grid-column: span 2;
  padding-top: 16px;
}
@media (min-width: 1260px) {
  .categories__article-title {
    grid-column: span 12;
  }
}
.categories__button {
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .categories__button {
    grid-column: span 4;
  }
}

.about-us {
  background-color: #FCFAEF;
}
.about-us__image {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 744px) and (max-width: 1259px) {
  .about-us__image {
    max-height: 400px;
  }
}
@media (min-width: 1260px) {
  .about-us__image {
    max-height: 460px;
  }
}
.about-us__content {
  padding: 48px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
}
@media (min-width: 1260px) {
  .about-us__content {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
@media (min-width: 1260px) {
  .about-us__content {
    padding: 120px 0;
  }
}
.about-us__content__title {
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .about-us__content__title {
    grid-column: span 6;
  }
}
.about-us__content__paragraph {
  grid-column: span 2;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 24px;
}
@media (min-width: 1260px) {
  .about-us__content__paragraph {
    grid-column: 8/13;
    padding-top: 0;
  }
}

.button {
  display: block;
  text-align: center;
  line-height: 56px;
  border: 0;
  border-radius: 8px;
  background-color: #F98921;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-top: 40px;
}
.button:hover {
  background-color: #1B2129;
}
@media (min-width: 1260px) {
  .button {
    margin-top: 56px;
  }
}
.button--form {
  margin-top: 32px;
}

.contact-us {
  padding: 64px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
}
@media (min-width: 1260px) {
  .contact-us {
    padding: 120px 0;
  }
}
@media (min-width: 1260px) {
  .contact-us {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
.contact-us__title {
  padding-bottom: 48px;
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .contact-us__title {
    padding-bottom: 56px;
    grid-column: span 12;
  }
}
.contact-us__form {
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .contact-us__form {
    grid-column: span 6;
  }
}
.contact-us__address {
  grid-column: span 2;
}
@media (min-width: 1260px) {
  .contact-us__address {
    grid-column: 8/13;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__label:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.form__label:not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.form__input {
  background-color: #F9F9F9;
  border: 0;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
}
.form__input::placeholder {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #7E7E83;
}
.form__textarea {
  background-color: #F9F9F9;
  border: 0;
  border-radius: 8px;
  width: 100%;
  line-height: 48px;
  padding: 14px 16px;
  box-sizing: border-box;
}
.form__textarea::placeholder {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #7E7E83;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=styles.css.map */
