html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;
}
.content__page {
  margin-bottom: 120px;
}
@media (min-width: 744px) {
  .content {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }
}
@media (min-width: 1020px) {
  .content {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}
.content__title {
  grid-column: 1/-1;
}
.content__description {
  margin-bottom: 90px;
  grid-column: 1/-1;
}
@media (min-width: 744px) {
  .content__description {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    gap: 20px;
    justify-content: center;
  }
}
@media (min-width: 744px) and (min-width: 744px) {
  .content__description {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }
}
@media (min-width: 744px) and (min-width: 1020px) {
  .content__description {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}
.content__description--title {
  grid-column: 1/4;
}
@media (min-width: 1020px) {
  .content__description--title {
    grid-column: 1/5;
  }
}
.content__description--paragraph {
  grid-column: 4/7;
}
@media (min-width: 1020px) {
  .content__description--paragraph {
    grid-column: 5/12;
  }
}
.content__section {
  margin-bottom: 90px;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 744px) {
  .content__section {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }
}
@media (min-width: 1020px) {
  .content__section {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}
.content__section .title {
  grid-column: 1/-1;
}
.content__section .article-bikes {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 744px) {
  .content__section .article-bikes {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }
}
@media (min-width: 1020px) {
  .content__section .article-bikes {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}
.content__section .article-bikes__item {
  grid-column: 1/-1;
}
@media (min-width: 1020px) {
  .content__section .article-bikes__item {
    grid-column: span 4;
  }
}
.content__section .article {
  grid-column: 1/-1;
}
.content__section .article__figure {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 744px) {
  .content__section .article__figure {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }
}
@media (min-width: 1020px) {
  .content__section .article__figure {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}
.content__section .article__figure--small {
  grid-column: span 1;
}
@media (min-width: 744px) {
  .content__section .article__figure--small {
    grid-column: span 2;
  }
}
@media (min-width: 1020px) {
  .content__section .article__figure--small {
    grid-column: span 4;
  }
}
.content__section .article__figure--big {
  grid-column: span 1;
}
@media (min-width: 744px) {
  .content__section .article__figure--big {
    grid-column: span 4;
  }
}
@media (min-width: 1020px) {
  .content__section .article__figure--big {
    grid-column: span 8;
  }
}
.content__section .article__description {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 744px) {
  .content__section .article__description {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }
}
@media (min-width: 1020px) {
  .content__section .article__description {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}
.content__section .article__title {
  grid-column: 1/-1;
}
@media (min-width: 1020px) {
  .content__section .article__title {
    grid-column: 1/9;
  }
}
.content__section .article__paragraph {
  grid-column: 1/-1;
}
@media (min-width: 1020px) {
  .content__section .article__paragraph {
    grid-column: 1/9;
  }
}
.content__section .bike-photo {
  transition: transform 0.3s;
}
.content__section .bike-photo:hover {
  transform: scale(1.1);
}
.content__section .detail-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.content__section .detail-img:hover {
  transform: scale(1.05);
}
.content .figure {
  text-align: center;
}
.content .content__button {
  grid-column: 1/-1;
}
@media (min-width: 744px) {
  .content .content__button {
    grid-column: 2/6;
  }
}
@media (min-width: 1020px) {
  .content .content__button {
    grid-column: 5/9;
  }
}
.content .content-paragraph {
  font-family: Poppins, sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 32.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.content .content-paragraph--description {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 8px 0;
}

.header {
  background-color: black;
  min-height: 480px;
  background-image: url('./images/bigBike.jpg');
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 744px) {
  .header {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }
}
@media (min-width: 1020px) {
  .header {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}
.header__nav {
  grid-column: 1/3;
  align-self: start;
}
.header__title {
  grid-column: 1/3;
  align-self: end;
  font-size: 36px;
  padding-bottom: 80px;
}
@media (min-width: 744px) {
  .header {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  .header__nav {
    grid-column: 1/7;
    align-self: start;
    height: 128px;
  }
  .header__nav .logo-photo {
    width: 187px;
    height: 56px;
  }
  .header__title {
    grid-column: 1/7;
    align-self: end;
    font-size: 64px;
    padding-bottom: 130px;
  }
}
@media (min-width: 1020px) {
  .header__nav {
    grid-column: 1/13;
    align-self: start;
    height: 128px;
  }
  .header__nav .logo-photo {
    width: 187px;
    height: 56px;
  }
  .header__title {
    grid-column: 1/14;
    align-self: end;
    font-size: 80px;
    padding-bottom: 130px;
  }
}
.header .main-navigation {
  min-height: 86px;
  box-sizing: border-box;
}
.header .main-navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 86px;
}
.header .main-navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header .main-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 70px;
  box-sizing: border-box;
  background-image: url('./images/footers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 320px) {
  .footer {
    padding-top: 200px;
  }
}
@media (min-width: 744px) {
  .footer {
    padding-top: 480px;
  }
}
@media (min-width: 1260px) {
  .footer {
    height: 555px;
  }
}

.title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
.title--secondary {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 0 0 30px;
}
.title--third {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 0 0 30px;
  text-align: center;
}
.title--fourth {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 30px 0 0;
}

.adress {
  grid-column: 1/-1;
}
@media (min-width: 744px) {
  .adress {
    grid-column: 4/7;
  }
}
@media (min-width: 1020px) {
  .adress {
    grid-column: 8/-1;
  }
}
.adress__box {
  padding: 10px 0;
}
.adress__label {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 8px 0;
}
.adress__label:hover {
  color: gold;
}
.adress__content {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 8px 0 0;
  text-decoration: none;
  color: #fff;
}
.adress__content:hover {
  color: gold;
}

.button {
  display: block;
  width: 100%;
  height: 56px;
  border-radius: 40px;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
  background-color: #fff;
  color: #1d1d1d;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  grid-column: 1/-1;
}
@media (min-width: 744px) {
  .form {
    grid-column: 1/4;
  }
}
@media (min-width: 1020px) {
  .form {
    grid-column: 1/6;
  }
}

.form-user {
  width: 100%;
}
.form-user__input {
  width: 100%;
  height: 48px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 40px;
  border: 0;
}
.form-user__input::placeholder {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.form-user__textarea {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-sizing: border-box;
  width: 100%;
  height: 148px;
  padding: 14px 16px;
  gap: 10px;
  border-radius: 16px;
  border: 0;
}
.form-user__textarea::placeholder {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.form-user__label:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.form-user__label:not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.links__list {
  padding: 20px;
}
.links__item {
  margin-bottom: 24px;
}
.links__link {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding-bottom: 8px;
  display: inline-block;
}
.links__link:hover {
  border-bottom: 1px solid #1d1d1d;
}

.menu {
  background-color: #c2c2c2;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;
}
@media (min-width: 744px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
  }
}
@media (min-width: 1020px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
  }
}
.menu__navi {
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .menu__navi {
    grid-column: 1/7;
  }
}
@media (min-width: 1020px) {
  .menu__navi {
    grid-column: 1/13;
  }
}
.menu__links {
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .menu__links {
    grid-column: 1/7;
  }
}
@media (min-width: 1020px) {
  .menu__links {
    grid-column: 1/13;
  }
}
.menu__paragraph {
  grid-column: span 2;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
  padding: 0 20px;
  margin-bottom: 20px;
}
@media (min-width: 744px) {
  .menu__paragraph {
    grid-column: span 6;
  }
}
@media (min-width: 1020px) {
  .menu__paragraph {
    grid-column: span 12;
  }
}
.menu__call-link {
  grid-column: span 2;
  padding: 0 20px;
}
@media (min-width: 744px) {
  .menu__call-link {
    grid-column: span 6;
  }
}
@media (min-width: 1020px) {
  .menu__call-link {
    grid-column: span 12;
  }
}
.menu:target {
  transform: translateX(0);
}
.menu__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 94px;
}

.burger {
  display: inline-block;
  width: 18px;
  height: 12px;
  background-image: url('./images/menu.svg');
  background-size: cover;
}
.burger:hover {
  background-image: url('./images/menu_hover.svg');
}
.burger__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.phone__label {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  position: absolute;
  transform: translateX(calc(-100% + 10px));
}
.phone-icon-img {
  border: 2px solid transparent;
  padding: 5px;
}
.phone-icon-img:hover {
  border: 2px solid #fff;
  border-radius: 5px;
}
.phone:not(:hover) .phone__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.hide-number:hover {
  color: rgb(0, 151, 189);
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #1d1d1d;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
}

/*# sourceMappingURL=style.css.map */
