/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.about {
  background-color: #fcfaef;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: -20px;
  margin-right: -20px;
  box-sizing: border-box;
}


.about__inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fcfaef;
  gap: 20px;
  margin-top: 8px;
}

@media (min-width: 1020px) {
  .about__inside {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    grid-row: 1/1;
  }
}

.about__inside--title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  color: #1b2129;
  padding: 48px 0 0;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 1020px) {
  .about__inside--title {
    grid-column: 1/6;
  }
}

.about__inside--description {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #1b2129;
  padding: 24px 0 48px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 1020px) {
  .about__inside--description {
    grid-column: 7/13;
  }
}

.address {
  padding-top: 48px;
}

@media (min-width: 1020px) {
  .address {
    grid-column: 7/9;
    padding-top: 0;
  }
}

.address__label {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #9393a3;
}

.address__content {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.15px;
  color: #191919;
  padding-bottom: 24px;
  text-decoration: none;
}

.address__content:hover {
  color: #f98921;
}

.burger__lable {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.burger::before {
  content: "";
  background-image: url("./images/Icon-Burger-menu.svg");
  background-size: cover;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.burger::after {
  display: none;
  content: "";
  background-image: url("./images/Icon-Burger-menu-hover.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.burger:hover::before {
  display: none;
}

.burger:hover::after {
  display: inline-block;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
}

@media (min-width: 1020px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    padding: 0 20px 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1020px) {
  .form {
    grid-column: 1/5;
  }
}

.form__input {
  background: #f9f9f9;
  border-radius: 8px;
  border: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  box-sizing: border-box;
}

.form__input:hover {
  border: 1px solid #dbdbdb;
}

.form__input:focus {
  outline: none;
  border: 1px solid #f98921;
}

.form__input::placeholder {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  letter-spacing: 0.15px;
  line-height: 20px;
}

.form__textarea {
  background: #f9f9f9;
  border-radius: 8px;
  border: 0;
  width: 100%;
  height: 148px;
  line-height: 48px;
  padding-left: 16px;
  box-sizing: border-box;
}

.form__textarea:hover {
  border: 1px solid #dbdbdb;
}

.form__textarea:focus {
  outline: none;
  border: 1px solid #f98921;
}

.form__textarea::placeholder {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.15px;
}

.form__label:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
}

.catalog {
   display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
}

@media (min-width: 1020px) {
  .catalog {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (min-width: 1020px) {
  .catalog {
    width: 100%;
    height: auto;
  }
}


@media (min-width: 1020px) {
  .gallery {
    width: 100%;
    height: auto;
  }
}

.gallery--image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery--image:hover {
  transform: scale(1.2, 1.2);
}

.gallery--title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  color: #1b2129;
  padding-top: 24px;
}

.gallery--description {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #1b2129;
  padding: 8px 0 0;
}

.gallery--price {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  color: #1b2129;
  padding: 12px 0 0;
}

.header {
  background-color: black;
  background-image: url("./images/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 0 20px 40px;
  box-sizing: border-box;
  grid-template-rows: 1fr 1fr;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 744px) {
  .header {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}

@media (min-width: 1020px) {
  .header {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}

.header__navigation {
  align-self: start;
  grid-column: 1/3;
  grid-row: 1/2;
}

@media (min-width: 744px) {
  .header__navigation {
    grid-column: 1/7;
  }
}

@media (min-width: 1020px) {
  .header__navigation {
    grid-column: 1/13;
  }
}

.header__title {
  align-self: end;
  grid-column: 1/3;
  grid-row: 2/3;
}

@media (min-width: 744px) {
  .header__title {
    grid-column: 1/7;
  }
}

@media (min-width: 1020px) {
  .header__title {
    grid-column: 1/13;
  }
}

.links {
  padding-top: 56px;
}

.links__items {
  margin-bottom: 28px;
}

.links__link {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1b2129;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
  display: inline-block;
}

.links__link:hover {
  border-bottom: 1px solid #1b2129;
}

.main__content {
  padding-right: 20px;
}

@media (min-width: 1020px) {
  .main__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.image {
  background-color: black;
  background-image: url("./images/big_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200px;

  margin-top: 96px;

  display: block;
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

}



}

@media (min-width: 744px) {
  .image {
    min-height: 460px;
    background-position: center;
  }
}

.primiery_button {
  background-color: #f98921;
  display: block;
  color: white;
  border-radius: 8px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  height: 56px;
  line-height: 56px;
  margin: 40px 20px;
}

.primiery_button:hover {
  background-color: #1b2129;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 10px 0 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

.menu:target {
  transform: translateX(0);
}

.menu__links {
  margin-bottom: 40px;
}

.menu__paragraph {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #1b2129;
  margin-bottom: 16px;
}

.menu__link {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #1b2129;
  padding-bottom: 8px;
  border-bottom: 1px solid #1b2129;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.navigation__logo {
  position: static;
  background-image: url(./images/Logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 16px;
}

.navigation__bar {
  display: inline-flex;
  gap: 27px;
}

.phone {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  color: #1b2129;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.phone__label {
  position: absolute;
}

.phone:not(:hover) .phone_label {
  display: none;
}

@media (max-width: 720px) {
  .phone:hover .phone_label {
    opacity: 0;
    display: none;
    color: #f98921
  }
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

.product__item {
  width: 100%;
  position: relative;
  padding-top: 100%;
}

.product__image {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 4px;
}

.product__image:hover {
  transform: scale(1.2, 1.2);
}

.product--title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  padding: 16px 20px;
}

.title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  color: white;
}

.title--second {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  color: #1b2129;
  padding-left: 20px;
  padding-top: 20px;
}

.title--third {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  color: #1b2129;
  padding: 96px 0 0;
  padding-left: 20px;
}

.title--fourth {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  color: #1b2129;
  padding-top: 64px;
  padding-bottom: 48px;
  padding-left: 20px;
}

.main,
.header,
.contact,
.about {
  max-width: 100%;
  margin: 0 auto;
}


html {
  scroll-behavior: smooth;
}


/*# sourceMappingURL=styles.css.map */
