.footer {
  height: 217px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/footer.jpg);

  @include onTablet {
    height: 480px;
  }

  @include onDesktop {
    height: 555px;
  }
}
