.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @extend %width;

  &__title {
    width: 324px;
    letter-spacing: -1.5px;
  }

  &__link {
    color: $blue;
  }

  &__text {
    width: 498px;
  }

  &__text-title {
    margin-bottom: 16px;
  }
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;

    &__title {
      width: 100%;
      margin-bottom: 48px;
    }

    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 550px) {
  .about {
    &__title {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
