.button {
  margin: 0 auto;
  width: 280px;
  height: 56px;
  display: block;
  border-radius: 40px;

  transition: $time-transition;
  cursor: pointer;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 139%;
    text-decoration: none;
  }

  &__dark {
    @extend %dark-button;

    &:hover {
      @extend %clear-button;
    }

    &:active {
      @extend %dark-button;
    }

    @include onTablet {
      width: 392px;
    }

    @include onDesctop {
      width: 324px;
    }
  }

  &__clear {
    @extend %clear-button;

    &:hover {
      @extend %dark-button;
    }

    &:active {
      border: solid 3px $text-color;
      color: $text-color;
      background-color: transparent;
    }

    @include onTablet {
      width: 287px;
    }

    @include onDesctop {
      width: 411px;
    }
  }
}
