.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 35px;
  height: 359px;
  background: url(../images/footer.jpg) no-repeat center / cover;
}

@media (max-width: 550px) {
  .footer {
    height: 206px;
    padding-bottom: 25px;

    & :first-child {
      width: 78.6px;
      height: 45.46px;
    }
  }
}
