.header {
  background-size: cover;
  background-position: center;
  background-image: url(../images/bose/header-img.jpg);

  @include onTablet {
    background-image: url(../images/bose/header-tablet.jpg);
  }
  @include onDesctop {
    background-image: url(../images/bose/header-desctop.jpg);
  }

  &__icons {
    @extend %nav-element-location;
  }

  &__call {
    height: 18px;
    text-decoration: none;

    @include onTablet {
      height: 24px;
    }

    @include onDesctop {
      &::before {
        content: "+1 234 555-55-55";
        position: relative;
        top: 50%;
        transform: translate(-100%, -50%);

        display: block;
        width: max-content;
        padding-right: 12px;

        font-size: 12px;
        font-weight: 700;
        color: $text-color;
        line-height: 110%;
        letter-spacing: 2px;

        opacity: 0;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__menu-opener {
    height: 12px;
    margin-left: 30px;

    @include onTablet {
      margin-left: 40px;
      height: 18px;
    }
  }

  &__title {
    @extend %h1;
    font-size: 32px;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesctop {
      font-size: 48px;
    }

    &::before {
      content: "";
      width: 32px;
      height: 27px;
      display: block;
      background-size: cover;
      background-image: url(../images/bose/icons/voice.svg);
      margin-bottom: 16px;

      @include onTablet {
        width: 63px;
        height: 76px;
        margin-bottom: 40px;
        background-image: url(../images/bose/icons/voice-desctop.svg);
      }

      @include onDesctop {
        margin-bottom: 32px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: $headerTopPadding 0 94px;

    @include onTablet {
      padding: 52px 0 40px;
    }

    @include onDesctop {
      padding: 48px 0 64px;
    }
  }
}
