.icon {
  display: block;
  @include iconSquare ($size-icon-mobile);

  @include hover(transform, $value-scale);

  @include onTablet {
    @include iconSquare ($size-icon-tablet);
  }

  &__menu {
    background-image: url(../images/bose/icons/menu.svg);
    background-size: cover;
    transition: 0.5s;

    @include onDesctop {
      &:hover {
        background-image: url(../images/bose/icons/menu-hover-desctop.svg);
        background-size: cover;
      }
    }
  }

  &__phone {
    background-image: url(../images/bose/icons/phone.svg);
    background-size: cover;
  }

  &__cross {
    background-image: url(../images/bose/icons/cross.svg);
    background-size: cover;
  }
}
