.menu {
  background-color: $colorCrossMenu;

  &__content {
    box-sizing: border-box;
    padding: $headerTopPadding 0;
    height: 100vh;
  }

  &__list {
    margin: 54px 0 40px;
    padding: 0;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__link {
    display: inline-block;
    padding: 8px;
    border-bottom: 1px solid transparent;

    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;

    transition: border-color 0.3s;

    &:hover {
      border-color: $text-color;
    }
  }

  &__call {
    display: block;
    width: max-content;

    font-weight: 700;
    text-decoration: none;
    color: $text-color;
    &--phone {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 139%;
    }

    &--action {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 110%;
      letter-spacing: 2px;

      padding-bottom: 8px;
      border-bottom: 1px solid $text-color;
    }
  }
}
