.product-card {
  display: flex;
  flex-direction: column;

  &__images {
    margin-top: 48px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;

    &:hover {
      transform: translateX(-50%) $value-scale;
    }

    @include onTablet {
      margin-top: 40px;
    }
  }

  &__subtitle {
    margin-top: 32px;
  }

  &__text {
    margin-top: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    flex: 1 1 auto;
  }

  &__price {
    margin-top: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
}
