.top-actions {
  @extend %nav-element-location;
  padding-top: 36px;

  @include onTablet {
    padding-top: 48px;
  }

  &__logo {
    display: flex;
    align-items: center;

    @include hover (transform, $value-scale);

    @include onTablet {
      width: 190px;
      height: 24px;
    }
  }

  &__icons {
    display: flex;
    gap: 30px;

    @include onTablet {
      gap: 36px;
    }
  }
}
