@use '../utils/vars';

@mixin title {
   font-family: Inter, sans-serif;
   font-style: italic;
   font-weight: 800;
   font-size: 32px;
   line-height: 100%;
   letter-spacing: -0.05em;
   color: vars.$color-black;
}

@mixin phone-button {
   font-family: Inter, sans-serif;
   font-weight: 700;
   font-size: 12px;
   line-height: 133%;
   letter-spacing: 0.17em;
   text-transform: uppercase;
   color: vars.$color-black;
}

@mixin menu-list {
   font-family: Inter, sans-serif;
   font-weight: 700;
   font-size: 22px;
   line-height: 100%;
   letter-spacing: 0.09em;
   text-transform: uppercase;
   color: vars.$color-black;
}

@mixin menu-list-phone-number {
   font-family: Inter, sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 169%;
   text-transform: uppercase;
   color: vars.$color-black;
}

@mixin text {
   font-family: Inter, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   color: vars.$color-black;
}

@mixin text-bold {
   font-family: Inter, sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 140%;
   color: vars.$color-black;
}

@mixin cat-text {
   font-family: Inter, sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 140%;
   color: vars.$color-black;
}

@mixin button-text {
   font-family: Inter, sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 169%;
   text-align: center;
}

@mixin cat-text-normal {
   font-family: Inter, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 169%;
   color: vars.$color-black;
}

@mixin form-text {
   font-family: Inter, sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 143%;
   color: vars.$color-form-text;
}

@mixin adress-title {
   font-family: Inter, sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 140%;
   color: vars.$color-address-text;
}

@mixin adress-content {
   font-family: Inter, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   color: vars.$color-address-text-content;
}
