.contact-us {
  margin-top: 100px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat($grid-columns-mobile, $grid-width-mobile);
  grid-column-gap: $grid-gap-mobile;

  &__title {
    grid-column: 1 / 3;

    &-text {
      font-family: Roboto, Helvetica, sans-serif;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -1.5px;
      text-align: center;
    }

    &-icon {
      width: 24px;
      height: 24px;
      margin: 0 auto;

      position: absolute;
      left: 0;
      right: 0;

      background-image: url(./../images/icon.svg);
    }
  }

  &__form,
  &__information {
    grid-column: 1 / 3;
  }

  &__information {
    margin-bottom: 32px;
  }

  @include tablet {
    margin-top: 104px;

    grid-template-columns: repeat($grid-columns-tablet, $grid-width-tablet);
    grid-column-gap: $grid-gap-tablet;

    &__title {
      grid-column: 1 / 7;

      &-text {
        font-size: 2.45rem;
      }
    }

    &__form {
      margin: 0;

      grid-column: 4 / 7;
    }

    &__information {
      margin: 0;
    }
  }

  @include desktop {
    grid-template-columns: repeat($grid-columns-desktop, $grid-width-desktop);

    &__title {
      grid-column: 1 / 13;
    }

    &__form {
      grid-column: 7 / 12;
    }

    &__information {
      grid-column: 2 / 5;
    }
  }
}
