@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin hover-btn {
  background-color: $hover-blue;
  border-color: $hover-blue;
  color: #fff;
}

@mixin logo-size-mobile {
  background-size: contain;
  display: flex;
  width: 78px;
  height: 45px;
}

@mixin logo-size-screen {
  background-size: contain;
  display: flex;
  width: 130px;
  height: 78px;
}

@mixin input-field-size {
  width: 100%;
  padding: 11px;
  background: $input-bgc;
  border: 2px solid $input-bgc;
  border-radius: 8px;
  // font-family: ;
}

@mixin button-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 21px 0;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

@mixin underline {
  content: "";
  position: absolute;
  width: inherit;
  top: 20px;
  border-bottom: 1px solid #fff;
}
