$c-gray: #eee;
$main-color: #0075ff;
$text-block-color: #3e3e3e;
$subheader-color: #9fadc2;
$input-bgc: #f7f8ff;
$card-line-height: 27px;
$header-font-size-mobile: 36px;
$header-font-size-screen: 48px;
$hover-blue: #005ecc;
$hover-grey: #ccd0e0;
