.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 56px;

  text-decoration: none;
  background-color: $colorRed;
  color: #fff;

  transition: all 0.3s;

  cursor: pointer;

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background: #eb343d;
  }

  &-primary {
    border: none;
    margin-bottom: 150px;

    @include onDesktop {
      width: 100%;
    }
  }
}
