.conteiner {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 24px;

  @include onDesktop {
    padding: 0 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
}
