.explore {
  &__photo-conteiner {
    display: grid;
    margin-bottom: 28px;
    object-fit: contain;

  }

  &__subtitle {
    margin: 10px 0 10px;
  }

  &__photo {

    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    width: 100%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
