.explores {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.explore {
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }

  }

  &__photo {
    grid-column: 5 / 1;
    width: 100%;

    &:hover {
      transform: scale(105%);
      transition: all 0.3s;
    }
  }

  &__title {
    margin: 0 0 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: $colorRed;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #161616;
    margin-bottom: 48px;

    @include onDesktop {
      margin: 0;
    }
  }
}
