.form-field {
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 280px;
  flex-grow: 1;
  border: 1px solid transparent;
  outline: none;
  background: #f8f8fa;

  &:hover {
    border-color: #d5d7de;
    color: #161616;
  }

  &:focus {
    border-color: black;
  }

  @include onDesktop {
    width: 400px;
    height: fit-content;
    flex-grow: 0;
  }
  &::placeholder {
    font-family: "Cinzel", sans-serif;
    font-size: 14px;
    font-weight: 400;

  }
  &-textarea {
    height: 144px;
    resize: none;
    overflow: hidden;
    border: 1px solid transparent;
    outline: none;
    background: #f8f8fa;

    padding: 14px 16px;
    margin-bottom: 32px;
    transition: border-color 0.3s;

    &::placeholder {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-family: inherit;
    }

    &:hover {
      border-color: #d5d7de;
    }

    &:focus {
      border-color: black;
    }
  }
}
