.form-field {
  box-sizing: border-box;
  display: block;
  height: 48px;
  width: 100% ;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 14px 16px;
  color: #000;
  background-color: #f7f8ff;
  transition: all 0.3s;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #8f99a8;
  }

  &:hover {
    border: 2px solid #ccd0e0;
  }

  &:focus {
    border-color: $blue;
    outline: none;
  }

  &--textarea {
    height: 144px;
    font-family: inherit;
    resize: none;
  }
}