.icon {
  display: block;
  height: 18px;
  width: 18px;

  @include onTablet() {
    height: 24px;
    width: 24px;
  }

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
