.icon {
  display: block;
  width: 18px;
  height: 18px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onDesktop {
    width: 24px;
    height: 24px;
  }

  &--menu {
    transition: transform 0.2s, background-image 0.2s;
    background-image: url(../images/met/menu_opener.svg);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--phone {
    display: flex;
    justify-content: end;
    justify-self: end;
    margin-right: 60px;
    transition: transform 0.2s;
    background-image: url(../images/phone.svg);
  }

  &--cross {
    justify-self: end;
    transition: transform 0.3s;
    background-image: url(../images/cross.svg);
  }
}
