.logo {
  width: 64px;
  height: 46px;

  @include onTablet {
    .header & {
      width: 87px;
      height: 65px;
    }
  }

  @include onDesktop {
    & {
      width: 87px;
      height: 65px;
    }
  }
}
