.menu {
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: $colorRed;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 25px 20px 30px;

    @include onTablet {
      padding: 30px 70px 120px;
    }

    @include onDesktop {
      padding: 50px 120px 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 40px 0 32px;
    padding: 0;
    list-style: none;

    @include onDesktop {
      margin: 55px 0 48px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: $colorWhite;
    @include hover-underline;
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $colorWhite;
    text-transform: uppercase;
  }

  &__call {
    text-decoration: none;
    color: $colorWhite;
    @include hover-underline;
  }

  &__btn {
    width: max-content;
    text-decoration: none;
    color: $colorWhite;
    @include hover-underline;
  }
}
