.page {
  font-family: "Cinzel", serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 100px;
    padding: 0 72px;

    @include onTablet {
      margin-bottom: 140px;
    }
  }

  &__section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.5px;
    color: $titleColorBlack;
    margin-bottom: 48px;

    &--first {
      text-align: left;
      position: relative;

      &::before {
        display: block;
        content: "Plan your visit";

        top: -30px;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0;
        color: $colorRed;
        position: absolute;
      }
    }

    &--second {
      margin-bottom: 8px;
    }
  }
}
