.design {
  background-color: #fcfaef;

  &__wrapper--background {
    @include image (url("../images/pre-footer.png"), 50vh, $_position: right);
    padding-bottom: calc(50vh / 2);
  }
}

.design-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 134px;

  &__describe {
    max-width: 411px;
  }

  &__title {
    max-width: 500px;
  }
}
