.contact__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 120px;
}

.contact__title {
  padding-bottom: 56px;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 100px;

  &__input {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 8px;

    &:hover {
      outline: 2px solid #dbdbdb;
    }

    &:focus {
      outline: 2px solid orange;
    }
  }

  &__textarea {
    box-sizing: border-box;
    border-radius: 8px;
    resize: none;
    background-color: #f9f9f9;
    padding: 16px 14px 100px 16px;
    margin-bottom: 32px;

    &:hover {
      outline: 2px solid #dbdbdb;
    }

    &:focus {
      outline: 2px solid orange;
    }
  }

  &__action {
    @include button ($_color: orange,
    $_height: 100%, $_width: 100%, $_radius: 8px);
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 120px;

    &:hover {
      transition: all 0.5s ease;
      background-color: #1b2129;
    }

    &:active {
      transition: all 0.5s ease;
      background-color: #010810;
    }
  }
}

.contact-data {
  &__phone {
    display: flex;
    flex-direction: column;
  }

  &__email {
    display: flex;
    flex-direction: column;
  }

  &__address {
    display: flex;
    flex-direction: column;
  }

  &__address:last-child {
    max-width: 200px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__value {
    margin-bottom: 24px;
  }
}
