.popular {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  margin: 0 auto;
  padding: 120px 0 70px;

  &__title {
    padding-bottom: 56px;
  }

  &__button {
    @include button ($_color: orange,
    $_height: 100%, $_width: 30%, $_radius: 8px);

    align-self: flex-start;
    padding: 10px 60px;
  }

  &__button:hover {
    transition: all 0.5s ease;
    background-color: #1b2129;
  }

  &__button:active {
    transition: all 0.5s ease;
    background-color: #010810;
  }
}

.popular-item {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  &__title {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  &__image {
    max-width: 498px;
    max-height: 324px;
  }

  &__image:nth-child(1) {
    margin-right: 24px;
  }
}
