@import 'utils';
@import 'fonts';
@import 'typography';
@import './blocks/title';
@import './blocks/header';
@import './blocks/main';
@import './blocks/museum-hours';
@import './blocks/view';

body {
  font-family: Cinzel, serif;
  color: #161616;
  background: $c-gray;
  line-height: 1;
}
