@import 'utils';
@import 'fonts';
@import 'typography';

html {
  scroll-behavior: smooth;
}

:root {
  --anchor-offset: 80px;
}

[id='hours'],
[id='now-on-view'],
[id='explore'],
[id='contacts'],
[id='gallery'] {
  scroll-margin-top: var(--anchor-offset);
}

@media (min-width: 744px) {
  :root {
    --anchor-offset: 120px;
  }
}
@media (min-width: 1260px) {
  :root {
    --anchor-offset: 160px;
  }
}

@import './blocks/header';
@import './blocks/main';
@import './blocks/museum-hours';
@import './blocks/view';
@import './blocks/exhibition';
@import './blocks/explore';
@import './blocks/contact';
@import './blocks/menu';

body {
  font-family: $font-main;
  color: $color-dark;
  background: $c-gray;
  line-height: 1;
  background-color: $color-light;
}
