body,
div,
h1,
h2,
h3,
ul,
li,
a,
button,
input,
textarea {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700; }

body {
  background-color: #f2f2f2; }

h4 {
  font-size: 14px;
  line-height: 27px;
  color: #9fadc2; }

.promo {
  position: relative;
  margin-bottom: 104px;
  padding-bottom: 48px;
  width: 100%;
  max-height: 700px;
  min-height: 320px;
  background-image: url(../images/header.jpg);
  background-size: cover; }
  .promo__wrap {
    margin: 0 auto;
    padding: 24px 120px;
    max-width: 1260px; }
    @media (max-width: 768px) {
      .promo__wrap {
        padding-left: 10px;
        padding-right: 0; } }
  .promo__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1260px;
    margin: 0 auto 314px; }
  .promo__logo {
    z-index: 2; }
  .promo__call {
    width: 18px;
    height: 18px;
    background: url(../images/call.svg);
    text-decoration: none;
    opacity: 0;
    display: none; }
    @media (max-width: 950px) {
      .promo__call {
        display: block;
        opacity: 100; } }
  .promo__action {
    padding-bottom: 8px;
    border-bottom: 1px solid #fff; }
  .promo__link {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fff;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .promo__link:hover,
    .promo__link :visited,
    .promo__link :active {
      opacity: 0.8; }
    @media (max-width: 950px) {
      .promo__link {
        display: none; } }
  .promo__info {
    margin-bottom: 85px;
    color: #fff; }
    @media (max-width: 768px) {
      .promo__info {
        margin-left: 10px;
        margin-bottom: 0; } }
  .promo__title {
    margin: 0 auto;
    max-width: 1260px;
    font-size: 60px; }
    @media (max-width: 450px) {
      .promo__title {
        font-size: 30px; } }

.nav {
  max-width: 1260px;
  text-transform: uppercase; }
  @media (max-width: 950px) {
    .nav {
      display: none; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__item {
    padding: 8px 24px;
    border-radius: 8px;
    list-style: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .nav__item-active {
      background-color: rgba(255, 255, 255, 0.2); }
    .nav__item:hover,
    .nav__item :active {
      opacity: 0.8; }
    @media (max-width: 950px) {
      .nav__item {
        margin-bottom: 70px; } }
  .nav__link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px; }

.section {
  margin: 0 auto 152px;
  padding: 0 120px;
  max-width: 1260px; }
  @media (max-width: 768px) {
    .section {
      margin: 0 auto 70px;
      padding: 0 10px; } }
  .section__title {
    display: block;
    margin-bottom: 93px;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: #000; }
    .section__title::before {
      content: "";
      width: 23px;
      height: 16px;
      position: relative;
      top: 70px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: block;
      background: url(../images/crown.svg) center no-repeat; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 950px) {
    .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .info__title {
    color: black;
    font-size: 48px;
    letter-spacing: -1.5px; }
    @media (max-width: 950px) {
      .info__title {
        width: 100%;
        margin-bottom: 10px; } }
    .info__title-active {
      color: #0075ff;
      font-size: inherit;
      text-decoration: none;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .info__title-active:hover {
        opacity: 0.5; }
  .info__description {
    max-width: 357px; }
    @media (max-width: 950px) {
      .info__description {
        max-width: 100%; } }
    .info__description > :first-child {
      color: #0075ff;
      font-size: 24px;
      line-height: 30px; }
  .info__paragraph {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 27px;
    color: #3e3e3e; }
  .info__strong-text {
    font-size: 16px; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .gallery__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-bottom: 24px; }
    .gallery__photos-right {
      grid-template-columns: 1fr 2fr;
      -webkit-column-gap: 20px;
         -moz-column-gap: 20px;
              column-gap: 20px; }
      @media (max-width: 950px) {
        .gallery__photos-right {
          grid-template-columns: 1fr 1fr; } }
    .gallery__photos-left {
      grid-template-columns: 2fr 1fr; }
      @media (max-width: 950px) {
        .gallery__photos-left {
          grid-template-columns: 1fr 1fr; } }
  .gallery__img {
    width: 100%;
    height: 256px;
    border-radius: 8px; }
    .gallery__img:hover {
      -webkit-box-shadow: 0 0 22px rgba(0, 83, 181, 0.5);
              box-shadow: 0 0 22px rgba(0, 83, 181, 0.5); }
    @media (max-width: 425px) {
      .gallery__img {
        height: 150px; } }
  .gallery__location {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300; }
  .gallery__link {
    color: #0075ff;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    -webkit-transform: 0.3s;
            transform: 0.3s; }
    .gallery__link:hover,
    .gallery__link :active,
    .gallery__link :visited {
      opacity: 0.8; }

.buttom__img {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 16px;
  height: 56px;
  width: 188px;
  border: 2px solid #0075ff;
  color: #0075ff;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .buttom__img:hover {
    background-color: #0075ff;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 2px rgba(0, 117, 255, 0.8);
            box-shadow: 2px rgba(0, 117, 255, 0.8); }

.consultation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 540px) {
    .consultation__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.consultation__description {
  max-width: 412px; }
  @media (max-width: 1024px) {
    .consultation__description {
      width: 100%;
      margin-right: 10px; } }

.consultation__description > :first-child {
  color: #0075ff;
  font-size: 24px;
  line-height: 30px; }

.consultation__paragraph {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 27px;
  color: #3e3e3e; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 412px; }
  @media (max-width: 540px) {
    .form {
      max-width: 350px; } }
  @media (max-width: 320px) {
    .form {
      max-width: 300px; } }
  .form__input {
    margin-bottom: 16px;
    padding: 17px;
    background-color: #f7f8ff;
    border: none;
    border-radius: 8px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .form__input::-webkit-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal; }
    .form__input::-moz-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal; }
    .form__input:-ms-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal; }
    .form__input::-ms-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal; }
    .form__input::placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal; }
    .form__input:hover {
      -webkit-box-shadow: 1px 2px 5px rgba(61, 78, 97, 0.2);
              box-shadow: 1px 2px 5px rgba(61, 78, 97, 0.2); }
    .form__input:focus {
      border-radius: 8px;
      border: 1px solid #0075ff;
      -webkit-transition: 0s;
      transition: 0s; }
  .form__button {
    padding: 21px 0;
    margin-top: 16px;
    border-radius: 8px;
    color: #fff;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    cursor: pointer;
    font-size: 16px;
    line-height: 14px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .form__button:hover {
      opacity: 0.8; }

.testimonials__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 540px) {
    .testimonials__description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.testimonials__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 240px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.testimonials__photo {
  max-width: 153px;
  margin-bottom: 28px; }

.testimonials__link {
  color: #0075ff;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px; }

.testimonials__paragraph {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 27px;
  color: #3e3e3e; }

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 540px) {
    .contact__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 950px) {
    .contact__info {
      margin-bottom: 10px; } }

.contact__link {
  text-decoration: none;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .contact__link:hover {
    color: #0075ff; }

.contact__about {
  width: 100%; }

.footer {
  background-image: url(../images/footer.png);
  width: 100%;
  height: 359px;
  background-size: cover; }
  .footer__picture {
    display: block;
    padding-top: 243px;
    margin: 0 auto; }

.mobile__nav {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: #0075ff;
  -webkit-transition: 1s;
  transition: 1s; }

.mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px; }

.mobile__item {
  padding: 8px 24px;
  margin-bottom: 30px;
  list-style: none; }
  .mobile__item:last-child {
    margin-top: 50px; }
    @media (max-width: 768px) {
      .mobile__item:last-child {
        margin-top: 0; } }

.mobile__link {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 22px;
  line-height: 22px; }

.mobile__action {
  position: absolute;
  left: 24px;
  bottom: 50px; }
  .mobile__action__link-phone {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.33rem; }

.mobile__toggler {
  display: none; }

.mobile__toggler:checked ~ .mobile__nav {
  left: 0%; }

.mobile__toggler-label {
  display: none;
  position: absolute;
  right: 120px;
  top: 43px;
  z-index: 3; }
  .mobile__toggler-label::after {
    content: "\2630";
    height: 12px;
    width: 18px;
    color: #fff;
    font-size: 24px; }
  @media (max-width: 950px) {
    .mobile__toggler-label {
      display: block; } }
  @media (max-width: 768px) {
    .mobile__toggler-label {
      right: 10px; } }

.mobile__toggler:checked + .mobile__toggler-label::after {
  content: "\2716"; }

html {
  scroll-behavior: smooth; }

.main {
  margin: 0 auto;
  max-width: 1260px;
  background-color: #f2f2f2; }

/*# sourceMappingURL=main.css.map */
