@media (max-width: 1020px) {
  .container {
    margin: 0 50px 100px; }
  .photo__item--block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; }
  .photo__item {
    max-width: 450px;
    min-width: 200px;
    width: 100%; } }

@media (max-width: 890px) {
  .header .nav__item {
    padding: 8px 15px; }
  .about-us,
  .consultation {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; } }

@media (max-width: 770px) {
  .header .nav__item {
    padding: 8px 5px; }
  .scroll__menu {
    display: block; } }

@media (max-width: 560px) {
  .container {
    margin: 0 20px 65px; }
  .header__nav-list {
    display: none; }
  .header__head {
    padding-bottom: 330px; }
    .header__head--phone {
      display: inline-block; }
    .header__head--number {
      display: none; }
    .header__head .call-to-order {
      display: none; }
    .header__head .--menu {
      display: block; }
  .header__title {
    padding-left: 20px; }
  .header__title h1 {
    padding-bottom: 35px;
    font-size: 46px;
    max-width: 250px;
    margin-bottom: 45px; }
  .header .container {
    margin: 0; }
  .form__item,
  .btn__white,
  .btn__blue {
    width: 280px; }
  .btn__blue {
    margin-top: 17px; }
  .about-us__title {
    font-size: 36px;
    margin-bottom: 50px; }
  .about-us__text {
    margin: 0; }
  .about-us__topic {
    margin-bottom: 16px; }
  .about-us,
  .consultation,
  .persons {
    display: block; }
  .photo {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .photo__item {
      min-width: auto; }
      .photo__item--block img {
        width: 130px;
        height: 130px; }
    .photo__names {
      width: auto; }
  .logo {
    margin: 0 auto; }
  .logo img {
    width: 75px;
    height: 50px; }
  .topic-section {
    margin-bottom: 55px; }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
  .persons {
    display: block; }
    .persons__item {
      display: block;
      margin: 0 auto 50px; }
      .persons__item--description, .persons__item--name, .persons__item--prof {
        text-align: center; }
      .persons__item--photo {
        display: block;
        margin: 0 auto; }
  .footer__img {
    max-height: 200px; }
    .footer__img--logo {
      padding-bottom: 24px; }
  .consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .consultation__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .consultation__text--contacts {
        display: block; }
  .menu__span {
    display: block; } }

/*# sourceMappingURL=media.css.map */
