.about {
  @include for-tablets () {
    display: flex;
    gap: 24px;

    &__title {
      padding-top: 30px;
      flex-basis: 45%;
    }
  }

  @include for-desktops () {
    display: flex;
    gap: 24px;

    &__title {
      padding-top: 56px;
      flex-basis: 45%;
    }

    &__article {
      flex-basis: 45%;
      margin-top: 56px;
    }
  }

  &__image {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

    @include for-mobile () {
      margin-top: 100px;
      margin-bottom: 48px;
      height: 200px;
      background-image: url("/images/photos/sm/bag-img@sm.png");
    }

    @include for-tablets () {
      margin-top: 120px;
      margin-bottom: 56px;
      height: 400px;
      background-image: url("/images/photos/md/bag-img@md.png");
      background-attachment: fixed;
      background-position: 50% 0;
    }

    @include for-desktops () {
      height: 460px;
      background-image: url("/images/photos/lg/bag-img@lg.png");
      background-attachment: fixed;
      background-position: 50% 0;
    }
  }

  &__article {
    @include for-desktops () {
      flex-basis: 45%;
      margin-left: 80px;
    }

    @include for-tablets () {
      flex-basis: 45%;
    }
  }

  &__article_text {
    @include for-mobile () {
      padding: 20px 0;
    }

    @include for-tablets () {
      padding: 30px 0;
      font-size: 16px;
    }

    @include for-desktops () {
      padding: 30px 0;
      font-size: 16px;
    }
  }
}
