.about {
  &__image {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;

    @include for-mobile () {
      margin-top: 100px;
      margin-bottom: 48px;
      height: 200px;
      background-image: url("/images/photos/sm/bag-img@sm.png");
    }
  }

  &__article_text {
    @include for-mobile () {
      padding: 20px 0;
    }
  }
}
