.hero {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* ==================================
  *             MOBILE
  ===================================*/
  @include for-mobile () {
    background-image: url("/images/photos/sm/header-bg@sm.png");
    height: 568px;
  }

  /* ==================================
  *             TABLET
  ===================================*/

  @include for-tablets () {
    background-image: url("/images/photos/md/hero-img@md.png");
    height: 993px;
  }

  /* ==================================
  *             DESKTOP
  ===================================*/

  @include for-desktops () {
    background-image: url("/images/photos/lg/hero-img@lg.png");
    height: 720px;
  }
}
