.gallery {
  padding-top: $indentationBetweenPages;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    padding-top: $indentationBetweenPages768px;
  }

  &__row {
    display: flex;
    margin-top: 40px;

    &--1 {
      margin-top: 61px;

      @media (max-width: 768px) {
        margin-top: $contentMarginTopMedia768;
      }
    }
  }

  &__item {
    margin-right: 20px;
    flex-grow: 1;
    width: 327px;
    height: 256px;
    overflow: hidden;
    border-radius: 8px;

    &--medium {
      width: 500px;
      height: 256px;
    }

    &--big {
      max-width: 673px;
      width: 673px;
    }

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1300px) {
      width: 327px;
    }

    @media (max-width: 1024px) {
      width: 327px;
    }

    @media (max-width: 800px) {
      height: 131px;
      width: 131px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
    margin-top: 24px;
    color: $textColor;

    &--highlighted {
      font-weight: bold;
      color: $highlightedColor;
    }

    @media (max-width: 768px) {
      margin-top: 16px;
    }
  }

  &__button {
    width: 188px;
    margin: 40px auto 0;

    @media (max-width: 1024px) {
      width: $columnContentSize;
    }

    @media (max-width: 450px) {
      width: 100%;
    }
  }
}
