.button {
  font-family: inherit;
  display: block;
  height: $button-height;
  width: 100%;
  grid-column: 1 / -1;

  @include tablet {
    grid-column: 2 / -2;
  }

  @include desktop {
    grid-column: 5 / -5;
  }

  background-color: $text-color--red;
  font-size: 16px;
  line-height: $button-height;
  text-align: center;
  color: $text-color--white;

  &:hover {
    background-color: rgb(174, 28, 35);
  }

  &:active {
    background-color: rgb(235, 52, 61);
  }
}
