.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding-top: 25px;

  @include tablet {
    padding-top: 50px;
  }

  &__logo {
    display: block;
    width: 64px;
    height: 46px;

    @include tablet {
      width: 87px;
      height: 65px;
    }

    background-image: url("../images/logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__icon-menu {
    display: flex;
  }
}
