* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
h4,
p {
  color: $color-main-light;
  margin: 0;

  &::selection {
    background-color: $color-accent-grey;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
