* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
	border: none;
}

input {
	cursor: pointer;
}

textarea {
	cursor: pointer;
}

button,
input,
textarea {
  display: block;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
