*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
main,
section,
article,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
p,
form,
fieldset,
input,
textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
