html {
  font-family: "Cinzel", serif;
}

.heading {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

  &__primary {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $color-txt-white;

    &--block {
      display: block;
    }
  }

  &__secondary {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: rgba(22, 22, 22, 1);
  }

  &__tertiary {
    font-size: 24px;
    line-height: 30px;
    color: rgba(22, 22, 22, 1);
    
    &--important {
      line-height: 34px;
      color: hsla(357, 65%, 50%, 1);
    }
  }
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(22, 22, 22, 1);
  text-transform: uppercase;

  &--small {
    font-size: 12px;
    line-height: 17px;
    color: rgba(209, 45, 53, 1);
  }

  &--medium {
    font-size: 14px;
    line-height: 27px;
  }

  &--line-height {
    line-height: 22px;
  }

  &--white {
    color: rgb(255, 255, 255);
  }

  &--bold {
    font-weight: 700;
  }

  &--red {
    color: hsla(357, 65%, 50%, 1);
  }

  &--roboto {
    font-family: "Roboto", sans-serif;
    text-transform: unset;
  }
}

@media screen and (min-width: 744px) {
  .heading {
    &__primary {
      font-size: 64px;
      line-height: 64px;
    }

    &__secondary {
      font-size: 48px;
      line-height: 48px;
    }
  }
}

@media screen and (min-width: 1260px) {
  .heading {
    &__primary {
      font-size: 64px;
      line-height: 64px;
    }

    &_secondary {
      font-size: 48px;
      line-height: 48px;
    }
  }
}
