:root {
  font-family: "Pppns", sans-serif;
  font-size: 100%;
}

h1 {
  font-size: calc(36px + 44 * ((100vw - 320px) / 680));
  letter-spacing: -1.5px;

  @include large-breakpoint {
    font-size: rem(80);
  }
}
