:root {
  font-family: "Pppns", sans-serif;
  font-size: 100%;
}

.heading {
  letter-spacing: -1.5px;

  &--centered {
    text-align: center;
  }

  &--main {
    @extend %fw700;
    font-size: calc(36px + 44 * ((100vw - 320px) / 680));

    @include large-bp {
      font-size: rem(80);
    }
  }

  &--second {
    line-height: 100%;
    @extend %fw500;
    font-size: calc(32px + 16 * ((100vw - 320px) / 680));

    @include large-bp {
      font-size: rem(64);
    }
  }

  &--third {
    @extend %fw700;
    font-size: rem(24);
    letter-spacing: 0;
  }
}
