*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16 (default size) which is equal to 10 (for usage with rem) */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cinzel", serif;
  width: 100%;
  margin: 0 auto;
}
