*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16 (default size) which is equal to 10 (for usage with rem) */
  font-size: 62.5%;
}

body {
  font-family: "Cinzel", serif;
  max-width: 126rem;
  margin: 0 auto;
  border: 1px solid lightgray;
}
